Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

move fixtures in a centralized location
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
  services/datcore-adapter/tests/unit/test_route_files.py
Owners: none

fixing unit tests with REST API
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

rename blackfynn to pennsieve
  services/storage/src/simcore_service_storage/settings.py
  services/web/client/source/class/osparc/desktop/preferences/pages/TokensPage.js
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/models.py
  services/web/server/tests/unit/with_dbs/07/test_users.py
Owners: @mguidon,, @pcrespov, @odeimaiz,, @ignapas

fix debug log env
  services/docker-compose.devel.yml
Owners: none

get a modern paged data endpoint
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

add launch settings for datcore
  .vscode/launch.template.json
Owners: none

linter
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/tests/conftest.py
  services/storage/tests/utils.py
Owners: @mguidon,, @pcrespov

added deletion of object
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/files.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/test_route_files.py
Owners: none

use pytest mark
  services/datcore-adapter/tests/unit/test_route_datasets.py
  services/datcore-adapter/tests/unit/test_route_files.py
  services/datcore-adapter/tests/unit/test_route_user.py
Owners: none

fixed handling of error
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
Owners: @mguidon,, @pcrespov

only get the size of the files if they exists
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/schemas/datasets.py
Owners: none

refactoring
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

@GitHK review: use a 1s timeout as it is used in the healthcheck
  services/api-server/src/simcore_service_api_server/utils/client_base.py
Owners: @pcrespov

@GitHK review: use List instead of Sequence
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

@GitHK review: missing type
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

revert to original page number
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

@GitHK review: remove function call to only one function
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

@GitHK review: removed outdated comment
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

remove pylance warning
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

@GitHK review: style
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

removed outdated comment
  services/storage/requirements/_base.in
Owners: @mguidon,, @pcrespov

use settings-library
  services/datcore-adapter/requirements/_base.in
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
  services/datcore-adapter/requirements/ci.txt
  services/datcore-adapter/requirements/dev.txt
  services/datcore-adapter/requirements/prod.txt
  services/datcore-adapter/setup.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
Owners: none

@pcrespov review: style
  services/datcore-adapter/tests/unit/conftest.py
Owners: none

linter
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/requests_decorators.py
Owners: none

fix ENV variable name
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
Owners: none

clear cache of lru_cache when testing
  services/datcore-adapter/tests/unit/conftest.py
Owners: none

@pcrespov review: removed unused namedtuple
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

@pcrespov replace pennsieve by blackfynn
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
Owners: @pcrespov

added missing env vars
  services/docker-compose.devel.yml
  services/docker-compose.yml
Owners: none

parllelize calls to files
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

@pcrespov review: use cached_property
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_settings.py
Owners: @mguidon,, @pcrespov

@pcrespov review: remove unnecessary Config
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_settings.py
Owners: @mguidon,, @pcrespov

@pcrespov review: change naming of settings
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_settings.py
Owners: @mguidon,, @pcrespov

refactoring
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
Owners: @mguidon,, @pcrespov

@pcrespov review: style
  services/datcore-adapter/tests/unit/test_route_health.py
Owners: none

removed outdated comment
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

use py 3.8 way of starting tasks
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/requests_decorators.py
Owners: none

@pcrespov review: use standard env naming
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

@githk review: add ENV for healtch check timeout
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/client_base.py
Owners: none

@githk review: added general timeout ENV
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/client_base.py
Owners: none

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov
