Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @mguidon, @oetiker,, @ignapas

Fixes path
  packages/service-library/src/servicelib/openapi_aiohttp_request.py
Owners: @pcrespov

Enforces servicelib reqs to webserver
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
Owners: @pcrespov

Replacing old wrappers
  packages/service-library/src/servicelib/openapi_validation.py
  packages/service-library/src/servicelib/openapi_wrappers.py
  packages/service-library/src/servicelib/rest_validators.py
Owners: @pcrespov

Fixes response adapter
  packages/service-library/src/servicelib/openapi_aiohttp_reponse.py
  packages/service-library/src/servicelib/openapi_validation.py
  packages/service-library/src/servicelib/rest_middlewares.py
  packages/service-library/src/servicelib/rest_validators.py
Owners: @pcrespov

Creating new adapters for aiohttp
  packages/service-library/src/servicelib/openapi_aiohttp_reponse.py
  packages/service-library/src/servicelib/openapi_aiohttp_request.py
Owners: @pcrespov

Fixes linter
  packages/service-library/src/servicelib/openapi_aiohttp_reponse.py
  packages/service-library/src/servicelib/openapi_aiohttp_request.py
Owners: @pcrespov

Updated storage tests
  services/storage/requirements/_test.txt
Owners: @mguidon

Fixed typo in name
  packages/service-library/src/servicelib/openapi_aiohttp_response.py
  packages/service-library/src/servicelib/openapi_validation.py
  packages/service-library/src/servicelib/rest_validators.py
Owners: @pcrespov

renaming tutils to fake_handlers
  packages/service-library/tests/fake_handlers.py
  packages/service-library/tests/test_openapi_validation.py
  packages/service-library/tests/test_rest_middlewares.py
  packages/service-library/tests/test_rest_routing.py
Owners: @pcrespov

print output in e2e testing
  tests/e2e/utils/responsesQueue.js
Owners: none

check also services/dags
  tests/e2e/tutorials/tutorialBase.js
Owners: none

print responses
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/responsesQueue.js
Owners: none

check if error is not null in response
  tests/e2e/utils/responsesQueue.js
Owners: none

[enhancement] Check task exists in db and requirements upgrade (#1361)
  .travis.yml
  api/tests/Makefile
  api/tests/requirements.txt
  packages/postgres-database/Makefile
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/src/simcore_postgres_database/cli.py
  packages/postgres-database/tests/test_delete_projects_and_users.py
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.txt
  services/catalog/requirements/_test.txt
  services/director/requirements/_test.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_test.txt
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/computation_api.py
  tests/e2e/requirements/Makefile
  tests/e2e/requirements/requirements.txt
  tests/swarm-deploy/Makefile
  tests/swarm-deploy/requirements.txt
  tests/system-load/Makefile
  tests/system-load/ManualTests.md
  tests/system-load/data/projects.csv
  tests/system-load/data/users.csv
  tests/system-load/locust_files/basic.py
  tests/system-load/locust_files/published.py
  tests/system-load/requirements.txt
Owners: @sanderegg, @sanderegg,, @pcrespov, @pcrespov,, @mguidon

minor
  tests/e2e/utils/responsesQueue.js
Owners: none

Cleanup
  packages/service-library/src/servicelib/openapi_aiohttp_request.py
Owners: @pcrespov

minor
  tests/e2e/utils/responsesQueue.js
Owners: none

better verbose
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/responsesQueue.js
Owners: none

[BUGFIX] Hints + (Tags + Creation info) (#1358)
  services/web/client/source/class/osparc/desktop/StudyBrowserListItem.js
  services/web/client/source/class/osparc/ui/hint/Hint.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  tests/e2e/tutorials/tutorialBase.js
Owners: none

fix e2e
  tests/e2e/tutorials/tutorialBase.js
Owners: none

Studies of one node open directly in fullscreen view instead displaying the pipeline (#1316)
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/preferences/Preferences.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ExperimentalPage.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Adapts to client and server responses
  packages/service-library/src/servicelib/openapi_aiohttp_request.py
  packages/service-library/src/servicelib/openapi_aiohttp_response.py
  packages/service-library/src/servicelib/utils.py
Owners: @pcrespov

Undo
  packages/service-library/tests/test_openapi_validation.py
Owners: @pcrespov

WIP
  packages/service-library/tests/test_openapi_aiohttp_adapters.py
Owners: @pcrespov

fix e2e
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/responsesQueue.js
Owners: none

more logs
  ci/github/system-testing/e2e.bash
  services/docker-compose.yml
Owners: @sanderegg,, @pcrespov

LogLevel = Debug
  ci/github/system-testing/e2e.bash
Owners: @sanderegg,, @pcrespov

Adds e2e outputs to ignore list
  tests/e2e/.gitignore
Owners: none

Fixes typo in LOG_LEVEL environ
  ci/github/system-testing/e2e.bash
  services/docker-compose.yml
Owners: @sanderegg,, @pcrespov

Adds stack config to artifacts
  ci/github/system-testing/e2e.bash
Owners: @sanderegg,, @pcrespov

minor
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @oetiker,, @ignapas

show request method
  tests/e2e/utils/responsesQueue.js
Owners: none

Testing init tables from catalog service
  services/docker-compose.yml
  tests/e2e/setup_env_insecure_registry
Owners: none

cleanup
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Fixes test in storage
  services/storage/tests/test_configs.py
Owners: @mguidon

Undoes tmp fix in catalog environs
  services/catalog/src/simcore_service_catalog/db.py
  services/docker-compose.yml
Owners: @pcrespov

Remove tables initiazliation
  tests/e2e/scripts/setup_env_insecure_registry.bash
Owners: none

Adds missing requirements in pg db
  packages/postgres-database/requirements/prod.txt
Owners: none

Adds migration step in test/e2e workflow
  ci/github/system-testing/e2e.bash
  ci/travis/system-testing/e2e.bash
  tests/e2e/Makefile
Owners: @sanderegg,, @pcrespov, @pcrespov,, @sanderegg

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
Makefile                                  @pcrespov, @sanderegg
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/catalog                         @pcrespov
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov
tools/*                                   @pcrespov
