Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov

fixed failing test
  packages/models-library/tests/test_service_settings_labels.py
Owners: @sanderegg,, @pcrespov

removed autouse in tests
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/test_dynamic_sidecar_monitor.py
Owners: @sanderegg,, @pcrespov

fixing failing tests in CI
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_modules_director_v0.py
Owners: @sanderegg,, @pcrespov

parameters moved from sweeper to study
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/snapshots/Snapshots.js
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/component/sweeper/Parameters.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/StudyParametrizer.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/Sweeper.js
  services/web/client/source/class/osparc/data/model/Workbench.js
Owners: @odeimaiz,, @ignapas

renaming
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @ignapas

initial linking working
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/workbench/ParameterUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

BaseNodeUI refactoring
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/ParameterUI.js
Owners: @odeimaiz,, @ignapas

NodeUI extends BaseNodeUI
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/ParameterUI.js
Owners: @odeimaiz,, @ignapas

minor fixes
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/sweeper/Sweeper.js
Owners: @odeimaiz,, @ignapas

d&d
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/ParameterUI.js
Owners: @odeimaiz,, @ignapas

create_parametrization_const_x
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
Owners: @pcrespov,, @sanderegg

Parameters in frontend
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/component/form/tag/TagManager.js
  services/web/client/source/class/osparc/component/metadata/ClassifiersEditor.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/web/client/source/class/osparc/component/permissions/Study.js
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/EdgeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/StudyParametrizer.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/client/source/class/osparc/viewer/NodeViewer.js
  tests/e2e/tests/tags.test.js
  tests/e2e/tutorials/tutorialBase.js
Owners: @odeimaiz,, @ignapas

ParameterUI in WorkbenchUI
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @ignapas

Bugfix/clean storage meta data table (#2415)
  api/specs/storage/openapi.yaml
  api/specs/webserver/components/schemas/locations.yaml
  api/specs/webserver/openapi-storage.yaml
  api/specs/webserver/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_dsm.py
  services/storage/tests/utils.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/src/simcore_service_webserver/storage_handlers.py
  services/web/server/src/simcore_service_webserver/storage_routes.py
  services/web/server/tests/unit/with_dbs/04/test_storage.py
Owners: @sanderegg,, @pcrespov, @mguidon,

text-24
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/theme/Font.js
Owners: @odeimaiz,, @ignapas

Iteration -> Snapshot
  services/web/client/source/class/osparc/component/snapshots/Snapshots.js
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/component/sweeper/Sweeper.js
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/data/StudyParametrizer.js
  services/web/client/source/class/osparc/data/model/Sweeper.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

updates reqs
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
Owners: @mguidon,, @pcrespov

smal fixes
  services/storage/tests/conftest.py
  services/storage/tests/utils.py
Owners: @mguidon,, @pcrespov

storage: move all helpers to pytest-simcore
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_projects.py
  services/storage/tests/helpers/__init__.py
  services/storage/tests/helpers/utils_assert.py
  services/storage/tests/helpers/utils_project.py
  services/storage/tests/unit/test_rest.py
Owners: @pcrespov,, @sanderegg, @mguidon,, @pcrespov

adds minio in tests reqs for swarm-deploy
  tests/swarm-deploy/requirements/_test.txt
Owners: none

moved tests folder and cleaned-up fixtures
  packages/models-library/tests/test_package.py
  packages/pytest-simcore/src/pytest_simcore/repository_paths.py
  scripts/common-service.Makefile
  services/storage/Makefile
  services/storage/src/simcore_service_storage/utils_handlers.py
  services/storage/tests/conftest.py
  services/storage/tests/integration/.gitkeep
  services/storage/tests/unit/test_cli.py
  services/storage/tests/unit/test_datcore.py
  services/storage/tests/unit/test_python_client_sdk.py
  services/storage/tests/unit/test_rawdatcore.py
  services/storage/tests/unit/test_rest.py
  services/storage/tests/unit/test_settings.py
  services/storage/tests/utils.py
Owners: @sanderegg,, @pcrespov, @pcrespov,, @sanderegg, @mguidon,

WIP [skip ci]
  api/specs/storage/openapi_generator.py
  services/storage/src/simcore_service_storage/files_handlers.py
  services/storage/src/simcore_service_storage/files_models.py
  services/storage/src/simcore_service_storage/utils_handlers.py
Owners: @sanderegg,, @pcrespov, @mguidon,

moved s3wrapper inside storage
  services/storage/tests/unit/test_minio.py
  services/storage/tests/unit/test_s3_client.py
Owners: @mguidon,, @pcrespov

Fixing bad merge. New storage has an extra level Moving tests/s3wrapper -> tests/unit/s3wrapper
  services/storage/tests/unit/s3wrapper/test_minio.py
  services/storage/tests/unit/s3wrapper/test_s3_client.py
  services/storage/tests/unit/test_minio.py
  services/storage/tests/unit/test_s3_client.py
Owners: @mguidon,, @pcrespov

minor
  ci/github/unit-testing/storage.bash
Owners: @sanderegg,, @pcrespov

upgrades reqs to latest
  scripts/common-service.Makefile
  scripts/common.Makefile
  services/storage/requirements/_base.txt
Owners: @mguidon,, @pcrespov

removes s3wrapper dependency from swarm-deploy
  tests/swarm-deploy/requirements/_test.txt
Owners: none

Fixes reqs in storage
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
Owners: @mguidon,, @pcrespov

Structure refactoring
  services/storage/tests/conftest.py
  services/storage/tests/unit/test__code_syntax.py
  services/storage/tests/unit/test_access_layer.py
  services/storage/tests/unit/test_cli.py
  services/storage/tests/unit/test_python_client_sdk.py
  services/storage/tests/unit/test_rawdatcore.py
  services/storage/tests/unit/test_rest.py
  services/storage/tests/unit/test_utils.py
  services/storage/tests/utils.py
Owners: @mguidon,, @pcrespov

bucket_name as fixture
  services/storage/tests/conftest.py
  services/storage/tests/fixtures/data_models.py
  services/storage/tests/unit/test_datcore.py
  services/storage/tests/unit/test_dsm.py
  services/storage/tests/unit/test_rest.py
  services/storage/tests/utils.py
Owners: @mguidon,, @pcrespov

minor
  services/storage/tests/utils.py
Owners: @mguidon,, @pcrespov

Create tmp-file fixture
  services/storage/tests/conftest.py
Owners: @mguidon,, @pcrespov

Removed duplicate from merge
  services/storage/src/simcore_service_storage/dsm.py
Owners: @mguidon,, @pcrespov

WIP
  services/storage/tests/unit/test_dev.py
Owners: @mguidon,, @pcrespov

fixes scope fixtures
  services/storage/tests/conftest.py
  services/storage/tests/docker-compose.yml
Owners: @mguidon,, @pcrespov

Refactor creation of file-metadata
  services/storage/tests/unit/test_dsm.py
Owners: @mguidon,, @pcrespov

Refactoring deep_copy_project_simcore_s3 and aiobotcore session
  services/storage/src/simcore_service_storage/dsm.py
Owners: @mguidon,, @pcrespov

utils_projects.py split in two to avoid webserver dependencies
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_projects.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_projects_extra.py
Owners: @pcrespov,, @sanderegg

missing save
  services/storage/tests/conftest.py
Owners: @mguidon,, @pcrespov
