Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @mguidon, @oetiker,, @ignapas

Tell dependabot and pyenv what python version to use
  .python-version
Owners: none

Doc reqs target
  api/tests/Makefile
  tests/e2e/requirements/Makefile
  tests/swarm-deploy/Makefile
Owners: @sanderegg,, @pcrespov, @pcrespov,, @sanderegg

Adds common requirements Makefile
  scripts/requirements.Makefile
Owners: none

Downgrade pytest to 5.3.5 to fix issue with pytest_sugar
  api/tests/requirements.in
  api/tests/requirements.txt
  packages/postgres-database/requirements/_test.in
  packages/postgres-database/requirements/_test.txt
  packages/s3wrapper/requirements/_test.in
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.in
  packages/simcore-sdk/requirements/_test.txt
  services/catalog/requirements/_test.in
  services/catalog/requirements/_test.txt
  services/director/requirements/_test.in
  services/director/requirements/_test.txt
  services/sidecar/requirements/_test.in
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  tests/swarm-deploy/requirements.in
Owners: @sanderegg,, @pcrespov, @pcrespov,, @mguidon

Upgrades all tests reqs
  services/catalog/requirements/_test.txt
  services/director/requirements/_test.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_test.txt
Owners: @pcrespov, @pcrespov,, @mguidon

Upgrading testing
  packages/s3wrapper/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.txt
Owners: none

Adapts postgres requirements Makefile
  packages/postgres-database/requirements/Makefile
Owners: @pcrespov,, @sanderegg

Changing e2e logging to reduce log step Recovering log artifacts is timing out at 5h the last two commits
  ci/github/system-testing/e2e.bash
  ci/travis/system-testing/e2e.bash
Owners: @sanderegg,, @pcrespov

Adapts makefile of all packages
  packages/s3wrapper/requirements/Makefile
  packages/service-library/requirements/Makefile
  packages/simcore-sdk/requirements/Makefile
Owners: @pcrespov,, @sanderegg, @pcrespov

Added some doc
  docs/python-dependencies.md
  scripts/requirements.Makefile
Owners: @pcrespov

Updates testing requirements
  packages/postgres-database/requirements/_test.txt
  packages/service-library/requirements/_test.txt
Owners: @pcrespov

Fixed docker cmds
  ci/github/system-testing/e2e.bash
Owners: @sanderegg,, @pcrespov

Temporarily removed .python-version until issue #1388 is resolved
  .python-version
Owners: none

Changes in e2e.bash: redirecting stderr to logfile
  ci/github/system-testing/e2e.bash
Owners: @sanderegg,, @pcrespov

[maintenance] test requirements (#1386)
  api/tests/Makefile
  api/tests/requirements.in
  api/tests/requirements.txt
  ci/github/system-testing/e2e.bash
  ci/travis/system-testing/e2e.bash
  docs/python-dependencies.md
  packages/postgres-database/Makefile
  packages/postgres-database/requirements/Makefile
  packages/postgres-database/requirements/_test.in
  packages/postgres-database/requirements/_test.txt
  packages/s3wrapper/requirements/Makefile
  packages/s3wrapper/requirements/_test.in
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/Makefile
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/Makefile
  packages/simcore-sdk/requirements/_test.in
  packages/simcore-sdk/requirements/_test.txt
  scripts/requirements.Makefile
  services/catalog/Makefile
  services/catalog/requirements/Makefile
  services/catalog/requirements/_test.in
  services/catalog/requirements/_test.txt
  services/director/requirements/Makefile
  services/director/requirements/_test.in
  services/director/requirements/_test.txt
  services/sidecar/requirements/Makefile
  services/sidecar/requirements/_test.in
  services/sidecar/requirements/_test.txt
  services/storage/requirements/Makefile
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/web/server/Makefile
  services/web/server/requirements/Makefile
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  tests/e2e/requirements/Makefile
  tests/swarm-deploy/Makefile
  tests/swarm-deploy/requirements.in
Owners: @sanderegg,, @pcrespov, @pcrespov,, @sanderegg, @mguidon

moving files
  services/web/client/source/class/osparc/dashboard/Dashboard.js
  services/web/client/source/class/osparc/dashboard/DataBrowser.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowserListItem.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserListItem.js
  services/web/client/source/class/osparc/desktop/MainPage.js
Owners: @odeimaiz,, @oetiker,, @ignapas

New Study button follows StudyBrowserList style
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserListBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserListItem.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserListNew.js
Owners: @odeimaiz,, @oetiker,, @ignapas

New Study Button part if the templates list
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

__deleteStudy -> __deleteStudies
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Edit Study pops up in a new window
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

feature access thought button menu
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

saveAsTemplate Button added
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

setMenu
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserListItem.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Adapted file renaming
  services/api-gateway/Dockerfile
  services/api-gateway/Makefile
  services/api-gateway/README.md
  services/api-gateway/docker/boot.sh
  services/api-gateway/docker/entrypoint.sh
  services/api-gateway/requirements/_base.in
  services/api-gateway/requirements/_test.in
  services/api-gateway/requirements/ci.txt
  services/api-gateway/requirements/dev.txt
  services/api-gateway/requirements/prod.txt
  services/api-gateway/scripts/gen_api.py
  services/api-gateway/scripts/templates/test_endpoints.py.jinja2
  services/api-gateway/setup.py
  services/api-gateway/src/simcore_service_public_api_gateway/__init__.py
  services/api-gateway/src/simcore_service_public_api_gateway/__main__.py
  services/api-gateway/src/simcore_service_public_api_gateway/__version__.py
  services/api-gateway/tests/unit/conftest.py
  services/api-gateway/tests/unit/test_utils.py
  services/api-gateway/tests/unit/with_dbs/test_entrypoint_dags.py
  services/docker-compose-build.yml
Owners: @pcrespov,, @sanderegg

Added app_factory conneting routes
  services/api-gateway/src/simcore_service_api_gateway/app_factory.py
  services/api-gateway/src/simcore_service_api_gateway/config.py
  services/api-gateway/src/simcore_service_api_gateway/endpoints_auth.py
  services/api-gateway/src/simcore_service_api_gateway/endpoints_check.py
  services/api-gateway/src/simcore_service_api_gateway/endpoints_diagnostics.py
  services/api-gateway/src/simcore_service_api_gateway/endpoints_user.py
  services/api-gateway/src/simcore_service_api_gateway/main.py
Owners: none

Cleanup auth
  services/api-gateway/src/simcore_service_api_gateway/auth.py
  services/api-gateway/src/simcore_service_api_gateway/auth_security.py
Owners: none

Drafted tests template
  services/public-api-gateway/scripts/templates/test_endpoints.py.jinja2
Owners: none

Updates requirements with auth libraries
  services/public-api-gateway/requirements/_base.in
  services/public-api-gateway/requirements/_base.txt
  services/public-api-gateway/requirements/_test.txt
Owners: none

Synced requirements
  services/public-api-gateway/requirements/Makefile
  services/public-api-gateway/requirements/_base.txt
  services/public-api-gateway/requirements/_test.in
  services/public-api-gateway/requirements/_test.txt
  services/public-api-gateway/requirements/dev.txt
Owners: @pcrespov,, @sanderegg

Fixes tests of cookie-cutter output
  services/public-api-gateway/src/simcore_service_public_api_gateway/config.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/crud/crud_samples.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/schemas/schemas_samples.py
  services/public-api-gateway/tests/unit/conftest.py
  services/public-api-gateway/tests/unit/test_linter.py
  services/public-api-gateway/tests/unit/test_rest.py
Owners: none

WIP: adding authentication
  services/public-api-gateway/src/simcore_service_public_api_gateway/crud/authentication.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/endpoints/samples.py
Owners: none

Minor
  services/public-api-gateway/src/simcore_service_public_api_gateway/main.py
Owners: none

Renamed crud by store describes better that these are operations on the stored data i.e. db
  services/public-api-gateway/src/simcore_service_public_api_gateway/endpoints/samples.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/store/__init__.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/store/authentication.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/store/crud_samples.py
Owners: none

WIP: flatten folders and started adding auth
  services/public-api-gateway/src/simcore_service_public_api_gateway/auth.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/auth_security.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/crud_users.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/endpoints/__init__.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/endpoints/samples.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/endpoints_diagnostics.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/endpoints_users.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/orm/__init__.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/orm/base.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/orm/orm_samples.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/schemas.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/schemas/__init__.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/schemas/schemas_samples.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/store/__init__.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/store/authentication.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/store/crud_samples.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/utils/helpers.py
Owners: none

Frozen requirements
  services/public-api-gateway/requirements/_base.txt
  services/public-api-gateway/requirements/_test.txt
  services/public-api-gateway/setup.py
Owners: none

renamed scripts as tools
  services/api-gateway/tools/gen_api.py
  services/api-gateway/tools/templates/cruds.py.jinja2
  services/api-gateway/tools/templates/orm.py.jinja2
  services/api-gateway/tools/templates/resource_custom_methods.py.jinja2
  services/api-gateway/tools/templates/resource_standard_methods.py.jinja2
  services/api-gateway/tools/templates/schemas.py.jinja2
  services/api-gateway/tools/templates/test_endpoints.py.jinja2
Owners: none

Some fixes to template
  services/public-api-gateway/.cookiecutterrc
  services/public-api-gateway/Makefile
  services/public-api-gateway/src/simcore_service_public_api_gateway/db.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/endpoints/samples.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/main.py
  services/public-api-gateway/tests/unit/with_dbs/test_entrypoint_dags.py
Owners: @pcrespov,, @sanderegg

Renamed gen_api.py
  services/public-api-gateway/scripts/gen_api.py
Owners: none

Cleanup auth
  services/api-gateway/src/simcore_service_api_gateway/__version__.py
  services/api-gateway/src/simcore_service_api_gateway/auth.py
  services/api-gateway/src/simcore_service_api_gateway/auth_endpoints.py
  services/api-gateway/src/simcore_service_api_gateway/auth_security.py
Owners: none

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
Makefile                                  @pcrespov, @sanderegg
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/catalog                         @pcrespov
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov
tools/*                                   @pcrespov
