Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @mguidon, @oetiker,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
Makefile                                  @pcrespov, @sanderegg
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/catalog                         @pcrespov
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov
tools/*                                   @pcrespov

Showing Tags and creator information at the same time
  services/web/client/source/class/osparc/desktop/StudyBrowserListItem.js
Owners: @odeimaiz,, @oetiker,, @ignapas

fixes script to migrate comp_tasks table (#1357)
  packages/postgres-database/scripts/remove_comp_tasks_duplicates.sql
Owners: none

Fixed bug with hints not showing when used inside a window (zindex problem)
  services/web/client/source/class/osparc/ui/hint/Hint.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @oetiker,, @ignapas

added restart button to the iframe
  services/web/client/source/class/osparc/component/widget/PersistentIframe.js
Owners: @odeimaiz,, @oetiker,, @ignapas

improve logging of issues in gather/ensure_future code
  packages/service-library/src/servicelib/observer.py
  services/director/src/simcore_service_director/registry_proxy.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/src/simcore_service_webserver/socketio/events.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
Owners: @pcrespov

added future checks
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/socketio/events.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
  services/web/server/src/simcore_service_webserver/storage_api.py
Owners: @pcrespov

cleanup
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/socketio/events.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
  services/web/server/src/simcore_service_webserver/utils.py
Owners: @pcrespov

project not found exception thrown from projects_api instead of web exception catching exceptions correctly
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/computation_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Owners: @pcrespov

minor fix
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Added retrieve button to group node view containing at least one dynamic service
  services/web/client/source/class/osparc/component/widget/PersistentIframe.js
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Pre-check before write task in comp_tasks table Previous logic would fill the postgres service log with errors. This solution is more quite Created subfunctions to separate logic
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

Tests how to count with aiopg
  packages/postgres-database/tests/test_delete_projects_and_users.py
Owners: none

Updates test reqs for other tests folders
  api/tests/Makefile
  api/tests/requirements.txt
  tests/e2e/requirements/Makefile
  tests/e2e/requirements/requirements.txt
  tests/swarm-deploy/Makefile
  tests/swarm-deploy/requirements.txt
Owners: @sanderegg,, @pcrespov, @pcrespov,, @sanderegg

Updated tests requirements for packages
  packages/postgres-database/requirements/_test.txt
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.txt
Owners: @pcrespov

Updated tests requirements in services
  services/catalog/requirements/_test.txt
  services/director/requirements/_test.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_test.txt
Owners: @pcrespov, @pcrespov,, @mguidon

log gather call in case of exceptioin or reraise
  packages/service-library/src/servicelib/observer.py
  packages/service-library/src/servicelib/utils.py
  services/web/server/src/simcore_service_webserver/director/director_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
  services/web/server/src/simcore_service_webserver/utils.py
Owners: @pcrespov

minor
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/socketio/events.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
Owners: @pcrespov

minor
  services/web/server/src/simcore_service_webserver/director/director_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/src/simcore_service_webserver/socketio/events.py
  services/web/server/src/simcore_service_webserver/utils.py
Owners: @pcrespov

restart button goes on the iFrame
  services/web/client/source/class/osparc/component/widget/PersistentIframe.js
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @oetiker,, @ignapas

restartIFrameButton moved away from Node
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Maintenance: Removed unused code
  .travis.yml
  tests/system-load/Makefile
  tests/system-load/ManualTests.md
  tests/system-load/data/projects.csv
  tests/system-load/data/users.csv
  tests/system-load/locust_files/basic.py
  tests/system-load/locust_files/published.py
  tests/system-load/requirements.txt
Owners: @sanderegg, @pcrespov,

fix include order of mock
  services/web/server/tests/unit/with_dbs/test_projects.py
Owners: @pcrespov

typo
  services/web/server/tests/unit/with_dbs/test_projects.py
Owners: @pcrespov

Tunes log levels
  services/web/server/src/simcore_service_webserver/cli.py
Owners: @pcrespov

missing await calls
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
Owners: @pcrespov

Improves migration CLI
  packages/postgres-database/Makefile
  packages/postgres-database/src/simcore_postgres_database/cli.py
Owners: @pcrespov,, @sanderegg

fix tests
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/tests/unit/with_dbs/test_projects.py
Owners: @pcrespov

minor
  services/web/server/tests/unit/with_dbs/test_projects.py
Owners: @pcrespov

annotate
  packages/service-library/src/servicelib/utils.py
Owners: @pcrespov

fix test. problem is polution of other tests
  services/web/server/tests/unit/with_dbs/test_projects.py
Owners: @pcrespov

[bugfix] check gather return exceptions (#1360)
  packages/service-library/src/servicelib/observer.py
  packages/service-library/src/servicelib/utils.py
  services/director/src/simcore_service_director/registry_proxy.py
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/computation_handlers.py
  services/web/server/src/simcore_service_webserver/director/director_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/src/simcore_service_webserver/socketio/events.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
  services/web/server/src/simcore_service_webserver/storage_api.py
  services/web/server/tests/unit/with_dbs/test_projects.py
Owners: @pcrespov

Formatter removed nosec annotation
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

Updated storage tests
  services/web/server/requirements/_test.txt
Owners: @pcrespov

Validation finds invalid error valud
  packages/service-library/tests/data/oas3/enveloped_responses.yaml
Owners: @pcrespov

Fixes response adapter
  packages/service-library/src/servicelib/rest_middlewares.py
Owners: @pcrespov

Adds script to run openapi-generator-cli
  scripts/openapi-generator-cli.bash
Owners: none

Enforces servicelib reqs to storage
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
Owners: @mguidon

validator now is async
  packages/service-library/src/servicelib/rest_middlewares.py
Owners: @pcrespov

validator now is async
  packages/service-library/src/servicelib/rest_middlewares.py
Owners: @pcrespov
