Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

minor fix
  packages/models-library/tests/test_package.py
Owners: @sanderegg,, @pcrespov

moves datcore functionality to datcore_storage
  services/storage/src/simcore_service_storage/datcore_storage.py
Owners: @mguidon,, @pcrespov

auto-formatting
  services/storage/src/simcore_service_storage/access_layer.py
  services/storage/src/simcore_service_storage/rest_models.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_rest.py
Owners: @mguidon,, @pcrespov

Creating DataStorageInterface
  services/storage/src/simcore_service_storage/abc_storage.py
  services/storage/src/simcore_service_storage/datcore_storage.py
  services/storage/src/simcore_service_storage/s3_storage.py
Owners: @mguidon,, @pcrespov

uses packaging instead of semantic_version
  services/storage/src/simcore_service_storage/meta.py
Owners: @mguidon,, @pcrespov

WIP: splitting dsm
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/src/simcore_service_storage/s3_storage.py
Owners: @mguidon,, @pcrespov

fixes tests after refactoring
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_datcore.py
  services/storage/tests/unit/test_dsm.py
  services/storage/tests/unit/test_rest.py
Owners: @mguidon,, @pcrespov

Removed blackfynn and other dependencies
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
Owners: @mguidon,, @pcrespov

another extra
  services/storage/tests/unit/test_dev.py
Owners: @mguidon,, @pcrespov

Upgraded api in pytest-simcore to latest minio. Upgraded all tests
  tests/swarm-deploy/requirements/_test.txt
Owners: none

removes extras
  api/specs/storage/openapi_generator.py
  services/storage/src/simcore_service_storage/files_handlers.py
  services/storage/src/simcore_service_storage/files_models.py
  services/storage/src/simcore_service_storage/utils_handlers.py
Owners: @sanderegg,, @pcrespov, @mguidon,

formatting
  services/storage/src/simcore_service_storage/datcore_storage.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_dsm.py
  services/storage/tests/unit/test_rest.py
Owners: @mguidon,, @pcrespov

minor cleanup reqs
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
Owners: @mguidon,, @pcrespov

minor
  services/storage/src/simcore_service_storage/abc_storage.py
  services/storage/src/simcore_service_storage/s3_storage.py
Owners: @mguidon,, @pcrespov

formatting
  services/storage/tests/conftest.py
Owners: @mguidon,, @pcrespov

removes static state from health response
  api/specs/common/schemas/health_check.yaml
  api/specs/storage/openapi.yaml
  api/specs/webserver/components/schemas/health_check.yaml
  packages/models-library/src/models_library/api_schemas_storage.py
  packages/service-library/tests/data/oas3/components/schemas/health_check.yaml
  packages/service-library/tests/data/oas3/enveloped_responses.yaml
  packages/service-library/tests/tutils.py
  services/director/src/simcore_service_director/rest/handlers.py
  services/director/tests/test_handlers.py
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/rest_handlers.py
Owners: @sanderegg,, @pcrespov, @mguidon,

Adds another probe to monitor event loop
  services/web/server/src/simcore_service_webserver/diagnostics_core.py
Owners: @pcrespov

Minor typing
  services/web/server/src/simcore_service_webserver/diagnostics_handlers.py
Owners: @pcrespov

Adding a probe class to monitor the event loop
  services/web/server/src/simcore_service_webserver/diagnostics_core.py
Owners: @pcrespov

minor doc
  tests/public-api/examples/sleeper.py
Owners: @pcrespov

setExistingParameter working
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/Workbench.js
Owners: @odeimaiz,, @ignapas

cleanup
  services/web/client/source/class/osparc/data/model/Study.js
Owners: @odeimaiz,, @ignapas

not needed
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @ignapas

WorkbenchToolbar
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
Owners: @odeimaiz,, @ignapas

svg
  services/web/client/source/class/osparc/utils/Services.js
  services/web/client/source/class/osparc/wrapper/Svg.js
Owners: @odeimaiz,, @ignapas

forDemo
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
Owners: @pcrespov,, @sanderegg

minor
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
Owners: @pcrespov,, @sanderegg

minor
  services/web/client/source/class/osparc/component/snapshots/Snapshots.js
Owners: @odeimaiz,, @ignapas

isSnapshot
  services/web/client/source/class/osparc/data/model/Study.js
Owners: @odeimaiz,, @ignapas

Add option to strip extras. It is redundant and prevents producing dask constraint reqs variants
  requirements/base.Makefile
  services/dask-sidecar/requirements/_base.in
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_packages.in
  services/dask-sidecar/requirements/_packages.txt
  services/dask-sidecar/requirements/_test.in
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.in
  services/dask-sidecar/requirements/_tools.txt
Owners: @pcrespov

creates dask constraint reqs variants
  services/dask-sidecar/requirements/Makefile
  services/dask-sidecar/requirements/_dask-complete.in
  services/dask-sidecar/requirements/_dask-complete.txt
  services/dask-sidecar/requirements/_dask-distributed.in
  services/dask-sidecar/requirements/_dask-distributed.txt
Owners: @pcrespov,, @sanderegg

ParameterView
  services/web/client/source/class/osparc/component/node/ParameterView.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

small test to ensure synced reqs
  services/dask-sidecar/tests/unit/test__requirements.py
Owners: none

persistant parameter value
  services/web/client/source/class/osparc/component/node/ParameterView.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @ignapas

iterator demo
  services/web/client/source/class/osparc/component/snapshots/Snapshots.js
Owners: @odeimaiz,, @ignapas

minor
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

udpates doc
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

removed fixture which makes no sense
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/test_dynamic_sidecar_monitor.py
Owners: @sanderegg,, @pcrespov

refactored PathMappingsLabels
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/tests/test_service_settings_labels.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/monitor.py
Owners: @sanderegg,, @pcrespov

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov
