Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

fixing time bump
  .github/workflows/ci-testing-deploy.yml
Owners: none

reverting to old timeout
  .github/workflows/ci-testing-deploy.yml
Owners: none

trying to remove randomly hanging code
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
Owners: @sanderegg,, @pcrespov

CI does not like localhost to reference docker
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
Owners: @sanderegg,, @pcrespov

put back registry
  Makefile
Owners: @pcrespov,, @sanderegg

refactor and docstrings
  packages/models-library/src/models_library/settings/services_common.py
Owners: @sanderegg,, @pcrespov

refactor + update docstrings
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/module_setup.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
Owners: @sanderegg,, @pcrespov

removing autoreuse
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
Owners: @sanderegg,, @pcrespov

fixed too broad error capture and message logging
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
Owners: @pcrespov

refactor
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Owners: @pcrespov

uses erorr handling, updated docstring
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
Owners: @sanderegg,, @pcrespov

fix garbage collector
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
Owners: @pcrespov

favicon depends on product name
  services/web/client/source/class/osparc/Application.js
Owners: @odeimaiz,, @ignapas

osparc logo svg
  services/web/client/source/resource/osparc/osparc_logo.svg
Owners: @odeimaiz,, @ignapas

[skip ci] more favicons
  services/web/client/source/resource/osparc/favicon-osparc.png
  services/web/client/source/resource/osparc/favicon-s4l.png
Owners: @odeimaiz,, @ignapas

[skip ci] minor
  services/web/client/source/resource/osparc/osparc_logo.svg
Owners: @odeimaiz,, @ignapas

fix deploy scripts
  .github/workflows/ci-release.yml
  .github/workflows/ci-staging.yml
Owners: none

refactor lines
  .github/workflows/ci-testing-deploy.yml
Owners: none

Service Catalog cards (#2461)
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
  services/web/client/source/class/osparc/component/service/ServiceJumbo.js
  services/web/client/source/class/osparc/component/service/ServiceList.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/theme/Appearance.js
  services/web/client/source/class/osparc/ui/form/Jumbo.js
Owners: @odeimaiz,, @ignapas

refactor common test parts
  services/director-v2/tests/integration/02/conftest.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/utils.py
Owners: @sanderegg,, @pcrespov

outputs states added to Color and IconSources
  services/web/client/source/class/osparc/utils/StatusUI.js
Owners: @odeimaiz,, @ignapas

interactive slideshow breadcrumbs show their status
  services/web/client/source/class/osparc/component/widget/NodePorts.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideShow.js
  services/web/client/source/class/osparc/utils/StatusUI.js
Owners: @odeimaiz,, @ignapas

[skip ci] minor
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideShow.js
Owners: @odeimaiz,, @ignapas

remove node from slideshow too
  services/web/client/source/class/osparc/data/model/Workbench.js
Owners: @odeimaiz,, @ignapas

[skip ci] fullSlideshow context in
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
Owners: @odeimaiz,, @ignapas

[skip ci] typo
  services/web/client/source/class/osparc/navigation/NavigationBar.js
Owners: @odeimaiz,, @ignapas

Added meta description tag (#2463)
  services/web/client/source/boot/index.html
Owners: @odeimaiz,, @ignapas

🐛 Fix how sidecar passes the environment variables to the 'car' (#2453)
  services/sidecar/src/simcore_service_sidecar/executor.py
  services/sidecar/tests/integration/mock/osparc_python_print_env.py
  services/sidecar/tests/integration/test_sidecar.py
Owners: @pcrespov,, @mguidon

♻️ Maintenance/correct deployment scripts (#2464)
  .github/workflows/ci-release.yml
  .github/workflows/ci-staging.yml
  .github/workflows/ci-testing-deploy.yml
Owners: none

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov
