Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @pcrespov,, @mguidon, @oetiker,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/.travis.yml                              @sanderegg
/api/                                     @sanderegg, @pcrespov
/ops/                                     @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/dy*                             @sanderegg
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov

Change font size for authors section
  services/web/client/source/class/qxapp/component/metadata/ServiceInfo.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Use dedicated thumbnails for ISAN templates (#904)
  services/web/client/source/class/qxapp/desktop/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Update StudyBrowser.js
  services/web/client/source/class/qxapp/desktop/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Replace node/project uuids with names and get filesize/modify stamp from S3
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  packages/postgres-database/src/simcore_postgres_database/storage_models.py
  packages/s3wrapper/src/s3wrapper/s3_client.py
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/tests/conftest.py
  services/storage/tests/data/file_meta_data.csv
  services/storage/tests/data/notebooks.zip
  services/storage/tests/data/outputController.dat
  services/storage/tests/data/projects.csv
  services/storage/tests/data/user_to_projects.csv
  services/storage/tests/data/users.csv
  services/storage/tests/test_dsm.py
  services/storage/tests/utils.py
Owners: @mguidon

Fixes main
  packages/postgres-database/main.py
  packages/postgres-database/migration/env.py
Owners: none

Moved migration in src and created entrypoint
  packages/postgres-database/setup.py
  packages/postgres-database/src/simcore_postgres_database/alembic.ini
  packages/postgres-database/src/simcore_postgres_database/migration/README.md
  packages/postgres-database/src/simcore_postgres_database/migration/env.py
  packages/postgres-database/src/simcore_postgres_database/migration/script.py.mako
  packages/postgres-database/src/simcore_postgres_database/migration/versions/645807399320_init_tables.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/99db5efc4548_added_column_to_file_meta_data.py
  packages/postgres-database/src/simcore_postgres_database/migration_cli.py
Owners: none

Removed from cfg from library and added in CLI discover Cleanup
  packages/postgres-database/setup.py
  packages/postgres-database/src/simcore_postgres_database/migration_cli.py
  packages/postgres-database/src/simcore_postgres_database/settings.py
Owners: none

Added yarl
  packages/postgres-database/requirements/_base.in
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
Owners: none

Enhanced CLI
  packages/postgres-database/setup.py
  packages/postgres-database/src/simcore_postgres_database/cli.py
  packages/postgres-database/src/simcore_postgres_database/settings.py
Owners: none

Improved implementation of discovery
  packages/postgres-database/src/simcore_postgres_database/cli.py
Owners: none

Info and short entrypoint alias
  packages/postgres-database/README.md
  packages/postgres-database/setup.py
  packages/postgres-database/src/simcore_postgres_database/cli.py
Owners: none

WIP
  services/web/server/tests/unit/with_postgres/test_projects.py
Owners: @pcrespov

Added tests for data project clone
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/test_projects_utils.py
  services/web/server/tests/unit/test_template_projects.py
Owners: @pcrespov

Removed old dataset
  services/web/server/src/simcore_service_webserver/data/fake-template-projects.isan.old.json
  services/web/server/tests/unit/test_security_access_model.py
Owners: @pcrespov

Added handler to create templates from projects
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/tests/unit/with_postgres/test_projects.py
Owners: @pcrespov

Fixes linter and remove old tests
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/tests/unit/with_postgres/test_projects.py
Owners: @pcrespov

Used clone to create projects from templates as well
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/studies_access.py
Owners: @pcrespov

Deleted deprecated tests
  services/web/server/tests/unit/test_studies_access.py
  services/web/server/tests/unit/with_postgres/test_projects.py
Owners: @pcrespov

Fixes linter errors
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/studies_access.py
Owners: @pcrespov

schemas and minimal implementation added
  api/specs/webserver/v0/components/schemas/project_progress.yaml
  api/specs/webserver/v0/openapi-projects.yaml
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Owners: @sanderegg,, @pcrespov

progress json schema added, yaml deleted, references updated
  api/specs/webserver/v0/components/schemas/progress-v0.0.1.json
  api/specs/webserver/v0/components/schemas/project_progress.yaml
  api/specs/webserver/v0/openapi-projects.yaml
Owners: @sanderegg,, @pcrespov

minor
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Owners: @pcrespov

Fixes setup by adding extra data Fixes requirements to fit base jupyter
  packages/postgres-database/README.md
  packages/postgres-database/requirements/_migration.in
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/setup.py
  packages/postgres-database/src/simcore_postgres_database/cli.py
Owners: none

Drafted maintenance services
  packages/postgres-database/README.md
  services/docker-compose.devel.yml
  services/docker-compose.yml
  services/maintenance/Dockerfile
  services/maintenance/boot.sh
  services/maintenance/notebooks/db-migration.ipynb
  services/maintenance/run.sh
Owners: none

Added stamp in cli
  packages/postgres-database/src/simcore_postgres_database/cli.py
Owners: none

Added password hash and trust
  services/maintenance/Dockerfile
  services/maintenance/boot.sh
Owners: none

Identified stacks in docker-compose naming
  Makefile
  ops/travis/system-testing/tests/test_swarm_runs.py
  services/docker-compose-inst.devel.yml
  services/docker-compose-inst.yml
  services/docker-compose-tools.yml
  services/docker-compose.devel.yml
  services/docker-compose.yml
  services/web/server/tests/integration-proxy/Makefile
  services/web/server/tests/integration-proxy/conftest.py
  services/web/server/tests/integration/fixtures/docker_compose.py
Owners: @sanderegg,, @pcrespov

Updated variable for maintenance service
  .env-devel
Owners: none

WIP-New NodeUI design
  services/web/client/compile.json
  services/web/client/source/class/qxapp/Application.js
  services/web/client/source/class/qxapp/component/hint/HintManager.js
  services/web/client/source/class/qxapp/component/service/NodeStatus.js
  services/web/client/source/class/qxapp/component/workbench/NodeUI.js
  services/web/client/source/class/qxapp/data/model/Node.js
  services/web/client/source/class/qxapp/statics/Node.js
  services/web/client/source/class/qxapp/theme/Appearance.js
  services/web/client/source/class/qxapp/theme/Color.js
  services/web/client/source/class/qxapp/theme/Decoration.js
  services/web/client/source/class/qxapp/ui/basic/Chip.js
  services/web/client/source/class/qxapp/ui/hint/Hint.js
  services/web/client/source/resource/common/common.css
Owners: @odeimaiz,, @oetiker,, @ignapas

Finished work with the filepicker
  services/web/client/source/class/qxapp/component/service/NodeStatus.js
  services/web/client/source/class/qxapp/theme/Color.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Make eslint happy
  services/web/client/source/class/qxapp/component/metadata/ServiceInfoWindow.js
  services/web/client/source/class/qxapp/component/metadata/StudyInfo.js
  services/web/client/source/class/qxapp/desktop/PanelView.js
  services/web/client/source/class/qxapp/utils/Utils.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Make eslint happy
  services/web/client/source/class/qxapp/utils/Utils.js
Owners: @odeimaiz,, @oetiker,, @ignapas

getProgress added to factory
  services/web/client/source/class/qxapp/io/rest/ResourceFactory.js
Owners: @odeimaiz,, @oetiker,, @ignapas

start/stop autoRetrieveTimer and propagate it to the respective node
  services/web/client/source/class/qxapp/data/model/Node.js
  services/web/client/source/class/qxapp/data/model/Study.js
  services/web/client/source/class/qxapp/data/model/Workbench.js
  services/web/client/source/class/qxapp/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Put in-out ports on top of the Type/Status Chips
  services/web/client/package-lock.json
  services/web/client/source/class/qxapp/component/workbench/NodeUI.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Fixed fixtures to get core-services
  ops/travis/system-testing/tests/test_swarm_runs.py
Owners: @sanderegg,, @pcrespov

Added downgrad
  packages/postgres-database/src/simcore_postgres_database/cli.py
Owners: none

Adds dependency in instrumentation stack to adminer for easy testing
  services/docker-compose-inst.yml
Owners: none

Now showing just the file name
  services/web/client/source/class/qxapp/component/service/NodeStatus.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Fixed CLI and arguments in downgrade
  packages/postgres-database/src/simcore_postgres_database/cli.py
Owners: none
