Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @pcrespov,, @mguidon, @oetiker,, @ignapas

add some debug messages in reverse proxy
  services/web/server/src/simcore_service_webserver/reverse_proxy/handlers/paraview.py
Owners: @pcrespov

auto update the pipeline when saving the project
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Owners: @pcrespov

auto save state when deleting service
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/rest/handlers.py
Owners: none

Minor
  services/storage/tests/_test_rawdatcore.py
Owners: @mguidon

fix tests
  services/director/tests/test_producer.py
Owners: none

Alter project table (nullable columns)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/20ec678d7dad_nullable_project_columns.py
Owners: none

Update documentation for migration
  packages/postgres-database/src/simcore_postgres_database/migration/README.md
Owners: none

Base image has already init
  services/docker-compose.yml
Owners: none

Fixes build-cache
  Makefile
Owners: none

Make eslint happy
  services/web/client/source/class/qxapp/component/service/NodeStatus.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Maintenance container has no cache
  services/docker-compose.yml
Owners: none

Changes in base jupyter broke build
  Makefile
  packages/postgres-database/requirements/_migration.in
  packages/postgres-database/requirements/_migration.txt
Owners: none

Fix/make build cache (#919)
  Makefile
  packages/postgres-database/requirements/_migration.in
  packages/postgres-database/requirements/_migration.txt
  services/docker-compose.yml
Owners: none

Adds base image with pandas
  services/storage/Dockerfile
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/python-with-pandas_89f709.txt
Owners: @mguidon

experimental code for getting collection id
  services/storage/tests/_test_rawdatcore.py
Owners: @mguidon

Mguidon storage extensions (#18)
  services/sidecar/requirements/dev.txt
  services/sidecar/requirements/prod.txt
  services/web/client/source/class/qxapp/component/widget/NodeDataManager.js
  services/web/client/source/class/qxapp/data/Converters.js
  services/web/client/source/class/qxapp/data/Store.js
  services/web/client/source/class/qxapp/file/FileLabelWithActions.js
  services/web/client/source/class/qxapp/file/FilesTree.js
  services/web/client/source/class/qxapp/file/FilesTreePopulator.js
Owners: @pcrespov,, @mguidon, @odeimaiz,, @oetiker,, @ignapas

updateStudyDocument when updatinf pipeline
  services/web/client/source/class/qxapp/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

make jupyter's Reverse Proxy the default one
  services/web/server/src/simcore_service_webserver/reverse_proxy/routing.py
Owners: @pcrespov

Revert "make jupyter's Reverse Proxy the default one"
  services/web/server/src/simcore_service_webserver/reverse_proxy/routing.py
Owners: @pcrespov

Make jupyter's Reverse Proxy default RP
  services/web/server/src/simcore_service_webserver/reverse_proxy/routing.py
Owners: @pcrespov

Deprecated files (#19)
  services/docker-compose-inst.devel.yml
  services/docker-compose-inst.yml
Owners: none

Adds base image with pandas (#920)
  services/storage/Dockerfile
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/python-with-pandas_89f709.txt
Owners: @mguidon

fix test
  services/director/src/simcore_service_director/producer.py
Owners: none

max authorized port is 65535
  services/director/tests/fixtures/fake_services.py
Owners: none

add more logging
  services/director/tests/test_handlers.py
Owners: none

Jupyter default Reverse Proxy (#922)
  services/web/server/src/simcore_service_webserver/reverse_proxy/routing.py
Owners: @pcrespov

Fix delete, upload, dowload
  services/storage/src/simcore_service_storage/datcore.py
  services/storage/src/simcore_service_storage/datcore_wrapper.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/tests/_test_rawdatcore.py
  services/storage/tests/conftest.py
  services/storage/tests/test_datcore.py
  services/storage/tests/test_dsm.py
Owners: @mguidon

Director save state before delete (#918)
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/rest/handlers.py
  services/director/tests/fixtures/fake_services.py
  services/director/tests/test_handlers.py
  services/director/tests/test_producer.py
Owners: none

renaming updatePipeline -> retrieveInputs
  services/web/client/source/class/qxapp/data/model/Node.js
  services/web/client/source/class/qxapp/data/model/Workbench.js
  services/web/client/source/class/qxapp/desktop/ControlsBar.js
  services/web/client/source/class/qxapp/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

WIP
  services/docker-compose-tools.yml
  services/prometheus/config/prometheus.yml
Owners: none

Minor
  Makefile
  services/storage/tests/conftest.py
Owners: @mguidon

cleanup
  TODO.md
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/tests/unit/mock/parametrized_project.json
Owners: @pcrespov

Added safe decorators in servicelib
  packages/service-library/src/servicelib/decorators.py
  packages/service-library/tests/test_decorators.py
Owners: @pcrespov

Safe substitutions
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/tests/unit/test_template_projects.py
Owners: @pcrespov

Fixes linter
  TODO.md
  services/web/server/src/simcore_service_webserver/studies_access.py
Owners: @pcrespov

Setup demo - all moved under scripts/demo - templates downloaded from db and converted into json (converter.py) - markdown shows templates deployed in each case
  scripts/demo/confirmations-invitations.csv
  scripts/demo/create_portal_markdown.py
  scripts/demo/portal_markdown.md
  scripts/demo/template-projects/converter.py
  scripts/demo/template-projects/templates_in_master.csv
  scripts/demo/template-projects/templates_in_master.json
  scripts/template-projects/create_csv_table.py
  scripts/template-projects/template-projects-table.csv
  scripts/template-projects/templates_in_master.csv
  scripts/template-projects/templates_in_production.csv
  scripts/template-projects/templates_in_staging.csv
Owners: @odeimaiz,, @pcrespov

All templates can be access via link
  scripts/demo/template-projects/converter.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/tests/unit/with_postgres/test_access_to_studies.py
Owners: @odeimaiz,, @pcrespov

WIP: adding published column ...
  packages/postgres-database/src/simcore_postgres_database/migration/versions/add5f60f0f67_adds_published_columen_in_projects_table.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/tests/helpers/utils_projects.py
  services/web/server/tests/unit/with_postgres/test_access_to_studies.py
Owners: @pcrespov

Added migration script to account for new published column
  packages/postgres-database/src/simcore_postgres_database/migration/versions/add5f60f0f67_adds_published_colums_in_projects_table.py
Owners: none

Fixed project mocks
  services/storage/tests/data/projects.csv
Owners: @mguidon

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/.travis.yml                              @sanderegg
/api/                                     @sanderegg, @pcrespov
/ops/                                     @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/dy*                             @sanderegg
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov
