Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov

slots are not required
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/task.py
Owners: @sanderegg,, @pcrespov

renamed module
  services/director-v2/tests/unit/test_dynamic_sidecar_docker_api.py
Owners: @sanderegg,, @pcrespov

marked asyncio tests at module level
  services/director-v2/tests/unit/test_dynamic_sidecar_docker_api.py
Owners: @sanderegg,, @pcrespov

refactor and clean shutdown
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/task.py
Owners: @sanderegg,, @pcrespov

added allowed exported vars
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/task.py
Owners: @sanderegg,, @pcrespov

projectId -> studyId
  services/web/client/source/class/osparc/component/metadata/ClassifiersEditor.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/web/client/source/class/osparc/component/permissions/Study.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/StudyParametrizer.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/client/source/class/osparc/viewer/NodeViewer.js
  tests/e2e/tests/tags.test.js
  tests/e2e/tutorials/tutorialBase.js
Owners: @odeimaiz,, @ignapas

snapshots resources added
  services/web/client/source/class/osparc/data/Resources.js
Owners: @odeimaiz,, @ignapas

studyUuid -> studyId
  services/web/client/source/class/osparc/component/form/tag/TagManager.js
  services/web/client/source/class/osparc/data/Resources.js
Owners: @odeimaiz,, @ignapas

turnIntoIteratorPrimary & turnIntoIteratorSnaphot
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

improve cancellation
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/domains/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/client_base.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/requests_decorators.py
Owners: none

mypy fixes
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Owners: @pcrespov

Primary -> Main
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/component/sweeper/Sweeper.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
Owners: @odeimaiz,, @ignapas

circled
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/wrapper/Svg.js
Owners: @odeimaiz,, @ignapas

CIRCLED_RADIUS
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

refactoring
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

comments
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

Parameter UI
  services/web/client/source/class/osparc/component/workbench/ParameterUI.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/workbench/ParameterUI.js
Owners: @odeimaiz,, @ignapas

parameters in WorkbenchUI
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

temp arrow working
  services/web/client/source/class/osparc/component/workbench/ParameterUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

added middleware for timing access
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/middleware_timing.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/module_setup.py
Owners: none

removed empty file
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/errors.py
Owners: none

skip test for now
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

linter
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/client_base.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/requests_decorators.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

setup http/2 client, set timeouts as float
  services/datcore-adapter/requirements/_base.in
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/client_base.py
Owners: none

temporary fix for swarm deploy: until build time goes down again
  .github/workflows/ci-testing-deploy.yml
Owners: none

should fix exporter issue
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/storage_handlers.py
Owners: @pcrespov

linter
  services/web/server/src/simcore_service_webserver/storage_handlers.py
Owners: @pcrespov

removed missleading erro block
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
Owners: @sanderegg,, @pcrespov

increase timeout since building of docker images takes a lot of time
  .github/workflows/ci-testing-deploy.yml
Owners: none

minor
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
Owners: @odeimaiz,, @ignapas

improve logging formatting
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/middleware_timing.py
Owners: none

increase default timeout
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
Owners: none

temp: increase timeouts for integration tests
  .github/workflows/ci-testing-deploy.yml
Owners: none

ensure redis-commander show the all the databases
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
Owners: @pcrespov

notify other tabs that may open the user's project
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
Owners: @pcrespov

refactor
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Owners: @pcrespov
