Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov

disables scheduler in client fixture
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_modules_celery.py
Owners: @sanderegg,, @pcrespov

[skip ci] minor
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @ignapas

[skip ci] Make study ReadOnly if it's snapshot
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
Owners: @odeimaiz,, @ignapas

[skip ci] apply readOnly to more widgets
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
Owners: @odeimaiz,, @ignapas

[skip ci] bind readOnly
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
Owners: @odeimaiz,, @ignapas

🐛 Fixes dynamic-sidecar settings in director-v2 (#2431)
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_services.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_modules_celery.py
Owners: @sanderegg,, @pcrespov

[skip ci] "Create At" added to snapshots
  services/web/client/source/class/osparc/component/snapshots/Snapshots.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Owners: @odeimaiz,, @ignapas

[skip ci] minor
  services/web/client/source/class/osparc/component/snapshots/Snapshots.js
Owners: @odeimaiz,, @ignapas

Adds parameters function metadata
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
  services/catalog/tests/unit/test_services_frontend_services.py
Owners: @pcrespov,, @sanderegg

minor cleanup
  packages/models-library/src/models_library/services.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Owners: @sanderegg,, @pcrespov

git ignore vscode files except templates
  .gitignore
Owners: none

Splits projects_handler in two
  services/web/server/src/simcore_service_webserver/projects/module_setup.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_node_handlers.py
Owners: @pcrespov

Adds devel features flag in catalog
  .env-devel
  services/catalog/.env-devel
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
  services/catalog/tests/unit/test_services_director.py
  services/catalog/tests/unit/test_services_frontend_services.py
  services/docker-compose.yml
Owners: @pcrespov,, @sanderegg

message when finishes syncing
  services/storage/src/simcore_service_storage/handlers.py
Owners: @mguidon,, @pcrespov

Deprecates displayOrder
  api/specs/common/schemas/node-meta-v0.0.1.json
  packages/models-library/src/models_library/services.py
  packages/models-library/tests/test_services.py
Owners: @sanderegg,, @pcrespov

Adding dev-feature flag and cleanup
  services/web/server/src/simcore_service_webserver/constants.py
  services/web/server/src/simcore_service_webserver/projects/module_setup.py
  services/web/server/src/simcore_service_webserver/settings.py
Owners: @pcrespov

minor
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
Owners: @pcrespov,, @sanderegg

linter
  services/web/server/src/simcore_service_webserver/projects/module_setup.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Owners: @pcrespov

minor cleanup: fixes typos and static type errors
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
Owners: @pcrespov

Fixes catalog error due to extra examples in SErviceDockerData
  services/catalog/tests/unit/with_dbs/test_services_access_rights.py
Owners: @pcrespov,, @sanderegg

minor
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
Owners: @pcrespov,, @sanderegg

storage: sync prune in chuncks
  services/storage/src/simcore_service_storage/dsm.py
Owners: @mguidon,, @pcrespov

front-end service catalog moved to models-library
  packages/models-library/src/models_library/frontend_services_catalog.py
  packages/models-library/tests/test_frontend_services_catalog.py
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
Owners: @sanderegg,, @pcrespov, @pcrespov,, @sanderegg

fix
  packages/models-library/src/models_library/frontend_services_catalog.py
Owners: @sanderegg,, @pcrespov

fixes deprecated test
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/tests/unit/test_db_comp_tasks.py
Owners: @sanderegg,, @pcrespov

cleanup
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/src/simcore_service_webserver/studies_access.py
Owners: @pcrespov

fixes director2 test
  services/director-v2/tests/unit/test_db_comp_tasks.py
Owners: @sanderegg,, @pcrespov

linter error
  services/director-v2/tests/unit/test_db_comp_tasks.py
Owners: @sanderegg,, @pcrespov

minor
  packages/models-library/src/models_library/frontend_services_catalog.py
Owners: @sanderegg,, @pcrespov

fix test
  services/director-v2/tests/unit/test_db_comp_tasks.py
Owners: @sanderegg,, @pcrespov

fixes annotations
  services/director-v2/tests/unit/test_models_comp_pipelines.py
  services/director-v2/tests/unit/test_models_comp_runs.py
  services/director-v2/tests/unit/test_models_comp_tasks.py
Owners: @sanderegg,, @pcrespov

doc and filtered front-end catalog eligible as tasks
  packages/models-library/src/models_library/frontend_services_catalog.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/tests/unit/test_db_comp_tasks.py
Owners: @sanderegg,, @pcrespov

Fixes filter in front-end service setup
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
Owners: @pcrespov,, @sanderegg

include parameter services if dev
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
Owners: @pcrespov,, @sanderegg

[skip ci] data-iterator added to frontend services
  packages/models-library/src/models_library/frontend_services_catalog.py
Owners: @sanderegg,, @pcrespov

minor
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

extend read timeout to upload files
  services/api-server/src/simcore_service_api_server/api/routes/files.py
Owners: @pcrespov

Adds header reader to implement heuristics to upload files
  services/api-server/src/simcore_service_api_server/api/dependencies/files.py
Owners: @pcrespov

equals read/write
  services/api-server/src/simcore_service_api_server/api/routes/files.py
Owners: @pcrespov

[skip ci] refactoring turnIntoSpecialUI
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas
