Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg, @pcrespov, @Surfict, @mrnicegyu11, @matusdrobuliak66, @GitHK, @odeimaiz

annotate instead of cast
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_settings.py
  services/storage/src/simcore_service_storage/db.py
  services/storage/src/simcore_service_storage/dsm_cleaner.py
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/settings.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/utils.py
Owners: @sanderegg, @pcrespov

add sqlmypy
  mypy.ini
Owners: none

added sqlalchmey stubs
  scripts/mypy/requirements.txt
Owners: none

upgrade mypy to 1.2.x
  scripts/mypy/requirements.txt
Owners: none

refactor timeotu
  packages/service-library/src/servicelib/background_task.py
Owners: @pcrespov

added back missing comment
  packages/service-library/src/servicelib/background_task.py
Owners: @pcrespov

refactor
  packages/service-library/src/servicelib/redis.py
Owners: @pcrespov

refactor init retry policy
  packages/service-library/src/servicelib/redis.py
  packages/service-library/src/servicelib/retry_policies.py
Owners: @pcrespov

refactor
  packages/service-library/tests/test_redis.py
  packages/service-library/tests/test_redis__messy_test.py
Owners: @pcrespov

refactor
  services/director-v2/src/simcore_service_director_v2/modules/node_rights.py
Owners: @sanderegg, @pcrespov, @GitHK

refactor
  services/web/server/src/simcore_service_webserver/projects/_nodes_utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Owners: @pcrespov, @sanderegg, @GitHK

refactor
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Owners: @pcrespov, @sanderegg, @GitHK

⬆️Maintenance: update mypy to 1.2.0 (#4108)
  mypy.ini
  scripts/mypy/requirements.txt
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_settings.py
  services/storage/src/simcore_service_storage/db.py
  services/storage/src/simcore_service_storage/dsm_cleaner.py
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/settings.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/utils.py
Owners: @sanderegg, @pcrespov

fix test
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_settings.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Owners: @pcrespov, @sanderegg, @GitHK

introducing structured logging
  packages/service-library/src/servicelib/logging_utils.py
  services/agent/src/simcore_service_agent/core/application.py
  services/api-server/src/simcore_service_api_server/_meta.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/_meta.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/web/server/src/simcore_service_webserver/log.py
Owners: @pcrespov, @GitHK, @sanderegg

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg @pcrespov
.env-*                                    @pcrespov @Surfict @mrnicegyu11
.travis.yml                               @sanderegg
Makefile                                  @pcrespov @sanderegg


# NOTE: '/' denotes the root of the repository
/.github/                                 @sanderegg @pcrespov
/api/                                     @sanderegg @pcrespov @matusdrobuliak66
/ci/                                      @sanderegg @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg @pcrespov @matusdrobuliak66
/packages/pytest-simcore/                 @pcrespov @sanderegg
/packages/service-integration/            @pcrespov @sanderegg @GitHK
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov @sanderegg
/requirements/                            @pcrespov @matusdrobuliak66
/scripts/demo/                            @odeimaiz @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz @pcrespov
/services/agent                           @GitHK
/services/api-server/                     @pcrespov
/services/autoscaling/                    @sanderegg @pcrespov
/services/catalog/                        @pcrespov @sanderegg
/services/datcore-adapter/                @sanderegg
/services/director*/                      @sanderegg @pcrespov @GitHK
/services/docker-compose*.yml             @sanderegg @Surfict @mrnicegyu11
/services/dynamic-sidecar/                @GitHK
/services/invitations/                    @pcrespov
/services/migration/                      @pcrespov
/services/static-webserver                @GitHK
/services/static-webserver/client/        @odeimaiz
/services/storage/                        @sanderegg @pcrespov
/services/web/server/                     @pcrespov @sanderegg @GitHK
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov
