Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @pcrespov,, @mguidon, @oetiker,, @ignapas

Added missing ending newline to file
  services/web/client/source/class/qxapp/component/form/FieldWHint.js
Owners: @odeimaiz,, @oetiker,, @ignapas

three permissions on templates added
  services/web/client/source/class/qxapp/data/Permissions.js
Owners: @odeimaiz,, @oetiker,, @ignapas

thumbnail exposed and Save As Template added
  services/web/client/source/class/qxapp/desktop/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

isMyTemplate added
  services/web/client/source/class/qxapp/data/Permissions.js
  services/web/client/source/class/qxapp/desktop/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

SaveAs callback and resource added
  services/web/client/source/class/qxapp/desktop/StudyBrowser.js
  services/web/client/source/class/qxapp/io/rest/ResourceFactory.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Fixes generation of secret key
  services/web/server/src/simcore_service_webserver/config/host-dev-config.yaml
  services/web/server/src/simcore_service_webserver/config/server-defaults.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-dev.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-prod.yaml
  services/web/server/src/simcore_service_webserver/session.py
  services/web/server/tests/unit/with_postgres/config.yaml
Owners: @pcrespov

Rename test file that shall be ignored by pytest
  services/storage/tests/test_rawdatcore.py
Owners: @mguidon

Fixes config
  services/web/server/src/simcore_service_webserver/config/server-template.yaml
Owners: @pcrespov

Fixes case confirmation is None
  services/web/server/src/simcore_service_webserver/login/confirmation.py
  services/web/server/src/simcore_service_webserver/login/registration.py
Owners: @pcrespov

Is787/invitation update (#834)
  scripts/demo/portal_markdown.md
  services/web/server/src/simcore_service_webserver/login/__init__.py
  services/web/server/src/simcore_service_webserver/login/confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers.py
  services/web/server/src/simcore_service_webserver/login/registration.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/storage.py
  services/web/server/tests/helpers/utils_login.py
  services/web/server/tests/unit/with_postgres/test_registration.py
Owners: @odeimaiz,, @pcrespov

WIP: creating CLI for migration
  packages/postgres-database/main.py
  packages/postgres-database/requirements/_migration.in
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/dev.txt
  packages/postgres-database/src/simcore_postgres_database/settings.py
Owners: none

WIP: drafts maintenance service
  services/maintenance/README.md
  services/maintenance/run.sh
Owners: none

Fix meta data test
  services/storage/src/simcore_service_storage/datcore_wrapper.py
  services/storage/tests/test_dsm.py
Owners: @mguidon

Add raw test file
  services/storage/tests/_test_rawdatcore.py
Owners: @mguidon

Mguidon storage extensions (#17)
  services/web/client/source/class/qxapp/component/widget/NewGHIssue.js
  services/web/client/source/class/qxapp/component/widget/NodeDataManager.js
  services/web/client/source/class/qxapp/data/Converters.js
  services/web/client/source/class/qxapp/data/Store.js
  services/web/client/source/class/qxapp/desktop/DataManager.js
  services/web/client/source/class/qxapp/desktop/StudyEditor.js
  services/web/client/source/class/qxapp/file/FilePicker.js
  services/web/client/source/class/qxapp/file/FileTreeItem.js
  services/web/client/source/class/qxapp/file/FilesTree.js
  services/web/client/source/class/qxapp/file/FilesTreePopulator.js
  services/web/client/source/resource/qxapp/loading.gif
Owners: @odeimaiz,, @oetiker,, @ignapas

openapi updated
  api/specs/webserver/v0/openapi-projects.yaml
  services/web/client/source/class/qxapp/desktop/StudyBrowser.js
Owners: @sanderegg,, @pcrespov, @odeimaiz,, @oetiker,, @ignapas

thumbnails moved from source to GH repo
  services/web/client/source/class/qxapp/desktop/StudyBrowser.js
  services/web/client/source/resource/qxapp/Thumbnail_2D_RawGraphs.png
  services/web/client/source/resource/qxapp/Thumbnail_3D_Paraview.png
  services/web/client/source/resource/qxapp/Thumbnail_CC_0D.png
  services/web/client/source/resource/qxapp/Thumbnail_Mattward.png
Owners: @odeimaiz,, @oetiker,, @ignapas

expose "thumbnail" field
  services/web/client/source/class/qxapp/desktop/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Fix/session secrets (#830)
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/src/servicelib/session.py
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/src/simcore_service_webserver/application_config.py
  services/web/server/src/simcore_service_webserver/config/host-dev-config.yaml
  services/web/server/src/simcore_service_webserver/config/server-defaults.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-dev.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-prod.yaml
  services/web/server/src/simcore_service_webserver/config/server-template.yaml
  services/web/server/src/simcore_service_webserver/session.py
  services/web/server/src/simcore_service_webserver/session_config.py
  services/web/server/tests/unit/with_postgres/config.yaml
Owners: @pcrespov

First version of service info window
  services/web/client/source/class/qxapp/component/metadata/ServiceInfo.js
  services/web/client/source/class/qxapp/component/widget/JsonTreeWidget.js
  services/web/client/source/class/qxapp/component/widget/NodeView.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Added WEBSERVER_SESSION_SECRET_KEY Removed LOGIN_REGISTRATION_CONFIRMATION_REQUIRED
  .env-devel
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/config/host-dev-config.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-dev.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-prod.yaml
  services/web/server/src/simcore_service_webserver/config/server-template.yaml
  services/web/server/tests/unit/mock/configs/minimum.yaml
  services/web/server/tests/unit/mock/configs/server-host-test.yaml
  services/web/server/tests/unit/with_postgres/config.yaml
  services/web/server/tests/unit/with_postgres/conftest.py
Owners: @pcrespov

Added environment file in docker-compose
  services/docker-compose.yml
Owners: none

WIP: fixing test failures due to new env_file option used in docker-compose
  services/web/server/tests/helpers/utils_environ.py
  services/web/server/tests/unit/test_configs.py
Owners: @pcrespov

Fixes unit tests
  services/web/server/tests/helpers/utils_environs.py
  services/web/server/tests/unit/test_configs.py
Owners: @pcrespov

Updates integration test fixtures
  services/web/server/tests/helpers/utils_environs.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/test_configs.py
Owners: @pcrespov

Minor change in system testin
  ops/travis/system-testing/tests/test_swarm_runs.py
Owners: @sanderegg,, @pcrespov

Import from helpers after adding to path
  services/web/server/tests/integration/conftest.py
Owners: @pcrespov

Cleanup
  services/web/server/scripts/codegen.sh
Owners: @pcrespov

Removes error messages in travis when pulling
  Makefile
Owners: none

Fixes test
  ops/travis/system-testing/tests/test_swarm_runs.py
Owners: @sanderegg,, @pcrespov

Added "How to test" section to the PR template. Improved the service info window. JsonTreeWidget now simply renders the prettyfied json using a simple Qooxdoo Label. JsonTreeViewer is no longer used.
  .github/PULL_REQUEST_TEMPLATE.md
  services/web/client/source/class/qxapp/component/metadata/ServiceInfo.js
  services/web/client/source/class/qxapp/component/widget/JsonTreeWidget.js
  services/web/client/source/class/qxapp/component/widget/NodeView.js
  services/web/client/source/class/qxapp/theme/Appearance.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Add environ for session secrets (#908)
  .env-devel
  Makefile
  ops/travis/system-testing/tests/test_swarm_runs.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/config/host-dev-config.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-dev.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-prod.yaml
  services/web/server/src/simcore_service_webserver/config/server-template.yaml
  services/web/server/tests/helpers/utils_environs.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/mock/configs/minimum.yaml
  services/web/server/tests/unit/mock/configs/server-host-test.yaml
  services/web/server/tests/unit/test_configs.py
  services/web/server/tests/unit/with_postgres/config.yaml
  services/web/server/tests/unit/with_postgres/conftest.py
Owners: @sanderegg,, @pcrespov

Unfinished changes
  services/web/client/source/class/qxapp/component/widget/NodeView.js
  services/web/client/source/class/qxapp/desktop/ServiceBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

WIP: main
  packages/postgres-database/main.py
Owners: none

StudyInfo only works with service metadata. Generating the service thumbnail from the key field (waiting to the new field to be added. Showing ServiceInfo in the dashboard's service browser.
  services/web/client/package-lock.json
  services/web/client/source/class/qxapp/component/metadata/ServiceInfo.js
  services/web/client/source/class/qxapp/component/widget/NodeView.js
  services/web/client/source/class/qxapp/theme/Appearance.js
  services/web/client/source/class/qxapp/utils/Utils.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Solved bug where raw metadata appeared uncollapsed
  services/web/client/source/class/qxapp/component/metadata/ServiceInfo.js
Owners: @odeimaiz,, @oetiker,, @ignapas

WIP
  packages/postgres-database/main.py
Owners: none

Added authors to ServiceInfo
  services/web/client/source/class/qxapp/component/metadata/ServiceInfo.js
  services/web/client/source/class/qxapp/theme/Appearance.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Created new component ServiceInfoWindow to avoid code duplication and improve modularity. Added new ServiceInfo to the service catalog.
  services/web/client/source/class/qxapp/component/widget/NodeView.js
  services/web/client/source/class/qxapp/component/workbench/ServiceCatalog.js
  services/web/client/source/class/qxapp/theme/Appearance.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Added untracked file ServiceInfoWindow
  services/web/client/source/class/qxapp/component/metadata/ServiceInfoWindow.js
Owners: @odeimaiz,, @oetiker,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/.travis.yml                              @sanderegg
/api/                                     @sanderegg, @pcrespov
/ops/                                     @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/dy*                             @sanderegg
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov
