Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

added logo and remote debugging
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/events.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/remote_debug.py
Owners: none

style
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

pass the env variables
  services/docker-compose.yml
Owners: none

fix healthcheck endpoint
  services/datcore-adapter/Dockerfile
Owners: none

allows uploading to collections
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

all tests are passing again
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_files.py
  services/datcore-adapter/tests/unit/test_route_user.py
Owners: none

move back data folder
  services/storage/tests/data/file_meta_data.csv
  services/storage/tests/data/notebooks.zip
  services/storage/tests/data/outputController.dat
  services/storage/tests/data/projects.csv
  services/storage/tests/data/projects_with_data.json
  services/storage/tests/data/users.csv
  services/storage/tests/unit/test_rest.py
Owners: @mguidon,, @pcrespov

added db migration in case of blackfynn token in DB
  packages/postgres-database/src/simcore_postgres_database/migration/versions/87a7b69f6723_blackfynn_to_pennsieve.py
Owners: none

run list files in datasets using mocks
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/mocks/ps_packages.json
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
  services/storage/src/simcore_service_storage/datcore.py
Owners: @mguidon,, @pcrespov

added fastapi-pagination
  services/datcore-adapter/requirements/_base.in
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
Owners: none

linter
  services/storage/src/simcore_service_storage/dsm.py
Owners: @mguidon,, @pcrespov

removed blackfynn dependencies
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/storage/requirements/constraints.txt
  services/storage/src/simcore_service_storage/datcore.py
  services/storage/tests/_test_rawdatcore.py
  services/storage/tests/test_datcore.py
Owners: @mguidon,, @pcrespov

datcore_adapter client
  services/storage/src/simcore_service_storage/datcore_adapter/__init__.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_settings.py
  services/storage/src/simcore_service_storage/settings.py
Owners: @mguidon,, @pcrespov

use lru_cache to keep pennsieve clients around
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

no db here
  services/datcore-adapter/src/simcore_service_datcore_adapter/db/__init__.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/db/errors.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/db/module_setup.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/db/repositories/__init__.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/db/tables.py
Owners: none

added upload route but disabled for now
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

fixed settings
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_settings.py
Owners: @mguidon,, @pcrespov

added test for listing files in a collection
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/schemas/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

improve doc
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

no need to change
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
Owners: @pcrespov

moving tests in correct folder
  services/storage/tests/conftest.py
  services/storage/tests/unit/__init__.py
  services/storage/tests/unit/data/file_meta_data.csv
  services/storage/tests/unit/data/notebooks.zip
  services/storage/tests/unit/data/outputController.dat
  services/storage/tests/unit/data/projects.csv
  services/storage/tests/unit/data/projects_with_data.json
  services/storage/tests/unit/data/users.csv
  services/storage/tests/unit/s3wrapper/__init__.py
  services/storage/tests/unit/s3wrapper/test_minio.py
  services/storage/tests/unit/s3wrapper/test_s3_client.py
  services/storage/tests/unit/test_access_layer.py
  services/storage/tests/unit/test_cli.py
  services/storage/tests/unit/test_dsm.py
  services/storage/tests/unit/test_dsm_soft_links.py
  services/storage/tests/unit/test_handlers.py
  services/storage/tests/unit/test_package.py
  services/storage/tests/unit/test_python_client_sdk.py
  services/storage/tests/unit/test_resources.py
  services/storage/tests/unit/test_rest.py
  services/storage/tests/unit/test_settings.py
  services/storage/tests/unit/test_utils.py
  services/storage/tests/utils.py
Owners: @mguidon,, @pcrespov

added TODOs
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

remove datcorewrapper
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/tests/conftest.py
Owners: @mguidon,, @pcrespov

linter
  services/storage/tests/conftest.py
Owners: @mguidon,, @pcrespov

added profile entrypoint
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/module_setup.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/user.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/domains/user.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/test_route_user.py
Owners: none

make dataset routes cancellable
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/schemas/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/requests_decorators.py
Owners: none

fix path
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

mocked access to file package
  services/datcore-adapter/tests/unit/test_route_files.py
Owners: none

correctly check if files is empty
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/schemas/datasets.py
Owners: none

now all running through the REST api added file size
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/schemas/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

refactoring return file link correctly
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/files.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

fix returned values for frontend
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
Owners: @mguidon,, @pcrespov

getting dataset files
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

download links working listing datasets working listing files in datasets working
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_settings.py
  services/storage/src/simcore_service_storage/datcore_adapter/director_adapter_exceptions.py
  services/storage/src/simcore_service_storage/db_tokens.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
Owners: @mguidon,, @pcrespov

pennsieve testing works both in mock and real mode
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
  services/datcore-adapter/tests/unit/test_route_files.py
Owners: none

get dataset or collection
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

removes pdb
  services/storage/src/simcore_service_storage/datcore.py
Owners: @mguidon,, @pcrespov

adding new list of files for huge amounts
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/schemas/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

unused fixture
  services/storage/tests/conftest.py
Owners: @mguidon,, @pcrespov

correct documentation
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
Owners: none

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov
