Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov

fixed director-v2 tests
  services/director-v2/tests/unit/test_core_settings.py
Owners: @sanderegg,, @pcrespov

minor refactoring
  services/web/client/source/class/osparc/file/FilePicker.js
Owners: @odeimaiz,, @ignapas

Bring back the blue line when dropping a file
  services/web/client/source/class/osparc/file/FilePicker.js
Owners: @odeimaiz,, @ignapas

turnIntoFileUI improved
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

backend libs added to About page
  services/web/client/source/class/osparc/About.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/About.js
Owners: @odeimaiz,, @ignapas

backend provides hardcoded list
  services/web/client/source/class/osparc/About.js
  services/web/client/source/class/osparc/utils/LibVersions.js
  services/web/server/src/simcore_service_webserver/statics_settings.py
Owners: @odeimaiz,, @ignapas, @pcrespov

Update services/web/server/src/simcore_service_webserver/statics_settings.py
  services/web/server/src/simcore_service_webserver/statics_settings.py
Owners: @pcrespov

Update statics_settings.py
  services/web/server/src/simcore_service_webserver/statics_settings.py
Owners: @pcrespov

Update LibVersions.js
  services/web/client/source/class/osparc/utils/LibVersions.js
Owners: @odeimaiz,, @ignapas

refactoring
  services/web/client/source/class/osparc/component/widget/NodesSlidesTree.js
Owners: @odeimaiz,, @ignapas

refresh tree after sorting
  services/web/client/source/class/osparc/component/widget/NodesSlidesTree.js
Owners: @odeimaiz,, @ignapas

comments
  services/web/client/source/class/osparc/dashboard/CollaboratorListItem.js
Owners: @odeimaiz,, @ignapas

filter out services that can't be connected
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
Owners: @odeimaiz,, @ignapas

fix port edge position bug
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

Sim4Life also uses the dark/light themes
  services/web/client/compile.json
Owners: @odeimaiz,, @ignapas

Login Page refactored
  services/web/client/source/class/osparc/auth/LoginPage.js
  services/web/client/source/class/osparc/auth/ui/LoginView.js
Owners: @odeimaiz,, @ignapas

S4L specific login page
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/auth/LoginPage.js
  services/web/client/source/class/osparc/auth/LoginPageS4L.js
  services/web/client/source/resource/osparc/s4l_splitimage.jpeg
Owners: @odeimaiz,, @ignapas

splitimage extended and fitting screen
  services/web/client/source/class/osparc/auth/LoginPageS4L.js
  services/web/client/source/resource/osparc/s4l_splitimage.jpeg
Owners: @odeimaiz,, @ignapas

login with logo
  services/web/client/source/class/osparc/auth/LoginPage.js
  services/web/client/source/class/osparc/auth/LoginPageS4L.js
Owners: @odeimaiz,, @ignapas

version-link white
  services/web/client/source/class/osparc/auth/LoginPageS4L.js
Owners: @odeimaiz,, @ignapas

inputs background color
  services/web/client/source/class/osparc/auth/LoginPageS4L.js
Owners: @odeimaiz,, @ignapas

theme switcher improved
  services/web/client/source/class/osparc/ui/switch/ThemeSwitcher.js
Owners: @odeimaiz,, @ignapas

styling goes in the theme
  services/web/client/source/class/osparc/auth/LoginPageS4L.js
Owners: @odeimaiz,, @ignapas

ThemeBlue default for S4L
  services/web/client/compile.json
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/desktop/preferences/pages/ExperimentalPage.js
Owners: @odeimaiz,, @ignapas

styling the login page
  services/web/client/source/class/osparc/auth/LoginPageS4L.js
Owners: @odeimaiz,, @ignapas

extend ColorBlue
  services/web/client/source/class/osparc/theme/ColorBlue.js
Owners: @odeimaiz,, @ignapas

added missing changes
  packages/settings-library/src/settings_library/base.py
  services/director-v2/src/simcore_service_director_v2/modules/scheduler.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
Owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov

fixing workflow
  .github/workflows/ci-testing-deploy.yml
Owners: none

fixes issues with imagename
  services/director-v2/tests/conftest.py
Owners: @sanderegg,, @pcrespov

switching to default
  services/director-v2/.env-devel
Owners: @sanderegg,, @pcrespov

refactored
  services/director-v2/tests/unit/test_core_settings.py
Owners: @sanderegg,, @pcrespov

reverted test
  services/director-v2/tests/conftest.py
Owners: @sanderegg,, @pcrespov

trying to debug
  packages/settings-library/src/settings_library/base.py
Owners: @pcrespov,, @sanderegg

fixed validator for CI
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
Owners: @sanderegg,, @pcrespov

added todo before merging
  packages/settings-library/src/settings_library/base.py
Owners: @pcrespov,, @sanderegg

downgrading dependency which causes issues
  services/dynamic-sidecar/requirements/_tools.txt
Owners: @GitHK

pylint
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
Owners: @GitHK

lighhtblue out
  services/web/client/source/class/osparc/theme/ColorLightBlue.js
  services/web/client/source/class/osparc/theme/ThemeLightBlue.js
Owners: @odeimaiz,, @ignapas
