Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

Handles timeout exceptions
  services/api-server/src/simcore_service_api_server/api/dependencies/files.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
Owners: @pcrespov

✨🗑️♻️🐛 Adds parameters in catalog for meta-modeling (⚠️ devops) and extras (#2432)
  .env-devel
  .gitignore
  api/specs/common/schemas/node-meta-v0.0.1.json
  packages/models-library/src/models_library/frontend_services_catalog.py
  packages/models-library/src/models_library/services.py
  packages/models-library/tests/test_frontend_services_catalog.py
  packages/models-library/tests/test_services.py
  services/catalog/.env-devel
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
  services/catalog/tests/unit/test_services_director.py
  services/catalog/tests/unit/with_dbs/test_services_access_rights.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/tests/unit/test_db_comp_tasks.py
  services/director-v2/tests/unit/test_models_comp_pipelines.py
  services/director-v2/tests/unit/test_models_comp_runs.py
  services/director-v2/tests/unit/test_models_comp_tasks.py
  services/docker-compose.yml
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/web/server/src/simcore_service_webserver/constants.py
  services/web/server/src/simcore_service_webserver/projects/module_setup.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_node_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/src/simcore_service_webserver/settings.py
  services/web/server/src/simcore_service_webserver/studies_access.py
Owners: @sanderegg,, @pcrespov, @pcrespov,, @sanderegg, @mguidon,

left write timeout as before
  services/api-server/src/simcore_service_api_server/api/routes/files.py
Owners: @pcrespov

Only changes related to parameters
  services/web/client/source/class/osparc/component/form/Auto.js
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/component/form/tag/TagManager.js
  services/web/client/source/class/osparc/component/metadata/ClassifiersEditor.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
  services/web/client/source/class/osparc/component/permissions/Study.js
  services/web/client/source/class/osparc/component/study/SaveAsTemplate.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTreeItem.js
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/EdgeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/StudyParametrizer.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/client/source/class/osparc/theme/Font.js
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/web/client/source/class/osparc/ui/window/Confirmation.js
  services/web/client/source/class/osparc/utils/Ports.js
  services/web/client/source/class/osparc/utils/Services.js
  services/web/client/source/class/osparc/viewer/NodeViewer.js
  services/web/client/source/class/osparc/wrapper/Svg.js
  tests/e2e/tests/tags.test.js
  tests/e2e/tutorials/tutorialBase.js
Owners: @odeimaiz,, @ignapas

minor fix
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @ignapas

🚑️ API upload timeout (#2433)
  services/api-server/src/simcore_service_api_server/api/dependencies/files.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
Owners: @pcrespov

minor fix
  services/director-v2/tests/unit/test_db_comp_tasks.py
Owners: @sanderegg,, @pcrespov

smaller font for the parameter values
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/theme/Font.js
Owners: @odeimaiz,, @ignapas

circle insted of "in" and "out" ports
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
Owners: @odeimaiz,, @ignapas

slightly wider parameter nodeUI
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

[skip ci] larger portSphereDiameter
  services/web/client/source/class/osparc/wrapper/Svg.js
Owners: @odeimaiz,, @ignapas

[skip ci] removed node shadow
  services/web/client/source/class/osparc/theme/Decoration.js
Owners: @odeimaiz,, @ignapas

[skip ci] circles fit
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/wrapper/Svg.js
Owners: @odeimaiz,, @ignapas

[skip ci] puzzle like in/out ports
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/wrapper/Svg.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/widget/PersistentIframe.js
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @ignapas

renaming
  services/web/client/source/class/osparc/component/widget/NodeOutput.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

[skip ci] add dotted circle in connected ports
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
Owners: @odeimaiz,, @ignapas

dot-circle working
  services/web/client/source/class/osparc/data/model/Workbench.js
Owners: @odeimaiz,, @ignapas

[skip ci] circle-dot working with temp edge
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

sync-dropdown with schema
  services/web/client/source/class/osparc/component/form/Auto.js
Owners: @odeimaiz,, @ignapas

sync-dropdown with schema (#2436)
  services/web/client/source/class/osparc/component/form/Auto.js
Owners: @odeimaiz,, @ignapas

[skip ci] inputOutputLayout refactored
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

minor fixes
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @ignapas

ToolTip node name with hover if name is too long
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
Owners: @odeimaiz,, @ignapas

Less circular parameters
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

Parameter value aligned with node label
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

adding more debugging info for test_core_service_running when fialing
  tests/swarm-deploy/test_swarm_runs.py
Owners: none

minor
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
Owners: @odeimaiz,, @ignapas

adding more debug logging
  tests/swarm-deploy/test_swarm_runs.py
Owners: none

removing failing command
  tests/swarm-deploy/test_swarm_runs.py
Owners: none

fix test causing CI to fail
  tests/swarm-deploy/test_swarm_runs.py
Owners: none

renaming
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

show cursor when hovering link
  services/web/client/source/class/osparc/wrapper/Svg.js
Owners: @odeimaiz,, @ignapas

fixes broken integration tests
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  packages/simcore-sdk/tests/integration/test_filemanager.py
  packages/simcore-sdk/tests/integration/test_nodeports.py
  packages/simcore-sdk/tests/integration/test_nodeports2.py
  services/director-v2/tests/integration/test_computation_api.py
  services/director-v2/tests/unit/with_dbs/test_modules_scheduler.py
  services/docker-compose.local.yml
  services/docker-compose.yml
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/integration/02/test_computation.py
Owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov

removed not neededmmigration service
  services/director-v2/tests/unit/with_dbs/test_modules_scheduler.py
Owners: @sanderegg,, @pcrespov

trying to fix failing tests
  packages/simcore-sdk/tests/integration/test_filemanager.py
  services/web/server/tests/integration/01/test_exporter.py
Owners: @pcrespov

errors no longer suppressed
  packages/settings-library/src/settings_library/base.py
Owners: @pcrespov,, @sanderegg

fixes interaction after moving a node
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov
