Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov

fix rest api paths
  services/director-v2/tests/unit/test_modules_director_v0.py
Owners: @sanderegg,, @pcrespov

fixing names of settings
  services/director-v2/tests/unit/test_modules_celery.py
  services/director-v2/tests/unit/test_modules_director_v0.py
  services/director-v2/tests/unit/test_modules_docker_registry.py
Owners: @sanderegg,, @pcrespov

@pcrespov review: use long names
  services/director-v2/requirements/_base.in
Owners: @sanderegg,, @pcrespov

fixing issues with factory method
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/monitor.py
Owners: @sanderegg,, @pcrespov

fixed unit tests removed docker registry module as unused
  services/director-v2/.env-devel
  services/director-v2/docker-compose-extra.yml
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/docker_registry.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_modules_celery.py
  services/director-v2/tests/unit/test_modules_director_v0.py
  services/director-v2/tests/unit/test_modules_docker_registry.py
Owners: @sanderegg,, @pcrespov

linting
  services/director-v2/tests/conftest.py
Owners: @sanderegg,, @pcrespov

fix integration test
  services/director-v2/src/simcore_service_director_v2/core/settings.py
Owners: @sanderegg,, @pcrespov

♻️ Maintenance/Director-v2 to use settings library (#2427)
  packages/settings-library/src/settings_library/docker_registry.py
  services/director-v2/.env-devel
  services/director-v2/docker-compose-extra.yml
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/requirements/ci.txt
  services/director-v2/requirements/dev.txt
  services/director-v2/requirements/prod.txt
  services/director-v2/setup.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/celery.py
  services/director-v2/src/simcore_service_director_v2/modules/db/events.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/docker_registry.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/remote_debug.py
  services/director-v2/src/simcore_service_director_v2/modules/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/tracing.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_modules_celery.py
  services/director-v2/tests/unit/test_modules_director_v0.py
  services/director-v2/tests/unit/test_modules_docker_registry.py
Owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov

increase timeout for sync operation
  services/web/server/src/simcore_service_webserver/storage_handlers.py
Owners: @pcrespov

fix unbound variable
  packages/service-library/src/servicelib/monitoring.py
Owners: @pcrespov

@pcrespov review: refactoring
  packages/service-library/src/servicelib/monitoring.py
Owners: @pcrespov

linter
  packages/service-library/src/servicelib/monitoring.py
Owners: @pcrespov

linter
  services/web/server/src/simcore_service_webserver/storage_handlers.py
Owners: @pcrespov

fix typo
  services/director-v2/requirements/_base.in
Owners: @sanderegg,, @pcrespov

fix issue with removed pipeline
  services/director-v2/src/simcore_service_director_v2/modules/scheduler.py
Owners: @sanderegg,, @pcrespov

renamed monitor to scheduler
  services/director-v2/.env-devel
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/__init__.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/module_setup.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/test_dynamic_sidecar_monitor.py
  services/director-v2/tests/unit/test_models_dynamic_services.py
Owners: @sanderegg,, @pcrespov

🐛 Bugfix/clean storage issue (#2421)
  packages/service-library/src/servicelib/monitoring.py
  services/director-v2/requirements/_base.in
  services/director-v2/src/simcore_service_director_v2/modules/scheduler.py
  services/web/server/src/simcore_service_webserver/storage_handlers.py
Owners: @pcrespov, @sanderegg,

added missing task states
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
Owners: @sanderegg,, @pcrespov

updated link with reference
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
Owners: @sanderegg,, @pcrespov

updated doc references
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
Owners: @sanderegg,, @pcrespov

removed unused env-vars
  services/docker-compose.yml
Owners: none

parameters-btn out and minor
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
Owners: @odeimaiz,, @ignapas

added mising permissions
  services/director-v2/docker/entrypoint.sh
Owners: @sanderegg,, @pcrespov

[skip ci] minor
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
Owners: @pcrespov,, @sanderegg

Allow running parametrized studies
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
Owners: @sanderegg,, @pcrespov

changed order of states
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
Owners: @sanderegg,, @pcrespov

updated comment
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
Owners: @sanderegg,, @pcrespov

added more tests
  services/director-v2/tests/unit/test_models_dynamic_services.py
Owners: @sanderegg,, @pcrespov

flexible isFieldParametrizable
  services/web/client/source/class/osparc/component/form/Auto.js
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
  services/web/client/source/class/osparc/utils/Services.js
Owners: @odeimaiz,, @ignapas

minor
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
Owners: @sanderegg,, @pcrespov

using proper naming
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
Owners: @sanderegg,, @pcrespov

added tests to ensure expected ordering
  services/director-v2/tests/unit/test_models_dynamic_services.py
Owners: @sanderegg,, @pcrespov

renamed test files to reflect code structure
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_monitor.py
Owners: @sanderegg,, @pcrespov

migration service starts an http server
  services/migration/Dockerfile
  services/migration/README.md
  services/migration/docker/entrypoint.sh
  services/migration/src/server.py
Owners: @pcrespov

resyncs director-v2 drequirements with master branch (#7)
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
Owners: @sanderegg,, @pcrespov

renamed test
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
Owners: @sanderegg,, @pcrespov

added wait-for script
  scripts/common-docker-boot/README.md
  scripts/common-docker-boot/wait-for
  tests/environment-setup/test_used_wait_for.py
Owners: @pcrespov

exposed service on all ports
  services/migration/docker/entrypoint.sh
Owners: @pcrespov

added wait-for in docker files
  services/api-server/Dockerfile
  services/catalog/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/sidecar/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Owners: @pcrespov, @pcrespov,, @sanderegg, @sanderegg,, @mguidon, @mguidon,
