Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @oetiker,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
Makefile                                  @pcrespov, @sanderegg
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg

# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/models-library/                 @sanderegg, @pcrespov
/packages/service-library/                @pcrespov
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/catalog/                        @pcrespov, @sanderegg
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/web/client/                     @odeimaiz, @oetiker, @ignapas
/services/web/server/                     @pcrespov
/services/storage/                        @mguidon
/tests/public-api/                        @pcrespov

requirements/*                            @pcrespov
tools/*                                   @pcrespov

increase contrast for scroll bars
  services/web/client/source/class/osparc/theme/ColorDark.js
Owners: @odeimaiz,, @oetiker,, @ignapas

ignore URLSearchParams
  services/web/client/source/class/osparc/utils/Utils.js
Owners: @odeimaiz,, @oetiker,, @ignapas

adds minio in tests reqs for sidecar
  services/sidecar/requirements/_test.in
  services/sidecar/requirements/_test.txt
Owners: @pcrespov,, @mguidon

removes s3wrapper dependency from pytest-simcore
  .vscode/settings.template.json
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
Owners: @pcrespov,, @sanderegg

adds missing pytest-plugin
  packages/simcore-sdk/tests/conftest.py
  services/sidecar/tests/conftest.py
Owners: @pcrespov,, @mguidon

fixes healtcheck in mino
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
Owners: @pcrespov,, @sanderegg

removes s3wrapper dependency from swarm-deploy
  tests/swarm-deploy/requirements/_test.in
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/requirements/ci.txt
  tests/swarm-deploy/requirements/dev.txt
Owners: none

moved s3wrapper inside storage
  packages/s3wrapper/requirements/Makefile
  packages/s3wrapper/requirements/_base.in
  packages/s3wrapper/requirements/_base.txt
  packages/s3wrapper/requirements/_test.in
  packages/s3wrapper/requirements/_test.txt
  packages/s3wrapper/requirements/_tools.in
  packages/s3wrapper/requirements/_tools.txt
  packages/s3wrapper/requirements/dev.txt
  packages/s3wrapper/setup.py
  packages/s3wrapper/src/s3wrapper/__init__.py
  packages/s3wrapper/tests/conftest.py
  packages/s3wrapper/tests/docker-compose.yml
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/ci.txt
  services/storage/requirements/dev.txt
  services/storage/requirements/prod.txt
  services/storage/setup.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/s3.py
  services/storage/src/simcore_service_storage/s3wrapper/__init__.py
  services/storage/src/simcore_service_storage/s3wrapper/s3_client.py
  services/storage/tests/conftest.py
  services/storage/tests/test_minio.py
  services/storage/tests/test_s3_client.py
Owners: @pcrespov,, @sanderegg, @mguidon

adds minio in tests reqs for simcore-sdk
  packages/simcore-sdk/requirements/_test.in
  packages/simcore-sdk/requirements/_test.txt
Owners: none

Fixes minio deprecated functionality
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/s3wrapper/s3_client.py
  services/storage/tests/s3wrapper/test_s3_client.py
Owners: @pcrespov,, @sanderegg, @mguidon

adds minio in tests reqs for swarm-deploy
  tests/swarm-deploy/requirements/_test.in
  tests/swarm-deploy/requirements/_test.txt
Owners: none

Fixes minio in pytest-simcore
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_service.py
Owners: @pcrespov,, @sanderegg

fixes reqs
  services/storage/requirements/_test.txt
Owners: @mguidon

Cleanup pytest_simcore.minio_service and some extra monkeypatch fixtures
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
  packages/pytest-simcore/src/pytest_simcore/monkeypatch_extra.py
Owners: @pcrespov,, @sanderegg

removes s3wrapper dependency from sidecar
  services/sidecar/requirements/_base.in
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_packages.in
  services/sidecar/requirements/_packages.txt
  services/sidecar/requirements/_test.txt
  services/sidecar/requirements/ci.txt
  services/sidecar/requirements/dev.txt
  services/sidecar/requirements/prod.txt
  services/sidecar/setup.py
Owners: @pcrespov,, @mguidon

minor fix test in storage
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_service.py
Owners: @pcrespov,, @sanderegg

removes s3wrapper dependency from web/server
  services/web/server/requirements/ci.txt
  services/web/server/requirements/dev.txt
  services/web/server/requirements/prod.txt
  services/web/server/setup.py
Owners: @pcrespov

removes s3wrapper dependency from simcore-skd
  packages/simcore-sdk/requirements/_base.in
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/ci.txt
  packages/simcore-sdk/requirements/dev.txt
  packages/simcore-sdk/setup.py
Owners: none

moved to a subfolder former s3wrapper tests
  services/storage/tests/s3wrapper/__init__.py
  services/storage/tests/s3wrapper/test_minio.py
  services/storage/tests/s3wrapper/test_s3_client.py
Owners: @mguidon

minor
  packages/pytest-simcore/src/pytest_simcore/environment_configs.py
Owners: @pcrespov,, @sanderegg

removes s3wrapper dependency from api-server
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
Owners: @pcrespov

typo
  services/sidecar/tests/conftest.py
Owners: @pcrespov,, @mguidon

git fixes simcore-sdk requirements constraints
  packages/simcore-sdk/requirements/_test.in
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.in
  packages/simcore-sdk/requirements/_tools.txt
Owners: none

minor comment
  requirements/constraints.txt
Owners: @pcrespov

Revert "Fixes minio deprecated functionality"
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/s3wrapper/s3_client.py
  services/storage/tests/s3wrapper/test_s3_client.py
Owners: @pcrespov,, @sanderegg, @mguidon

upgardes minio in storage
  services/storage/requirements/_base.txt
Owners: @mguidon

fixes cleanup and refactors retry
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
Owners: @pcrespov,, @sanderegg

Scroll bars: Increase contrast (#2297)
  services/web/client/source/class/osparc/theme/ColorDark.js
  services/web/client/source/class/osparc/utils/Utils.js
Owners: @odeimaiz,, @oetiker,, @ignapas
