Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

refactored SimcoreServiceLabels
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/tests/test_service_settings_labels.py
Owners: @sanderegg,, @pcrespov

improved readability
  packages/models-library/tests/test_service_settings_labels.py
Owners: @sanderegg,, @pcrespov

refacted application setup for dynamic_sidecar
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_director_v0.py
Owners: @sanderegg,, @pcrespov

[skip_ci] renaming
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

ParameterLabel editable
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

refactored some imports
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/constants.py
Owners: @sanderegg,, @pcrespov

using direct assignment
  services/director-v2/src/simcore_service_director_v2/models/domains/dynamic_services.py
Owners: @sanderegg,, @pcrespov

Parameter Editor is a form
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

moved to constants
  services/director-v2/src/simcore_service_director_v2/models/schemas/constants.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/monitor.py
Owners: @sanderegg,, @pcrespov

increse coverage
  services/director-v2/tests/unit/test_dynamic_sidecar_monitor.py
Owners: @sanderegg,, @pcrespov

[skip ci] populateExistingParamsMenu checks types
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
Owners: @odeimaiz,, @ignapas

default values for parameters
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @ignapas

boolean to string in outputs
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTreeItem.js
Owners: @odeimaiz,, @ignapas

[skip ci] text-22
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/theme/Font.js
Owners: @odeimaiz,, @ignapas

refactored and inheriting from common models
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/services.py
  packages/models-library/tests/test_service_settings_labels.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/monitor.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
Owners: @sanderegg,, @pcrespov

parameterNodeRequested
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/utils/Services.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/utils/Services.js
Owners: @odeimaiz,, @ignapas

open Parameter Editor
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/utils/Ports.js
Owners: @odeimaiz,, @ignapas

[skip ci] minor
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
Owners: @odeimaiz,, @ignapas

[skip ci] minor
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
Owners: @odeimaiz,, @ignapas

[skip ci] minor fix
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTreeItem.js
Owners: @odeimaiz,, @ignapas

refactor to inherit from common model
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/monitor.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
  services/director-v2/tests/unit/test_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/test_models_dynamic_services.py
Owners: @sanderegg,, @pcrespov

"Parameters" button hidden
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
Owners: @odeimaiz,, @ignapas

Fill up snapshots table with iterators cols
  services/web/client/source/class/osparc/component/snapshots/Snapshots.js
  services/web/client/source/class/osparc/data/model/Study.js
Owners: @odeimaiz,, @ignapas

added dask library
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
Owners: @sanderegg,, @pcrespov

extracted settings env var
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
Owners: @sanderegg,, @pcrespov

fixing typos in docstrings
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/web/server/tests/integration/01/test_garbage_collection.py
Owners: @sanderegg,, @pcrespov, @GitHK

upgraded settings. use settings-library
  packages/settings-library/src/settings_library/docker_registry.py
  services/director-v2/setup.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/celery.py
  services/director-v2/src/simcore_service_director_v2/modules/dask.py
  services/director-v2/src/simcore_service_director_v2/modules/db/events.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/docker_registry.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/remote_debug.py
  services/director-v2/src/simcore_service_director_v2/modules/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/tracing.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_modules_celery.py
  services/director-v2/tests/unit/test_modules_director_v0.py
  services/director-v2/tests/unit/test_modules_docker_registry.py
Owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov

add dependency to settings-library
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/ci.txt
  services/director-v2/requirements/dev.txt
  services/director-v2/requirements/prod.txt
Owners: @sanderegg,, @pcrespov

added intra-ops requirements
  services/director-v2/requirements/_base.txt
Owners: @sanderegg,, @pcrespov

raising error insterad
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
Owners: @sanderegg,, @pcrespov

removed dask
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
Owners: @sanderegg,, @pcrespov

removed defaults
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
Owners: @sanderegg,, @pcrespov

added and enhanced docstrings
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
Owners: @sanderegg,, @pcrespov

linter
  services/director-v2/tests/conftest.py
Owners: @sanderegg,, @pcrespov

fix tests and access to new settings names
  services/director-v2/tests/unit/test_modules_celery.py
  services/director-v2/tests/unit/test_modules_director_v0.py
Owners: @sanderegg,, @pcrespov

remove unused
  services/director-v2/src/simcore_service_director_v2/core/settings.py
Owners: @sanderegg,, @pcrespov

minor refactoring
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_dynamic_sidecar_docker_api.py
Owners: @sanderegg,, @pcrespov

foxed test
  services/director-v2/tests/unit/test_dynamic_sidecar_monitor.py
Owners: @sanderegg,, @pcrespov

@pcrespov review: this file is not needed here
  services/director-v2/src/simcore_service_director_v2/modules/dask.py
Owners: @sanderegg,, @pcrespov

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov
