Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @mguidon, @oetiker,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
Makefile                                  @pcrespov, @sanderegg
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/pytest-simcore                  @pcrespov, @sanderegg
/packages/models-library                  @sanderegg, @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/api-server                      @pcrespov
/services/catalog                         @pcrespov, @sanderegg
/services/migration                       @pcrespov
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov
tools/*                                   @pcrespov

also trigger on state change
  packages/postgres-database/src/simcore_postgres_database/migration/versions/d67672189ce1_comp_task_trigger_shall.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
Owners: none

improve testing feedback
  services/sidecar/tests/integration/test_sidecar.py
Owners: @pcrespov,, @mguidon

cleaning
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
Owners: @pcrespov

show elapsed time in test
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

removed new column from db
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
Owners: @pcrespov

add test for empty pipeline
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

review @GitHK show enum name
  services/sidecar/src/simcore_service_sidecar/core.py
Owners: @pcrespov,, @mguidon

fix timeout
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

fix tests
  services/web/server/tests/unit/with_dbs/fast/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Owners: @pcrespov

fix error in GUI when nodeData is null
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

timeout increase
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

fuse changes in one migration file
  packages/postgres-database/src/simcore_postgres_database/migration/versions/009c81406676_add_project_running_state.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/d67672189ce1_comp_task_trigger_shall.py
Owners: none

added published state
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
Owners: @sanderegg,, @pcrespov, @mguidon

updated json schema for projects
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
  services/web/server/src/simcore_service_webserver/computation_handlers.py
Owners: @sanderegg,, @pcrespov, @mguidon

linting
  packages/simcore-sdk/src/simcore_sdk/config/rabbit.py
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

missing requirements
  services/sidecar/requirements/_test.in
  services/sidecar/requirements/_test.txt
Owners: @pcrespov,, @mguidon

remove unnecessary log
  services/sidecar/src/simcore_service_sidecar/core.py
Owners: @pcrespov,, @mguidon

added published state
  packages/models-library/src/models_library/projects.py
Owners: @sanderegg,, @pcrespov

if published for more than defined amount of time. allow restarting
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

pylint
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

added published state
  packages/postgres-database/src/simcore_postgres_database/migration/versions/009c81406676_add_project_running_state.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_pipeline.py
Owners: none

give more information
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
Owners: @pcrespov

fixed test assertions
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Owners: @pcrespov

increase timeout
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

review @pcrespov put on top
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

fix deprecation warning
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
Owners: @pcrespov

print current time as well
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

fixing tests
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Owners: @pcrespov

review @pcrespov change to capitalized enums
  packages/models-library/src/models_library/projects.py
Owners: @sanderegg,, @pcrespov

pylint
  services/sidecar/src/simcore_service_sidecar/core.py
Owners: @pcrespov,, @mguidon

increase timeout for CI machines
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

do published test first
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

add functions to update node state and project state
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/socketio/events.py
Owners: @pcrespov

put the publication timeout in the settings
  packages/simcore-sdk/src/simcore_sdk/config/rabbit.py
  services/web/server/src/simcore_service_webserver/computation_api.py
  services/web/server/src/simcore_service_webserver/computation_config.py
Owners: @pcrespov

adds testing of computation pipeline states
  services/web/server/src/simcore_service_webserver/computation_api.py
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

return dictionary not ProjectState
  services/web/server/tests/unit/with_dbs/fast/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Owners: @pcrespov

prepare test for recovering from bad state
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

filter out running_state... probably not needed
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
Owners: @pcrespov

add better logging to find what happens in the CI
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

review @pcrespov changed enum values
  services/web/server/src/simcore_service_webserver/computation_handlers.py
  services/web/server/tests/unit/with_dbs/fast/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Owners: @pcrespov
