Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov

minor
  services/web/client/source/class/osparc/wrapper/Html2canvas.js
Owners: @odeimaiz,, @ignapas

[skip ci] working put to s3
  services/web/client/source/class/osparc/store/Data.js
Owners: @odeimaiz,, @ignapas

codestyle
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_api.py
Owners: @sanderegg,, @pcrespov

services are now queried for availability
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
Owners: @sanderegg,, @pcrespov

ensure failing build actually fails the CI
  Makefile
Owners: @pcrespov,, @sanderegg

push to s3 and render working
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/store/Data.js
Owners: @odeimaiz,, @ignapas

add dependabot for internal github actions
  .github/dependabot.yml
Owners: none

use setup-buildx-action@v1
  .github/workflows/ci-release.yml
  .github/workflows/ci-staging.yml
  .github/workflows/ci-testing-deploy.yml
  ci/github/helpers/setup_docker_compose.bash
  ci/github/helpers/setup_docker_experimental.bash
Owners: @sanderegg,, @pcrespov

add docker driver to ensure --load is done automatically
  .github/workflows/ci-testing-deploy.yml
Owners: none

fix test of installed docker-composes
  tests/environment-setup/test_used_docker_compose.py
Owners: @pcrespov

Larger ServiceCatalog
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
Owners: @odeimaiz,, @ignapas

no build at the moment
  .github/workflows/ci-testing-deploy.yml
Owners: none

♻️ Maintenance/fix docker buildx in CI (#2457)
  .github/dependabot.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-staging.yml
  .github/workflows/ci-testing-deploy.yml
  ci/github/helpers/setup_docker_compose.bash
  ci/github/helpers/setup_docker_experimental.bash
  tests/environment-setup/test_used_docker_compose.py
Owners: @sanderegg,, @pcrespov

avoids GC restarts upon errors
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
Owners: @pcrespov

added get_services timeout
  packages/models-library/src/models_library/settings/services_common.py
  services/web/server/src/simcore_service_webserver/director_v2.py
Owners: @sanderegg,, @pcrespov

locking is not required when recoviring the state
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
Owners: @sanderegg,, @pcrespov

missing matrix
  .github/workflows/ci-testing-deploy.yml
Owners: none

use setup-buildx-action@v1
  .github/workflows/ci-testing-deploy.yml
Owners: none

no build at the moment
  .github/workflows/ci-testing-deploy.yml
Owners: none

Maintenance/fix docker buildx (#2460)
  .github/workflows/ci-testing-deploy.yml
Owners: none

minor
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
Owners: @odeimaiz,, @ignapas

[skip ci] use ServiceButtonSmall
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
  services/web/client/source/class/osparc/component/service/ServiceList.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
Owners: @odeimaiz,, @ignapas

refactoring and renaming
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
Owners: @pcrespov

speeding up orphaned services removal
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
Owners: @pcrespov

[skip ci] minor aesthetics
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
Owners: @odeimaiz,, @ignapas

[skip ci] not needed
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
Owners: @odeimaiz,, @ignapas

[skip ci] Jumbos not used anymore
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
  services/web/client/source/class/osparc/component/service/ServiceJumbo.js
  services/web/client/source/class/osparc/component/service/ServiceList.js
  services/web/client/source/class/osparc/theme/Appearance.js
  services/web/client/source/class/osparc/ui/form/Jumbo.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
Owners: @odeimaiz,, @ignapas

stopping services no longer hang on first error
  services/web/server/src/simcore_service_webserver/director_v2.py
Owners: @pcrespov

stopping services will no longer raise errors
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
Owners: @pcrespov

[skip ci] more aesthetics
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
Owners: @odeimaiz,, @ignapas

extend doc
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
Owners: @pcrespov

fixing tests
  services/web/server/tests/unit/with_dbs/06/test_projects_02.py
Owners: @pcrespov

reverting changes
  packages/models-library/src/models_library/settings/services_common.py
  services/web/server/src/simcore_service_webserver/director_v2.py
Owners: @sanderegg,, @pcrespov

disable test that fails too much
  tests/swarm-deploy/test_swarm_runs.py
Owners: none

use fixture to check that stack is deployed before testing
  tests/swarm-deploy/conftest.py
  tests/swarm-deploy/test_service_restart.py
  tests/swarm-deploy/test_swarm_runs.py
Owners: none

use fixture to check that stack is deployed before testing (#2462)
  tests/swarm-deploy/conftest.py
  tests/swarm-deploy/test_service_restart.py
  tests/swarm-deploy/test_swarm_runs.py
Owners: none

fixed worfklow file
  .github/workflows/ci-testing-deploy.yml
Owners: none

refactor
  packages/models-library/src/models_library/settings/services_common.py
Owners: @sanderegg,, @pcrespov

minor
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
Owners: @odeimaiz,, @ignapas
