Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @mguidon, @oetiker,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
Makefile                                  @pcrespov, @sanderegg
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/pytest-simcore                  @pcrespov, @sanderegg
/packages/models-library                  @sanderegg, @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/api-server                      @pcrespov
/services/catalog                         @pcrespov, @sanderegg
/services/migration                       @pcrespov
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov
tools/*                                   @pcrespov

cleanup
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

logs
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
Owners: @pcrespov

formatting @pcrespov review
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
Owners: @pcrespov

changed state type to enum
  packages/postgres-database/src/simcore_postgres_database/sidecar_models.py
  packages/postgres-database/tests/fake_creators.py
  packages/simcore-sdk/src/simcore_sdk/models/pipeline_models.py
  services/web/server/src/simcore_service_webserver/computation_api.py
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

fix is_output_changed function
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
Owners: @pcrespov

use indirect flag
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

return correct pipeline status
  services/web/server/src/simcore_service_webserver/computation_api.py
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

coroutine
  services/sidecar/tests/integration/test_sidecar.py
Owners: @pcrespov,, @mguidon

ensure the time difference is positive
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

parametrized values are created at test import time...
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

review @pcrespov init variable only once
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

simplify and check the node states
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
Owners: @pcrespov

celery needs the kwargs arguments in the handler to start
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

review @pcrespov remove code that does not work with relative imports
  packages/models-library/src/models_library/projects.py
Owners: @sanderegg,, @pcrespov

cleaning
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

simplify usage of getting state of pipeline
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Owners: @pcrespov

fix test
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Owners: @pcrespov

fix test
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

use the published state as well
  services/sidecar/src/simcore_service_sidecar/core.py
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov,, @mguidon, @pcrespov

typo
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Owners: @pcrespov

more logs
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
Owners: @pcrespov

changed state type to enum
  services/sidecar/src/simcore_service_sidecar/core.py
  services/sidecar/src/simcore_service_sidecar/utils.py
Owners: @pcrespov,, @mguidon

use a state type in the database for easier reading
  packages/postgres-database/src/simcore_postgres_database/migration/versions/009c81406676_add_project_running_state.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_pipeline.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
Owners: none

formatting
  services/sidecar/src/simcore_service_sidecar/boot_mode.py
  services/sidecar/src/simcore_service_sidecar/celery_log_setup.py
  services/sidecar/src/simcore_service_sidecar/db.py
  services/sidecar/src/simcore_service_sidecar/executor.py
  services/sidecar/src/simcore_service_sidecar/mpi_lock.py
  services/sidecar/src/simcore_service_sidecar/rabbitmq.py
  services/sidecar/tests/conftest.py
  services/sidecar/tests/integration/conftest.py
  services/sidecar/tests/unit/test_celery_configurator.py
  services/sidecar/tests/unit/test_code_syntax.py
  services/sidecar/tests/unit/test_log_parser.py
  services/sidecar/tests/unit/test_rabbitmq.py
Owners: @pcrespov,, @mguidon

ensure test runs correctly
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

pylint
  services/web/server/src/simcore_service_webserver/computation_api.py
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
Owners: @pcrespov

missing changes after changing enum names
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

renamed enum
  services/web/server/tests/integration/computation/test_computation.py
Owners: @pcrespov

review @pcrespov unnecessary and_
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

clean
  services/sidecar/src/simcore_service_sidecar/core.py
Owners: @pcrespov,, @mguidon

Fixes time snapshots in parameters
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Owners: @pcrespov

do not add a column in the database it is useless
  packages/postgres-database/src/simcore_postgres_database/migration/versions/d67672189ce1_comp_task_trigger_shall.py
Owners: none
