Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

renaming
  services/web/client/source/class/osparc/component/node/DataIteratorNodeView.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

refactoring
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

IteratorWithOutput
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

getFirstOutput
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/theme/Font.js
Owners: @odeimaiz,, @ignapas

created requirements with python 3.8
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
Owners: none

build the new service
  Makefile
  services/docker-compose-build.yml
  services/docker-compose.devel.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
Owners: @pcrespov,, @sanderegg

added dependency to models-libary
  services/datcore-adapter/setup.py
Owners: none

adding ready route
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/dependencies/pennsieve.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/health.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/test_route_health.py
Owners: none

Revert "separate requirements"
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_base_fastapi.in
  packages/service-library/requirements/_base_fastapi.txt
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.in
  packages/service-library/requirements/ci.txt
  packages/service-library/requirements/dev.txt
Owners: @pcrespov

Revert "added fastapi folder"
  packages/service-library/src/servicelib/fastapi/__init__.py
  packages/service-library/src/servicelib/fastapi/app_data.py
  packages/service-library/src/servicelib/fastapi/client_base.py
  packages/service-library/src/servicelib/fastapi/client_decorators.py
  packages/service-library/tests/fastapi/test_utils_app_data.py
  packages/service-library/tests/fastapi/test_utils_client_base.py
Owners: @pcrespov

separate requirements
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_base_fastapi.in
  packages/service-library/requirements/_base_fastapi.txt
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.in
  packages/service-library/requirements/ci.txt
  packages/service-library/requirements/dev.txt
Owners: @pcrespov

added option to allow to directly test pennsieve
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

small refactoring improvement
  Makefile
Owners: @pcrespov,, @sanderegg

added fastapi
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
Owners: @pcrespov

get download link
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/domains/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

added datasets route use v0 prefix
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/module_setup.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/domains/__init__.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/domains/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/schemas/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
  services/datcore-adapter/tests/unit/test_route_files.py
  services/datcore-adapter/tests/unit/test_route_health.py
Owners: none

move fixtures to conftest
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

100% coverage
  services/datcore-adapter/tests/unit/test_utils_client_base.py
Owners: none

simplify pennsieve headers
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
  services/datcore-adapter/tests/unit/test_route_files.py
Owners: none

added fastapi folder
  packages/service-library/src/servicelib/fastapi/__init__.py
  packages/service-library/src/servicelib/fastapi/app_data.py
  packages/service-library/src/servicelib/fastapi/client_base.py
  packages/service-library/src/servicelib/fastapi/client_decorators.py
  packages/service-library/tests/fastapi/test_utils_app_data.py
  packages/service-library/tests/fastapi/test_utils_client_base.py
Owners: @pcrespov

now checks the datasets
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

refactor
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/health.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

fix healthcheck endpoint
  services/datcore-adapter/Dockerfile
Owners: none

Revert "adding missing libraries"
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
Owners: @pcrespov

get all files
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/schemas/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

install pennsieve agent
  services/datcore-adapter/Dockerfile
Owners: none

set exit code for datcore-adapter
  tests/swarm-deploy/test_service_restart.py
Owners: none

fix test swarm run test
  tests/swarm-deploy/test_swarm_runs.py
Owners: none

typo
  services/docker-compose.yml
Owners: none

checking health
  services/datcore-adapter/tests/unit/test_route_health.py
Owners: none

adding missing libraries
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
Owners: @pcrespov

high coverage
  services/datcore-adapter/.env-devel
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/module_setup.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/health.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/db/repositories/__init__.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/meta.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_health.py
Owners: none

added httpx
  services/datcore-adapter/requirements/_base.in
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
Owners: none

added pennsieve client
  services/datcore-adapter/requirements/_base.in
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
Owners: none

add unit test for datcore
  .github/workflows/ci-testing-deploy.yml
  ci/github/unit-testing/datcore-adapter.bash
Owners: @sanderegg,, @pcrespov

added some test libraries
  services/datcore-adapter/requirements/_test.in
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
Owners: none

update to python 3.8
  services/datcore-adapter/Dockerfile
  services/datcore-adapter/setup.py
Owners: none

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov
