Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @mguidon, @oetiker,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
Makefile                                  @pcrespov, @sanderegg
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/catalog                         @pcrespov
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov
tools/*                                   @pcrespov

WIP: Building service image
  services/docker-compose-build.yml
  services/public-api-gateway/Makefile
Owners: @pcrespov,, @sanderegg

Adapts makefile
  services/api-gateway/Makefile
Owners: @pcrespov,, @sanderegg

Adds script to launch sdk generator
  scripts/openapi-generator-cli
Owners: none

Renamed source folder
  services/api-gateway/docker/boot.sh
  services/api-gateway/src/simcore_service_api_gateway/__init__.py
  services/api-gateway/src/simcore_service_api_gateway/__main__.py
  services/api-gateway/src/simcore_service_api_gateway/__version__.py
  services/api-gateway/src/simcore_service_api_gateway/auth.py
  services/api-gateway/src/simcore_service_api_gateway/auth_security.py
  services/api-gateway/src/simcore_service_api_gateway/config.py
  services/api-gateway/src/simcore_service_api_gateway/crud_users.py
  services/api-gateway/src/simcore_service_api_gateway/db.py
  services/api-gateway/src/simcore_service_api_gateway/endpoints_diagnostics.py
  services/api-gateway/src/simcore_service_api_gateway/endpoints_users.py
  services/api-gateway/src/simcore_service_api_gateway/main.py
  services/api-gateway/src/simcore_service_api_gateway/schemas.py
  services/api-gateway/src/simcore_service_api_gateway/utils/__init__.py
  services/api-gateway/src/simcore_service_api_gateway/utils/helpers.py
  services/api-gateway/src/simcore_service_api_gateway/utils/remote_debug.py
Owners: none

Adding some helpers for security
  services/public-api-gateway/src/simcore_service_public_api_gateway/utils/helpers.py
  services/public-api-gateway/src/simcore_service_public_api_gateway/utils/security.py
  services/public-api-gateway/tests/unit/test_utils.py
Owners: none

LInter
  services/public-api-gateway/tests/unit/test_code_syntax.py
Owners: none

api: Creating template for each module
  services/public-api-gateway/requirements/dev.txt
  services/public-api-gateway/scripts/generate_endpoints.py
  services/public-api-gateway/scripts/templates/cruds.py.jinja2
  services/public-api-gateway/scripts/templates/orm.py.jinja2
  services/public-api-gateway/scripts/templates/resource_custom_methods.py.jinja2
  services/public-api-gateway/scripts/templates/resource_standard_methods.py.jinja2
  services/public-api-gateway/scripts/templates/schemas.py.jinja2
Owners: none

Sets up api-gateway unittest in github
  .github/workflows/ci-testing-deploy.yml
  ci/github/unit-testing/api-gateway.bash
Owners: @sanderegg,, @pcrespov

Basic unit tests pass
  services/api-gateway/src/simcore_service_api_gateway/auth_security.py
  services/api-gateway/src/simcore_service_api_gateway/schemas.py
Owners: none

Fixes auth issue
  services/api-gateway/Makefile
  services/api-gateway/src/simcore_service_api_gateway/auth_security.py
  services/api-gateway/src/simcore_service_api_gateway/endpoints_auth.py
Owners: @pcrespov,, @sanderegg

Refactor main app so is more testable
  services/api-gateway/setup.py
  services/api-gateway/src/simcore_service_api_gateway/__main__.py
  services/api-gateway/src/simcore_service_api_gateway/app_factory.py
  services/api-gateway/src/simcore_service_api_gateway/application.py
  services/api-gateway/src/simcore_service_api_gateway/crud_users.py
  services/api-gateway/src/simcore_service_api_gateway/db.py
  services/api-gateway/src/simcore_service_api_gateway/main.py
Owners: none

Cleanup
  services/api-gateway/Makefile
  services/api-gateway/src/simcore_service_api_gateway/main.py
Owners: @pcrespov,, @sanderegg

Updates script Changes extension Adds notes on how to replace $PWD for auto volume binding
  scripts/openapi-generator-cli.bash
Owners: none

cleanup
  services/api-gateway/src/simcore_service_api_gateway/auth.py
  services/api-gateway/src/simcore_service_api_gateway/endpoints_auth.py
Owners: none

Formatting
  services/api-gateway/Makefile
  services/api-gateway/docker/healthcheck.py
  services/api-gateway/setup.py
  services/api-gateway/src/simcore_service_api_gateway/__main__.py
  services/api-gateway/src/simcore_service_api_gateway/__version__.py
  services/api-gateway/src/simcore_service_api_gateway/auth_security.py
  services/api-gateway/src/simcore_service_api_gateway/config.py
  services/api-gateway/src/simcore_service_api_gateway/db.py
  services/api-gateway/src/simcore_service_api_gateway/main.py
  services/api-gateway/src/simcore_service_api_gateway/schemas.py
  services/api-gateway/src/simcore_service_api_gateway/utils/helpers.py
  services/api-gateway/src/simcore_service_api_gateway/utils/remote_debug.py
  services/api-gateway/tests/unit/conftest.py
  services/api-gateway/tests/unit/test_code_syntax.py
  services/api-gateway/tools/gen_api.py
Owners: @pcrespov,, @sanderegg

Maintenance Makefiles repo-base is now deduced on top
  packages/postgres-database/Makefile
  packages/service-library/Makefile
  scripts/common.Makefile
  services/director/Makefile
  services/storage/Makefile
  services/web/server/Makefile
Owners: @pcrespov,, @sanderegg, @pcrespov, @mguidon

Cleanup tests
  services/api-gateway/tests/unit/test_auth_security.py
  services/api-gateway/tests/unit/with_dbs/conftest.py
  services/api-gateway/tests/unit/with_dbs/docker-compose.yml
  services/api-gateway/tests/unit/with_dbs/test_entrypoint_dags.py
Owners: none

Adapts catalog to new common makefile
  services/catalog/Makefile
Owners: @pcrespov

runs
  services/api-gateway/Makefile
  services/api-gateway/src/simcore_service_api_gateway/application.py
  services/api-gateway/src/simcore_service_api_gateway/auth.py
  services/api-gateway/src/simcore_service_api_gateway/auth_security.py
  services/api-gateway/src/simcore_service_api_gateway/db.py
  services/api-gateway/src/simcore_service_api_gateway/main.py
Owners: @pcrespov,, @sanderegg

Adds api-gateway service to travis
  .travis.yml
  ci/travis/unit-testing/api-gateway.bash
Owners: @sanderegg, @sanderegg,, @pcrespov

Selection logic improved
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserListBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserListItem.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Creates a dockerfile in python:3.6.10-slim
  services/api-gateway/Dockerfile
  services/api-gateway/docker/boot.sh
  services/api-gateway/docker/entrypoint.sh
Owners: none

Formatting docker-compose files
  services/docker-compose-build.yml
  services/docker-compose-ops.yml
  services/docker-compose.devel.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
Owners: none

Adding pydantic settings to replace config
  services/api-gateway/src/simcore_service_api_gateway/settings.py
  services/api-gateway/tests/unit/test_settings.py
Owners: none

Fixes settings tests
  services/api-gateway/src/simcore_service_api_gateway/settings.py
  services/api-gateway/tests/unit/test_settings.py
Owners: none

Fixes settings
  services/api-gateway/src/simcore_service_api_gateway/settings.py
  services/api-gateway/tests/unit/test_settings.py
Owners: none

minor
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/dashboard/Dashboard.js
Owners: @odeimaiz,, @oetiker,, @ignapas

initResources improved
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

More promises
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

refactoring
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

SaveAsTemplate from Menu working
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Formatted deploy
  .github/workflows/ci-testing-deploy.yml
Owners: none

Fixes actions workflow
  .github/workflows/ci-testing-deploy.yml
Owners: none
