Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @pcrespov,, @mguidon, @oetiker,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/.travis.yml                              @sanderegg
/api/                                     @sanderegg, @pcrespov
/ops/                                     @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/dy*                             @sanderegg
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov

Fix Makefile
  Makefile
Owners: none

comment out get_project_progress
  api/specs/webserver/v0/openapi-projects.yaml
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Owners: @sanderegg,, @pcrespov

comment out get_project_progress (2)
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Owners: @pcrespov

define _gridPos for PropForm
  services/web/client/source/class/qxapp/component/form/renderer/PropForm.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/qxapp/component/form/renderer/PropForm.js
Owners: @odeimaiz,, @oetiker,, @ignapas

getProgress callback added
  services/web/client/source/class/qxapp/component/form/renderer/PropForm.js
  services/web/client/source/class/qxapp/data/model/Node.js
  services/web/client/source/class/qxapp/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

porgress propagated to the node and port
  services/web/client/source/class/qxapp/component/form/renderer/PropForm.js
  services/web/client/source/class/qxapp/data/model/Node.js
  services/web/client/source/class/qxapp/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Fixed template list refresh issues
  services/web/client/source/class/qxapp/desktop/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Fixes naming and remove dependency to avoid adding tools
  Makefile
  services/docker-compose-inst.yml
Owners: none

Save template taking into account the recent metadata changes
  services/web/client/source/class/qxapp/desktop/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Adjusted version
  services/docker-compose.cache.yml
Owners: none

Option to toogle access instead of feature
  services/web/server/src/simcore_service_webserver/studies_access.py
Owners: @pcrespov

Removed unused configs to ease maintenance
  services/web/server/src/simcore_service_webserver/config/host-dev-config.yaml
  services/web/server/src/simcore_service_webserver/config/server-template.yaml
Owners: @pcrespov

WIP
  services/web/server/tests/unit/with_postgres/test_guests_management.py
Owners: @pcrespov

Fixed utils
  ops/travis/system-testing/tests/test_swarm_runs.py
Owners: @sanderegg,, @pcrespov

Cleanup: Removes old configs for webserver
  services/web/server/src/simcore_service_webserver/config/host-dev-config.yaml
  services/web/server/src/simcore_service_webserver/config/server-template.yaml
Owners: @pcrespov

Fix: catches responses with exceptions
  packages/service-library/src/servicelib/monitoring.py
Owners: @pcrespov

Add monitoring_enabled flag in webserver
  .env-devel
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_config.py
  services/web/server/src/simcore_service_webserver/config/server-defaults.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-dev.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-prod.yaml
Owners: @pcrespov

Disabled monitoring from tests to avoid multiple registred
  services/web/server/tests/unit/with_postgres/config.yaml
Owners: @pcrespov

Fixes type for environs in config schema
  services/web/server/src/simcore_service_webserver/application_config.py
Owners: @pcrespov

Disabled monitoring inother services
  services/director/src/simcore_service_director/main.py
  services/storage/src/simcore_service_storage/application.py
Owners: @mguidon

Updated tools: - removed flower - added grafana with basic setup - removed dependencies from core-services
  services/docker-compose.tools.yml
Owners: none

Study to template (#906)
  api/specs/webserver/v0/openapi-projects.yaml
  services/web/client/source/class/qxapp/data/Permissions.js
  services/web/client/source/class/qxapp/desktop/StudyBrowser.js
  services/web/client/source/class/qxapp/io/rest/ResourceFactory.js
  services/web/server/src/simcore_service_webserver/data/fake-template-projects.isan.old.json
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/test_projects_utils.py
  services/web/server/tests/unit/test_security_access_model.py
  services/web/server/tests/unit/test_studies_access.py
  services/web/server/tests/unit/test_template_projects.py
  services/web/server/tests/unit/with_postgres/test_projects.py
Owners: @sanderegg,, @pcrespov, @odeimaiz,, @oetiker,, @ignapas

Make eslint happy
  services/web/client/source/class/qxapp/component/service/NodeStatus.js
  services/web/client/source/class/qxapp/data/model/Node.js
  services/web/client/source/class/qxapp/ui/basic/Chip.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Make eslint happy
  services/web/client/source/class/qxapp/component/service/NodeStatus.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Solved bug where all hint info buttons were visible at start. Removed useless HintManager
  services/web/client/source/class/qxapp/component/form/FieldWHint.js
  services/web/client/source/class/qxapp/component/hint/HintManager.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Now the FieldWHint visibility is bound to the one from its field
  services/web/client/source/class/qxapp/component/form/FieldWHint.js
Owners: @odeimaiz,, @oetiker,, @ignapas

patch buggy check on https protocol in visualizer code
  services/web/server/src/simcore_service_webserver/reverse_proxy/handlers/paraview.py
Owners: @pcrespov

write window.location.protocol instead of location.protocol
  services/web/server/src/simcore_service_webserver/reverse_proxy/handlers/paraview.py
Owners: @pcrespov

Patch paraview websocket (#915)
  services/web/server/src/simcore_service_webserver/reverse_proxy/handlers/paraview.py
Owners: @pcrespov

Update db after querying filesize and modify stamp
  services/storage/src/simcore_service_storage/dsm.py
Owners: @mguidon

WIP
  services/web/server/tests/unit/with_postgres/test_guests_management.py
Owners: @pcrespov

Fixes path
  ops/travis/system-testing/tests/test_swarm_runs.py
Owners: @sanderegg,, @pcrespov

Fix stupid bug
  services/storage/src/simcore_service_storage/dsm.py
Owners: @mguidon

Reviews from @sanderegg: - removed port mapping in maintenance service - added health-check
  Makefile
  services/docker-compose-inst.devel.yml
  services/docker-compose-inst.yml
  services/maintenance/Dockerfile
Owners: none

Finally decided to removed docker-compose-inst.yml
  Makefile
  ops/travis/system-testing/tests/test_swarm_runs.py
  services/docker-compose-inst.yml
  services/docker-compose.yml
  services/web/server/tests/integration-proxy/Makefile
Owners: @sanderegg,, @pcrespov

modified progress created converted project-progress api in json/yaml
  api/specs/webserver/v0/components/schemas/progress-v0.0.1.json
  api/specs/webserver/v0/components/schemas/project-progress-v0.0.1-converted.yaml
  api/specs/webserver/v0/components/schemas/project-progress-v0.0.1.json
  api/specs/webserver/v0/openapi-projects.yaml
Owners: @sanderegg,, @pcrespov

uuid/workbench are required
  api/specs/webserver/v0/components/schemas/project-progress-v0.0.1-converted.yaml
  api/specs/webserver/v0/components/schemas/project-progress-v0.0.1.json
Owners: @sanderegg,, @pcrespov

Replaces in template copy, the parametrization passed in the query
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/tests/unit/mock/parametrized_project.json
  services/web/server/tests/unit/test_template_projects.py
Owners: @pcrespov

auto save state when deleting service
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/rest/handlers.py
Owners: none
