Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @mguidon, @odeimaiz,, @oetiker,, @ignapas

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/api/                      @sanderegg, @pcrespov
/ops/                      @sanderegg, @pcrespov
/docs/                     @pcrespov
/packages/service-library  @pcrespov
/services/dy*              @sanderegg
/services/sidecar          @pcrespov, @mguidon
/services/web/client       @odeimaiz, @oetiker, @ignapas
/services/web/server       @pcrespov
/services/storage          @mguidon

requirements/*             @pcrespov
/.travis.yml     @sanderegg

correcting merge: remove simcore-sdk tests from unit test suite
  .travis.yml
  ops/travis/integration-testing/simcore-sdk.sh
  ops/travis/unit-testing/service-library
  ops/travis/unit-testing/simcore-sdk.sh
Owners: @sanderegg, @sanderegg,, @pcrespov

refactor
  .travis.yml
Owners: @sanderegg

renamed scripts to use no extension to follow
  .travis.yml
  ops/travis/build/test-images
  ops/travis/deploy/master
  ops/travis/deploy/production
  ops/travis/deploy/staging
  ops/travis/deploy/test-images
  ops/travis/helpers/build_docker_image_tag
  ops/travis/helpers/ensure_python_pip
  ops/travis/helpers/find_staging_version
  ops/travis/helpers/install_docker_compose
  ops/travis/helpers/show_system_versions
  ops/travis/helpers/slugify_name
  ops/travis/helpers/stop_postgres_service.sh
  ops/travis/helpers/test_for_changes
  ops/travis/integration-testing/simcore-sdk
  ops/travis/integration-testing/webserver
  ops/travis/system-testing/build_and_run
  ops/travis/unit-testing/README.md
  ops/travis/unit-testing/apihub
  ops/travis/unit-testing/director
  ops/travis/unit-testing/frontend
  ops/travis/unit-testing/python-linting
  ops/travis/unit-testing/storage
  ops/travis/unit-testing/webserver
Owners: @sanderegg, @sanderegg,, @pcrespov

set execution right on scripts
  ops/travis/integration-testing/webserver
  ops/travis/system-testing/build_and_run
  ops/travis/unit-testing/apihub
  ops/travis/unit-testing/director
  ops/travis/unit-testing/frontend
  ops/travis/unit-testing/python-linting
  ops/travis/unit-testing/sidecar
  ops/travis/unit-testing/storage
  ops/travis/unit-testing/webserver
Owners: @sanderegg,, @pcrespov

lint
  ops/travis/unit-testing/README.md
Owners: @sanderegg,, @pcrespov

minor
  .travis.yml
Owners: @sanderegg

add some documentation towards enabling travis
  README.md
Owners: none
