Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @pcrespov,, @mguidon, @oetiker,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/.travis.yml                              @sanderegg
/api/                                     @sanderegg, @pcrespov
/ops/                                     @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/dy*                             @sanderegg
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov

Final cleanup of studies_access
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/studies_access.py
Owners: @pcrespov

Updated template for master adding publish column
  scripts/demo/template-projects/converter.py
  scripts/demo/template-projects/templates_in_master.csv
  scripts/demo/template-projects/templates_in_master.json
Owners: @odeimaiz,, @pcrespov

Updated studies markdown
  scripts/demo/confirmations-invitations.csv
  scripts/demo/portal_markdown.md
Owners: @odeimaiz,, @pcrespov

Updates datcore
  scripts/demo/create_portal_markdown.py
  scripts/demo/portal_markdown.md
Owners: @odeimaiz,, @pcrespov

Trigger new build
  services/storage/README.md
Owners: @mguidon

Storage fix datcore copy delete (#925)
  Makefile
  services/storage/README.md
  services/storage/src/simcore_service_storage/datcore.py
  services/storage/src/simcore_service_storage/datcore_wrapper.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/tests/_test_rawdatcore.py
  services/storage/tests/conftest.py
  services/storage/tests/test_datcore.py
  services/storage/tests/test_dsm.py
Owners: @mguidon

PR review
  services/web/client/source/class/qxapp/component/workbench/NodeUI.js
  services/web/client/source/class/qxapp/statics/NodeStatics.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Collections can conatain collections
  services/storage/src/simcore_service_storage/datcore.py
Owners: @mguidon

Collections can contain collections (#930)
  services/storage/src/simcore_service_storage/datcore.py
Owners: @mguidon

Merged migration revisions
  packages/postgres-database/src/simcore_postgres_database/migration/versions/add5f60f0f67_adds_published_colums_in_projects_table.py
Owners: none

Is763/parametrized studies (#929)
  TODO.md
  packages/postgres-database/src/simcore_postgres_database/migration/versions/add5f60f0f67_adds_published_colums_in_projects_table.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  packages/service-library/src/servicelib/decorators.py
  packages/service-library/tests/test_decorators.py
  scripts/demo/confirmations-invitations.csv
  scripts/demo/create_portal_markdown.py
  scripts/demo/portal_markdown.md
  scripts/demo/template-projects/converter.py
  scripts/demo/template-projects/templates_in_master.csv
  scripts/demo/template-projects/templates_in_master.json
  scripts/template-projects/create_csv_table.py
  scripts/template-projects/template-projects-table.csv
  scripts/template-projects/templates_in_master.csv
  scripts/template-projects/templates_in_production.csv
  scripts/template-projects/templates_in_staging.csv
  services/storage/tests/data/projects.csv
  services/web/server/src/simcore_service_webserver/config/host-dev-config.yaml
  services/web/server/src/simcore_service_webserver/config/server-template.yaml
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/tests/helpers/utils_projects.py
  services/web/server/tests/unit/mock/parametrized_project.json
  services/web/server/tests/unit/test_template_projects.py
  services/web/server/tests/unit/with_postgres/test_access_to_studies.py
  services/web/server/tests/unit/with_postgres/test_guests_management.py
Owners: @pcrespov, @odeimaiz,, @mguidon

Study+Service metadata (#883)
  .github/PULL_REQUEST_TEMPLATE.md
  services/web/client/compile.json
  services/web/client/source/class/qxapp/Application.js
  services/web/client/source/class/qxapp/auth/LoginPage.js
  services/web/client/source/class/qxapp/component/filter/TextFilter.js
  services/web/client/source/class/qxapp/component/form/Auto.js
  services/web/client/source/class/qxapp/component/form/FieldWHint.js
  services/web/client/source/class/qxapp/component/form/IconButton.js
  services/web/client/source/class/qxapp/component/form/renderer/PropForm.js
  services/web/client/source/class/qxapp/component/metadata/ServiceInfo.js
  services/web/client/source/class/qxapp/component/metadata/ServiceInfoWindow.js
  services/web/client/source/class/qxapp/component/metadata/StudyInfo.js
  services/web/client/source/class/qxapp/component/service/NodeStatus.js
  services/web/client/source/class/qxapp/component/widget/JsonTreeWidget.js
  services/web/client/source/class/qxapp/component/widget/NodePorts.js
  services/web/client/source/class/qxapp/component/widget/NodeView.js
  services/web/client/source/class/qxapp/component/widget/NodesTree.js
  services/web/client/source/class/qxapp/component/widget/inputs/NodeOutputTree.js
  services/web/client/source/class/qxapp/component/workbench/NodeUI.js
  services/web/client/source/class/qxapp/component/workbench/ServiceCatalog.js
  services/web/client/source/class/qxapp/data/model/Node.js
  services/web/client/source/class/qxapp/desktop/ControlsBar.js
  services/web/client/source/class/qxapp/desktop/PanelView.js
  services/web/client/source/class/qxapp/desktop/ServiceBrowser.js
  services/web/client/source/class/qxapp/desktop/StudyBrowser.js
  services/web/client/source/class/qxapp/desktop/StudyEditor.js
  services/web/client/source/class/qxapp/statics/NodeStatics.js
  services/web/client/source/class/qxapp/theme/Appearance.js
  services/web/client/source/class/qxapp/theme/Color.js
  services/web/client/source/class/qxapp/theme/Decoration.js
  services/web/client/source/class/qxapp/theme/Font.js
  services/web/client/source/class/qxapp/ui/basic/Chip.js
  services/web/client/source/class/qxapp/ui/hint/Hint.js
  services/web/client/source/class/qxapp/utils/Utils.js
  services/web/client/source/resource/common/common.css
  services/web/client/source/resource/hint/hint.css
Owners: @odeimaiz,, @oetiker,, @ignapas

Fix retreival of collection from collection_id
  services/storage/src/simcore_service_storage/datcore.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/tests/_test_rawdatcore.py
  services/storage/tests/test_datcore.py
Owners: @mguidon

Fix file listings for deleted projects or not yet available files
  services/storage/src/simcore_service_storage/dsm.py
Owners: @mguidon

minor
  services/web/client/source/class/qxapp/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Initial trials for remote debugging
  services/docker-compose.devel.yml
  services/storage/docker/boot.sh
  services/storage/requirements/_base.txt
  services/storage/src/simcore_service_storage/application.py
Owners: @mguidon

minor
  services/web/client/source/class/qxapp/component/form/renderer/PropForm.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Review requests
  services/storage/src/simcore_service_storage/dsm.py
Owners: @mguidon

Allowed to include URLs as image sources for node thumbnails
  services/web/client/source/class/qxapp/component/workbench/NodeUI.js
  services/web/client/source/class/qxapp/utils/Utils.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Storage fix collection (#931)
  services/storage/src/simcore_service_storage/datcore.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/tests/_test_rawdatcore.py
  services/storage/tests/test_datcore.py
Owners: @mguidon

uuid of new project composed by template, user and parametrization
  services/web/server/src/simcore_service_webserver/studies_access.py
Owners: @pcrespov

minor
  services/web/client/source/class/qxapp/component/form/renderer/PropForm.js
  services/web/client/source/class/qxapp/data/model/Node.js
  services/web/client/source/class/qxapp/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Revert "minor"
  services/web/client/source/class/qxapp/component/form/renderer/PropForm.js
  services/web/client/source/class/qxapp/data/model/Node.js
  services/web/client/source/class/qxapp/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/qxapp/data/model/Node.js
  services/web/client/source/class/qxapp/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

retrieveInputs every time a data field is changed (add/remove link)
  services/web/client/source/class/qxapp/component/form/renderer/PropForm.js
  services/web/client/source/class/qxapp/data/model/Node.js
  services/web/client/source/class/qxapp/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

do not start getRetrieveProgressTimer
  services/web/client/source/class/qxapp/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

uuid of new project composed by template, user and parametrization (#933)
  services/web/server/src/simcore_service_webserver/studies_access.py
Owners: @pcrespov

Not adding thumbnails in Multiplot
  services/web/client/source/class/qxapp/component/widget/DashGrid.js
Owners: @odeimaiz,, @oetiker,, @ignapas

clean up ptvsd
  services/storage/docker/boot.sh
  services/storage/src/simcore_service_storage/application.py
Owners: @mguidon

List files would return everything if projects were empyt
  services/storage/src/simcore_service_storage/data/docker-dev-config.yaml
  services/storage/src/simcore_service_storage/data/docker-prod-config.yaml
  services/storage/src/simcore_service_storage/data/host-dev-config.yaml
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/tests/conftest.py
  services/storage/tests/test_dsm.py
  services/storage/tests/test_rest.py
Owners: @mguidon

List files would return everything if projects were empyt (#934)
  services/storage/src/simcore_service_storage/data/docker-dev-config.yaml
  services/storage/src/simcore_service_storage/data/docker-prod-config.yaml
  services/storage/src/simcore_service_storage/data/host-dev-config.yaml
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/tests/conftest.py
  services/storage/tests/test_dsm.py
  services/storage/tests/test_rest.py
Owners: @mguidon

Added environ to toggle invitation
  .env-devel
  TODO.md
  services/web/server/src/simcore_service_webserver/config/server-docker-prod.yaml
Owners: @pcrespov

Removed deprecated VENV2
  .env-devel
  Makefile
  services/storage/tests/test_configs.py
Owners: @mguidon

cleanup
  services/web/server/src/simcore_service_webserver/login/registration.py
Owners: @pcrespov

Is932/config invitations (#935)
  .env-devel
  Makefile
  TODO.md
  services/storage/tests/test_configs.py
  services/web/server/src/simcore_service_webserver/config/server-docker-prod.yaml
  services/web/server/src/simcore_service_webserver/login/registration.py
Owners: @mguidon, @pcrespov

Cleanup ptvsd setup and add some documentation
  .vscode-template/README.md
  .vscode-template/launch.json
  services/docker-compose.devel.yml
  services/storage/docker/boot.sh
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
Owners: @mguidon

Added canvg library to convert from svg to canvas (and then use the native toDataURL function to get a base64 image of a 2D plot)
  services/web/client/compile.json
  services/web/client/package-lock.json
  services/web/client/source/class/qxapp/component/workbench/NodeUI.js
  services/web/client/source/class/qxapp/data/model/Node.js
  services/web/client/source/resource/canvg/canvg.min.js
Owners: @odeimaiz,, @oetiker,, @ignapas
