Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @mguidon, @oetiker,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
Makefile                                  @pcrespov, @sanderegg
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/catalog                         @pcrespov
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov
tools/*                                   @pcrespov

minor
  services/web/client/source/class/osparc/desktop/MainPage.js
Owners: @odeimaiz,, @oetiker,, @ignapas

catch exception on sockteio connection
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
  services/web/server/src/simcore_service_webserver/socketio/handlers_utils.py
Owners: @pcrespov

fixes #1364
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

black format
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
Owners: @pcrespov

minor
  services/web/server/src/simcore_service_webserver/socketio/handlers_utils.py
Owners: @pcrespov

Fixes tests failure New variable expression in environs made test fail.
  services/storage/tests/test_configs.py
Owners: @mguidon

Fixes director tests Increased sleep time Formatted
  services/director/tests/fixtures/fake_services.py
  services/director/tests/test_registry_cache_task.py
Owners: none

Fixes e2e testing installation problem
  tests/e2e/Makefile
Owners: @pcrespov,, @sanderegg

Upgrades urllib3 in pg
  packages/postgres-database/requirements/_base.in
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.in
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
Owners: none

Updates urllib3 in s3wrapper
  packages/s3wrapper/requirements/_base.in
  packages/s3wrapper/requirements/_base.txt
  packages/s3wrapper/requirements/_test.txt
Owners: none

Updates urllib3 in storage
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
Owners: @mguidon

Updates urllib3 in director
  services/director/requirements/_base.in
  services/director/requirements/_base.txt
  services/director/requirements/_test.in
  services/director/requirements/_test.txt
Owners: none

Upgrades urllib3 in sidecar
  services/sidecar/requirements/_base.in
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_test.txt
Owners: @pcrespov,, @mguidon

catch exception on socketio connection (#1365)
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
  services/web/server/src/simcore_service_webserver/socketio/handlers_utils.py
Owners: @pcrespov

Fixes installation of pg in e2e testing
  tests/e2e/Makefile
Owners: @pcrespov,, @sanderegg

Minor
  services/storage/requirements/_base.in
Owners: @mguidon

increased log level. It took over 15mins to recover all container logs in debug!
  ci/github/system-testing/e2e.bash
  ci/travis/system-testing/e2e.bash
Owners: @sanderegg,, @pcrespov

[maintenance] upgrade urllib3 and psutil (#1366)
  packages/postgres-database/requirements/_base.in
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.in
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/s3wrapper/requirements/_base.in
  packages/s3wrapper/requirements/_base.txt
  packages/s3wrapper/requirements/_test.txt
  services/director/requirements/_base.in
  services/director/requirements/_base.txt
  services/director/requirements/_test.in
  services/director/requirements/_test.txt
  services/sidecar/requirements/_base.in
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
Owners: @pcrespov,, @mguidon

minor
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Bump babel-eslint from 8.2.6 to 10.1.0
  package-lock.json
  package.json
Owners: none

Bump eslint-config-qx from 0.1.0 to 0.2.6
  package-lock.json
  package.json
Owners: none

Bump eslint from 4.19.1 to 6.8.0
  package-lock.json
  package.json
Owners: none

indent: ["error", 2, { "SwitchCase": 1 }
  .eslintrc.json
Owners: none

three new rules added
  .eslintrc.json
Owners: none

Upgrading 10.1.0 fixes the 'no-unused-vars false positive with for-in loop' issue
  package-lock.json
  package.json
Owners: none

'no-redeclare' fixes
  services/web/client/source/class/osparc/auth/core/Utils.js
  services/web/client/source/class/osparc/desktop/DataBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

'no-redeclare' fixes II
  services/web/client/source/class/osparc/utils/Utils.js
Owners: @odeimaiz,, @oetiker,, @ignapas

make eslint happy
  services/web/client/source/class/osparc/file/FilesAdd.js
  services/web/client/source/class/osparc/file/FilesTree.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Update sleepers.js
  tests/e2e/tutorials/sleepers.js
Owners: none

tabs to the top
  services/web/client/source/class/osparc/desktop/Dashboard.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor refactoring
  services/web/client/source/class/osparc/desktop/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/desktop/StudyBrowserListItem.js
Owners: @odeimaiz,, @oetiker,, @ignapas

templates first
  services/web/client/source/class/osparc/desktop/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/desktop/StudyBrowserListItem.js
Owners: @odeimaiz,, @oetiker,, @ignapas

narrower and centered dashboard
  services/web/client/source/class/osparc/desktop/MainPage.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Configure host in different environs
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/config/server-docker-prod.yaml
Owners: @pcrespov

minor
  services/web/client/source/class/osparc/desktop/MainPage.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Configure host in different environs (#1389)
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/config/server-docker-prod.yaml
Owners: @pcrespov

all reqs/makefiles use requirements.Makefile
  packages/postgres-database/Makefile
  services/catalog/Makefile
  services/catalog/requirements/Makefile
  services/director/requirements/Makefile
  services/sidecar/requirements/Makefile
  services/storage/requirements/Makefile
  services/web/server/Makefile
  services/web/server/requirements/Makefile
Owners: @pcrespov,, @sanderegg, @pcrespov, @mguidon

Added reqs alias
  api/tests/Makefile
  tests/e2e/requirements/Makefile
  tests/swarm-deploy/Makefile
Owners: @sanderegg,, @pcrespov, @pcrespov,, @sanderegg
