Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov

nodeUuid -> nodeId
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

added test for checking that user get a notification
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
Owners: @pcrespov

✨Enhancement/detect user logged out (#2414)
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
Owners: @pcrespov

adds missing APIs
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/task.py
Owners: @sanderegg,, @pcrespov

moved shared fixtures
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_models_dynamic_services.py
Owners: @sanderegg,, @pcrespov

added tests for monitor
  services/director-v2/tests/unit/test_dynamic_sidecar_monitor.py
Owners: @sanderegg,, @pcrespov

renaming
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
Owners: @odeimaiz,, @ignapas

added fixture for the port
  services/director-v2/tests/unit/conftest.py
Owners: @sanderegg,, @pcrespov

codeclimate reducing module size
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/__init__.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/monitor.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
Owners: @sanderegg,, @pcrespov

getNodeType
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/ParameterUI.js
Owners: @odeimaiz,, @ignapas

trying to fix failing test in CI
  services/director-v2/tests/unit/test_dynamic_sidecar_monitor.py
Owners: @sanderegg,, @pcrespov

get rid of parametersUI array
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

moved ServiceType to models
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/tests/unit/test_dynamic_sidecar_docker_api.py
Owners: @sanderegg,, @pcrespov

mocked out missing env vars
  services/director-v2/tests/unit/test_dynamic_sidecar_monitor.py
Owners: @sanderegg,, @pcrespov

refactor shorter tag name
  services/director-v2/tests/unit/test_dynamic_sidecar_monitor.py
Owners: @sanderegg,, @pcrespov

removed caplog tests, not viable in CI
  services/director-v2/tests/unit/test_dynamic_sidecar_monitor.py
Owners: @sanderegg,, @pcrespov

Edge constructor updated
  services/web/client/source/class/osparc/data/model/Edge.js
  services/web/client/source/class/osparc/data/model/Workbench.js
Owners: @odeimaiz,, @ignapas

Fix bug in the way the webserver deps are computed
  services/web/server/requirements/Makefile
Owners: @pcrespov

Upgrade models-library
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/models-library/requirements/_tools.txt
Owners: @sanderegg,, @pcrespov

Edge constructor updated
  services/web/client/source/class/osparc/data/model/Edge.js
  services/web/client/source/class/osparc/data/model/Workbench.js
Owners: @odeimaiz,, @ignapas

update postgres-database deps
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/requirements/_tools.txt
Owners: none

Linking working. Tones of spaghetti :(
  services/web/client/source/class/osparc/component/workbench/EdgeUI.js
  services/web/client/source/class/osparc/component/workbench/ParameterUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Edge.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
Owners: @odeimaiz,, @ignapas

creating initial parameter links
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

Contribution to PR: adding dv2 monitor (#6)
  packages/models-library/tests/test_service_settings_labels.py
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
Owners: @sanderegg,, @pcrespov

fixed testds typing
  packages/models-library/tests/test_service_settings_labels.py
Owners: @sanderegg,, @pcrespov

reverted changes
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
Owners: @sanderegg,, @pcrespov

changed requirements
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
Owners: @sanderegg,, @pcrespov

minor refactor
  services/director-v2/src/simcore_service_director_v2/core/settings.py
Owners: @sanderegg,, @pcrespov

fix pylint deprected warning
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/abc.py
Owners: @sanderegg,, @pcrespov

added api to webserver
  api/specs/storage/openapi.yaml
  api/specs/webserver/components/schemas/locations.yaml
  api/specs/webserver/openapi-storage.yaml
  api/specs/webserver/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Owners: @sanderegg,, @pcrespov

new entrypoint to trigger synchronisation of the table with S3
  api/specs/storage/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
Owners: @sanderegg,, @pcrespov, @mguidon,

added storage route and tests
  services/web/server/src/simcore_service_webserver/storage_routes.py
  services/web/server/tests/unit/with_dbs/04/test_storage.py
Owners: @pcrespov

added entry point to sync storage
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/src/simcore_service_webserver/storage_handlers.py
Owners: @pcrespov

added entry point to manually synchronise file meta data table
  api/specs/storage/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_dsm.py
  services/storage/tests/utils.py
Owners: @sanderegg,, @pcrespov, @mguidon,

migrated to settings_library
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/task.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_dynamic_sidecar_monitor.py
Owners: @sanderegg,, @pcrespov

renamed to standard naming convention
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/monitor.py
Owners: @sanderegg,, @pcrespov

testing metrics endpoint
  tests/performance/locust_files/webserver_metrics_entrypoint_test.py
Owners: @pcrespov

@pcrespov refactored search
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
Owners: @sanderegg,, @pcrespov

added missing types
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
Owners: @sanderegg,, @pcrespov
