Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

minor
  services/web/client/source/class/osparc/auth/LoginPageS4L.js
Owners: @odeimaiz,, @ignapas

fix storage unit-tests
  services/storage/tests/unit/test_rest.py
Owners: @mguidon,, @pcrespov

Pass memory/cpu limits as env variables to dynamic service
  services/director/src/simcore_service_director/config.py
  services/director/src/simcore_service_director/producer.py
  services/director/tests/test_producer.py
Owners: @sanderegg,, @pcrespov

expanded errr logging
  packages/settings-library/src/settings_library/base.py
Owners: @pcrespov,, @sanderegg

removed and refactored compact format not usable by pydantic
  packages/settings-library/tests/conftest.py
  packages/settings-library/tests/test_base.py
  packages/settings-library/tests/test_postgres.py
Owners: @pcrespov,, @sanderegg

refactored .env files
  packages/settings-library/tests/mocks/.env-compact
  packages/settings-library/tests/mocks/.env-fails
  packages/settings-library/tests/mocks/.env-granular
  packages/settings-library/tests/mocks/.env-mixed
  packages/settings-library/tests/mocks/.env-sample
Owners: @pcrespov,, @sanderegg

removed extra param
  packages/settings-library/tests/test_base.py
Owners: @pcrespov,, @sanderegg

fixes director-v2 tests + forward slash strip validator
  .env-devel
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/tests/unit/test_core_settings.py
Owners: @sanderegg,, @pcrespov

no longer required
  services/director-v2/tests/conftest.py
Owners: @sanderegg,, @pcrespov

no longer required
  services/director-v2/tests/unit/test_core_settings.py
Owners: @sanderegg,, @pcrespov

Rename env var and add it also for comp. services
  services/director/src/simcore_service_director/config.py
  services/sidecar/src/simcore_service_sidecar/config.py
  services/sidecar/src/simcore_service_sidecar/executor.py
Owners: @sanderegg,, @pcrespov, @pcrespov,, @mguidon

updated name in CI
  .github/workflows/ci-testing-deploy.yml
Owners: none

Fix import error
  services/director/tests/test_producer.py
Owners: @sanderegg,, @pcrespov

Blue redefined until the theme repo gets released
  services/web/client/source/class/osparc/theme/ColorBlue.js
Owners: @odeimaiz,, @ignapas

renaming themes
  services/web/client/compile.json
  services/web/client/source/class/osparc/theme/ColorLightBlue.js
  services/web/client/source/class/osparc/theme/ThemeBlue.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/theme/ThemeLightBlue.js
Owners: @odeimaiz,, @ignapas

sorted alphabetically
  .env-devel
Owners: none

Its a list not a dict...
  services/sidecar/src/simcore_service_sidecar/executor.py
Owners: @pcrespov,, @mguidon

@neagu: a parameter is not runnable
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
Owners: @odeimaiz,, @ignapas

make sure parameter changes are applied
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
Owners: @odeimaiz,, @ignapas

thumbnails added
  services/web/server/src/simcore_service_webserver/statics_settings.py
Owners: @pcrespov

scaled, fitting the dic and left aligned
  services/web/client/source/class/osparc/About.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/About.js
Owners: @odeimaiz,, @ignapas

List backend libs/tools (#2439)
  services/web/client/source/class/osparc/About.js
  services/web/client/source/class/osparc/utils/LibVersions.js
  services/web/server/src/simcore_service_webserver/statics_settings.py
Owners: @odeimaiz,, @ignapas, @pcrespov

lib added
  services/web/client/source/resource/html2canvas/html2canvas.min.js
Owners: @odeimaiz,, @ignapas

[skip ci] html2canvas wrapper
  services/web/client/source/class/osparc/wrapper/Html2canvas.js
Owners: @odeimaiz,, @ignapas

osparc-s4l (#2442)
  services/web/client/compile.json
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/auth/LoginPage.js
  services/web/client/source/class/osparc/auth/LoginPageS4L.js
  services/web/client/source/class/osparc/auth/ui/LoginView.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ExperimentalPage.js
  services/web/client/source/class/osparc/theme/ColorBlue.js
  services/web/client/source/class/osparc/theme/ColorLightBlue.js
  services/web/client/source/class/osparc/theme/ThemeBlue.js
  services/web/client/source/class/osparc/ui/switch/ThemeSwitcher.js
  services/web/client/source/resource/osparc/s4l_splitimage.jpeg
Owners: @odeimaiz,, @ignapas

extending tests
  packages/settings-library/tests/conftest.py
  packages/settings-library/tests/test_cli_utils.py
Owners: @pcrespov,, @sanderegg

init Html2canvas
  services/web/client/source/class/osparc/dashboard/Dashboard.js
Owners: @odeimaiz,, @ignapas

takeScreenshot working
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Owners: @odeimaiz,, @ignapas

fixed test
  services/director-v2/tests/unit/test_core_settings.py
Owners: @sanderegg,, @pcrespov

added additional notes
  packages/settings-library/tests/test_cli_utils.py
Owners: @pcrespov,, @sanderegg

further extending notes
  packages/settings-library/tests/test_cli_utils.py
Owners: @pcrespov,, @sanderegg

MR requests
  packages/service-library/src/servicelib/resources.py
  services/director/src/simcore_service_director/config.py
  services/director/src/simcore_service_director/producer.py
  services/director/tests/test_producer.py
  services/sidecar/src/simcore_service_sidecar/config.py
  services/sidecar/src/simcore_service_sidecar/executor.py
Owners: @pcrespov, @sanderegg,, @pcrespov,, @mguidon

takeScreenshot returns a Promise
  services/web/client/source/class/osparc/wrapper/Html2canvas.js
Owners: @odeimaiz,, @ignapas

upload screenshot (not working)
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Owners: @odeimaiz,, @ignapas

🐛♻️ fix error suppression (#2438)
  .env-devel
  packages/settings-library/src/settings_library/base.py
  packages/settings-library/tests/conftest.py
  packages/settings-library/tests/mocks/.env-compact
  packages/settings-library/tests/mocks/.env-fails
  packages/settings-library/tests/mocks/.env-granular
  packages/settings-library/tests/mocks/.env-mixed
  packages/settings-library/tests/mocks/.env-sample
  packages/settings-library/tests/test_base.py
  packages/settings-library/tests/test_cli_utils.py
  packages/settings-library/tests/test_postgres.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/storage/tests/unit/test_rest.py
Owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov, @mguidon,

fixes failing fixture
  services/director-v2/tests/conftest.py
Owners: @sanderegg,, @pcrespov

make ANE happy
  services/director/src/simcore_service_director/config.py
Owners: @sanderegg,, @pcrespov

Pass memory/cpu limits as env variables to dynamic service (#2443)
  packages/service-library/src/servicelib/resources.py
  services/director/src/simcore_service_director/config.py
  services/director/src/simcore_service_director/producer.py
  services/director/tests/test_producer.py
  services/sidecar/src/simcore_service_sidecar/executor.py
Owners: @pcrespov, @sanderegg,, @pcrespov,, @mguidon

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov
