Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @mguidon, @oetiker,, @ignapas

add rabbitmq utils for retrial policy
  packages/service-library/src/servicelib/rabbitmq_utils.py
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
Owners: @pcrespov

linting
  packages/pytest-fixtures/environs.py
Owners: none

linting
  packages/pytest-fixtures/celery_service.py
  packages/pytest-fixtures/postgres_service.py
  packages/pytest-fixtures/redis_service.py
Owners: none

added minio service
  packages/pytest-fixtures/minio_service.py
  packages/service-library/src/servicelib/minio_utils.py
Owners: @pcrespov

linting
  packages/s3wrapper/src/s3wrapper/s3_client.py
Owners: none

fix path
  services/web/server/tests/conftest.py
Owners: @pcrespov

lintin
  packages/service-library/src/servicelib/rabbitmq_utils.py
  packages/service-library/src/servicelib/redis_utils.py
Owners: @pcrespov

added os environ for rabbit
  packages/pytest-fixtures/rabbit_service.py
Owners: none

improving test
  packages/pytest-fixtures/docker_registry.py
Owners: none

lintin
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
Owners: @pcrespov

added policy for celery retrials
  packages/pytest-fixtures/celery_service.py
  packages/service-library/src/servicelib/celery_utils.py
Owners: @pcrespov

unit tests not finding helpers
  services/web/server/tests/conftest.py
Owners: @pcrespov

use tenacity for checking simcore services
  packages/pytest-fixtures/docker_swarm.py
  packages/service-library/src/servicelib/simcore_service_utils.py
Owners: @pcrespov

do not print the path
  services/web/server/tests/integration/conftest.py
Owners: @pcrespov

rabbit fixture independent of webserver redis fixture independent of webserver
  packages/pytest-fixtures/rabbit_service.py
  packages/pytest-fixtures/redis_service.py
Owners: none

typo
  packages/pytest-fixtures/docker_swarm.py
Owners: none

moved helpers in common package
  packages/pytest-fixtures/docker_compose.py
  packages/pytest-fixtures/helpers/__init__.py
  packages/pytest-fixtures/helpers/utils_assert.py
  packages/pytest-fixtures/helpers/utils_docker.py
  packages/pytest-fixtures/helpers/utils_environs.py
  packages/pytest-fixtures/helpers/utils_login.py
  packages/pytest-fixtures/helpers/utils_projects.py
  packages/pytest-fixtures/helpers/utils_tokens.py
Owners: none

added new command line in pytest to make development faster
  packages/pytest-fixtures/docker_registry.py
  packages/pytest-fixtures/docker_swarm.py
Owners: none

moving fixtures to package pytest-fixtures
  packages/pytest-fixtures/__init__.py
  packages/pytest-fixtures/celery_service.py
  packages/pytest-fixtures/docker_compose.py
  packages/pytest-fixtures/docker_registry.py
  packages/pytest-fixtures/docker_swarm.py
  packages/pytest-fixtures/postgres_service.py
  packages/pytest-fixtures/rabbit_service.py
  packages/pytest-fixtures/redis_service.py
  packages/pytest-fixtures/websocket_client.py
  services/sidecar/tests/integration/fixtures/docker_registry.py
  services/sidecar/tests/integration/test_sidecar.py
  services/web/server/tests/integration/conftest.py
Owners: @pcrespov,, @mguidon, @pcrespov

back to normal
  packages/pytest-fixtures/docker_compose.py
Owners: none

minor
  packages/pytest-fixtures/docker_swarm.py
Owners: none

create rabbit connection with aio-pika
  packages/pytest-fixtures/rabbit_service.py
Owners: none

Minor: doc, format and minor changes
  packages/pytest-fixtures/celery_service.py
  packages/pytest-fixtures/docker_compose.py
  packages/pytest-fixtures/docker_registry.py
  packages/pytest-fixtures/docker_swarm.py
  packages/pytest-fixtures/environs.py
  packages/pytest-fixtures/helpers/utils_assert.py
  packages/pytest-fixtures/helpers/utils_docker.py
  packages/pytest-fixtures/helpers/utils_environs.py
  packages/pytest-fixtures/helpers/utils_login.py
  packages/pytest-fixtures/minio_service.py
  packages/pytest-fixtures/postgres_service.py
  packages/pytest-fixtures/rabbit_service.py
  packages/pytest-fixtures/redis_service.py
  packages/pytest-fixtures/simcore_storage_service.py
  packages/pytest-fixtures/websocket_client.py
Owners: none

collects all requirements of this folder
  packages/pytest-fixtures/temptative-requirements.txt
Owners: none

Created pytest-simcore plugin
  packages/pytest-simcore/README.md
  packages/pytest-simcore/setup.py
  packages/pytest-simcore/src/pytest_simcore/__init__.py
  packages/pytest-simcore/src/pytest_simcore/celery_service.py
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/pytest-simcore/src/pytest_simcore/environs.py
  packages/pytest-simcore/src/pytest_simcore/helpers/__init__.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_assert.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_environs.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_login.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_projects.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_tokens.py
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/pytest-simcore/src/pytest_simcore/redis_service.py
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_service.py
  packages/pytest-simcore/src/pytest_simcore/websocket_client.py
  packages/pytest-simcore/tests/conftest.py
  packages/pytest-simcore/tests/test_simcore.py
Owners: none

Test runs Import helpers properly Fixes setup
  packages/pytest-simcore/setup.py
  packages/pytest-simcore/src/pytest_simcore/__init__.py
  packages/pytest-simcore/src/pytest_simcore/celery_service.py
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/pytest-simcore/src/pytest_simcore/environs.py
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/pytest-simcore/src/pytest_simcore/redis_service.py
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_service.py
  packages/pytest-simcore/tests/test_simcore.py
Owners: none

renames test
  packages/pytest-simcore/tests/test_simcore_plugin.py
Owners: none

Final fixes in pytest plugin module
  packages/pytest-simcore/setup.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_login.py
Owners: none

Installs and uses pytest simcore plugin in webserver
  services/web/server/requirements/ci.txt
  services/web/server/requirements/dev.txt
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/computation/conftest.py
  services/web/server/tests/integration/computation/test_computation.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/integration/test_project_workflow.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/test_activity.py
  services/web/server/tests/unit/test_configs.py
  services/web/server/tests/unit/test_rest.py
  services/web/server/tests/unit/with_dbs/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/test_catalog_api.py
  services/web/server/tests/unit/with_dbs/test_change_email.py
  services/web/server/tests/unit/with_dbs/test_change_password.py
  services/web/server/tests/unit/with_dbs/test_guests_management.py
  services/web/server/tests/unit/with_dbs/test_login.py
  services/web/server/tests/unit/with_dbs/test_logout.py
  services/web/server/tests/unit/with_dbs/test_projects.py
  services/web/server/tests/unit/with_dbs/test_registration.py
  services/web/server/tests/unit/with_dbs/test_reset_password.py
  services/web/server/tests/unit/with_dbs/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/test_storage.py
  services/web/server/tests/unit/with_dbs/test_users.py
Owners: @pcrespov

Doc and cc config
  .codeclimate.yml
  packages/pytest-simcore/README.md
Owners: @sanderegg,, @pcrespov

Delete pytest-fixtures folder
  packages/pytest-fixtures/__init__.py
  packages/pytest-fixtures/celery_service.py
  packages/pytest-fixtures/docker_compose.py
  packages/pytest-fixtures/docker_registry.py
  packages/pytest-fixtures/docker_swarm.py
  packages/pytest-fixtures/environs.py
  packages/pytest-fixtures/helpers/__init__.py
  packages/pytest-fixtures/helpers/utils_assert.py
  packages/pytest-fixtures/helpers/utils_docker.py
  packages/pytest-fixtures/helpers/utils_environs.py
  packages/pytest-fixtures/helpers/utils_login.py
  packages/pytest-fixtures/helpers/utils_projects.py
  packages/pytest-fixtures/helpers/utils_tokens.py
  packages/pytest-fixtures/minio_service.py
  packages/pytest-fixtures/postgres_service.py
  packages/pytest-fixtures/rabbit_service.py
  packages/pytest-fixtures/redis_service.py
  packages/pytest-fixtures/simcore_storage_service.py
  packages/pytest-fixtures/temptative-requirements.txt
  packages/pytest-fixtures/websocket_client.py
Owners: none

Added makefile
  packages/pytest-simcore/Makefile
  packages/pytest-simcore/tests/test_simcore_plugin.py
Owners: @pcrespov,, @sanderegg

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
Makefile                                  @pcrespov, @sanderegg
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/catalog                         @pcrespov
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov
tools/*                                   @pcrespov
