Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov

auto install pennsieve agent
  services/datcore-adapter/Dockerfile
Owners: none

check health of pennsieve.io
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/dependencies/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/health.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/test_route_health.py
Owners: none

Revert "add fastapi extra installation in servicelib"
  packages/service-library/setup.py
Owners: @pcrespov

added pytest-xdist
  services/datcore-adapter/requirements/_test.in
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
Owners: none

Revert "added fastapi"
  packages/service-library/requirements/_base.in
Owners: @pcrespov

move files routes to its own module
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/module_setup.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/files.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/domains/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/domains/files.py
  services/datcore-adapter/tests/unit/test_route_files.py
Owners: none

test list files
  services/datcore-adapter/tests/unit/test_route_files.py
Owners: none

return meta data
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/domains/datasets.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

added dependency to service-library
  services/datcore-adapter/requirements/ci.txt
  services/datcore-adapter/requirements/dev.txt
  services/datcore-adapter/requirements/prod.txt
  services/datcore-adapter/setup.py
Owners: none

add fastapi extra installation in servicelib
  packages/service-library/setup.py
Owners: @pcrespov

ensure files are sorted
  requirements/base.Makefile
Owners: @pcrespov

creating list dataset files
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/domains/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

remove servicelib
  services/datcore-adapter/requirements/ci.txt
  services/datcore-adapter/requirements/dev.txt
  services/datcore-adapter/requirements/prod.txt
  services/datcore-adapter/setup.py
Owners: none

check data is returned
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

creating some tests
  services/datcore-adapter/tests/unit/test_route_files.py
Owners: none

useless for now
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/client_decorators.py
Owners: none

missing pytest-asyncio
  services/datcore-adapter/requirements/_test.in
  services/datcore-adapter/requirements/_test.txt
Owners: none

prepare fixtures for testing the app
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_health.py
Owners: none

trying to make things more flexible
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

connecting pennsieve client
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/health.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

added client base
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/app_data.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/client_base.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/client_decorators.py
  services/datcore-adapter/tests/unit/test_utils_app_data.py
  services/datcore-adapter/tests/unit/test_utils_client_base.py
Owners: none

check data returned
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

spare some calls
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

uploading now works
  services/datcore-adapter/Dockerfile
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

minor
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
Owners: none

speed improvement
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

added paging to list of datasets
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

removed datcore old files
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_exceptions.py
  services/storage/src/simcore_service_storage/datcore_wrapper.py
  services/storage/src/simcore_service_storage/dsm.py
Owners: @mguidon,, @pcrespov

disable upload for now fix test_cli
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_settings.py
Owners: @mguidon,, @pcrespov

@GitHK review: use tuple instead of list
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

use the REST API it's way faster
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

linter final
  services/storage/tests/conftest.py
Owners: @mguidon,, @pcrespov

list dataset in page mode
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/datasets.py
Owners: none

fixes links
  Makefile
Owners: @pcrespov,, @sanderegg

refactor tests
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Owners: none

adding missing functions
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
Owners: @mguidon,, @pcrespov

@GitHK review: make function private
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
Owners: none

added libraries for uploading
  services/datcore-adapter/requirements/_base.in
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
Owners: none

linter
  services/datcore-adapter/tests/unit/test_route_files.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/dsm.py
Owners: @mguidon,, @pcrespov

handling of errors
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/errors/__init__.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/errors/http_error.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/errors/pennsieve_error.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/errors/validation_error.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/module_setup.py
Owners: none
