Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov

post screenshot to imgur and set as thumbnail
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/store/Data.js
Owners: @odeimaiz,, @ignapas

added failing test
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_api.py
Owners: @sanderegg,, @pcrespov

network name now alloaws dashes
  packages/models-library/src/models_library/services.py
Owners: @sanderegg,, @pcrespov

[skip ci] minor
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/store/Data.js
  services/web/client/source/class/osparc/wrapper/Html2canvas.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/auth/LoginPage.js
Owners: @odeimaiz,, @ignapas

🐛 SIMCORE_SERVICES_NETWORK_NAME now allows dashes (#2447)
  packages/models-library/src/models_library/services.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_api.py
Owners: @sanderegg,, @pcrespov

moving undesired element to background
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

last fix
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Owners: @odeimaiz,, @ignapas

typing
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Owners: @pcrespov

bumping timeout to avoid test failing
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
Owners: @pcrespov

disable test
  tests/swarm-deploy/test_swarm_runs.py
Owners: none

disable test_swarm_runs (#2450)
  tests/swarm-deploy/test_swarm_runs.py
Owners: none

ensure celery uses redis_backend database 2
  packages/settings-library/src/settings_library/celery.py
Owners: @pcrespov,, @sanderegg

fixed cancellation of task ala python 3.8
  services/sidecar/src/simcore_service_sidecar/celery.py
  services/sidecar/src/simcore_service_sidecar/celery_task.py
  services/sidecar/src/simcore_service_sidecar/celery_task_utils.py
  services/sidecar/src/simcore_service_sidecar/cli.py
  services/sidecar/src/simcore_service_sidecar/rabbitmq.py
  services/sidecar/src/simcore_service_sidecar/utils.py
  services/sidecar/tests/unit/test_rabbitmq.py
Owners: @pcrespov,, @mguidon

no need to iterate once the task is found
  services/sidecar/src/simcore_service_sidecar/utils.py
Owners: @pcrespov,, @mguidon

🐛 aborting tasks fails (#2449)
  packages/settings-library/src/settings_library/celery.py
  services/sidecar/src/simcore_service_sidecar/celery.py
  services/sidecar/src/simcore_service_sidecar/celery_task.py
  services/sidecar/src/simcore_service_sidecar/celery_task_utils.py
  services/sidecar/src/simcore_service_sidecar/cli.py
  services/sidecar/src/simcore_service_sidecar/rabbitmq.py
  services/sidecar/src/simcore_service_sidecar/utils.py
  services/sidecar/tests/unit/test_rabbitmq.py
Owners: @pcrespov,, @sanderegg, @mguidon

removing unused metrics that might be the culprit
  packages/service-library/src/servicelib/monitor_services.py
  packages/service-library/src/servicelib/monitoring.py
  services/web/server/src/simcore_service_webserver/diagnostics_monitoring.py
Owners: @pcrespov

adding one more reference
  packages/service-library/src/servicelib/monitor_services.py
  packages/service-library/src/servicelib/monitoring.py
  services/web/server/src/simcore_service_webserver/diagnostics_monitoring.py
Owners: @pcrespov

Comma
  services/sidecar/src/simcore_service_sidecar/executor.py
Owners: @pcrespov,, @mguidon

Add a test to check if the variables acutally end up in the container created by the sidecar
  services/sidecar/src/simcore_service_sidecar/executor.py
  services/sidecar/tests/integration/mock/osparc_python_print_env.py
  services/sidecar/tests/integration/test_sidecar.py
Owners: @pcrespov,, @mguidon

refactor
  services/director-v2/src/simcore_service_director_v2/api/dependencies/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
Owners: @sanderegg,, @pcrespov

renamed back to original name
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
Owners: @sanderegg,, @pcrespov

moved traefik settings to env vars and pydantic models
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs.py
Owners: @sanderegg,, @pcrespov

- refactor function names - more reliable registy settings forwarding
  packages/settings-library/src/settings_library/docker_registry.py
  packages/settings-library/tests/test_settings_docker_registry.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
Owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov

codestyle
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs.py
Owners: @sanderegg,, @pcrespov

using better name
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs.py
Owners: @sanderegg,, @pcrespov

added reminder
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs.py
Owners: @sanderegg,, @pcrespov

takeScreenshot button
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
  services/web/client/source/class/osparc/store/Data.js
  services/web/client/source/class/osparc/wrapper/Html2canvas.js
Owners: @odeimaiz,, @ignapas

[skip ci] upgrade qx-osparc-theme
  services/web/client/Manifest.json
Owners: @odeimaiz,, @ignapas

typing refactor
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs.py
Owners: @sanderegg,, @pcrespov

added test to be finished in fugure PRs
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
Owners: @sanderegg,, @pcrespov

fixes command output README
  Makefile
Owners: @pcrespov,, @sanderegg

[skip ci] uploadScreenshotToS3 not really working
  services/web/client/source/class/osparc/store/Data.js
Owners: @odeimaiz,, @ignapas

do not fail when removing service
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
Owners: @sanderegg,, @pcrespov

log message for the user
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
Owners: @sanderegg,, @pcrespov

nope, our s3 is too restrictive
  services/web/client/source/class/osparc/store/Data.js
Owners: @odeimaiz,, @ignapas

dynamic_sidecar_env_vars no longer contains obsucured password
  packages/settings-library/src/settings_library/docker_registry.py
  packages/settings-library/tests/test_settings_docker_registry.py
Owners: @pcrespov,, @sanderegg

empty string is treated as None
  packages/models-library/src/models_library/service_settings_labels.py
Owners: @sanderegg,, @pcrespov

fixes broken behaviour
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_api.py
Owners: @sanderegg,, @pcrespov

removing unused metrics that might be the culprit (#2452)
  packages/service-library/src/servicelib/monitor_services.py
  packages/service-library/src/servicelib/monitoring.py
  services/web/server/src/simcore_service_webserver/diagnostics_monitoring.py
Owners: @pcrespov
