Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

added partial tests for models
  services/director-v2/tests/unit/test_models_dynamic_services.py
Owners: @sanderegg,, @pcrespov

minor
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/component/sweeper/Sweeper.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/component/sweeper/Sweeper.js
Owners: @odeimaiz,, @ignapas

added director-v2 requirements
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/requirements/ci.txt
  services/director-v2/requirements/dev.txt
  services/director-v2/requirements/prod.txt
Owners: @sanderegg,, @pcrespov

codestyle models_library
  packages/models-library/src/models_library/projects_nodes_io.py
  packages/models-library/src/models_library/projects_nodes_ui.py
  packages/models-library/src/models_library/settings/application_bases.py
  packages/models-library/src/models_library/settings/services_common.py
Owners: @sanderegg,, @pcrespov

added refactored services_settings_labels
  packages/models-library/src/models_library/service_settings.py
  packages/models-library/src/models_library/service_settings_labels.py
Owners: @sanderegg,, @pcrespov

added stripped down monitor code
  services/director-v2/setup.py
  services/director-v2/src/simcore_service_director_v2/api/routes/services.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/events.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_docker_registry.py
Owners: @sanderegg,, @pcrespov

added requirement (will come in via a different PR with tests)
  packages/settings-library/src/settings_library/docker_registry.py
Owners: @pcrespov,, @sanderegg

added comment
  packages/settings-library/src/settings_library/docker_registry.py
Owners: @pcrespov,, @sanderegg

fixed import
  services/sidecar/src/simcore_service_sidecar/executor.py
Owners: @pcrespov,, @mguidon

mocking out env vars
  services/director-v2/tests/integration/conftest.py
Owners: @sanderegg,, @pcrespov

removeFileKeyToMap
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/utils/Services.js
Owners: @odeimaiz,, @ignapas

typo
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/utils/Services.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
Owners: @odeimaiz,, @ignapas

update
  services/web/client/source/class/osparc/utils/Services.js
Owners: @odeimaiz,, @ignapas

clone first
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
Owners: @odeimaiz,, @ignapas

🔨 moved dynamic_sidecar changes from PR1887 (#2406)
  packages/models-library/setup.py
  packages/settings-library/src/settings_library/docker_registry.py
  packages/settings-library/tests/test_settings_docker_registry.py
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.in
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/dynamic-sidecar/requirements/ci.txt
  services/dynamic-sidecar/requirements/dev.txt
  services/dynamic-sidecar/requirements/prod.txt
  services/dynamic-sidecar/setup.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/_meta.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/schemas/application_health.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
Owners: @sanderegg,, @pcrespov, @pcrespov,, @sanderegg, @GitHK

removed unused module
  packages/models-library/tests/test_service_settings.py
Owners: @sanderegg,, @pcrespov

added tests to module
  packages/models-library/tests/test_services_settings_labels.py
Owners: @sanderegg,, @pcrespov

renamed module
  packages/models-library/tests/test_service_settings_labels.py
Owners: @sanderegg,, @pcrespov

disables test
  tests/swarm-deploy/test_service_restart.py
Owners: none

@sanderegg: use DASK_SCHEDULER_HOST
  services/dask-sidecar/docker/boot.sh
  services/docker-compose.yml
Owners: none

Allows complete state
  tests/swarm-deploy/test_service_restart.py
Owners: none

Uses DASK_START_AS_SCHEDULER to switch between worker and scheduler
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/docker/entrypoint.sh
  services/docker-compose.yml
Owners: none

Adjusted tests to changes
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/dask-sidecar/tests/unit/test_settings.py
Owners: none

Adds new variable for dask-scheduler host (⚠ devops)
  .env-devel
Owners: none

disables test_graceful_restart_services
  tests/swarm-deploy/test_service_restart.py
Owners: none

Adds deprecation warning to models_library.settings
  packages/models-library/src/models_library/settings/base.py
  packages/models-library/src/models_library/settings/postgres.py
  packages/models-library/src/models_library/settings/rabbit.py
  packages/models-library/src/models_library/settings/redis.py
  packages/models-library/src/models_library/settings/s3.py
Owners: @sanderegg,, @pcrespov

fixed pylance suggestion
  services/director-v2/src/simcore_service_director_v2/core/settings.py
Owners: @sanderegg,, @pcrespov

🐛 dask scheduler host set with DASK_SCHEDULER_HOST env (⚠️ devops) (#2404)
  .env-devel
  packages/models-library/src/models_library/settings/base.py
  packages/models-library/src/models_library/settings/postgres.py
  packages/models-library/src/models_library/settings/rabbit.py
  packages/models-library/src/models_library/settings/redis.py
  packages/models-library/src/models_library/settings/s3.py
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/docker/entrypoint.sh
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/dask-sidecar/tests/unit/test_settings.py
  services/docker-compose.yml
  tests/swarm-deploy/test_service_restart.py
Owners: @sanderegg,, @pcrespov

refactoring
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/component/sweeper/Sweeper.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Owners: @odeimaiz,, @ignapas

Open Primary Study btn
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
Owners: @odeimaiz,, @ignapas

primary-study-btn
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Owners: @odeimaiz,, @ignapas

renaming
  services/web/client/source/class/osparc/component/service/ServiceList.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
Owners: @odeimaiz,, @ignapas

fix
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
Owners: @odeimaiz,, @ignapas

fix II
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
Owners: @odeimaiz,, @ignapas

added tests for docker_api
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_dynamic_sidecar_monitor_docker_api.py
Owners: @sanderegg,, @pcrespov

Remove fileToKeyMap field for Service Catalog (#2412)
  services/web/client/source/class/osparc/component/service/ServiceList.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/utils/Services.js
Owners: @odeimaiz,, @ignapas

fixign issue with starlette's TestClient mixed with async tests
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_dynamic_sidecar_monitor_docker_api.py
Owners: @sanderegg,, @pcrespov

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov
