Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @mguidon, @oetiker,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
Makefile                                  @pcrespov, @sanderegg
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/pytest-simcore                  @pcrespov, @sanderegg
/packages/models-library                  @sanderegg, @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/api-server                      @pcrespov
/services/catalog                         @pcrespov, @sanderegg
/services/migration                       @pcrespov
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov
tools/*                                   @pcrespov

pageContext added to StudyEditor
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

sim4life test added
  tests/e2e/tutorials/sim4life.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/responsesQueue.js
Owners: none

waitForServices timeout increased
  tests/e2e/tutorials/sim4life.js
  tests/e2e/tutorials/tutorialBase.js
Owners: none

wait a bit longer for sim4life
  tests/e2e/tutorials/sim4life.js
Owners: none

minor
  services/web/client/source/class/osparc/data/model/StudyUI.js
Owners: @odeimaiz,, @oetiker,, @ignapas

e2e: sim4life (#1880)
  tests/e2e/tutorials/sim4life.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/responsesQueue.js
Owners: none

minor fix
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

FilePicker is shown in the nodeView
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/node/FilePickerNodeView.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/file/FilePicker.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor fix
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

use pending state
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

removed RunningState
  packages/models-library/src/models_library/projects.py
Owners: @sanderegg,, @pcrespov

prepare for monitoring of task
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

improve readability
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Owners: @pcrespov

change signature
  services/web/server/src/simcore_service_webserver/computation_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Owners: @pcrespov

use pending state to differentiate from not_started
  services/sidecar/src/simcore_service_sidecar/core.py
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov,, @mguidon, @pcrespov

fix merge
  packages/models-library/tests/conftest.py
  packages/models-library/tests/test_models_fit_schemas.py
Owners: @sanderegg,, @pcrespov

also trigger event on state change
  packages/postgres-database/src/simcore_postgres_database/migration/versions/d67672189ce1_add_project_running_state.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
Owners: none

prevent restarting the pipeline
  packages/postgres-database/src/simcore_postgres_database/webserver_models.py
  services/web/server/src/simcore_service_webserver/computation_api.py
  services/web/server/src/simcore_service_webserver/computation_handlers.py
Owners: @pcrespov

missing pytest plugins
  packages/models-library/tests/test_services_schemas.py
Owners: @sanderegg,, @pcrespov

fix frontend linting
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Owners: @odeimaiz,, @oetiker,, @ignapas

move test to models library
  packages/models-library/tests/test_services_schemas.py
Owners: @sanderegg,, @pcrespov

added models library package
  packages/models-library/src/models_library/projects.py
Owners: @sanderegg,, @pcrespov

added models library python package
  packages/models-library/src/models_library/projects.py
Owners: @sanderegg,, @pcrespov

move getting pipeline runnins state in projects_api
  packages/models-library/src/models_library/projects.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Owners: @sanderegg,, @pcrespov

updated project schema to have node state
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
Owners: @sanderegg,, @pcrespov, @mguidon

parametrize test
  packages/models-library/tests/test_models_fit_schemas.py
Owners: @sanderegg,, @pcrespov

updated Project with state
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  api/specs/webserver/openapi-services.yaml
  api/specs/webserver/openapi.yaml
  packages/models-library/src/models_library/projects.py
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
Owners: @sanderegg,, @pcrespov, @mguidon

towards usage of models library package
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/server/src/simcore_service_webserver/activity/handlers.py
  services/web/server/src/simcore_service_webserver/computation.py
  services/web/server/src/simcore_service_webserver/computation_api.py
  services/web/server/src/simcore_service_webserver/computation_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/tests/integration/computation/test_computation.py
Owners: @odeimaiz,, @oetiker,, @ignapas, @pcrespov

fix pipeline running state when not initialized
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

updated project json schema
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  packages/models-library/src/models_library/projects.py
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Owners: @sanderegg,, @pcrespov, @mguidon

fix autoformat
  packages/models-library/tests/conftest.py
  packages/models-library/tests/test_models_fit_schemas.py
Owners: @sanderegg,, @pcrespov

removed project running state (other PR)
  packages/models-library/src/models_library/projects.py
Owners: @sanderegg,, @pcrespov

add projects config
  packages/models-library/src/models_library/projects.py
Owners: @sanderegg,, @pcrespov

black compatible settings
  .isort.cfg
Owners: none

add state per node
  packages/models-library/src/models_library/projects.py
Owners: @sanderegg,, @pcrespov

towards notifying client when pipeline starts/run/stops
  services/sidecar/src/simcore_service_sidecar/core.py
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov,, @mguidon, @pcrespov

added project running state in projects table
  packages/postgres-database/src/simcore_postgres_database/migration/versions/d67672189ce1_add_project_running_state.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
Owners: none

linter
  services/web/server/src/simcore_service_webserver/computation_api.py
Owners: @pcrespov

fix opening of projects
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Owners: @pcrespov

fixing unit tests in models library
  packages/models-library/tests/conftest.py
  packages/models-library/tests/test_services_schemas.py
Owners: @sanderegg,, @pcrespov
