Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcrespov, @odeimaiz, @sanderegg, @mguidon

Nodeports allow update to s3 (#150)
  Makefile
  packages/simcore-sdk/src/simcore_sdk/config/db.py
  packages/simcore-sdk/src/simcore_sdk/config/s3.py
  packages/simcore-sdk/src/simcore_sdk/nodeports/_item.py
  packages/simcore-sdk/src/simcore_sdk/nodeports/config.py
  packages/simcore-sdk/src/simcore_sdk/nodeports/dbmanager.py
  packages/simcore-sdk/src/simcore_sdk/nodeports/exceptions.py
  packages/simcore-sdk/src/simcore_sdk/nodeports/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/nodeports/nodeports.py
  packages/simcore-sdk/src/simcore_sdk/nodeports/serialization.py
  packages/simcore-sdk/tests/fixtures/minio-fix.py
  packages/simcore-sdk/tests/fixtures/postgres.py
  packages/simcore-sdk/tests/nodeports/conftest.py
  packages/simcore-sdk/tests/nodeports/connection_config.json
  packages/simcore-sdk/tests/nodeports/docker-compose.yml
  packages/simcore-sdk/tests/nodeports/test_config.py
  packages/simcore-sdk/tests/nodeports/test_io.py
  packages/simcore-sdk/tests/nodeports/test_item.py
  packages/simcore-sdk/tests/nodeports/test_itemstlist.py
  packages/simcore-sdk/tests/nodeports/test_nodeports.py
  packages/simcore-sdk/tests/nodeports/test_postgres.py
  packages/simcore-sdk/tests/nodeports/test_serialization.py
  services/dy-2Dgraph/use-cases/Makefile
Owners: none

WIP: created auth pages - under tmp some examples of how to integrate with application and main page- added test utils
  services/web/client/source/class/qxapp/Application.js
  services/web/client/source/class/qxapp/auth/ForgotPage.js
  services/web/client/source/class/qxapp/auth/LoginPage.js
  services/web/client/source/class/qxapp/auth/MAuthPage.js
  services/web/client/source/class/qxapp/auth/RegisterPage.js
  services/web/client/source/class/qxapp/auth/tmp/Application.js
  services/web/client/source/class/qxapp/auth/tmp/MainPage.js
  services/web/client/source/class/qxapp/test/Utils.js
Owners: @odeimaiz

Deleted deprecated file. Now qxapp.dev.fake.Data instead.
  services/web/client/source/class/qxapp/dev/fake/Fake.js
Owners: @odeimaiz

Minor. Change icon
  services/web/client/source/class/qxapp/auth/LoginPage.js
Owners: @odeimaiz

EntityList is a widget
  services/dy-modeling/client/source/class/qxapp/Application.js
  services/dy-modeling/client/source/class/qxapp/components/EntityList.js
Owners: none

Entity list moved to widgets dir
  services/dy-modeling/client/source/class/qxapp/Application.js
  services/dy-modeling/client/source/class/qxapp/components/widgets/EntityList.js
Owners: none

minor
  services/dy-modeling/client/source/class/qxapp/Application.js
  services/dy-modeling/client/source/class/qxapp/components/widgets/EntityList.js
Owners: none

Added two different ways to add a vtk object
  services/web/client/source/class/qxapp/components/widgets/ThreeDView.js
Owners: @odeimaiz

Using VTKLoader
  services/web/client/source/class/qxapp/wrappers/ThreeWrapper.js
Owners: @odeimaiz

Added ThreeDApp
  services/web/client/source/class/qxapp/components/widgets/ThreeDApp.js
  services/web/client/source/class/qxapp/components/workbench/Workbench.js
Owners: @odeimaiz

3D view (vtk.js) added to store
  services/web/client/source/class/qxapp/data/Store.js
Owners: @odeimaiz

vtk.min.js in single file added to resources
  services/web/client/compile.json
  services/web/client/source/resource/vtk/vtk.min.js
Owners: @odeimaiz

VTK[App, View and Wrapper] added (not fully working)
  services/web/client/source/class/qxapp/components/widgets/VTKApp.js
  services/web/client/source/class/qxapp/components/widgets/VTKView.js
  services/web/client/source/class/qxapp/wrappers/VTKWrapper.js
Owners: @odeimaiz

Workbench starts 3D viewer (vtk)
  services/web/client/source/class/qxapp/components/workbench/Workbench.js
Owners: @odeimaiz

Make the platform great again
  services/sidecar/requirements.txt
  services/web/server/requirements/common.txt
Owners: @pcrespov

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/docs/                   @pcrespov
/services/web/client     @odeimaiz
/services/web/server     @pcrespov
/services/modeling       @sanderegg
/services/authentication @pcrespov
/services/computation    @mguidon

# any change in travis
/.travis.yml     @odeimaiz
