Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

sidecars were not connected to the network
  services/docker-compose.devel.yml
  services/docker-compose.yml
Owners: none

storage requires migration
  services/sidecar/tests/integration/test_sidecar.py
Owners: @pcrespov,, @mguidon

inverted parameter order
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
Owners: @sanderegg,, @pcrespov

[skip ci] TODO added
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
Owners: @sanderegg,, @pcrespov

cleanup docs
  services/storage/requirements/_base.in
  services/storage/requirements/_test.in
  services/storage/src/simcore_service_storage/dsm.py
Owners: @mguidon,, @pcrespov

Faster check to s3 and fir&forget
  api/specs/storage/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
Owners: @sanderegg,, @pcrespov, @mguidon,

Implements as fire&forget with timeout to avoid blocking db connection
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/src/simcore_service_storage/settings.py
Owners: @mguidon,, @pcrespov

Fire and forget as query argument
  api/specs/storage/openapi.yaml
  api/specs/webserver/openapi-storage.yaml
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Owners: @sanderegg,, @pcrespov, @mguidon,

moved the f&f to the handler
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
Owners: @mguidon,, @pcrespov

minor renaming
  services/web/client/source/class/osparc/wrapper/Svg.js
Owners: @odeimaiz,, @ignapas

updates oas
  api/specs/storage/openapi.yaml
  api/specs/webserver/components/schemas/locations.yaml
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Owners: @sanderegg,, @pcrespov, @mguidon,

adds query options in response
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/src/simcore_service_storage/settings.py
  services/web/server/src/simcore_service_webserver/storage_handlers.py
Owners: @mguidon,, @pcrespov

minor fixes
  services/storage/src/simcore_service_storage/handlers.py
Owners: @mguidon,, @pcrespov

[skip ci] minor
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
Owners: @odeimaiz,, @ignapas

postToTemplate moved to studies
  services/web/client/source/class/osparc/component/study/SaveAsTemplate.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/StudyParametrizer.js
Owners: @odeimaiz,, @ignapas

Adds admin user role
  packages/postgres-database/src/simcore_postgres_database/models/users.py
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/src/simcore_service_webserver/storage_handlers.py
  services/web/server/tests/unit/with_dbs/04/test_storage.py
Owners: @pcrespov

snapshots added to Resources
  services/web/client/source/class/osparc/data/Resources.js
Owners: @odeimaiz,, @ignapas

Take Snapshot button logic
  services/web/client/source/class/osparc/data/Permissions.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Owners: @odeimaiz,, @ignapas

Migration: adds admin to userrole enum
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c2d3acc313e1_adds_admin_to_userrole_enum.py
  services/web/server/tests/unit/with_dbs/04/test_storage.py
Owners: @pcrespov

TakeSnapshot workflow ready
  services/web/client/source/class/osparc/component/snapshots/TakeSnapshotView.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Owners: @odeimaiz,, @ignapas

hasSnapshots
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Owners: @odeimaiz,, @ignapas

minor fix
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
Owners: @odeimaiz,, @ignapas

parameter initialization
  services/web/client/source/class/osparc/data/model/Node.js
Owners: @odeimaiz,, @ignapas

StartPipelineView
  services/web/client/source/class/osparc/desktop/StartPipelineView.js
Owners: @odeimaiz,, @ignapas

startPipeline with use_cache
  services/web/client/source/class/osparc/desktop/StartPipelineView.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/desktop/StartPipelineView.js
Owners: @odeimaiz,, @ignapas

re-run
  services/web/client/source/class/osparc/desktop/StartPipelineView.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Owners: @odeimaiz,, @ignapas

🩹 Adds query option to avoid timeout for storage metadata sync (#2428)
  api/specs/storage/openapi.yaml
  api/specs/webserver/components/schemas/locations.yaml
  api/specs/webserver/openapi-storage.yaml
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c2d3acc313e1_adds_admin_to_userrole_enum.py
  packages/postgres-database/src/simcore_postgres_database/models/users.py
  services/storage/requirements/_base.in
  services/storage/requirements/_test.in
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/src/simcore_service_storage/settings.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/src/simcore_service_webserver/storage_handlers.py
  services/web/server/tests/unit/with_dbs/04/test_storage.py
Owners: @sanderegg,, @pcrespov, @mguidon,

"Enter" and "Esc" commands
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
  services/web/client/source/class/osparc/component/snapshots/TakeSnapshotView.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/ui/window/Confirmation.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
  services/web/client/source/class/osparc/component/snapshots/TakeSnapshotView.js
Owners: @odeimaiz,, @ignapas

hack to apply changes
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
  services/web/client/source/class/osparc/component/snapshots/TakeSnapshotView.js
Owners: @odeimaiz,, @ignapas

Disables dynamic sidecar settings
  services/director-v2/src/simcore_service_director_v2/core/settings.py
Owners: @sanderegg,, @pcrespov

Fixes dynamic-services vs dynamic-sidecar settings
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_services.py
Owners: @sanderegg,, @pcrespov

minor
  services/director-v2/tests/conftest.py
Owners: @sanderegg,, @pcrespov

Adds test with envdevel
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
Owners: @sanderegg,, @pcrespov

"Enter" command
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
  services/web/client/source/class/osparc/component/snapshots/TakeSnapshotView.js
  services/web/client/source/class/osparc/desktop/StartPipelineView.js
Owners: @odeimaiz,, @ignapas

Toolbar Snapshots Btn visibility
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Owners: @odeimaiz,, @ignapas

minor
  services/director-v2/src/simcore_service_director_v2/core/settings.py
Owners: @sanderegg,, @pcrespov

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov
