Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov, @odeimaiz,, @mguidon, @oetiker,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
Makefile                                  @pcrespov, @sanderegg
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/service-library                 @pcrespov
/scripts/demo                             @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects                @odeimaiz, @pcrespov
/services/catalog                         @pcrespov
/services/sidecar                         @pcrespov, @mguidon
/services/web/client                      @odeimaiz, @oetiker, @ignapas
/services/web/server                      @pcrespov
/services/storage                         @mguidon

requirements/*                            @pcrespov
tools/*                                   @pcrespov

Fixes some of the codeclimate issues
  services/api-gateway/src/simcore_service_api_gateway/auth_security.py
  services/api-gateway/src/simcore_service_api_gateway/utils/helpers.py
  services/api-gateway/src/simcore_service_api_gateway/utils/remote_debug.py
  services/api-gateway/tools/gen_api.py
Owners: none

simplied multiSelection logic
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

delete multiple templates working
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

tick - untick multiSelection logic working
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserListItem.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/dashboard/StudyBrowserListItem.js
Owners: @odeimaiz,, @oetiker,, @ignapas

studyTitle moved to base class
  services/web/client/source/class/osparc/dashboard/StudyBrowserListBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserListItem.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserListNew.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/dashboard/StudyBrowserListBase.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

minor fix
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

format
  services/api-gateway/src/simcore_service_api_gateway/utils/helpers.py
  services/api-gateway/src/simcore_service_api_gateway/utils/remote_debug.py
  services/api-gateway/tools/gen_api.py
Owners: none

Activate settings in application
  services/api-gateway/src/simcore_service_api_gateway/__main__.py
  services/api-gateway/src/simcore_service_api_gateway/application.py
  services/api-gateway/src/simcore_service_api_gateway/db.py
  services/api-gateway/src/simcore_service_api_gateway/main.py
  services/api-gateway/src/simcore_service_api_gateway/settings.py
  services/api-gateway/tests/unit/test_settings.py
Owners: none

Adds tests to quering API
  services/api-gateway/src/simcore_service_api_gateway/db.py
  services/api-gateway/tests/unit/test_endpoints_check.py
Owners: none

JsonForms WiP
  services/web/client/source/class/osparc/component/form/json/JsonSchemaForm.js
  services/web/client/source/class/osparc/desktop/ServiceBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Minor
  services/api-gateway/src/simcore_service_api_gateway/main.py
Owners: none

close studyDetailsEditor window when finished editing
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

allow multiline study title
  services/web/client/source/class/osparc/dashboard/StudyBrowserListBase.js
Owners: @odeimaiz,, @oetiker,, @ignapas

ticks are Images (visibility logic improved)
  services/web/client/source/class/osparc/dashboard/StudyBrowserListItem.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Fixes code coverage call
  .github/workflows/ci-testing-deploy.yml
Owners: none

Added new FileInput
  services/web/client/source/class/osparc/component/form/json/JsonSchemaFormItem.js
  services/web/client/source/resource/form/service.json
Owners: @odeimaiz,, @oetiker,, @ignapas

fixed size for study cards
  services/web/client/source/class/osparc/dashboard/StudyBrowserListBase.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Replaced config.py by settings.py Fixes code climate issues (bandit failures)
  services/api-gateway/setup.py
  services/api-gateway/src/simcore_service_api_gateway/config.py
  services/api-gateway/src/simcore_service_api_gateway/utils/helpers.py
  services/api-gateway/tools/gen_api.py
Owners: none

icon moved to base class, fixed heights removed
  services/web/client/source/class/osparc/dashboard/StudyBrowserListBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserListItem.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserListNew.js
Owners: @odeimaiz,, @oetiker,, @ignapas

make eslint happy
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Owners: @odeimaiz,, @oetiker,, @ignapas

Update scripts/openapi-generator-cli.bash
  scripts/openapi-generator-cli.bash
Owners: none

Update scripts/openapi-generator-cli.bash
  scripts/openapi-generator-cli.bash
Owners: none

SAN review: not needed
  services/api-gateway/Dockerfile
Owners: none

Removed TODOS
  services/api-gateway/src/simcore_service_api_gateway/application.py
  services/api-gateway/src/simcore_service_api_gateway/auth.py
  services/api-gateway/src/simcore_service_api_gateway/db.py
  services/api-gateway/src/simcore_service_api_gateway/endpoints_auth.py
  services/api-gateway/src/simcore_service_api_gateway/utils/remote_debug.py
Owners: none

added retrial policy for redis
  packages/pytest-fixtures/rabbit_service.py
  packages/pytest-fixtures/redis_service.py
  packages/service-library/src/servicelib/redis_utils.py
Owners: @pcrespov

added environs fixture
  packages/pytest-fixtures/environs.py
  services/web/server/tests/conftest.py
Owners: @pcrespov

annotations
  packages/pytest-fixtures/docker_registry.py
  packages/pytest-fixtures/docker_swarm.py
  packages/pytest-fixtures/postgres_service.py
Owners: none

postgres service fixture independent of webserver
  packages/pytest-fixtures/postgres_service.py
Owners: none

unit test use plugins
  services/web/server/tests/unit/conftest.py
Owners: @pcrespov

celery config independent of webserver
  packages/pytest-fixtures/celery_service.py
Owners: none

added simcore storage fixture use docker0 network interface to ensure minio is used from the host for testing
  packages/pytest-fixtures/docker_compose.py
  packages/pytest-fixtures/minio_service.py
  packages/pytest-fixtures/simcore_storage_service.py
Owners: none

celery service independent of webserver
  packages/pytest-fixtures/celery_service.py
  services/sidecar/tests/integration/test_sidecar.py
Owners: @pcrespov,, @mguidon

added minio fixture
  packages/pytest-fixtures/minio_service.py
  packages/s3wrapper/src/s3wrapper/s3_client.py
  packages/service-library/src/servicelib/minio_utils.py
Owners: @pcrespov

add environs fixture
  services/web/server/tests/integration/conftest.py
Owners: @pcrespov

update codeclimate exclude pattern
  .codeclimate.yml
Owners: @sanderegg,, @pcrespov

minor
  packages/pytest-fixtures/rabbit_service.py
  packages/pytest-fixtures/redis_service.py
  packages/service-library/src/servicelib/rabbitmq_utils.py
  packages/service-library/src/servicelib/redis_utils.py
Owners: @pcrespov

linting
  packages/pytest-fixtures/docker_registry.py
Owners: none
