Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

undoing
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Owners: @pcrespov

minor pylance suggsestions
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/abc.py
Owners: @sanderegg,, @pcrespov

using a valid status
  services/director-v2/tests/unit/test_parse_docker_status.py
Owners: @sanderegg,, @pcrespov

refactored to Pydantic model and moved to models
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/models.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/task.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/utils.py
Owners: @sanderegg,, @pcrespov

removed make from name
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/models.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/task.py
Owners: @sanderegg,, @pcrespov

removed unecessary code
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
Owners: @sanderegg,, @pcrespov

fixed constructor
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/models.py
Owners: @sanderegg,, @pcrespov

models restructured: - fixed circular dependency - moved all models inside models/schemas/dynamic_services - transformed some cotaniner to Pydantic models
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/models.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/task.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/utils.py
  services/director-v2/tests/unit/test_models_dynamic_services.py
  services/director-v2/tests/unit/test_parse_docker_status.py
Owners: @sanderegg,, @pcrespov

minor
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
Owners: @pcrespov,, @sanderegg

removed unncessary
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services.py
Owners: @sanderegg,, @pcrespov

minor
  services/catalog/src/simcore_service_catalog/services/access_rights.py
Owners: @pcrespov,, @sanderegg

pylance suggestion
  services/director/src/simcore_service_director/exceptions.py
Owners: @sanderegg,, @pcrespov

py38 syntax
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
Owners: @GitHK

moved changes from PR1887
  packages/models-library/src/models_library/settings/docker_registry.py
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.in
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/_meta.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/schemas/application_health.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
Owners: @sanderegg,, @pcrespov, @GitHK

adds new api endoint for labels
  api/specs/director/openapi.yaml
  services/director/src/simcore_service_director/api/v0/openapi.yaml
  services/director/src/simcore_service_director/exceptions.py
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/rest/handlers.py
Owners: @sanderegg,, @pcrespov

adds tests for new endpoint
  services/director/tests/test_handlers.py
Owners: @sanderegg,, @pcrespov

Allow sharing Services other than the latest version (#2389)
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/permissions/Permissions.js
  services/web/client/source/class/osparc/component/permissions/Service.js
  services/web/client/source/class/osparc/component/permissions/Study.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/servicecard/Large.js
  services/web/client/source/class/osparc/utils/Services.js
Owners: @odeimaiz,, @ignapas

added settings for docker_registry
  packages/models-library/tests/test_settings_docker_registry.py
Owners: @sanderegg,, @pcrespov

adds test from wrogn provided yaml spec
  services/dynamic-sidecar/tests/unit/test_api_containers.py
Owners: @GitHK

remove unsued import
  tests/environment-setup/test_used_python.py
Owners: @pcrespov

removed unused code
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/utils.py
Owners: @sanderegg,, @pcrespov

updated link for logo
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
Owners: @GitHK

added test for fetched labesl and refactored
  services/director-v2/tests/unit/test_modules_director_v0.py
Owners: @sanderegg,, @pcrespov

added missing version
  packages/models-library/setup.py
Owners: @sanderegg,, @pcrespov

settings placed in the correct package
  packages/settings-library/src/settings_library/docker_registry.py
  packages/settings-library/tests/test_settings_docker_registry.py
Owners: @pcrespov,, @sanderegg

using correct packages for registrysettings
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/dynamic-sidecar/requirements/ci.txt
  services/dynamic-sidecar/requirements/dev.txt
  services/dynamic-sidecar/requirements/prod.txt
  services/dynamic-sidecar/setup.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
Owners: @GitHK

minor
  services/web/client/source/class/osparc/component/snapshots/Snapshots.js
  services/web/client/source/class/osparc/component/sweeper/Sweeper.js
Owners: @odeimaiz,, @ignapas

renamings
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
Owners: @odeimaiz,, @ignapas

Locked study icons (#2403)
  services/web/client/source/class/osparc/component/task/Export.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
Owners: @odeimaiz,, @ignapas

fixed module setup
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/module_setup.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/__init__.py
Owners: @sanderegg,, @pcrespov

🔨adds new api endpoint for labels from PR1887 (#2408)
  api/specs/director/openapi.yaml
  services/director/src/simcore_service_director/api/v0/openapi.yaml
  services/director/src/simcore_service_director/exceptions.py
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/rest/handlers.py
  services/director/tests/test_handlers.py
Owners: @sanderegg,, @pcrespov

codestyle
  services/director-v2/src/simcore_service_director_v2/main.py
  services/director-v2/src/simcore_service_director_v2/meta.py
Owners: @sanderegg,, @pcrespov

codestyle
  services/director-v2/src/simcore_service_director_v2/api/errors/validation_error.py
Owners: @sanderegg,, @pcrespov

Snapshots own view
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/component/sweeper/Sweeper.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Owners: @odeimaiz,, @ignapas

changes required by monitor
  packages/models-library/src/models_library/services.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/domains/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/models/domains/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/constants.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/meta.py
  services/director-v2/src/simcore_service_director_v2/modules/db/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/module_setup.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/monitor/task.py
  services/director-v2/src/simcore_service_director_v2/utils/async_utils.py
Owners: @sanderegg,, @pcrespov

splitting into two views
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/component/sweeper/Sweeper.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Owners: @odeimaiz,, @ignapas

required
  services/director-v2/.env-devel
Owners: @sanderegg,, @pcrespov

refactor
  services/director-v2/Makefile
Owners: @sanderegg,, @pcrespov

added test for settings
  services/director-v2/tests/unit/test_core_settings.py
Owners: @sanderegg,, @pcrespov

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov
