Repository ITISFoundation/osparc-simcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg, @pcrespov,, @KZzizzle, @odeimaiz,, @GitHK, @mguidon, @mguidon,, @ignapas

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
.codeclimate.yml                          @sanderegg, @pcrespov
.travis.yml                               @sanderegg
Makefile                                  @pcrespov, @sanderegg


# NOTE: '/' denotes the root of the repository
/api/                                     @sanderegg, @pcrespov
/ci/                                      @sanderegg, @pcrespov
/docs/                                    @pcrespov
/packages/models-library/                 @sanderegg, @pcrespov
/packages/pytest-simcore/                 @pcrespov, @sanderegg
/packages/service-integration/            @pcrespov, @sanderegg, @KZzizzle
/packages/service-library/                @pcrespov
/packages/settings-library/               @pcrespov, @sanderegg
/requirements/                            @pcrespov
/scripts/demo/                            @odeimaiz, @pcrespov
/scripts/json-schema-to-openapi-schema    @sanderegg
/scripts/template-projects/               @odeimaiz, @pcrespov
/services/api-server/                     @pcrespov
/services/catalog/                        @pcrespov, @sanderegg
/services/director*/                      @sanderegg, @pcrespov
/services/dynamic-sidecar/                @GitHK
/services/migration/                      @pcrespov
/services/sidecar/                        @pcrespov, @mguidon
/services/storage/                        @mguidon, @pcrespov
/services/static-webserver                @GitHK
/services/web/client/                     @odeimaiz, @ignapas
/services/web/server/                     @pcrespov
/tests/environment-setup/                 @pcrespov
/tests/performance/                       @pcrespov
/tests/public-api/                        @pcrespov
requirements/*                            @pcrespov
tools/*                                   @pcrespov

[skip ci] render description if no thumbnail
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
Owners: @odeimaiz,, @ignapas

minor
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
Owners: @odeimaiz,, @ignapas

[skip ci] setMaxHeight
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
Owners: @odeimaiz,, @ignapas

will codeclimate compalin?
  .codeclimate.yml
Owners: @sanderegg,, @pcrespov

minor
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
Owners: @odeimaiz,, @ignapas

add hovered state when focus
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
Owners: @odeimaiz,, @ignapas

enhancing performance
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
Owners: @sanderegg,, @pcrespov

minor refactor
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
Owners: @sanderegg,, @pcrespov

fixed test
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_api.py
Owners: @sanderegg,, @pcrespov

@sanderegg review
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs.py
Owners: @sanderegg,, @pcrespov

added meta description
  services/web/client/source/boot/index.html
Owners: @odeimaiz,, @ignapas

no longer fails on boot
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
Owners: @sanderegg,, @pcrespov

@mguidon has a picky Monday
  services/web/client/source/boot/index.html
Owners: @odeimaiz,, @ignapas

reverting change
  services/director-v2/.env-devel
Owners: @sanderegg,, @pcrespov

removing comment
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
Owners: @sanderegg,, @pcrespov

moved code to correct place and removed duplication
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_node_handlers.py
Owners: @pcrespov

refactored
  services/web/server/src/simcore_service_webserver/projects/projects_node_handlers.py
Owners: @pcrespov

refactored and moved to director-v2
  packages/settings-library/src/settings_library/docker_registry.py
  packages/settings-library/tests/test_settings_docker_registry.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs.py
  services/director-v2/src/simcore_service_director_v2/utils/registry.py
  services/director-v2/tests/unit/test_utils_registry.py
Owners: @pcrespov,, @sanderegg, @sanderegg,, @pcrespov

renamed functions
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_routes_dynamic_services.py
Owners: @sanderegg,, @pcrespov

pylint
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
Owners: @sanderegg,, @pcrespov

fixing "typo master" issues
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs.py
Owners: @sanderegg,, @pcrespov

fixed comment
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs.py
Owners: @sanderegg,, @pcrespov

more typos
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs.py
Owners: @sanderegg,, @pcrespov

refactored boot mode test
  services/director-v2/tests/unit/test_core_settings.py
Owners: @sanderegg,, @pcrespov

renaming and updating
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
Owners: @sanderegg,, @pcrespov

@sanderegg refactor to try/except
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
Owners: @sanderegg,, @pcrespov

fixing test after rename
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
Owners: @sanderegg,, @pcrespov

removing autouse
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
Owners: @sanderegg,, @pcrespov

removed autouse
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/test_routes_dynamic_services.py
Owners: @sanderegg,, @pcrespov

making it clear from where fucntion calls come
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Owners: @pcrespov

moved to utils
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
Owners: @pcrespov

fixing typing
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/storage_api.py
Owners: @pcrespov

removing and renaming fixtures
  services/web/server/tests/unit/with_dbs/06/test_projects_02.py
  services/web/server/tests/unit/with_dbs/09/test_projects_01.py
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/conftest.py
Owners: @pcrespov

fixed import
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Owners: @pcrespov

fixed failing test
  services/web/server/tests/unit/with_dbs/06/test_projects_02.py
Owners: @pcrespov

pylint
  packages/settings-library/src/settings_library/docker_registry.py
Owners: @pcrespov,, @sanderegg

should fix issue with boot mode
  services/director-v2/tests/unit/test_routes_dynamic_services.py
Owners: @sanderegg,, @pcrespov

removed unused dependency
  services/director-v2/tests/unit/test_utils_registry.py
Owners: @sanderegg,, @pcrespov

reverted requiremtns updates
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
Owners: @sanderegg,, @pcrespov

giving test more time
  .github/workflows/ci-testing-deploy.yml
Owners: none
