Repository ITISFoundation/osparc-simcore, pull requests merged in 2019-10, with the labels that each got.

#1046 Cache + Resources
  api/specs/webserver/v0/openapi-user.yaml
  services/docker-compose.yml
  services/web/client/Manifest.json
  services/web/client/compile.json
  services/web/client/source/class/osparc/auth/Manager.js
  services/web/client/source/class/osparc/auth/ui/LoginView.js
  services/web/client/source/class/osparc/component/filter/NodeTypeFilter.js
  services/web/client/source/class/osparc/component/filter/ServiceFilter.js
  services/web/client/source/class/osparc/component/filter/StudyFilter.js
  services/web/client/source/class/osparc/component/filter/TagsFilter.js
  services/web/client/source/class/osparc/component/filter/TextFilter.js
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/metadata/StudyDetailsEditor.js
  services/web/client/source/class/osparc/component/service/ServiceJumbo.js
  services/web/client/source/class/osparc/component/service/manager/ActivityManager.js
  services/web/client/source/class/osparc/component/service/manager/ActivityTree.js
  services/web/client/source/class/osparc/component/widget/InputsMapper.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputListIcon.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTree.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/Permissions.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/desktop/DataBrowser.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/desktop/ServiceFilters.js
  services/web/client/source/class/osparc/desktop/StudyBrowser.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/preferences/pages/SecurityPage.js
  services/web/client/source/class/osparc/file/FilesTree.js
  services/web/client/source/class/osparc/io/WatchDog.js
  services/web/client/source/class/osparc/io/rest/Resource.js
  services/web/client/source/class/osparc/io/rest/ResourceFactory.js
  services/web/client/source/class/osparc/statics/NodeStatics.js
  services/web/client/source/class/osparc/store/Data.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/client/source/class/osparc/theme/Appearance.js
  services/web/client/source/class/osparc/ui/form/AutocompleteField.js
  services/web/client/source/class/osparc/utils/Services.js
  services/web/client/source/resource/jsontreeviewer/jsonTree.js
  services/web/server/src/simcore_service_webserver/users_handlers.py
  services/web/server/tests/helpers/utils_tokens.py
  services/web/server/tests/unit/with_postgres/test_users.py
Labels: a:frontend

#1075 Prepare frontend for Sleepers tutorial + script
  .env-devel
  ops/travis/e2e-testing/e2e_testing
  ops/travis/e2e-testing/utils/utils.js
  services/web/client/source/class/osparc/component/metadata/ServiceInfoWindow.js
  services/web/client/source/class/osparc/component/metadata/StudyDetailsWindow.js
  services/web/client/source/class/osparc/component/widget/NewStudyDlg.js
  services/web/client/source/class/osparc/component/widget/NodeDataManager.js
  services/web/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/web/client/source/class/osparc/component/widget/NodeView.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/component/widget/TreeItemRenamer.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/Converters.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/file/FileLabelWithActions.js
  services/web/client/source/class/osparc/file/FileTreeItem.js
  services/web/client/source/class/osparc/file/FilesTree.js
  services/web/client/source/class/osparc/wrapper/WebSocket.js
  tests/e2e/.env-devel
  tests/e2e/.eslintrc.js
  tests/e2e/demo/puppeteerDemo.js
  tests/e2e/jest-puppeteer.config.js
  tests/e2e/jest.config.js
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/tests/register.test.js
  tests/e2e/tests/startupCalls.test.js
  tests/e2e/tests/title.test.js
  tests/e2e/tests/url.test.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/screenshoter.js
  tests/e2e/utils/startBrowser.js
  tests/e2e/utils/utils.js
Labels: a:frontend, t:enhancement

#1133 Fixes CI failure in master due to missing file
  ci/travis/build/test-images
Labels: High Priority

#1134 Fixes path in ci/travis/build/test-images
  .github/CODEOWNERS
  ci/travis/build/test-images
Labels: High Priority

#1135 Defines decorators for app module's setup function
  .env-devel
  .gitignore
  api/specs/webserver/v0/openapi-services.yaml
  packages/service-library/src/servicelib/application.py
  packages/service-library/src/servicelib/application_setup.py
  packages/service-library/src/servicelib/monitoring.py
  packages/service-library/tests/test_application_setup.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_config.py
  services/web/server/src/simcore_service_webserver/application_proxy.py
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/computation.py
  services/web/server/src/simcore_service_webserver/db.py
  services/web/server/src/simcore_service_webserver/director/__init__.py
  services/web/server/src/simcore_service_webserver/email.py
  services/web/server/src/simcore_service_webserver/login/__init__.py
  services/web/server/src/simcore_service_webserver/projects/__init__.py
  services/web/server/src/simcore_service_webserver/rest.py
  services/web/server/src/simcore_service_webserver/reverse_proxy/__init__.py
  services/web/server/src/simcore_service_webserver/s3.py
  services/web/server/src/simcore_service_webserver/security.py
  services/web/server/src/simcore_service_webserver/session.py
  services/web/server/src/simcore_service_webserver/sockets.py
  services/web/server/src/simcore_service_webserver/statics.py
  services/web/server/src/simcore_service_webserver/storage.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/src/simcore_service_webserver/users.py
  services/web/server/tests/integration-proxy/conftest.py
  services/web/server/tests/integration-proxy/test_application_proxy.py
  services/web/server/tests/integration/computation/test_computation.py
  services/web/server/tests/integration/computation/test_rabbit.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/integration/fixtures/docker_registry.py
  services/web/server/tests/integration/test_project_workflow.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/test_configs.py
  services/web/server/tests/unit/test_rest.py
  services/web/server/tests/unit/test_reverse_proxy.py
  services/web/server/tests/unit/with_postgres/config.yaml
  services/web/server/tests/unit/with_postgres/conftest.py
  services/web/server/tests/unit/with_postgres/test_access_to_studies.py
  services/web/server/tests/unit/with_postgres/test_guests_management.py
  services/web/server/tests/unit/with_postgres/test_projects.py
  services/web/server/tests/unit/with_postgres/test_storage.py
  services/web/server/tests/unit/with_postgres/test_users.py
Labels: a:services-library

#1147 solution for #1144
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/store/Store.js
Labels: a:frontend
