Repository ITISFoundation/osparc-simcore, pull requests merged in 2020-03, with the labels that each got.

#1358 [BUGFIX] Hints + (Tags + Creation info)
  services/web/client/source/class/osparc/desktop/StudyBrowserListItem.js
  services/web/client/source/class/osparc/ui/hint/Hint.js
Labels: a:frontend, t:bug

#1316 Studies of one node open directly in fullscreen view instead displaying the pipeline
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/preferences/Preferences.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ExperimentalPage.js
Labels: a:frontend

#1366 [maintenance] upgrade urllib3 and psutil
  packages/postgres-database/requirements/_base.in
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.in
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/s3wrapper/requirements/_base.in
  packages/s3wrapper/requirements/_base.txt
  packages/s3wrapper/requirements/_test.txt
  services/director/requirements/_base.in
  services/director/requirements/_base.txt
  services/director/requirements/_test.in
  services/director/requirements/_test.txt
  services/sidecar/requirements/_base.in
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
Labels: dependencies, t:maintenance

#1266 Export group
  ci/github/system-testing/e2e.bash
  ci/travis/system-testing/e2e.bash
  packages/postgres-database/requirements/prod.txt
  services/catalog/src/simcore_service_catalog/db.py
  services/director/tests/fixtures/fake_services.py
  services/director/tests/test_registry_cache_task.py
  services/docker-compose.yml
  services/storage/tests/test_configs.py
  services/web/client/source/boot/index.html
  services/web/client/source/class/osparc/component/export/ExportGroup.js
  services/web/client/source/class/osparc/component/filter/group/ServiceFilterGroup.js
  services/web/client/source/class/osparc/component/form/Auto.js
  services/web/client/source/class/osparc/component/form/ToggleButtonContainer.js
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormEditor.js
  services/web/client/source/class/osparc/component/metadata/ServiceInfo.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/node/GroupNodeView.js
  services/web/client/source/class/osparc/component/node/NodeView.js
  services/web/client/source/class/osparc/component/widget/InputsMapper.js
  services/web/client/source/class/osparc/component/widget/NodeInOut.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/component/widget/PersistentIframe.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/data/Converters.js
  services/web/client/source/class/osparc/data/Permissions.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/desktop/ServiceBrowser.js
  services/web/client/source/class/osparc/desktop/ServiceBrowserListItem.js
  services/web/client/source/class/osparc/desktop/StudyBrowser.js
  services/web/client/source/class/osparc/desktop/StudyBrowserListItem.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/dev/fake/Data.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/client/source/class/osparc/ui/window/Confirmation.js
  services/web/client/source/class/osparc/utils/Services.js
  services/web/client/source/class/osparc/utils/Utils.js
  tests/e2e/.gitignore
  tests/e2e/Makefile
  tests/e2e/scripts/setup_env_insecure_registry.bash
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/responsesQueue.js
Labels: a:frontend

#1386 [maintenance] test requirements
  api/tests/Makefile
  api/tests/requirements.in
  api/tests/requirements.txt
  ci/github/system-testing/e2e.bash
  ci/travis/system-testing/e2e.bash
  docs/python-dependencies.md
  packages/postgres-database/Makefile
  packages/postgres-database/requirements/Makefile
  packages/postgres-database/requirements/_test.in
  packages/postgres-database/requirements/_test.txt
  packages/s3wrapper/requirements/Makefile
  packages/s3wrapper/requirements/_test.in
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/Makefile
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/Makefile
  packages/simcore-sdk/requirements/_test.in
  packages/simcore-sdk/requirements/_test.txt
  scripts/requirements.Makefile
  services/catalog/Makefile
  services/catalog/requirements/Makefile
  services/catalog/requirements/_test.in
  services/catalog/requirements/_test.txt
  services/director/requirements/Makefile
  services/director/requirements/_test.in
  services/director/requirements/_test.txt
  services/sidecar/requirements/Makefile
  services/sidecar/requirements/_test.in
  services/sidecar/requirements/_test.txt
  services/storage/requirements/Makefile
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/web/server/Makefile
  services/web/server/requirements/Makefile
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  tests/e2e/requirements/Makefile
  tests/swarm-deploy/Makefile
  tests/swarm-deploy/requirements.in
Labels: dependencies, t:maintenance

#1393 Study Browser cleanup
  .eslintrc.json
  .gitignore
  scripts/check_requirements.bash
  scripts/code-climate.bash
  scripts/shellcheck.bash
  scripts/upgrade_test_requirements.bash
  scripts/url-encoder.bash
  services/web/client/source/class/osparc/auth/core/BaseAuthPage.js
  services/web/client/source/class/osparc/auth/ui/LoginView.js
  services/web/client/source/class/osparc/auth/ui/RegistrationView.js
  services/web/client/source/class/osparc/auth/ui/ResetPassRequestView.js
  services/web/client/source/class/osparc/component/form/ToggleButtonContainer.js
  services/web/client/source/class/osparc/component/metadata/StudyDetailsEditor.js
  services/web/client/source/class/osparc/dashboard/Dashboard.js
  services/web/client/source/class/osparc/dashboard/DataBrowser.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowserListItem.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonNew.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyBrowser.js
  services/web/client/source/class/osparc/desktop/StudyBrowserListItem.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/server/src/simcore_service_webserver/statics.py
  services/web/server/tests/data/static/resource/.gitignore
  tests/e2e/.gitignore
  tests/e2e/scripts/setup_env_insecure_registry.bash
  tests/e2e/tutorials/sleepers.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/utils.js
Labels: a:frontend

#1406 webserver's healthcheck monitors and diagnoses slow callbacks as unhealthy
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/src/servicelib/incidents.py
  packages/service-library/src/servicelib/monitor_slow_callbacks.py
  packages/service-library/tests/test_incidents_monitoring.py
  packages/service-library/tests/test_incidents_utils.py
  services/docker-compose.yml
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/diagnostics.py
  services/web/server/src/simcore_service_webserver/rest_handlers.py
  services/web/server/tests/unit/test_healthcheck.py
  services/web/server/tests/unit/test_rest.py
Labels: a:webserver

#1409 Maintenance/upgrade trafaret 2
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/src/servicelib/tracing.py
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/src/simcore_sdk/config/db.py
  packages/simcore-sdk/src/simcore_sdk/config/rabbit.py
  packages/simcore-sdk/src/simcore_sdk/config/s3.py
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/src/simcore_service_storage/config_schema.py
  services/storage/src/simcore_service_storage/datcore.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/tests/test_configs.py
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/src/simcore_service_webserver/activity/config.py
  services/web/server/src/simcore_service_webserver/application_config.py
  services/web/server/src/simcore_service_webserver/catalog_config.py
  services/web/server/src/simcore_service_webserver/db_config.py
  services/web/server/src/simcore_service_webserver/director/config.py
  services/web/server/src/simcore_service_webserver/email_config.py
  services/web/server/src/simcore_service_webserver/login/config.py
  services/web/server/src/simcore_service_webserver/resource_manager/config.py
  services/web/server/src/simcore_service_webserver/socketio/config.py
  services/web/server/src/simcore_service_webserver/storage_config.py
  services/web/server/tests/unit/test_configs.py
Labels: dependencies, python, t:maintenance

#1405 Make Node outputs more visible
  package.json
  services/director/docker/entrypoint.sh
  services/web/client/Manifest.json
  services/web/client/qx-lock.json
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/metadata/ServiceInfo.js
  services/web/client/source/class/osparc/component/metadata/StudyDetails.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/node/GroupNodeView.js
  services/web/client/source/class/osparc/component/node/NodeView.js
  services/web/client/source/class/osparc/component/widget/PersistentIframe.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTree.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTreeItem.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowserListItem.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonNew.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/SidePanel.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/ui/markdown/Markdown.js
  services/web/client/source/resource/common/common.css
Labels: a:frontend
