Repository ITISFoundation/osparc-simcore, pull requests merged in 2020-10, with the labels that each got.

#1855 adds jq and curl in puppeteer's image for e2e/p2e CI
  tests/e2e/docker/Dockerfile
  tests/e2e/docker/Makefile
Labels: e2e

#1850 Is1838/fogbugz areas
  .env-devel
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_classifiers.py
  packages/pytest-simcore/README.md
  packages/pytest-simcore/src/pytest_simcore/environment_configs.py
  packages/pytest-simcore/src/pytest_simcore/repository_paths.py
  packages/pytest-simcore/tests/test_fixture_environs.py
  packages/pytest-simcore/tests/test_simcore_plugin.py
  packages/simcore-sdk/tests/integration/conftest.py
  services/catalog/tests/unit/conftest.py
  services/director/tests/conftest.py
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_test.txt
  services/sidecar/tests/conftest.py
  services/sidecar/tests/integration/conftest.py
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/utils/issue/Fogbugz.js
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/src/simcore_service_webserver/settings.py
  services/web/server/src/simcore_service_webserver/statics.py
  services/web/server/src/simcore_service_webserver/statics_settings.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/isolated/test_application_settings.py
  services/web/server/tests/unit/isolated/test_configs.py
  services/web/server/tests/unit/isolated/test_statics.py
  services/web/server/tests/unit/isolated/test_utils.py
  services/web/server/tests/unit/isolated/test_web_client_compilation.py
  tests/environment-setup/Makefile
  tests/environment-setup/conftest.py
  tests/swarm-deploy/conftest.py
Labels: a:frontend, a:webserver

#1861 Bump testing reqs: pytest to 6.1.1 and faker to 4.4.0
  .env-devel
  api/tests/requirements.txt
  packages/models-library/requirements/_test.txt
  packages/postgres-database/requirements/_test.txt
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.txt
  services/api-server/requirements/_test.txt
  services/catalog/requirements/_test.txt
  services/director/requirements/_test.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_test.txt
  services/web/server/tests/unit/isolated/test_statics.py
  tests/environment-setup/requirements/requirements.txt
  tests/swarm-deploy/requirements/requirements.txt
Labels: dependencies, t:maintenance

#1846 Fix/catalog service request non-responsive
  .vscode/settings.template.json
  docs/releasing-workflow-instructions.md
  packages/postgres-database/docker/Dockerfile
  packages/postgres-database/requirements/_test.txt
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.txt
  requirements.txt
  services/api-server/Dockerfile
  services/api-server/requirements/_test.txt
  services/catalog/Dockerfile
  services/catalog/Makefile
  services/catalog/docker-compose-extra.yml
  services/catalog/openapi.json
  services/catalog/requirements/_base.in
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/src/simcore_service_catalog/__main__.py
  services/catalog/src/simcore_service_catalog/api/dependencies/database.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/services/director.py
  services/catalog/tests/integration/.gitkeep
  services/catalog/tests/integration/test_none.py
  services/director/Dockerfile
  services/director/requirements/_test.txt
  services/migration/Dockerfile
  services/sidecar/Dockerfile
  services/sidecar/requirements/_test.txt
  services/storage/Dockerfile
  services/storage/requirements/_test.txt
  services/web/Dockerfile
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/catalog.py
  services/web/server/src/simcore_service_webserver/diagnostics_monitoring.py
Labels: bug, t:maintenance

#1880 e2e: sim4life
  tests/e2e/tutorials/sim4life.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/responsesQueue.js
Labels: e2e

#1885 e2e: fix jupyters
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e

#1882 Fixes modified pipelines not starting
  services/web/server/src/simcore_service_webserver/computation_api.py
Labels: High Priority, a:webserver

#1881 Security rate limit password reset
  services/web/server/src/simcore_service_webserver/login/handlers.py
  services/web/server/src/simcore_service_webserver/rate_limiting.py
  services/web/server/tests/unit/isolated/test_rate_limiting.py
Labels: High Priority, a:webserver, security

#1888 fixed waitForServices
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/responsesQueue.js
  tests/e2e/utils/utils.js
Labels: e2e

#1897 Fix e2e portal testing
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e

#1896 maintenance: weekly reqs update
  api/tests/requirements.txt
  packages/models-library/requirements/_test.txt
  packages/postgres-database/requirements/_test.txt
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  scripts/requirements/Makefile
  services/api-server/requirements/_test.txt
  services/catalog/requirements/_test.txt
  services/director/requirements/_test.txt
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_packages.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/environment-setup/requirements/requirements.txt
  tests/swarm-deploy/requirements/requirements.txt
Labels: dependencies, t:maintenance

#1867 Guided mode
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  api/tests/test_repo_data.py
  packages/models-library/src/models_library/projects.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/27c6a30d7c24_add_ui_in_projects_table.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/web/client/source/class/osparc/component/export/ExportDAG.js
  services/web/client/source/class/osparc/component/metadata/StudyInfo.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/node/FilePickerNodeView.js
  services/web/client/source/class/osparc/component/sweeper/Sweeper.js
  services/web/client/source/class/osparc/component/widget/NodeSlideTreeItem.js
  services/web/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/web/client/source/class/osparc/component/widget/NodesSlidesTree.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/StudyUI.js
  services/web/client/source/class/osparc/data/model/Sweeper.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/ControlsBar.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/desktop/SlideShowView.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/client/source/class/osparc/theme/Appearance.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
  services/web/server/tests/data/fake-project.json
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
  tests/e2e/tutorials/sleepers_project_template_sql.csv
Labels: a:frontend

#1906 [bugfix] New service submission form
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
Labels: a:frontend

#1905 TI Treatment Planning
  services/web/client/compile.json
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/resource/dev/classifiers.json
  services/web/client/source/resource/osparc/ti-solutions.svg
  tests/swarm-deploy/test_swarm_runs.py
Labels: a:frontend

#1908 Corrections for service submission form
  services/web/client/source/resource/form/service.json
Labels: a:frontend

#1902 Breadcrumb Navigation
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/component/node/FilePickerNodeView.js
  services/web/client/source/class/osparc/component/widget/BreadcrumbNavigation.js
  services/web/client/source/class/osparc/component/widget/BreadcrumbSplitter.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Edge.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/StudyUI.js
  services/web/client/source/class/osparc/desktop/ControlsBar.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/desktop/SlideShowView.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/utils/Utils.js
  services/web/client/source/class/osparc/wrapper/Svg.js
  services/web/client/source/resource/osparc/ti-tp.svg
Labels: a:frontend

#1914 Adding image digests to databases
  ci/github/system-testing/e2e.bash
  packages/postgres-database/tests/docker-compose.yml
  packages/service-library/tests/with_postgres/docker-compose.yml
  packages/simcore-sdk/tests/unit/docker-compose.yml
  services/docker-compose.yml
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
  services/web/server/tests/unit/with_dbs/docker-compose.yml
Labels: a:infra+ops, t:enhancement

#1921 Maintenance: upgrades reqs week 44
  packages/models-library/requirements/_test.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/s3wrapper/requirements/_base.txt
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  scripts/requirements/Makefile
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/director-v2/requirements/_test.txt
  services/director/requirements/_base.txt
  services/director/requirements/_test.txt
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_packages.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/environment-setup/requirements/requirements.txt
  tests/swarm-deploy/requirements/requirements.txt
Labels: dependencies, python, t:maintenance
