Repository ITISFoundation/osparc-simcore, pull requests merged in 2020-11, with the labels that each got.

#1919 Fix (un)grouping
  api/specs/common/schemas/node-meta-v0.0.1-converted.yaml
  api/specs/common/schemas/node-meta-v0.0.1.json
  packages/models-library/src/models_library/services.py
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
  services/director/src/simcore_service_director/api/v0/openapi.yaml
  services/director/src/simcore_service_director/api/v0/schemas/node-meta-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/schemas/node-meta-v0.0.1.json
  services/web/client/source/class/osparc/component/export/ExportDAG.js
  services/web/client/source/class/osparc/component/node/GroupNodeView.js
  services/web/client/source/class/osparc/component/node/NodeView.js
  services/web/client/source/class/osparc/component/widget/BreadcrumbSplitter.js
  services/web/client/source/class/osparc/component/widget/NodeSlideTreeItem.js
  services/web/client/source/class/osparc/component/widget/NodesSlidesTree.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/StudyUI.js
  services/web/client/source/class/osparc/desktop/ControlsBar.js
  services/web/client/source/class/osparc/desktop/SlideShowView.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/server/src/simcore_service_webserver/api/v0/schemas/node-meta-v0.0.1.json
  tests/e2e/tutorials/tutorialBase.js
Labels: a:frontend

#1925 e2e: Dump console logs and network events to artifact file
  .github/workflows/ci-testing-deploy.yml
  tests/e2e/.gitignore
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/utils/startPuppe.js
Labels: e2e

#1931 use big int instead of int
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c8a7073deebb_change_file_size_to_big_integer.py
  packages/postgres-database/src/simcore_postgres_database/models/file_meta_data.py
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Labels: a:database, a:frontend

#1928 bugfix for #1853: garbage collector deletes guest users
  .gitignore
  packages/service-library/src/servicelib/logging_utils.py
  services/web/server/src/simcore_service_webserver/__init__.py
  services/web/server/src/simcore_service_webserver/_meta.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/catalog.py
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/log.py
  services/web/server/src/simcore_service_webserver/products.py
  services/web/server/src/simcore_service_webserver/resource_manager/config.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/src/simcore_service_webserver/resource_manager/redis.py
  services/web/server/src/simcore_service_webserver/resource_manager/registry.py
  services/web/server/src/simcore_service_webserver/resource_manager/websocket_manager.py
  services/web/server/src/simcore_service_webserver/rest.py
  services/web/server/src/simcore_service_webserver/rest_config.py
  services/web/server/src/simcore_service_webserver/settings.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/tests/sandbox/app.py
  services/web/server/tests/unit/isolated/test_catalog_setup.py
  services/web/server/tests/unit/with_dbs/conftest.py
  services/web/server/tests/unit/with_dbs/fast/test_access_to_studies.py
Labels: bug

#1934 Fixing duplicate key error in comp_pipeline
  services/director/src/simcore_service_director/producer.py
  services/web/server/src/simcore_service_webserver/computation_api.py
Labels: a:webserver, bug

#1926 Refactoring: Use Current Study from Store
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  packages/models-library/src/models_library/projects.py
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/auth/Manager.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/SlideShowView.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/unit/with_dbs/fast/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Labels: a:frontend

#1936 added timeout for the director and filemanager
  packages/models-library/src/models_library/settings/services_common.py
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/ci.txt
  packages/simcore-sdk/requirements/dev.txt
  packages/simcore-sdk/setup.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/filemanager.py
  services/director/requirements/_base.in
  services/director/requirements/ci.txt
  services/director/requirements/dev.txt
  services/director/requirements/prod.txt
  services/director/setup.py
  services/director/src/simcore_service_director/producer.py
  services/web/server/src/simcore_service_webserver/director/director_api.py
Labels: a:director, a:services-library, bug

#1938 FilePicker supports download links
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FileDownloadLink.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
Labels: a:api, a:frontend

#1949 Maintenance week 46
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/postgres-database/requirements/_test.txt
  packages/s3wrapper/requirements/_base.txt
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  scripts/requirements/Dockerfile
  scripts/requirements/Makefile
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director/requirements/Makefile
  services/director/requirements/_test.in
  services/sidecar/requirements/Makefile
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_packages.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/environment-setup/requirements/requirements.txt
  tests/swarm-deploy/requirements/requirements.txt
Labels: dependencies, python, t:maintenance

#1939 BugFix: New fix for access_studies using redlocks
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/log.py
  services/web/server/src/simcore_service_webserver/resource_manager/config.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/src/simcore_service_webserver/resource_manager/websocket_manager.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/src/simcore_service_webserver/users_api.py
  services/web/server/tests/unit/with_dbs/conftest.py
  services/web/server/tests/unit/with_dbs/fast/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/fast/test_redis.py
Labels: a:webserver, bug

#1954 e2e: don't wait, ask
  tests/e2e/README.md
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/tests/startupCalls.test.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/utils.js
Labels: e2e

#1957 e2e: split remove study
  tests/e2e/tutorials/jupyters.js
  tests/e2e/tutorials/mattward.js
  tests/e2e/tutorials/sim4life.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: e2e

#1956 Web Worker takes care of setting intervals for heartbeat
  services/web/client/Manifest.json
  services/web/client/source/class/osparc/io/WatchDog.js
  services/web/client/source/resource/osparc/pacemaker.js
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
Labels: a:frontend

#1958 [bugfix] filetype error message
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/ui/mixin/FetchButton.js
Labels: a:frontend, bug

#1959 Read only mode for Viewer role
  services/web/client/source/class/osparc/component/export/Permissions.js
  services/web/client/source/class/osparc/component/export/ServicePermissions.js
  services/web/client/source/class/osparc/component/export/StudyPermissions.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/CollaboratorListItem.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/StudyUI.js
  services/web/client/source/class/osparc/desktop/ControlsBar.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: a:frontend

#1996 Fix Guest viewers
  services/web/client/source/class/osparc/viewer/MainPage.js
  services/web/client/source/class/osparc/viewer/NodeViewer.js
Labels: a:frontend

#1995 Fix text filter & Settings to read-only for guest users
  .env-devel
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/data/model/Node.js
Labels: a:frontend, e2e

#1998 Error page
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/Error.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/resource/osparc/lyingpanda.png
Labels: a:frontend, e2e

#2000 Fix: Avoid setting null on file File Picker's output label
  services/web/client/source/class/osparc/file/FileDownloadLink.js
  services/web/client/source/class/osparc/file/FilePicker.js
Labels: a:frontend

#2001 Dynamic dataset viewer
  .env-devel
  services/web/client/source/class/osparc/viewer/NodeViewer.js
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_core.py
  services/web/server/tests/unit/with_dbs/fast/test_studies_dispatcher_routes.py
Labels: a:frontend

#2002 UI/UX: Node View header
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/node/FilePickerNodeView.js
  services/web/client/source/class/osparc/component/node/GroupNodeView.js
  services/web/client/source/class/osparc/component/node/NodeView.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/viewer/NodeViewer.js
Labels: a:frontend

#2004 Improve closing study workflow
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  tests/e2e/tutorials/jupyters.js
  tests/e2e/tutorials/mattward.js
  tests/e2e/tutorials/sim4life.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/utils.js
Labels: a:frontend, e2e

#1999 Auto retrieve inputs of dynamic services
  .vscode/settings.template.json
  packages/models-library/src/models_library/projects_nodes_io.py
  packages/models-library/src/models_library/services.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/a23183ac1742_always_trigger_when_comp_task_changes.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
  packages/postgres-database/tests/test_comp_tasks.py
  scripts/json-schema-faker.bash
  services/director-v2/src/simcore_service_director_v2/api/dependencies/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/api/entrypoints.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/api/routes/running_interactive.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/domains/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/services.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/utils/clients.py
  services/director-v2/tests/unit/test_modules_director_v0.py
  services/docker-compose.devel.yml
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/director/director_api.py
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_exceptions.py
  services/web/server/tests/unit/with_dbs/fast/test_comp_tasks_listening_task.py
  services/web/server/tests/unit/with_dbs/fast/test_computation_api.py
Labels: a:api, a:database, a:director, a:webserver
