Repository ITISFoundation/osparc-simcore, pull requests merged in 2020-09, with the labels that each got.

#1766 Fix: update metadata from Study Editor
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/component/metadata/StudyDetailsEditor.js
  services/web/client/source/class/osparc/component/metadata/StudyInfo.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/ui/message/FlashMessage.js
Labels: a:frontend

#1770 Take screenshots every second
  services/web/client/source/class/osparc/auth/ui/LoginView.js
  services/web/client/source/class/osparc/auth/ui/RegistrationView.js
  services/web/client/source/class/osparc/auth/ui/ResetPassRequestView.js
  services/web/client/source/class/osparc/desktop/preferences/pages/SecurityPage.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/utils.js
Labels: e2e

#1778 Feature/e2e periodic screenshots (II)
  tests/e2e/tutorials/jupyters.js
  tests/e2e/tutorials/mattward.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/utils.js
Labels: e2e

#1779 Show statics in Preferences
  services/web/client/source/class/osparc/data/Permissions.js
  services/web/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/web/client/source/class/osparc/desktop/preferences/pages/TesterPage.js
Labels: a:frontend

#1763 [maintenance] Various improvements on logs to assist debugging
  .github/workflows/ci-testing-deploy.yml
  Makefile
  api/tests/requirements.txt
  ci/github/system-testing/e2e.bash
  docs/img/.stack-simcore-version.yml.png
  package-lock.json
  package.json
  packages/postgres-database/Makefile
  packages/postgres-database/doc/img/postgres-database-models.svg
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  services/docker-compose-build.yml
  services/docker-compose.yml
  services/sidecar/src/simcore_service_sidecar/config.py
  services/sidecar/src/simcore_service_sidecar/utils.py
  services/web/Dockerfile
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/src/simcore_service_webserver/__version__.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/computation_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/rest_handlers.py
  services/web/server/src/simcore_service_webserver/settings.py
  services/web/server/src/simcore_service_webserver/statics.py
  services/web/server/tests/integration/computation/test_computation.py
  services/web/server/tests/integration/computation/test_rabbit.py
  services/web/server/tests/integration/test_project_workflow.py
  services/web/server/tests/unit/isolated/test_rest.py
  services/web/server/tests/unit/isolated/test_settings.py
  services/web/server/tests/unit/with_dbs/fast/test_access_to_studies.py
  tests/e2e/Makefile
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/utils/auto.js
  tests/swarm-deploy/requirements/requirements.txt
Labels: a:sidecar, a:webserver, dependencies, t:maintenance

#1787 Fix Study lock
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/store/Store.js
  tests/e2e/demo/puppeteerDemo.js
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: a:frontend

#1790 e2e: Wait longer for sleepers
  services/web/client/source/class/osparc/component/widget/CollapsibleView.js
  services/web/client/source/class/osparc/data/Permissions.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/web/client/source/class/osparc/desktop/preferences/pages/TesterPage.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/responsesQueue.js
Labels: e2e

#1788 Theming applications
  services/web/client/Manifest.json
  services/web/client/compile.json
  services/web/client/qx-lock.json
  services/web/client/source/boot/index.html
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/component/widget/LogoOnOff.js
  services/web/client/source/class/osparc/data/Permissions.js
  services/web/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/web/client/source/class/osparc/desktop/preferences/pages/TesterPage.js
  services/web/client/source/class/osparc/theme/Appearance.js
  services/web/client/source/class/osparc/theme/ColorBlue.js
  services/web/client/source/class/osparc/theme/ColorLightBlue.js
  services/web/client/source/class/osparc/theme/ColorPurple.js
  services/web/client/source/class/osparc/theme/ThemeBlue.js
  services/web/client/source/class/osparc/theme/ThemeLightBlue.js
  services/web/client/source/class/osparc/theme/ThemePurple.js
  services/web/client/source/class/osparc/ui/basic/Logo.js
  services/web/client/source/class/osparc/ui/basic/LogoWPlatform.js
  services/web/client/source/class/osparc/utils/Utils.js
  services/web/client/source/resource/osparc/favicon-osparc.png
  services/web/client/source/resource/osparc/favicon-tis.png
  services/web/client/source/resource/osparc/offline.svg
  services/web/client/source/resource/osparc/s4l_logo.png
  services/web/client/source/resource/osparc/ti-solutions.svg
  tests/e2e/utils/auto.js
Labels: a:frontend

#1808 Removed unused applications
  services/web/client/compile.json
Labels: a:frontend

#1810 take screenshots in fullPage mode
  tests/e2e/utils/utils.js
Labels: a:frontend, e2e

#1724 garbage collector system overhaul and extras
  CHANGELOG.md
  packages/postgres-database/src/simcore_postgres_database/cli.py
  packages/postgres-database/src/simcore_postgres_database/migration/env.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_projects.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/pytest-simcore/src/pytest_simcore/websocket_client.py
  services/web/server/src/simcore_service_webserver/groups_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/resource_manager/__init__.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
  services/web/server/src/simcore_service_webserver/users_api.py
  services/web/server/src/simcore_service_webserver/users_to_groups_api.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/test_garbage_collection.py
  services/web/server/tests/integration/utils.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/with_dbs/_helpers.py
  services/web/server/tests/unit/with_dbs/fast/test_garbage_collector.py
  services/web/server/tests/unit/with_dbs/medium/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Labels: a:webserver, t:enhancement

#1811 p2e scripts moved to osparc-simcore
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/utils/utils.js
Labels: e2e

#1815 Minors
  services/web/client/source/class/osparc/desktop/preferences/Preferences.js
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
Labels: a:frontend

#1809 Remove non-working debug config
  services/director/src/simcore_service_director/producer.py
Labels: a:director

#1817 UI fixes/improvements and more
  services/web/client/source/class/osparc/component/export/Permissions.js
  services/web/client/source/class/osparc/component/filter/AutocompleteFilter.js
  services/web/client/source/class/osparc/component/filter/TextFilter.js
  services/web/client/source/class/osparc/component/form/FieldWHint.js
  services/web/client/source/class/osparc/component/metadata/ServiceDetails.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/widget/DashGrid.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/desktop/ControlsBar.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ProfilePage.js
  services/web/client/source/class/osparc/desktop/preferences/pages/TesterPage.js
  services/web/client/source/class/osparc/file/FilesAdd.js
  services/web/client/source/class/osparc/io/rest/Resource.js
  services/web/client/source/class/osparc/ui/basic/IconButton.js
  services/web/client/source/class/osparc/ui/basic/JsonTreeWidget.js
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/web/client/source/class/osparc/ui/basic/Switch.js
  services/web/client/source/class/osparc/ui/message/FlashMessage.js
  services/web/client/source/class/osparc/ui/switch/ThemeSwitcher.js
  services/web/client/source/class/osparc/utils/Utils.js
  services/web/client/source/class/osparc/utils/issue/Base.js
  services/web/client/source/class/osparc/utils/issue/Fogbugz.js
  services/web/client/source/class/osparc/utils/issue/Github.js
  services/web/client/source/class/osparc/wrapper/Gridster.js
  services/web/client/source/resource/osparc/gridsterjs/jquery-3.3.1.min.js
  services/web/client/source/resource/osparc/gridsterjs/jquery.gridster-0.7.0.min.css
  services/web/client/source/resource/osparc/gridsterjs/jquery.gridster-0.7.0.min.js
  services/web/client/source/resource/osparc/gridsterjs/jquery.gridster.demo.css
  services/web/client/source/resource/osparc/gridsterjs/jquery.gridster.osparc.css
  services/web/client/source/resource/osparc/gridsterjs/jquery.gridster.with-extras-0.7.0.min.js
  services/web/client/source/resource/osparc/loading/ProgressLoaderWidgetOsparc.css
  services/web/client/source/resource/osparc/loading/loader.html
  services/web/client/source/resource/osparc/loading/osparc-icon-black-S.png
  services/web/client/source/resource/osparc/ti-solutions.svg
  services/web/server/tests/integration/test_project_workflow.py
Labels: a:frontend

#1819 Disabling GC service removal
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
Labels: a:webserver, bug

#1827 Fixes sidecar reqs
  services/sidecar/Dockerfile
  services/sidecar/requirements/Makefile
  services/sidecar/requirements/_base.in
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_packages.in
  services/sidecar/requirements/_packages.txt
  services/sidecar/requirements/_test.in
  services/sidecar/requirements/_test.txt
  services/sidecar/requirements/prod.txt
Labels: a:sidecar, dependencies

#1826 BugFix: Fix/catalog model
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/tests/unit/test_openapi_specs.py
  services/web/server/src/simcore_service_webserver/catalog.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/tests/integration/test_project_workflow.py
  services/web/server/tests/unit/with_dbs/fast/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Labels: a:catalog, bug

#1825 Computational services can have an interactive service as input
  services/director/src/simcore_service_director/producer.py
  services/sidecar/src/simcore_service_sidecar/executor.py
  services/sidecar/tests/integration/test_sidecar.py
  services/web/server/src/simcore_service_webserver/computation_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: a:sidecar, a:webserver, bug

#1829 Minor fix catalog exception exception and doc
  docs/releasing-workflow-instructions.md
  services/catalog/src/simcore_service_catalog/services/director.py
Labels: bug

#1830 Freezes extra packages to run pylint CI
  ci/helpers/install_pylint.bash
  ci/helpers/requirements.in
  ci/helpers/requirements.txt
Labels: bug, dependencies

#1839 screenshots every 2 seconds for p2e
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/tutorials/jupyters.js
  tests/e2e/tutorials/mattward.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e

#1837 TIS logo replaced
  services/web/client/source/resource/osparc/ti-solutions.svg
  services/web/client/source/resource/osparc/ti-solutions_keep.svg
Labels: a:frontend

#1840 e2e false positives
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e

#1844 Bugfix: Disable cache when reloading studies
  services/web/client/source/class/osparc/component/sweeper/Iterations.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
Labels: a:frontend, bug

#1842 Enable orphan service removal + making stop service more solid
  README.md
  packages/service-library/src/servicelib/async_utils.py
  packages/service-library/tests/test_async_utils.py
  services/director/src/simcore_service_director/producer.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
Labels: a:director

#1845 More e2e
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/tutorials/jupyters.js
  tests/e2e/tutorials/mattward.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/utils.js
Labels: e2e

#1841 Maintenance/weekly upgrades
  .dockerignore
  .gitignore
  ci/github/helpers/setup_docker_compose.bash
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_base.in
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  scripts/requirements/Dockerfile
  scripts/requirements/Makefile
  services/api-server/requirements/_base.in
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/catalog/requirements/_test.txt
  services/director/requirements/_base.txt
  services/director/requirements/_test.txt
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_packages.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/environment-setup/requirements/requirements.txt
  tests/swarm-deploy/requirements/requirements.txt
Labels: dependencies, python, t:maintenance

#1849 Minor e2e: prefix Template name to Screenshots
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/tutorials/jupyters.js
  tests/e2e/tutorials/mattward.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e

#1848 Fix resource manger alive keys always have a TTL
  services/web/server/src/simcore_service_webserver/resource_manager/registry.py
  services/web/server/src/simcore_service_webserver/resource_manager/websocket_manager.py
  services/web/server/tests/unit/with_dbs/fast/test_redis_registry.py
Labels: a:webserver
