Repository ITISFoundation/osparc-simcore, pull requests merged in 2020-12, with the labels that each got.

#2006 Zoom Pipeline editor in/out/reset
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/MainPage.js
Labels: a:frontend

#2015 Adding snapshot link to graylog with every call to screenshots
  tests/e2e/README.md
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/utils.js
Labels: a:infra+ops, e2e, t:maintenance

#2013 Report errors during user cleanup
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
Labels: a:webserver, bug

#2030 Fix lock issue: "close" study after reloadUserStudies
  services/catalog/src/simcore_service_catalog/services/director.py
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/responsesQueue.js
  tests/e2e/utils/utils.js
Labels: a:frontend, bug

#2033 Fixes missing argument in Node validator class methods and minio dependency
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/tests/test_project_nodes.py
  packages/simcore-sdk/requirements/_base.in
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  requirements/constraints.txt
  tests/swarm-deploy/requirements/requirements.in
  tests/swarm-deploy/requirements/requirements.txt
Labels: bug

#1918 timeouts for http clients
  packages/models-library/src/models_library/settings/http_clients.py
  packages/service-library/src/servicelib/client_session.py
  packages/service-library/src/servicelib/utils.py
  packages/simcore-sdk/src/simcore_sdk/config/http_clients.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/filemanager.py
  services/api-server/requirements/_base.in
  services/api-server/requirements/ci.txt
  services/api-server/requirements/dev.txt
  services/api-server/requirements/prod.txt
  services/api-server/setup.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/test_settings.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/services/director.py
  services/catalog/tests/unit/test_services_director.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/docker_registry.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_services.py
  services/storage/client-sdk/python/simcore_service_storage_sdk/rest.py
  services/storage/tests/test_python_client_sdk.py
Labels: t:enhancement

#2043 comp_task requests are sequentially committed for each node in the project
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/utils/async_utils.py
Labels: a:director-v2, bug

#2019 🏗️ Maintenance week 50: mostly library upgrades used in testings and better doc
  README.md
  api/tests/requirements.txt
  ci/travis/.travis.yml
  ci/travis/DISABLED.md
  docs/img/.stack-simcore-version.yml.png
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/doc/img/postgres-database-models.svg
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/requirements/_tools.txt
  packages/pytest-simcore/requirements/mocks.txt
  packages/s3wrapper/requirements/_base.txt
  packages/s3wrapper/requirements/_test.txt
  packages/s3wrapper/requirements/_tools.txt
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.in
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.txt
  requirements/constraints.txt
  requirements/packages-notes.md
  requirements/tools/Makefile
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/catalog/requirements/_test.in
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/sidecar/requirements/_test.txt
  services/sidecar/requirements/_tools.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  services/web/server/src/simcore_service_webserver/security_access_model.py
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/tests/integration/computation/test_rabbit.py
  services/web/server/tests/unit/with_dbs/medium/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
  tests/environment-setup/requirements/requirements.txt
  tests/swarm-deploy/requirements/requirements.txt
Labels: dependencies, t:maintenance

#2048 Guided mode only for testers
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/Permissions.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
Labels: a:frontend

#2022 Expose service metadata and TSR
  packages/models-library/src/models_library/services.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/3452ca7b13e9_metadata_column_added.py
  packages/postgres-database/src/simcore_postgres_database/models/services.py
  services/web/client/source/class/osparc/component/export/ServicePermissions.js
  services/web/client/source/class/osparc/component/form/FieldWHint.js
  services/web/client/source/class/osparc/component/metadata/ServiceDetailsEditor.js
  services/web/client/source/class/osparc/component/metadata/ServiceQuality.js
  services/web/client/source/class/osparc/component/metadata/ServiceQualityEditor.js
  services/web/client/source/class/osparc/component/metadata/StudyDetailsEditor.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/ui/basic/StarsRating.js
  services/web/client/source/class/osparc/ui/hint/Hint.js
  services/web/client/source/class/osparc/utils/Services.js
  services/web/client/source/resource/form/service-quality.json
Labels: a:database, a:frontend

#2054 Frontend for Is334/osparc classifiers
  services/web/client/source/class/osparc/component/filter/ClassifiersFilter.js
  services/web/client/source/class/osparc/component/form/FieldWHint.js
  services/web/client/source/class/osparc/dashboard/ClassifiersEditor.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/ui/tree/CheckboxTree.js
  services/web/client/source/class/osparc/ui/tree/CheckboxTreeItem.js
  services/web/client/source/class/osparc/utils/Classifiers.js
  services/web/client/source/resource/osparc/rrid-logo.png
Labels: a:frontend

#2059 Partial pipelines: Handle retries in sidecar, and failures
  services/sidecar/src/simcore_service_sidecar/celery_configurator.py
  services/sidecar/src/simcore_service_sidecar/celery_task.py
  services/sidecar/src/simcore_service_sidecar/cli.py
  services/sidecar/src/simcore_service_sidecar/core.py
  services/sidecar/src/simcore_service_sidecar/utils.py
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: a:sidecar

#2045 New classifiers with scicrunch RRIDs (⚠️ devops)
  .env-devel
  api/specs/webserver/openapi-groups.yaml
  api/specs/webserver/openapi.yaml
  packages/postgres-database/Makefile
  packages/postgres-database/doc/img/postgres-database-models.svg
  packages/postgres-database/src/simcore_postgres_database/migration/versions/39fa67f45cc0_adds_table_for_scicrunch_rrids.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/b60363fe438f_adds_column_to_use_scicrunch_alternative.py
  packages/postgres-database/src/simcore_postgres_database/models/classifiers.py
  packages/postgres-database/src/simcore_postgres_database/models/scicrunch_resources.py
  packages/postgres-database/src/simcore_postgres_database/webserver_models.py
  packages/pytest-simcore/src/pytest_simcore/environment_configs.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_environs.py
  packages/service-library/src/servicelib/client_session.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/db_models.py
  services/web/server/src/simcore_service_webserver/groups.py
  services/web/server/src/simcore_service_webserver/groups_api.py
  services/web/server/src/simcore_service_webserver/groups_classifiers.py
  services/web/server/src/simcore_service_webserver/groups_handlers.py
  services/web/server/src/simcore_service_webserver/publications.py
  services/web/server/src/simcore_service_webserver/scicrunch/__init__.py
  services/web/server/src/simcore_service_webserver/scicrunch/_config.py
  services/web/server/src/simcore_service_webserver/scicrunch/scicrunch_db.py
  services/web/server/src/simcore_service_webserver/scicrunch/scicrunch_models.py
  services/web/server/src/simcore_service_webserver/scicrunch/service_client.py
  services/web/server/src/simcore_service_webserver/scicrunch/submodule_setup.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/module_setup.py
  services/web/server/src/simcore_service_webserver/tags.py
  services/web/server/tests/data/get_osparc_resource_payload.json
  services/web/server/tests/unit/isolated/test_configs.py
  services/web/server/tests/unit/isolated/test_scicrunch_service.py
  services/web/server/tests/unit/isolated/test_statics.py
Labels: a:webserver, t:feature

#2060 RRID classifiers UX
  services/web/client/source/class/osparc/component/filter/ClassifiersFilter.js
  services/web/client/source/class/osparc/dashboard/ClassifiersEditor.js
  services/web/client/source/class/osparc/dashboard/SideSearch.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/store/Store.js
Labels: a:frontend

#2062 BUG FIX: Classifiers might me empty
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/store/Store.js
Labels: a:frontend

#2061 BugFix: bundle classifiers
  services/web/server/src/simcore_service_webserver/groups_classifiers.py
Labels: a:webserver

#2067 Fixes migration script "Adds column to use scicrunch alternative"
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci-testing-deploy.yml
  packages/postgres-database/src/simcore_postgres_database/migration/versions/b60363fe438f_adds_column_to_use_scicrunch_alternative.py
Labels: a:database, bug

#2066 Fix bugs
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowserListItem.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/file/FileDownloadLink.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
Labels: a:frontend

#2065 enhancements on scicrunch classifiers (backend)
  api/specs/webserver/openapi-groups.yaml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/groups_classifiers.py
  services/web/server/src/simcore_service_webserver/groups_handlers.py
  services/web/server/src/simcore_service_webserver/scicrunch/_config.py
  services/web/server/src/simcore_service_webserver/scicrunch/scicrunch_models.py
  services/web/server/src/simcore_service_webserver/scicrunch/service_client.py
  services/web/server/src/simcore_service_webserver/scicrunch/submodule_setup.py
  services/web/server/tests/unit/isolated/test_scicrunch_models.py
  services/web/server/tests/unit/isolated/test_scicrunch_service.py
  services/web/server/tests/unit/isolated/test_scicrunch_service_api.py
  services/web/server/tests/unit/isolated/test_scicrunch_service_client.py
  services/web/server/tests/unit/with_dbs/fast/test_groups_handlers_classifers.py
Labels: a:webserver, t:enhancement

#2077 enhancements on scicrunch classifiers (frontend)
  services/web/client/source/class/osparc/dashboard/ClassifiersEditor.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/client/source/class/osparc/utils/Classifiers.js
Labels: a:frontend
