Repository ITISFoundation/osparc-simcore, pull requests merged in 2020-07, with the labels that each got.

#1591 Shared project concurrency (frontend)
  services/web/client/source/class/osparc/component/export/Permissions.js
  services/web/client/source/class/osparc/component/export/SaveAsTemplate.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/store/Store.js
Labels: a:frontend

#1628 Maintenance/upgrades test tools
  .gitignore
  .vscode-template/README.md
  .vscode/launch.template.json
  .vscode/settings.template.json
  api/tests/requirements.txt
  packages/postgres-database/requirements/_test.txt
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.txt
  services/api-server/requirements/_test.txt
  services/catalog/requirements/_test.txt
  services/director/requirements/_test.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_test.txt
  tests/swarm-deploy/requirements/requirements.txt
Labels: dependencies, python, t:maintenance

#1631 Improve e2e
  tests/e2e/utils/auto.js
Labels: e2e

#1586 Is1585/cleanup storage
  .gitignore
  scripts/common.Makefile
  services/storage/Dockerfile
  services/storage/Makefile
  services/storage/client-sdk/Makefile
  services/storage/client-sdk/codegen.sh
  services/storage/docker/boot.sh
  services/storage/docker/entrypoint.sh
  services/storage/docker/healthcheck.py
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/storage/requirements/python-with-pandas_89f709.txt
  services/storage/src/simcore_service_storage/__version__.py
  services/storage/src/simcore_service_storage/datcore.py
  services/storage/src/simcore_service_storage/datcore_wrapper.py
  services/storage/src/simcore_service_storage/db.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/src/simcore_service_storage/rest.py
  services/storage/src/simcore_service_storage/rest_config.py
  services/storage/src/simcore_service_storage/s3.py
  services/storage/tests/conftest.py
  services/storage/tests/data/file_meta_data.csv
  services/storage/tests/test_configs.py
  services/storage/tests/test_datcore.py
  services/storage/tests/test_dsm.py
  services/storage/tests/test_package.py
  services/storage/tests/utils.py
Labels: a:storage, t:maintenance

#1634 2 bugs fixed + Some improvements
  services/web/client/source/class/osparc/component/service/NodeStatusUI.js
  services/web/client/source/class/osparc/component/widget/NodeInput.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/component/widget/logger/LoggerView.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/NodeStatus.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/ControlsBar.js
  services/web/client/source/class/osparc/desktop/MainPanel.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/file/FilesAdd.js
  services/web/client/source/class/osparc/ui/window/Window.js
  services/web/server/src/simcore_service_webserver/studies_access.py
Labels: a:frontend, a:webserver

#1656 Theming
  services/web/client/Manifest.json
  services/web/client/compile.json
  services/web/client/config.json
  services/web/client/qx-lock.json
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/theme/Appearance.js
  services/web/client/source/class/osparc/theme/ColorDark.js
  services/web/client/source/class/osparc/theme/ColorLight.js
  services/web/client/source/class/osparc/theme/Decoration.js
  services/web/client/source/class/osparc/theme/Font.js
  services/web/client/source/class/osparc/theme/ThemeDark.js
  services/web/client/source/class/osparc/theme/ThemeLight.js
  services/web/client/source/class/osparc/theme/mixin/Color.js
  services/web/client/source/class/osparc/ui/markdown/Markdown.js
  services/web/client/source/class/osparc/ui/switch/ThemeSwitcher.js
  services/web/client/source/class/osparc/wrapper/Svg.js
  services/web/server/src/simcore_service_webserver/statics.py
Labels: a:frontend
