Repository ITISFoundation/osparc-simcore, pull requests merged in 2020-06, with the labels that each got.

#1539 [bugfix] fixes projects_api and sets larger pool to webserver
  services/web/server/src/simcore_service_webserver/config/server-docker-prod.yaml
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: bug

#1543 [Maintenance] upgrades pytest 5.4.2 -> 5.4.3
  api/tests/requirements.txt
  packages/postgres-database/requirements/_test.txt
  packages/s3wrapper/requirements/_test.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.txt
  scripts/requirements.Makefile
  scripts/requirements/Makefile
  services/api-gateway/requirements/_base.txt
  services/api-gateway/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/director/requirements/_base.txt
  services/director/requirements/_test.txt
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_test.txt
  tests/swarm-deploy/requirements/requirements.txt
Labels: dependencies, python, t:maintenance

#1538 Fix director service discovery
  services/director/src/simcore_service_director/producer.py
Labels: bug

#1555 add traefik endpoint to api-gateway
  packages/pytest-simcore/src/pytest_simcore/traefik_service.py
  services/director/src/simcore_service_director/producer.py
  services/docker-compose.local.yml
  services/docker-compose.yml
  tests/swarm-deploy/test_swarm_runs.py
Labels: a:infra+ops

#1563 [maintenance] improve stability of deploy tests
  packages/pytest-simcore/src/pytest_simcore/simcore_webserver_service.py
  tests/swarm-deploy/conftest.py
  tests/swarm-deploy/test_swarm_runs.py
Labels: t:maintenance

#1577 Hot fix for #1570 in staging
  packages/service-library/src/servicelib/utils.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/src/simcore_service_webserver/security_api.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/src/simcore_service_webserver/templates/error-page.html
  services/web/server/src/simcore_service_webserver/users_api.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/unit/with_dbs/test_access_to_studies.py
Labels: bug

#1553 Adds support for GPU scheduling of computational services
  .vscode-template/launch.json
  api/specs/common/schemas/services.yaml
  api/specs/director/openapi.yaml
  services/director/src/simcore_service_director/api/v0/openapi.yaml
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/rest/handlers.py
  services/director/tests/test_docker_utils.py
  services/docker-compose.devel.yml
  services/sidecar/requirements/_test.in
  services/sidecar/requirements/_test.txt
  services/sidecar/src/simcore_service_sidecar/celery.py
  services/sidecar/src/simcore_service_sidecar/celery_configurator.py
  services/sidecar/src/simcore_service_sidecar/config.py
  services/sidecar/src/simcore_service_sidecar/core.py
  services/sidecar/src/simcore_service_sidecar/exceptions.py
  services/sidecar/src/simcore_service_sidecar/utils.py
  services/sidecar/tests/unit/test_celery_configurator.py
  services/web/server/src/simcore_service_webserver/computation_api.py
  services/web/server/src/simcore_service_webserver/director/director_api.py
Labels: t:enhancement

#1578 Maintenance/cleanup api server
  README.md
  services/api-server/Makefile
  services/api-server/README.md
  services/api-server/requirements/_base.in
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/sandbox/_test_client_sdk.py
  services/api-server/sandbox/_test_schemas.py
  services/api-server/sandbox/api-key-auth.py
  services/api-server/sandbox/get_app_state.py
  services/api-server/sandbox/model_conversions.py
  services/api-server/sandbox/pydantic-settings.py
  services/api-server/sandbox/simple_app.py
  services/api-server/src/simcore_service_api_server/api/dependencies/auth_api_key.py
  services/api-server/src/simcore_service_api_server/api/dependencies/auth_basic.py
  services/api-server/src/simcore_service_api_server/api/dependencies/auth_oath2.py
  services/api-server/src/simcore_service_api_server/api/dependencies/authentication.py
  services/api-server/src/simcore_service_api_server/api/dependencies/database.py
  services/api-server/src/simcore_service_api_server/api/dependencies/webserver.py
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/authentication/__init__.py
  services/api-server/src/simcore_service_api_server/api/routes/authentication/api_key.py
  services/api-server/src/simcore_service_api_server/api/routes/authentication/oauth2.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/src/simcore_service_api_server/api/routes/users.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/events.py
  services/api-server/src/simcore_service_api_server/core/openapi.py
  services/api-server/src/simcore_service_api_server/db/events.py
  services/api-server/src/simcore_service_api_server/db/repositories/__init__.py
  services/api-server/src/simcore_service_api_server/db/repositories/_base.py
  services/api-server/src/simcore_service_api_server/db/repositories/api_keys.py
  services/api-server/src/simcore_service_api_server/db/repositories/users.py
  services/api-server/src/simcore_service_api_server/models/domain/users.py
  services/api-server/src/simcore_service_api_server/models/schemas/api_keys.py
  services/api-server/src/simcore_service_api_server/models/schemas/tokens.py
  services/api-server/src/simcore_service_api_server/models/schemas/users.py
  services/api-server/src/simcore_service_api_server/services/jwt.py
  services/api-server/src/simcore_service_api_server/services/remote_debug.py
  services/api-server/src/simcore_service_api_server/services/security.py
  services/api-server/src/simcore_service_api_server/services/serialization.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/_helpers.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_meta.py
  services/api-server/tests/unit/test_jwt.py
  services/api-server/tests/unit/test_security.py
  services/api-server/tests/unit/test_settings.py
Labels: a:api
