Repository ITISFoundation/osparc-simcore, pull requests merged in 2020-01, with the labels that each got.

#1216 Quick creation of studies
  services/web/client/source/class/osparc/component/widget/NewStudyDlg.js
  services/web/client/source/class/osparc/component/widget/NodeView.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/desktop/StudyBrowser.js
  services/web/client/source/class/osparc/theme/Appearance.js
  services/web/client/source/class/osparc/theme/Decoration.js
  services/web/client/source/class/osparc/theme/Font.js
  services/web/client/source/class/osparc/ui/form/EditLabel.js
Labels: a:frontend

#1203 Improve FilePicker UX
  api/specs/webserver/v0/components/schemas/project-v0.0.1-converted.yaml
  api/specs/webserver/v0/components/schemas/project-v0.0.1.json
  services/web/client/source/class/osparc/component/widget/NodeDataManager.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/Converters.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/desktop/DataBrowser.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/desktop/StudyBrowser.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/file/FileLabelWithActions.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/file/FileTreeItem.js
  services/web/client/source/class/osparc/file/FilesAdd.js
  services/web/client/source/class/osparc/file/FilesTree.js
  services/web/client/source/class/osparc/store/Data.js
  services/web/client/source/class/osparc/utils/Services.js
  services/web/client/source/class/osparc/utils/UuidToName.js
  services/web/client/source/class/osparc/wrapper/Svg.js
Labels: a:frontend

#1227 Feature/start stop node in backend
  .travis.yml
  api/specs/storage/openapi.yaml
  api/specs/webserver/openapi-projects.yaml
  api/specs/webserver/openapi-services.yaml
  api/specs/webserver/openapi.yaml
  ci/travis/build/test-images
  ci/travis/helpers/update_docker
  ci/travis/integration-testing/simcore-sdk
  ci/travis/integration-testing/webserver
  ci/travis/system-testing/e2e
  ci/travis/system-testing/swarm-deploy
  ci/travis/unit-testing/api
  ci/travis/unit-testing/director
  ci/travis/unit-testing/service-library
  ci/travis/unit-testing/sidecar
  ci/travis/unit-testing/simcore-sdk
  ci/travis/unit-testing/storage
  ci/travis/unit-testing/webserver
  services/director/src/simcore_service_director/producer.py
  services/director/tests/test_producer.py
  services/sidecar/src/sidecar/core.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/tests/conftest.py
  services/storage/tests/test_dsm.py
  services/web/client/source/class/osparc/component/metadata/StudyDetailsEditor.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/StudyBrowser.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/resource/api/openapi.yaml
  services/web/server/Makefile
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director/__init__.py
  services/web/server/src/simcore_service_webserver/director/director_api.py
  services/web/server/src/simcore_service_webserver/director/handlers.py
  services/web/server/src/simcore_service_webserver/projects/__init__.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/src/simcore_service_webserver/storage_api.py
  services/web/server/tests/unit/with_dbs/conftest.py
  services/web/server/tests/unit/with_dbs/test_projects.py
  services/web/server/tests/unit/with_dbs/test_resource_manager.py
Labels: a:director, a:frontend, a:sidecar, a:webserver

#1226 [bugfix] Delete studies
  services/web/client/source/class/osparc/desktop/StudyBrowser.js
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Labels: a:frontend, a:webserver, t:bug

#1222 Auto connect ports
  services/web/client/source/class/osparc/component/form/Auto.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/preferences/PreferencesSettings.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ExperimentalPage.js
  services/web/client/source/class/osparc/store/Data.js
Labels: a:frontend

#1245 Python scripting UX
  services/web/client/source/class/osparc/component/service/NodeStatus.js
  services/web/client/source/class/osparc/component/widget/NodeDataManager.js
  services/web/client/source/class/osparc/component/widget/NodeView.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/preferences/Preferences.js
  services/web/client/source/class/osparc/desktop/preferences/PreferencesSettings.js
  services/web/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ExperimentalPage.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/file/FilesAdd.js
Labels: a:frontend
