Repository ITISFoundation/osparc-simcore, pull requests merged in 2021-03, with the labels that each got.

#2177 Delete Organization
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/dashboard/OrganizationEditor.js
  services/web/client/source/class/osparc/dashboard/OrganizationListItem.js
  services/web/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
Labels: a:frontend

#2179 Director-v2 Multi fixes
  services/director-v2/src/simcore_service_director_v2/models/domains/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/src/simcore_service_director_v2/utils/logging_utils.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_comp_tasks_model.py
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
Labels: a:director-v2

#2181 to_node_class throws exception if it does not find the value
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
Labels: a:director-v2

#2180 Feature/gray 4 comp
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/component/workbench/EdgeUI.js
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Edge.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/NodeStatus.js
  services/web/client/source/class/osparc/utils/StatusUI.js
  services/web/client/source/class/osparc/wrapper/Svg.js
Labels: a:frontend

#2186 wait for service connection
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/startPuppe.js
  tests/e2e/utils/utils.js
Labels: e2e

#2187 BugFix: re-allow for control loops
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
Labels: a:director-v2

#2188 E2E: Increase isolve timeouts
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Kember.js
  tests/e2e/portal/opencor.js
  tests/e2e/tutorials/isolve-gpu.js
  tests/e2e/tutorials/isolve-mpi.js
  tests/e2e/tutorials/jupyters.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/utils.js
Labels: e2e

#2189 Increase isolve-mpi timeout even more
  tests/e2e/tutorials/isolve-mpi.js
Labels: e2e

#2192 Avoids memory issues with big files while extracting archives
  packages/service-library/src/servicelib/archiving_utils.py
  packages/service-library/tests/test_archiving_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  services/web/server/src/simcore_service_webserver/exporter/archiving.py
  services/web/server/tests/unit/isolated/test_exporter_archiving.py
Labels: a:webserver, bug

#2193 Bugfixes
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormEditor.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
Labels: a:frontend

#2195 BugFix: Fixes error parsing classifiers from database
  services/web/server/src/simcore_service_webserver/groups_classifiers.py
  services/web/server/tests/unit/with_dbs/fast/test_groups_classifiers.py
Labels: a:webserver

#2196 Extending data_manager
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/filemanager.py
  packages/simcore-sdk/tests/integration/test_filemanager.py
Labels: t:enhancement

#2197 Fixing wrong file name
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
Labels: bug

#2190 wait for notebook to complete
  services/docker-compose.yml
  tests/e2e/tutorials/jupyters.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/utils.js
Labels: e2e

#2198 E2e wait for notebook2
  services/docker-compose.yml
  tests/e2e/tutorials/jupyters.js
Labels: e2e

#2199 E2e wait for notebook3
  tests/e2e/tutorials/jupyters.js
  tests/e2e/utils/utils.js
Labels: e2e

#2200 Final bugs for state_puller
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/filemanager.py
  packages/simcore-sdk/tests/integration/test_filemanager.py
  services/director/src/simcore_service_director/producer.py
Labels: bug

#2201 if metadata file did not exist it would crash
  services/storage/src/simcore_service_storage/handlers.py
Labels: bug

#2203 Bugfix: Empty File-Picker
  services/web/client/source/class/osparc/file/FilePicker.js
Labels: a:frontend, bug

#2168 File Browser redesign
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/widget/NodeDataManager.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/dashboard/DataBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/file/FileLabelWithActions.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/file/FileTreeItem.js
  services/web/client/source/class/osparc/file/FilesTree.js
  services/web/client/source/class/osparc/file/FolderViewer.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
  services/web/client/source/class/osparc/ui/window/Confirmation.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Kember.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/tutorials/isolve-gpu.js
  tests/e2e/tutorials/isolve-mpi.js
  tests/e2e/tutorials/jupyters.js
  tests/e2e/tutorials/mattward.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: a:frontend

#2207 3rd party tokens redesign
  services/web/client/source/class/osparc/component/widget/NodeDataManager.js
  services/web/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/web/client/source/class/osparc/desktop/preferences/pages/SecurityPage.js
  services/web/client/source/class/osparc/desktop/preferences/pages/TokensPage.js
  services/web/client/source/class/osparc/desktop/preferences/window/ShowAPIKey.js
  services/web/client/source/resource/osparc/blackfynn-logo.png
  services/web/client/source/resource/osparc/z43-logo.png
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
Labels: a:frontend

#2208 Run/Stop buttons visibility
  services/web/client/source/class/osparc/component/widget/NodeDataManager.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/Toolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FileLabelWithActions.js
  services/web/client/source/class/osparc/file/FolderViewer.js
  services/web/client/source/class/osparc/navigation/BreadcrumbNavigation.js
  services/web/client/source/class/osparc/utils/Utils.js
Labels: a:frontend

#2211 adding and removing tags from templates is now possible
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
Labels: a:webserver, bug

#2209 Service card
  services/web/client/source/class/osparc/component/metadata/ServiceDetails.js
  services/web/client/source/class/osparc/component/metadata/ServiceDetailsEditor.js
  services/web/client/source/class/osparc/component/metadata/ServiceVersionDetails.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/servicecard/Large.js
  services/web/client/source/class/osparc/servicecard/Utils.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/client/source/class/osparc/studycard/Large.js
  services/web/client/source/class/osparc/utils/Services.js
Labels: a:frontend

#2216 bugfix: cached resources with multiple keys
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/store/Store.js
Labels: a:frontend

#2191 🏗️ maintenance week-9: upgrades test&tool requirements
  api/tests/requirements.txt
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/models-library/requirements/_tools.txt
  packages/models-library/src/models_library/services.py
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/requirements/_tools.txt
  packages/postgres-database/src/simcore_postgres_database/cli.py
  packages/s3wrapper/requirements/_base.txt
  packages/s3wrapper/requirements/_test.txt
  packages/s3wrapper/requirements/_tools.txt
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_base.in
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.txt
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/nodeports_v2.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/ports_mapping.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/serialization_v2.py
  packages/simcore-sdk/tests/unit/test_port_mapping.py
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/sidecar/requirements/_test.txt
  services/sidecar/requirements/_tools.txt
  services/sidecar/src/simcore_service_sidecar/cli.py
  services/sidecar/tests/integration/test_sidecar.py
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  tests/e2e/requirements/requirements.txt
  tests/environment-setup/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: dependencies, t:maintenance

#2214 Zero time restart
  services/docker-compose.yml
Labels: a:webserver

#2221 Disallow listing shared projects
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Labels: a:webserver

#2219 Fix dependencies did not start
  services/director/src/simcore_service_director/config.py
  services/director/src/simcore_service_director/producer.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
Labels: a:director, a:webserver

#2217 Screen size message
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/ui/basic/Logo.js
  services/web/client/source/class/osparc/ui/window/SingletonWindow.js
Labels: a:frontend

#2226 Fix/simcore sdk error messages
  packages/simcore-sdk/setup.cfg
  packages/simcore-sdk/setup.py
  packages/simcore-sdk/src/simcore_sdk/__init__.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/exceptions.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/filemanager.py
Labels: bug

#2224 reduce traefik latency check, and remove unnecessary warnings when a pipeline does not exist
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/tests/integration/test_project_workflow.py
Labels: a:webserver

#2229 missing changes
  services/docker-compose.yml
Labels: a:webserver

#2225 Disallow saving a non-opened project
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Labels: a:frontend, bug

#2227 GuidedMode March feedback
  services/web/client/source/class/osparc/component/widget/NodePorts.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/data/model/NodeStatus.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideShow.js
  services/web/client/source/class/osparc/utils/StatusUI.js
Labels: a:frontend

#2233 api: get outputs out of solver node
  packages/service-library/src/servicelib/logging_utils.py
  services/api-server/Dockerfile
  services/api-server/requirements/_base.in
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/api-server/requirements/ci.txt
  services/api-server/requirements/dev.txt
  services/api-server/requirements/prod.txt
  services/api-server/setup.py
  services/api-server/src/simcore_service_api_server/api/dependencies/database.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/models/schemas/files.py
  services/api-server/src/simcore_service_api_server/utils/solver_job_outputs.py
  services/docker-compose.devel.yml
Labels: a:apiserver

#2223 Fixes #2041: adds access-rights layer to storage (⚠️ deploy & upgrade patch)
  api/specs/webserver/openapi.yaml
  packages/simcore-sdk/requirements/_test.in
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/src/simcore_sdk/node_ports/exceptions.py
  packages/simcore-sdk/tests/integration/conftest.py
  packages/simcore-sdk/tests/integration/test_filemanager.py
  packages/simcore-sdk/tests/integration/test_nodeports2.py
  services/sidecar/requirements/_test.in
  services/sidecar/requirements/_test.txt
  services/sidecar/tests/integration/test_sidecar.py
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/storage/src/simcore_service_storage/access_layer.py
  services/storage/src/simcore_service_storage/datcore_wrapper.py
  services/storage/src/simcore_service_storage/db_tokens.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/src/simcore_service_storage/rest_routes.py
  services/storage/src/simcore_service_storage/utils.py
  services/storage/tests/conftest.py
  services/storage/tests/docker-compose.yml
  services/storage/tests/test_access_layer.py
  services/storage/tests/test_dsm.py
  services/storage/tests/test_rest.py
  services/storage/tests/test_utils.py
  services/storage/tests/utils.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/storage_api.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/tests/integration/test_exporter.py
  services/web/server/tests/integration/test_project_workflow.py
  services/web/server/tests/unit/with_dbs/conftest.py
  services/web/server/tests/unit/with_dbs/fast/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Labels: a:storage, bug

#2232 More visible Maximize button
  services/web/client/source/class/osparc/component/widget/PersistentIframe.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/ui/message/Loading.js
Labels: a:frontend

#2164 Scheduler: use Director-v2 as scheduler and distribute tasks through Celery
  packages/models-library/src/models_library/utils/nodes.py
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/modules/celery.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/tests/integration/test_computation_api.py
  services/director-v2/tests/mocks/fake_workbench_computational_node_states.json
  services/director-v2/tests/unit/test_dags.py
  services/director-v2/tests/unit/test_modules_celery.py
  services/docker-compose-ops.yml
  services/sidecar/src/simcore_service_sidecar/celery_configurator.py
  services/sidecar/src/simcore_service_sidecar/celery_task.py
  services/sidecar/src/simcore_service_sidecar/celery_task_utils.py
  services/sidecar/src/simcore_service_sidecar/cli.py
  services/sidecar/src/simcore_service_sidecar/core.py
  services/sidecar/src/simcore_service_sidecar/utils.py
  services/sidecar/tests/integration/test_sidecar.py
  services/web/server/tests/unit/with_dbs/fast/test_project_db.py
Labels: a:director-v2, a:infra+ops, a:sidecar

#2243 Hotfix v1.8.x: imported wrong ValidationError
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
Labels: a:webserver

#2218 Adding SDS export format as FormatterV2
  .codeclimate.yml
  api/specs/webserver/openapi.yaml
  services/web/Dockerfile
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/exporter/export_import.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/__init__.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/base_formatter.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v2.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/__init__.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/text_files.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/__init__.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/styling_components.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/templates/__init__.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/templates/code_description.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/templates/dataset_description.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/templates/directory_manifest.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/templates/submission.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/templates/utils.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/writer.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/xlsx_base.py
  services/web/server/src/simcore_service_webserver/exporter/request_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/tests/data/exporter/v2#SHA256=a42b75b523da1f0e9c2ba0d08d7aa6d70b0ab3fb3e1263c3431976ae72ffc809.osparc
  services/web/server/tests/integration/test_exporter.py
  services/web/server/tests/unit/isolated/conftest.py
  services/web/server/tests/unit/isolated/test_exporter_archiving.py
  services/web/server/tests/unit/isolated/test_exporter_xlsx.py
Labels: a:webserver, t:feature

#2245 FastAPI services: remove limitation of 1 connection per request
  ci/github/system-testing/e2e.bash
  services/api-server/src/simcore_service_api_server/api/dependencies/database.py
  services/api-server/src/simcore_service_api_server/db/repositories/_base.py
  services/api-server/src/simcore_service_api_server/db/repositories/api_keys.py
  services/api-server/src/simcore_service_api_server/db/repositories/users.py
  services/api-server/tests/unit/_helpers.py
  services/catalog/src/simcore_service_catalog/api/dependencies/database.py
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/db/repositories/_base.py
  services/catalog/src/simcore_service_catalog/db/repositories/dags.py
  services/catalog/src/simcore_service_catalog/db/repositories/groups.py
  services/catalog/src/simcore_service_catalog/db/repositories/projects.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/database.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/_base.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_pipelines.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
Labels: a:apiserver, a:catalog, a:director-v2, a:webserver

#2249 Update hotfix docs
  docs/releasing-workflow-instructions.md
Labels: a:doc, a:infra+ops

#2251 Fix libmagic install via Docker
  services/web/Dockerfile
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/templates/directory_manifest.py
  tests/swarm-deploy/test_service_images.py
Labels: a:webserver, bug

#2250 Adds timestamp when duplicating and importing
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/tests/integration/test_exporter.py
Labels: a:webserver, t:enhancement
