Repository ITISFoundation/osparc-simcore, pull requests merged in 2021-06, with the labels that each got.

#2357 UI improvements
  services/web/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/web/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
  services/web/client/source/class/osparc/desktop/preferences/window/APIKeyBase.js
  services/web/client/source/class/osparc/theme/ColorDark.js
  services/web/client/source/class/osparc/ui/window/Dialog.js
  services/web/client/source/class/osparc/viewer/NodeViewer.js
Labels: a:frontend

#2365 Performance testing: allow setting maximum average response time
  tests/performance/Makefile
Labels: a:infra+ops

#2362 p2e: guest study dispatcher
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonLoadMore.js
  tests/e2e/package.json
  tests/e2e/portal-files/VTK_file.js
  tests/e2e/utils/utils.js
Labels: a:frontend, e2e

#2368 Better error handling
  services/web/client/source/class/osparc/Error.js
  services/web/client/source/class/osparc/data/Resources.js
Labels: a:frontend

#2370 Bugfix: Share study with Organization
  services/web/client/source/class/osparc/auth/Data.js
  services/web/client/source/class/osparc/auth/Manager.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/web/client/source/class/osparc/component/permissions/Study.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  tests/e2e/portal-files/VTK_file.js
Labels: a:frontend, bug

#2372 Init celery application in app once + run call to blocking call in executor
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  services/web/server/src/simcore_service_webserver/activity/celery_client.py
  services/web/server/src/simcore_service_webserver/activity/config.py
  services/web/server/src/simcore_service_webserver/activity/handlers.py
  services/web/server/src/simcore_service_webserver/activity/module_setup.py
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/computation_utils.py
  services/web/server/tests/unit/isolated/test_activity.py
  services/web/server/tests/unit/with_dbs/04/test_computation_utils.py
Labels: a:webserver, bug

#2369 🔨 Updates settings and removes config files: storage service
  .env-devel
  .github/PULL_REQUEST_TEMPLATE.md
  packages/models-library/src/models_library/settings/base.py
  packages/service-library/src/servicelib/application.py
  packages/service-library/src/servicelib/tracing.py
  services/storage/Makefile
  services/storage/docker/boot.sh
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/storage/setup.py
  services/storage/src/simcore_service_storage/__main__.py
  services/storage/src/simcore_service_storage/application.py
  services/storage/src/simcore_service_storage/cli.py
  services/storage/src/simcore_service_storage/constants.py
  services/storage/src/simcore_service_storage/data/docker-dev-config.yaml
  services/storage/src/simcore_service_storage/data/docker-prod-config.yaml
  services/storage/src/simcore_service_storage/data/host-dev-config.yaml
  services/storage/src/simcore_service_storage/datcore.py
  services/storage/src/simcore_service_storage/db.py
  services/storage/src/simcore_service_storage/db_tokens.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/src/simcore_service_storage/resources.py
  services/storage/src/simcore_service_storage/rest.py
  services/storage/src/simcore_service_storage/s3.py
  services/storage/src/simcore_service_storage/settings.py
  services/storage/tests/conftest.py
  services/storage/tests/test_cli.py
  services/storage/tests/test_dsm.py
  services/storage/tests/test_dsm_soft_links.py
  services/storage/tests/test_resources.py
  services/storage/tests/test_rest.py
  services/storage/tests/test_settings.py
Labels: a:storage, t:maintenance

#2381 🐛 Project locked issue (e2e issue) (⚠️ devops)
  packages/models-library/src/models_library/settings/celery.py
  services/docker-compose-ops.yml
  services/sidecar/src/simcore_service_sidecar/mpi_lock.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/resource_manager/config.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/src/simcore_service_webserver/resource_manager/redis.py
  services/web/server/src/simcore_service_webserver/resource_manager/websocket_manager.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
Labels: a:director-v2, a:infra+ops, a:sidecar, a:webserver

#2352 e2e upgrade
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Kember.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/tutorials/isolve-gpu.js
  tests/e2e/tutorials/isolve-mpi.js
  tests/e2e/tutorials/jupyters.js
  tests/e2e/tutorials/mattward.js
  tests/e2e/tutorials/sim4life.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/startPuppe.js
  tests/e2e/utils/utils.js
Labels: e2e

#2385 🐛 Allows port matching from general to concrete data
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/server/src/simcore_service_webserver/catalog_api_handlers.py
  services/web/server/tests/unit/isolated/test_catalog_api_handlers.py
Labels: a:frontend, a:webserver

#2387 🐛 Fixes multiple clients fixture
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_assert.py
  requirements/PYTHON_VERSION
  services/web/server/src/simcore_service_webserver/activity/handlers.py
  services/web/server/src/simcore_service_webserver/db.py
  services/web/server/src/simcore_service_webserver/diagnostics_core.py
  services/web/server/tests/unit/with_dbs/06/test_projects_02.py
  services/web/server/tests/unit/with_dbs/07/test_users.py
  services/web/server/tests/unit/with_dbs/09/test_projects_01.py
  tests/environment-setup/test_used_python.py
Labels: a:webserver

#2386 🐛 Fixes session cookies for /studies with latest aiohttp
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/tests/unit/isolated/test_utils.py
  services/web/server/tests/unit/with_dbs/02/test_access_to_studies.py
Labels: a:webserver

#2379 [bugfix] ifame height
  services/web/client/source/class/osparc/component/widget/PersistentIframe.js
  tests/e2e/package-lock.json
  tests/e2e/portal-files/VTK_file.js
Labels: a:frontend, bug

#2378 Ease Input file assignment
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/node/FilePickerNodeView.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/file/FolderViewer.js
  services/web/client/source/class/osparc/servicecard/Utils.js
  services/web/client/source/class/osparc/studycard/Utils.js
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/web/client/source/class/osparc/ui/basic/Thumbnail.js
  services/web/client/source/class/osparc/ui/switch/ThemeSwitcher.js
  tests/e2e/tests/tags.test.js
Labels: a:frontend

#2383 ✨ allowing to log back into a study when the tab was closed
  Makefile
  README.md
  api/specs/common/schemas/node-meta-v0.0.1-converted.yaml
  api/specs/common/schemas/node-meta-v0.0.1.json
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  packages/models-library/src/models_library/projects_state.py
  packages/models-library/tests/test_projects_state.py
  packages/models-library/tests/test_services.py
  packages/pytest-simcore/src/pytest_simcore/redis_service.py
  services/api-server/tests/unit/test_utils_solver_job_models_converters.py
  services/director/src/simcore_service_director/api/v0/openapi.yaml
  services/director/src/simcore_service_director/api/v0/schemas/node-meta-v0.0.1.json
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/node-meta-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/node-meta-v0.0.1.json
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
  services/web/server/src/simcore_service_webserver/exporter/export_import.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/models.py
  services/web/server/src/simcore_service_webserver/exporter/request_handlers.py
  services/web/server/src/simcore_service_webserver/projects/project_lock.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/resource_manager/config.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/src/simcore_service_webserver/resource_manager/redis.py
  services/web/server/src/simcore_service_webserver/resource_manager/websocket_manager.py
  services/web/server/src/simcore_service_webserver/users_api.py
  services/web/server/tests/unit/with_dbs/01/test_redis_registry.py
  services/web/server/tests/unit/with_dbs/02/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/02/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/06/test_projects_02.py
  services/web/server/tests/unit/with_dbs/09/test_projects_01.py
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
Labels: a:webserver

#2394 🏗️ Maintenance/week 25: updates of testing, tooling and vulnerable libraries
  api/tests/requirements.txt
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.in
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/requirements/_tools.txt
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_base.in
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.txt
  requirements/constraints.txt
  scripts/codestyle.bash
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/sidecar/requirements/_base.in
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_packages.in
  services/sidecar/requirements/_packages.txt
  services/sidecar/requirements/_test.txt
  services/sidecar/requirements/_tools.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/e2e/requirements/requirements.txt
  tests/environment-setup/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: dependencies, t:maintenance

#2397 🐛addresses blocking Thread/Process pool executors when shutting down
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/service-library/src/servicelib/archiving_utils.py
  packages/service-library/src/servicelib/pools.py
  packages/service-library/src/servicelib/utils.py
  packages/service-library/tests/test_application_setup.py
  packages/service-library/tests/test_archiving_utils_extra.py
  packages/service-library/tests/test_incidents_monitoring.py
  packages/service-library/tests/test_incidents_utils.py
  packages/service-library/tests/test_openapi_validation.py
  packages/service-library/tests/test_pools.py
  packages/service-library/tests/test_rest_middlewares.py
  packages/service-library/tests/test_rest_routing.py
  packages/service-library/tests/test_sandbox.py
  packages/service-library/tests/tutils.py
  packages/service-library/tests/with_postgres/conftest.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/utils/pools.py
  services/web/server/src/simcore_service_webserver/diagnostics_monitoring.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v2.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
Labels: a:catalog, a:services-library, a:webserver, bug

#2366 ⚗️ Adds dask scheduler and sidecar worker in stack
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci-testing-deploy.yml
  .gitignore
  Makefile
  ci/github/unit-testing/dask-sidecar.bash
  packages/models-library/src/models_library/projects_state.py
  packages/models-library/src/models_library/settings/base.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_pipeline.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
  packages/pytest-simcore/setup.py
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/service-integration/README.md
  requirements/tools/Makefile
  scripts/common-service.Makefile
  scripts/common.Makefile
  services/dask-sidecar/Dockerfile
  services/dask-sidecar/Makefile
  services/dask-sidecar/README.md
  services/dask-sidecar/VERSION
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/docker/entrypoint.sh
  services/dask-sidecar/requirements/Makefile
  services/dask-sidecar/requirements/_base.in
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_packages.in
  services/dask-sidecar/requirements/_packages.txt
  services/dask-sidecar/requirements/_test.in
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.in
  services/dask-sidecar/requirements/_tools.txt
  services/dask-sidecar/requirements/ci.txt
  services/dask-sidecar/requirements/dev.txt
  services/dask-sidecar/requirements/prod.txt
  services/dask-sidecar/setup.cfg
  services/dask-sidecar/setup.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/__init__.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/meta.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/dask-sidecar/tests/integration/.gitkeep
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test__code_syntax.py
  services/dask-sidecar/tests/unit/test_settings.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/scheduler.py
  services/docker-compose-build.yml
  services/docker-compose.devel.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
  services/sidecar/requirements/_base.in
  services/storage/src/simcore_service_storage/cli.py
  services/storage/src/simcore_service_storage/settings.py
  services/storage/tests/test_rest.py
  services/storage/tests/test_settings.py
  services/web/server/src/simcore_service_webserver/computation.py
  tests/swarm-deploy/test_service_restart.py
  tests/swarm-deploy/test_swarm_runs.py
Labels: a:sidecar

#2401 🐛 Fixes dask-sidecar in devel-mode and test teardown
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  services/dask-sidecar/Dockerfile
  services/sidecar/Dockerfile
Labels: a:dask-scheduler

#2389 Allow sharing Services other than the latest version
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/permissions/Permissions.js
  services/web/client/source/class/osparc/component/permissions/Service.js
  services/web/client/source/class/osparc/component/permissions/Study.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/servicecard/Large.js
  services/web/client/source/class/osparc/utils/Services.js
Labels: a:frontend

#2403 Locked study icons
  services/web/client/source/class/osparc/component/task/Export.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
Labels: a:frontend

#2408 🔨adds new api endpoint for labels from PR1887
  api/specs/director/openapi.yaml
  services/director/src/simcore_service_director/api/v0/openapi.yaml
  services/director/src/simcore_service_director/exceptions.py
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/rest/handlers.py
  services/director/tests/test_handlers.py
Labels: a:director
