Repository ITISFoundation/osparc-simcore, pull requests merged in 2021-08, with the labels that each got.

#2461 Service Catalog cards
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
  services/web/client/source/class/osparc/component/service/ServiceJumbo.js
  services/web/client/source/class/osparc/component/service/ServiceList.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/theme/Appearance.js
  services/web/client/source/class/osparc/ui/form/Jumbo.js
Labels: a:frontend

#2463 Added meta description tag
  services/web/client/source/boot/index.html
Labels: a:frontend

#2453 🐛 Fix how sidecar passes the environment variables to the 'car'
  services/sidecar/src/simcore_service_sidecar/executor.py
  services/sidecar/tests/integration/mock/osparc_python_print_env.py
  services/sidecar/tests/integration/test_sidecar.py
Labels: a:sidecar

#2434 Parameters in frontend
  services/director-v2/tests/unit/test_db_comp_tasks.py
  services/web/client/source/class/osparc/auth/LoginPage.js
  services/web/client/source/class/osparc/component/form/Auto.js
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/component/form/tag/TagManager.js
  services/web/client/source/class/osparc/component/metadata/ClassifiersEditor.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
  services/web/client/source/class/osparc/component/permissions/Study.js
  services/web/client/source/class/osparc/component/study/SaveAsTemplate.js
  services/web/client/source/class/osparc/component/widget/NodeOutput.js
  services/web/client/source/class/osparc/component/widget/PersistentIframe.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTreeItem.js
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/EdgeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/CollaboratorListItem.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/StudyParametrizer.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/client/source/class/osparc/theme/Decoration.js
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/web/client/source/class/osparc/ui/window/Confirmation.js
  services/web/client/source/class/osparc/utils/Ports.js
  services/web/client/source/class/osparc/utils/Services.js
  services/web/client/source/class/osparc/viewer/NodeViewer.js
  services/web/client/source/class/osparc/wrapper/Svg.js
  tests/e2e/tests/tags.test.js
  tests/e2e/tutorials/tutorialBase.js
Labels: a:frontend

#2467 ♻️ making webserver test_with_dbs run faster
  services/web/server/src/simcore_service_webserver/rest.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: t:enhancement

#2468 🐛Fix dynamic-sidecar integration issues
  Makefile
  services/director-v2/.env-devel
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/api/dependencies/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/services.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/tests/unit/test_models_dynamic_services.py
  services/docker-compose-deploy.yml
Labels: a:director-v2, bug

#2471 🐛 added missing service to push
  services/docker-compose-deploy.yml
Labels: bug

#2479 upgrade traefik to 2.4.13
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/docker-compose.yml
Labels: a:infra+ops

#2418 🏗️ ✨ Enhancement/connect director to dask (⚠️ devops)
  .env-devel
  .github/workflows/ci-testing-deploy.yml
  Makefile
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  packages/pytest-simcore/src/pytest_simcore/simcore_dask_service.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_deployment.py
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/src/simcore_service_director_v2/api/dependencies/scheduler.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/comp_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/celery.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/background_task.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/celery_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_pipelines.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/scheduler.py
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/src/simcore_service_director_v2/utils/exceptions.py
  services/director-v2/src/simcore_service_director_v2/utils/scheduler.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/conftest.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_models_comp_scheduler.py
  services/director-v2/tests/unit/test_modules_celery.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_utils_computation.py
  services/director-v2/tests/unit/test_utils_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_celery_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_modules_scheduler.py
  services/docker-compose.devel.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
  services/sidecar/src/simcore_service_sidecar/utils.py
  tests/e2e/utils/wait_for_services.py
Labels: a:director-v2

#2478 Password validation in forms
  services/web/client/source/class/osparc/auth/core/Utils.js
  services/web/client/source/class/osparc/auth/ui/RegistrationView.js
  services/web/client/source/class/osparc/auth/ui/ResetPassView.js
  services/web/client/source/class/osparc/desktop/preferences/pages/SecurityPage.js
Labels: bug, a:frontend

#2483 Show the Theme Switcher also in the Login Page
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
  services/web/client/source/class/osparc/ui/switch/ThemeSwitcher.js
Labels: a:frontend

#2440 Improve guided mode editor
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
  services/web/client/source/class/osparc/component/widget/NodePorts.js
  services/web/client/source/class/osparc/component/widget/NodesSlidesTree.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/SlideShow.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/StudyUI.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/SlideShowToolbar.js
  services/web/client/source/class/osparc/desktop/SlideShowView.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/Toolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/navigation/BreadcrumbSplitter.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideShow.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideShowEdit.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
  services/web/client/source/class/osparc/utils/StatusUI.js
  services/web/client/source/class/osparc/wrapper/Svg.js
  services/web/client/source/resource/osparc/favicon-osparc.png
  services/web/client/source/resource/osparc/favicon-s4l.png
  services/web/client/source/resource/osparc/osparc_logo.svg
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/utils.js
Labels: a:frontend

#2487 ♻️ Node ports package: remove globals for user,project and node ids
  packages/simcore-sdk/setup.cfg
  packages/simcore-sdk/setup.py
  packages/simcore-sdk/src/simcore_sdk/__init__.py
  packages/simcore-sdk/src/simcore_sdk/models/DEPRECATED
  packages/simcore-sdk/src/simcore_sdk/models/__init__.py
  packages/simcore-sdk/src/simcore_sdk/models/base.py
  packages/simcore-sdk/src/simcore_sdk/models/pipeline_models.py
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/__init__.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_data_item.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_data_items_list.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_item.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_items_list.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_schema_item.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_schema_items_list.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/nodeports.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/serialization.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/__init__.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/config.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/data_items_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/dbmanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/exceptions.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/__init__.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/nodeports_v2.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/ports_mapping.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/serialization_v2.py
  packages/simcore-sdk/tests/conftest.py
  packages/simcore-sdk/tests/integration/conftest.py
  packages/simcore-sdk/tests/integration/np_helpers.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_dbmanager.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  packages/simcore-sdk/tests/integration/test_node_ports_nodeports.py
  packages/simcore-sdk/tests/integration/test_node_ports_v2_nodeports2.py
  packages/simcore-sdk/tests/unit/conftest.py
  packages/simcore-sdk/tests/unit/test_node_data_data_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_data_item.py
  packages/simcore-sdk/tests/unit/test_node_ports_item.py
  packages/simcore-sdk/tests/unit/test_node_ports_itemstlist.py
  packages/simcore-sdk/tests/unit/test_node_ports_schema_item.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_links.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_nodeports_v2.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_port.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_port_mapping.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_serialization_v2.py
  services/api-server/src/simcore_service_api_server/utils/solver_job_outputs.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/sidecar/src/simcore_service_sidecar/core.py
  services/sidecar/src/simcore_service_sidecar/executor.py
  services/sidecar/tests/integration/test_sidecar.py
Labels: a:sidecar, a:pipeline-services, a:apiserver

#2491 ✨ added script to generate metrics about additional services
  scripts/metrics/Makefile
  scripts/metrics/compute_list_of_images_in_registry.py
  scripts/metrics/requirements.txt
Labels: a:infra+ops

#2492 Dynamic sidecar isse: use X-Forwarded-Proto if available
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: a:webserver

#2429 ✨ Project snapshots for metamodeling
  .github/CODEOWNERS
  .github/workflows/ci-testing-deploy.yml
  api/specs/common/schemas/node-meta-v0.0.1-converted.yaml
  api/specs/webserver/openapi-projects.yaml
  api/specs/webserver/openapi.yaml
  packages/models-library/requirements/_test.in
  packages/models-library/requirements/_test.txt
  packages/models-library/requirements/_tools.txt
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/utils/database_models_factory.py
  packages/models-library/tests/test_utils_database_models_factory.py
  packages/postgres-database/doc/img/postgres-database-models.svg
  packages/postgres-database/src/simcore_postgres_database/errors.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/5860ac6ad178_adds_projects_snapshots_table.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_snapshots.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_delete_projects_and_users.py
  packages/postgres-database/tests/test_groups.py
  packages/postgres-database/tests/test_projects_snapshots.py
  packages/postgres-database/tests/test_uniqueness_in_comp_tasks.py
  packages/pytest-simcore/src/pytest_simcore/helpers/rawdata_fakers.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_projects.py
  packages/service-library/src/servicelib/application_setup.py
  packages/service-library/tests/test_application_setup.py
  services/api-server/tests/unit/conftest.py
  services/director/src/simcore_service_director/api/v0/openapi.yaml
  services/director/src/simcore_service_director/api/v0/schemas/node-meta-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/schemas/node-meta-v0.0.1.json
  services/web/server/requirements/_test.in
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/node-meta-v0.0.1.json
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_config.py
  services/web/server/src/simcore_service_webserver/db_base_repository.py
  services/web/server/src/simcore_service_webserver/projects/module_setup.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/snapshots.py
  services/web/server/src/simcore_service_webserver/snapshots_api_handlers.py
  services/web/server/src/simcore_service_webserver/snapshots_core.py
  services/web/server/src/simcore_service_webserver/snapshots_db.py
  services/web/server/src/simcore_service_webserver/snapshots_models.py
  services/web/server/tests/sandbox/catalog_services_openapi_generator.py
  services/web/server/tests/sandbox/projects_openapi_generator.py
  services/web/server/tests/unit/isolated/test_snapshots_models.py
  services/web/server/tests/unit/with_dbs/09/test_projects_01.py
  services/web/server/tests/unit/with_dbs/11/conftest.py
  services/web/server/tests/unit/with_dbs/11/test_snapshots_api_handlers.py
  services/web/server/tests/unit/with_dbs/11/test_snapshots_core.py
  services/web/server/tests/unit/with_dbs/11/test_snapshots_db.py
  services/web/server/tests/unit/with_dbs/config-devel.yml
  services/web/server/tests/unit/with_dbs/config.yaml
Labels: a:webserver

#2490 e2e: fix Colleen Clancy tests
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Kember.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/tutorials/isolve-gpu.js
  tests/e2e/tutorials/isolve-mpi.js
  tests/e2e/tutorials/jupyters.js
  tests/e2e/tutorials/mattward.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e

#2494 🐛 project slideshow entries correctly replaced
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
Labels: a:webserver

#2495 🐛 Fix webserver 11 unittest
  services/web/server/tests/unit/with_dbs/11/test_snapshots_api_handlers.py
Labels: a:webserver

#2496 🐛 Fix unit test in webserver 11 (2 and final)
  services/web/server/tests/unit/with_dbs/11/test_snapshots_api_handlers.py
Labels: a:webserver

#2499 ✨Scheduler: add table for user/group clusters
  packages/postgres-database/src/simcore_postgres_database/errors.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/dd8220be55ad_add_clusters_table.py
  packages/postgres-database/src/simcore_postgres_database/models/cluster_to_groups.py
  packages/postgres-database/src/simcore_postgres_database/models/clusters.py
  packages/postgres-database/tests/test_clusters.py
Labels: a:database

#2506 Guided Mode: Plus buttons only at the beginning and end
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideShowEdit.js
Labels: a:frontend

#2512 🐛 Dask scheduler: set bound folders inside container without job id
  services/sidecar/src/simcore_service_sidecar/executor.py
Labels: a:director-v2, a:dask-service

#2498 Snapshot WorkbenchUI preview
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormEditor.js
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUIPreview.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  tests/e2e/package-lock.json
  tests/e2e/package.json
Labels: a:frontend
