Repository ITISFoundation/osparc-simcore, pull requests merged in 2021-05, with the labels that each got.

#2298 monkey_patches an issue with Pydantic causing PageLinks validation to fail
  packages/service-library/src/servicelib/rest_pagination_utils.py
  packages/service-library/tests/test_rest_pagination_utils.py
  services/web/server/src/simcore_service_webserver/application.py
Labels: a:webserver, bug

#2310 e2e: fix delete study
  tests/e2e/utils/auto.js
Labels: e2e

#2312 project cleaner script compatible with project pagination
  scripts/maintenance/clean_projects_of_user.py
Labels: a:infra+ops

#2311 fixes and issue with e2e utils
  tests/e2e/utils/utils.js
Labels: bug, e2e

#2314 added locust facilities with more workers
  Makefile
  tests/performance/Dockerfile
  tests/performance/Makefile
  tests/performance/catalog_services.py
  tests/performance/director_services.py
  tests/performance/docker-compose.yml
Labels: a:infra+ops

#2317 Minors
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/component/form/Auto.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/node/GroupNodeView.js
  services/web/client/source/class/osparc/component/node/NodeView.js
  services/web/client/source/class/osparc/component/widget/InputsMapper.js
  services/web/client/source/class/osparc/component/widget/InputsMapperTreeItem.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/file/FolderViewer.js
  services/web/client/source/class/osparc/utils/Classifiers.js
Labels: a:frontend

#2313 Optimize catalog services endpoint
  services/catalog/src/simcore_service_catalog/api/dependencies/database.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/db/repositories/groups.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/docker-compose-ops.yml
  services/docker-compose.yml
Labels: a:catalog, a:database

#2323 Bugfix: ensure services outputs are updated in frontend when database restarts
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
Labels: a:webserver

#2329 Bugfix: make listing of S3 objects faster in storage
  services/storage/src/simcore_service_storage/dsm.py
Labels: a:storage

#2330 Bugfix: re-enable SC_COMP_SERVICES_SCHEDULED_AS passed to computational services
  services/sidecar/src/simcore_service_sidecar/boot_mode.py
  services/sidecar/src/simcore_service_sidecar/celery.py
  services/sidecar/src/simcore_service_sidecar/celery_configurator.py
  services/sidecar/src/simcore_service_sidecar/celery_task.py
  services/sidecar/src/simcore_service_sidecar/cli.py
  services/sidecar/src/simcore_service_sidecar/core.py
  services/sidecar/src/simcore_service_sidecar/executor.py
  services/sidecar/tests/integration/conftest.py
  services/sidecar/tests/integration/test_sidecar.py
Labels: a:sidecar

#2319 🏗️ updates dependencies for testing/tooling + examples scripts
  api/tests/requirements.txt
  api/tests/test_against_openapi_core.py
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/requirements/_tools.txt
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_pylint.py
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/service-library/src/servicelib/rest_pagination_utils.py
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_test.in
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/sidecar/requirements/_test.txt
  services/sidecar/requirements/_tools.txt
  services/sidecar/src/simcore_service_sidecar/log_parser.py
  services/sidecar/src/simcore_service_sidecar/utils.py
  services/sidecar/tests/unit/test_utils.py
  services/storage/client-sdk/sample.py
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/storage/tests/conftest.py
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  tests/e2e/requirements/requirements.txt
  tests/environment-setup/requirements/requirements.txt
  tests/performance/requirements/_test.txt
  tests/performance/requirements/_tools.txt
  tests/public-api/examples/.gitignore
  tests/public-api/examples/Makefile
  tests/public-api/examples/osparc_isolve_api.py
  tests/public-api/examples/s4l_tutorial.py
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: t:maintenance

#2335 added script to create new users, and import projects as template
  scripts/maintenance/clean_projects_of_user.py
  scripts/maintenance/create_user.py
  scripts/maintenance/import_projects_as_template.py
  scripts/maintenance/requirements.txt
Labels: t:maintenance

#2337 Add ping performance test
  tests/performance/Dockerfile
  tests/performance/Makefile
  tests/performance/README.md
  tests/performance/docker-compose.yml
  tests/performance/locust_files/catalog_services.py
  tests/performance/locust_files/director_services.py
  tests/performance/locust_files/locustfile.py
  tests/performance/locust_files/platform_ping_test.py
  tests/performance/locust_report/.gitkeep
  tests/performance/requirements/Makefile
  tests/performance/requirements/_base.txt
  tests/performance/requirements/_test.in
  tests/performance/requirements/_test.txt
  tests/performance/requirements/_tools.in
  tests/performance/requirements/_tools.txt
  tests/performance/requirements/dev.txt
Labels: a:infra+ops, t:maintenance

#2338 add gnu make to puppeteer image
  tests/e2e/docker/Dockerfile
  tests/e2e/docker/Makefile
Labels: a:infra+ops, t:maintenance

#2339 🏗️ Maintenance/set locust image
  tests/e2e/docker/Dockerfile
  tests/performance/Dockerfile
  tests/performance/Makefile
  tests/performance/docker-compose.yml
Labels: t:maintenance

#2331 Is2244/auto upgrade service patch
  packages/models-library/src/models_library/services.py
  packages/models-library/tests/test_services.py
  packages/postgres-database/src/simcore_postgres_database/models/groups.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/postgres-database/src/simcore_postgres_database/models/services.py
  packages/pytest-simcore/src/pytest_simcore/repository_paths.py
  services/catalog/requirements/_base.in
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/db/errors.py
  services/catalog/src/simcore_service_catalog/db/repositories/groups.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/models/domain/group.py
  services/catalog/src/simcore_service_catalog/services/access_rights.py
  services/catalog/src/simcore_service_catalog/utils/versioning.py
  services/catalog/tests/unit/test_models_domain_groups.py
  services/catalog/tests/unit/test_utils_versioning.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
  services/catalog/tests/unit/with_dbs/test_services_access_rights.py
Labels: a:catalog, t:enhancement

#2340 🏗️ maintenance: vulnerability updates
  requirements/constraints.txt
  services/api-server/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_packages.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
Labels: dependencies, python, t:maintenance

#2341 using pyinstrument to log traceback of slow callbacks
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/src/servicelib/monitor_slow_callbacks.py
  services/web/server/tests/unit/isolated/test_healthcheck.py
Labels: a:services-library

#2304 public API : hides projects, better error handling and fixes
  api/specs/webserver/openapi-projects.yaml
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ec3ef74cddae_adds_hidden_column_in_project.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  services/api-server/openapi.json
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/api-server/src/simcore_service_api_server/api/errors/httpx_client_error.py
  services/api-server/src/simcore_service_api_server/api/routes/health.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/models/basic_types.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/meta.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/modules/webserver.py
  services/api-server/src/simcore_service_api_server/utils/solver_job_models_converters.py
  services/api-server/tests/unit/fakes/__init__.py
  services/api-server/tests/unit/fakes/files_faker.py
  services/api-server/tests/unit/fakes/jobs_faker.py
  services/api-server/tests/unit/fakes/solvers_faker.py
  services/api-server/tests/unit/test_models_schemas_jobs.py
  services/api-server/tests/unit/test_models_schemas_solvers.py
  services/api-server/tests/utils/init-pg.py
  services/api-server/tools/gen_api.py
  services/storage/tests/data/projects.csv
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  tests/e2e/tutorials/sleepers_project_template_sql.csv
  tests/public-api/conftest.py
  tests/public-api/requirements/_test.in
  tests/public-api/requirements/_test.txt
  tests/public-api/test_files_api.py
  tests/public-api/test_solvers_jobs_api.py
  tests/swarm-deploy/conftest.py
  tests/swarm-deploy/test_swarm_runs.py
Labels: a:apiserver, t:enhancement

#2343 Refactoring webserver: async metrics handler, upgrades dependencies and fixes testing fixtures
  packages/models-library/tests/test_package.py
  packages/pytest-simcore/src/pytest_simcore/websocket_client.py
  packages/service-library/tests/conftest.py
  packages/service-library/tests/test_package.py
  packages/simcore-sdk/tests/unit/test_package.py
  services/api-server/tests/unit/test__code_syntax.py
  services/catalog/tests/unit/test__code_syntax.py
  services/sidecar/tests/unit/test_code_syntax.py
  services/storage/tests/conftest.py
  services/storage/tests/test_package.py
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  services/web/server/src/simcore_service_webserver/diagnostics_monitoring.py
  services/web/server/src/simcore_service_webserver/socketio/handlers_utils.py
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/integration/02/test_rabbit.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/isolated/test_diagnostics.py
  services/web/server/tests/unit/isolated/test_package.py
  services/web/server/tests/unit/with_dbs/06/test_projects_02.py
  services/web/server/tests/unit/with_dbs/09/test_projects_01.py
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, dependencies, t:maintenance

#2347 performance testing: fix script typos
  tests/performance/locust_files/platform_ping_test.py
Labels: a:infra+ops, e2e

#2342 static-webserver is now used to serve static content
  .github/CODEOWNERS
  Makefile
  docs/img/.stack-simcore-version.yml.png
  services/api-server/openapi.json
  services/docker-compose-build.yml
  services/docker-compose.devel.yml
  services/docker-compose.yml
  services/static-webserver/Dockerfile
  services/static-webserver/README.md
  services/web/Dockerfile
  services/web/client/source/class/osparc/data/Resources.js
  services/web/server/README.md
  services/web/server/src/simcore_service_webserver/application_config.py
  services/web/server/src/simcore_service_webserver/config/server-defaults.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-dev.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-prod.yaml
  services/web/server/src/simcore_service_webserver/statics.py
  services/web/server/src/simcore_service_webserver/statics_settings.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/tests/data/static/index.html
  services/web/server/tests/data/static/osparc/.gitignore
  services/web/server/tests/data/static/osparc/index.html
  services/web/server/tests/data/static/resource/.gitignore
  services/web/server/tests/data/static/s4l/.gitignore
  services/web/server/tests/data/static/s4l/index.html
  services/web/server/tests/data/static/tis/.gitignore
  services/web/server/tests/data/static/tis/index.html
  services/web/server/tests/data/static/transpiled/.gitkeep
  services/web/server/tests/data/test_activity_config.yml
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/isolated/test_configs.py
  services/web/server/tests/unit/with_dbs/01/test_groups_handlers_classifers.py
  services/web/server/tests/unit/with_dbs/02/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/02/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/04/test_change_email.py
  services/web/server/tests/unit/with_dbs/07/test_registration.py
  services/web/server/tests/unit/with_dbs/07/test_session.py
  services/web/server/tests/unit/with_dbs/config-devel.yml
  services/web/server/tests/unit/with_dbs/config.yaml
  services/web/server/tests/unit/with_dbs/conftest.py
  tests/e2e/package.json
  tests/public-api/test_users_api.py
  tests/swarm-deploy/test_service_restart.py
  tests/swarm-deploy/test_swarm_runs.py
Labels: a:static-webserver, a:webserver, t:enhancement

#2353 🏗️Maintenance: remove all cache docker images
  Makefile
  ci/build/test-images.bash
  ci/deploy/dockerhub-test-images.bash
  ci/github/integration-testing/director-v2.bash
  ci/github/integration-testing/sidecar.bash
  ci/github/integration-testing/simcore-sdk.bash
  ci/github/integration-testing/webserver.bash
  ci/github/system-testing/e2e.bash
  ci/github/system-testing/public-api.bash
  ci/github/system-testing/swarm-deploy.bash
  ci/travis/integration-testing/director-v2.bash
  ci/travis/integration-testing/sidecar.bash
  ci/travis/integration-testing/simcore-sdk.bash
  ci/travis/integration-testing/webserver.bash
  ci/travis/system-testing/swarm-deploy.bash
  scripts/common-service.Makefile
  services/api-server/Dockerfile
  services/catalog/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/docker-compose-build.yml
  services/dynamic-sidecar/Dockerfile
  services/sidecar/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
  services/web/client/Makefile
  tests/e2e/Makefile
  tests/e2e/docker/Makefile
  tests/e2e/docker/README.md
Labels: a:infra+ops

#2355 🏗️ maintenance scripts: improves error message and some cleanup
  scripts/maintenance/Makefile
  scripts/maintenance/import_projects_as_template.py
  scripts/maintenance/requirements.txt
Labels: e2e

#2356 Bugfix/director v2 loop
  Makefile
  services/api-server/docker/boot.sh
  services/api-server/setup.py
  services/api-server/src/simcore_service_api_server/__main__.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/main.py
  services/catalog/docker/boot.sh
  services/catalog/setup.py
  services/catalog/src/simcore_service_catalog/__main__.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/main.py
  services/director-v2/docker/boot.sh
  services/director-v2/setup.py
  services/director-v2/src/simcore_service_director_v2/__main__.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/main.py
  services/dynamic-sidecar/docker/boot.sh
  services/dynamic-sidecar/setup.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/main.py
Labels: a:apiserver, a:catalog, a:director-v2, a:dynamic-sidecar

#2348 Dynamic service: Do not save state for GUEST users
  api/specs/common/schemas/running_service.yaml
  api/specs/director/openapi.yaml
  services/director/requirements/_test.in
  services/director/requirements/_test.txt
  services/director/src/simcore_service_director/api/v0/openapi.yaml
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/rest/generated_code/models/inline_response2003_data.py
  services/director/src/simcore_service_director/rest/generated_code/models/simcore_node.py
  services/director/src/simcore_service_director/rest/handlers.py
  services/director/tests/test_handlers.py
  services/director/tests/test_producer.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director/director_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/tests/unit/isolated/test_director_api.py
  services/web/server/tests/unit/with_dbs/09/test_projects_01.py
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
Labels: a:director, a:webserver
