Repository ITISFoundation/osparc-simcore, pull requests merged in 2021-04, with the labels that each got.

#2220 Is1865/api runner create job
  packages/models-library/src/models_library/projects_nodes_io.py
  packages/models-library/tests/test_project_nodes_io.py
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  services/api-server/openapi.json
  services/api-server/requirements/_base.txt
  services/api-server/src/simcore_service_api_server/api/dependencies/authentication.py
  services/api-server/src/simcore_service_api_server/api/routes/_files_faker.py
  services/api-server/src/simcore_service_api_server/api/routes/_jobs_faker.py
  services/api-server/src/simcore_service_api_server/api/routes/_solvers_faker.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/db/repositories/api_keys.py
  services/api-server/src/simcore_service_api_server/models/config.py
  services/api-server/src/simcore_service_api_server/models/domain/projects.py
  services/api-server/src/simcore_service_api_server/models/raw_data.py
  services/api-server/src/simcore_service_api_server/models/schemas/files.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/modules/catalog.py
  services/api-server/src/simcore_service_api_server/modules/director_v2.py
  services/api-server/src/simcore_service_api_server/modules/storage.py
  services/api-server/src/simcore_service_api_server/modules/webserver.py
  services/api-server/src/simcore_service_api_server/utils/app_data.py
  services/api-server/src/simcore_service_api_server/utils/client_base.py
  services/api-server/src/simcore_service_api_server/utils/client_decorators.py
  services/api-server/src/simcore_service_api_server/utils/serialization.py
  services/api-server/src/simcore_service_api_server/utils/solver_job_models_converters.py
  services/api-server/src/simcore_service_api_server/utils/solver_job_outputs.py
  services/api-server/tests/unit/test_core_settings.py
  services/api-server/tests/unit/test_models_schemas_files.py
  services/api-server/tests/unit/test_models_schemas_jobs.py
  services/api-server/tests/unit/test_models_schemas_solvers.py
  services/api-server/tests/unit/test_utils_app_data.py
  services/api-server/tests/unit/test_utils_client_base.py
  services/api-server/tests/unit/test_utils_solver_job_models_converters.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/tests/integration/.gitkeep
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/tests/integration/test_exporter.py
  tests/public-api/Makefile
  tests/public-api/conftest.py
  tests/public-api/test_files_api.py
  tests/public-api/test_meta_api.py
  tests/public-api/test_solvers_api.py
  tests/public-api/test_solvers_jobs_api.py
  tests/public-api/test_users_api.py
  tests/public-api/tutorials/sleeper.py
Labels: a:api, a:apiserver

#2253 Add pgBouncer in front of postgresql
  .env-devel
  Makefile
  packages/models-library/src/models_library/settings/http_clients.py
  packages/models-library/src/models_library/settings/postgres.py
  packages/postgres-database/tests/docker-compose.yml
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  packages/service-library/src/servicelib/utils.py
  packages/simcore-sdk/tests/integration/test_dbmanager.py
  packages/simcore-sdk/tests/integration/test_filemanager.py
  packages/simcore-sdk/tests/integration/test_nodeports.py
  packages/simcore-sdk/tests/integration/test_nodeports2.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/tests/unit/test_core_settings.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/tests/unit/test_services_director.py
  services/catalog/tests/unit/with_dbs/test_entrypoint_dags.py
  services/catalog/tests/unit/with_dbs/test_entrypoint_services.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/tests/integration/test_computation_api.py
  services/docker-compose-ops.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
  services/sidecar/tests/integration/test_sidecar.py
  services/storage/client-sdk/python/simcore_service_storage_sdk/rest.py
  services/storage/tests/docker-compose.yml
  services/storage/tests/test_python_client_sdk.py
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/login/module_setup.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/tests/integration/computation/test_computation.py
  services/web/server/tests/integration/computation/test_rabbit.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/integration/test_exporter.py
  services/web/server/tests/integration/test_garbage_collection.py
  services/web/server/tests/integration/test_project_workflow.py
  tests/swarm-deploy/test_swarm_runs.py
Labels: a:database, a:infra+ops, a:webserver

#2236 Collapse inputs and Dashboard confirmation
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FilesAdd.js
  services/web/client/source/class/osparc/ui/window/Confirmation.js
  services/web/client/source/class/osparc/ui/window/Window.js
  tests/e2e/tests/tags.test.js
  tests/e2e/utils/auto.js
Labels: a:frontend

#2257 Allow a direct connection to postgres from webserver for LISTEN/NOTIFY channel
  .env-devel
  packages/models-library/src/models_library/settings/postgres.py
  packages/postgres-database/tests/docker-compose.yml
  packages/simcore-sdk/src/simcore_sdk/config/db.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/config/server-defaults.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-dev.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-prod.yaml
  services/web/server/src/simcore_service_webserver/db.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/with_dbs/config-devel.yml
  services/web/server/tests/unit/with_dbs/config.yaml
  tests/e2e/utils/wait_for_services.py
Labels: a:database, a:webserver

#2259 Separate webserver tests to improve CI speed
  .github/workflows/ci-testing-deploy.yml
  api/tests/test_repo_data.py
  ci/github/integration-testing/webserver.bash
  ci/github/unit-testing/webserver.bash
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/integration/02/conftest.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/integration/02/test_rabbit.py
  services/web/server/tests/integration/02/workbench_sleeper_dag_adjacency_list.json
  services/web/server/tests/integration/02/workbench_sleeper_payload.json
  services/web/server/tests/unit/with_dbs/01/test_change_password.py
  services/web/server/tests/unit/with_dbs/01/test_comp_tasks_listening_task.py
  services/web/server/tests/unit/with_dbs/01/test_groups_handlers_classifers.py
  services/web/server/tests/unit/with_dbs/01/test_guests_management.py
  services/web/server/tests/unit/with_dbs/01/test_login.py
  services/web/server/tests/unit/with_dbs/01/test_logout.py
  services/web/server/tests/unit/with_dbs/01/test_redis_registry.py
  services/web/server/tests/unit/with_dbs/02/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/02/test_db.py
  services/web/server/tests/unit/with_dbs/02/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/03/test_api_keys.py
  services/web/server/tests/unit/with_dbs/03/test_director_v2.py
  services/web/server/tests/unit/with_dbs/04/test_catalog_api.py
  services/web/server/tests/unit/with_dbs/04/test_change_email.py
  services/web/server/tests/unit/with_dbs/04/test_computation_api.py
  services/web/server/tests/unit/with_dbs/04/test_groups_classifiers.py
  services/web/server/tests/unit/with_dbs/04/test_storage.py
  services/web/server/tests/unit/with_dbs/05/test_project_db.py
  services/web/server/tests/unit/with_dbs/06/test_projects_02.py
  services/web/server/tests/unit/with_dbs/07/test_redis.py
  services/web/server/tests/unit/with_dbs/07/test_registration.py
  services/web/server/tests/unit/with_dbs/07/test_reset_password.py
  services/web/server/tests/unit/with_dbs/07/test_session.py
  services/web/server/tests/unit/with_dbs/07/test_users.py
  services/web/server/tests/unit/with_dbs/08/test_groups.py
  services/web/server/tests/unit/with_dbs/09/test_projects_01.py
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
Labels: a:infra+ops

#2263 Pg bouncer issue with storage
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/tests/conftest.py
  services/storage/tests/docker-compose.yml
  services/storage/tests/test_access_layer.py
  services/storage/tests/test_rest.py
Labels: a:storage

#2265 Bugfix: Storage cannot release connection
  packages/service-library/requirements/_base.txt
  packages/service-library/src/servicelib/aiopg_utils.py
  services/api-server/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_packages.txt
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/src/simcore_service_storage/dsm.py
  services/web/server/requirements/_base.txt
Labels: a:apiserver, a:catalog, a:director-v2, a:sidecar, a:storage, a:webserver

#2255 bugfix: Fixes 'Name or service not known' error in API
  services/api-server/src/simcore_service_api_server/api/routes/health.py
  services/api-server/src/simcore_service_api_server/modules/director_v2.py
  services/api-server/src/simcore_service_api_server/utils/client_base.py
  tests/public-api/conftest.py
  tests/public-api/examples/.env-devel
  tests/public-api/examples/.gitignore
  tests/public-api/examples/Makefile
  tests/public-api/examples/opencor.py
  tests/public-api/examples/sleeper.py
  tests/public-api/test_solvers_jobs_api.py
Labels: bug

#2269 remove pgbouncer and increase pg clients
  .env-devel
  Makefile
  packages/models-library/src/models_library/settings/postgres.py
  packages/postgres-database/tests/docker-compose.yml
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  packages/simcore-sdk/src/simcore_sdk/config/db.py
  packages/simcore-sdk/tests/integration/test_dbmanager.py
  packages/simcore-sdk/tests/integration/test_filemanager.py
  packages/simcore-sdk/tests/integration/test_nodeports.py
  packages/simcore-sdk/tests/integration/test_nodeports2.py
  services/catalog/tests/unit/with_dbs/test_entrypoint_dags.py
  services/catalog/tests/unit/with_dbs/test_entrypoint_services.py
  services/director-v2/tests/integration/test_computation_api.py
  services/docker-compose-ops.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
  services/sidecar/tests/integration/test_sidecar.py
  services/storage/src/simcore_service_storage/data/docker-prod-config.yaml
  services/storage/tests/conftest.py
  services/storage/tests/docker-compose.yml
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/config/server-defaults.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-dev.yaml
  services/web/server/src/simcore_service_webserver/config/server-docker-prod.yaml
  services/web/server/src/simcore_service_webserver/db.py
  services/web/server/src/simcore_service_webserver/login/module_setup.py
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/integration/02/test_rabbit.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/with_dbs/config-devel.yml
  services/web/server/tests/unit/with_dbs/config.yaml
  tests/swarm-deploy/test_swarm_runs.py
Labels: a:apiserver, a:database, a:director-v2, a:sidecar, a:storage, a:webserver

#2270 BugFix: Fixes env_prefix for director2 in api-server
  services/api-server/.env-devel
  services/api-server/src/simcore_service_api_server/core/settings.py
Labels: a:api, bug

#2252 Confirmations page
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/desktop/preferences/Preferences.js
  services/web/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
Labels: a:frontend

#2275 Is1865/fix download outputs
  api/specs/storage/openapi.yaml
  packages/models-library/src/models_library/api_schemas_storage.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/be29dbed0cce_adds_file_meta_data_is_soft_link_column.py
  packages/postgres-database/src/simcore_postgres_database/models/file_meta_data.py
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_service.py
  packages/pytest-simcore/src/pytest_simcore/simcore_webserver_service.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/filemanager.py
  packages/simcore-sdk/tests/integration/conftest.py
  packages/simcore-sdk/tests/integration/test_filemanager.py
  packages/simcore-sdk/tests/integration/test_nodeports.py
  packages/simcore-sdk/tests/integration/test_nodeports2.py
  services/api-server/src/simcore_service_api_server/api/errors/http_error.py
  services/api-server/src/simcore_service_api_server/api/routes/health.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/modules/storage.py
  services/api-server/src/simcore_service_api_server/utils/solver_job_models_converters.py
  services/api-server/src/simcore_service_api_server/utils/solver_job_outputs.py
  services/api-server/src/simcore_service_api_server/utils/typing_extra.py
  services/api-server/tests/unit/test_utils_solver_job_outputs.py
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/app_handlers.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/src/simcore_service_storage/rest.py
  services/storage/src/simcore_service_storage/rest_routes.py
  services/storage/src/simcore_service_storage/utils.py
  services/storage/tests/__init__.py
  services/storage/tests/_test_rawdatcore.py
  services/storage/tests/conftest.py
  services/storage/tests/fixtures/__init__.py
  services/storage/tests/fixtures/data_models.py
  services/storage/tests/helpers/__init__.py
  services/storage/tests/test_access_layer.py
  services/storage/tests/test_datcore.py
  services/storage/tests/test_dsm.py
  services/storage/tests/test_dsm_soft_links.py
  services/storage/tests/test_handlers.py
  services/storage/tests/test_rest.py
  services/web/server/tests/unit/with_dbs/01/test_change_password.py
  tests/public-api/examples/opencor.py
  tests/public-api/examples/sleeper.py
  tests/public-api/test_solvers_jobs_api.py
Labels: a:api, a:apiserver, a:storage, bug

#2284 e2e: workaround: print status resp if it's not what expected
  tests/e2e/utils/utils.js
Labels: e2e

#2267 🏗️ maintenance: upgrades docker and docker-compose tooling (⚠️ devops)
  .github/workflows/ci-testing-deploy.yml
  Makefile
  api/tests/requirements.txt
  ci/github/helpers/setup_docker_compose.bash
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.in
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/tests/docker-compose.prod.yml
  packages/postgres-database/tests/docker-compose.yml
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
  packages/s3wrapper/requirements/_test.txt
  packages/s3wrapper/tests/docker-compose.yml
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/tests/with_postgres/docker-compose.yml
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/tests/helpers/utils_docker.py
  requirements/constraints.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/tests/utils/docker-compose.yml
  services/catalog/docker-compose-extra.yml
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/tests/unit/with_dbs/docker-compose.yml
  services/catalog/tests/unit/with_dbs/test_entrypoint_dags.py
  services/catalog/tests/unit/with_dbs/test_entrypoint_services.py
  services/director-v2/docker-compose-extra.yml
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/docker-compose-build.yml
  services/docker-compose-ops.yml
  services/docker-compose.devel.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
  services/sidecar/requirements/_test.txt
  services/storage/requirements/_test.txt
  services/storage/tests/docker-compose.yml
  services/web/client/tools/docker-compose.yml
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
  services/web/server/tests/unit/with_dbs/docker-compose.yml
  tests/e2e/docker-compose.yml
  tests/e2e/requirements/requirements.txt
  tests/environment-setup/requirements/requirements.in
  tests/environment-setup/requirements/requirements.txt
  tests/environment-setup/test_used_docker_compose.py
  tests/public-api/requirements/_test.txt
  tests/swarm-deploy/requirements/_test.in
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: t:maintenance

#2286 Provide study link in Sharing
  services/web/client/source/class/osparc/component/permissions/Permissions.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/studycard/Utils.js
Labels: a:frontend

#2285 Services update
  services/web/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/Permissions.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/utils/Services.js
Labels: a:frontend

#2282 Is2279/jup lab studies dispatcher (⚠️ devops)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/f73fb7d7b9b8_adds_is_guest_allowed_column.py
  packages/postgres-database/src/simcore_postgres_database/models/services_consume_filetypes.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_services.py
  services/README.md
  services/web/server/src/simcore_service_webserver/constants.py
  services/web/server/src/simcore_service_webserver/login/module_setup.py
  services/web/server/src/simcore_service_webserver/statics.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/__init__.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_core.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_redirects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_rest.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_core.py
  services/web/server/tests/unit/with_dbs/02/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/04/test_change_email.py
  tests/public-api/conftest.py
Labels: a:webserver

#2268 Project pagination (backend)
  api/specs/webserver/openapi-projects.yaml
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_assert.py
  packages/service-library/src/servicelib/rest_pagination_utils.py
  packages/service-library/src/servicelib/rest_responses.py
  packages/service-library/src/servicelib/rest_utils.py
  packages/service-library/tests/test_rest_pagination_utils.py
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/catalog_api_handlers.py
  services/web/server/src/simcore_service_webserver/data/fake-template-projects.isan.json
  services/web/server/src/simcore_service_webserver/projects/module_setup.py
  services/web/server/src/simcore_service_webserver/projects/project_models.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_fakes.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/rest_utils.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/unit/isolated/test_projects_models.py
  services/web/server/tests/unit/isolated/test_template_projects.py
  services/web/server/tests/unit/with_dbs/09/test_projects_01.py
Labels: a:webserver

#2290 Resizeable Folders Tree
  services/web/client/source/class/osparc/component/widget/NodeDataManager.js
  services/web/client/source/class/osparc/dashboard/DataBrowser.js
  services/web/client/source/class/osparc/file/FilePicker.js
Labels: a:frontend

#2273 Studies pagination
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonLoadMore.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/store/Store.js
Labels: a:frontend

#2292 Templates pagination
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonLoadMore.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/desktop/MainPage.js
Labels: a:frontend

#2291 🏗️ Upgrades testing and tooling requirements
  api/tests/requirements.txt
  packages/models-library/requirements/_base.in
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_base.in
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/requirements/_tools.txt
  packages/s3wrapper/requirements/_base.txt
  packages/s3wrapper/requirements/_test.txt
  packages/s3wrapper/requirements/_tools.txt
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.txt
  requirements/python-dependencies.md
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_packages.txt
  services/sidecar/requirements/_test.txt
  services/sidecar/requirements/_tools.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  tests/environment-setup/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: dependencies, python, t:maintenance

#2271 Adds dynamic-sidecar osparc service (🏗️actions required)
  .github/CODEOWNERS
  .github/workflows/ci-testing-deploy.yml
  Makefile
  ci/github/unit-testing/dynamic-sidecar.bash
  scripts/act.bash
  scripts/codestyle.bash
  scripts/common.Makefile
  services/docker-compose-build.yml
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/CHANGELOG.md
  services/dynamic-sidecar/Dockerfile
  services/dynamic-sidecar/Makefile
  services/dynamic-sidecar/VERSION
  services/dynamic-sidecar/docker/boot.sh
  services/dynamic-sidecar/docker/entrypoint.sh
  services/dynamic-sidecar/docker/healthcheck.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/requirements/Makefile
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.in
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.in
  services/dynamic-sidecar/requirements/_tools.txt
  services/dynamic-sidecar/requirements/ci.txt
  services/dynamic-sidecar/requirements/dev.txt
  services/dynamic-sidecar/requirements/prod.txt
  services/dynamic-sidecar/setup.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/_meta.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_routing.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/health.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/mocked.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/remote_debug.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/shared_handlers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/main.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/domains/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/domains/shared_store.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/schemas/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/schemas/application_health.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_api_health.py
  services/dynamic-sidecar/tests/unit/test_api_mocked.py
  services/dynamic-sidecar/tests/unit/test_oas_spec.py
Labels: t:enhancement, t:feature

#2294 bugfix: infinite studies paginated requests
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/utils/Utils.js
  tests/e2e/utils/responsesQueue.js
Labels: a:frontend, e2e

#2296 Two lines max for Study Title card
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
Labels: a:frontend

#2297 Scroll bars: Increase contrast
  services/web/client/source/class/osparc/theme/ColorDark.js
  services/web/client/source/class/osparc/utils/Utils.js
Labels: a:frontend

#2299 e2e: wait for all templates
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  tests/e2e/utils/auto.js
Labels: e2e

#2303 Hotfix: Fix/validation diagnostics
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/diagnostics_config.py
Labels: High Priority, bug

#2302 Cancel services request
  services/catalog/src/simcore_service_catalog/__main__.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/utils/__init__.py
  services/catalog/src/simcore_service_catalog/utils/requests_decorators.py
  services/catalog/tests/integration/test_none.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_entrypoint_services.py
  services/web/server/src/simcore_service_webserver/catalog_client.py
Labels: a:catalog

#2307 🏗️ maintenance: security updates
  ci/helpers/requirements.txt
  requirements/constraints.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/sidecar/requirements/_base.txt
  services/sidecar/requirements/_packages.txt
  services/sidecar/requirements/_test.txt
  services/sidecar/requirements/_tools.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
Labels: t:maintenance
