Repository ITISFoundation/osparc-simcore, pull requests merged in 2021-11, with the labels that each got.

#2611 UI/UX: Merge Study Editor's toolbars
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/component/widget/LogoOnOff.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/SlideshowToolbar.js
  services/web/client/source/class/osparc/desktop/SlideshowView.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/io/WatchDog.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideshowEdit.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
  services/web/client/source/class/osparc/navigation/StudyMenu.js
  services/web/client/source/class/osparc/navigation/UserMenuButton.js
  services/web/client/source/class/osparc/ui/basic/Switch.js
  services/web/client/source/class/osparc/ui/switch/ThemeSwitcher.js
  services/web/client/source/class/osparc/ui/switch/ThemeSwitcherFormBtn.js
  services/web/client/source/class/osparc/ui/switch/ThemeSwitcherMenuBtn.js
Labels: a:frontend

#2616 ♻️ Maintenance/improve public api ci job
  ci/github/system-testing/public-api.bash
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_environs.py
  packages/pytest-simcore/src/pytest_simcore/simcore_dask_service.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  services/director-v2/src/simcore_service_director_v2/utils/logging_utils.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test__dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/sidecar/tests/integration/test_mpi_lock.py
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/integration/webserver_dev_config.yaml
  tests/public-api/conftest.py
  tests/public-api/requirements/_test.in
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/_tools.txt
Labels: a:api

#2628 ✅ Improving CI tests: web/server/tests/integration/02/test_rabbit.py
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  packages/pytest-simcore/src/pytest_simcore/websocket_client.py
  services/web/server/src/simcore_service_webserver/groups_api.py
  services/web/server/src/simcore_service_webserver/groups_utils.py
  services/web/server/src/simcore_service_webserver/socketio/handlers_utils.py
  services/web/server/src/simcore_service_webserver/socketio/module_setup.py
  services/web/server/src/simcore_service_webserver/users_utils.py
  services/web/server/tests/integration/02/test_rabbit.py
  services/web/server/tests/integration/conftest.py
Labels: a:webserver

#2617 UX: Select File from form and more
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/component/widget/StudyTitleOnlyTree.js
  services/web/client/source/class/osparc/component/widget/logger/LoggerView.js
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/navigation/PrevNextButtons.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/utils.js
Labels: a:frontend

#2627 🐛 Dask scheduler: Fix issue when value and/or size is not set in file download progress
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/storage_client.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/ports_mapping.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  services/dask-sidecar/Dockerfile
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/_helpers.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/docker-compose.yml
  services/dynamic-sidecar/Dockerfile
  services/storage/src/simcore_service_storage/dsm.py
Labels: a:dask-service

#2602 ✨Ui will now receive logs from dynamic-services
  ci/github/integration-testing/director-v2.bash
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/utils/registry.py
  services/director-v2/tests/integration/02/test__dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/test_utils_registry.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_docker_service_specs.py
  services/docker-compose.yml
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.in
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_logs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/directory_watcher.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_core_docker_logs.py
  services/dynamic-sidecar/tests/unit/test_core_rabbitmq.py
  services/dynamic-sidecar/tests/unit/test_core_settings.py
  services/dynamic-sidecar/tests/unit/test_utils.py
Labels: a:dynamic-sidecar

#2636 Bugfix/storage lazy update of files
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/ports_mapping.py
  scripts/maintenance/check_consistency_data.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/src/simcore_service_storage/s3wrapper/s3_client.py
  services/storage/src/simcore_service_storage/utils.py
  services/storage/tests/conftest.py
  services/storage/tests/docker-compose.yml
  services/storage/tests/unit/s3wrapper/test_s3_client.py
  services/storage/tests/unit/test_dsm.py
  services/storage/tests/unit/test_dsm_soft_links.py
  services/storage/tests/unit/test_utils.py
Labels: a:storage

#2630 ✅ maintenance: fixes random failures to deploy the stack upon integration tests setup
  .github/workflows/ci-testing-deploy.yml
  api/tests/test_repo_data.py
  ci/github/system-testing/e2e.bash
  ci/github/system-testing/public-api.bash
  ci/github/system-testing/swarm-deploy.bash
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/pytest-simcore/src/pytest_simcore/helpers/constants.py
  packages/pytest-simcore/src/pytest_simcore/helpers/typing_docker.py
  packages/pytest-simcore/src/pytest_simcore/helpers/typing_tenacity.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_dict.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  packages/pytest-simcore/tests/test_helpers_utils_dict.py
  packages/service-integration/src/service_integration/pytest_plugin/docker_integration.py
  packages/simcore-sdk/tests/integration/test_node_data_data_manager.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_dbmanager.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  packages/simcore-sdk/tests/integration/test_node_ports_nodeports.py
  packages/simcore-sdk/tests/integration/test_node_ports_v2_nodeports2.py
  services/catalog/src/simcore_service_catalog/api/routes/health.py
  services/catalog/src/simcore_service_catalog/services/director.py
  services/catalog/tests/unit/with_dbs/test_entrypoint_dags.py
  services/director-v2/src/simcore_service_director_v2/api/routes/health.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/conftest.py
  services/director-v2/tests/integration/02/test__dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/integration/02/utils.py
  services/sidecar/tests/integration/test_sidecar.py
  services/web/server/src/simcore_service_webserver/director_v2_core.py
  services/web/server/src/simcore_service_webserver/statics.py
  services/web/server/tests/conftest.py
  services/web/server/tests/data/workbench_sleeper_dag_adjacency_list.json
  services/web/server/tests/data/workbench_sleeper_payload.json
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/integration/02/conftest.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/integration/02/test_rabbit.py
  services/web/server/tests/integration/_helpers.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/integration/utils.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/isolated/test_activity.py
  services/web/server/tests/unit/with_dbs/01/test_change_password.py
  services/web/server/tests/unit/with_dbs/04/test_change_email.py
  services/web/server/tests/unit/with_dbs/config.yaml
  tests/public-api/conftest.py
  tests/public-api/requirements/dev.txt
  tests/swarm-deploy/conftest.py
  tests/swarm-deploy/requirements/_test.in
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/test_frontend_served.py
  tests/swarm-deploy/test_service_restart.py
  tests/swarm-deploy/test_stack_deploy.py
  tests/swarm-deploy/test_swarm_runs.py
Labels: a:webserver, t:maintenance

#2632 Fix zoom/scroll workbench
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUIPreview.js
  services/web/client/source/class/osparc/dashboard/SideSearch.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/SidePanel.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
  tests/e2e/portal/Voila.js
Labels: a:frontend

#2637 🐛 Bring back the logs
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/service-library/src/servicelib/aiohttp/rest_codecs.py
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
  packages/service-library/src/servicelib/rabbitmq_utils.py
  packages/service-library/tests/aiohttp/tutils.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/tests/unit/test_core_rabbitmq.py
  services/sidecar/src/simcore_service_sidecar/rabbitmq.py
  services/sidecar/tests/integration/test_sidecar.py
  services/sidecar/tests/unit/test_rabbitmq.py
  services/web/client/source/class/osparc/io/WatchDog.js
  services/web/server/src/simcore_service_webserver/catalog_client.py
  services/web/server/src/simcore_service_webserver/clusters/handlers.py
  services/web/server/src/simcore_service_webserver/computation.py
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/socketio/events.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
  services/web/server/tests/integration/02/conftest.py
  services/web/server/tests/integration/02/test_rabbit.py
Labels: a:webserver, a:sidecar, a:dynamic-sidecar, a:dask-service

#2643 add the time and date to ensure uniqueness
  services/dask-sidecar/docker/boot.sh
Labels: a:dask-service

#2642 ♻️ maintenance on director-v2 and other minors
  Makefile
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/settings/docker_registry.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_specs.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: t:maintenance, a:director-v2

#2591 ✨activate tracing in all fastapi apps
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/requests_decorators.py
  services/datcore-adapter/tests/unit/conftest.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/unit/with_swarm/test_routes_dynamic_services.py
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
  services/web/server/tests/integration/02/test_rabbit.py
Labels: a:director-v2, a:apiserver

#2640 Pie context menu
  services/web/client/source/class/osparc/component/widget/StudyTitleOnlyTree.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/Dashboard.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/wrapper/RadialMenu.js
  services/web/client/source/resource/radialMenu/FontAwesome.otf
  services/web/client/source/resource/radialMenu/RadialMenu.js
  services/web/client/source/resource/radialMenu/RadialMenuES5.js
  services/web/client/source/resource/radialMenu/font-awesome.css
  services/web/client/source/resource/radialMenu/fontawesome-webfont.eot
  services/web/client/source/resource/radialMenu/fontawesome-webfont.ttf
  services/web/client/source/resource/radialMenu/fontawesome-webfont.woff
  services/web/client/source/resource/radialMenu/fontawesome-webfont.woff2
Labels: a:frontend

#2646 Fix: Pie menu, missing fonts
  services/web/client/source/class/osparc/wrapper/RadialMenu.js
  services/web/client/source/resource/radialMenu/font-awesome.css
  services/web/client/source/resource/radialMenu/fonts/FontAwesome.otf
  services/web/client/source/resource/radialMenu/fonts/fontawesome-webfont.eot
  services/web/client/source/resource/radialMenu/fonts/fontawesome-webfont.svg
  services/web/client/source/resource/radialMenu/fonts/fontawesome-webfont.ttf
  services/web/client/source/resource/radialMenu/fonts/fontawesome-webfont.woff
  services/web/client/source/resource/radialMenu/fonts/fontawesome-webfont.woff2
Labels: a:frontend

#2631 ✨Enhancement/dask/add cluster endpoint
  api/specs/webserver/components/schemas/cluster.yaml
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/events.py
  packages/dask-task-models-library/tests/container_tasks/test_events.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/a6b281f3ee15_add_cluster_authentication_method.py
  packages/postgres-database/src/simcore_postgres_database/models/clusters.py
  packages/postgres-database/tests/test_clusters.py
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_dask_utils.py
  services/dask-sidecar/tests/unit/test_settings.py
  services/dask-sidecar/tests/unit/test_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/background_task.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test__dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/shared_comp_utils.py
  services/director-v2/tests/unit/_helpers.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/docker-compose.yml
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/web/client/source/class/osparc/component/editor/ClusterEditor.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ClustersPage.js
  services/web/client/source/class/osparc/ui/list/ClusterListItem.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/clusters/db.py
  services/web/server/src/simcore_service_webserver/clusters/handlers.py
  services/web/server/src/simcore_service_webserver/clusters/models.py
  services/web/server/src/simcore_service_webserver/resource_manager/redis.py
  services/web/server/tests/unit/with_dbs/02/clusters/test_handlers.py
  services/web/server/tests/unit/with_dbs/02/clusters/test_models.py
Labels: a:webserver

#2649 ✨ Handling of staging hotfixes
  .github/workflows/ci-staging.yml
  .github/workflows/ci-testing-deploy.yml
  Makefile
  docs/releasing-workflow-instructions.md
Labels: a:infra+ops

#2650 👷 fixes makefile recipe for hotfix-releases
  .github/workflows/ci-staging.yml
  Makefile
Labels: a:infra+ops, t:maintenance

#2615 ✨ Enhances service-integration library
  .gitignore
  Makefile
  packages/models-library/src/models_library/basic_types.py
  packages/models-library/src/models_library/services.py
  packages/models-library/tests/test_services.py
  packages/service-integration/Makefile
  packages/service-integration/README.md
  packages/service-integration/VERSION
  packages/service-integration/requirements/_tools.in
  packages/service-integration/requirements/_tools.txt
  packages/service-integration/setup.cfg
  packages/service-integration/setup.py
  packages/service-integration/src/service_integration/__init__.py
  packages/service-integration/src/service_integration/_compose_spec_model_autogenerated.py
  packages/service-integration/src/service_integration/_meta.py
  packages/service-integration/src/service_integration/cli.py
  packages/service-integration/src/service_integration/commands/compose.py
  packages/service-integration/src/service_integration/commands/config.py
  packages/service-integration/src/service_integration/commands/metadata.py
  packages/service-integration/src/service_integration/commands/run_creator.py
  packages/service-integration/src/service_integration/commands/update_compose_labels.py
  packages/service-integration/src/service_integration/compose_spec_model.py
  packages/service-integration/src/service_integration/errors.py
  packages/service-integration/src/service_integration/labels_annotations.py
  packages/service-integration/src/service_integration/oci_image_spec.py
  packages/service-integration/src/service_integration/osparc_config.py
  packages/service-integration/src/service_integration/osparc_image_specs.py
  packages/service-integration/src/service_integration/osparc_runtime_specs.py
  packages/service-integration/src/service_integration/settings.py
  packages/service-integration/src/service_integration/version_utils.py
  packages/service-integration/src/service_integration/versioning.py
  packages/service-integration/src/service_integration/yaml_utils.py
  packages/service-integration/tests/conftest.py
  packages/service-integration/tests/data/compose-spec.yml
  packages/service-integration/tests/data/docker-compose-meta.yml
  packages/service-integration/tests/data/metadata-dynamic.yml
  packages/service-integration/tests/data/metadata.yml
  packages/service-integration/tests/data/runtime.yml
  packages/service-integration/tests/test_command_compose.py
  packages/service-integration/tests/test_command_config.py
  packages/service-integration/tests/test_command_metadata.py
  packages/service-integration/tests/test_command_run_creator.py
  packages/service-integration/tests/test_compose_spec_model.py
  packages/service-integration/tests/test_labels_annotations.py
  packages/service-integration/tests/test_meta.py
  packages/service-integration/tests/test_oci_image_spec.py
  packages/service-integration/tests/test_osparc_config.py
  packages/service-integration/tests/test_osparc_image_specs.py
  packages/service-integration/tests/test_osparc_runtime_specs.py
  packages/service-integration/tests/test_versioning.py
  packages/service-integration/tests/test_yaml_utils.py
  scripts/common-package.Makefile
  scripts/common.Makefile
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/docker-compose-ops-registry.yml
Labels: a:pipeline-services

#2647 ♻️ New interfaces for webserver.director_v2 plugin
  api/specs/webserver/openapi-services.yaml
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/src/models_library/projects_nodes_io.py
  packages/models-library/src/models_library/projects_ui.py
  packages/service-library/src/servicelib/aiohttp/application_setup.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/director_v2_abc.py
  services/web/server/src/simcore_service_webserver/director_v2_api.py
  services/web/server/src/simcore_service_webserver/director_v2_core.py
  services/web/server/src/simcore_service_webserver/director_v2_handlers.py
Labels: a:webserver, t:maintenance

#2648 UI/UX empty File Picker
  services/web/client/source/class/osparc/component/editor/ClusterEditor.js
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FileDrop.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/studycard/Medium.js
  services/web/client/source/class/osparc/theme/ColorLight.js
Labels: a:frontend

#2655 🐛 Bugfix: properly handle timeout when copying project
  api/specs/webserver/openapi-projects.yaml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/project_lock.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/src/simcore_service_webserver/users_api.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_core.py
  services/web/server/tests/unit/with_dbs/02/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/09/conftest.py
  services/web/server/tests/unit/with_dbs/09/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/09/test_projects_crud.py
  services/web/server/tests/unit/with_dbs/09/test_projects_delete.py
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/_helpers.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver

#2654 ✨ dynamic-sidecar restart policy (⚠️ devops)
  .env-devel
  api/specs/webserver/openapi-projects.yaml
  api/specs/webserver/openapi.yaml
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/settings/rabbit.py
  packages/models-library/src/models_library/settings/services_common.py
  packages/models-library/tests/test_service_settings_labels.py
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  packages/service-integration/src/service_integration/osparc_config.py
  packages/service-integration/tests/data/docker-compose-meta.yml
  packages/service-library/src/servicelib/file_utils.py
  packages/service-library/tests/test_file_utils.py
  packages/settings-library/src/settings_library/rabbit.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/mocks/fake_dy_workbench_template.json
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_scheduler.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/shared_handlers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
  services/web/server/src/simcore_service_webserver/director_v2_api.py
  services/web/server/src/simcore_service_webserver/director_v2_core.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/socketio/events.py
Labels: t:enhancement, a:webserver, a:director-v2, a:dynamic-sidecar

#2629 ✨Enhanced nodeports to support symlinks
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/tests/integration/test_node_ports_v2_nodeports2.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_port.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes_resolver.py
  services/director-v2/tests/integration/02/test__dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_volumes_resolver.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_modules_mounted_fs.py
Labels: t:enhancement, a:services-library, a:dynamic-sidecar

#2659 Publish template with or without data
  services/web/client/source/class/osparc/component/study/SaveAsTemplate.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/Resources.js
Labels: a:frontend

#2644 UI/UX App mode
  services/web/client/source/class/osparc/auth/LoginPageS4L.js
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormEditor.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/node/GroupNodeView.js
  services/web/client/source/class/osparc/component/node/NodeView.js
  services/web/client/source/class/osparc/component/widget/CollapsibleView.js
  services/web/client/source/class/osparc/component/widget/NodeSlideTreeItem.js
  services/web/client/source/class/osparc/component/widget/NodesSlidesTree.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUIPreview.js
  services/web/client/source/class/osparc/dashboard/CardBase.js
  services/web/client/source/class/osparc/dashboard/DataBrowser.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/GridButtonItem.js
  services/web/client/source/class/osparc/dashboard/ListButtonItem.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Slideshow.js
  services/web/client/source/class/osparc/data/model/StudyUI.js
  services/web/client/source/class/osparc/desktop/CollapseWithUserMenu.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/SidePanel.js
  services/web/client/source/class/osparc/desktop/SlideshowToolbar.js
  services/web/client/source/class/osparc/desktop/SlideshowView.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/Toolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FileDrop.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/file/FileTreeItem.js
  services/web/client/source/class/osparc/file/FilesTree.js
  services/web/client/source/class/osparc/navigation/BreadcrumbNavigation.js
  services/web/client/source/class/osparc/navigation/BreadcrumbSplitter.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideshowEdit.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
  services/web/client/source/class/osparc/navigation/PrevNextButtons.js
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/web/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/web/client/source/class/osparc/ui/list/OrganizationListItem.js
  services/web/client/source/class/osparc/wrapper/Svg.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: a:frontend

#2663 ⬆️ 🔒️ Upgrades to overcome vulnerabilities
  ci/helpers/requirements.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_packages.txt
  services/dask-sidecar/requirements/_test.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_packages.txt
Labels: dependencies, t:maintenance, python

#2667 ✨⚗️ Make director (v1) run with self-signed SSL certificates
  services/director/Dockerfile
  services/director/docker/entrypoint.sh
Labels: a:infra+ops, t:enhancement, a:director

#2664 ⬆️ prune dependencies of simcore-sdk package and downstream services
  packages/service-library/src/servicelib/aiohttp/application_setup.py
  packages/simcore-sdk/requirements/_base.in
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.in
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.txt
  packages/simcore-sdk/requirements/ci.txt
  packages/simcore-sdk/requirements/dev.txt
  packages/simcore-sdk/setup.py
  requirements/how-to-prune-requirements.md
  services/api-server/requirements/_base.in
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/requirements/constraints.txt
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/constraints.txt
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.in
  services/dynamic-sidecar/requirements/constraints.txt
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/unit/with_dbs/02/clusters/test_handlers.py
  services/web/server/tests/unit/with_dbs/03/test_director_v2.py
  services/web/server/tests/unit/with_dbs/08/test_groups.py
  services/web/server/tests/unit/with_dbs/_helpers.py
  tests/swarm-deploy/requirements/_test.txt
Labels: dependencies, t:maintenance, python, changelog:♻️refactor, changelog:🔒️security, changelog:⚰️deprecation
