Repository ITISFoundation/osparc-simcore, pull requests merged in 2021-01, with the labels that each got.

#2081 bugfix: director-v2 is implicitely converting float values to int, preventing kember from running
  packages/models-library/src/models_library/projects_nodes.py
Labels: a:director-v2

#2078 TSR: 1st iteration
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/services.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/65198ad31f29_quality_columns.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  packages/postgres-database/src/simcore_postgres_database/models/services.py
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/web/client/source/class/osparc/auth/Data.js
  services/web/client/source/class/osparc/component/metadata/Quality.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/metadata/ServiceDetailsEditor.js
  services/web/client/source/class/osparc/component/metadata/StudyDetailsEditor.js
  services/web/client/source/class/osparc/component/metadata/StudyInfo.js
  services/web/client/source/class/osparc/component/widget/CollapsibleView.js
  services/web/client/source/class/osparc/component/widget/StudyCardMedium.js
  services/web/client/source/class/osparc/component/widget/TextEditor.js
  services/web/client/source/class/osparc/component/widget/Thumbnail.js
  services/web/client/source/class/osparc/dashboard/DataBrowser.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonNew.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/PanelView.js
  services/web/client/source/class/osparc/desktop/SidePanel.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/ui/basic/StarsRating.js
  services/web/client/source/class/osparc/utils/Resources.js
  services/web/client/source/class/osparc/utils/Services.js
  services/web/client/source/class/osparc/utils/Utils.js
  services/web/client/source/resource/form/resource-quality.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
  services/web/server/tests/data/fake-project.json
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
  tests/e2e/tutorials/sleepers_project_template_sql.csv
  tests/e2e/tutorials/tutorialBase.js
Labels: a:database, a:frontend

#2037 [bugfix] list of studies disappear (tags)
  services/web/client/source/class/osparc/component/form/tag/TagItem.js
  services/web/client/source/class/osparc/component/metadata/StudyDetailsEditor.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonNew.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/web/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/web/client/source/class/osparc/theme/Appearance.js
  tests/e2e/jest-puppeteer.config.js
  tests/e2e/jest.config.js
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/tests/register.test.js
  tests/e2e/tests/startupCalls.test.js
  tests/e2e/tests/tags.test.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/utils.js
Labels: a:frontend, e2e

#2089 UI improvements
  services/web/client/source/class/osparc/component/form/FieldWHint.js
  services/web/client/source/class/osparc/component/form/tag/TagManager.js
  services/web/client/source/class/osparc/component/metadata/ClassifiersEditor.js
  services/web/client/source/class/osparc/component/metadata/ClassifiersViewer.js
  services/web/client/source/class/osparc/component/metadata/StudyDetails.js
  services/web/client/source/class/osparc/component/metadata/StudyDetailsEditor.js
  services/web/client/source/class/osparc/component/widget/BreadcrumbSplitter.js
  services/web/client/source/class/osparc/component/widget/StudyCardMedium.js
  services/web/client/source/class/osparc/component/widget/TextEditor.js
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/dashboard/Dashboard.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/desktop/NavigationBar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ExperimentalPage.js
  services/web/client/source/class/osparc/desktop/preferences/pages/SecurityPage.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/client/source/class/osparc/studycard/Large.js
  services/web/client/source/class/osparc/studycard/Medium.js
  services/web/client/source/class/osparc/studycard/Utils.js
  services/web/client/source/class/osparc/ui/form/LinkButton.js
  services/web/client/source/class/osparc/ui/tree/CheckboxTree.js
  services/web/client/source/class/osparc/ui/tree/CheckboxTreeItem.js
  services/web/client/source/class/osparc/ui/tree/ClassifiersTree.js
  services/web/client/source/class/osparc/ui/tree/ClassifiersTreeItem.js
  services/web/client/source/class/osparc/ui/tree/MHintInTree.js
  services/web/client/source/class/osparc/utils/Classifiers.js
  services/web/client/source/class/osparc/utils/Utils.js
  services/web/client/source/class/osparc/wrapper/Svg.js
  tests/e2e/tests/tags.test.js
  tests/e2e/utils/auto.js
Labels: a:frontend

#2088 bugfix:Fixes/stop services
  ci/github/unit-testing/api-server.bash
  packages/pytest-simcore/src/pytest_simcore/schemas.py
  packages/service-library/tests/with_postgres/test_aiopg_utils.py
  scripts/common.Makefile
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/director/config.py
  services/web/server/src/simcore_service_webserver/director/director_api.py
  services/web/server/src/simcore_service_webserver/director/module_setup.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/isolated/test_director_api.py
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Labels: a:webserver, bug

#2083 More e2e tests
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/dashboard/SideSearch.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/ui/mixin/FetchButton.js
  services/web/client/source/class/osparc/wrapper/WebSocket.js
  tests/e2e/portal/Kember.js
  tests/e2e/tutorials/isolve.js
Labels: a:frontend, e2e

#2099 Fix Kember test
  tests/e2e/portal/Kember.js
Labels: e2e

#2093 bugfix: addressed issues when acquiring mpi_lock in sidecar
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/pytest-simcore/src/pytest_simcore/redis_service.py
  services/sidecar/src/simcore_service_sidecar/mpi_lock.py
  services/sidecar/tests/integration/conftest.py
  services/sidecar/tests/integration/test_mpi_lock.py
Labels: a:sidecar, bug

#2053 Feature export/import study (backend)
  api/specs/webserver/openapi-projects.yaml
  api/specs/webserver/openapi.yaml
  packages/models-library/src/models_library/basic_types.py
  packages/models-library/src/models_library/projects.py
  packages/service-library/src/servicelib/rest_middlewares.py
  services/director-v2/src/simcore_service_director_v2/utils/client_decorators.py
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_config.py
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/exporter/__init__.py
  services/web/server/src/simcore_service_webserver/exporter/archiving.py
  services/web/server/src/simcore_service_webserver/exporter/async_hashing.py
  services/web/server/src/simcore_service_webserver/exporter/config.py
  services/web/server/src/simcore_service_webserver/exporter/exceptions.py
  services/web/server/src/simcore_service_webserver/exporter/export_import.py
  services/web/server/src/simcore_service_webserver/exporter/file_downloader.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/__init__.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/base_formatter.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/base_models.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/models.py
  services/web/server/src/simcore_service_webserver/exporter/module_setup.py
  services/web/server/src/simcore_service_webserver/exporter/request_handlers.py
  services/web/server/src/simcore_service_webserver/exporter/utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/src/simcore_service_webserver/storage_handlers.py
  services/web/server/tests/data/exporter/v1#SHA256=a9dad6c3cb69f532f62578353edf280361929797cdc68906e3121208ec6bfa0e.osparc
  services/web/server/tests/integration/test_exporter.py
  services/web/server/tests/integration/test_garbage_collection.py
  services/web/server/tests/unit/isolated/test_exporter_archiving.py
Labels: a:webserver, t:feature

#2100 e2e isolve fix: Start template instead of service
  tests/e2e/tutorials/isolve.js
Labels: e2e

#2098 Toolbar with Breadcrumbs, improved Start/Stop and more
  services/web/client/source/class/explorer/NavigationBar.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/widget/Thumbnail.js
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/data/model/StudyUI.js
  services/web/client/source/class/osparc/desktop/ControlsBar.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/MainPanel.js
  services/web/client/source/class/osparc/desktop/SidePanel.js
  services/web/client/source/class/osparc/desktop/SlideShowToolbar.js
  services/web/client/source/class/osparc/desktop/SlideShowView.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/Toolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/navigation/BreadcrumbNavigation.js
  services/web/client/source/class/osparc/navigation/BreadcrumbSplitter.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
  services/web/client/source/class/osparc/navigation/PrevNextButtons.js
  services/web/client/source/class/osparc/ui/menu/FetchButton.js
  services/web/client/source/class/osparc/ui/toolbar/FetchSplitButton.js
  services/web/client/source/class/osparc/viewer/NavigationBar.js
  services/web/client/source/class/osparc/wrapper/Svg.js
  tests/e2e/tests/tags.test.js
Labels: a:frontend

#2103 Feature export/import study (frontend)
  api/specs/webserver/openapi-projects.yaml
  api/specs/webserver/openapi.yaml
  services/web/client/source/class/osparc/component/form/FieldWHint.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/permissions/Permissions.js
  services/web/client/source/class/osparc/component/permissions/Service.js
  services/web/client/source/class/osparc/component/permissions/ShareWith.js
  services/web/client/source/class/osparc/component/permissions/Study.js
  services/web/client/source/class/osparc/component/study/ExportDAG.js
  services/web/client/source/class/osparc/component/study/Import.js
  services/web/client/source/class/osparc/component/study/SaveAsTemplate.js
  services/web/client/source/class/osparc/component/task/Export.js
  services/web/client/source/class/osparc/component/task/Import.js
  services/web/client/source/class/osparc/component/task/Task.js
  services/web/client/source/class/osparc/component/task/Tasks.js
  services/web/client/source/class/osparc/component/task/TasksButton.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/CollaboratorListItem.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonImporting.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/StudyParametrizer.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FileLabelWithActions.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
  services/web/client/source/class/osparc/studycard/Utils.js
  services/web/client/source/class/osparc/ui/form/FileInput.js
  services/web/client/source/class/osparc/utils/Services.js
  services/web/client/source/class/osparc/utils/Utils.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/exporter/file_downloader.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/tests/integration/test_exporter.py
Labels: a:frontend

#2109 UI improvements
  services/web/client/source/class/osparc/component/filter/NodeTypeFilter.js
  services/web/client/source/class/osparc/component/filter/group/ServiceFilterGroup.js
  services/web/client/source/class/osparc/component/filter/group/StudyFilterGroup.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/service/ServiceJumbo.js
  services/web/client/source/class/osparc/component/service/manager/ActivityManager.js
  services/web/client/source/class/osparc/component/widget/Thumbnail.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowserListItem.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
  services/web/client/source/class/osparc/desktop/ControlsBar.js
  services/web/client/source/class/osparc/desktop/SlideShowToolbar.js
  services/web/client/source/class/osparc/desktop/Toolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/utils/Services.js
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Kember.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/tutorials/tutorialBase.js
Labels: UX_improvements, a:frontend
