Repository ITISFoundation/osparc-simcore, pull requests merged in 2021-07, with the labels that each got.

#2406 🔨 moved dynamic_sidecar changes from PR1887
  packages/models-library/setup.py
  packages/settings-library/src/settings_library/docker_registry.py
  packages/settings-library/tests/test_settings_docker_registry.py
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.in
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/dynamic-sidecar/requirements/ci.txt
  services/dynamic-sidecar/requirements/dev.txt
  services/dynamic-sidecar/requirements/prod.txt
  services/dynamic-sidecar/setup.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/_meta.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/schemas/application_health.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
Labels: a:dynamic-sidecar

#2412 Remove fileToKeyMap field for Service Catalog
  services/web/client/source/class/osparc/component/service/ServiceList.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/utils/Services.js
Labels: a:frontend

#2414 ✨Enhancement/detect user logged out
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
Labels: a:webserver

#2415 Bugfix/clean storage meta data table
  api/specs/storage/openapi.yaml
  api/specs/webserver/components/schemas/locations.yaml
  api/specs/webserver/openapi-storage.yaml
  api/specs/webserver/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_dsm.py
  services/storage/tests/utils.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/src/simcore_service_webserver/storage_handlers.py
  services/web/server/src/simcore_service_webserver/storage_routes.py
  services/web/server/tests/unit/with_dbs/04/test_storage.py
Labels: a:storage

#2427 ♻️ Maintenance/Director-v2 to use settings library
  packages/settings-library/src/settings_library/docker_registry.py
  services/director-v2/.env-devel
  services/director-v2/docker-compose-extra.yml
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/requirements/ci.txt
  services/director-v2/requirements/dev.txt
  services/director-v2/requirements/prod.txt
  services/director-v2/setup.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/celery.py
  services/director-v2/src/simcore_service_director_v2/modules/db/events.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/docker_registry.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/remote_debug.py
  services/director-v2/src/simcore_service_director_v2/modules/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/tracing.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_modules_celery.py
  services/director-v2/tests/unit/test_modules_director_v0.py
  services/director-v2/tests/unit/test_modules_docker_registry.py
Labels: a:director-v2

#2421 🐛 Bugfix/clean storage issue
  packages/service-library/src/servicelib/monitoring.py
  services/director-v2/requirements/_base.in
  services/director-v2/src/simcore_service_director_v2/modules/scheduler.py
  services/web/server/src/simcore_service_webserver/storage_handlers.py
Labels: a:webserver, dependencies

#2411 🔨 Adding monitor to director-v2
  packages/models-library/src/models_library/projects_nodes_io.py
  packages/models-library/src/models_library/projects_nodes_ui.py
  packages/models-library/src/models_library/service_settings.py
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/services.py
  packages/models-library/src/models_library/settings/application_bases.py
  packages/models-library/src/models_library/settings/services_common.py
  packages/models-library/tests/test_service_settings.py
  packages/models-library/tests/test_service_settings_labels.py
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  services/director-v2/.env-devel
  services/director-v2/Makefile
  services/director-v2/docker/entrypoint.sh
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/src/simcore_service_director_v2/api/errors/validation_error.py
  services/director-v2/src/simcore_service_director_v2/api/routes/services.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/main.py
  services/director-v2/src/simcore_service_director_v2/meta.py
  services/director-v2/src/simcore_service_director_v2/models/domains/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/models/domains/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/constants.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/__init__.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/meta.py
  services/director-v2/src/simcore_service_director_v2/modules/db/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/module_setup.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/src/simcore_service_director_v2/utils/async_utils.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/conftest.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_models_dynamic_services.py
  services/director-v2/tests/unit/test_modules_director_v0.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/docker-compose.devel.yml
  services/docker-compose.yml
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/sidecar/src/simcore_service_sidecar/executor.py
  services/web/server/tests/integration/01/test_garbage_collection.py
Labels: a:director-v2

#2428 🩹 Adds query option to avoid timeout for storage metadata sync
  api/specs/storage/openapi.yaml
  api/specs/webserver/components/schemas/locations.yaml
  api/specs/webserver/openapi-storage.yaml
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c2d3acc313e1_adds_admin_to_userrole_enum.py
  packages/postgres-database/src/simcore_postgres_database/models/users.py
  services/storage/requirements/_base.in
  services/storage/requirements/_test.in
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/src/simcore_service_storage/settings.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/src/simcore_service_webserver/storage_handlers.py
  services/web/server/tests/unit/with_dbs/04/test_storage.py
Labels: a:api, a:storage

#2431 🐛 Fixes dynamic-sidecar settings in director-v2
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_services.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_modules_celery.py
Labels: a:director-v2

#2433 🚑️ API upload timeout
  services/api-server/src/simcore_service_api_server/api/dependencies/files.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
Labels: a:apiserver

#2436 Frontend SelectBox complies with schema
  services/web/client/source/class/osparc/component/form/Auto.js
Labels: a:frontend

#2439 List backend libs/tools
  services/web/client/source/class/osparc/About.js
  services/web/client/source/class/osparc/utils/LibVersions.js
  services/web/server/src/simcore_service_webserver/statics_settings.py
Labels: a:frontend

#2442 osparc-s4l
  services/web/client/compile.json
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/auth/LoginPage.js
  services/web/client/source/class/osparc/auth/LoginPageS4L.js
  services/web/client/source/class/osparc/auth/ui/LoginView.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ExperimentalPage.js
  services/web/client/source/class/osparc/theme/ColorBlue.js
  services/web/client/source/class/osparc/theme/ColorLightBlue.js
  services/web/client/source/class/osparc/theme/ThemeBlue.js
  services/web/client/source/class/osparc/ui/switch/ThemeSwitcher.js
  services/web/client/source/resource/osparc/s4l_splitimage.jpeg
Labels: a:frontend

#2438 🐛♻️ fix error suppression
  .env-devel
  packages/settings-library/src/settings_library/base.py
  packages/settings-library/tests/conftest.py
  packages/settings-library/tests/mocks/.env-compact
  packages/settings-library/tests/mocks/.env-fails
  packages/settings-library/tests/mocks/.env-granular
  packages/settings-library/tests/mocks/.env-mixed
  packages/settings-library/tests/mocks/.env-sample
  packages/settings-library/tests/test_base.py
  packages/settings-library/tests/test_cli_utils.py
  packages/settings-library/tests/test_postgres.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/storage/tests/unit/test_rest.py
Labels: bug

#2447 🐛 SIMCORE_SERVICES_NETWORK_NAME now allows dashes
  packages/models-library/src/models_library/services.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_api.py
Labels: a:director-v2, bug

#2450 Disable test_swarm_runs failing 2/3 of the time
  tests/swarm-deploy/test_swarm_runs.py
Labels: a:infra+ops

#2449 🐛 aborting tasks fails
  packages/settings-library/src/settings_library/celery.py
  services/sidecar/src/simcore_service_sidecar/celery.py
  services/sidecar/src/simcore_service_sidecar/celery_task.py
  services/sidecar/src/simcore_service_sidecar/celery_task_utils.py
  services/sidecar/src/simcore_service_sidecar/cli.py
  services/sidecar/src/simcore_service_sidecar/rabbitmq.py
  services/sidecar/src/simcore_service_sidecar/utils.py
  services/sidecar/tests/unit/test_rabbitmq.py
Labels: a:director-v2, a:sidecar

#2452 removing unused metrics that might be the culprit
  packages/service-library/src/servicelib/monitor_services.py
  packages/service-library/src/servicelib/monitoring.py
  services/web/server/src/simcore_service_webserver/diagnostics_monitoring.py
Labels: a:director, a:infra+ops, a:sidecar, a:storage, a:webserver

#2457 ♻️ Maintenance/fix docker buildx in CI
  .github/dependabot.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-staging.yml
  .github/workflows/ci-testing-deploy.yml
  ci/github/helpers/setup_docker_compose.bash
  ci/github/helpers/setup_docker_experimental.bash
  tests/environment-setup/test_used_docker_compose.py
Labels: a:infra+ops

#2460 Maintenance/fix docker buildx
  .github/workflows/ci-testing-deploy.yml
Labels: a:infra+ops

#2462 use fixture to check that stack is deployed before testing
  tests/swarm-deploy/conftest.py
  tests/swarm-deploy/test_service_restart.py
  tests/swarm-deploy/test_swarm_runs.py
Labels: a:infra+ops
