Repository ITISFoundation/osparc-simcore, pull requests merged in 2021-02, with the labels that each got.

#2117 Cookie Policy pop up message
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/CookiePolicy.js
  services/web/client/source/class/osparc/utils/Utils.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: a:frontend

#2106 Is1865/files solvers api
  .vscode/launch.template.json
  Makefile
  api/specs/storage/components/schemas/dataset_meta_data.yaml
  api/specs/storage/components/schemas/dataset_meta_data_array.yaml
  api/specs/storage/components/schemas/error.yaml
  api/specs/storage/components/schemas/fake.yaml
  api/specs/storage/components/schemas/file_meta_data.yaml
  api/specs/storage/components/schemas/file_meta_data_array.yaml
  api/specs/storage/components/schemas/health_check.yaml
  api/specs/storage/components/schemas/location.yaml
  api/specs/storage/components/schemas/location_array.yaml
  api/specs/storage/components/schemas/log_message.yaml
  api/specs/storage/components/schemas/presigned_link.yaml
  api/specs/storage/openapi.yaml
  packages/models-library/src/models_library/api_schemas_storage.py
  packages/models-library/tests/test_api_schemas_storage.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/772c01ca8a90_adds_etag_column_to_file_meta_data.py
  packages/postgres-database/src/simcore_postgres_database/models/file_meta_data.py
  requirements/constraints.txt
  services/api-server/openapi.json
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/files_faker.py
  services/api-server/src/simcore_service_api_server/api/routes/jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/models/schemas/files.py
  services/api-server/src/simcore_service_api_server/modules/storage.py
  services/api-server/tests/unit/test_model_schemas_files.py
  services/api-server/tests/unit/test_model_schemas_solvers.py
  services/docker-compose.yml
  services/storage/src/simcore_service_storage/api/Makefile
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/src/simcore_service_storage/rest_routes.py
  services/storage/tests/test_dsm.py
Labels: a:api, a:storage

#2119 Bugfix2118/re allow cycling dynamic services
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/tests/integration/test_computation_api.py
Labels: a:director-v2

#2126 really upsert in comp_task
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
Labels: a:director-v2

#2114 Allow disabling Quality Assessment
  services/web/client/source/class/osparc/component/metadata/Quality.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/studycard/Large.js
  services/web/client/source/class/osparc/studycard/Medium.js
  services/web/client/source/class/osparc/studycard/Utils.js
  services/web/client/source/resource/form/resource-quality.json
Labels: a:frontend

#2130 Disable API routes under dev
  services/api-server/VERSION
  services/api-server/openapi.json
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/events.py
  services/api-server/src/simcore_service_api_server/core/openapi.py
Labels: a:api

#2131 bugfix: frontend services outputs do not get transferred to the comp services
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
Labels: a:director-v2, bug

#2127 Large study card supports Study Model
  services/web/client/source/class/osparc/component/form/tag/TagManager.js
  services/web/client/source/class/osparc/component/metadata/ClassifiersEditor.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/permissions/Study.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/studycard/Large.js
  services/web/client/source/class/osparc/studycard/Medium.js
  services/web/client/source/class/osparc/studycard/Utils.js
  services/web/client/source/class/osparc/ui/hint/Hint.js
  services/web/client/source/class/osparc/utils/Utils.js
  tests/e2e/tests/tags.test.js
Labels: a:frontend

#2138 Fixes aiopg hanging or raising psycopg2.OperationalError suddenly in gh-actions CI
  packages/postgres-database/src/simcore_postgres_database/utils.py
  packages/postgres-database/tests/docker-compose.yml
  packages/postgres-database/tests/test_utils.py
  packages/service-library/src/servicelib/aiopg_utils.py
  packages/service-library/tests/with_postgres/test_aiopg_utils.py
  services/api-server/.env-devel
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_settings.py
  services/api-server/tests/utils/docker-compose.yml
  services/api-server/tests/utils/init-pg.py
  services/web/server/tests/unit/with_dbs/config.yaml
Labels: bug

#2135 Frontend improvements
  services/web/client/source/class/osparc/component/form/FieldWHint.js
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormEditor.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/study/ExportDAG.js
  services/web/client/source/class/osparc/component/task/Duplicate.js
  services/web/client/source/class/osparc/component/task/Task.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTree.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTreeItem.js
  services/web/client/source/class/osparc/dashboard/DataBrowser.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonImporting.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonPlaceholder.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/model/Edge.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/desktop/SidePanel.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/Toolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/theme/mixin/Color.js
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/web/client/source/class/osparc/ui/hint/InfoHint.js
  services/web/client/source/class/osparc/ui/message/FlashMessage.js
  services/web/client/source/class/osparc/ui/tree/CheckboxTree.js
  services/web/client/source/class/osparc/ui/tree/CheckboxTreeItem.js
  services/web/client/source/class/osparc/ui/tree/ClassifiersTree.js
  services/web/client/source/class/osparc/ui/tree/ClassifiersTreeItem.js
  services/web/client/source/class/osparc/ui/tree/MHintInTree.js
  services/web/client/source/class/osparc/utils/Services.js
Labels: a:frontend

#2104 BugFix: fixes awaitables and broad-exceptions in garbage-collector
  packages/postgres-database/tests/test_groups.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_assert.py
  services/sidecar/src/simcore_service_sidecar/log_parser.py
  services/web/server/src/simcore_service_webserver/groups_api.py
  services/web/server/src/simcore_service_webserver/resource_manager/config.py
  services/web/server/src/simcore_service_webserver/resource_manager/garbage_collector.py
  services/web/server/src/simcore_service_webserver/users_api.py
  services/web/server/tests/sandbox/app.py
  services/web/server/tests/unit/with_dbs/medium/test_resource_manager.py
Labels: bug

#2144 Feature/open download output
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/widget/CollapsibleView.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTreeItem.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/ui/basic/LinkLabel.js
Labels: UX_improvements, a:frontend

#2149 e2e: Add MPI test
  services/web/client/source/class/osparc/component/widget/logger/LoggerView.js
  tests/e2e/tutorials/isolve-gpu.js
  tests/e2e/tutorials/isolve-mpi.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/utils.js
Labels: e2e

#2107 Retrieve more states (backend)
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  packages/models-library/requirements/ci.txt
  packages/models-library/requirements/dev.txt
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/src/models_library/projects_pipeline.py
  packages/models-library/src/models_library/utils/nodes.py
  packages/models-library/tests/test_models_fit_schemas.py
  packages/models-library/tests/test_project_nodes.py
  packages/models-library/tests/test_projects.py
  packages/models-library/tests/test_projects_pipeline.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/20ec678d7dad_nullable_project_columns.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e6df5998cc74_migrate_node_states.py
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/models/domains/projects.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/tests/integration/test_computation_api.py
  services/director-v2/tests/mocks/fake_workbench_computational_node_states.json
  services/director-v2/tests/unit/test_dags.py
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/sidecar/src/simcore_service_sidecar/celery.py
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/NodeStatus.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/base_models.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/models.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/tests/integration/test_exporter.py
  services/web/server/tests/unit/with_dbs/fast/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/fast/test_director_v2.py
  services/web/server/tests/unit/with_dbs/fast/test_studies_dispatcher_routes.py
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Labels: a:api, a:director-v2, a:frontend, a:webserver

#2145 Is2141/compatible units
  .env-devel
  api/specs/common/schemas/node-meta-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/running_service.yaml
  api/specs/director/openapi.yaml
  api/specs/webserver/openapi-catalog.yaml
  api/specs/webserver/openapi-projects.yaml
  api/specs/webserver/openapi.yaml
  packages/models-library/src/models_library/api_schemas_storage.py
  packages/models-library/src/models_library/services.py
  packages/models-library/tests/conftest.py
  packages/models-library/tests/test_services.py
  packages/pytest-simcore/src/pytest_simcore/repository_paths.py
  packages/service-library/src/servicelib/rest_responses.py
  services/catalog/openapi.json
  services/catalog/src/simcore_service_catalog/api/errors/__init__.py
  services/catalog/src/simcore_service_catalog/api/errors/http_error.py
  services/catalog/src/simcore_service_catalog/api/errors/validation_error.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/director/src/simcore_service_director/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/catalog.py
  services/web/server/src/simcore_service_webserver/catalog_api_handlers.py
  services/web/server/src/simcore_service_webserver/catalog_api_models.py
  services/web/server/src/simcore_service_webserver/catalog_client.py
  services/web/server/src/simcore_service_webserver/catalog_config.py
  services/web/server/tests/sandbox/app.py
  services/web/server/tests/sandbox/catalog_services_openapi_generator.py
  services/web/server/tests/sandbox/studies_links.md
  services/web/server/tests/sandbox/viewers_openapi_generator.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/isolated/test_catalog_api_models.py
  services/web/server/tests/unit/isolated/test_catalog_setup.py
  services/web/server/tests/unit/with_dbs/fast/test_catalog_api.py
Labels: a:api, a:catalog, a:webserver

#2147 Units and compatibility checks (frontend)
  services/web/client/source/class/osparc/component/form/Auto.js
  services/web/client/source/class/osparc/component/form/FieldWHint.js
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormEditor.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTree.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTreeItem.js
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/Dashboard.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/model/Edge.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/client/source/class/osparc/utils/Ports.js
  services/web/client/source/class/osparc/wrapper/Svg.js
  tests/e2e/tutorials/isolve-mpi.js
Labels: a:frontend

#2150 Improvements on solvers API
  .github/CODEOWNERS
  ci/github/system-testing/public-api.bash
  scripts/common-service.Makefile
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/files_faker.py
  services/api-server/src/simcore_service_api_server/api/routes/jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/jobs_faker.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_faker.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/models/api_resources.py
  services/api-server/src/simcore_service_api_server/models/schemas/files.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/modules/catalog.py
  services/api-server/src/simcore_service_api_server/modules/storage.py
  services/api-server/tests/unit/test__code_syntax.py
  services/api-server/tests/unit/test_api_solvers.py
  services/api-server/tests/unit/test_model_schemas_solvers.py
  services/api-server/tests/unit/test_models_api_resources.py
  services/api-server/tests/unit/test_models_schemas_files.py
  services/api-server/tests/unit/test_models_schemas_meta.py
  services/api-server/tests/unit/test_models_schemas_profiles.py
  services/api-server/tests/unit/test_models_schemas_solvers.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  tests/public-api/Makefile
  tests/public-api/conftest.py
  tests/public-api/requirements/_test.in
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/ci.txt
  tests/public-api/requirements/dev.txt
  tests/public-api/test_files_api.py
  tests/public-api/test_jobs_api.py
  tests/public-api/test_solvers_api.py
Labels: a:api

#2151 Fixes on `catalog/services` section of the web-API
  .env-devel
  api/specs/webserver/openapi-catalog.yaml
  api/specs/webserver/openapi.yaml
  api/tests/conftest.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/src/models_library/services.py
  packages/service-library/tests/conftest.py
  requirements/constraints.txt
  scripts/common-service.Makefile
  services/api-server/tests/unit/conftest.py
  services/catalog/openapi.json
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/models/schemas/services.py
  services/catalog/src/simcore_service_catalog/services/frontend_services.py
  services/catalog/tests/unit/conftest.py
  services/catalog/tests/unit/test__code_syntax.py
  services/catalog/tests/unit/test_models_schemas_services.py
  services/catalog/tests/unit/test_openapi_specs.py
  services/catalog/tests/unit/test_schemas.py
  services/catalog/tests/unit/test_services_director.py
  services/catalog/tests/unit/test_services_frontend_services.py
  services/sidecar/tests/conftest.py
  services/storage/tests/conftest.py
  services/storage/tests/utils.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/catalog.py
  services/web/server/src/simcore_service_webserver/catalog_api_handlers.py
  services/web/server/src/simcore_service_webserver/catalog_api_models.py
  services/web/server/src/simcore_service_webserver/catalog_client.py
  services/web/server/src/simcore_service_webserver/diagnostics_core.py
  services/web/server/tests/unit/isolated/test_catalog_api_models.py
  tests/public-api/test_jobs_api.py
Labels: a:api, a:catalog, dependencies

#2161 getting states of all nodes
  packages/models-library/src/models_library/projects_pipeline.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/models/domains/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/src/simcore_service_director_v2/utils/db.py
  services/director-v2/tests/integration/test_computation_api.py
  services/director-v2/tests/mocks/fake_workbench_computational_node_states.json
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/tests/unit/isolated/test_projects_utils.py
  services/web/server/tests/unit/with_dbs/slow/test_projects.py
Labels: a:director-v2, a:webserver

#2158 Current & Target TSR
  services/web/client/source/class/osparc/component/metadata/Quality.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/dashboard/StudyBrowserButtonItem.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
  services/web/client/source/class/osparc/studycard/Utils.js
  services/web/client/source/class/osparc/ui/basic/StarsRating.js
  services/web/client/source/class/osparc/utils/Services.js
  services/web/client/source/resource/form/resource-quality.json
Labels: a:frontend

#2153 Bind node states to GUI elements
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/node/NodeView.js
  services/web/client/source/class/osparc/component/widget/CollapsibleView.js
  services/web/client/source/class/osparc/component/widget/NodePorts.js
  services/web/client/source/class/osparc/component/widget/logger/LoggerTable.js
  services/web/client/source/class/osparc/component/widget/logger/LoggerView.js
  services/web/client/source/class/osparc/component/workbench/EdgeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/NodeStatus.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/SlideShowToolbar.js
  services/web/client/source/class/osparc/desktop/SlideShowView.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/Toolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/navigation/BreadcrumbNavigation.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideShow.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsWorkbench.js
  services/web/client/source/class/osparc/studycard/Medium.js
  services/web/client/source/class/osparc/theme/Decoration.js
  services/web/client/source/class/osparc/theme/mixin/Color.js
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/web/client/source/class/osparc/ui/window/Confirmation.js
  services/web/client/source/class/osparc/utils/StatusUI.js
  services/web/client/source/class/osparc/viewer/NodeViewer.js
  tests/e2e/tutorials/jupyters.js
  tests/e2e/utils/utils.js
Labels: a:frontend

#2163 🏗️ maintenance: github CI - docker buildx is integrated in docker since version 19.03
  .github/workflows/ci-release.yml
  .github/workflows/ci-staging.yml
  .github/workflows/ci-testing-deploy.yml
  ci/github/helpers/setup_docker_buildx.bash
  ci/helpers/show_system_versions.bash
  services/catalog/docker/boot.sh
  services/director-v2/docker/boot.sh
Labels: a:infra+ops

#2167 TSR: certification link
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/widget/TextEditor.js
Labels: a:frontend

#2172 File Picker's and Dynamic's modified status
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/data/model/Node.js
Labels: a:frontend
