Repository ITISFoundation/osparc-simcore, pull requests merged in 2021-09, with the labels that each got.

#2502 ✨Enhancement/dask/add clusters api
  api/specs/webserver/components/schemas/cluster.yaml
  api/specs/webserver/openapi-clusters.yaml
  api/specs/webserver/openapi-services.yaml
  api/specs/webserver/openapi.yaml
  packages/models-library/src/models_library/users.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/389bf931b51a_change_access_rights_column_names.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/83f9d2a470ef_add_cluster_id_in_comp_runs.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/dd8220be55ad_add_clusters_table.py
  packages/postgres-database/src/simcore_postgres_database/models/cluster_to_groups.py
  packages/postgres-database/src/simcore_postgres_database/models/clusters.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_runs.py
  packages/postgres-database/tests/test_clusters.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_items_list.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils.py
  services/dask-sidecar/tests/unit/test_utils.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/domains/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/constants.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/celery_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director/src/simcore_service_director/api/v0/schemas/node-meta-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/schemas/node-meta-v0.0.1.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/node-meta-v0.0.1.json
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_config.py
  services/web/server/src/simcore_service_webserver/clusters/__init__.py
  services/web/server/src/simcore_service_webserver/clusters/db.py
  services/web/server/src/simcore_service_webserver/clusters/exceptions.py
  services/web/server/src/simcore_service_webserver/clusters/handlers.py
  services/web/server/src/simcore_service_webserver/clusters/models.py
  services/web/server/src/simcore_service_webserver/clusters/module_setup.py
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/groups_api.py
  services/web/server/src/simcore_service_webserver/login/storage.py
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/tests/unit/with_dbs/02/clusters/conftest.py
  services/web/server/tests/unit/with_dbs/02/clusters/test_handlers.py
  services/web/server/tests/unit/with_dbs/02/clusters/test_models.py
  services/web/server/tests/unit/with_dbs/02/clusters/test_module_setup.py
  services/web/server/tests/unit/with_dbs/02/test_access_to_studies.py
  services/web/server/tests/unit/with_dbs/02/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/03/test_director_v2.py
  services/web/server/tests/unit/with_dbs/11/conftest.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, a:director-v2

#2523 ♻️ Refactors and disables snapshots
  .github/workflows/ci-testing-deploy.yml
  packages/models-library/tests/test_utils_database_models_factory.py
  packages/postgres-database/doc/img/postgres-database-models.svg
  packages/postgres-database/src/simcore_postgres_database/migration/versions/d10c53a5bea6_remove_project_snapshots_table.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_snapshots.py
  packages/postgres-database/tests/test_projects_snapshots.py
  services/web/server/src/simcore_service_webserver/snapshots_db.py
  services/web/server/tests/unit/isolated/test_snapshots_models.py
  services/web/server/tests/unit/with_dbs/10/snapshots/conftest.py
  services/web/server/tests/unit/with_dbs/10/snapshots/test_snapshots_api_handlers.py
  services/web/server/tests/unit/with_dbs/10/snapshots/test_snapshots_core.py
  services/web/server/tests/unit/with_dbs/10/snapshots/test_snapshots_db.py
Labels: a:database, a:apiserver

#2514 ♻️ Ensure director-v2 waits on dask-scheduler, 1st draft on handling scheduler restarts
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/background_task.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/celery_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
Labels: a:director-v2

#2526 🐛Fix director-v2 flaky unit tests
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
Labels: bug, a:director-v2

#2519 ✨ Is2392/project version control (database only)
  .dockerignore
  .gitignore
  docs/img/.stack-simcore-version.yml.png
  packages/postgres-database/Makefile
  packages/postgres-database/doc/img/postgres-database-models.svg
  packages/postgres-database/scripts/create_erd.py
  packages/postgres-database/scripts/erd/Dockerfile
  packages/postgres-database/scripts/erd/Makefile
  packages/postgres-database/scripts/erd/main.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/0208f6b32f32_adds_version_control_tables.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_version_control.py
  packages/postgres-database/src/simcore_postgres_database/utils.py
  packages/postgres-database/src/simcore_postgres_database/utils_aiopg_orm.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/projects/conftest.py
  packages/postgres-database/tests/projects/test_projects_version_control.py
  packages/postgres-database/tests/test_utils_aiopg_orm.py
Labels: a:database

#2532 Bugfix: Do not invalidate currentStudyId from cache
  services/web/client/source/class/osparc/Application.js
Labels: bug

#2531 ✨ Maintenance/add consistency scripts
  scripts/maintenance/check_consistency_data.py
  scripts/maintenance/consistency/docker-compose.yml
  scripts/maintenance/requirements.txt
Labels: a:infra+ops

#2533 ✨ Maintenance/enhance consistency checks
  scripts/maintenance/check_consistency_data.py
  scripts/maintenance/consistency/dump-restore.md
Labels: a:infra+ops

#2534 ⚗️ Is2392/restore project snaphots
  api/specs/webserver/openapi-projects.yaml
  packages/postgres-database/doc/img/postgres-database-models.svg
  packages/postgres-database/src/simcore_postgres_database/migration/versions/a2a020b67bd2_restores_temporary_projects_snapshots_.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_snapshots.py
  packages/postgres-database/tests/test_projects_snapshots.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/snapshots_api_handlers.py
  services/web/server/src/simcore_service_webserver/snapshots_db.py
  services/web/server/src/simcore_service_webserver/snapshots_models.py
  services/web/server/tests/unit/with_dbs/10/snapshots/test_snapshots_api_handlers.py
  services/web/server/tests/unit/with_dbs/10/snapshots/test_snapshots_db.py
Labels: a:webserver, a:database

#2528 ♻️ Remove celery sidecars (⚠️ devops)
  .env-devel
  Makefile
  ci/github/unit-testing/director_v2.bash
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/factory.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_modules_celery.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_director_v0.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/with_swarm/test_routes_dynamic_services.py
  services/docker-compose-build.yml
  services/docker-compose-deploy.yml
  services/docker-compose.devel.yml
  services/docker-compose.yml
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/integration/02/test_computation.py
  tests/swarm-deploy/test_swarm_runs.py
Labels: a:sidecar, a:dask-service

#2536 Frontend: Reactivate snapshots
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/component/snapshots/TakeSnapshotView.js
  services/web/client/source/class/osparc/data/Resources.js
Labels: a:frontend

#2537 if available get the scheme of the X-Forwarded-Proto header
  services/web/server/src/simcore_service_webserver/snapshots_api_handlers.py
Labels: a:webserver

#2527 Resources list view
  services/web/client/source/class/explorer/MainPage.js
  services/web/client/source/class/osparc/component/editor/ClusterEditor.js
  services/web/client/source/class/osparc/component/editor/OrganizationEditor.js
  services/web/client/source/class/osparc/component/editor/TextEditor.js
  services/web/client/source/class/osparc/component/form/ToggleButtonContainer.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
  services/web/client/source/class/osparc/component/widget/CollapsibleView.js
  services/web/client/source/class/osparc/dashboard/CardBase.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/GridButtonBase.js
  services/web/client/source/class/osparc/dashboard/GridButtonItem.js
  services/web/client/source/class/osparc/dashboard/GridButtonLoadMore.js
  services/web/client/source/class/osparc/dashboard/GridButtonNew.js
  services/web/client/source/class/osparc/dashboard/GridButtonPlaceholder.js
  services/web/client/source/class/osparc/dashboard/ListButtonBase.js
  services/web/client/source/class/osparc/dashboard/ListButtonItem.js
  services/web/client/source/class/osparc/dashboard/ListButtonLoadMore.js
  services/web/client/source/class/osparc/dashboard/ListButtonNew.js
  services/web/client/source/class/osparc/dashboard/ListButtonPlaceholder.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ClustersPage.js
  services/web/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
  services/web/client/source/class/osparc/file/FolderViewer.js
  services/web/client/source/class/osparc/servicecard/Large.js
  services/web/client/source/class/osparc/servicecard/Utils.js
  services/web/client/source/class/osparc/studycard/Large.js
  services/web/client/source/class/osparc/studycard/Medium.js
  services/web/client/source/class/osparc/studycard/Utils.js
  services/web/client/source/class/osparc/ui/basic/StarsRating.js
  services/web/client/source/class/osparc/utils/Study.js
  tests/e2e/tests/tags.test.js
Labels: a:frontend

#2539 bugfix: Catalog filter
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
  services/web/client/source/class/osparc/dashboard/CardBase.js
  services/web/client/source/class/osparc/ui/tree/CheckboxTreeItem.js
  services/web/client/source/class/osparc/ui/tree/MHintInTree.js
Labels: bug, a:frontend

#2541 Fix Service Catalog tags filter
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/utils/Services.js
Labels: bug, a:frontend

#2542 🐛 bugfix fails to copy studies with lots of data
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/s3wrapper/s3_client.py
  services/web/server/src/simcore_service_webserver/diagnostics_monitoring.py
  services/web/server/src/simcore_service_webserver/storage_api.py
Labels: bug

#2544 Update Frontend to new checkpoints and checkout
  services/web/client/source/class/osparc/component/snapshots/EditSnapshotView.js
  services/web/client/source/class/osparc/component/snapshots/Snapshots.js
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/client/source/class/osparc/utils/Utils.js
Labels: a:frontend

#2548 🐛 bugfix: Copy thumbnail only if exists
  services/web/client/source/class/osparc/data/Permissions.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/utils/Study.js
Labels: bug, a:frontend

#2551 🐛 Bugfix: handle error when webserver disconnects an already disconnected socket
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
Labels: a:webserver

#2538 GitGraphJS
  services/web/client/source/class/osparc/component/snapshots/Snapshots.js
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUIPreview.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/utils/Utils.js
  services/web/client/source/class/osparc/wrapper/DOMPurify.js
  services/web/client/source/class/osparc/wrapper/GitGraph.js
  services/web/client/source/resource/gitgraph/gitgraph.js
Labels: a:frontend

#2553 ⬆️ ♻️ Adds tracing tooling in servicelib
  packages/service-library/MANIFEST.in
  packages/service-library/README.rst
  packages/service-library/requirements/_fastapi.in
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/setup.py
  services/api-server/requirements/_base.in
  services/api-server/requirements/_base.txt
  services/api-server/requirements/ci.txt
  services/api-server/requirements/dev.txt
  services/api-server/requirements/prod.txt
  services/api-server/setup.py
  services/catalog/requirements/_base.in
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_packages.in
  services/catalog/requirements/_packages.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/ci.txt
  services/catalog/requirements/dev.txt
  services/catalog/requirements/prod.txt
  services/catalog/setup.py
  services/datcore-adapter/requirements/_base.in
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/ci.txt
  services/datcore-adapter/requirements/dev.txt
  services/datcore-adapter/requirements/prod.txt
  services/datcore-adapter/setup.py
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/ci.txt
  services/director-v2/requirements/dev.txt
  services/director-v2/requirements/prod.txt
  services/director-v2/setup.py
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/ci.txt
  services/dynamic-sidecar/requirements/dev.txt
  services/dynamic-sidecar/requirements/prod.txt
  services/dynamic-sidecar/setup.py
Labels: dependencies, t:maintenance

#2562 UI/UX: Workbench improvements
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/CardBase.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
Labels: a:frontend

#2563 ♻️ update settings api server
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/settings-library/src/settings_library/postgres.py
  packages/settings-library/tests/test_postgres.py
  services/api-server/.env-devel
  services/api-server/requirements/_base.in
  services/api-server/requirements/_base.txt
  services/api-server/requirements/ci.txt
  services/api-server/requirements/dev.txt
  services/api-server/requirements/prod.txt
  services/api-server/setup.py
  services/api-server/src/simcore_service_api_server/_meta.py
  services/api-server/src/simcore_service_api_server/api/dependencies/webserver.py
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/health.py
  services/api-server/src/simcore_service_api_server/api/routes/meta.py
  services/api-server/src/simcore_service_api_server/cli.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/events.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/db/events.py
  services/api-server/src/simcore_service_api_server/modules/director_v2.py
  services/api-server/src/simcore_service_api_server/modules/remote_debug.py
  services/api-server/src/simcore_service_api_server/modules/webserver.py
  services/api-server/tests/unit/test_api_meta.py
  services/api-server/tests/unit/test_api_solvers.py
  services/api-server/tests/unit/test_api_user.py
  services/api-server/tests/unit/test_core_settings.py
  services/api-server/tests/unit/test_models_schemas_jobs.py
  services/director-v2/src/simcore_service_director_v2/api/entrypoints.py
  services/director-v2/src/simcore_service_director_v2/api/routes/meta.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/events.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/meta.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
  services/web/server/src/simcore_service_webserver/db.py
  services/web/server/src/simcore_service_webserver/scicrunch/_resolver.py
  services/web/server/src/simcore_service_webserver/statics.py
  services/web/server/tests/unit/isolated/scicrunch/_citations.py
  services/web/server/tests/unit/isolated/scicrunch/test_scicrunch__resolver.py
Labels: a:director-v2, a:apiserver
