Repository ITISFoundation/osparc-simcore, pull requests merged in 2021-12, with the labels that each got.

#2670 🐛Fix storage service in local deployment with self signed SSL certificates
  services/storage/docker/entrypoint.sh
Labels: a:infra+ops, a:storage, changelog:🐛bugfix

#2673 📝 Maintenance/GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/e2e_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/tester_report.md
  .github/README.md
  scripts/echo_github_issue_template_e2e_report.py
Labels: a:infra+ops, t:maintenance, changelog:ignore-for-release

#2676 🐛 Fixes sudden pylint error in CI
  scripts/merge_test_logs_to_compare.py
  services/api-server/tests/unit/_helpers.py
  services/api-server/tests/unit/conftest.py
Labels: python, changelog:🐛bugfix

#2674 ♻️ Remove overloaded loops in tests
  .env-devel
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/pytest-simcore/src/pytest_simcore/redis_service.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  scripts/common-service.Makefile
  services/api-server/tests/unit/conftest.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
  services/dask-sidecar/requirements/_test.in
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_dask_utils.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/integration/shared_comp_utils.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_models_dynamic_services.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/test_utils_dags.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/with_swarm/test_routes_dynamic_services.py
  services/web/server/tests/integration/01/test_exporter.py
  tests/public-api/Makefile
Labels: a:infra+ops, a:webserver, a:director-v2, a:dask-service, changelog:♻️refactor

#2679 🐛 📝 fixes/enhancements on the tooling repo-wide
  .github/ISSUE_TEMPLATE/e2e_report.md
  .github/workflows/ci-testing-deploy.yml
  api/specs/common/schemas/Makefile
  scripts/common-service.Makefile
  scripts/echo_github_issue_template_e2e_report.py
  services/dask-sidecar/docker/boot.sh
  services/director/docker/boot.sh
  services/storage/docker/boot.sh
  services/web/server/docker/boot.sh
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
Labels: changelog:🐛bugfix

#2652 ✨ Allow connection to multiple dask-gateways
  .codecov.yml
  .vscode/launch.template.json
  Makefile
  api/specs/webserver/components/schemas/cluster.yaml
  packages/models-library/src/models_library/clusters.py
  packages/models-library/tests/test_clusters.py
  packages/models-library/tests/test_utils_misc.py
  services/dask-sidecar/Dockerfile
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/docker/entrypoint.sh
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_settings.py
  services/dask-sidecar/tests/unit/test_utils.py
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/src/simcore_service_director_v2/api/dependencies/dask.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/scheduler.py
  services/director-v2/src/simcore_service_director_v2/api/entrypoints.py
  services/director-v2/src/simcore_service_director_v2/api/routes/clusters.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/clusters.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/celery_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/clusters.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/unit/_dask_helpers.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_celery.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_route_clusters.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/clusters/db.py
  services/web/server/src/simcore_service_webserver/clusters/handlers.py
  services/web/server/src/simcore_service_webserver/clusters/models.py
  services/web/server/tests/unit/with_dbs/02/clusters/test_handlers.py
  services/web/server/tests/unit/with_dbs/02/clusters/test_models.py
Labels: a:director-v2

#2683 ✨Enhancement/dask/PRE-multi arch
  Makefile
  ci/github/integration-testing/director-v2.bash
  ci/github/integration-testing/simcore-sdk.bash
  ci/github/integration-testing/webserver.bash
  ci/github/unit-testing/api-server.bash
  ci/github/unit-testing/catalog.bash
  ci/github/unit-testing/dask-sidecar.bash
  ci/github/unit-testing/director-v2.bash
  ci/github/unit-testing/director.bash
  ci/github/unit-testing/dynamic-sidecar.bash
  ci/github/unit-testing/models-library.bash
  ci/github/unit-testing/service-integration.bash
  ci/github/unit-testing/service-library.bash
  ci/github/unit-testing/settings-library.bash
  ci/github/unit-testing/simcore-sdk.bash
  ci/github/unit-testing/storage.bash
  ci/github/unit-testing/webserver.bash
  ci/travis/integration-testing/director-v2.bash
  ci/travis/integration-testing/simcore-sdk.bash
  ci/travis/integration-testing/webserver.bash
  ci/travis/unit-testing/api-server.bash
  ci/travis/unit-testing/catalog.bash
  ci/travis/unit-testing/director.bash
  ci/travis/unit-testing/models-library.bash
  ci/travis/unit-testing/service-library.bash
  ci/travis/unit-testing/simcore-sdk.bash
  ci/travis/unit-testing/storage.bash
  ci/travis/unit-testing/webserver.bash
  services/dask-sidecar/Dockerfile
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/shared_comp_utils.py
  services/docker-bake.hcl
  services/web/server/tests/integration/02/test_computation.py
Labels: a:dask-service, changelog:✨new-feature

#2682 ♻️ Generic pagination and API model fixtures
  packages/models-library/src/models_library/rest_pagination.py
  packages/models-library/src/models_library/rest_pagination_utils.py
  packages/models-library/tests/test_rest_pagination.py
  packages/models-library/tests/test_rest_pagination_utils.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_login.py
  packages/pytest-simcore/src/pytest_simcore/simcore_webserver_projects_rest_api.py
  packages/service-library/tests/test_rest_pagination_utils.py
  services/dask-sidecar/docker/boot.sh
  services/web/server/src/simcore_service_webserver/api/Makefile
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/projects/project_models.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/version_control_handlers.py
  services/web/server/tests/conftest.py
  services/web/server/tests/sandbox/catalog_services_openapi_generator.py
  services/web/server/tests/sandbox/projects_openapi_generator.py
  services/web/server/tests/sandbox/requirements-extra.txt
  services/web/server/tests/sandbox/viewers_openapi_generator.py
  services/web/server/tests/unit/with_dbs/10/meta/conftest.py
  services/web/server/tests/unit/with_dbs/10/meta/test_version_control_handlers.py
Labels: changelog:🎨enhancement, a:models-library

#2695 e2e: get timeouts from cli arguments
  tests/e2e/portal-files/VTK_file.js
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Kember.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/Voila.js
  tests/e2e/portal/opencor.js
  tests/e2e/tutorials/isolve-gpu.js
  tests/e2e/tutorials/isolve-mpi.js
  tests/e2e/tutorials/jupyters.js
  tests/e2e/tutorials/mattward.js
  tests/e2e/tutorials/sim4life.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/utils/utils.js
Labels: e2e

#2700 Maintenance/fix mypy
  scripts/mypy.bash
Labels: t:maintenance, changelog:🔒️security

#2698 🐛 Fixes: python runner fails raising FileNotFoundError
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/task_shared_volume.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
  services/dask-sidecar/tests/unit/test_tasks.py
Labels: bug, changelog:🐛bugfix

#2702 Maintenance/diverse fixes (e2e, envs in computational services, refresh page, null issue)
  .github/workflows/ci-testing-deploy.yml
  Makefile
  api/specs/webserver/openapi-services.yaml
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/aiohttp/rest_models.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/dask-sidecar/tests/unit/test_docker_utils.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_pipelines.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/shared_comp_utils.py
  services/director-v2/tests/mocks/fake_workbench.json
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_utils_computation.py
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/computation.py
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
  services/web/server/src/simcore_service_webserver/director_v2_core.py
  services/web/server/src/simcore_service_webserver/director_v2_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_exceptions.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/tests/integration/02/conftest.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/integration/02/test_rabbit.py
  services/web/server/tests/unit/with_dbs/01/test_comp_tasks_listening_task.py
  services/web/server/tests/unit/with_dbs/03/test_director_v2.py
  services/web/server/tests/unit/with_dbs/06/test_projects_open_close.py
Labels: t:maintenance, changelog:🐛bugfix

#2704 App Mode review
  services/web/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/node/FilePickerNodeView.js
  services/web/client/source/class/osparc/component/node/NodeView.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/desktop/SlideshowToolbar.js
  services/web/client/source/class/osparc/desktop/SlideshowView.js
  services/web/client/source/class/osparc/desktop/WorkbenchPanel.js
  services/web/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FileDownloadLink.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/navigation/BreadcrumbNavigation.js
  services/web/client/source/class/osparc/navigation/BreadcrumbSplitter.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/web/client/source/class/osparc/ui/hint/InfoHint.js
  services/web/client/source/class/osparc/utils/StatusUI.js
  tests/e2e/tutorials/tutorialBase.js
Labels: a:frontend

#2708 Bug fix: Draw connection to existing parameter
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
Labels: a:frontend

#2709 App mode: Smarter Next button
  services/web/client/source/class/osparc/component/node/NodeView.js
  services/web/client/source/class/osparc/desktop/SlideshowView.js
  services/web/client/source/class/osparc/navigation/PrevNextButtons.js
  tests/e2e/tutorials/tutorialBase.js
Labels: a:frontend

#2712 Bugfix: Workbench issues
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
Labels: bug, a:frontend, changelog:🐛bugfix

#2711 ✨ Change default limit for computational services to 1 CPU
  packages/settings-library/src/settings_library/comp_services.py
  services/director/src/simcore_service_director/config.py
Labels: a:infra+ops, t:maintenance, changelog:🎨enhancement

#2710 ✨ Improve Traefik rules (⚠️ devops)
  services/docker-compose.yml
Labels: a:infra+ops, changelog:🐛bugfix, changelog:🔒️security
