Repository ITISFoundation/osparc-simcore, pull requests merged in 2022-05, with the labels that each got.

#3006 ✨ Use S3 links in internal computational backend cluster, prepare for temporary tokens (⚠️ devops)
  api/specs/storage/openapi.yaml
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  packages/models-library/src/models_library/basic_regex.py
  packages/models-library/src/models_library/projects_nodes_io.py
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/storage_client.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/__init__.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/nodeports_v2.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/tests/unit/test_storage_client.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/errors.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/dask-sidecar/tests/unit/test_file_utils.py
  services/director-v2/.env-devel
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/storage.py
  services/director-v2/src/simcore_service_director_v2/utils/client_decorators.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/director-v2/tests/unit/test_modules_storage.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/src/simcore_service_storage/sts.py
  services/storage/tests/unit/test_route_s3_access.py
Labels: changelog:🎨enhancement

#3014 Orange progress bar when allocated resources go over 80%
  services/web/client/source/class/osparc/component/cluster/ClusterMiniView.js
  services/web/client/source/class/osparc/component/cluster/ClusterWorkers.js
  services/web/client/source/class/osparc/component/cluster/ClustersDetails.js
Labels: a:frontend

#3018 ♻️ maintenance: fixes scicrunch tests and set as integration tests
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/docker.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_scrunch_citations.py
  services/web/server/tests/integration/02/scicrunch/conftest.py
  services/web/server/tests/integration/02/scicrunch/test_scicrunch__resolver.py
  services/web/server/tests/integration/02/scicrunch/test_scicrunch__rest.py
  services/web/server/tests/integration/02/scicrunch/test_scicrunch_service_client.py
  services/web/server/tests/unit/isolated/scicrunch/__init__.py
  services/web/server/tests/unit/isolated/scicrunch/test_scicrunch_models.py
Labels: t:maintenance

#3015 Checkpoints II
  services/web/client/source/class/osparc/component/cluster/ClusterWorkers.js
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/component/widget/NodeInOut.js
  services/web/client/source/class/osparc/component/widget/NodeInput.js
  services/web/client/source/class/osparc/component/widget/NodeOutput.js
  services/web/client/source/class/osparc/component/widget/PlotlyWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUIPreview.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/wrapper/GitGraph.js
  services/web/client/source/class/osparc/wrapper/Plotly.js
Labels: a:frontend

#3017 (⚠️ devops) 🐛 Adding missing custom constraints
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/test_core_settings.py
  services/dynamic-sidecar/Dockerfile
  services/dynamic-sidecar/extra/Makefile
Labels: changelog:🎨enhancement, changelog:🐛bugfix

#3020 🐛Separate caching director call from user dependent service listing
  packages/models-library/src/models_library/services_access.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/utils/requests_decorators.py
Labels: changelog:🐛bugfix

#3023 🐛 Fix storage not starting with regular https addresses
  services/storage/src/simcore_service_storage/s3.py
  services/storage/tests/unit/test_route_s3_access.py
  services/storage/tests/unit/test_s3.py
Labels: a:storage, changelog:🐛bugfix

#3027 🐛 Fix: Slideshow: Last comp
  services/web/client/source/class/osparc/component/node/GroupNodeView.js
  services/web/client/source/class/osparc/component/node/NodeView.js
  services/web/client/source/class/osparc/component/study/ExportDAG.js
  services/web/client/source/class/osparc/component/widget/NodesSlidesTree.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/Permissions.js
  services/web/client/source/class/osparc/data/model/Edge.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/ControlsBar.js
  services/web/client/source/class/osparc/desktop/SlideshowView.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/navigation/PrevNextButtons.js
Labels: a:frontend

#3025 🚑️ tuning down scheduler for dynamic sidecars
  .env-devel
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
Labels: changelog:🐛bugfix

#3024 🐛 Making storage logs more readable & faster decompression
  packages/service-library/src/servicelib/archiving_utils.py
  packages/service-library/src/servicelib/pools.py
  packages/service-library/src/servicelib/utils.py
  packages/service-library/tests/test_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/projects_networks.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/tests/unit/test_dsm.py
Labels: changelog:🎨enhancement, changelog:🐛bugfix

#3029 🐛 Fixes issues with dy-sidecar removal by director-v2
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/exceptions.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/error_handlers.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_utils.py
Labels: a:director-v2, a:dynamic-sidecar, changelog:🐛bugfix

#3028 ✨Pipeline failure to port
  services/web/client/source/class/osparc/component/form/PortInfoHint.js
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/navigation/PrevNextButtons.js
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/web/client/source/class/osparc/ui/hint/InfoHint.js
Labels: a:frontend

#2943 🐛 ✨ Is353/meta func command and fixes
  .vscode/settings.template.json
  api/specs/common/schemas/services.yaml
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/services.py
  packages/models-library/src/models_library/utils/json_schema.py
  packages/models-library/tests/test__models_examples.py
  packages/models-library/tests/test_utils_json_schema.py
  packages/models-library/tests/test_utils_misc.py
  packages/service-integration/src/service_integration/labels_annotations.py
  packages/service-integration/src/service_integration/osparc_config.py
  packages/service-integration/tests/data/docker-compose-meta.yml
  packages/service-integration/tests/test_osparc_config.py
  packages/service-library/src/servicelib/aiohttp/monitoring.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/nodeports_v2.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_port_validation.py
  scripts/demo-meta/meta_modeling_results.py
  scripts/demo-meta/osparc_webapi.py
  scripts/demo-meta/requirements.txt
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/models/schemas/services.py
  services/catalog/tests/unit/test_models_schemas_services.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/director-v2/src/simcore_service_director_v2/models/domains/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/services.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director/src/simcore_service_director/api/v0/openapi.yaml
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/registry_proxy.py
  services/director/src/simcore_service_director/rest/handlers.py
  services/web/server/src/simcore_service_webserver/catalog_handlers.py
  services/web/server/src/simcore_service_webserver/catalog_units.py
  services/web/server/src/simcore_service_webserver/meta_modeling_iterations.py
Labels: a:director, a:director-v2, a:models-library

#3038 ⬆️ Maintenance: upgrade dependencies of webserver service
  requirements/tools/check_changes.py
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  services/web/server/requirements/constraints.txt
  services/web/server/src/simcore_service_webserver/_meta.py
Labels: a:webserver, dependencies, t:maintenance

#3039 ⬇️ pins pip==22.0.1 until pip-tools is fixed [skip CI]
  requirements/tools/Dockerfile
Labels: t:maintenance, changelog:ignore-for-release

#3041 🐛 Fix/backwards compatibility on service annotation labels
  packages/models-library/src/models_library/service_settings_labels.py
  packages/service-integration/tests/test_osparc_config.py
  requirements/tools/Dockerfile
Labels: changelog:🐛bugfix

#3042 🐛 Fix issues with parsing S3Settings
  packages/settings-library/src/settings_library/r_clone.py
  packages/settings-library/src/settings_library/s3.py
  packages/settings-library/tests/test_s3.py
Labels: changelog:🐛bugfix

#3034 ✨ Enhancement/3022/allow setting services scheduler specs (⚠️ devops)
  .env-devel
  .pylintrc
  Makefile
  packages/models-library/Makefile
  packages/models-library/src/models_library/aiodocker_api.py
  packages/models-library/src/models_library/generated_models/__init__.py
  packages/models-library/src/models_library/generated_models/docker_rest_api.py
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/utils/converters.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/90ed05df20d7_add_services_specifications.py
  packages/postgres-database/src/simcore_postgres_database/models/services_specifications.py
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  scripts/openapi-pydantic-models-generator.bash
  services/catalog/src/simcore_service_catalog/api/dependencies/services.py
  services/catalog/src/simcore_service_catalog/api/root.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/api/routes/services_resources.py
  services/catalog/src/simcore_service_catalog/api/routes/services_specifications.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/db/tables.py
  services/catalog/src/simcore_service_catalog/models/domain/service_specifications.py
  services/catalog/src/simcore_service_catalog/models/schemas/constants.py
  services/catalog/src/simcore_service_catalog/models/schemas/services_specifications.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_entrypoint_services.py
  services/catalog/tests/unit/with_dbs/test_entrypoint_services_resources.py
  services/catalog/tests/unit/with_dbs/test_entrypoint_services_specs.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/catalog.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/utils/dict_utils.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_catalog.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/director-v2/tests/unit/test_modules_director_v0.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/test_modules_storage.py
  services/director-v2/tests/unit/test_utils_dict_utils.py
  services/docker-compose.yml
  services/web/server/tests/integration/02/scicrunch/test_scicrunch__resolver.py
  services/web/server/tests/integration/02/test_computation.py
Labels: changelog:🎨enhancement

#3047 🐛 Started dynamic services do not take the correct Reservation
  packages/models-library/src/models_library/aiodocker_api.py
  services/catalog/src/simcore_service_catalog/api/routes/services_resources.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: changelog:🐛bugfix

#3049 ♻️ Add self-signed-certificate processing to dy-sidecar
  services/dynamic-sidecar/docker/entrypoint.sh
Labels: a:dynamic-sidecar, changelog:🎨enhancement

#3048 ✨ Is560/aiohttp request validations
  api/specs/webserver/openapi-projects.yaml
  api/specs/webserver/openapi.yaml
  ci/github/integration-testing/webserver.bash
  packages/models-library/src/models_library/basic_types.py
  packages/models-library/src/models_library/utils/change_case.py
  packages/models-library/tests/test_basic_types.py
  packages/models-library/tests/test_utils_change_case.py
  packages/service-library/requirements/_aiohttp.in
  packages/service-library/requirements/_base.in
  packages/service-library/src/servicelib/aiohttp/requests_validation.py
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
  packages/service-library/src/servicelib/aiohttp/rest_utils.py
  packages/service-library/src/servicelib/mimetype_constants.py
  packages/service-library/tests/aiohttp/test_requests_validation.py
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/catalog_models.py
  services/web/server/src/simcore_service_webserver/meta_modeling_projects.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/statics_settings.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/integration/02/test_rabbit.py
  services/web/server/tests/unit/isolated/test_utils.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__list.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers_crud.py
  services/web/server/tests/unit/with_dbs/03/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, a:services-library, changelog:✨new-feature, a:models-library

#3050 ♻️ Maintenance/rclone flaky test
  packages/simcore-sdk/requirements/_test.in
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/tests/integration/test_node_ports_common_r_clone.py
Labels: t:maintenance

#3056 📝 Adds citation.cff [skip actions]
  CITATION.cff
  Makefile
Labels: a:doc, changelog:ignore-for-release

#3060 e2e: test sim4life-dy
  tests/e2e/tutorials/sim4life.js
Labels: e2e

#3058 🐛 Fix file-picker downstream service notification issues
  scripts/pydeps.bash
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/web/server/src/simcore_service_webserver/catalog_client.py
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/tests/unit/isolated/test_project_utils.py
  services/web/server/tests/unit/isolated/test_projects_utils.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_api.py
  services/web/server/tests/unit/with_dbs/01/test_comp_tasks_listening_task.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_project_db.py
Labels: a:webserver, a:dynamic-sidecar, changelog:🐛bugfix

#3075 ⬆️ maintenance/ updates pip-tools repo-wide
  packages/dask-task-models-library/requirements/_tools.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_tools.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_tools.txt
  packages/settings-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_tools.txt
  services/api-server/requirements/_tools.txt
  services/catalog/requirements/_tools.txt
  services/dask-sidecar/requirements/_tools.txt
  services/datcore-adapter/requirements/_tools.txt
  services/director-v2/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_tools.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: dependencies, t:maintenance

#3077 ♻️ Enhancement/storage refactoring part 1
  api/specs/storage/openapi.yaml
  api/specs/webserver/openapi-storage.yaml
  api/specs/webserver/openapi.yaml
  packages/models-library/src/models_library/api_schemas_storage.py
  services/storage/src/simcore_service_storage/access_layer.py
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/db.py
  services/storage/src/simcore_service_storage/db_tokens.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/src/simcore_service_storage/s3.py
  services/storage/src/simcore_service_storage/s3wrapper/s3_client.py
  services/storage/src/simcore_service_storage/settings.py
  services/storage/tests/conftest.py
  services/storage/tests/fixtures/data_models.py
  services/storage/tests/helpers/utils_project.py
  services/storage/tests/unit/test_cli.py
  services/storage/tests/unit/test_dsm.py
  services/storage/tests/unit/test_handlers.py
  services/storage/tests/unit/test_resources.py
  services/storage/tests/unit/test_rest.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/storage_handlers.py
  services/web/server/src/simcore_service_webserver/storage_routes.py
  services/web/server/tests/integration/01/test_exporter.py
Labels: changelog:♻️refactor

#3051 ✨ Is621/api server exposes GET /solvers/*/releases/*/jobs/*/outputs/logfile (⚠️ devops)
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_data_fakers.py
  packages/pytest-simcore/src/pytest_simcore/helpers/rawdata_fakers.py
  services/api-server/VERSION
  services/api-server/openapi.json
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/models/schemas/profiles.py
  services/api-server/src/simcore_service_api_server/modules/director_v2.py
  services/api-server/src/simcore_service_api_server/modules/webserver.py
  services/api-server/src/simcore_service_api_server/utils/solver_job_models_converters.py
  services/api-server/tests/integration/.gitkeep
  services/api-server/tests/unit/_with_db/conftest.py
  services/api-server/tests/unit/_with_db/test_api_user.py
  services/api-server/tests/unit/api_solvers/conftest.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test__fastapi.py
  services/api-server/tests/unit/test_models_schemas_profiles.py
  services/api-server/tests/unit/test_utils_solver_job_models_converters.py
  tests/public-api/conftest.py
  tests/public-api/examples/Makefile
  tests/public-api/examples/sleeper.py
  tests/public-api/test_solvers_jobs_api.py
Labels: a:director-v2, a:apiserver
