Repository ITISFoundation/osparc-simcore, pull requests merged in 2022-01, with the labels that each got.

#2713 Start aiohttp services using gunicorn
  packages/service-library/requirements/_aiohttp.in
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/src/servicelib/aiohttp/application_setup.py
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/tests/aiohttp/test_tracing.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/storage/requirements/_base.txt
  services/web/server/docker/boot.sh
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_packages.txt
  services/web/server/requirements/_tools.in
  services/web/server/requirements/_tools.txt
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_config.py
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/director_v2_core.py
  services/web/server/src/simcore_service_webserver/remote_debug.py
  services/web/server/src/simcore_service_webserver/settings.py
  tests/performance/Dockerfile
  tests/performance/Makefile
Labels: a:webserver, changelog:🎨enhancement

#2717 ✨ Enhanced services catch all to only return 503 for services, 404 otherwise (⚠️ devops)
  services/docker-compose.yml
Labels: a:infra+ops, changelog:🎨enhancement

#2716 ♻️ Maintenance/remove trafaret from repo
  packages/service-library/VERSION
  packages/service-library/requirements/_aiohttp.in
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/setup.cfg
  packages/service-library/src/servicelib/aiohttp/config_schema_utils.py
  packages/simcore-sdk/VERSION
  packages/simcore-sdk/requirements/_base.in
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/setup.cfg
  packages/simcore-sdk/src/simcore_sdk/config/db.py
  packages/simcore-sdk/src/simcore_sdk/config/s3.py
  services/api-server/requirements/_base.txt
  services/api-server/setup.py
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/setup.py
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/setup.py
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/setup.py
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_packages.txt
  services/web/server/requirements/_test.txt
  services/web/server/setup.py
  services/web/server/src/simcore_service_webserver/application_config.py
  services/web/server/src/simcore_service_webserver/db_config.py
  tests/swarm-deploy/requirements/_test.txt
Labels: a:storage, a:webserver, a:services-library, dependencies, t:maintenance, a:director-v2, a:apiserver, a:dynamic-sidecar, changelog:♻️refactor, changelog:🔥removal

#2720 ♻️⬆️ Upgrading parfive
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/exporter/file_downloader.py
  services/web/server/tests/integration/01/test_exporter.py
Labels: a:webserver, changelog:♻️refactor

#2722 🐛 In case RabbitMQ has unexpected error, wait before restarting it
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
Labels: changelog:🐛bugfix

#2721 Update All services with one click
  services/web/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/web/client/source/class/osparc/data/Resources.js
Labels: a:frontend

#2701 ♻️ Is2392/pre iterators: models factory and some pre-iterator changes
  .gitignore
  .vscode/launch.template.json
  api/specs/webserver/openapi-version-control.yaml
  api/specs/webserver/openapi.yaml
  packages/models-library/src/models_library/generics.py
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/settings/rabbit.py
  packages/models-library/src/models_library/utils/pydantic_models_factory.py
  packages/models-library/tests/conftest.py
  packages/models-library/tests/data/image-meta.yaml
  packages/models-library/tests/test_services.py
  packages/models-library/tests/test_utils_pydantic_models_factory.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_dict.py
  packages/pytest-simcore/src/pytest_simcore/schemas.py
  scripts/json-schema-dereference.bash
  scripts/json-schema-diff.bash
  services/web/server/Makefile
  services/web/server/setup.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
  services/web/server/src/simcore_service_webserver/director_v2_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_project_models_rest.py
  services/web/server/src/simcore_service_webserver/projects/project_models.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/version_control.py
  services/web/server/src/simcore_service_webserver/version_control_changes.py
  services/web/server/src/simcore_service_webserver/version_control_core.py
  services/web/server/src/simcore_service_webserver/version_control_db.py
  services/web/server/src/simcore_service_webserver/version_control_errors.py
  services/web/server/src/simcore_service_webserver/version_control_handlers.py
  services/web/server/src/simcore_service_webserver/version_control_models.py
  services/web/server/src/simcore_service_webserver/version_control_tags.py
  services/web/server/tests/unit/isolated/test_projects__project_models_rest.py
  services/web/server/tests/unit/with_dbs/10/meta/conftest.py
  services/web/server/tests/unit/with_dbs/10/version_control/conftest.py
  services/web/server/tests/unit/with_dbs/10/version_control/test_version_control.py
  services/web/server/tests/unit/with_dbs/10/version_control/test_version_control_core.py
  services/web/server/tests/unit/with_dbs/10/version_control/test_version_control_handlers.py
  services/web/server/tests/unit/with_dbs/10/version_control/test_version_control_tags.py
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
Labels: a:webserver, changelog:🎨enhancement, a:models-library

#2724 Draw rectangle for multiselection
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FileDrop.js
  services/web/client/source/class/osparc/wrapper/Svg.js
Labels: a:frontend

#2726 ♻️ Improve metrics generation
  packages/service-library/src/servicelib/aiohttp/monitor_services.py
  packages/service-library/src/servicelib/aiohttp/monitoring.py
  packages/service-library/src/servicelib/logging_utils.py
  services/director/src/simcore_service_director/producer.py
  services/storage/src/simcore_service_storage/application.py
  services/web/server/src/simcore_service_webserver/diagnostics_monitoring.py
Labels: t:maintenance, changelog:♻️refactor, changelog:🐛bugfix

#2729 🔧 pycln as a pre-commit hook to auto-remove unused imports
  .pre-commit-config.yaml
Labels: t:maintenance, python

#2707 ✨♻️ Extending dynamic-sidecar functionality
  packages/models-library/src/models_library/services.py
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/src/servicelib/aiohttp/openapi_wrappers.py
  packages/service-library/src/servicelib/archiving_utils.py
  packages/service-library/src/servicelib/file_utils.py
  packages/service-library/src/servicelib/resources.py
  packages/service-library/tests/test_archiving_utils.py
  packages/service-library/tests/test_archiving_utils_extra.py
  packages/service-library/tests/test_file_utils.py
  packages/service-library/tests/test_utils.py
  packages/settings-library/tests/test_cli_utils.py
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/exceptions.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/tests/integration/test_node_ports_v2_nodeports2.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_port.py
  services/api-server/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_packages.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/Dockerfile
  services/dynamic-sidecar/docker/entrypoint.sh
  services/dynamic-sidecar/docker/healthcheck.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/schemas/ports.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/data_manager.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/directory_watcher.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_core_docker_logs.py
  services/dynamic-sidecar/tests/unit/test_core_rabbitmq.py
  services/dynamic-sidecar/tests/unit/test_modules_directory_watcher.py
  services/storage/requirements/_base.txt
  services/web/server/requirements/_packages.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: a:dynamic-sidecar, changelog:✨new-feature, changelog:♻️refactor

#2732 ✨ Performance testing: allow for auth calls
  tests/performance/docker-compose.yml
  tests/performance/locust_files/platform_ping_test.py
Labels: e2e, changelog:🎨enhancement

#2734 ♻️ set traefik rules to the minimal that allows entrypoints to go through
  services/docker-compose.yml
Labels: changelog:🎨enhancement

#2737 ♻️ Traefik rules: final Path needed for viewing files
  services/docker-compose.yml
Labels: changelog:♻️refactor

#2741 📌 Maintenance/webserver requirements
  requirements/base.Makefile
  requirements/tools/Dockerfile
  requirements/tools/Makefile
  scripts/common.Makefile
  services/web/server/requirements/Makefile
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_packages.in
  services/web/server/requirements/_packages.txt
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.in
  services/web/server/requirements/_tools.txt
  services/web/server/requirements/ci.txt
  services/web/server/requirements/constraints.txt
  services/web/server/requirements/dev.txt
  services/web/server/requirements/prod.txt
  services/web/server/setup.py
Labels: a:webserver, t:maintenance

#2728 Allow resetting Selected file in File Picker
  services/web/client/source/class/osparc/component/widget/NodeDataManager.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/dashboard/DataBrowser.js
  services/web/client/source/class/osparc/data/Permissions.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FileDrop.js
  services/web/client/source/class/osparc/file/FileLabelWithActions.js
  services/web/client/source/class/osparc/file/FilePicker.js
Labels: a:frontend

#2743 Delete link UI/UX
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUIPreview.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/theme/ColorDark.js
  services/web/client/source/class/osparc/theme/ColorLight.js
  services/web/client/source/class/osparc/theme/ColorLightBlue.js
  services/web/client/source/class/osparc/theme/ColorPurple.js
  services/web/client/source/class/osparc/theme/mixin/Color.js
  services/web/client/source/class/osparc/wrapper/Svg.js
Labels: a:frontend

#2687 Iterators and Probes: missing changes
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
Labels: a:frontend

#2733 ⬆️ upgrades dependencies
  packages/dask-task-models-library/requirements/_tools.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_tools.txt
  packages/pytest-simcore/requirements/tests_w_fastapi.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_tools.txt
  packages/settings-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_tools.txt
  requirements/constraints.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/catalog/tests/unit/test_services_director.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/dask-sidecar/requirements/_tools.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_volumes_resolver.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_route_clusters.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/storage/requirements/_tools.txt
  tests/e2e/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: t:maintenance

#2747 ✨ Dask scheduler to allow the dask-gateway to control it
  packages/dask-task-models-library/requirements/_base.txt
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/requirements/_base.in
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-complete.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_packages.txt
  services/director-v2/requirements/_base.txt
Labels: changelog:🎨enhancement

#2738 🐛 Retrieving service key/version from running service to use regex instead of split
  services/director/src/simcore_service_director/producer.py
  services/director/tests/test_producer.py
Labels: changelog:🐛bugfix

#2748 ⬆️ uvicorn upgrade
  requirements/constraints.txt
  services/api-server/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
Labels: t:maintenance

#2752 ⬆️ upgrades pydantic==1.9.0 repo-wide
  .github/workflows/ci-testing-deploy.yml
  ci/helpers/requirements.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  packages/models-library/requirements/_base.txt
  packages/models-library/src/models_library/rest_pagination.py
  packages/models-library/src/models_library/utils/misc.py
  packages/models-library/tests/test_basic_regex.py
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/settings-library/requirements/_base.txt
  packages/settings-library/src/settings_library/prometheus.py
  packages/simcore-sdk/requirements/_base.txt
  requirements/constraints.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/catalog/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_packages.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/application.py
  tests/environment-setup/requirements/requirements.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: t:maintenance, changelog:ignore-for-release

#2750 ♻️ Enhances BaseCustomSettings in settings_library
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/pytest-simcore/src/pytest_simcore/helpers/typing_env.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_environs.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_envs.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  packages/settings-library/requirements/_base.in
  packages/settings-library/src/settings_library/base.py
  packages/settings-library/src/settings_library/email.py
  packages/settings-library/src/settings_library/postgres.py
  packages/settings-library/src/settings_library/utils_cli.py
  packages/settings-library/src/settings_library/utils_service.py
  packages/settings-library/tests/conftest.py
  packages/settings-library/tests/data/.env-compact
  packages/settings-library/tests/data/.env-fails
  packages/settings-library/tests/data/.env-granular
  packages/settings-library/tests/data/.env-mixed
  packages/settings-library/tests/data/.env-sample
  packages/settings-library/tests/test__pydantic_settings.py
  packages/settings-library/tests/test_base.py
  packages/settings-library/tests/test_base_w_postgres.py
  packages/settings-library/tests/test_docker_registry.py
  packages/settings-library/tests/test_utils_cli.py
  packages/settings-library/tests/test_utils_service.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_core_docker_logs.py
  services/storage/src/simcore_service_storage/settings.py
Labels: t:enhancement, a:storage, a:catalog, a:director-v2, a:apiserver, a:dynamic-sidecar, a:dask-service, changelog:♻️refactor

#2686 ✨Adding boot-options support
  api/specs/common/schemas/node-meta-v0.0.1-converted.yaml
  api/specs/common/schemas/node-meta-v0.0.1.json
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  packages/models-library/src/models_library/boot_options.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/services.py
  packages/models-library/tests/test_services.py
  packages/service-library/src/servicelib/aiohttp/jsonschema_validation.py
  packages/service-library/tests/test_file_utils.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/database.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/_constants.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes_resolver.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director/src/simcore_service_director/api/v0/openapi.yaml
  services/director/src/simcore_service_director/api/v0/schemas/node-meta-v0.0.1.json
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/node-meta-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/storage/tests/unit/test_cli.py
  services/web/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/node-meta-v0.0.1.json
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
Labels: changelog:✨new-feature

#2763 ✨ enable auto-adaptation of gateway clusters
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
Labels: changelog:🎨enhancement

#2749 Dashboard UI/UX (I): Tabs to NavBar and Search filter
  services/web/client/source/class/osparc/component/filter/TagsFilter.js
  services/web/client/source/class/osparc/component/metadata/ClassifiersEditor.js
  services/web/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/web/client/source/class/osparc/dashboard/CardBase.js
  services/web/client/source/class/osparc/dashboard/Dashboard.js
  services/web/client/source/class/osparc/dashboard/ExploreBrowser.js
  services/web/client/source/class/osparc/dashboard/GridButtonBase.js
  services/web/client/source/class/osparc/dashboard/GridButtonItem.js
  services/web/client/source/class/osparc/dashboard/ListButtonItem.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
  tests/e2e/tests/tags.test.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/utils.js
Labels: a:frontend

#2755 Iterators frontend: 2nd iteration
  services/web/client/source/class/osparc/component/filter/TagsFilter.js
  services/web/client/source/class/osparc/component/snapshots/Iterations.js
  services/web/client/source/class/osparc/component/snapshots/IterationsView.js
  services/web/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTree.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTreeItem.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUIPreview.js
  services/web/client/source/class/osparc/dashboard/CardBase.js
  services/web/client/source/class/osparc/dashboard/Dashboard.js
  services/web/client/source/class/osparc/dashboard/DataBrowser.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/wrapper/GitGraph.js
Labels: a:frontend

#2766 Support ContentSchema (array) input/output port type
  services/web/client/source/class/osparc/component/form/Auto.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTreeItem.js
  services/web/client/source/class/osparc/ui/form/ContentSchemaField.js
Labels: a:frontend

#2767 Fix: Don't give up when a node status replies with 503
  services/web/client/source/class/osparc/data/model/Node.js
Labels: a:frontend

#2773 🐛 Enabling auto reload for uvicorn in development mode
  services/api-server/docker/boot.sh
  services/catalog/docker/boot.sh
  services/datcore-adapter/docker/boot.sh
  services/director-v2/docker/boot.sh
  services/dynamic-sidecar/docker/boot.sh
Labels: bug, t:maintenance, changelog:🐛bugfix

#2775 e2e: log 503s
  tests/e2e/utils/utils.js
Labels: e2e
