Repository ITISFoundation/osparc-simcore, pull requests merged in 2022-03, with the labels that each got.

#2798 🐛♻️ Bugfix/handle ever running tasks - refactor director-v2 workflow scheduler
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/errors.py
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/events.py
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  packages/dask-task-models-library/tests/container_tasks/test_events.py
  packages/dask-task-models-library/tests/container_tasks/test_io.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/requirements/_base.in
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-complete.in
  services/dask-sidecar/requirements/_dask-complete.txt
  services/dask-sidecar/requirements/_dask-distributed.in
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_packages.txt
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/errors.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_dask_utils.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/src/simcore_service_director_v2/api/routes/clusters.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/background_task.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_pipelines.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/src/simcore_service_director_v2/utils/logging_utils.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/_helpers.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
Labels: changelog:♻️refactor, changelog:🐛bugfix

#2855 🗑️ Maintenance/ cleanup unsued files
  api/tests/test_repo_data.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_login.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_projects.py
  services/api-server/setup.py
  services/api-server/src/simcore_service_api_server/mocks/isolve-gpu-metadata.yml
  services/api-server/src/simcore_service_api_server/mocks/isolve-metadata.yml
  services/api-server/src/simcore_service_api_server/mocks/isolve-mpi-metadata.yml
  services/api-server/src/simcore_service_api_server/mocks/opencor-metadata.yml
  services/web/server/setup.py
  services/web/server/src/simcore_service_webserver/data/fake-materialDB-LF-Material2Entities.json
  services/web/server/src/simcore_service_webserver/data/fake-materialDB-LF-getItem.json
  services/web/server/src/simcore_service_webserver/data/fake-materialDB-LF-getItemList.json
  services/web/server/src/simcore_service_webserver/data/fake-modeler-LF-getItemList.json
  services/web/server/src/simcore_service_webserver/data/fake-template-projects.isan.json
  services/web/server/src/simcore_service_webserver/data/fake-template-projects.json
  services/web/server/src/simcore_service_webserver/data/fake-template-projects.osparc.json
  services/web/server/src/simcore_service_webserver/data/s4l_converter.py
  services/web/server/tests/conftest.py
  services/web/server/tests/data/fake-template-projects.hack08.notebooks.json
  services/web/server/tests/data/fake-template-projects.isan.2dplot.json
  services/web/server/tests/data/fake-template-projects.isan.matward.json
  services/web/server/tests/data/fake-template-projects.isan.paraview.json
  services/web/server/tests/data/fake-template-projects.isan.ucdavis.json
  services/web/server/tests/data/fake-template-projects.sleepers.json
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/integration/02/conftest.py
  services/web/server/tests/unit/isolated/conftest.py
  services/web/server/tests/unit/isolated/test_projects_utils.py
  services/web/server/tests/unit/isolated/test_security_access_model.py
  services/web/server/tests/unit/isolated/test_utils.py
  services/web/server/tests/unit/with_dbs/02/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/06/conftest.py
  services/web/server/tests/unit/with_dbs/09/conftest.py
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/10/version_control/conftest.py
Labels: t:maintenance, changelog:ignore-for-release, changelog:⚰️deprecation

#2827 ⬆️ Upgrades api-server requirements
  services/api-server/requirements/_base.in
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/api-server/requirements/constraints.txt
  services/api-server/src/simcore_service_api_server/modules/webserver.py
Labels: a:apiserver

#2851 ✨ Is353/api results table from meta-project sweep (⚠️ devops)
  Makefile
  api/specs/webserver/openapi-meta-projects.yaml
  api/specs/webserver/openapi.yaml
  services/docker-compose.local.yml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/meta_modeling_handlers.py
  services/web/server/src/simcore_service_webserver/meta_modeling_iterations.py
  services/web/server/src/simcore_service_webserver/meta_modeling_results.py
  services/web/server/src/simcore_service_webserver/meta_modeling_version_control.py
  services/web/server/tests/unit/with_dbs/10/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/10/meta_modeling/test_meta_modeling_results.py
Labels: a:catalog, a:apiserver

#2870 File Picker UI/UX
  services/web/client/source/class/osparc/component/node/FilePickerSSView.js
  services/web/client/source/class/osparc/component/widget/logger/LoggerView.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/NodeStatus.js
  services/web/client/source/class/osparc/desktop/SlideshowView.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FileDownloadLink.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/file/FilesAdd.js
Labels: a:frontend

#2875 🐛 Fixed email sending
  packages/settings-library/src/settings_library/_constants.py
  packages/settings-library/src/settings_library/email.py
  packages/settings-library/src/settings_library/rabbit.py
  packages/settings-library/tests/test_email.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/tests/data/default_app_config-unit.yaml
Labels: bug, a:webserver, changelog:🐛bugfix

#2869 ♻️ Replace aiopg in catalog service
  packages/postgres-database/src/simcore_postgres_database/utils_aiosqlalchemy.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/settings-library/src/settings_library/postgres.py
  services/catalog/requirements/_base.in
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.in
  services/catalog/requirements/_test.txt
  services/catalog/src/simcore_service_catalog/api/dependencies/database.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/db/events.py
  services/catalog/src/simcore_service_catalog/db/repositories/_base.py
  services/catalog/src/simcore_service_catalog/db/repositories/dags.py
  services/catalog/src/simcore_service_catalog/db/repositories/groups.py
  services/catalog/src/simcore_service_catalog/db/repositories/projects.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/services/access_rights.py
  services/catalog/src/simcore_service_catalog/services/director.py
  services/catalog/src/simcore_service_catalog/utils/requests_decorators.py
  services/catalog/tests/unit/test_services_director.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
  services/catalog/tests/unit/with_dbs/test_entrypoint_services.py
  services/catalog/tests/unit/with_dbs/test_services_access_rights.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  tests/performance/locust_files/catalog_services.py
  tests/performance/locust_files/webserver_services.py
Labels: changelog:♻️refactor

#2874 ✨ Cache list service request in catalog
  packages/settings-library/src/settings_library/postgres.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
Labels: changelog:🎨enhancement

#2883 🐛Fix save state for non-responsive services
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director/src/simcore_service_director/producer.py
Labels: changelog:🐛bugfix

#2865 ✨ Form playground
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/component/form/json/JsonSchemaForm.js
  services/web/client/source/class/osparc/component/form/json/JsonSchemaFormItem.js
  services/web/client/source/class/osparc/desktop/FormSandboxPage.js
  services/web/client/source/resource/form/test1.json
Labels: t:enhancement, a:frontend, t:feature

#2889 🐛 CI: correctly find branch name in Github Workflow
  .github/workflows/ci-release.yml
  .github/workflows/ci-staging.yml
Labels: changelog:🐛bugfix

#2884 🐛Fix blocking call in the garbage collector
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/tests/unit/with_dbs/05/test_project_db.py
Labels: changelog:🎨enhancement

#2890 ⬆️ Maintenance/upgrade dask libraries
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-complete.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_packages.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
Labels: changelog:♻️refactor, changelog:🔒️security

#2826 🔒️ Adds codeql-analysis cron job
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  tests/environment-setup/test_used_docker_compose.py
Labels: security, changelog:🔒️security

#2895 ♻️ fully deprecates models_library.settings and removes most of its submodules
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  packages/models-library/src/models_library/settings/application_bases.py
  packages/models-library/src/models_library/settings/http_clients.py
  packages/models-library/src/models_library/settings/services_common.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_scrunch_citations.py
  services/web/server/src/simcore_service_webserver/director/director_api.py
  services/web/server/src/simcore_service_webserver/director/plugin.py
  services/web/server/src/simcore_service_webserver/director/settings.py
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/director_v2_core.py
  services/web/server/src/simcore_service_webserver/director_v2_settings.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/unit/isolated/scicrunch/test_scicrunch__resolver.py
  services/web/server/tests/unit/isolated/scicrunch/test_scicrunch__rest.py
Labels: t:maintenance, changelog:ignore-for-release

#2879 🐛 graceful stop for dynamic-sidecar started services
  docs/no-upstream-push.md
  services/director-v2/src/simcore_service_director_v2/api/dependencies/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director/docker/boot.sh
Labels: bug, a:director-v2, changelog:🐛bugfix

#2834 ♻️ Is2757/gc as a service implementation (⚠️⚠️ devops)
  .env-devel
  .env-webserver-garbage-collector
  .github/CODEOWNERS
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
  services/docker-compose.devel.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/_meta.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
Labels: t:maintenance, changelog:♻️refactor

#2899 🚑️ hotfix GC first deploy
  .env-wb-garbage-collector
  .github/CODEOWNERS
  services/docker-compose.devel.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/garbage_collector.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/src/simcore_service_webserver/projects/project_models.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
Labels: a:webserver, changelog:🐛bugfix

#2900 ♻️ Maintenance: reduce number of webserver CI jobs
  .github/workflows/ci-testing-deploy.yml
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/tests/unit/with_dbs/01/clusters/conftest.py
  services/web/server/tests/unit/with_dbs/01/clusters/test_clusters_handlers.py
  services/web/server/tests/unit/with_dbs/01/clusters/test_clusters_models.py
  services/web/server/tests/unit/with_dbs/01/clusters/test_clusters_plugin_setup.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_api.py
  services/web/server/tests/unit/with_dbs/01/test_computation_utils.py
  services/web/server/tests/unit/with_dbs/01/test_db.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2.py
  services/web/server/tests/unit/with_dbs/01/test_groups.py
  services/web/server/tests/unit/with_dbs/01/test_groups_classifiers.py
  services/web/server/tests/unit/with_dbs/01/test_login_api_keys.py
  services/web/server/tests/unit/with_dbs/01/test_login_change_email.py
  services/web/server/tests/unit/with_dbs/01/test_storage.py
  services/web/server/tests/unit/with_dbs/01/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/01/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/01/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_project_db.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud.py
  services/web/server/tests/unit/with_dbs/02/test_projects_delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_pagination.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/conftest.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_function_nodes.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_handlers.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_results.py
  services/web/server/tests/unit/with_dbs/03/tags/conftest.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
  services/web/server/tests/unit/with_dbs/03/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/test_login_reset_password.py
  services/web/server/tests/unit/with_dbs/03/test_redis.py
  services/web/server/tests/unit/with_dbs/03/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/03/test_session.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_core.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_handlers.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_tags.py
Labels: changelog:⚠️devops

#2902 🔨 Maintenance/tools and non-critical fixes
  .github/PULL_REQUEST_TEMPLATE.md
  packages/settings-library/src/settings_library/email.py
  packages/settings-library/tests/test_email.py
  scripts/pydeps-docker/.pydeps
  scripts/pydeps-docker/Dockerfile
  scripts/pydeps.bash
  services/web/server/src/simcore_service_webserver/computation_config.py
  services/web/server/src/simcore_service_webserver/db.py
  services/web/server/src/simcore_service_webserver/diagnostics_settings.py
  services/web/server/tests/unit/isolated/test_diagnostics.py
  services/web/server/tests/unit/with_dbs/01/test_storage.py
Labels: t:maintenance

#2906 🚑️ GC hotfix: fixes dependency with storage plugin and new healthcheck
  .env-wb-garbage-collector
  api/specs/webserver/components/schemas/fake.yaml
  api/specs/webserver/openapi-diagnostics.yaml
  api/specs/webserver/openapi.yaml
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/rest.py
  services/web/server/src/simcore_service_webserver/rest_handlers.py
  services/web/server/src/simcore_service_webserver/rest_routes.py
  services/web/server/tests/unit/isolated/test_rest.py
Labels: a:webserver, changelog:🐛bugfix

#2892 ♻️ Enhance regex validation director v2 - Allow registries by IP and Port
  services/director-v2/src/simcore_service_director_v2/models/schemas/constants.py
  services/director-v2/tests/unit/test_core_settings.py
Labels: a:director-v2, changelog:♻️refactor

#2910 ♻️ Refactors webserver's healthcheck
  .env-wb-garbage-collector
  api/specs/webserver/openapi-diagnostics.yaml
  services/web/Dockerfile
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/diagnostics.py
  services/web/server/src/simcore_service_webserver/diagnostics_handlers.py
  services/web/server/src/simcore_service_webserver/diagnostics_healthcheck.py
  services/web/server/src/simcore_service_webserver/diagnostics_monitoring.py
  services/web/server/src/simcore_service_webserver/rest.py
  services/web/server/src/simcore_service_webserver/rest_handlers.py
  services/web/server/src/simcore_service_webserver/rest_healthcheck.py
  services/web/server/tests/unit/isolated/test_diagnostics.py
  services/web/server/tests/unit/isolated/test_diagnostics_healthcheck.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver

#2913 ✨ Enhance compatibility-check for catalog service's ports including units
  packages/models-library/src/models_library/function_service/demo_units.py
  packages/models-library/src/models_library/projects_nodes_io.py
  packages/models-library/tests/test_projects_pipeline.py
  services/web/server/docker/boot.sh
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/src/simcore_service_webserver/catalog.py
  services/web/server/src/simcore_service_webserver/catalog_handlers.py
  services/web/server/src/simcore_service_webserver/catalog_handlers_utils.py
  services/web/server/src/simcore_service_webserver/catalog_models.py
  services/web/server/src/simcore_service_webserver/catalog_utils.py
  services/web/server/tests/unit/isolated/test_catalog_handlers.py
  services/web/server/tests/unit/isolated/test_catalog_models.py
  services/web/server/tests/unit/isolated/test_catalog_utils.py
Labels: a:webserver

#2909 ✨ Allow setting an osparc-dask-gateway as the default scheduler (⚠️ devops)
  .env-devel
  packages/models-library/src/models_library/clusters.py
  packages/models-library/tests/test_clusters.py
  packages/pytest-simcore/src/pytest_simcore/pydantic_models.py
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
  packages/pytest-simcore/src/pytest_simcore/simcore_dask_service.py
  services/director-v2/src/simcore_service_director_v2/api/routes/clusters.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/clusters.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/src/simcore_service_director_v2/utils/db.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/director-v2/tests/unit/test_utils_db.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_route_clusters.py
  services/docker-compose.yml
Labels: changelog:🎨enhancement

#2914 Monitoring Clusters
  services/web/client/source/class/osparc/component/cluster/ClusterDetails.js
  services/web/client/source/class/osparc/component/cluster/ClusterMiniView.js
  services/web/client/source/class/osparc/component/cluster/ClustersDetails.js
  services/web/client/source/class/osparc/component/editor/ClusterEditor.js
  services/web/client/source/class/osparc/component/service/ServiceButtonSmall.js
  services/web/client/source/class/osparc/component/widget/PlotlyWidget.js
  services/web/client/source/class/osparc/dashboard/Dashboard.js
  services/web/client/source/class/osparc/dashboard/GridButtonLoadMore.js
  services/web/client/source/class/osparc/dashboard/ListButtonLoadMore.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ClustersPage.js
  services/web/client/source/class/osparc/navigation/UserMenuButton.js
  services/web/client/source/class/osparc/theme/Font.js
  services/web/client/source/class/osparc/theme/mixin/Color.js
  services/web/client/source/class/osparc/ui/hint/Hint.js
  services/web/client/source/class/osparc/ui/hint/InfoHint.js
  services/web/client/source/class/osparc/utils/Clusters.js
  services/web/client/source/class/osparc/utils/Utils.js
  services/web/client/source/class/osparc/wrapper/Plotly.js
  services/web/client/source/resource/plotly/plotly-2.9.0.min.js
Labels: a:frontend

#2918 ✨ Add entrypoint to ping an already defined cluster (⚠️ devops)
  .env-devel
  api/specs/webserver/openapi-clusters.yaml
  api/specs/webserver/openapi.yaml
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/scheduler.py
  services/director-v2/src/simcore_service_director_v2/api/routes/clusters.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/director-v2/tests/unit/test_modules_director_v0.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_route_clusters.py
  services/director-v2/tests/unit/with_dbs/test_route_clusters_details.py
  services/director-v2/tests/unit/with_swarm/test_routes_dynamic_services.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/clusters/handlers.py
  services/web/server/src/simcore_service_webserver/director_v2_api.py
  services/web/server/src/simcore_service_webserver/director_v2_core.py
  services/web/server/src/simcore_service_webserver/director_v2_exceptions.py
  services/web/server/tests/unit/with_dbs/01/clusters/test_clusters_handlers.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2.py
Labels: changelog:🎨enhancement

#2919 Units II
  packages/models-library/src/models_library/function_service/demo_units.py
  services/web/client/source/class/osparc/component/form/Auto.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/component/widget/inputs/NodeOutputTree.js
  services/web/client/source/class/osparc/ui/form/ContentSchemaHelper.js
  services/web/client/source/class/osparc/utils/Units.js
Labels: a:frontend

#2633 ✨Use service label as hostnames for dynamic-sidecar started services
  packages/models-library/src/models_library/projects_networks.py
  packages/models-library/src/models_library/services.py
  packages/models-library/tests/test_project_networks.py
  packages/postgres-database/README.md
  packages/postgres-database/src/simcore_postgres_database/migration/versions/99f9b200801c_added_project_networks_table.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_networks.py
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects_networks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/tables.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/src/simcore_service_director_v2/modules/projects_networks.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/tests/integration/02/conftest.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/test_modules_project_networks.py
  services/director-v2/tests/unit/test_utils_db.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_docker_api.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_routing.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/web/server/src/simcore_service_webserver/director_v2_api.py
  services/web/server/src/simcore_service_webserver/director_v2_core.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/with_dbs/02/test_projects_pagination.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_core.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_handlers.py
Labels: a:webserver, a:director-v2, changelog:✨new-feature, changelog:♻️refactor

#2920 ✨ Enhancement/provide default cluster info
  packages/models-library/src/models_library/clusters.py
  packages/models-library/tests/test_clusters.py
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  services/director-v2/src/simcore_service_director_v2/api/routes/clusters.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/clusters.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_route_clusters.py
Labels: changelog:🎨enhancement

#2924 🐛 FIX issues with control networking
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
Labels: bug, a:dynamic-sidecar, changelog:🐛bugfix

#2925 Cluster resource details II
  services/web/client/source/class/osparc/component/cluster/ClusterDetails.js
  services/web/client/source/class/osparc/component/cluster/ClusterMiniView.js
  services/web/client/source/class/osparc/component/cluster/ClustersDetails.js
  services/web/client/source/class/osparc/component/form/Auto.js
  services/web/client/source/class/osparc/component/permissions/Permissions.js
  services/web/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/utils/Clusters.js
Labels: a:frontend

#2928 🐛 Avoids locking the dynamic-sidecar in an error state
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
Labels: bug, a:director-v2, changelog:🐛bugfix

#2927 Parameters and Probes support arrays
  packages/models-library/src/models_library/function_service/parameters.py
  packages/models-library/src/models_library/function_service/probes.py
  services/web/client/source/class/osparc/component/node/ParameterEditor.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/ui/form/ContentSchemaArray.js
  services/web/client/source/class/osparc/utils/Ports.js
Labels: a:frontend

#2931 Fix: Range validation with prefix updated
  services/web/client/source/class/osparc/component/editor/AnnotationEditor.js
  services/web/client/source/class/osparc/component/form/ColorPicker.js
  services/web/client/source/class/osparc/component/workbench/Annotation.js
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/ui/form/ContentSchemaHelper.js
  services/web/client/source/class/osparc/utils/Clusters.js
  services/web/client/source/class/osparc/wrapper/Svg.js
Labels: a:frontend

#2932 🐛 fixes concurrency issue with directory-watcher
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/directory_watcher.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
Labels: bug, a:dynamic-sidecar, changelog:🐛bugfix
