Repository ITISFoundation/osparc-simcore, pull requests merged in 2022-12, with the labels that each got.

#3621 ✨ Is686/webserver api `0.12`: project ports metadata
  api/specs/webserver/openapi-projects-ports.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/openapi_projects_ports.py
  packages/models-library/src/models_library/utils/services_io.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_ports.py
  services/web/server/src/simcore_service_webserver/projects/projects_ports_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects__ports.py
  services/web/server/tests/unit/with_dbs/02/test_projects_ports_handlers.py
Labels: a:webserver

#3623 ✨ Is686/apiserver api `0.4.2`: studies ports
  README.md
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_catalog.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_webserver.py
  services/api-server/VERSION
  services/api-server/openapi.json
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
  services/api-server/src/simcore_service_api_server/models/types.py
  services/api-server/src/simcore_service_api_server/modules/webserver.py
  services/api-server/src/simcore_service_api_server/utils/client_decorators.py
  services/api-server/tests/unit/api_solvers/conftest.py
  services/api-server/tests/unit/test_api_routes_studies.py
  services/web/server/src/simcore_service_webserver/projects/projects_ports_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_ports_handlers.py
Labels: a:apiserver

#3630 Revert "⬆️ Maintenance: Upgrade python-socketio + flakyness (#3622)"
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  services/web/server/src/simcore_service_webserver/socketio/server.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/02/test_rabbit.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
Labels: changelog:♻️refactor

#3619 ✨ Rocket-lite Navigation Bar review
  services/static-webserver/client/source/class/osparc/auth/core/Utils.js
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/component/node/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/component/widget/NodesTree.js
  services/static-webserver/client/source/class/osparc/component/widget/StudyTitleOnlyTree.js
  services/static-webserver/client/source/class/osparc/component/widget/logger/LoggerView.js
  services/static-webserver/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/static-webserver/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowToolbar.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyMedium.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/ui/form/EditLabel.js
Labels: a:frontend, changelog:🎨enhancement

#3624 ✨Improve phone registration
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/ui/VerifyPhoneNumberView.js
  services/static-webserver/client/source/class/osparc/component/widget/IntlTelInput.js
  services/static-webserver/client/source/class/osparc/wrapper/IntlTelInput.js
  services/static-webserver/client/source/resource/intl-tel-input/css/intlTelInput.css
  services/static-webserver/client/source/resource/intl-tel-input/img/flags.png
  services/static-webserver/client/source/resource/intl-tel-input/img/flags@2x.png
  services/static-webserver/client/source/resource/intl-tel-input/js/data.min.js
  services/static-webserver/client/source/resource/intl-tel-input/js/intlTelInput.min.js
  services/static-webserver/client/source/resource/intl-tel-input/js/utils.js
Labels: a:frontend, changelog:✨new-feature, changelog:🎨enhancement

#3634 ✅ Is3569/flaky public api test
  tests/public-api/test_solvers_jobs_api.py
Labels: a:api

#3636 ✨Tutorials Grouping review
  services/static-webserver/client/source/class/osparc/component/widget/SlideBar.js
  services/static-webserver/client/source/class/osparc/dashboard/GroupedToggleButtonContainer.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/navigation/Manuals.js
  services/static-webserver/client/source/class/osparc/ui/window/Dialog.js
Labels: a:frontend, changelog:🎨enhancement

#3637 ✨ Start/Stop services 2
  services/static-webserver/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/StartStopButtons.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/static-webserver/client/source/class/osparc/ui/window/Dialog.js
  tests/e2e/tutorials/ti-plan.js
Labels: a:frontend, changelog:✨new-feature, changelog:🎨enhancement

#3642 e2e: close Preparing Inputs window
  tests/e2e/tutorials/ti-plan.js
Labels: e2e

#3640 ⬆️ Maintenance: upgrades tests and tools of non-``services``
  api/tests/requirements.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/dask-task-models-library/requirements/_test.txt
  packages/dask-task-models-library/requirements/_tools.txt
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/requirements/_tools.txt
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/settings-library/requirements/_base.txt
  packages/settings-library/requirements/_test.txt
  packages/settings-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.txt
  packages/simcore-sdk/requirements/constraints.txt
  requirements/base.Makefile
  requirements/constraints.txt
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  tests/e2e/requirements/requirements.txt
  tests/environment-setup/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: dependencies, t:maintenance

#3648 🐛 Bugfix: Avoid duplicated new buttons
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GroupedToggleButtonContainer.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/ToggleButtonContainer.js
  tests/e2e/tutorials/ti-plan.js
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e, changelog:🐛bugfix

#3631 Revert "Revert "⬆️ Maintenance: Upgrade python-socketio + flakyness (…
  services/static-webserver/client/Manifest.json
  services/static-webserver/client/source/class/osparc/wrapper/WebSocket.js
  services/static-webserver/client/source/resource/socketio/socket.io.js
  services/static-webserver/client/source/resource/socketio/socket.io.min.js
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  services/web/server/src/simcore_service_webserver/socketio/server.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
Labels: changelog:♻️refactor

#3650 e2e: publications
  tests/e2e/publications/Voila.js
  tests/e2e/s4l/sim4life-dipole.js
  tests/e2e/s4l/sim4life-lite.js
  tests/e2e/s4l/sim4life.js
  tests/e2e/tutorials/mattward.js
  tests/e2e/tutorials/ti-plan.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/utils.js
Labels: e2e

#3643 ✨ Autoscaling: have only one ec2 client
  services/autoscaling/src/simcore_service_autoscaling/api/health.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/core/errors.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/__init__.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/modules/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils_aws.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_api_health.py
  services/autoscaling/tests/unit/test_dynamic_scaling_core.py
  services/autoscaling/tests/unit/test_dynamic_scaling_task.py
  services/autoscaling/tests/unit/test_health_route.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/autoscaling/tests/unit/test_modules_rabbitmq.py
  services/autoscaling/tests/unit/test_utils_aws.py
  services/autoscaling/tests/unit/test_utils_ec2.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
Labels: changelog:🎨enhancement

#3657 iframe clipboard fix
  services/static-webserver/client/source/class/osparc/component/widget/PersistentIframe.js
Labels: a:frontend

#3662 🐛 Nodes tree binding
  services/static-webserver/client/source/class/osparc/component/tutorial/s4llite/Welcome.js
  services/static-webserver/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/static-webserver/client/source/class/osparc/component/widget/NodesTree.js
  services/static-webserver/client/source/class/osparc/component/widget/StudyTitleOnlyTree.js
Labels: changelog:🐛bugfix

#3665 ✨ Groups Templates (and Services!) by Shared with
  services/static-webserver/client/source/class/osparc/component/permissions/ShareWith.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GroupedToggleButtonContainer.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Labels: changelog:🎨enhancement

#3658 ✨ Is3318/resend 2fh handler (⚠️ devops)
  .vscode/launch.template.json
  api/specs/webserver/openapi-auth.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/_common.py
  api/specs/webserver/scripts/openapi_auth.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_envs.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/login/_2fa.py
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/login/handlers_2fa.py
  services/web/server/src/simcore_service_webserver/login/handlers_auth.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/routes.py
  services/web/server/src/simcore_service_webserver/login/settings.py
  services/web/server/src/simcore_service_webserver/scicrunch/_resolver.py
  services/web/server/src/simcore_service_webserver/security_authorization.py
  services/web/server/src/simcore_service_webserver/session.py
  services/web/server/src/simcore_service_webserver/session_access.py
  services/web/server/src/simcore_service_webserver/templates/common/change_email_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/new_2fa_code.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/registration_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/reset_password_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/reset_password_email_failed.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/service_submission.jinja2
  services/web/server/src/simcore_service_webserver/templates/osparc/registration_email.jinja2
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
  services/web/server/tests/unit/isolated/test_templates.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa_resend.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_auth.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/test_session_access.py
Labels: a:webserver

#3610 🐛 report correct status on user service fail
  packages/models-library/src/models_library/generated_models/docker_rest_api.py
  packages/models-library/src/models_library/projects_ui.py
  scripts/openapi-pydantic-models-generator.bash
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/mocks/fake_scheduler_data.json
  services/director-v2/tests/mocks/fake_scheduler_data_compose_spec.json
  services/director-v2/tests/mocks/legacy_scheduler_data_format.json
  services/director-v2/tests/unit/test_models_dynamic_services.py
  services/director-v2/tests/unit/test_models_schemas_dynamic_services_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_events.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
Labels: a:director-v2, a:dynamic-sidecar, changelog:🐛bugfix

#3666 🐛 Adding metrics to dynamic-sidecar created services
  packages/service-library/src/servicelib/aiohttp/monitor_services.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
Labels: changelog:🐛bugfix

#3677 🐛 agent rclone error is also included when logged
  services/agent/src/simcore_service_agent/modules/volumes_cleanup/_s3.py
Labels: changelog:🐛bugfix, a:agent

#3680 🐛fixed test blocking CI in director-v2 unittests
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
Labels: changelog:🐛bugfix

#3675 🐛Introduce timeout in project lock (a la aioredlock)
  packages/service-library/src/servicelib/background_task.py
  packages/service-library/tests/test_background_task.py
  services/web/server/src/simcore_service_webserver/projects/project_lock.py
  services/web/server/tests/unit/with_dbs/03/test_redis.py
Labels: changelog:🐛bugfix

#3679 ✨ FE: 2FA 2nd iteration
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/auth/core/BaseAuthPage.js
  services/static-webserver/client/source/class/osparc/auth/core/Utils.js
  services/static-webserver/client/source/class/osparc/auth/ui/Login2FAValidationCodeView.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/auth/ui/VerifyPhoneNumberView.js
  services/static-webserver/client/source/class/osparc/component/widget/IntlTelInput.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/ui/form/LinkButton.js
  services/static-webserver/client/source/class/osparc/ui/message/FlashMessage.js
  services/static-webserver/client/source/resource/intl-tel-input/css/intlTelInput.css
Labels: changelog:🎨enhancement

#3682 ⬆️🔒️ Updates certifi following GHSA-43fp-rhv2-5gv8
  packages/dask-task-models-library/requirements/_test.txt
  packages/models-library/requirements/_test.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/settings-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.txt
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/agent/requirements/_tools.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/autoscaling/requirements/_tools.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-complete.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  tests/e2e/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: dependencies, t:maintenance, python

#3685 🐛 Metrics: ensure instrumentation messages are treated only once
  packages/service-library/src/servicelib/rabbitmq.py
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
Labels: changelog:🐛bugfix

#3678 ♻️ add loading of self signed certs to director-v2 and webserver entrypoint.sh
  services/director-v2/docker/entrypoint.sh
  services/web/server/docker/entrypoint.sh
Labels: a:webserver, a:director-v2, enhancement

#3686 ✨ Maintenance: disable Traefik sticky connection and Socket.IO long polling 🚨
  services/docker-compose.local.yml
  services/docker-compose.yml
  services/static-webserver/client/source/class/osparc/wrapper/WebSocket.js
Labels: changelog:✨new-feature

#3655 ✨ Autoscaling: scale down nodes
  services/autoscaling/src/simcore_service_autoscaling/core/errors.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_core_settings.py
  services/autoscaling/tests/unit/test_dynamic_scaling_core.py
  services/autoscaling/tests/unit/test_models.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
Labels: changelog:✨new-feature

#3681 🐛 fixes flaky tests with dynamic-sidecar
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_event_filter.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_watcher.py
Labels: a:dynamic-sidecar, changelog:🐛bugfix

#3695 🐛 Maintenance: revert disabling of sticky connection
  services/docker-compose.local.yml
  services/docker-compose.yml
Labels: changelog:🐛bugfix

#3698 ♻️ [1/3] dynamic scheduler structure refactor round
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
Labels: a:director-v2, changelog:♻️refactor

#3701 ✨ s4l-lite expects only the sim4life-lite service
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  tests/e2e/s4l/sim4life-dipole.js
  tests/e2e/s4l/sim4life-lite.js
Labels: changelog:🎨enhancement

#3696 ✨ Pop up Create Account dialog
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
  services/static-webserver/client/source/class/osparc/auth/core/BaseAuthPage.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/component/tutorial/s4llite/Slides.js
  services/static-webserver/client/source/class/osparc/component/tutorial/ti/Slides.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ProfilePage.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/store/VendorInfo.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: changelog:🎨enhancement

#3699 ♻️ [2/3] dynamic scheduler structure refactor round
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_scheduler.py
  services/director-v2/src/simcore_service_director_v2/cli/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/src/simcore_service_director_v2/utils/db.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_core_events.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
  services/director-v2/tests/unit/test_modules_project_networks.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
Labels: a:director-v2, changelog:♻️refactor

#3692 ✨ Autoscaling: handle application restart and in parallel (⚠️ devops)
  packages/service-library/src/servicelib/redis_utils.py
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.in
  services/autoscaling/requirements/_test.txt
  services/autoscaling/src/simcore_service_autoscaling/api/health.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/core/errors.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/redis.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_api_health.py
  services/autoscaling/tests/unit/test_core_settings.py
  services/autoscaling/tests/unit/test_dynamic_scaling_core.py
  services/autoscaling/tests/unit/test_dynamic_scaling_task.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/autoscaling/tests/unit/test_modules_rabbitmq.py
  services/autoscaling/tests/unit/test_modules_redis.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/docker-compose.yml
Labels: changelog:🎨enhancement

#3702 🐛 Fix/auth resend during registration
  api/specs/webserver/openapi-auth.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/_common.py
  api/specs/webserver/scripts/openapi_auth.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/login/handlers_2fa.py
  services/web/server/src/simcore_service_webserver/login/handlers_auth.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/routes.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/tests/unit/with_dbs/01/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/01/login/test_login_2fa_resend.py
Labels: a:webserver, changelog:🐛bugfix

#3707 ✨ e2e: Parallel testing
  tests/e2e/README.md
  tests/e2e/docker/Makefile
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Kember.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/publications/Voila.js
  tests/e2e/s4l/sim4life-lite.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/utils.js
Labels: e2e

#3704 ✨ Webserver: Edit templates
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_login.py
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v2.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/src/simcore_service_webserver/projects/projects_access.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_ports_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/tests/unit/with_dbs/01/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa_resend.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_auth.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_change_email.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_change_password.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_logout.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_utils_emails.py
Labels: changelog:✨new-feature

#3713 ✨ Make Sharing feature more prominent
  services/static-webserver/client/source/class/osparc/component/permissions/Permissions.js
  services/static-webserver/client/source/class/osparc/component/permissions/Study.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
Labels: changelog:🎨enhancement

#3717 ♻️ File Upload issue in AWS: add more informative logs
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
Labels: changelog:♻️refactor

#3716 🐛 Edit templates: missing lock when opening dashboard
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: changelog:🐛bugfix

#3706 ✨ Products: Is3705/product groups (🗃️ DB change)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/1447a4f5d72b_add_product_s_group_column.py
  packages/postgres-database/src/simcore_postgres_database/models/groups.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/postgres-database/src/simcore_postgres_database/utils_products.py
  packages/postgres-database/tests/products/conftest.py
  packages/postgres-database/tests/products/test_models_products.py
  packages/postgres-database/tests/products/test_utils_products.py
  packages/postgres-database/tests/test_groups.py
  packages/service-library/setup.cfg
  services/web/server/src/simcore_service_webserver/groups_api.py
  services/web/server/src/simcore_service_webserver/groups_handlers.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/tests/unit/with_dbs/01/test_groups.py
Labels: a:webserver

#3719 🐛♻️ Use AccessRights field instead of owner's email
  services/static-webserver/client/source/class/osparc/component/metadata/QualityEditor.js
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudyBootOpts.js
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/component/permissions/Permissions.js
  services/static-webserver/client/source/class/osparc/component/permissions/Service.js
  services/static-webserver/client/source/class/osparc/component/permissions/Study.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowToolbar.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/utils/Services.js
Labels: a:frontend, changelog:🎨enhancement, changelog:🐛bugfix

#3712 ♻️🐛 agent bug fix and improvements (⚠️ devops)
  services/agent/src/simcore_service_agent/core/settings.py
  services/agent/src/simcore_service_agent/modules/volumes_cleanup/_core.py
  services/agent/src/simcore_service_agent/modules/volumes_cleanup/_docker.py
  services/agent/src/simcore_service_agent/modules/volumes_cleanup/_s3.py
  services/agent/tests/conftest.py
  services/agent/tests/unit/test_modules_volumes_cleanup.py
  services/agent/tests/unit/test_modules_volumes_clenup_docker.py
  services/docker-compose.local.yml
  services/dynamic-sidecar/tests/unit/test_modules_outputs_watcher.py
Labels: changelog:🐛bugfix, a:agent

#3708 ♻️ [3/3] dynamic scheduler decoupling refactor
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_scheduler.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler_mixin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
Labels: a:director-v2, changelog:♻️refactor

#3720 🐛 Bugfixes Lock on Study card & Update card
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
Labels: a:frontend, changelog:🐛bugfix

#3722 ✨ Autoscaling: Allow creation of multiple EC2 instances
  .pre-commit-config.yaml
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_dynamic_scaling_core.py
  services/autoscaling/tests/unit/test_models.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/autoscaling/tests/unit/test_utils_docker.py
Labels: changelog:✨new-feature

#3723 🐛♻️ Autoscaling: small fixes
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/tests/unit/test_modules_rabbitmq.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
Labels: changelog:🐛bugfix
