Repository ITISFoundation/osparc-simcore, pull requests merged in 2022-06, with the labels that each got.

#3057 ✨ App Mode: Run upstream dependencies for dynamic services
  services/web/client/source/class/osparc/auth/ui/RegistrationView.js
  services/web/client/source/class/osparc/auth/ui/ResetPassRequestView.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/study/SaveAsTemplate.js
  services/web/client/source/class/osparc/component/widget/PersistentIframe.js
  services/web/client/source/class/osparc/component/widget/PreparingInputs.js
  services/web/client/source/class/osparc/component/widget/logger/LoggerTable.js
  services/web/client/source/class/osparc/component/widget/logger/LoggerView.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/NodeStatus.js
  services/web/client/source/class/osparc/data/model/Slideshow.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/SlideshowView.js
  services/web/client/source/class/osparc/navigation/PrevNextButtons.js
  services/web/client/source/class/osparc/ui/window/Window.js
  services/web/client/source/class/osparc/utils/Utils.js
Labels: a:frontend

#3087 ⬆️ Maintenance/security update httpx
  packages/models-library/src/models_library/service_settings_labels.py
  requirements/constraints.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_modules_director_v0.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_routes_dynamic_services.py
  services/director-v2/tests/unit/with_dbs/test_route_computations_tasks.py
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  tests/public-api/requirements/_test.txt
Labels: dependencies, security, python

#3094 🐛 Fixes failing test in master
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_routes_dynamic_services.py
Labels: changelog:🐛bugfix

#3092 ⬆️ Maintenance: fixes downstream upgrades and reduces version dispersion
  .github/CODEOWNERS
  api/tests/requirements.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/dask-task-models-library/requirements/_test.txt
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/settings-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  requirements/how-to-unify-versions.md
  requirements/tools/check_changes.py
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-complete.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_packages.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/e2e/requirements/requirements.txt
  tests/environment-setup/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: dependencies, t:maintenance

#3085 ♻️ Maintenance: Removed deprecation warnings and marks flaky tests
  packages/models-library/src/models_library/settings/__init__.py
  packages/models-library/src/models_library/settings/http_clients.py
  packages/postgres-database/requirements/_test.txt
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/service-library/tests/test_async_utils.py
  packages/simcore-sdk/VERSION
  packages/simcore-sdk/setup.cfg
  packages/simcore-sdk/src/simcore_sdk/config/http_clients.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/client_session_manager.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/services/director.py
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/setup.cfg
  services/dynamic-sidecar/setup.cfg
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_modules_mounted_fs.py
  services/web/server/requirements/_test.txt
Labels: t:maintenance

#3097 🚑️ CI: cache in setup-python failing
  .github/workflows/ci-testing-deploy.yml
Labels: a:infra+ops

#3098 ♻️ Maintenance: remove node ports v1
  packages/simcore-sdk/src/simcore_sdk/node_ports/__init__.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_data_item.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_data_items_list.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_item.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_items_list.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_schema_item.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_schema_items_list.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/nodeports.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/serialization.py
  packages/simcore-sdk/tests/integration/conftest.py
  packages/simcore-sdk/tests/integration/test_node_ports_nodeports.py
  packages/simcore-sdk/tests/unit/test_node_ports_data_item.py
  packages/simcore-sdk/tests/unit/test_node_ports_item.py
  packages/simcore-sdk/tests/unit/test_node_ports_itemstlist.py
  packages/simcore-sdk/tests/unit/test_node_ports_schema_item.py
Labels: t:maintenance, changelog:🔥removal

#3099 ♻️ Maintenance: renamed travis tests to heavy load
  .github/workflows/ci-testing-deploy.yml
  ci/github/integration-testing/director-v2.bash
  ci/github/integration-testing/simcore-sdk.bash
  ci/github/integration-testing/webserver.bash
  ci/github/unit-testing/api-server.bash
  ci/github/unit-testing/api.bash
  ci/github/unit-testing/catalog.bash
  ci/github/unit-testing/dask-sidecar.bash
  ci/github/unit-testing/dask-task-models-library.bash
  ci/github/unit-testing/datcore-adapter.bash
  ci/github/unit-testing/director-v2.bash
  ci/github/unit-testing/director.bash
  ci/github/unit-testing/dynamic-sidecar.bash
  ci/github/unit-testing/models-library.bash
  ci/github/unit-testing/postgres-database.bash
  ci/github/unit-testing/service-integration.bash
  ci/github/unit-testing/service-library.bash
  ci/github/unit-testing/settings-library.bash
  ci/github/unit-testing/simcore-sdk.bash
  ci/github/unit-testing/storage.bash
  ci/github/unit-testing/webserver.bash
Labels: changelog:♻️refactor

#3102 ♻️ boot options injected to all involved containers for the service
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/tests/test_service_settings_labels.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
Labels: a:director-v2, a:dynamic-sidecar, changelog:♻️refactor

#3104 ♻️🐛 Constraint dynamic-sidecar to spawned node after creation
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/src/simcore_service_director_v2/utils/dict_utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/test_routes_dynamic_services.py
  services/director-v2/tests/unit/test_utils_dict_utils.py
Labels: a:director-v2, changelog:♻️refactor, changelog:🐛bugfix

#3114 🐛 Fixes FileLink validation legacy format
  packages/models-library/src/models_library/projects_nodes_io.py
  packages/models-library/tests/test__pydantic_models.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_port_validation.py
  services/dynamic-sidecar/Dockerfile
Labels: a:models-library

#3117 🐛 Fix dy-sidecar gets multiple same placement constraints
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: changelog:🐛bugfix

#3118 ♻️ dy-sidecar: remove unnecessary traefik labels
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
Labels: changelog:♻️refactor

#3124 ♻️ Maintenance: Re-enable caching in github CI workflow
  .github/workflows/ci-testing-deploy.yml
Labels: changelog:♻️refactor

#3130 🐛 ♻️ Is3125/gc review
  packages/service-library/src/servicelib/logging_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/src/simcore_service_webserver/garbage_collector_task.py
  services/web/server/src/simcore_service_webserver/garbage_collector_utils.py
  services/web/server/src/simcore_service_webserver/resource_manager/registry.py
Labels: a:webserver

#3129 🐛 Dy-Sidecar fix use wait_for instead of async_timeout for running subtasks
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
Labels: changelog:🐛bugfix

#3133 🐛 Bug Fix: de/serialize bootOptions when opening/closing the study
  services/web/client/source/class/osparc/data/model/Node.js
Labels: bug

#3121 ♻️ refactor dv-2 dy-sidecar's API client
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_base.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/module_setup.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_base.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
Labels: a:director-v2, changelog:♻️refactor

#3135 ⬆️ Maintenance: upgrade dask libraries
  .github/workflows/ci-testing-deploy.yml
  packages/dask-task-models-library/requirements/_base.txt
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-complete.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_packages.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/storage/requirements/_base.txt
Labels: changelog:🎨enhancement

#3140 ✨🐛 Various
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/auth/LoginPage.js
  services/web/client/source/class/osparc/component/service/ServiceButtonList.js
  services/web/client/source/class/osparc/component/service/ServiceList.js
  services/web/client/source/class/osparc/component/widget/logger/LoggerView.js
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/dashboard/CardBase.js
  services/web/client/source/class/osparc/dashboard/GridButtonItem.js
  services/web/client/source/class/osparc/dashboard/ListButtonBase.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/servicecard/Large.js
  services/web/client/source/class/osparc/store/Store.js
  services/web/client/source/class/osparc/utils/Services.js
  services/web/client/source/class/osparc/utils/Utils.js
  services/web/client/source/resource/osparc/kz_1.jpg
  services/web/client/source/resource/osparc/kz_2.jpg
  services/web/client/source/resource/osparc/kz_3.png
  services/web/client/source/resource/osparc/kz_4.png
Labels: a:frontend, changelog:✨new-feature, changelog:🎨enhancement, changelog:🐛bugfix

#3149 🐛 Frontend: Service related bug fixes
  services/web/client/source/class/osparc/component/form/json/JsonSchemaForm.js
  services/web/client/source/class/osparc/component/permissions/Permissions.js
  services/web/client/source/class/osparc/component/permissions/Study.js
  services/web/client/source/class/osparc/data/Permissions.js
Labels: a:frontend, changelog:🐛bugfix

#3153 🐛 adds container cleanup before starting and after closing
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/shared_handlers.py
Labels: a:dynamic-sidecar, changelog:🐛bugfix

#3152 ♻️ ✨ Is638/adds CLI to dynamic-sidecar (round 2)
  services/dynamic-sidecar/Makefile
  services/dynamic-sidecar/docker/boot.sh
  services/dynamic-sidecar/scripts/Makefile
  services/dynamic-sidecar/setup.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/cli.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/main.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_core_docker_logs.py
  services/dynamic-sidecar/tests/unit/test_core_rabbitmq.py
Labels: a:dynamic-sidecar

#3139 Add support for underscores in DYNAMIC_SIDECAR_DOCKER_IMAGE_RE
  services/director-v2/src/simcore_service_director_v2/models/schemas/constants.py
  services/director-v2/tests/unit/test_core_settings.py
Labels: bug, a:director-v2, a:dynamic-sidecar, changelog:🐛bugfix
