Repository ITISFoundation/osparc-simcore, pull requests merged in 2022-04, with the labels that each got.

#2936 ♻️🐛Maintenance increase heap memory to compile the frontend
  .vscode/settings.template.json
  scripts/hadolint.bash
  services/static-webserver/Dockerfile
  services/web/Dockerfile
  services/web/client/tools/qooxdoo-kit/builder/Dockerfile
Labels: changelog:♻️refactor, changelog:🐛bugfix

#2935 🐛 #2923 - sharing not possible
  .pylintrc
  services/catalog/src/simcore_service_catalog/db/events.py
  services/catalog/src/simcore_service_catalog/db/repositories/dags.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
Labels: changelog:🐛bugfix

#2937 🐛 Cluster credentials passed as *****
  services/director-v2/src/simcore_service_director_v2/api/routes/clusters.py
  services/web/server/src/simcore_service_webserver/director_v2_core.py
Labels: changelog:🐛bugfix

#2941 Fix: Stop requesting cluster details
  services/web/client/source/class/osparc/component/cluster/ClusterMiniView.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Labels: a:frontend

#2938 ♻️🐛 Maintenance: removed devel-prod dependency on static-webserver
  services/static-webserver/Dockerfile
Labels: changelog:♻️refactor, changelog:🐛bugfix

#2939 🐛 Sometimes the workers object is empty
  services/director-v2/src/simcore_service_director_v2/models/schemas/clusters.py
  services/director-v2/tests/unit/test_models_clusters.py
Labels: changelog:🐛bugfix

#2946 Fixes: Annotations
  services/web/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/StudyUI.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
Labels: a:frontend

#2960 ⬆️ upgrade pyyaml due to vulnerability
  Makefile
  services/director/requirements/Makefile
  services/director/requirements/_base.in
  services/director/requirements/_base.txt
  services/director/requirements/_test.txt
  services/director/requirements/_tools.txt
Labels: a:director, dependencies, t:maintenance, changelog:🔒️security

#2922 ✨ Enhancement/retrieve pipeline cluster
  .github/workflows/ci-testing-deploy.yml
  api/specs/webserver/components/schemas/pipeline.yaml
  api/specs/webserver/openapi-computations.yaml
  api/specs/webserver/openapi.yaml
  packages/models-library/src/models_library/projects_pipeline.py
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
  packages/pytest-simcore/src/pytest_simcore/simcore_webserver_projects_rest_api.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/models/domains/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_pipelines.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/shared_comp_utils.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/with_dbs/test_route_clusters.py
  services/director-v2/tests/unit/with_dbs/test_route_clusters_details.py
  services/director-v2/tests/unit/with_dbs/test_route_computations.py
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/director_v2_core.py
  services/web/server/src/simcore_service_webserver/director_v2_handlers.py
  services/web/server/src/simcore_service_webserver/meta_modeling_projects.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
Labels: changelog:🎨enhancement

#2963 ⬆️ upgrades urllib3==1.26.5 to fix CVE-2021-33503
  scripts/common.Makefile
  services/director/requirements/_base.in
  services/director/requirements/_base.txt
  services/director/requirements/_test.txt
Labels: dependencies, t:maintenance, security, changelog:🔒️security

#2964 ⬆️ udpates datcore-adapter service dependencies
  requirements/constraints.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
Labels: dependencies, security, changelog:🔒️security

#2897 ♻️ Maintenance: refactors guest user and save-state logic to improve flaky tests
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/projects_access.py
  packages/postgres-database/src/simcore_postgres_database/models/users.py
  packages/postgres-database/tests/test_users.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_login.py
  services/web/server/src/simcore_service_webserver/catalog_client.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/src/simcore_service_webserver/garbage_collector_utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/security_api.py
  services/web/server/src/simcore_service_webserver/users_api.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/isolated/test_security_access_model.py
  services/web/server/tests/unit/with_dbs/01/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
Labels: t:maintenance, changelog:🐛bugfix

#2915 ♻️🐛 docker engine cleans up volumes when removing dynamic-sidecars
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/constants.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects_networks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/tables.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/client_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes_resolver.py
  services/director-v2/src/simcore_service_director_v2/modules/projects_networks.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_volumes_resolver.py
  services/director-v2/tests/unit/test_modules_project_networks.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_scheduler.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_logs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/error_handlers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/errors.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/directory_watcher.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_docker_utils.py
  services/dynamic-sidecar/tests/unit/test_modules_mounted_fs.py
Labels: a:director-v2, a:dynamic-sidecar, changelog:♻️refactor, changelog:🐛bugfix

#2970 🐛 CI: properly get original git branch name
  .github/workflows/ci-release.yml
  .github/workflows/ci-staging.yml
Labels: changelog:🐛bugfix

#2868 Adds project migration script between deployments
  scripts/maintenance/migrate_project/Dockerfile
  scripts/maintenance/migrate_project/Makefile
  scripts/maintenance/migrate_project/README.md
  scripts/maintenance/migrate_project/requirements.txt
  scripts/maintenance/migrate_project/src/cli.py
  scripts/maintenance/migrate_project/src/db.py
  scripts/maintenance/migrate_project/src/models.py
  scripts/maintenance/migrate_project/src/r_clone.py
Labels: t:maintenance

#2968 ⬆️ Maintenance: update dask dependencies
  .pre-commit-config.yaml
  packages/dask-task-models-library/requirements/_base.txt
  packages/dask-task-models-library/requirements/_test.txt
  packages/dask-task-models-library/requirements/_tools.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_tools.txt
  packages/service-library/requirements/_tools.txt
  packages/settings-library/requirements/_base.txt
  packages/settings-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_tools.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_tools.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_tools.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-complete.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_packages.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_tools.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: changelog:♻️refactor

#2961 🐛 persist dynamic-sidecar state to docker service labels
  packages/models-library/tests/test_service_settings_labels.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/constants.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes_resolver.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/mocks/fake_scheduler_data.json
  services/director-v2/tests/mocks/fake_scheduler_data_compose_spec.json
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_models_dynamic_services.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_volumes_resolver.py
  services/director-v2/tests/unit/test_schemas_dynamic_services_scheduler.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_scheduler.py
Labels: bug, t:maintenance, changelog:🐛bugfix

#2972 ✨ retrieve dask available/used resources
  packages/pytest-simcore/src/pytest_simcore/redis_service.py
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/src/simcore_service_director_v2/api/routes/clusters.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/clusters.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/web/server/src/simcore_service_webserver/redis.py
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/with_dbs/01/clusters/test_clusters_handlers.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: changelog:🎨enhancement

#2966 Metamodeling II + Markers
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  packages/models-library/src/models_library/projects_nodes_ui.py
  packages/models-library/src/models_library/projects_ui.py
  services/director-v2/tests/unit/test_db_comp_tasks.py
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/web/client/source/class/osparc/component/editor/AnnotationEditor.js
  services/web/client/source/class/osparc/component/form/renderer/PropForm.js
  services/web/client/source/class/osparc/component/widget/NodeOutputs.js
  services/web/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/component/widget/StudyTitleOnlyTree.js
  services/web/client/source/class/osparc/component/widget/logger/LoggerView.js
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/theme/Appearance.js
  services/web/client/source/class/osparc/ui/message/FlashMessage.js
  services/web/client/source/class/osparc/utils/Ports.js
  services/web/client/source/class/osparc/utils/Services.js
  services/web/client/source/class/osparc/utils/Utils.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
Labels: a:frontend

#2967 Is2911/fix delete project
  Makefile
  services/storage/src/simcore_service_storage/handlers.py
  services/web/server/requirements/_test.in
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/src/simcore_service_webserver/garbage_collector_task.py
  services/web/server/src/simcore_service_webserver/garbage_collector_utils.py
  services/web/server/src/simcore_service_webserver/log.py
  services/web/server/src/simcore_service_webserver/meta_modeling_projects.py
  services/web/server/src/simcore_service_webserver/projects/_delete.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/src/simcore_service_webserver/projects/project_lock.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_exceptions.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/with_dbs/01/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud.py
  services/web/server/tests/unit/with_dbs/02/test_projects_delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_pagination.py
  services/web/server/tests/unit/with_dbs/03/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_core.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_handlers.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, changelog:🐛bugfix

#2979 ⬆️ Security upgrade: paramiko
  requirements/constraints.txt
  services/dynamic-sidecar/requirements/_base.txt
Labels: a:dynamic-sidecar, changelog:🔒️security

#2977 🐛fix CSP frame-ancestors for dynamic-sidecar services
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
Labels: a:director-v2, a:dynamic-sidecar

#2985 🐛: ensure negative values are set to 0
  services/director-v2/src/simcore_service_director_v2/models/schemas/clusters.py
  services/director-v2/tests/unit/test_models_clusters.py
Labels: changelog:🐛bugfix

#2962 ♻️ Refactors functional services package
  packages/models-library/src/models_library/function_service/_utils.py
  packages/models-library/src/models_library/function_service/constants.py
  packages/models-library/src/models_library/function_services_catalog.py
  packages/models-library/src/models_library/function_services_catalog/__init__.py
  packages/models-library/src/models_library/function_services_catalog/_key_labels.py
  packages/models-library/src/models_library/function_services_catalog/_registry.py
  packages/models-library/src/models_library/function_services_catalog/_settings.py
  packages/models-library/src/models_library/function_services_catalog/_utils.py
  packages/models-library/src/models_library/function_services_catalog/api.py
  packages/models-library/src/models_library/function_services_catalog/services/__init__.py
  packages/models-library/src/models_library/function_services_catalog/services/demo_units.py
  packages/models-library/src/models_library/function_services_catalog/services/file_picker.py
  packages/models-library/src/models_library/function_services_catalog/services/iter_range.py
  packages/models-library/src/models_library/function_services_catalog/services/iter_sensitivity.py
  packages/models-library/src/models_library/function_services_catalog/services/nodes_group.py
  packages/models-library/src/models_library/function_services_catalog/services/parameters.py
  packages/models-library/src/models_library/function_services_catalog/services/probes.py
  packages/models-library/tests/test_function_services_catalog.py
  services/catalog/src/simcore_service_catalog/services/function_services.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/tests/unit/test_db_comp_tasks.py
  services/web/server/src/simcore_service_webserver/meta_modeling_function_nodes.py
  services/web/server/src/simcore_service_webserver/meta_modeling_iterations.py
  services/web/server/tests/unit/isolated/test_catalog_utils.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_function_nodes.py
Labels: a:models-library

#2959 Clusters: Requests and Fixes
  services/web/client/source/class/osparc/auth/LoginPage.js
  services/web/client/source/class/osparc/auth/ui/LoginView.js
  services/web/client/source/class/osparc/component/cluster/ClusterDetails.js
  services/web/client/source/class/osparc/component/cluster/ClusterMiniView.js
  services/web/client/source/class/osparc/component/cluster/ClusterWorkers.js
  services/web/client/source/class/osparc/component/cluster/ClustersDetails.js
  services/web/client/source/class/osparc/component/editor/ClusterEditor.js
  services/web/client/source/class/osparc/component/widget/NodesTree.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ClustersPage.js
  services/web/client/source/class/osparc/theme/zmt/ColorDark.js
  services/web/client/source/class/osparc/ui/message/FlashMessage.js
  services/web/client/source/class/osparc/utils/Clusters.js
Labels: a:frontend

#2990 🐛dynamic-sidecar fixes
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/unit/test_models_schemas_dynamic_services_scheduler.py
Labels: a:director-v2, changelog:🐛bugfix

#2992 Frontend UI/UX
  services/web/client/source/class/osparc/component/form/Auto.js
  services/web/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/web/client/source/class/osparc/component/widget/CollapsibleViewLight.js
  services/web/client/source/class/osparc/component/widget/logger/LoggerTable.js
  services/web/client/source/class/osparc/component/widget/logger/LoggerView.js
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/SvgWidget.js
  services/web/client/source/class/osparc/desktop/CollapseWithUserMenu.js
  services/web/client/source/class/osparc/desktop/SlideshowToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/file/FileDrop.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/web/client/source/class/osparc/navigation/UserMenuButton.js
  services/web/client/source/class/osparc/theme/ColorDark.js
  services/web/client/source/class/osparc/theme/ColorLight.js
  services/web/client/source/class/osparc/theme/Decoration.js
  services/web/client/source/class/osparc/theme/zmt/ColorDark.js
  services/web/client/source/class/osparc/theme/zmt/ColorLight.js
Labels: a:frontend

#2995 Context to the Wheel
  services/web/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/web/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/web/client/source/class/osparc/component/workbench/NodeUI.js
  services/web/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/wrapper/RadialMenu.js
Labels: a:frontend

#2987 ✨ Enhancement/get node resources
  api/specs/webserver/components/schemas/node_resources.yaml
  api/specs/webserver/openapi-catalog.yaml
  api/specs/webserver/openapi-projects.yaml
  api/specs/webserver/openapi.yaml
  packages/models-library/src/models_library/generics.py
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/services_resources.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_login.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_projects.py
  services/catalog/openapi.json
  services/catalog/src/simcore_service_catalog/api/dependencies/director.py
  services/catalog/src/simcore_service_catalog/api/dependencies/services.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/models/schemas/services.py
  services/catalog/src/simcore_service_catalog/services/director.py
  services/catalog/tests/unit/with_dbs/test_entrypoint_services.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/catalog_client.py
  services/web/server/src/simcore_service_webserver/catalog_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Labels: changelog:🎨enhancement

#2997 ✨Allow computational sidecar to understand S3 links for download/upload
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/events.py
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
  packages/settings-library/src/settings_library/s3.py
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports/_item.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  packages/simcore-sdk/tests/unit/test_node_data_data_manager.py
  services/dask-sidecar/requirements/_base.in
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-complete.txt
  services/dask-sidecar/requirements/_packages.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/f.md
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_file_utils.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/tests/unit/test_modules_dask_client.py
Labels: changelog:🎨enhancement

#3004 ✨Storage can return a S3 link instead of a presigned link on demand
  api/specs/storage/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/handlers.py
  services/storage/tests/unit/test_dsm.py
Labels: changelog:🎨enhancement

#3011 ♻️ Maintenance/remove pytest docker storage
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_assert.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/storage/tests/conftest.py
  services/storage/tests/docker-compose.yml
  services/storage/tests/fixtures/data_models.py
  services/storage/tests/helpers/utils_assert.py
  services/storage/tests/helpers/utils_project.py
  services/storage/tests/unit/s3wrapper/test_minio.py
  services/storage/tests/unit/s3wrapper/test_s3_client.py
  services/storage/tests/unit/test_access_layer.py
  services/storage/tests/unit/test_dsm.py
  services/storage/tests/unit/test_dsm_soft_links.py
  services/storage/tests/unit/test_rest.py
Labels: changelog:♻️refactor
