Repository ITISFoundation/osparc-simcore, pull requests merged in 2022-02, with the labels that each got.

#2776 ⬆️ Maintenance/fix director v0 devel mode startup
  services/director/requirements/_tools.in
  services/director/requirements/_tools.txt
  services/director/requirements/dev.txt
Labels: dependencies

#2740 ✨ Enhancement/use sticky session
  Makefile
  services/docker-compose.local.yml
  services/docker-compose.yml
Labels: changelog:🎨enhancement

#2780 🐛 #2758 exclusive queue cannot be reacquired
  Makefile
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
Labels: changelog:🐛bugfix

#2761 ✨⚠️ [DEVOPS] Adds rclone support for syncing the state directories via dynamic-sidecar
  .env-devel
  .github/workflows/ci-testing-deploy.yml
  ci/github/helpers/install_rclone.bash
  packages/settings-library/src/settings_library/base.py
  services/director-v2/.env-devel
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes_resolver.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_route_clusters.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/with_swarm/test_routes_dynamic_services.py
  services/docker-compose.yml
Labels: a:director-v2, changelog:✨new-feature, changelog:🎨enhancement

#2789 ⬆️ upgrade docker buildx to v0.7.1
  .github/workflows/ci-release.yml
  .github/workflows/ci-staging.yml
  .github/workflows/ci-testing-deploy.yml
Labels: changelog:🔒️security

#2788 🐛 Check dask scheduler ID in cluster, if it changes raise an exception
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
Labels: changelog:🐛bugfix

#2791 🐛 zip compressed file formats will no longer be decompressed in outputs
  services/dynamic-sidecar/Dockerfile
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
Labels: bug, a:dynamic-sidecar, changelog:🐛bugfix

#2790 Iframe lazy loading
  services/web/client/source/class/osparc/component/widget/PersistentIframe.js
  services/web/client/source/class/osparc/data/model/Node.js
Labels: a:frontend

#2768 Dashboard UI/UX (II): Aggregate Study Options
  services/web/client/source/class/osparc/component/metadata/Quality.js
  services/web/client/source/class/osparc/component/metadata/QualityEditor.js
  services/web/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/web/client/source/class/osparc/component/metadata/ServicesInStudyBootOpts.js
  services/web/client/source/class/osparc/component/metadata/ServicesInStudyUpdate.js
  services/web/client/source/class/osparc/component/permissions/Service.js
  services/web/client/source/class/osparc/component/permissions/ShareWith.js
  services/web/client/source/class/osparc/component/study/SaveAsTemplate.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/servicecard/Large.js
  services/web/client/source/class/osparc/servicecard/Utils.js
  services/web/client/source/class/osparc/studycard/Large.js
  services/web/client/source/class/osparc/studycard/Utils.js
  services/web/client/source/class/osparc/utils/Services.js
  tests/e2e/portal-files/VTK_file.js
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Kember.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/Voila.js
  tests/e2e/portal/opencor.js
  tests/e2e/tests/tags.test.js
  tests/e2e/tutorials/isolve-gpu.js
  tests/e2e/tutorials/isolve-mpi.js
  tests/e2e/tutorials/jupyters.js
  tests/e2e/tutorials/mattward.js
  tests/e2e/tutorials/sim4life.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/utils.js
  tests/performance/locust_files/director_services.py
  tests/performance/locust_files/user_basic_calls.py
Labels: a:frontend

#2796 🐛 Check if connection with backend is still up
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/background_task.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
Labels: changelog:🐛bugfix

#2801 Show "please wait" message when Nature services are starting
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/ui/message/Loading.js
Labels: a:frontend

#2802 e2e fix: Wait for iframe after opening node
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/Kember.js
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e

#2795 Lock links when pipeline is running: frontend
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  tests/e2e/portal/2D_Plot.js
  tests/performance/locust_files/director_services.py
Labels: a:frontend

#2803 🐛 Is2800/fix director0 lost connection
  .env-devel
  services/director/Makefile
  services/director/src/simcore_service_director/exceptions.py
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/rest/handlers.py
  services/director/tests/test_handlers.py
  services/director/tests/test_producer.py
Labels: changelog:🐛bugfix

#2804 Fix: Search filters
  services/web/client/source/class/osparc/dashboard/CardBase.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/TemplateBrowser.js
  tests/e2e/tests/tags.test.js
  tests/e2e/utils/auto.js
Labels: a:frontend, changelog:🐛bugfix

#2797 ⚗️ Reject saving project while pipeline is running
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/projects_state.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/shared_comp_utils.py
  services/web/server/src/simcore_service_webserver/director_v2_api.py
  services/web/server/src/simcore_service_webserver/director_v2_core.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
Labels: a:webserver, a:director-v2

#2812 🐛 Fixes wrong signature and adds tests
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/tests/unit/isolated/test_projects_utils.py
  services/web/server/tests/unit/isolated/test_template_projects.py
Labels: changelog:🐛bugfix

#2813 🐛 adds exception rules for legacy services (⚠️ devops)
  services/director/src/simcore_service_director/producer.py
  services/director/tests/test_producer.py
Labels: changelog:🐛bugfix

#2809 ⬆️ Maintenance/week 05: test and tooling libs
  api/tests/requirements.txt
  ci/helpers/requirements.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/dask-task-models-library/requirements/_test.txt
  packages/dask-task-models-library/requirements/_tools.txt
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/requirements/_tools.txt
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/settings-library/requirements/_base.txt
  packages/settings-library/requirements/_test.txt
  packages/settings-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.txt
  requirements/tools/Makefile
  requirements/tools/check_changes.py
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/constraints.txt
  services/dask-sidecar/requirements/_test.txt
  services/datcore-adapter/requirements/_test.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  tests/e2e/requirements/requirements.txt
  tests/environment-setup/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: dependencies, t:maintenance, changelog:🔒️security

#2814 ✨ Is2805/can disable exporter with envs (⚠️ devops)
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/exporter/file_downloader.py
  services/web/server/src/simcore_service_webserver/exporter/module_setup.py
  services/web/server/src/simcore_service_webserver/exporter/request_handlers.py
  services/web/server/src/simcore_service_webserver/exporter/settings.py
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/unit/isolated/test_application_settings.py
Labels: a:webserver, changelog:🎨enhancement

#2821 Fix: service catalog search filter
  services/web/client/source/class/osparc/dashboard/CardBase.js
Labels: a:frontend, changelog:🐛bugfix

#2820 Enable/disable Export and Duplicate
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/utils/DisabledPlugins.js
Labels: a:frontend

#2822 🐛dynamic-sidecar logs fetching is resumed/paused when reloading the containers
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
Labels: bug, a:dynamic-sidecar, changelog:🐛bugfix

#2824 ✨ Enable/disable plugins marked as "under development" via env vars
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/clusters/module_setup.py
  services/web/server/src/simcore_service_webserver/meta_modeling.py
  services/web/server/src/simcore_service_webserver/version_control.py
  services/web/server/tests/conftest.py
  services/web/server/tests/unit/isolated/test_application_settings.py
Labels: a:webserver, changelog:🎨enhancement

#2823 Few frontend optimizations
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/utils/DisabledPlugins.js
Labels: a:frontend, changelog:🎨enhancement, changelog:🐛bugfix

#2825 🐛 fixes schema-json in settings-CLI
  packages/settings-library/src/settings_library/base.py
  packages/settings-library/src/settings_library/utils_cli.py
  packages/settings-library/tests/test_utils_cli.py
Labels: a:infra+ops

#2829 Bugfix: Initialize Mardown element's height to minimum
  services/web/client/source/class/osparc/ui/markdown/Markdown.js
Labels: a:frontend, changelog:🐛bugfix

#2830 ♻️ Set vfs-cache to minimal
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes_resolver.py
Labels: changelog:♻️refactor

#2828 ♻️ gc as a service (preparation)
  .codeclimate.yml
  packages/service-library/src/servicelib/aiohttp/application_setup.py
  packages/service-library/tests/aiohttp/test_application_setup.py
  services/docker-compose.devel.yml
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application__schema.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/db.py
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/director_v2_settings.py
  services/web/server/src/simcore_service_webserver/garbage_collector.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/src/simcore_service_webserver/garbage_collector_task.py
  services/web/server/src/simcore_service_webserver/projects/project_lock.py
  services/web/server/src/simcore_service_webserver/redis.py
  services/web/server/src/simcore_service_webserver/resource_manager/config.py
  services/web/server/src/simcore_service_webserver/resource_manager/module_setup.py
  services/web/server/src/simcore_service_webserver/resource_manager/registry.py
  services/web/server/src/simcore_service_webserver/session.py
  services/web/server/src/simcore_service_webserver/socketio/module_setup.py
  services/web/server/src/simcore_service_webserver/statics.py
  services/web/server/src/simcore_service_webserver/studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_redirects.py
  services/web/server/src/simcore_service_webserver/users_api.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/integration/02/test_rabbit.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/isolated/test_configs.py
  services/web/server/tests/unit/isolated/test_diagnostics.py
  services/web/server/tests/unit/with_dbs/06/test_projects_open_close.py
  services/web/server/tests/unit/with_dbs/09/conftest.py
  services/web/server/tests/unit/with_dbs/10/meta_modeling/conftest.py
  services/web/server/tests/unit/with_dbs/10/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/10/version_control/conftest.py
Labels: a:webserver, a:services-library, changelog:♻️refactor

#2842 ♻️✨ Improve logging output in case of error when scheduling tasks
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
Labels: changelog:🎨enhancement

#2793 ⬆️ upgrade redis to 6.2.6, added persistency ⚠️ devops
  services/docker-compose-ops.yml
  services/docker-compose.yml
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
  services/web/server/tests/unit/with_dbs/docker-compose.yml
Labels: changelog:🎨enhancement, changelog:🔒️security

#2846 🐛 Fix/setting exclude unset option
  packages/models-library/src/models_library/settings/base.py
  packages/settings-library/src/settings_library/base.py
  packages/settings-library/src/settings_library/utils_cli.py
  packages/settings-library/tests/test_utils_cli.py
Labels: changelog:🐛bugfix

#2847 🐛 dynamic-sidecar permission fixing
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/with_swarm/test_modules_dynamic_sidecar_docker_api.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
Labels: a:dynamic-sidecar, changelog:🐛bugfix

#2852 Dashboard UI/UX: Study multi-selection
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/utils/DisabledPlugins.js
Labels: a:frontend

#2853 Dashboard UI/UX: Ease thumbnail assignation
  services/web/client/source/class/osparc/component/editor/ThumbnailEditor.js
  services/web/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/web/client/source/class/osparc/servicecard/Large.js
  services/web/client/source/class/osparc/servicecard/Utils.js
  services/web/client/source/class/osparc/studycard/Large.js
  services/web/client/source/class/osparc/studycard/Utils.js
  services/web/client/source/class/osparc/ui/basic/Thumbnail.js
  services/web/client/source/class/osparc/utils/Utils.js
  services/web/client/source/resource/osparc/no_photography_black_24dp.svg
Labels: a:frontend
