Repository ITISFoundation/osparc-simcore, pull requests merged in 2022-11, with the labels that each got.

#3496 ⬆️ Use latest rabbit MQ service
  Makefile
  services/director-v2/docker-compose-extra.yml
  services/docker-compose.yml
  tests/swarm-deploy/conftest.py
Labels: changelog:♻️refactor, changelog:⚠️devops

#3491 ✨ Add instructions to App Mode steps
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/common/schemas/project-v0.0.1.json
  packages/models-library/src/models_library/projects_ui.py
  services/static-webserver/client/source/class/osparc/component/editor/TextEditor.js
  services/static-webserver/client/source/class/osparc/component/metadata/QualityEditor.js
  services/static-webserver/client/source/class/osparc/component/node/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/component/widget/NodeSlideTreeItem.js
  services/static-webserver/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/static-webserver/client/source/class/osparc/component/widget/NodesSlidesTree.js
  services/static-webserver/client/source/class/osparc/component/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Slideshow.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowToolbar.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/static-webserver/client/source/class/osparc/navigation/BreadcrumbsSlideshowEdit.js
  services/static-webserver/client/source/class/osparc/navigation/PrevNextButtons.js
  services/static-webserver/client/source/class/osparc/servicecard/Large.js
  services/static-webserver/client/source/class/osparc/studycard/Large.js
  services/static-webserver/client/source/class/osparc/ui/markdown/Markdown.js
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/api/v0/schemas/project-v0.0.1.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/schemas/project-v0.0.1.json
  services/web/server/src/simcore_service_webserver/projects/_project_models_rest.py
Labels: a:frontend, changelog:✨new-feature, changelog:🎨enhancement

#3497 ⬆️ 🔒️ Maintenance/week-44: upgrades pytest, aiohttp, jupyter-core and pillow
  .github/workflows/ci-testing-deploy.yml
  api/tests/requirements.txt
  packages/dask-task-models-library/requirements/_test.txt
  packages/models-library/requirements/_test.txt
  packages/postgres-database/requirements/_test.txt
  packages/service-integration/requirements/_test.txt
  packages/service-library/requirements/_test.txt
  packages/settings-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/autoscaling/requirements/_test.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-complete.txt
  services/dask-sidecar/requirements/_test.txt
  services/datcore-adapter/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/environment-setup/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: dependencies, t:maintenance, changelog:🔒️security

#3498 🐛 Fix/sanitize old data for usergroups.thumbnail
  services/web/server/src/simcore_service_webserver/groups_models.py
  services/web/server/tests/unit/isolated/test_groups_models.py
Labels: changelog:🐛bugfix

#3501 ✨ Allow Starting dynamic services when idle OR failed
  services/static-webserver/client/source/class/osparc/component/node/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/static-webserver/client/source/class/osparc/component/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/utils/StatusUI.js
  tests/e2e/tutorials/tutorialBase.js
Labels: a:frontend, changelog:🎨enhancement

#3508 🐛✨ Frontend: S4L Light product II
  services/static-webserver/client/source/class/osparc/component/widget/PersistentIframe.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
  services/static-webserver/client/source/resource/osparc/favicon-s4llight.png
  tests/e2e/tutorials/sim4life-light.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: a:frontend, e2e, changelog:🎨enhancement

#3510 ✨ Ensure memory swap for computational services is same as memory (⚠️ devops)
  .vscode/extensions.json
  .vscode/settings.template.json
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/models.py
  services/dask-sidecar/tests/unit/test_docker_utils.py
  services/dask-sidecar/tests/unit/test_models.py
Labels: changelog:🎨enhancement

#3509 🐛 Project copy failing when pennsieve token is active
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/storage_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/_helpers.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: changelog:🐛bugfix

#3511 🐛 Bugfix: s4l-light maximize button
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Labels: a:frontend, changelog:🐛bugfix

#2965 ✨♻️ Differentiate between TLS and STARTTLS in web-mailserver (⚠️ devops)
  packages/settings-library/src/settings_library/email.py
  packages/settings-library/tests/test_email.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/login/settings.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/tests/integration/conftest.py
Labels: t:enhancement, bug, a:webserver, dependencies, t:maintenance, security

#3512 ✨ Deprecated and Retired
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/component/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/servicecard/Large.js
  services/static-webserver/client/source/class/osparc/utils/Services.js
  services/static-webserver/client/source/class/osparc/utils/StatusUI.js
  services/static-webserver/client/source/class/osparc/utils/Study.js
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
Labels: a:frontend, changelog:🎨enhancement

#3514 ⬆️ 🔨 Workaround to avoid test failures due to pytest-sugar
  api/tests/requirements.in
  api/tests/requirements.txt
  packages/dask-task-models-library/requirements/_test.in
  packages/dask-task-models-library/requirements/_test.txt
  packages/models-library/requirements/_test.in
  packages/models-library/requirements/_test.txt
  packages/service-integration/requirements/_test.in
  packages/service-integration/requirements/_test.txt
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/settings-library/requirements/_test.in
  packages/settings-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.in
  packages/simcore-sdk/requirements/_test.txt
  services/dask-sidecar/requirements/_test.in
  services/dask-sidecar/requirements/_test.txt
  services/datcore-adapter/requirements/_test.in
  services/datcore-adapter/requirements/_test.txt
  services/director/requirements/_test.in
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  tests/environment-setup/requirements/requirements.in
  tests/environment-setup/requirements/requirements.txt
  tests/swarm-deploy/requirements/_test.in
  tests/swarm-deploy/requirements/_test.txt
Labels: dependencies, t:maintenance

#3523 ✨ Sort files and NodeTreeItem menu's bgColor
  services/static-webserver/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/static-webserver/client/source/class/osparc/data/Converters.js
  services/static-webserver/client/source/class/osparc/data/model/Slideshow.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/file/FilesTree.js
Labels: a:frontend, changelog:🎨enhancement

#3500 ⬆️ Upgrade postgres to 14.5 alpine⚠️ devops
  packages/postgres-database/tests/docker-compose.yml
  packages/service-library/tests/aiohttp/with_postgres/docker-compose.yml
  scripts/maintenance/consistency/docker-compose.yml
  services/api-server/tests/utils/docker-compose.yml
  services/catalog/docker-compose-extra.yml
  services/director-v2/docker-compose-extra.yml
  services/director/tests/test_producer.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/tests/unit/with_dbs/01/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
  services/web/server/tests/unit/with_dbs/docker-compose.yml
Labels: changelog:♻️refactor

#3529 🐛 CI integration tests not run when they should
  .github/workflows/ci-testing-deploy.yml
Labels: changelog:🐛bugfix

#3528 ♻️ Fixes flaky test_update_profile and cleanup tests
  packages/postgres-database/tests/test_services_consume_filetypes.py
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/environment_configs.py
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
  packages/pytest-simcore/src/pytest_simcore/monkeypatch_extra.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  packages/pytest-simcore/src/pytest_simcore/tmp_path_extra.py
  packages/settings-library/tests/test_docker_registry.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_r_clone.py
  services/agent/tests/conftest.py
  services/agent/tests/unit/test_modules_volumes_cleanup.py
  services/catalog/tests/unit/test_services_director.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_file_utils.py
  services/dask-sidecar/tests/unit/test_settings.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/dask-sidecar/tests/unit/test_utils.py
  services/datcore-adapter/tests/unit/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_base.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_events.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
  services/director-v2/tests/unit/with_dbs/test_api_route_clusters.py
  services/director-v2/tests/unit/with_dbs/test_api_route_clusters_details.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_dbs/test_modules_redis.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/dynamic-sidecar/tests/unit/test_api_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_core_docker_utils.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/unit/with_dbs/01/clusters/conftest.py
  services/web/server/tests/unit/with_dbs/01/test_resource_manager_redis_registry.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: t:maintenance

#3504 ✨ Is355/optimizer projects ports
  .codeclimate.yml
  api/specs/common/schemas/project-v0.0.1-converted.yaml
  api/specs/webserver/openapi-projects-ports.yaml
  api/specs/webserver/openapi-projects.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/openapi_projects_ports.py
  packages/models-library/.gitignore
  packages/models-library/Makefile
  packages/models-library/src/models_library/services.py
  packages/models-library/src/models_library/utils/_original_fastapi_encoders.py
  packages/models-library/src/models_library/utils/fastapi_encoders.py
  packages/models-library/src/models_library/utils/services_io.py
  packages/models-library/tests/test_utils_fastapi_encoders.py
  packages/models-library/tests/test_utils_service_io.py
  packages/postgres-database/doc/database-migration.md
  packages/service-library/src/servicelib/aiohttp/requests_validation.py
  packages/service-library/tests/aiohttp/test_requests_validation.py
  scripts/erd.bash
  scripts/erd/Dockerfile
  scripts/erd/requirements.txt
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_ports.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_ports_handlers.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects__ports.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_ports_handlers.py
Labels: a:webserver

#3525 🐛 adds tests for S3TransferError; refactoring flaky CI test; better logging for long running task errors
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_context_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_file_io_utils.py
Labels: changelog:🐛bugfix

#3534 ✨ S4L Lite: 11.08 meeting feedback (⚠️ devops)
  services/docker-compose.yml
  services/static-webserver/README.md
  services/static-webserver/client/compile.json
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/navigation/Manuals.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/ui/window/Dialog.js
  services/static-webserver/client/source/class/osparc/utils/LibVersions.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/utils/issue/Fogbugz.js
  services/static-webserver/client/source/resource/osparc/favicon-s4llite.png
  services/static-webserver/client/source/resource/osparc/s4l-light_splitimage.png
  services/static-webserver/client/source/resource/osparc/s4llite_splitimage.png
  services/static-webserver/client/source/resource/osparc/s4llite_zmt-black.svg
  services/static-webserver/client/source/resource/osparc/s4llite_zmt-white.svg
  services/web/server/src/simcore_service_webserver/statics.py
  services/web/server/src/simcore_service_webserver/statics_constants.py
  services/web/server/src/simcore_service_webserver/statics_events.py
  tests/e2e/tutorials/sim4life-light.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: a:frontend, changelog:🎨enhancement

#3539 🐛 Fix s4l-lite test
  .github/workflows/ci-testing-deploy.yml
  tests/e2e/tutorials/sim4life-light.js
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e

#3537 ♻️🔨 Is3517/refactor service io and diagnostics tool concept
  packages/models-library/Makefile
  packages/models-library/setup.cfg
  packages/models-library/src/models_library/utils/services_io.py
  packages/models-library/tests/conftest.py
  packages/models-library/tests/data/metadata-ascent-1.3.2.json
  packages/models-library/tests/data/metadata-sleeper-2.0.2.yaml
  packages/models-library/tests/test_services_io.py
  packages/models-library/tests/test_utils_service_io.py
  packages/pytest-simcore/src/pytest_simcore/environment_configs.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker_registry.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_envs.py
  scripts/common.Makefile
  services/catalog/src/simcore_service_catalog/models/schemas/services_ports.py
  services/web/server/setup.cfg
Labels: a:models-library

#3513 🐛 agent service followup fixes
  .env-devel
  Makefile
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/hypothesis_type_strategies.py
  packages/pytest-simcore/tests/test_docker_compose.py
  services/docker-compose.local.yml
  services/docker-compose.yml
Labels: bug

#3542 🐛 CI: reduce test flakyness
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/conftest.py
  services/director-v2/tests/integration/shared_comp_utils.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/web/server/tests/unit/isolated/test_diagnostics_healthcheck.py
Labels: changelog:♻️refactor

#3538 ⚗️🐛 Add a test for reproducing potential 400 issue with upload to AWS
  packages/pytest-simcore/src/pytest_simcore/aws_services.py
  packages/simcore-sdk/requirements/_base.in
  packages/simcore-sdk/requirements/_test.in
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.txt
  packages/simcore-sdk/requirements/constraints.txt
  packages/simcore-sdk/tests/conftest.py
  packages/simcore-sdk/tests/unit/test_node_data_data_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_file_io_utils.py
  services/storage/tests/unit/test_handlers_files.py
  services/storage/tests/unit/test_s3_utils.py
Labels: changelog:♻️refactor

#3543 ♻️ Refactoring: Revise docker networks
  services/docker-compose.yml
Labels: a:infra+ops, enhancement

#3540 ✨ Is765/extends products plugin (⚠️ devops)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/2ca532b0831f_new_products_table.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/postgres-database/tests/test_models_products.py
  packages/service-library/src/servicelib/statics_constants.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/web/server/src/simcore_service_webserver/products.py
  services/web/server/src/simcore_service_webserver/products_db.py
  services/web/server/src/simcore_service_webserver/products_events.py
  services/web/server/src/simcore_service_webserver/products_middlewares.py
  services/web/server/src/simcore_service_webserver/products_model.py
  services/web/server/src/simcore_service_webserver/statics.py
  services/web/server/src/simcore_service_webserver/statics_events.py
  services/web/server/src/simcore_service_webserver/statics_handlers.py
  services/web/server/tests/unit/isolated/test_products_middlewares.py
  services/web/server/tests/unit/isolated/test_products_model.py
  services/web/server/tests/unit/isolated/test_statics.py
  services/web/server/tests/unit/with_dbs/03/test_login_utils.py
  services/web/server/tests/unit/with_dbs/03/test_products_db.py
Labels: a:webserver

#3563 🐛 Dont add /var/lib/docker/volumes in global docker-compose file
  services/docker-compose.local.yml
  services/docker-compose.yml
Labels: a:infra+ops, bug

#3564 ♻️ Rerevise docker networks dk (bis) (⚠️ devops)
  .github/workflows/ci-testing-deploy.yml
  services/docker-compose-ops.yml
  services/docker-compose.yml
Labels: changelog:♻️refactor

#3560 🐛 Force File Picker progress to be between 1 and 99
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
Labels: a:frontend, changelog:🐛bugfix

#3557 ✨♻️ Extends products: frontend
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/component/tutorial/ti/Slides.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TesterPage.js
  services/static-webserver/client/source/class/osparc/navigation/Manuals.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/store/VendorInfo.js
  services/static-webserver/client/source/class/osparc/utils/issue/Base.js
  services/static-webserver/client/source/class/osparc/utils/issue/Fogbugz.js
  services/static-webserver/client/source/class/osparc/utils/issue/Github.js
  services/web/server/src/simcore_service_webserver/products_model.py
  services/web/server/tests/unit/isolated/test_products_model.py
  tests/e2e/tutorials/jupyterlabs.js
  tests/e2e/tutorials/sim4life-light.js
  tests/e2e/tutorials/tutorialBase.js
Labels: a:frontend, changelog:🎨enhancement

#3502 ♻️ Use common RabbitMQ client (⚠️ devops)
  .env-devel
  .github/workflows/ci-testing-deploy.yml
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/pytest-simcore/src/pytest_simcore/websocket_client.py
  packages/service-library/Makefile
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/ci.txt
  packages/service-library/requirements/ci[aiohttp].txt
  packages/service-library/requirements/ci[all].txt
  packages/service-library/requirements/ci[fastapi].txt
  packages/service-library/requirements/dev.txt
  packages/service-library/requirements/dev[aiohttp].txt
  packages/service-library/requirements/dev[all].txt
  packages/service-library/requirements/dev[fastapi].txt
  packages/service-library/src/servicelib/rabbitmq.py
  packages/service-library/src/servicelib/rabbitmq_utils.py
  packages/service-library/tests/conftest.py
  packages/service-library/tests/test_rabbitmq.py
  packages/settings-library/src/settings_library/rabbit.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/projects_networks.py
  services/director-v2/src/simcore_service_director_v2/modules/rabbitmq.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/docker-compose-ops.yml
  services/docker-compose.yml
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/cli.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_logs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/directory_watcher/_core.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/unit/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_api_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_cli.py
  services/dynamic-sidecar/tests/unit/test_core_docker_compose_utils.py
  services/dynamic-sidecar/tests/unit/test_core_docker_logs.py
  services/dynamic-sidecar/tests/unit/test_core_utils.py
  services/dynamic-sidecar/tests/unit/with_rabbit/test_core_rabbitmq.py
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/02/test_rabbit.py
Labels: changelog:♻️refactor

#3571 🐛 agent running in production now has access to rclone
  services/agent/Dockerfile
Labels: changelog:🐛bugfix, a:agent

#3552 Is765/fix default product (⚠️ devops )
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c3c564121364_adds_priority_col.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/postgres-database/src/simcore_postgres_database/utils_products.py
  packages/postgres-database/tests/products/conftest.py
  packages/postgres-database/tests/products/test_models_products.py
  packages/postgres-database/tests/products/test_utils_products.py
  services/api-server/src/simcore_service_api_server/api/dependencies/application.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/core/events.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/tests/unit/conftest.py
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/db/events.py
  services/catalog/src/simcore_service_catalog/db/repositories/products.py
  services/catalog/src/simcore_service_catalog/services/access_rights.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_services_access_rights.py
  services/web/server/src/simcore_service_webserver/_constants.py
  services/web/server/src/simcore_service_webserver/products_db.py
  services/web/server/src/simcore_service_webserver/products_events.py
  services/web/server/src/simcore_service_webserver/products_middlewares.py
  services/web/server/src/simcore_service_webserver/products_model.py
  services/web/server/src/simcore_service_webserver/statics_constants.py
  services/web/server/src/simcore_service_webserver/statics_events.py
  services/web/server/src/simcore_service_webserver/statics_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_redirects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/plugin.py
  services/web/server/tests/unit/isolated/test_products_middlewares.py
  services/web/server/tests/unit/isolated/test_statics.py
  services/web/server/tests/unit/with_dbs/03/test_login_utils.py
  services/web/server/tests/unit/with_dbs/03/test_products_db.py
Labels: a:webserver, a:catalog, a:apiserver

#3580 🐛 agent rclone configuration fixes
  packages/settings-library/src/settings_library/catalog.py
  packages/settings-library/src/settings_library/utils_r_clone.py
  packages/settings-library/tests/test_utils_r_clone.py
  services/agent/src/simcore_service_agent/modules/volumes_cleanup/_s3.py
  services/agent/tests/unit/test_modules_volumes_cleanup_s3.py
Labels: changelog:🐛bugfix, a:agent

#3584 ✨ Is765/tags for groups (⚠️ devops)
  docs/coding-conventions.md
  packages/postgres-database/scripts/copy_database_volume.sh
  packages/postgres-database/scripts/erd/Dockerfile
  packages/postgres-database/scripts/erd/main.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/3aa309471ff8_add_tag_to_groups_table_and_rm_tag_user_.py
  packages/postgres-database/src/simcore_postgres_database/models/_common.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_to_products.py
  packages/postgres-database/src/simcore_postgres_database/models/tags.py
  packages/postgres-database/src/simcore_postgres_database/utils_tags.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_groups.py
  packages/postgres-database/tests/test_models_tags.py
  packages/postgres-database/tests/test_utils_tags.py
  packages/pytest-simcore/src/pytest_simcore/helpers/rawdata_fakers.py
  scripts/docker_clone_volume.bash
  services/web/server/src/simcore_service_webserver/tags_handlers.py
  services/web/server/tests/data/test_tags_data.json
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
Labels: a:webserver, a:database

#3577 ♻️ Is3318/resend sms: refactoring (1/2)
  api/specs/webserver/components/schemas/auth.yaml
  api/specs/webserver/components/schemas/registration.yaml
  api/specs/webserver/openapi-auth.yaml
  api/specs/webserver/scripts/_common.py
  api/specs/webserver/scripts/openapi_auth.py
  api/specs/webserver/scripts/openapi_projects_ports.py
  api/specs/webserver/scripts/requirements.txt
  services/web/server/src/simcore_service_webserver/login/handlers.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/routes.py
  services/web/server/src/simcore_service_webserver/login/settings.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/login/utils_email.py
  services/web/server/src/simcore_service_webserver/publication_handlers.py
  services/web/server/tests/unit/isolated/test_templates.py
  services/web/server/tests/unit/with_dbs/03/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/test_login_utils.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver

#3586 🐛♻️ No more /health errors when starting sidecars
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/mocks/fake_scheduler_data.json
  services/director-v2/tests/mocks/fake_scheduler_data_compose_spec.json
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/dynamic-sidecar/Dockerfile
Labels: a:director-v2, changelog:♻️refactor, changelog:🐛bugfix

#3583 ♻️ changed dierctor-v2 -> dy-sidecar API retry policy
  services/director-v2/src/simcore_service_director_v2/cli/_client.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_base.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_base.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_events.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
Labels: a:director-v2, changelog:♻️refactor

#3591 Is765/tags response include access-rights
  api/specs/webserver/components/schemas/tag.yaml
  api/specs/webserver/openapi-tags.yaml
  api/specs/webserver/openapi.yaml
  packages/postgres-database/src/simcore_postgres_database/migration/versions/3aa309471ff8_add_tag_to_groups_table_and_rm_tag_user_.py
  packages/postgres-database/src/simcore_postgres_database/utils_tags.py
  packages/postgres-database/tests/test_utils_tags.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_tags.py
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/db.py
  services/web/server/src/simcore_service_webserver/tags.py
  services/web/server/src/simcore_service_webserver/tags_handlers.py
  services/web/server/tests/integration/02/test_rabbit.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
Labels: a:webserver, a:database

#3595 ✨ FE: Tags response includes access-rights
  services/static-webserver/client/source/class/osparc/component/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ClusterListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/OrganizationListItem.js
  tests/e2e/tutorials/jupyterlabs.js
Labels: a:frontend, e2e, changelog:🎨enhancement

#3594 ♻️ making agent output more readable
  services/agent/docker/boot.sh
  services/agent/src/simcore_service_agent/modules/volumes_cleanup/_s3.py
  services/agent/tests/conftest.py
Labels: changelog:♻️refactor, a:agent

#3599 ♻️ Simple readable agent logs (⚠️ devops)
  services/agent/src/simcore_service_agent/modules/volumes_cleanup/_s3.py
Labels: changelog:♻️refactor, a:agent

#3605 ⬆️ Upgraded simcore traefik to latest 2.9.5 (⚠️ devops)
  services/docker-compose.yml
Labels: changelog:🎨enhancement

#3576 ♻️ Replaces SMTP_SENDER by the products email (⚠️ devops)
  README.md
  docs/img/.stack-simcore-version.yml.png
  docs/simcore-stack.md
  packages/service-integration/scripts/ooil.bash
  packages/settings-library/src/settings_library/email.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/director_v2_api.py
  services/web/server/src/simcore_service_webserver/director_v2_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/settings.py
  services/web/server/src/simcore_service_webserver/login/utils_email.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/publication_handlers.py
  services/web/server/src/simcore_service_webserver/publications.py
  services/web/server/tests/unit/isolated/test_login_settings.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/03/test_login_utils_emails.py
  services/web/server/tests/unit/with_dbs/03/test_publication.py
  services/web/server/tests/unit/with_dbs/conftest.py
  tests/e2e/utils/startPuppe.js
Labels: a:webserver

#3566 ✨ Migrate autoscaling (⚠️ devops)
  .github/workflows/ci-testing-deploy.yml
  .vscode/settings.template.json
  packages/models-library/src/models_library/docker.py
  packages/models-library/src/models_library/generated_models/docker_rest_api.py
  packages/models-library/tests/test_docker.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_envs.py
  packages/service-library/src/servicelib/background_task.py
  packages/service-library/tests/test_background_task.py
  scripts/openapi-pydantic-models-generator.bash
  services/autoscaling/Dockerfile
  services/autoscaling/VERSION
  services/autoscaling/requirements/_base.in
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.in
  services/autoscaling/requirements/_test.txt
  services/autoscaling/requirements/_tools.txt
  services/autoscaling/requirements/constraints.txt
  services/autoscaling/setup.cfg
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/core/errors.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/services.py
  services/autoscaling/src/simcore_service_autoscaling/utils.py
  services/autoscaling/src/simcore_service_autoscaling/utils_aws.py
  services/autoscaling/src/simcore_service_autoscaling/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_cli.py
  services/autoscaling/tests/unit/test_core_settings.py
  services/autoscaling/tests/unit/test_dynamic_scaling_core.py
  services/autoscaling/tests/unit/test_dynamic_scaling_task.py
  services/autoscaling/tests/unit/test_health_route.py
  services/autoscaling/tests/unit/test_main.py
  services/autoscaling/tests/unit/test_utils.py
  services/autoscaling/tests/unit/test_utils_aws.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/docker-compose.yml
Labels: changelog:✨new-feature

#3608 ✨ Allow to override dy-service resources
  packages/models-library/src/models_library/services_resources.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/61394494e942_add_service_resources_column.py
  packages/postgres-database/src/simcore_postgres_database/models/services_specifications.py
  services/catalog/src/simcore_service_catalog/api/dependencies/user_groups.py
  services/catalog/src/simcore_service_catalog/api/routes/services_resources.py
  services/catalog/src/simcore_service_catalog/api/routes/services_specifications.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/models/schemas/services_specifications.py
  services/catalog/src/simcore_service_catalog/utils/service_resources.py
  services/catalog/tests/unit/test_utils_service_resources.py
  services/catalog/tests/unit/with_dbs/test_api_routes_services_resources.py
  services/catalog/tests/unit/with_dbs/test_api_routes_services_specifications.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/web/server/src/simcore_service_webserver/catalog_client.py
  services/web/server/src/simcore_service_webserver/catalog_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
Labels: changelog:🎨enhancement

#3615 ✨ Allow to limit number of opened studies per user (🗃️ DB change)
  .github/PULL_REQUEST_TEMPLATE.md
  packages/postgres-database/src/simcore_postgres_database/migration/versions/fe19b4e93586_add_max_open_studies_per_user.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_projects.py
  packages/service-library/tests/aiohttp/with_postgres/test_aiopg_utils.py
  services/web/server/src/simcore_service_webserver/products_model.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_exceptions.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/resource_manager/websocket_manager.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: enhancement

#3587 ✨Group Templates by Tag
  services/static-webserver/client/source/class/osparc/component/editor/ThumbnailEditor.js
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/component/service/ServiceButtonGrid.js
  services/static-webserver/client/source/class/osparc/component/service/SortServicesButtons.js
  services/static-webserver/client/source/class/osparc/component/widget/NodesTree.js
  services/static-webserver/client/source/class/osparc/component/widget/SlideBar.js
  services/static-webserver/client/source/class/osparc/component/widget/StudyTitleOnlyTree.js
  services/static-webserver/client/source/class/osparc/component/widget/logger/LoggerView.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonLoadMore.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/GroupedToggleButtonContainer.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonLoadMore.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/ToggleButtonContainer.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowToolbar.js
  services/static-webserver/client/source/class/osparc/studycard/Medium.js
  tests/e2e/utils/auto.js
Labels: a:frontend, changelog:✨new-feature

#3618 ✨ React to study:open 409 error code
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/web/server/src/simcore_service_webserver/projects/projects_exceptions.py
Labels: a:frontend, changelog:🎨enhancement

#3617 ✨Autoscaling: automatically cleanup nodes from the docker swarm
  services/autoscaling/requirements/_test.in
  services/autoscaling/requirements/_test.txt
  services/autoscaling/requirements/_tools.txt
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_utils_docker.py
Labels: changelog:🎨enhancement
