Repository ITISFoundation/osparc-simcore, pull requests merged in 2022-07, with the labels that each got.

#3155 ✨ Is638/client cancellation
  packages/service-library/requirements/_fastapi.in
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/src/servicelib/fastapi/requests_decorators.py
  packages/service-library/tests/fastapi/test_request_decorators.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/health.py
Labels: a:services-library, a:dynamic-sidecar

#3156 ♻️ Is638/dynamic sidecar refactors layout (round 4)
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/health.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/shared_handlers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/domains/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/schemas/ports.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/shared_store.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/conftest.py
  services/dynamic-sidecar/tests/unit/test__code_syntax.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
Labels: a:dynamic-sidecar

#3161 🚑️ Is638/tmp disable cancellation
  packages/service-library/src/servicelib/fastapi/requests_decorators.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
Labels: a:dynamic-sidecar

#3167 🐛 Fix database upgrade of file_meta_data table
  packages/postgres-database/src/simcore_postgres_database/migration/versions/2cc556e5c52d_file_meta_data_remove_unused_columns_.py
Labels: changelog:🐛bugfix

#3173 🐛 Return correct scheme in storage links when uploading file
  services/web/server/src/simcore_service_webserver/storage_handlers.py
Labels: changelog:🐛bugfix

#3165 ♻️ Is638/dynamic sidecar (round 5)
  packages/models-library/src/models_library/basic_types.py
  packages/pytest-simcore/src/pytest_simcore/helpers/typing_env.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_envs.py
  packages/pytest-simcore/tests/test_helpers_utils_envs.py
  packages/service-library/src/servicelib/error_codes.py
  packages/service-library/src/servicelib/fastapi/openapi.py
  packages/service-library/tests/test_error_codes.py
  packages/settings-library/tests/test_base_w_postgres.py
  packages/settings-library/tests/test_utils_cli.py
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/_namespace.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/src/simcore_service_director_v2/utils/logging_utils.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_base.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_dbs/test_route_clusters.py
  services/director-v2/tests/unit/with_dbs/test_route_clusters_details.py
  services/director-v2/tests/unit/with_dbs/test_route_computations.py
  services/director-v2/tests/unit/with_dbs/test_route_computations_tasks.py
  services/director-v2/tests/unit/with_dbs/test_route_dynamic_services.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/errors.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test__oas_spec.py
Labels: a:director-v2, a:dynamic-sidecar

#3176 🐛 Regression fix: computational services always restarting
  ci/github/unit-testing/service-library.bash
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_dict.py
  packages/service-library/src/servicelib/archiving_utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
  services/storage/tests/unit/test_handlers_simcore_s3.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/tests/unit/with_dbs/02/test_project_db.py
Labels: changelog:🐛bugfix

#3182 🐛 Is638/ fixes dy-sidecar docker-compose process down command and timeout
  services/dynamic-sidecar/VERSION
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/setup.cfg
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/shared_store.py
  services/dynamic-sidecar/tests/unit/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_core_docker_compose_utils.py
  services/dynamic-sidecar/tests/unit/test_core_utils.py
Labels: a:dynamic-sidecar

#3160 (⚠️ devops) ♻️✨Adding distributed locking to throttle concurrent saves on nodes
  packages/pytest-simcore/src/pytest_simcore/redis_service.py
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/node_rights.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/test_modules_redis.py
  tests/e2e/Makefile
Labels: a:director-v2

#3184 🔨 Maintenance: fixes requirement listings and scripts
  services/datcore-adapter/requirements/_base.in
  services/datcore-adapter/requirements/_test.in
  services/datcore-adapter/requirements/_tools.in
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  tests/e2e/requirements/Makefile
  tests/e2e/requirements/requirements.txt
Labels: t:maintenance

#3174 ✨adding way to start/track/resolve background tasks for FastAPI based services
  packages/service-library/requirements/_fastapi.in
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/service-library/src/servicelib/aiohttp/dev_error_logger.py
  packages/service-library/src/servicelib/docker_compose.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/__init__.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_client.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_context_manager.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_dependencies.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_error_handlers.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_errors.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_models.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_server.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_task.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/client.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/server.py
  packages/service-library/tests/fastapi/conftest.py
  packages/service-library/tests/fastapi/test_long_running_tasks.py
  packages/service-library/tests/fastapi/test_long_running_tasks_context_manager.py
  packages/service-library/tests/fastapi/test_long_running_tasks_models.py
  packages/service-library/tests/fastapi/test_long_running_tasks_routes.py
  packages/service-library/tests/fastapi/test_long_running_tasks_task.py
  packages/service-library/tests/fastapi/test_request_decorators.py
  packages/service-library/tests/test_docker_compose.py
  services/api-server/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/director-v2/requirements/_base.txt
Labels: changelog:✨new-feature

#3189 ♻️ Is638/webserver's project and directorv2 plugins refactoring
  api/specs/webserver/openapi-projects.yaml
  api/specs/webserver/openapi.yaml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director_v2.py
  services/web/server/src/simcore_service_webserver/director_v2_api.py
  services/web/server/src/simcore_service_webserver/director_v2_core.py
  services/web/server/src/simcore_service_webserver/director_v2_core_base.py
  services/web/server/src/simcore_service_webserver/director_v2_core_computations.py
  services/web/server/src/simcore_service_webserver/director_v2_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/director_v2_core_utils.py
  services/web/server/src/simcore_service_webserver/director_v2_handlers.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_events.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/03/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, a:api

#3190 🐛 Fix validation of DIRECTOR_V2_SERVICES_CUSTOM_CONSTRAINTS: Make it conform to docker specs
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/tests/unit/test_core_settings.py
Labels: bug, a:director, a:director-v2

#3197 TI: New Study -> New Plan
  services/web/client/source/class/osparc/dashboard/Dashboard.js
  services/web/client/source/class/osparc/dashboard/GridButtonNew.js
  services/web/client/source/class/osparc/dashboard/GridButtonNewPlan.js
  services/web/client/source/class/osparc/dashboard/ListButtonNew.js
  services/web/client/source/class/osparc/dashboard/ListButtonNewPlan.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/desktop/MainPage.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
Labels: a:frontend, changelog:✨new-feature

#3198 🐛 Fix/storage API backwards compatibility with deprecated storage client sdk
  api/specs/storage/openapi.yaml
  services/storage/VERSION
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/storage/setup.cfg
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/handlers_files.py
  services/storage/tests/unit/test__legacy_storage_sdk_compatibility.py
Labels: a:storage

#3205 ✨ Is3200/log user during login/logout
  packages/service-library/src/servicelib/logging_utils.py
  services/web/server/src/simcore_service_webserver/login/handlers.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
Labels: a:webserver

#3210 ✨UI/UX: FileInfo & Sorting
  services/web/client/source/class/osparc/component/service/SortServicesButtons.js
  services/web/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/web/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/utils/Services.js
  services/web/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, UX_improvements, changelog:🎨enhancement

#3214 🐛 Dask dashboard not showing
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-complete.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_packages.txt
  services/dask-sidecar/requirements/constraints.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
Labels: changelog:🐛bugfix

#3215 ⬆️ Dask upgrades
  services/dask-sidecar/requirements/_base.txt
  services/storage/tests/unit/test_handlers_simcore_s3.py
Labels: changelog:🎨enhancement

#3218 🐛 Fix node not found on start of dy-sidecar
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/_helpers.py
Labels: changelog:🐛bugfix

#3220 🐛 add git to storage devel container
  services/storage/Dockerfile
Labels: changelog:🐛bugfix

#3221 ✨ Api-server can upload >5Gb files
  README.md
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  packages/simcore-sdk/tests/unit/test_node_data_data_manager.py
  services/api-server/README.md
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/models/schemas/files.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/unit/test_handlers_simcore_s3.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
Labels: changelog:✨new-feature

#3227 ✨ Maintenance/upgrade maintenance script
  scripts/maintenance/check_consistency_data.py
  scripts/maintenance/consistency/README.md
Labels: t:maintenance, changelog:🎨enhancement, changelog:♻️refactor
