Repository ITISFoundation/osparc-simcore, pull requests merged in 2022-08, with the labels that each got.

#3228 ♻️ Dy-sidecar client unexpected error to be logged as an error
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_base.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_base.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
Labels: changelog:♻️refactor

#3211 ♻️ removing long running http requests from dy-sidecar (⚠️ devops)
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_client.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_context_manager.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_errors.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_models.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_task.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/client.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/server.py
  packages/service-library/tests/fastapi/test_long_running_client.py
  packages/service-library/tests/fastapi/test_long_running_tasks.py
  packages/service-library/tests/fastapi/test_long_running_tasks_context_manager.py
  packages/service-library/tests/fastapi/test_long_running_tasks_models.py
  packages/service-library/tests/fastapi/test_long_running_tasks_routes.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/module_setup.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/with_dbs/test_route_dynamic_services.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/requirements/_test.in
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_routing.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/schemas/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/unit/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_api_containers_tasks.py
  services/dynamic-sidecar/tests/unit/test_core_docker_compose_utils.py
Labels: changelog:♻️refactor, changelog:⚰️deprecation

#3232 ✨🐛 Follow-up removing long running http requests from dy-sidecar (⚠️ devops)
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_client.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_base.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/mocks/fake_scheduler_data.json
  services/director-v2/tests/mocks/fake_scheduler_data_compose_spec.json
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_base.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/cli.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_cli.py
  services/dynamic-sidecar/tests/unit/test_core_docker_compose_utils.py
  services/web/server/src/simcore_service_webserver/director_v2_core_dynamic_services.py
  services/web/server/tests/unit/isolated/test_director_v2_core_dynamic_services.py
  services/web/server/tests/unit/isolated/test_project_utils.py
Labels: a:director-v2, a:dynamic-sidecar, changelog:✨new-feature, changelog:🐛bugfix

#3237 ♻️dynamic-sidecar log-level review (⚠️ devops)
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_logs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
Labels: t:maintenance, a:dynamic-sidecar, changelog:♻️refactor, changelog:⚠️devops

#3234 ✨ Allow copy of closed studies through same mechanism as templates
  api/specs/webserver/openapi-projects.yaml
  packages/models-library/src/models_library/projects_state.py
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/utils/Study.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/tests/unit/isolated/test_projects_utils.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__list.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers_crud.py
  tests/e2e/tutorials/tutorialBase.js
  tests/performance/locust_files/locustfile.py
Labels: changelog:🎨enhancement

#3243 ✨ 📝 TI manual link (⚠️ devops)
  .env-devel
  services/web/client/source/class/osparc/navigation/Manuals.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
  services/web/client/source/class/osparc/navigation/UserMenuButton.js
  services/web/server/src/simcore_service_webserver/statics_settings.py
Labels: a:frontend

#3245 ♻️ make call to docker-compose verbose to ease debugging
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
Labels: changelog:♻️refactor

#3249 🐛 Starts docker-compose services in 2 steps
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_core_docker_compose_utils.py
Labels: changelog:🐛bugfix

#3252 🐛 fixed flaky director-v2 test
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: a:director-v2, changelog:🐛bugfix

#3246 ⬆️ maintenance/updates pennsieve library
  requirements/tools/Makefile
  services/datcore-adapter/requirements/_base.in
  services/datcore-adapter/requirements/_base.txt
Labels: t:maintenance

#3248 🗑️Maintenance/fix servicelib downstream
  packages/service-library/requirements/_fastapi.in
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  requirements/how-to-unify-versions.md
  services/api-server/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.in
  services/dynamic-sidecar/requirements/_test.txt
Labels: t:maintenance

#3250 ⬆️ Maintenance/week 32: upgrades test and tool libraries
  .pylintrc
  api/tests/requirements.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/dask-task-models-library/requirements/_test.txt
  packages/dask-task-models-library/requirements/_tools.txt
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/requirements/_tools.txt
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/settings-library/requirements/_base.txt
  packages/settings-library/requirements/_test.txt
  packages/settings-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/api-server/src/simcore_service_api_server/cli.py
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-complete.txt
  services/dask-sidecar/requirements/_packages.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  tests/e2e/requirements/requirements.txt
  tests/environment-setup/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: t:maintenance

#3253 ♻️ 📝 refactors and docs long running tasks
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_dependencies.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/server.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_dependencies.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_server.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/server.py
  packages/service-library/src/servicelib/long_running_tasks/_models.py
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_context_manager.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_routes.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_task.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_tasks.py
  services/web/server/src/simcore_service_webserver/activity/handlers.py
  services/web/server/src/simcore_service_webserver/director_v2_handlers.py
  services/web/server/src/simcore_service_webserver/login/api_keys_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
Labels: a:services-library

#3255 ✨adds cli to list the content of state directories in dy-sidecar
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/cli.py
  services/dynamic-sidecar/tests/unit/test_cli.py
Labels: a:dynamic-sidecar, changelog:🎨enhancement

#3257 ✨ Is91/server-side implementation of 2FA (⚠️ devops)
  api/specs/webserver/components/schemas/auth.yaml
  api/specs/webserver/components/schemas/config.yaml
  api/specs/webserver/openapi-auth.yaml
  api/specs/webserver/openapi.yaml
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c6185fba2720_new_phone_column_in_users_table.py
  packages/postgres-database/src/simcore_postgres_database/models/users.py
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/settings-library/src/settings_library/redis.py
  packages/settings-library/src/settings_library/twilio.py
  packages/settings-library/tests/conftest.py
  packages/settings-library/tests/test_twilio.py
  services/docker-compose-ops.yml
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/login/_2fa.py
  services/web/server/src/simcore_service_webserver/login/_confirmation.py
  services/web/server/src/simcore_service_webserver/login/_sql.py
  services/web/server/src/simcore_service_webserver/login/handlers.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/login/registration.py
  services/web/server/src/simcore_service_webserver/login/routes.py
  services/web/server/src/simcore_service_webserver/login/settings.py
  services/web/server/src/simcore_service_webserver/login/storage.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/redis.py
  services/web/server/src/simcore_service_webserver/redis_constants.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/unit/isolated/test_login_plugin.py
  services/web/server/tests/unit/isolated/test_login_settings.py
  services/web/server/tests/unit/with_dbs/01/test_comp_tasks_listening_task.py
  services/web/server/tests/unit/with_dbs/03/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/test_login_registration.py
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
  tests/e2e/Makefile
Labels: a:webserver, changelog:✨new-feature

#3258 ♻️ Refactor long running tasks, result shall be directly returned
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_error_handlers.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/server.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_task.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
Labels: a:services-library, changelog:♻️refactor

#3264 💄 is91/front-end side implementation of 2FA
  services/web/client/source/class/osparc/auth/LoginPage.js
  services/web/client/source/class/osparc/auth/Manager.js
  services/web/client/source/class/osparc/auth/core/Utils.js
  services/web/client/source/class/osparc/auth/ui/LoginSMSCodeView.js
  services/web/client/source/class/osparc/auth/ui/LoginView.js
  services/web/client/source/class/osparc/auth/ui/RegistrationView.js
  services/web/client/source/class/osparc/auth/ui/VerifyPhoneNumberView.js
  services/web/client/source/class/osparc/data/Resources.js
Labels: a:frontend

#3267 TI Tester functionalities
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/dashboard/Dashboard.js
  services/web/client/source/class/osparc/data/Permissions.js
  services/web/client/source/class/osparc/desktop/SlideshowToolbar.js
  services/web/client/source/class/osparc/desktop/WorkbenchView.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
Labels: a:frontend

#3235 ✨ long running creation of studies
  api/specs/webserver/components/schemas/task.yaml
  api/specs/webserver/openapi-projects.yaml
  api/specs/webserver/openapi-tasks.yaml
  api/specs/webserver/openapi.yaml
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_projects.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_context_manager.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_routes.py
  scripts/maintenance/import_projects_as_template.py
  services/api-server/src/simcore_service_api_server/modules/webserver.py
  services/dynamic-sidecar/tests/unit/test_api_containers_tasks.py
  services/web/client/source/class/osparc/data/Resources.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__list.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers_crud.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: changelog:🎨enhancement

#3260 ✨ Frontend side: Long running creation of studies
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/study/SaveAsTemplate.js
  services/web/client/source/class/osparc/component/task/TasksButton.js
  services/web/client/source/class/osparc/dashboard/CardBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/data/PollTask.js
  services/web/client/source/class/osparc/data/PollTasks.js
  services/web/client/source/class/osparc/data/Resources.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/file/FilePicker.js
  services/web/client/source/class/osparc/navigation/NavigationBar.js
  services/web/client/source/class/osparc/utils/Study.js
Labels: a:frontend

#3270 ✨ added retries for upload and download in the node ports package
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/constants.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/settings.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/storage_client.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
Labels: changelog:🎨enhancement

#3274 remove isDuplicateDisabled
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/utils/DisabledPlugins.js
Labels: a:frontend

#3262 🐛♻️ adding meaningful restart policy for services
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/_constants.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: a:director-v2, changelog:♻️refactor, changelog:🐛bugfix

#3275 ✨ Is91/product customization (⚠️ devops)
  .env-devel
  packages/postgres-database/setup.cfg
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e15cc5042999_adds_columns_to_product_table.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/postgres-database/tests/test_models_products.py
  packages/settings-library/src/settings_library/twilio.py
  services/web/client/source/class/osparc/navigation/Manuals.js
  services/web/client/source/class/osparc/navigation/UserMenuButton.js
  services/web/client/source/class/osparc/utils/LibVersions.js
  services/web/client/source/class/osparc/utils/issue/Fogbugz.js
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/login/_2fa.py
  services/web/server/src/simcore_service_webserver/login/handlers.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/routes.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/products.py
  services/web/server/src/simcore_service_webserver/statics.py
  services/web/server/src/simcore_service_webserver/statics_events.py
  services/web/server/src/simcore_service_webserver/statics_settings.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/unit/isolated/test_products.py
  services/web/server/tests/unit/isolated/test_statics.py
  services/web/server/tests/unit/isolated/test_statics_settings.py
  services/web/server/tests/unit/with_dbs/03/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver

#3254 🐛 add retry when starting containers
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
Labels: a:dynamic-sidecar, changelog:🐛bugfix

#3282 e2e: Show key version of the services
  tests/e2e/tutorials/ti-plan.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/utils.js
Labels: e2e

#3280 🐛 Is3240/fix pull inputs sidecar
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_routing.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/health.py
  services/dynamic-sidecar/tests/unit/test_api_containers_long_running_tasks.py
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_utils.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
Labels: a:webserver, a:dynamic-sidecar

#3268 ✨ Long running tasks: allow retrieving tasks by user
  api/specs/webserver/openapi-tasks.yaml
  api/specs/webserver/openapi.yaml
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_constants.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_dependencies.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/server.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_client.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_error_handlers.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/long_running_tasks/_models.py
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  packages/service-library/tests/aiohttp/long_running_tasks/conftest.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks_with_task_context.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_context_manager.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_routes.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/long_running_tasks.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_long_running_tasks.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
Labels: changelog:🎨enhancement

#3285 ✨ Bring download/upload progress logs to the frontend
  packages/service-library/src/servicelib/archiving_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/__init__.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/nodeports_v2.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/serialization_v2.py
  packages/simcore-sdk/tests/integration/conftest.py
  packages/simcore-sdk/tests/integration/test_node_data_data_manager_.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  packages/simcore-sdk/tests/integration/test_node_ports_v2_nodeports2.py
  packages/simcore-sdk/tests/unit/test_node_data_data_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_port.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_serialization_v2.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/directory_watcher.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/tests/unit/test_modules_directory_watcher.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
Labels: changelog:🎨enhancement

#3286 ✨ Add ENV to prevent copying if project too large (⚠️ devops)
  .env-devel
  .env-wb-garbage-collector
  services/web/client/source/class/osparc/data/PollTask.js
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/projects_settings.py
  services/web/server/src/simcore_service_webserver/storage_api.py
  services/web/server/tests/conftest.py
  services/web/server/tests/data/default_app_config-unit.yaml
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/_helpers.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: changelog:🎨enhancement

#3283 Is91/review email templates (⚠️ devops)
  .vscode/extensions.json
  packages/postgres-database/src/simcore_postgres_database/migration/versions/33eafc1aa8ef_adds_jinja_template_table.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/a8f0bacbbaef_product_issue_cols_nullable.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e5f3167d7277_add_template_col_to_product_table.py
  packages/postgres-database/src/simcore_postgres_database/models/jinja2_templates.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/postgres-database/tests/test_models_products.py
  services/web/server/setup.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/email.py
  services/web/server/src/simcore_service_webserver/login/_2fa.py
  services/web/server/src/simcore_service_webserver/login/handlers.py
  services/web/server/src/simcore_service_webserver/login/settings.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/products.py
  services/web/server/src/simcore_service_webserver/products_db.py
  services/web/server/src/simcore_service_webserver/products_events.py
  services/web/server/src/simcore_service_webserver/products_middlewares.py
  services/web/server/src/simcore_service_webserver/publication_handlers.py
  services/web/server/src/simcore_service_webserver/templates/common/change_email_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/registration_email.html
  services/web/server/src/simcore_service_webserver/templates/common/registration_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/reset_password_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/reset_password_email_failed.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/service_submission.jinja2
  services/web/server/src/simcore_service_webserver/templates/error-page.html
  services/web/server/src/simcore_service_webserver/templates/osparc/registration_email.jinja2
  services/web/server/tests/unit/isolated/test_products_middlewares.py
  services/web/server/tests/unit/isolated/test_templates.py
  services/web/server/tests/unit/with_dbs/03/test_login_utils.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, a:database

#3292 ✨ Is91/adds short name for Alphanumeric Sender ID (⚠️ devops)
  packages/models-library/src/models_library/basic_regex.py
  packages/models-library/tests/test_basic_regex.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/9d477e20d06e_adds_short_name_colm_to_products.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/postgres-database/tests/test_models_products.py
  services/web/server/src/simcore_service_webserver/login/_2fa.py
  services/web/server/src/simcore_service_webserver/login/handlers.py
  services/web/server/src/simcore_service_webserver/products_db.py
  services/web/server/tests/unit/with_dbs/03/test_products_db.py
Labels: a:webserver

#3290 ✨ Aiohttp long running tasks client
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/client.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/server.py
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  packages/service-library/tests/aiohttp/long_running_tasks/conftest.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks_client.py
  services/web/server/src/simcore_service_webserver/long_running_tasks.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
Labels: changelog:🎨enhancement

#3298 ⬆️ CI: fix issue when codestyling dy-sidecar
  scripts/mypy.bash
Labels: changelog:♻️refactor

#3281 🐛 iSeg sometimes stuck with invalid networks (maybe)
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/tests/unit/test_core_validation.py
Labels: changelog:🐛bugfix

#3300 🐛 Nodeports filemanager incorrectly closes request
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
Labels: changelog:🐛bugfix

#3299 🐛 Sort services naturally and adapt test
  services/catalog/setup.cfg
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/tests/unit/with_dbs/test_services_access_rights.py
Labels: a:catalog
