Repository ITISFoundation/osparc-simcore, pull requests merged in 2022-09, with the labels that each got.

#3291 🐛 is659/decompressing-hangs
  packages/service-library/src/servicelib/archiving_utils.py
  packages/service-library/src/servicelib/file_utils.py
  packages/service-library/tests/test_archiving_utils.py
Labels: a:services-library, changelog:🐛bugfix

#3306 🐛 workspace.zip disappears while uploading
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
Labels: changelog:🐛bugfix

#3269 ✨adds new cli options to director-v2
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_client.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/client.py
  services/director-v2/setup.py
  services/director-v2/src/simcore_service_director_v2/cli.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/projects_networks.py
  services/director-v2/tests/unit/test_modules_project_networks.py
  services/director-v2/tests/unit/with_dbs/test_cli.py
Labels: changelog:🎨enhancement

#3297 🐛added retry when creating services
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_core_docker_utils.py
Labels: a:dynamic-sidecar, changelog:🐛bugfix

#3302 🐛 Reverting #3239 code and fixing it
  packages/models-library/src/models_library/services.py
  packages/service-library/src/servicelib/docker_utils.py
  packages/service-library/tests/test_docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/tests/unit/test_docker_utils.py
  services/director-v2/src/simcore_service_director_v2/cli.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/constants.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_volume.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/volume_remover.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_volume_remover.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_volumes_resolver.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/Dockerfile
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/errors.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/shared_store.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_api_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_core_application.py
  services/dynamic-sidecar/tests/unit/test_core_docker_utils.py
  services/dynamic-sidecar/tests/unit/test_models_shared_store.py
  services/dynamic-sidecar/tests/unit/test_modules_mounted_fs.py
Labels: changelog:🐛bugfix

#3272 ♻️🐛 director-v2 sidecar tracking fixes (⚠️ devops)
  services/director-v2/src/simcore_service_director_v2/cli.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/catalog.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/task.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/mocks/fake_scheduler_data.json
  services/director-v2/tests/mocks/fake_scheduler_data_compose_spec.json
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_volumes_resolver.py
  services/director-v2/tests/unit/test_schemas_dynamic_services_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_route_dynamic_services.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_core_docker_utils.py
Labels: changelog:🐛bugfix

#3314 🐛 Various fixes
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_volume.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
Labels: changelog:🐛bugfix

#3315 🐛BugFix: Does not allow re-registering the same phone number
  services/web/server/src/simcore_service_webserver/login/handlers.py
  services/web/server/tests/unit/with_dbs/03/test_login_2fa.py
Labels: changelog:🐛bugfix

#3287 ✨ Webserver reports copy progress
  .github/workflows/ci-testing-deploy.yml
  api/specs/common/schemas/task.yaml
  api/specs/storage/openapi.yaml
  api/specs/webserver/openapi-projects.yaml
  api/specs/webserver/openapi-tasks.yaml
  packages/models-library/src/models_library/projects_nodes_io.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/client.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/server.py
  packages/service-library/src/servicelib/long_running_tasks/_models.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_models.py
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/application.py
  services/storage/src/simcore_service_storage/constants.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/handlers_simcore_s3.py
  services/storage/src/simcore_service_storage/long_running_tasks.py
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/s3_utils.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/unit/test_handlers_simcore_s3.py
  services/storage/tests/unit/test_s3_client.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/src/simcore_service_webserver/storage_api.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/unit/with_dbs/01/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: changelog:🎨enhancement

#3316 🐛 Fix error while reporting unarchiving errors
  packages/service-library/src/servicelib/archiving_utils.py
Labels: changelog:🐛bugfix

#3323 🐛 Is91/fix alphanumeric sender (⚠️ devops)
  packages/settings-library/setup.cfg
  packages/settings-library/src/settings_library/twilio.py
  packages/settings-library/tests/test_twilio.py
  services/web/server/src/simcore_service_webserver/login/_2fa.py
Labels: a:webserver

#3317 Feature/fb 09 05
  services/web/client/source/class/osparc/auth/ui/LoginSMSCodeView.js
  services/web/client/source/class/osparc/component/widget/PreparingInputs.js
  services/web/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/web/client/source/class/osparc/navigation/PrevNextButtons.js
  services/web/client/source/class/osparc/utils/Utils.js
  tests/e2e/tutorials/jupyterlabs.js
  tests/e2e/tutorials/ti-plan.js
  tests/e2e/tutorials/tutorialBase.js
Labels: a:frontend, e2e

#3330 🐛 fixes 2fa typo in twilio function and guvicorn access-logger level
  packages/service-library/src/servicelib/logging_utils.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/log.py
  services/web/server/src/simcore_service_webserver/login/_2fa.py
Labels: changelog:🐛bugfix

#3309 ⚗️ CI: Use keep docker up in tests to improve test speed
  .github/workflows/ci-testing-deploy.yml
  ci/github/integration-testing/director-v2.bash
  ci/github/integration-testing/simcore-sdk.bash
  ci/github/integration-testing/webserver.bash
  ci/github/unit-testing/api-server.bash
  ci/github/unit-testing/catalog.bash
  ci/github/unit-testing/dask-sidecar.bash
  ci/github/unit-testing/datcore-adapter.bash
  ci/github/unit-testing/director-v2.bash
  ci/github/unit-testing/director.bash
  ci/github/unit-testing/dynamic-sidecar.bash
  ci/github/unit-testing/service-library.bash
  ci/github/unit-testing/settings-library.bash
  ci/github/unit-testing/simcore-sdk.bash
  ci/github/unit-testing/storage.bash
  ci/github/unit-testing/webserver.bash
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/service-library/Makefile
  packages/service-library/src/servicelib/archiving_utils.py
  packages/settings-library/Makefile
  packages/simcore-sdk/Makefile
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  scripts/common-service.Makefile
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/with_dbs/test_modules_redis.py
  services/dynamic-sidecar/requirements/ci.txt
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
Labels: changelog:⚠️devops

#3331 ensure correct images are available in master
  ci/github/integration-testing/director-v2.bash
  ci/github/integration-testing/simcore-sdk.bash
  ci/github/integration-testing/webserver.bash
Labels: changelog:🎨enhancement

#3329 TIP e2e
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/widget/PreparingInputs.js
  tests/e2e/tutorials/ti-plan.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/utils.js
Labels: a:frontend, e2e

#3332 ♻️ Maintenance/reduce flakyness
  .github/workflows/ci-testing-deploy.yml
  ci/github/unit-testing/dask-task-models-library.bash
  packages/dask-task-models-library/Makefile
  packages/dask-task-models-library/requirements/ci.txt
  packages/service-library/tests/fastapi/test_request_decorators.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/test_modules_dask_client.py
Labels: changelog:⚠️devops

#3320 ♻️ adding tests when raising ArchiveError
  packages/service-library/tests/test_archiving_utils.py
  packages/service-library/tests/test_archiving_utils_extra.py
Labels: changelog:♻️refactor

#3344 ✨Show study name when deleting
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/study/SaveAsTemplate.js
  services/web/client/source/class/osparc/component/tutorial/ti/Welcome.js
  services/web/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/web/client/source/resource/osparc/osparc-black.png
  services/web/client/source/resource/osparc/osparc-white-small.png
  services/web/client/source/resource/osparc/osparc-white.png
  services/web/client/source/resource/osparc/osparc_logo.svg
Labels: a:frontend

#3345 ✨Do not auto-cancel study copy if the user disconnects
  ci/github/unit-testing/models-library.bash
  ci/github/unit-testing/postgres-database.bash
  ci/github/unit-testing/service-integration.bash
  packages/models-library/Makefile
  packages/postgres-database/Makefile
  packages/service-integration/Makefile
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  packages/service-library/src/servicelib/long_running_tasks/_models.py
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
  packages/settings-library/Makefile
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
Labels: changelog:🎨enhancement

#3178 ♻️ Enhancement: Make project migration script more versatile
  packages/settings-library/setup.py
  scripts/maintenance/migrate_project/.gitignore
  scripts/maintenance/migrate_project/Dockerfile
  scripts/maintenance/migrate_project/Makefile
  scripts/maintenance/migrate_project/README.md
  scripts/maintenance/migrate_project/requirements.txt
  scripts/maintenance/migrate_project/src/cli.py
  scripts/maintenance/migrate_project/src/db.py
  scripts/maintenance/migrate_project/src/models.py
  scripts/maintenance/migrate_project/src/r_clone.py
Labels: changelog:♻️refactor, changelog:🐛bugfix

#3347 ✨ Define strict limits legacy dynamic services
  .github/workflows/ci-testing-deploy.yml
  services/director/src/simcore_service_director/producer.py
  services/director/tests/test_producer.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
Labels: changelog:🎨enhancement

#3353 ✨Retry upon AWS 500s
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/mocks/fake_dy_workbench_template.json
Labels: changelog:🎨enhancement

#3355 🐛 Fix Unknown label in FilesTree
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Labels: changelog:🐛bugfix

#3349 ✨FE: Expiration date
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/auth/Data.js
  services/web/client/source/class/osparc/auth/Manager.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ProfilePage.js
  services/web/client/source/class/osparc/navigation/UserMenuButton.js
  services/web/client/source/class/osparc/store/StaticInfo.js
  services/web/client/source/class/osparc/utils/Utils.js
  tests/e2e/tutorials/ti-plan.js
Labels: a:frontend

#3358 🐛 fix typos in release instruction for hotfix staging
  docs/releasing-workflow-instructions.md
Labels: bug, a:doc

#3354 ✨ Study from Template: Show messages and progress
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/web/client/source/class/osparc/dashboard/StudyBrowser.js
  services/web/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/web/client/source/class/osparc/data/PollTask.js
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/ui/basic/LoadingPageHandler.js
  services/web/client/source/class/osparc/ui/message/Loading.js
  services/web/client/source/class/osparc/utils/Study.js
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
Labels: a:frontend

#3356 🐛 Fix/confirmation codes
  packages/postgres-database/src/simcore_postgres_database/models/confirmations.py
  services/web/server/src/simcore_service_webserver/login/_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/storage.py
  services/web/server/tests/unit/with_dbs/03/test_login_registration.py
Labels: changelog:🐛bugfix

#3363 Maintenance/ lgtm+CodeQL fixes
  packages/postgres-database/src/simcore_postgres_database/__init__.py
  packages/postgres-database/src/simcore_postgres_database/errors.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/009c81406676_add_project_running_state.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/01073b43fc74_new_group_classifiers_table.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/16a9454764cb_add_task_event_procedures.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/16ee7d73b9cc_adds_api_keys_table.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/1ca14c33e65c_add_groups_accessrights.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/27c6a30d7c24_add_ui_in_projects_table.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/31728148ab63_added_tags.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/31f0ab4a338b_dev_column_added.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/3452ca7b13e9_metadata_column_added.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/350103a7efbd_modified_products_table.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/43766dcf0fc2_add_groups_inclusion_rules_column.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/437fc7dd8763_add_classifiers_in_projects_table.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/43b26b6e762b_unique_constraint_in_comp_task.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/46c3cc232c0b_new_dag_table.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/53e095260441_add_projects_access_rights_and_.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/645807399320_init_tables.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/64614dc0fada_add_groups_table.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/65198ad31f29_quality_columns.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/694f201e484a_add_user_to_project_cascade.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/72f8be1c4838_move_groups_accessrights_to_users_to_.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/87a7b69f6723_blackfynn_to_pennsieve.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/99db5efc4548_added_column_to_file_meta_data.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/99f9b200801c_added_project_networks_table.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/add5f60f0f67_adds_published_colums_in_projects_table.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/bb305829cf83_add_groups_thumbnail.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/be29dbed0cce_adds_file_meta_data_is_soft_link_column.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c2d3acc313e1_adds_admin_to_userrole_enum.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c47b9013101a_add_products_table_add_service_access_.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c8a7073deebb_change_file_size_to_big_integer.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/cfd1c43b5d33_migrate_workbench_state_enum.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e1227c539ff4_update_ondelete_and_oncascade_for_.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ee62bf5e40b9_add_task_run_hash.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/f3555bb4bc34_new_node_class_column_in_comp_tasks.py
  packages/postgres-database/src/simcore_postgres_database/models/__init__.py
  packages/postgres-database/src/simcore_postgres_database/sidecar_models.py
  packages/postgres-database/src/simcore_postgres_database/storage_models.py
  packages/postgres-database/src/simcore_postgres_database/utils_aiopg_orm.py
  packages/postgres-database/src/simcore_postgres_database/webserver_models.py
  packages/service-integration/src/service_integration/compose_spec_model.py
  packages/service-library/src/servicelib/aiohttp/aiopg_utils.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/client.py
  packages/service-library/src/servicelib/fastapi/openapi.py
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  services/catalog/src/simcore_service_catalog/utils/requests_decorators.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/utils/requests_decorators.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_base.py
  services/director-v2/src/simcore_service_director_v2/modules/node_rights.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/directory_watcher.py
  services/storage/src/simcore_service_storage/db_file_meta_data.py
Labels: a:storage, a:services-library, a:database, t:maintenance, a:catalog, a:dask-service

#3350 ✨ Prevent deprecated services to start
  packages/models-library/src/models_library/services.py
  packages/service-library/src/servicelib/aiohttp/requests_validation.py
  packages/service-library/tests/aiohttp/test_requests_validation.py
  services/api-server/src/simcore_service_api_server/api/dependencies/application.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/modules/catalog.py
  services/api-server/src/simcore_service_api_server/modules/director_v2.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/models/schemas/services.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_entrypoint_services.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/catalog.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/catalog.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/conftest.py
  services/director-v2/tests/integration/shared_comp_utils.py
  services/director-v2/tests/unit/with_dbs/test_route_computations.py
  services/web/client/source/class/osparc/data/model/Node.js
  services/web/client/source/class/osparc/data/model/NodeStatus.js
  services/web/client/source/class/osparc/utils/StatusUI.js
  services/web/server/src/simcore_service_webserver/catalog.py
  services/web/server/src/simcore_service_webserver/director_v2_core_computations.py
  services/web/server/src/simcore_service_webserver/director_v2_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__list.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/_helpers.py
Labels: changelog:🎨enhancement

#3359 ✨ App mode: get ready for larger studies
  services/web/client/source/class/osparc/Application.js
  services/web/client/source/class/osparc/auth/LoginPage.js
  services/web/client/source/class/osparc/auth/Manager.js
  services/web/client/source/class/osparc/component/node/BaseNodeView.js
  services/web/client/source/class/osparc/component/widget/PreparingInputs.js
  services/web/client/source/class/osparc/data/model/NodeStatus.js
  services/web/client/source/class/osparc/data/model/Study.js
  services/web/client/source/class/osparc/data/model/Workbench.js
  services/web/client/source/class/osparc/desktop/SlideshowView.js
  services/web/client/source/class/osparc/desktop/StartStopButtons.js
  services/web/client/source/class/osparc/desktop/StudyEditor.js
  services/web/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/web/client/source/class/osparc/desktop/preferences/pages/ClustersPage.js
  services/web/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/web/client/source/class/osparc/navigation/PrevNextButtons.js
  services/web/client/source/class/osparc/navigation/UserMenuButton.js
  services/web/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/web/client/source/class/osparc/utils/DisabledPlugins.js
  services/web/client/source/class/osparc/utils/StatusUI.js
  services/web/client/source/class/osparc/utils/Utils.js
  services/web/client/source/class/osparc/viewer/NodeViewer.js
  tests/e2e/tutorials/ti-plan.js
  tests/e2e/utils/utils.js
Labels: a:frontend, changelog:🎨enhancement

#3112 ⬆️🔒️ Maintenance/vulnerability upgrade for ujson, upgrade fastapi+starlette
  packages/service-library/requirements/_fastapi.txt
  requirements/constraints.txt
  services/api-server/requirements/_base.txt
  services/api-server/tests/unit/test__fastapi.py
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/remote_debug.py
  services/datcore-adapter/tests/unit/test_route_files.py
  services/director-v2/requirements/_base.txt
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
Labels: dependencies, security, python

#3376 🔒️ ⬆️ Maintenance/fixes security vulnerabilities in mako
  packages/models-library/requirements/_test.txt
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  requirements/constraints.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: changelog:🔒️security

#3352 Is677/trial account
  api/specs/webserver/components/schemas/me.yaml
  api/specs/webserver/openapi-user.yaml
  api/specs/webserver/openapi.yaml
  packages/models-library/src/models_library/basic_types.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ead667546b12_user_expiration.py
  packages/postgres-database/src/simcore_postgres_database/models/users.py
  packages/postgres-database/tests/test_users.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/garbage_collector.py
  services/web/server/src/simcore_service_webserver/garbage_collector_settings.py
  services/web/server/src/simcore_service_webserver/groups_models.py
  services/web/server/src/simcore_service_webserver/login/handlers.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/settings.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/security_api.py
  services/web/server/src/simcore_service_webserver/security_authorization.py
  services/web/server/src/simcore_service_webserver/users_api.py
  services/web/server/src/simcore_service_webserver/users_garbage_collector_tasks.py
  services/web/server/src/simcore_service_webserver/users_handlers.py
  services/web/server/src/simcore_service_webserver/users_models.py
  services/web/server/src/simcore_service_webserver/users_utils.py
  services/web/server/tests/unit/isolated/test_groups_models.py
  services/web/server/tests/unit/isolated/test_users_models.py
  services/web/server/tests/unit/with_dbs/01/test_login_login.py
  services/web/server/tests/unit/with_dbs/03/test_login_reset_password.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
  services/web/server/tests/unit/with_dbs/03/test_users_garbage_collector_tasks.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, changelog:✨new-feature

#3379 🐛 Fixes ``Retry-After`` header in global_rate_limit_route
  services/web/server/src/simcore_service_webserver/utils_rate_limiting.py
  services/web/server/tests/unit/isolated/test_utils_rate_limiting.py
Labels: changelog:🐛bugfix

#3383 ✨ App Mode: Allow uploading file to File Picker
  services/static-webserver/client/source/class/osparc/component/node/FilePickerSSView.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/file/FileDrop.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/file/FolderViewer.js
  services/static-webserver/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/static-webserver/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/static-webserver/client/source/class/osparc/ui/form/FileInput.js
  services/static-webserver/client/source/class/osparc/utils/StatusUI.js
Labels: a:frontend, changelog:🎨enhancement

#3380 ✨ Is677/trial invitations (🔨 app)
  docs/coding-conventions.md
  packages/pytest-simcore/src/pytest_simcore/helpers/rawdata_fakers.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_login.py
  scripts/demo/create_portal_markdown.py
  services/static-webserver/client/source/class/osparc/Application.js
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/garbage_collector.py
  services/web/server/src/simcore_service_webserver/garbage_collector_settings.py
  services/web/server/src/simcore_service_webserver/garbage_collector_tasks_users.py
  services/web/server/src/simcore_service_webserver/login/_confirmation.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/cli.py
  services/web/server/src/simcore_service_webserver/login/handlers.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/registration.py
  services/web/server/src/simcore_service_webserver/login/storage.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/users_api.py
  services/web/server/src/simcore_service_webserver/users_db.py
  services/web/server/src/simcore_service_webserver/users_garbage_collector_tasks.py
  services/web/server/tests/unit/with_dbs/01/test_groups.py
  services/web/server/tests/unit/with_dbs/03/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/test_login_reset_password.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
  services/web/server/tests/unit/with_dbs/03/test_users_db.py
Labels: changelog:✨new-feature

#3381 ✨ Is705/api keys with expiration
  api/specs/webserver/openapi-auth.yaml
  api/specs/webserver/openapi.yaml
  packages/postgres-database/src/simcore_postgres_database/migration/versions/90fa6f02cbc0_apikey_expire_and_create_columns.py
  packages/postgres-database/src/simcore_postgres_database/models/api_keys.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/garbage_collector.py
  services/web/server/src/simcore_service_webserver/garbage_collector_settings.py
  services/web/server/src/simcore_service_webserver/garbage_collector_tasks_api_keys.py
  services/web/server/src/simcore_service_webserver/login/api_keys_db.py
  services/web/server/src/simcore_service_webserver/login/api_keys_handlers.py
  services/web/server/src/simcore_service_webserver/users_models.py
  services/web/server/tests/unit/with_dbs/01/test_login_api_keys.py
Labels: a:webserver, a:api, changelog:✨new-feature

#3388 ♻️ dy-sidecars wait for resources before failing
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Labels: changelog:♻️refactor

#3386 ✨ FE: Deprecated services
  services/static-webserver/client/source/class/osparc/component/node/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/component/node/NodeView.js
  services/static-webserver/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/static-webserver/client/source/class/osparc/component/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/static-webserver/client/source/class/osparc/servicecard/Large.js
  services/static-webserver/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
  services/static-webserver/client/source/class/osparc/utils/Services.js
  services/static-webserver/client/source/class/osparc/utils/StatusUI.js
Labels: a:frontend, changelog:🎨enhancement

#3397 ✨Expiration Date: FE 2nd iteration
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/Data.js
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ProfilePage.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend

#3392 e2e: add X-Simcore-User-Agent to requests
  services/static-webserver/client/source/class/osparc/auth/Data.js
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/io/request/ApiRequest.js
  services/static-webserver/client/source/class/osparc/io/rest/Resource.js
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e

#3394 🐛 Avoids service shutdown due to swarm networking errors
  packages/service-library/src/servicelib/exception_utils.py
  packages/service-library/tests/test_exception_utils.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/events.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_events.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Labels: changelog:🐛bugfix

#3395 ✨ Improvement: safer product setup
  packages/models-library/src/models_library/basic_types.py
  services/web/server/src/simcore_service_webserver/products_db.py
  services/web/server/src/simcore_service_webserver/products_events.py
Labels: a:webserver

#3399 ✨ S4L: Add New buttons
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonNewPlan.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonNewPlan.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Labels: a:frontend, changelog:🎨enhancement

#3398 🐛 Bug?fix: template permissions
  services/static-webserver/client/source/class/osparc/component/permissions/Study.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
Labels: a:frontend, changelog:🎨enhancement

#3400 ✨ FE various: support email on expired message, Enter key linked to validate button and blink Output in App Mode
  services/static-webserver/client/source/class/osparc/auth/ui/LoginSMSCodeView.js
  services/static-webserver/client/source/class/osparc/component/node/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/utils/Clusters.js
  services/web/server/src/simcore_service_webserver/login/handlers.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/login/settings.py
  services/web/server/tests/unit/with_dbs/01/test_login_login.py
  services/web/server/tests/unit/with_dbs/03/test_login_reset_password.py
  tests/e2e/tutorials/jupyterlabs.js
  tests/e2e/tutorials/sim4life.js
  tests/e2e/utils/auto.js
Labels: a:frontend, changelog:🎨enhancement
