Repository ITISFoundation/osparc-simcore, pull requests merged in 2023-03, with the labels that each got.

#3933 ✨ S4L e2e: wait for S4L Splash Screen to disappear
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e

#3935 ✨Frontend User registration: Check Invitation email from token
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/auth/ui/RegistrationView.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
Labels: a:frontend, changelog:✨new-feature

#3928 ⬆️ Maintenance/reqs upgrade (test/tools & service security patch) (⚠️ devops) 🚨
  api/tests/requirements.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/dask-task-models-library/requirements/_test.txt
  packages/dask-task-models-library/requirements/_tools.txt
  packages/models-library/requirements/_test.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/requirements/_tools.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/settings-library/requirements/_test.txt
  packages/settings-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.txt
  requirements/constraints.txt
  services/agent/requirements/_test.txt
  services/agent/requirements/_tools.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/api-server/requirements/constraints.txt
  services/autoscaling/requirements/_test.txt
  services/autoscaling/requirements/_tools.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/invitations/requirements/_base.txt
  services/invitations/requirements/_test.txt
  services/invitations/requirements/_tools.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  tests/e2e/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: t:maintenance

#3936 🐛 Using a more proper message type
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
  services/web/server/src/simcore_service_webserver/socketio/events.py
Labels: a:static-webserver, changelog:🐛bugfix

#3945 Removing fastapi constraints + upgrade
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_server.py
  requirements/constraints.txt
Labels: a:services-library

#3930 📝 Doc conventions, 🔨 issue templates and ♻️ error messages
  .github/ISSUE_TEMPLATE/1_bug_report.yml
  .github/ISSUE_TEMPLATE/2_feature_request.yml
  .github/ISSUE_TEMPLATE/3_maintenance_issue.yml
  .github/ISSUE_TEMPLATE/4_pre_release.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/e2e_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/maintenance_issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  docs/coding-conventions.md
  services/web/server/src/simcore_service_webserver/invitations_client.py
  services/web/server/src/simcore_service_webserver/invitations_core.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
Labels: t:maintenance

#3947 🐛 Attempt to avoid connection pool running out of connections
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_base.py
Labels: a:director-v2, changelog:🐛bugfix

#3942 🐛 Fix issue parsing service without resources
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_specs.py
Labels: a:director-v2, changelog:🐛bugfix

#3949 ⬆️ Maintenance: upgrade dask libraries
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  requirements/base.Makefile
  scripts/docker/docker-compose-config.bash
  services/dask-sidecar/requirements/Makefile
  services/dask-sidecar/requirements/_base.in
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-complete.in
  services/dask-sidecar/requirements/_dask-complete.txt
  services/dask-sidecar/requirements/_dask-distributed.in
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/dask-sidecar/requirements/constraints.txt
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/dask-sidecar/tests/unit/test__requirements.py
  services/dask-sidecar/tests/unit/test_dask_utils.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/src/simcore_service_director_v2/models/schemas/clusters.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/volume_remover.py
  services/director-v2/tests/unit/_dask_helpers.py
  services/director-v2/tests/unit/test_models_clusters.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/test_api_route_clusters_details.py
Labels: t:maintenance

#3956 🐛 Fix stop container log fetching edge case
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_logs.py
Labels: a:dynamic-sidecar, changelog:🐛bugfix

#3955 ✨ Frontend: Organization details
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/component/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/DataBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsWindow.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/SharedResourceListItem.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/TemplatesList.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/BasePage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItemWithMenu.js
  services/static-webserver/client/source/class/osparc/ui/list/MemberListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/OrganizationListItem.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:✨new-feature

#3937 ✨ User Notifications (⚠️ devops) 🚨
  api/specs/webserver/openapi-user.yaml
  api/specs/webserver/openapi.yaml
  packages/settings-library/src/settings_library/redis.py
  services/docker-compose-ops.yml
  services/docker-compose.yml
  services/static-webserver/client/source/class/osparc/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/WindowSizeTracker.js
  services/static-webserver/client/source/class/osparc/component/notification/Notification.js
  services/static-webserver/client/source/class/osparc/component/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/component/notification/Notifications.js
  services/static-webserver/client/source/class/osparc/component/notification/NotificationsButton.js
  services/static-webserver/client/source/class/osparc/component/notification/NotificationsContainer.js
  services/static-webserver/client/source/class/osparc/component/notification/RibbonNotification.js
  services/static-webserver/client/source/class/osparc/component/notification/RibbonNotifications.js
  services/static-webserver/client/source/class/osparc/component/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsWindow.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/viewer/MainPage.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/redis.py
  services/web/server/src/simcore_service_webserver/redis_constants.py
  services/web/server/src/simcore_service_webserver/users_handlers.py
Labels: a:frontend, a:webserver, changelog:✨new-feature

#3948 ♻️ FastAPI long running unique tasks resume if running
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/server.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/server.py
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_containers_long_running_tasks.py
Labels: changelog:♻️refactor, changelog:🐛bugfix

#3961 ✨ Frontend: Ask for confirmation before demoting an Organization to Viewer
  services/static-webserver/client/source/class/osparc/component/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/component/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Labels: a:frontend

#3963 🎨 Frontend: Improve UX for "Download of Study Data"
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/DownloadLinkTracker.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  tests/e2e/utils/auto.js
Labels: a:frontend, changelog:🎨enhancement

#3970 ♻️Autoscaling: set default termination time of EC2 instance to 1 minute
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/tests/unit/test_dynamic_scaling_core.py
Labels: changelog:♻️refactor, a:autoscaling

#3967 ⬆️⚗️ Bump traefik version
  services/docker-compose.yml
Labels: bug, High Priority, incident

#3973 🐛 Fix: Thumbnail width on Large Card
  services/static-webserver/client/source/class/osparc/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/component/node/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/component/widget/NodesTree.js
  services/static-webserver/client/source/class/osparc/component/widget/StudyTitleOnlyTree.js
  services/static-webserver/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/static-webserver/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowToolbar.js
  services/static-webserver/client/source/class/osparc/info/CardLarge.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyMedium.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
Labels: a:frontend, changelog:🐛bugfix

#3976 🐛 Bug/autoscaling datetime failure
  packages/service-library/tests/test_docker_utils.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/test_utils_docker.py
Labels: bug, High Priority, changelog:🐛bugfix

#3978 📝 Maintenance: adds status badges and adds new fields in template forms for bug issues
  .github/ISSUE_TEMPLATE/1_bug_report.yml
  README.md
  scripts/docker/docker-compose-config.bash
Labels: a:doc, t:maintenance

#3972 🐛 raising agent limit to 1G
  services/docker-compose.yml
Labels: changelog:🐛bugfix, a:agent

#3979 ⬆️ CI: upgrade ubuntu/buildx
  .github/workflows/ci-release.yml
  .github/workflows/ci-staging.yml
  .github/workflows/ci-testing-deploy.yml
  ci/github/helpers/install_rclone_docker_volume_plugin.bash
  scripts/install_rclone.bash
  services/docker-compose.yml
Labels: a:infra+ops, changelog:♻️refactor

#3958 ✨ Is3940/public api can run a job on a given cluster (part 1)
  packages/models-library/src/models_library/services.py
  services/api-server/VERSION
  services/api-server/openapi.json
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/modules/director_v2.py
  services/api-server/src/simcore_service_api_server/modules/webserver.py
  services/api-server/tests/unit/api_solvers/conftest.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
Labels: a:api, a:apiserver, changelog:✨new-feature

#3982 🚑️ add more logging to GC
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/tests/test_logging_utils.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
Labels: a:webserver

#3985 🚑️ Fix GC error while trying to close service
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/tests/unit/isolated/test_garbage_collector_core.py
Labels: a:webserver, changelog:🐛bugfix

#3980 ✨ Frontend: File Picker: Abort file upload button
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/file/FileUploader.js
Labels: a:frontend, changelog:✨new-feature

#3983 ♻️ Maintenance: cleanup catalog
  packages/models-library/src/models_library/basic_regex.py
  packages/models-library/src/models_library/docker.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/src/models_library/services.py
  packages/models-library/src/models_library/services_resources.py
  packages/models-library/tests/test_service_resources.py
  packages/postgres-database/src/simcore_postgres_database/utils_products.py
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.in
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/catalog/src/simcore_service_catalog/api/dependencies/database.py
  services/catalog/src/simcore_service_catalog/api/dependencies/director.py
  services/catalog/src/simcore_service_catalog/api/dependencies/services.py
  services/catalog/src/simcore_service_catalog/api/routes/dags.py
  services/catalog/src/simcore_service_catalog/api/routes/meta.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/api/routes/services_resources.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/db/events.py
  services/catalog/src/simcore_service_catalog/db/repositories/dags.py
  services/catalog/src/simcore_service_catalog/db/repositories/groups.py
  services/catalog/src/simcore_service_catalog/db/repositories/products.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/models/schemas/meta.py
  services/catalog/src/simcore_service_catalog/models/schemas/services_specifications.py
  services/catalog/src/simcore_service_catalog/services/access_rights.py
  services/catalog/src/simcore_service_catalog/services/director.py
  services/catalog/src/simcore_service_catalog/services/function_services.py
  services/catalog/src/simcore_service_catalog/utils/pools.py
  services/catalog/src/simcore_service_catalog/utils/service_resources.py
Labels: t:maintenance, a:catalog, a:models-library

#3988 🎨 Frontend: Improve anonymous' UI
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/Error.js
  services/static-webserver/client/source/class/osparc/auth/Data.js
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
Labels: a:frontend, changelog:🎨enhancement

#3962 ✨ Error pages when published studies dispatcher fails, access rights fixes and plugin refactoring
  .vscode/launch.template.json
  scripts/docker/docker-compose-config.bash
  services/storage/src/simcore_service_storage/exceptions.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_db_utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_exceptions.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_constants.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/settings.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_settings.py
  services/web/server/tests/unit/with_dbs/01/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/01/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/02/test_project_db.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__list.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers_crud.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, changelog:🐛bugfix

#4000 🎨 Frontend: auto-start service when double clicking in service
  services/static-webserver/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
Labels: a:frontend, changelog:🎨enhancement

#3997 🐛 Bugfix: Let users make Services Public
  services/static-webserver/client/source/class/osparc/component/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Labels: a:frontend, changelog:🐛bugfix

#4001 ✨ Is829/jlab login required
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  services/web/server/src/simcore_service_webserver/projects/projects_db_utils.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_constants.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/unit/isolated/test_utils.py
  services/web/server/tests/unit/with_dbs/01/test_studies_dispatcher_studies_access.py
Labels: t:enhancement, a:webserver, changelog:✨new-feature, enhancement

#3989 ✨ Personalized resources: Allow override of computational service needed resources (⚠️ devops)
  packages/models-library/src/models_library/services_resources.py
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
  scripts/docker/docker-compose-config.bash
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/modules/director_v2.py
  services/catalog/src/simcore_service_catalog/api/routes/services_resources.py
  services/catalog/tests/unit/with_dbs/test_api_routes_services_resources.py
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/src/simcore_service_dask_sidecar/boot_mode.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_dask_utils.py
  services/dask-sidecar/tests/unit/test_docker_utils.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/domains/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/services.py
  services/director-v2/src/simcore_service_director_v2/modules/catalog.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/utils/clients.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_director_v0.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations.py
  services/osparc-gateway-server/tests/unit/test_utils.py
  services/web/server/src/simcore_service_webserver/director_v2_core_computations.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2.py
Labels: a:catalog, a:director-v2, a:dask-service

#3998 🐛 Is812/email case insensitive v2 (⚠️ devops) 🚨
  packages/models-library/src/models_library/emails.py
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/services.py
  packages/models-library/tests/test_emails.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/84d3h35e5791_emails_to_lower_case.py
  packages/pytest-simcore/src/pytest_simcore/helpers/rawdata_fakers.py
  services/api-server/src/simcore_service_api_server/models/schemas/profiles.py
  services/api-server/src/simcore_service_api_server/modules/catalog.py
  services/catalog/src/simcore_service_catalog/db/repositories/groups.py
  services/catalog/src/simcore_service_catalog/models/domain/dag.py
  services/catalog/src/simcore_service_catalog/models/schemas/services.py
  services/invitations/VERSION
  services/invitations/openapi.json
  services/invitations/requirements/_base.in
  services/invitations/requirements/_base.txt
  services/invitations/requirements/_test.txt
  services/invitations/requirements/ci.txt
  services/invitations/requirements/dev.txt
  services/invitations/requirements/prod.txt
  services/invitations/setup.cfg
  services/invitations/src/simcore_service_invitations/api/_dependencies.py
  services/invitations/src/simcore_service_invitations/cli.py
  services/invitations/src/simcore_service_invitations/invitations.py
  services/web/server/src/simcore_service_webserver/email_handlers.py
  services/web/server/src/simcore_service_webserver/groups_handlers.py
  services/web/server/src/simcore_service_webserver/groups_models.py
  services/web/server/src/simcore_service_webserver/invitations_client.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/handlers_2fa.py
  services/web/server/src/simcore_service_webserver/login/handlers_auth.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/products_model.py
  services/web/server/src/simcore_service_webserver/projects/_project_models_rest.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/src/simcore_service_webserver/users_models.py
  services/web/server/tests/unit/with_dbs/01/test_groups.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_auth.py
Labels: a:webserver, a:catalog, a:apiserver, changelog:🐛bugfix, a:invitations

#4005 ♻️ director-v2 SchedulerData legacy data format update
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/tests/mocks/legacy_scheduler_data_format.json
Labels: changelog:♻️refactor

#3984 ✨Extends web-server OAS with nih-sparc specific entrypoints
  api/specs/webserver/openapi-admin.yaml
  api/specs/webserver/openapi-auth.yaml
  api/specs/webserver/openapi-nih-sparc.yaml
  api/specs/webserver/openapi-projects-ports.yaml
  api/specs/webserver/openapi-tags.yaml
  api/specs/webserver/openapi-viewer.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/Makefile
  api/specs/webserver/scripts/_common.py
  api/specs/webserver/scripts/openapi_nih_sparc.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_redirects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_rest.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/plugin.py
  services/web/server/tests/unit/with_dbs/01/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/01/test_studies_dispatcher_studies_access.py
Labels: a:webserver, a:api, changelog:✨new-feature

#4017 🐛CATALOG_SERVICES_DEFAULT_RESOURCES missing a S in docker-compose
  .env-devel
  services/docker-compose.yml
Labels: changelog:🐛bugfix

#4004 ♻️ Notifications cleanup
  api/specs/webserver/openapi-user.yaml
  api/specs/webserver/openapi.yaml
  services/static-webserver/client/source/class/osparc/component/notification/Notification.js
  services/static-webserver/client/source/class/osparc/component/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/component/notification/Notifications.js
  services/static-webserver/client/source/class/osparc/component/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/user_notifications.py
  services/web/server/src/simcore_service_webserver/users_handlers.py
  services/web/server/tests/unit/isolated/test_user_notifications.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Labels: a:webserver, changelog:♻️refactor

#3990 ✨Add simcore_user_agent and product_name to user service labels
  packages/models-library/src/models_library/docker.py
  packages/models-library/tests/test_docker.py
  packages/service-library/src/servicelib/aiohttp/monitoring.py
  packages/service-library/src/servicelib/common_headers.py
  packages/service-library/tests/aiohttp/test_monitoring.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/mocks/fake_scheduler_data.json
  services/director-v2/tests/mocks/fake_scheduler_data_compose_spec.json
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_specs.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/web/server/src/simcore_service_webserver/director/director_api.py
  services/web/server/src/simcore_service_webserver/director_v2_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/storage_handlers.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
  services/web/server/tests/unit/isolated/test_director_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
Labels: a:webserver, a:director-v2, changelog:✨new-feature

#4011 🎨Frontend: Update services from Dashboard UX
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudyBootOpts.js
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/component/notification/NotificationUI.js
Labels: a:frontend, changelog:🎨enhancement

#4003 🐛 Sometime docker timestamps are not parsed correctly
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/src/servicelib/docker_utils.py
  packages/service-library/tests/test_docker_utils.py
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_volume.py
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/invitations/requirements/_base.txt
  services/invitations/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: a:storage, a:webserver, a:services-library, a:catalog, a:director-v2, a:apiserver, a:dynamic-sidecar, a:dask-service, a:autoscaling, a:agent, a:invitations

#4024 ✨🗃️ Implements services listing for nih-portal (1/2) (⚠️ devops)
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/src/models_library/projects_nodes_io.py
  packages/models-library/src/models_library/projects_ui.py
  packages/postgres-database/VERSION
  packages/postgres-database/setup.cfg
  packages/postgres-database/src/simcore_postgres_database/migration/versions/4f9c8738178b_new_services_latest_table.py
  packages/postgres-database/src/simcore_postgres_database/models/services.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_services__meta_data.py
  services/catalog/setup.cfg
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_api_routes_services.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/rabbitmq.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_catalog.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_core.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_redirects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_rest.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/settings.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_core.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_settings.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/conftest.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_studies_access.py
Labels: t:enhancement, a:webserver, a:database, a:catalog, changelog:✨new-feature

#4033 🐛Dask: Handle when gateway is offline
  services/director-v2/src/simcore_service_director_v2/api/routes/clusters.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/osparc-gateway-server/.gitignore
Labels: changelog:🐛bugfix

#4038 ✨ Is683/view link can open a project with a single service (2/2)
  api/specs/webserver/openapi-nih-sparc.yaml
  api/specs/webserver/openapi.yaml
  packages/postgres-database/tests/test_services__meta_data.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_catalog.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_core.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_exceptions.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_models.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_redirects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_rest.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_core.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_projects.py
Labels: t:enhancement, a:webserver, changelog:✨new-feature

#4031 🎨 Frontend: Update services UX II
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudyBootOpts.js
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/component/node/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/component/node/BootOptionsView.js
  services/static-webserver/client/source/class/osparc/component/node/LifeCycleView.js
  services/static-webserver/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/static-webserver/client/source/class/osparc/component/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/StartStopButtons.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/static-webserver/client/source/class/osparc/utils/Services.js
  tests/e2e/s4l/sim4life-lite.js
Labels: a:frontend, changelog:🎨enhancement

#4041 🐛 filetypes in webserver API are case insensitive
  packages/postgres-database/src/simcore_postgres_database/errors.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/9014ae5fd6e5_checkconstraint_filetype.py
  packages/postgres-database/src/simcore_postgres_database/models/services_consume_filetypes.py
  packages/postgres-database/tests/test_services__meta_data.py
  packages/postgres-database/tests/test_services_consume_filetypes.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_services.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_redirects.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_handlers.py
Labels: a:webserver, changelog:🐛bugfix

#4045 🐛 Frontend: minors 30.03 RM
  services/static-webserver/client/source/class/osparc/Error.js
  services/static-webserver/client/source/class/osparc/ui/basic/LogoWPlatform.js
Labels: a:frontend, changelog:🐛bugfix

#4036 🐛🗃️ Dask gateway: clusters cannot be deleted after usage
  packages/postgres-database/src/simcore_postgres_database/migration/versions/9b97b12cfe47_set_cluster_id_to_null.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_runs.py
Labels: a:dask-service, changelog:🐛bugfix

#4049 🐛 fixes broken node progress
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
  services/web/server/tests/unit/isolated/test_computation_subscribe.py
Labels: t:maintenance, changelog:🐛bugfix
