Repository ITISFoundation/osparc-simcore, pull requests merged in 2023-12, with the labels that each got.

#5099 Fix env-var naming in docker-compose.yml
  services/docker-compose.yml
Labels: t:enhancement, a:director, t:maintenance, a:autoscaling

#5127 🐛 Fix project inactivity parsing inside webserver
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Labels: a:webserver

#5129 🐛Bugfix/autoscaling does not scale above limit
  packages/dask-task-models-library/src/dask_task_models_library/resource_constraints.py
  packages/dask-task-models-library/tests/test_resource_constraints.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
  services/autoscaling/src/simcore_service_autoscaling/utils/computational_scaling.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
Labels: a:autoscaling

#5126 🐛 🎨 Fix log lag and profiling middleware
  services/api-server/README.md
  services/api-server/src/simcore_service_api_server/api/dependencies/rabbitmq.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/core/_profiler_middleware.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/services/log_streaming.py
  services/api-server/tests/unit/test_services_rabbitmq.py
Labels: a:apiserver

#5134 🎨 Adds address+country as required in the request form
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
Labels: a:frontend

#5139 🎨 Update marker.io project ID to enable GitHub integration
  services/static-webserver/client/source/boot/index.html
Labels: a:frontend

#5142 🐛 e2e: update TIP test with new electrode selector tissue name
  tests/e2e/tutorials/ti-plan.js
Labels: a:frontend, e2e

#5141 ✨Clusters-keeper: allow for custom boot scripts (⚠️ devops)
  services/clusters-keeper/.env-devel
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/manual/README.md
  services/clusters-keeper/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/test_core_settings.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
  services/docker-compose.yml
Labels: a:clusters-keeper

#5145 🐛 Billing center: Various fixes
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/OneTimePayment.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Transactions.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethods.js
  services/web/server/src/simcore_service_webserver/payments/_onetime_api.py
Labels: bug, a:frontend

#5112 ✨add preference to allow data collections form services
  packages/models-library/src/models_library/shared_user_preferences.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects_networks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/user_preferences_frontend.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/static-webserver/client/source/class/osparc/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/BasePage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/static-webserver/client/source/class/osparc/theme/Font.js
  services/web/server/src/simcore_service_webserver/users/_preferences_db.py
  services/web/server/src/simcore_service_webserver/users/_preferences_models.py
Labels: a:webserver, a:director-v2

#5155 🐛 Less stringent regex for AWS tag value
  packages/aws-library/src/aws_library/ec2/models.py
Labels: a:autoscaling, a:clusters-keeper

#5158 🐛 Collaborators can save the state of a project
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/fixtures/data_models.py
  services/storage/tests/unit/test_dsm_dsmcleaner.py
  services/web/server/tests/integration/02/scicrunch/test_scicrunch__resolver.py
Labels: bug, High Priority, a:storage

#5111 🎨 UI updates - 🐛 bug fixes
  services/static-webserver/client/source/class/osparc/auth/core/BaseAuthPage.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/GroupedToggleButtonContainer.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/credits/ProfilePage.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/form/json/JsonSchemaFormItem.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsContainer.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
  services/static-webserver/client/source/class/osparc/widget/CollapsibleViewLight.js
  services/static-webserver/client/source/resource/common/common.css
Labels: bug, a:frontend, UI/UX

#5157 ♻️ `servicelib.fastapi` tools and `rabbitmq.rpc` errors interface
  .env-devel
  packages/models-library/src/models_library/api_schemas_payments/errors.py
  packages/service-library/src/servicelib/fastapi/app_state.py
  packages/service-library/src/servicelib/fastapi/http_client.py
  packages/service-library/src/servicelib/fastapi/httpx_utils.py
  packages/service-library/src/servicelib/rabbitmq/_client_rpc.py
  packages/service-library/src/servicelib/rabbitmq/_constants.py
  packages/service-library/src/servicelib/rabbitmq/_rpc_router.py
  packages/service-library/tests/fastapi/test_http_client.py
  packages/service-library/tests/fastapi/test_httpx_utils.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_router.py
  services/payments/src/simcore_service_payments/api/rest/_acknowledgements.py
  services/payments/src/simcore_service_payments/api/rest/_dependencies.py
  services/payments/src/simcore_service_payments/api/rpc/_payments.py
  services/payments/src/simcore_service_payments/api/rpc/_payments_methods.py
  services/payments/src/simcore_service_payments/core/errors.py
  services/payments/src/simcore_service_payments/db/auto_recharge_repo.py
  services/payments/src/simcore_service_payments/db/payments_methods_repo.py
  services/payments/src/simcore_service_payments/db/payments_transactions_repo.py
  services/payments/src/simcore_service_payments/services/notifier.py
  services/payments/src/simcore_service_payments/services/payments.py
  services/payments/src/simcore_service_payments/services/payments_gateway.py
  services/payments/src/simcore_service_payments/services/resource_usage_tracker.py
  services/payments/tests/unit/api/test__one_time_payment_workflows.py
  services/payments/tests/unit/api/test__payment_method_workflows.py
  services/payments/tests/unit/api/test_rest_acknowledgements.py
  services/payments/tests/unit/test_rpc_payments.py
  services/payments/tests/unit/test_rpc_payments_methods.py
  services/web/server/src/simcore_service_webserver/payments/_methods_api.py
  services/web/server/src/simcore_service_webserver/payments/_onetime_api.py
  services/web/server/src/simcore_service_webserver/payments/_tasks.py
  services/web/server/src/simcore_service_webserver/payments/errors.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
Labels: a:services-library, a:payments

#5162 ✨Monitoring tools: CLI to monitor what is going on
  scripts/maintenance/computational-clusters/README.md
  scripts/maintenance/computational-clusters/osparc_clusters.py
  scripts/maintenance/requirements.txt
Labels: a:infra+ops

#5164 🐛Computational backend: ensure log level is set properly + increased tracing
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/docker-compose.yml
Labels: a:clusters-keeper

#5163 ✨Computational backend: timeout pipeline if WAITING_FOR_CLUSTER state takes more than 10 minutes
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
Labels: a:director-v2

#5165 ✨Monitoring tools: show more information about computational clusters
  scripts/maintenance/computational-clusters/Makefile
  scripts/maintenance/computational-clusters/osparc_clusters.py
  scripts/maintenance/computational-clusters/requirements.txt
Labels: a:infra+ops

#5166 :wave: remove codeclimate
  .codeclimate.yml
  .github/CODEOWNERS
  .gitignore
  Makefile
  scripts/code-climate.bash
  scripts/common.Makefile
  scripts/maintenance/computational-clusters/osparc_clusters.py
Labels: a:infra+ops

#5171 ✨ Extending logging while starting new style dynamic services
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
Labels: a:director-v2

#5173 ⬆️ tools repo-wide upgrade
  packages/aws-library/requirements/_test.txt
  packages/aws-library/requirements/_tools.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/dask-task-models-library/requirements/_test.txt
  packages/dask-task-models-library/requirements/_tools.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_tools.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_tools.txt
  packages/settings-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_tools.txt
  services/agent/requirements/_tools.txt
  services/api-server/requirements/_tools.txt
  services/autoscaling/requirements/_test.txt
  services/autoscaling/requirements/_tools.txt
  services/catalog/requirements/_tools.txt
  services/clusters-keeper/requirements/_tools.txt
  services/dask-sidecar/requirements/_tools.txt
  services/datcore-adapter/requirements/_tools.txt
  services/director-v2/requirements/_tools.txt
  services/dynamic-scheduler/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/invitations/requirements/_tools.txt
  services/migration/requirements/_tools.txt
  services/osparc-gateway-server/requirements/_tools.txt
  services/osparc-gateway-server/tests/system/requirements/_tools.txt
  services/payments/requirements/_tools.txt
  services/resource-usage-tracker/requirements/_tools.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_tools.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: a:infra+ops

#5089 ✨ dynamic services with pricing plans add labels for autoscaling
  packages/models-library/src/models_library/resource_tracker.py
  packages/models-library/tests/test_resource_tracker.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/resource_usage_tracker_client.py
  services/director-v2/tests/integration/02/conftest.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/dynamic-sidecar/docker/entrypoint.sh
Labels: a:director-v2

#5161 ✨Adds reserved disk space to dynamic-sidecar
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_scheduler.py
  services/director-v2/src/simcore_service_director_v2/cli/__init__.py
  services/director-v2/src/simcore_service_director_v2/cli/_client.py
  services/director-v2/src/simcore_service_director_v2/cli/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/with_dbs/test_cli.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_routing.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/disk.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/reserved_space.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_disk.py
  services/dynamic-sidecar/tests/unit/test_core_reserved_space.py
Labels: a:director-v2, a:dynamic-sidecar

#5174 🐛 fix dynamic-sidecar inactivity response when user service reply is not formatted correctly
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
Labels: bug, a:dynamic-sidecar

#5175 ♻️ disable noisy logger for background tasks form dynamic sidecar
  packages/service-library/src/servicelib/background_task.py
Labels: a:dynamic-sidecar

#5168 ♻️ do not send heartbeat as soon as the service is started
  packages/service-library/src/servicelib/background_task.py
  packages/service-library/src/servicelib/decorators.py
  packages/service-library/tests/test_decorators.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_base.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/resource_tracking/_core.py
  services/dynamic-sidecar/tests/unit/test_api_workflow_service_metrics.py
Labels: a:services-library, a:dynamic-sidecar

#5176 🎨 Add retries to storage client inside nodeports
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/storage_client.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_storage_client.py
Labels: a:dynamic-sidecar

#5167 🐛e2e testing: replacement of sleepers using Playwright (preparation for upscaling of ext clusters)
  .github/CODEOWNERS
  packages/pytest-simcore/src/pytest_simcore/playwright_utils.py
  scripts/maintenance/computational-clusters/osparc_clusters.py
  tests/e2e-playwright/Makefile
  tests/e2e-playwright/requirements/Makefile
  tests/e2e-playwright/requirements/_base.in
  tests/e2e-playwright/requirements/_base.txt
  tests/e2e-playwright/requirements/_test.in
  tests/e2e-playwright/requirements/_test.txt
  tests/e2e-playwright/requirements/_tools.in
  tests/e2e-playwright/requirements/_tools.txt
  tests/e2e-playwright/requirements/dev.txt
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/resource_usage_tracker.py
  tests/e2e-playwright/tests/sim4life.py
  tests/e2e-playwright/tests/sleepers.py
Labels: a:autoscaling

#5136 ♻️track via `dynamic-scheduler` ⚠️
  .vscode/launch.template.json
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
  packages/service-library/src/servicelib/aiohttp/client_session.py
  packages/service-library/src/servicelib/fastapi/http_client.py
  packages/service-library/src/servicelib/fastapi/http_client_thin.py
  packages/service-library/tests/fastapi/test_http_client.py
  packages/service-library/tests/fastapi/test_http_client_thin.py
  packages/settings-library/src/settings_library/director_v2.py
  services/director-v2/src/simcore_service_director_v2/cli/_client.py
  services/director-v2/src/simcore_service_director_v2/cli/_close_and_save_service.py
  services/director-v2/src/simcore_service_director_v2/cli/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler_utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_core_events.py
  services/docker-compose.devel.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/routes.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_public_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_thin_client.py
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
  services/payments/src/simcore_service_payments/services/payments_gateway.py
  services/payments/src/simcore_service_payments/services/resource_usage_tracker.py
  services/payments/tests/unit/test_services_payments_gateway.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/director_v2/api.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/__init__.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/_rpc.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/plugin.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/settings.py
  services/web/server/src/simcore_service_webserver/payments/_rpc.py
  services/web/server/src/simcore_service_webserver/payments/plugin.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/rabbitmq.py
  services/web/server/tests/unit/isolated/test_dynamic_scheduler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, a:director-v2

#5130 ✨ Inactivity (front-end part)
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditorIdlingTracker.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
Labels: a:frontend

#5172 🐛 Cannot share study and 🎨 Various style fixes
  services/static-webserver/client/source/class/osparc/data/Roles.js
  services/static-webserver/client/source/class/osparc/desktop/ControlsBar.js
  services/static-webserver/client/source/class/osparc/desktop/Toolbar.js
  services/static-webserver/client/source/class/osparc/desktop/credits/ProfilePage.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsButton.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/ColorLight.js
  services/static-webserver/client/source/class/osparc/ui/form/PasswordField.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
Labels: bug, UI/UX

#5188 🐛 fix issue with pulling inputs for GUEST users
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/inputs.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_api_containers_long_running_tasks.py
Labels: bug, a:director-v2, a:dynamic-sidecar

#5191 🐛 Bring back progress for duplicating studies
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonPlaceholder.js
Labels: bug, a:frontend

#5194 ♻️ Aligned default timeout with the old client
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/dynamic_scheduler/services.py
Labels: a:webserver, a:dynamic-sidecar

#5189 ✨Dynamic backend: Allow the use of EC2 instance types and properly fuse their resources
  .github/workflows/ci-testing-deploy.yml
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/integration/02/conftest.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/web/server/src/simcore_service_webserver/projects/_project_nodes_pricing_unit_handlers.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/users/_preferences_api.py
  services/web/server/tests/unit/with_dbs/02/test_project_nodes_pricing_unit_handlers.py
Labels: a:webserver, a:director-v2

#5196 🐛Dynamic scheduler is using the wrong information for hardware info
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
Labels: a:director-v2

#5197 ⚗️Dynamic backend: need more CPUs for dy-proxy
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: a:webserver

#5195 🐛⚗️Computational backend: tasks in UNKNOWN state are sometimes only temporarily in that state
  .github/workflows/ci-testing-deploy.yml
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/utils/comp_scheduler.py
Labels: a:director-v2

#5193 ✨ Add metrics endpoint to api server (⚠️ DEVOPS)
  services/api-server/requirements/_base.in
  services/api-server/requirements/_base.txt
  services/api-server/src/simcore_service_api_server/core/_prometheus_instrumentation.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/settings.py
Labels: a:apiserver

#5200 🐛 Studies cant be opened
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
Labels: bug, a:frontend, UX_improvements

#5202 🎨 xmas image
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/resource/osparc/Santa_Billie.png
Labels: a:frontend, UX_improvements

#5205 🐛Hotfix: Dynamic-backend shall work even if resources were initially empty
  services/web/server/src/simcore_service_webserver/projects/_project_nodes_pricing_unit_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: a:webserver

#5204 🎨Improving computational clusters cli monitoring tool
  scripts/maintenance/computational-clusters/README.md
  scripts/maintenance/computational-clusters/osparc_clusters.py
  scripts/maintenance/computational-clusters/requirements.txt
Labels: a:infra+ops

#5201 🐛Clusters-keeper: calling >100 times for the same new cluster now returns cached information
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/clusters_keeper/clusters.py
  services/clusters-keeper/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/test_rpc_clusters.py
Labels: a:director-v2, a:clusters-keeper
