Repository ITISFoundation/osparc-simcore, pull requests merged in 2023-01, with the labels that each got.

#3728 🐛 Fixes: Load More card, Cookie text, Text on Tag and Edit template
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
  services/static-webserver/client/source/class/osparc/component/form/ColorPicker.js
  services/static-webserver/client/source/class/osparc/component/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonLoadMore.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/ToggleButtonContainer.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/ui/basic/Tag.js
Labels: a:frontend, changelog:🐛bugfix

#3730 🐛✨ Cookie text, Fit thumbnail height and hide Classifiers from s4l-lite
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
Labels: a:frontend

#3731 Is765/product group and vendor (🗃️ DB change)
  api/specs/webserver/components/schemas/group.yaml
  packages/postgres-database/setup.cfg
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/postgres-database/src/simcore_postgres_database/utils_products.py
  packages/postgres-database/tests/products/test_utils_products.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/groups.py
  services/web/server/src/simcore_service_webserver/groups_api.py
  services/web/server/src/simcore_service_webserver/groups_handlers.py
  services/web/server/src/simcore_service_webserver/groups_models.py
  services/web/server/src/simcore_service_webserver/products.py
  services/web/server/src/simcore_service_webserver/products_events.py
  services/web/server/src/simcore_service_webserver/products_model.py
  services/web/server/tests/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa_resend.py
  services/web/server/tests/unit/with_dbs/03/test_products_db.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, a:api, a:database

#3734 ✨ Frontend: Product group
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/component/permissions/Permissions.js
  services/static-webserver/client/source/class/osparc/component/permissions/PublishTemplateWith.js
  services/static-webserver/client/source/class/osparc/component/study/SaveAsTemplate.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/MemberListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/OrganizationListItem.js
  services/static-webserver/client/source/class/osparc/utils/Icons.js
Labels: a:frontend, changelog:✨new-feature, changelog:🎨enhancement

#3740 🐛 Fix/storage skip invalid projects while listing
  services/storage/src/simcore_service_storage/db_projects.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Labels: changelog:🐛bugfix

#3737 🐛⚗️ Bugfix/is3531/try disabling keep alive when uploading
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/client_session_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_file_io_utils.py
Labels: changelog:🐛bugfix

#3745 ✨ Add capability to use basicauth flags to e2e puppeteer
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Kember.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/publications/Voila.js
  tests/e2e/s4l/sim4life-dipole.js
  tests/e2e/s4l/sim4life-lite.js
  tests/e2e/s4l/sim4life.js
  tests/e2e/tutorials/isolve-gpu.js
  tests/e2e/tutorials/isolve-mpi.js
  tests/e2e/tutorials/jupyterlabs.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/ti-plan.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/utils.js
Labels: a:infra+ops, e2e

#3744 ✨ Contact-Us message for "product-stranger" users
  services/static-webserver/client/source/class/osparc/About.js
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ClustersPage.js
  services/web/server/src/simcore_service_webserver/statics_settings.py
Labels: a:frontend, changelog:✨new-feature

#3748 ✨Frontend: Update all templates
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/component/service/ServiceButtonList.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/store/Support.js
Labels: a:frontend, changelog:✨new-feature

#3727 🐛 Fix/dynamic sidecar with self signed certificates
  packages/models-library/src/models_library/aiodocker_api.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: a:infra+ops, bug, a:sidecar, a:director-v2, a:dynamic-sidecar, enhancement

#3724 ✨ more flexible dynamic scheduler internals
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_action.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_context_base.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_context_in_memory.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_marker.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_models.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_workflow.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_workflow_context.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_workflow_runner.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_workflow_runner_manager.py
  services/director-v2/tests/unit/dynamic_scheduler/conftest.py
  services/director-v2/tests/unit/dynamic_scheduler/test_modules_dynamic_sidecar_scheduler__core2.py
  services/director-v2/tests/unit/dynamic_scheduler/test_modules_dynamic_sidecar_scheduler__core2__action.py
  services/director-v2/tests/unit/dynamic_scheduler/test_modules_dynamic_sidecar_scheduler__core2__context_base.py
  services/director-v2/tests/unit/dynamic_scheduler/test_modules_dynamic_sidecar_scheduler__core2__context_in_memory.py
  services/director-v2/tests/unit/dynamic_scheduler/test_modules_dynamic_sidecar_scheduler__core2__marker.py
  services/director-v2/tests/unit/dynamic_scheduler/test_modules_dynamic_sidecar_scheduler__core2__workflow_context.py
  services/director-v2/tests/unit/dynamic_scheduler/test_modules_dynamic_sidecar_scheduler__core2__workflow_runner_manager.py
  services/director-v2/tests/unit/dynamic_scheduler/test_modules_dynamic_sidecar_scheduler__core2_workflow.py
Labels: changelog:✨new-feature

#3751 🐛 fixes flaky tests/unit/with_dbs/test_modules_redis.py::test_acquire_all_available_node_locks_stress_test
  services/director-v2/src/simcore_service_director_v2/modules/node_rights.py
  services/director-v2/tests/unit/with_dbs/test_modules_redis.py
Labels: a:director-v2, changelog:🐛bugfix

#3753 🐛 Is823/Fixes password reset
  services/web/server/src/simcore_service_webserver/login/_confirmation.py
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/routes.py
Labels: changelog:🐛bugfix

#3750 ✨ Frontend: Add email as User in product-everyone and Promote/Demote actions
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
  services/static-webserver/client/source/class/osparc/ui/list/MemberListItem.js
Labels: a:frontend, changelog:🎨enhancement

#3758 🐛 Bugfixes Frontend: Support null Tag description & Managers can Edit organization details
  services/static-webserver/client/source/class/osparc/component/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/ui/list/MemberListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/OrganizationListItem.js
  services/static-webserver/client/source/class/osparc/utils/Study.js
Labels: a:frontend, changelog:🐛bugfix

#3761 🐛 Bugfix: Anonymous start
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/utils/Clusters.js
Labels: a:frontend, changelog:🐛bugfix

#3757 🐛 agent handles volumes with labels set to None
  services/agent/src/simcore_service_agent/modules/volumes_cleanup/_docker.py
  services/agent/tests/conftest.py
  services/agent/tests/unit/test_modules_volumes_cleanup_docker.py
  services/agent/tests/unit/test_modules_volumes_clenup_docker.py
Labels: changelog:🐛bugfix, a:agent

#3755 ♻️ Fixing interface of WorkflowRunnerManager
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_context_base.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_context_in_memory.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_workflow_context.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_workflow_runner_manager.py
  services/director-v2/tests/unit/dynamic_scheduler/conftest.py
  services/director-v2/tests/unit/dynamic_scheduler/test_modules_dynamic_sidecar_scheduler__core2.py
  services/director-v2/tests/unit/dynamic_scheduler/test_modules_dynamic_sidecar_scheduler__core2__context_in_memory.py
  services/director-v2/tests/unit/dynamic_scheduler/test_modules_dynamic_sidecar_scheduler__core2__workflow_context.py
  services/director-v2/tests/unit/dynamic_scheduler/test_modules_dynamic_sidecar_scheduler__core2__workflow_runner.py
  services/director-v2/tests/unit/dynamic_scheduler/test_modules_dynamic_sidecar_scheduler__core2__workflow_runner_manager.py
Labels: a:director-v2, changelog:♻️refactor

#3763 🐛 Frontend: Hide Loading Page
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
Labels: a:frontend, changelog:🐛bugfix

#3760 🐛 Fixes webserver API: fails with null tag's descriptions
  api/specs/webserver/openapi-tags.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/openapi_tags.py
  packages/postgres-database/src/simcore_postgres_database/utils_tags.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: a:webserver, changelog:🐛bugfix

#3759 ✨ login-settings customizable per product (🗃️ DB change)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/10b293fdcd56_alters_product_login_settings.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/service-library/src/servicelib/utils_secrets.py
  packages/service-library/tests/test_utils_secrets.py
  services/static-webserver/client/source/class/osparc/auth/ui/Login2FAValidationCodeView.js
  services/web/server/src/simcore_service_webserver/login/_2fa.py
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/login/handlers_2fa.py
  services/web/server/src/simcore_service_webserver/login/handlers_auth.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/login/settings.py
  services/web/server/src/simcore_service_webserver/products.py
  services/web/server/src/simcore_service_webserver/products_events.py
  services/web/server/src/simcore_service_webserver/products_model.py
  services/web/server/tests/unit/isolated/test_login_settings.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa_resend.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
Labels: t:enhancement, a:webserver, changelog:✨new-feature

#3747 ✨🐛 Autoscaling: async creation of machines
  services/autoscaling/src/simcore_service_autoscaling/core/errors.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_dynamic_scaling_core.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/autoscaling/tests/unit/test_utils_docker.py
Labels: changelog:🎨enhancement, changelog:🐛bugfix

#3765 ✨ Frontend wording: Study/Project and Template/Tutorial
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:🎨enhancement

#3768 ✨ Maintenance scheduler
  api/specs/webserver/openapi-diagnostics.yaml
  packages/settings-library/src/settings_library/redis.py
  services/docker-compose-ops.yml
  services/docker-compose.yml
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/component/message/FlashMessenger.js
  services/static-webserver/client/source/class/osparc/component/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/component/notification/Notifications.js
  services/static-webserver/client/source/class/osparc/component/notification/NotificationsButton.js
  services/static-webserver/client/source/class/osparc/component/task/TasksButton.js
  services/static-webserver/client/source/class/osparc/data/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/ui/message/FlashMessage.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/redis.py
  services/web/server/src/simcore_service_webserver/redis_constants.py
  services/web/server/src/simcore_service_webserver/rest_handlers.py
Labels: a:frontend, changelog:✨new-feature

#3772 🐛 Fixes invitation_required value in /config
  services/web/server/src/simcore_service_webserver/_constants.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/rest_handlers.py
  services/web/server/tests/unit/isolated/test_rest.py
Labels: a:webserver, changelog:🐛bugfix

#3771 🐛 observation cycle cancellation
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/tests/conftest.py
Labels: a:director-v2, changelog:🐛bugfix

#3766 🐛 Service data is now saved based on project permissions
  services/web/server/src/simcore_service_webserver/garbage_collector.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/redis.py
  services/web/server/tests/unit/with_dbs/02/test_project_db.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
Labels: a:webserver, changelog:🐛bugfix

#3762 ⬆️ Update e2e packages
  tests/e2e/custom-jest-setup.ts
  tests/e2e/jest.config.js
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/s4l/sim4life-lite.js
  tests/e2e/tests/register.test.js
  tests/e2e/tests/startupCalls.test.js
  tests/e2e/utils/auto.js
Labels: t:maintenance

#3769 ✨ Enhancement/dynamic sidecar/add progress pulling services
  packages/models-library/src/models_library/basic_regex.py
  packages/models-library/src/models_library/docker.py
  packages/models-library/tests/test_docker.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_core_docker_compose_utils.py
  services/dynamic-sidecar/tests/unit/test_core_docker_utils.py
Labels: changelog:🎨enhancement

#3782 🐛✨ Bugfixed and enhanced organization member promoting/demoting
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/MemberListItem.js
Labels: a:frontend, changelog:🎨enhancement, changelog:🐛bugfix

#3775 🐛 Login: Fixes ``Unauthorized`` during resend-code
  packages/pytest-simcore/src/pytest_simcore/environment_configs.py
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/login/handlers_2fa.py
  services/web/server/src/simcore_service_webserver/login/handlers_auth.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/session_access.py
  services/web/server/src/simcore_service_webserver/session_settings.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/test_session_access.py
Labels: a:webserver, changelog:🐛bugfix

#3785 ✨ Maintenance Tracker II
  services/static-webserver/client/source/class/osparc/component/message/FlashMessenger.js
  services/static-webserver/client/source/class/osparc/component/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/component/notification/Notifications.js
  services/static-webserver/client/source/class/osparc/data/MaintenanceTracker.js
Labels: changelog:🎨enhancement

#3773 ✨ Enhancement/improve progress messages
  packages/models-library/src/models_library/basic_regex.py
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/models-library/src/models_library/utils/enums.py
  packages/models-library/tests/test_utils_enums.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/projects_networks.py
  services/dynamic-sidecar/Dockerfile
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
  services/web/server/src/simcore_service_webserver/socketio/events.py
Labels: changelog:🎨enhancement

#3767 ✨ Is3683/invitations webserver check
  Makefile
  README.md
  services/api-server/src/simcore_service_api_server/utils/client_base.py
  services/invitations/Makefile
  services/invitations/README.md
  services/invitations/src/simcore_service_invitations/cli.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/invitations.py
  services/web/server/src/simcore_service_webserver/invitations_client.py
  services/web/server/src/simcore_service_webserver/invitations_core.py
  services/web/server/src/simcore_service_webserver/invitations_settings.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/tests/unit/with_dbs/03/test_invitations.py
Labels: a:webserver

#3544 ✨ Idle timer: close study after 30'
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditorIdlingTracker.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:✨new-feature

#3786 ```nodeProgress``` in frontend
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Labels: a:frontend, changelog:✨new-feature

#3792 ✨ Study/Template/Service permissions
  services/static-webserver/client/source/class/osparc/component/node/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/component/permissions/Permissions.js
  services/static-webserver/client/source/class/osparc/component/permissions/Service.js
  services/static-webserver/client/source/class/osparc/component/permissions/Study.js
  services/static-webserver/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/MemberListItem.js
Labels: a:frontend, changelog:🎨enhancement

#3796 ✨ Sort Tags alphabetically
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Labels: a:frontend, changelog:🎨enhancement

#3798 🐛 Fix broken output ports
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_port.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_manager.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_event_filter.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_manager.py
Labels: bug, a:dynamic-sidecar

#3795 🐛 Fixes is3793: error while pulling images
  .vscode/extensions.json
  services/dynamic-sidecar/setup.cfg
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_utils.py
  services/dynamic-sidecar/tests/unit/test_core_docker_utils.py
  services/web/server/src/simcore_service_webserver/session_access.py
Labels: a:dynamic-sidecar, changelog:🐛bugfix

#3790 ✨Autoscaling: have a buffer of machines always ready (episode I) (⚠️ devops)
  services/autoscaling/src/simcore_service_autoscaling/api/health.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/dynamic_scaling.py
  services/autoscaling/src/simcore_service_autoscaling/utils/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_dynamic_scaling_core.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/autoscaling/tests/unit/test_utils_dynamic_scaling.py
Labels: a:autoscaling

#3801 Frontend wording I
  services/static-webserver/client/source/class/osparc/auth/core/Utils.js
  services/static-webserver/client/source/class/osparc/component/permissions/Permissions.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/BasePage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ExperimentalPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/SecurityPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/utils/Services.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:🎨enhancement

#3806 ✨Frontend UX: Enhance registration/login process
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/ui/Login2FAValidationCodeView.js
  services/static-webserver/client/source/class/osparc/auth/ui/VerifyPhoneNumberView.js
  services/static-webserver/client/source/class/osparc/component/task/TaskUI.js
  services/static-webserver/client/source/class/osparc/component/task/TasksButton.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
  services/static-webserver/client/source/class/osparc/ui/basic/LogoWPlatform.js
  services/static-webserver/client/source/class/osparc/utils/LibVersions.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, UX_improvements, changelog:🎨enhancement

#3799 ✨ Autoscaling: buffer machines Episode II (⚠️ devops)
  Makefile
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/dynamic_scaling.py
  services/autoscaling/src/simcore_service_autoscaling/utils/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/test_dynamic_scaling_core.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/autoscaling/tests/unit/test_utils_dynamic_scaling.py
  services/autoscaling/tests/unit/test_utils_ec2.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
Labels: changelog:🎨enhancement, a:autoscaling

#3809 🐛 bugfix: Add dynamic service to workbench
  services/static-webserver/client/source/class/osparc/data/model/Node.js
Labels: a:frontend, changelog:🐛bugfix

#3807 ✨ Frontend: Notify New Release
  services/static-webserver/client/source/boot/index.html
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/NewRelease.js
  services/static-webserver/client/source/class/osparc/component/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TesterPage.js
  services/static-webserver/client/source/class/osparc/ui/basic/LinkLabel.js
  services/static-webserver/client/source/class/osparc/utils/LibVersions.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: a:frontend, changelog:✨new-feature

#3811 ✨🐛 Frontend: Improve orgs and members sorting
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonPlaceholder.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/MemberListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/OrganizationListItem.js
  services/static-webserver/client/source/class/osparc/ui/window/Confirmation.js
Labels: a:frontend, changelog:🎨enhancement, changelog:🐛bugfix

#3814 ✨ Feature: Maintenance Notification on ribbon
  services/static-webserver/client/source/class/osparc/component/node/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/component/notification/Notification.js
  services/static-webserver/client/source/class/osparc/component/notification/NotificationsRibbon.js
  services/static-webserver/client/source/class/osparc/component/permissions/PublishTemplateWith.js
  services/static-webserver/client/source/class/osparc/component/permissions/Service.js
  services/static-webserver/client/source/class/osparc/component/permissions/Study.js
  services/static-webserver/client/source/class/osparc/component/task/TasksButton.js
  services/static-webserver/client/source/class/osparc/component/widget/SlideBar.js
  services/static-webserver/client/source/class/osparc/data/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/static-webserver/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
  services/static-webserver/client/source/class/osparc/utils/StatusUI.js
  services/static-webserver/client/source/class/osparc/viewer/MainPage.js
Labels: a:frontend, changelog:🎨enhancement

#3817 🐛 freezes migration service requirements
  packages/postgres-database/requirements/_migration.in
  services/director-v2/src/simcore_service_director_v2/core/events.py
  services/director-v2/src/simcore_service_director_v2/meta.py
  services/migration/Dockerfile
  services/migration/docker/entrypoint.sh
  services/web/server/src/simcore_service_webserver/_meta.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/diagnostics_monitoring.py
Labels: dependencies, python, changelog:🐛bugfix

#3818 ✨ Frontend: Increase light theme's contrast
  services/static-webserver/client/source/class/osparc/component/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/zmt/ColorLight.js
  services/static-webserver/client/source/class/osparc/ui/basic/Tag.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:🎨enhancement

#3819 ✨ Frontend: About product
  services/static-webserver/client/source/class/osparc/About.js
  services/static-webserver/client/source/class/osparc/AboutProduct.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  tests/e2e/tutorials/ti-plan.js
Labels: a:frontend, changelog:🎨enhancement

#3606 ✨block all user services outgoing traffic with exceptions
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/tests/test_service_settings_labels.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e84904303e2b_adding_groups_extra_properties_table.py
  packages/postgres-database/src/simcore_postgres_database/models/groups_extra_properties.py
  packages/service-integration/src/service_integration/osparc_config.py
  packages/service-integration/tests/data/docker-compose-meta.yml
  packages/service-integration/tests/test_compose_spec_model.py
  packages/service-integration/tests/test_osparc_config.py
  packages/service-library/src/servicelib/docker_constants.py
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/groups_extra_properties.py
  services/director-v2/src/simcore_service_director_v2/modules/db/tables.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_egress_config.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/mocks/working_envy_proxy_config.yaml
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_egress_config.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_db_repositories_groups_extra_properties.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/with_dbs/test_modules_redis.py
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_api_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_core_validation.py
Labels: changelog:✨new-feature

#3821 🐛 Removing overlay from docker-compose spec
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_egress_config.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_api_containers_long_running_tasks.py
Labels: a:director-v2, a:dynamic-sidecar, changelog:🐛bugfix

#3823 📝 Frontend: Text review
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/component/permissions/Permissions.js
  services/static-webserver/client/source/class/osparc/component/permissions/PublishTemplateWith.js
  services/static-webserver/client/source/class/osparc/component/tutorial/SlideBase.js
  services/static-webserver/client/source/class/osparc/component/tutorial/s4llite/Dashboard.js
  services/static-webserver/client/source/class/osparc/component/tutorial/s4llite/S4LLiteSpecs.js
  services/static-webserver/client/source/class/osparc/component/tutorial/s4llite/S4LLiteUI.js
  services/static-webserver/client/source/class/osparc/component/tutorial/s4llite/Welcome.js
  services/static-webserver/client/source/class/osparc/component/tutorial/ti/Welcome.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/resource/osparc/tutorial/s4llite/Dashboard-Projects.png
  services/static-webserver/client/source/resource/osparc/tutorial/s4llite/Dashboard-Tutorials.png
  services/static-webserver/client/source/resource/osparc/tutorial/s4llite/S4LLiteUI.png
Labels: a:frontend, changelog:🎨enhancement

#3824 ✨ Frontend: Progress bar for scaling up
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
Labels: a:frontend, changelog:🎨enhancement
