Repository ITISFoundation/osparc-simcore, pull requests merged in 2023-05, with the labels that each got.

#4171 ⬆️ Maintenance/upgrade of `httpx` library
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/tests/unit/api_solvers/conftest.py
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/invitations/requirements/_test.txt
Labels: t:maintenance

#4181 🐛Autoscaling: fix out of sequence error
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/test_utils_docker.py
Labels: a:autoscaling

#4164 🐛 fix flaky test --> add minimum wait time that is large enough
  services/dynamic-sidecar/tests/unit/test_modules_outputs_watcher.py
Labels: bug

#4182 🐛 Fixes broken migrated_pg_tables_context
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_postgres.py
Labels: t:maintenance, changelog:🐛bugfix

#4123 🐛 Fix minor bugs in project plugin and director
  .pre-commit-config.yaml
  Makefile
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  packages/models-library/src/models_library/rest_pagination.py
  packages/models-library/src/models_library/services.py
  scripts/demo-meta/osparc_webapi.py
  scripts/demo/create_portal_markdown.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/director-v2/src/simcore_service_director_v2/cli/_client.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
  services/director/src/simcore_service_director/config.py
  services/director/src/simcore_service_director/producer.py
  services/invitations/src/simcore_service_invitations/cli.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/src/simcore_service_webserver/statics_settings.py
Labels: t:maintenance, changelog:🐛bugfix

#4176 ♻️ Refactor exception messages in director-v2
  packages/service-library/src/servicelib/exception_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_core_events.py
Labels: t:maintenance, a:director-v2

#4043 ✨ Link to dispatch study with file-only and 🐛 fixes download link
  api/specs/webserver/scripts/openapi_nih_sparc.py
  packages/models-library/src/models_library/utils/pydantic_tools_extension.py
  packages/service-library/src/servicelib/aiohttp/requests_validation.py
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/__init__.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_catalog.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_constants.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_core.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_errors.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_exceptions.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_models.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_redirects_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_rest_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_redirects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/plugin.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/settings.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_core.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_models.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_settings.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_studies_access.py
Labels: a:webserver

#4178 🐛/study entrypoint missing call to update comp_tasks DB
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
Labels: a:webserver

#4184 ♻️ Dask sidecar: replaced minio test requirements with moto
  ci/github/system-testing/swarm-deploy.bash
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_test.in
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_file_utils.py
  services/dask-sidecar/tests/unit/test_tasks.py
  tests/swarm-deploy/conftest.py
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/test_frontend_served.py
  tests/swarm-deploy/test_stack_deploy.py
Labels: a:dask-service

#4190 ♻️ `webserver`: fixes mypy issues in `statics` plugin
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/products/_events.py
  services/web/server/src/simcore_service_webserver/products/_model.py
  services/web/server/src/simcore_service_webserver/statics/__init__.py
  services/web/server/src/simcore_service_webserver/statics/_constants.py
  services/web/server/src/simcore_service_webserver/statics/_events.py
  services/web/server/src/simcore_service_webserver/statics/_handlers.py
  services/web/server/src/simcore_service_webserver/statics/plugin.py
  services/web/server/src/simcore_service_webserver/statics/settings.py
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/unit/isolated/test_products_middlewares.py
  services/web/server/tests/unit/isolated/test_statics.py
  services/web/server/tests/unit/isolated/test_statics_settings.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_utils_emails.py
Labels: t:maintenance

#4173 🐛 Minor fix: adding ``log_format_local_dev_enabled`` env-var to the dynamic sidecar
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: t:maintenance

#4188 ♻️ `webserver`: fixes mypy issues in `studies_dispatcher` plugin
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_core.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_models.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_redirects_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_rest_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/settings.py
Labels: t:maintenance

#4166 ✨Rabbitmq: use TOPIC Exchange for logs
  packages/models-library/src/models_library/basic_types.py
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/service-library/src/servicelib/rabbitmq.py
  packages/service-library/tests/test_rabbitmq.py
  packages/service-library/tests/test_rabbitmq_connection.py
  services/autoscaling/src/simcore_service_autoscaling/modules/rabbitmq.py
  services/autoscaling/tests/unit/test_modules_rabbitmq.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/projects_networks.py
  services/docker-compose.local.yml
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/web/server/src/simcore_service_webserver/director_v2_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_consumers.py
  services/web/server/tests/integration/02/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/integration/02/test_rabbit.py
Labels: a:webserver, a:services-library, a:director-v2, a:dynamic-sidecar

#4193 e2e: SarValidation test
  tests/e2e/publications/SarValidation.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/responsesQueue.js
  tests/e2e/utils/utils.js
Labels: e2e

#4195 🐛 Fix flaky test_lock_acquired_in_parallel_to_update_same_resource
  packages/service-library/src/servicelib/redis.py
Labels: a:services-library, t:maintenance

#4196 ♻️ `webserver`: fixes mypy issues in `invitations` plugin
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/invitations/__init__.py
  services/web/server/src/simcore_service_webserver/invitations/_client.py
  services/web/server/src/simcore_service_webserver/invitations/_core.py
  services/web/server/src/simcore_service_webserver/invitations/errors.py
  services/web/server/src/simcore_service_webserver/invitations/plugin.py
  services/web/server/src/simcore_service_webserver/invitations/settings.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/03/invitations/conftest.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_invitations.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_login_registration_invitations.py
Labels: a:webserver, t:maintenance

#4194 ✅ Maintenance: adds session-scoped fixture for httpbin service
  packages/pytest-simcore/src/pytest_simcore/httpbin_service.py
  packages/simcore-sdk/setup.cfg
  services/api-server/tests/conftest.py
  services/api-server/tests/unit/test_utils_http_calls_capture.py
  services/storage/setup.cfg
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_utils.py
  services/web/server/setup.cfg
Labels: t:maintenance

#4186 ♻️ `webserver`: fixes mypy issues in `director_v2` plugin
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/clusters/handlers.py
  services/web/server/src/simcore_service_webserver/clusters/plugin.py
  services/web/server/src/simcore_service_webserver/diagnostics/_handlers.py
  services/web/server/src/simcore_service_webserver/director_v2/__init__.py
  services/web/server/src/simcore_service_webserver/director_v2/_abc.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_base.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_computations.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_utils.py
  services/web/server/src/simcore_service_webserver/director_v2/_handlers.py
  services/web/server/src/simcore_service_webserver/director_v2/_models.py
  services/web/server/src/simcore_service_webserver/director_v2/api.py
  services/web/server/src/simcore_service_webserver/director_v2/exceptions.py
  services/web/server/src/simcore_service_webserver/director_v2/plugin.py
  services/web/server/src/simcore_service_webserver/director_v2/settings.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_projects.py
  services/web/server/src/simcore_service_webserver/meta_modeling/plugin.py
  services/web/server/src/simcore_service_webserver/projects/_create_utils.py
  services/web/server/src/simcore_service_webserver/projects/_delete_utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/integration/02/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/unit/isolated/test_director_v2_core_dynamic_services.py
  services/web/server/tests/unit/isolated/test_garbage_collector_core.py
  services/web/server/tests/unit/with_dbs/01/clusters/test_clusters_handlers.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/03/tags/conftest.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: t:maintenance

#4201 permalink for templates
  services/static-webserver/client/source/class/osparc/component/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
Labels: a:frontend, changelog:🎨enhancement

#4180 Rabbitmq/only listens to logs if needed
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/service-library/src/servicelib/rabbitmq.py
  packages/service-library/tests/test_rabbitmq.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/groups_api.py
  services/web/server/src/simcore_service_webserver/notifications/_constants.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_consumers.py
  services/web/server/src/simcore_service_webserver/notifications/project_logs.py
  services/web/server/src/simcore_service_webserver/projects/projects_events.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/tests/integration/02/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver

#4203 ♻️Flaky: wait for migration service to be finished upgrading
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_postgres.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/simcore-sdk/tests/conftest.py
  services/migration/Dockerfile
  services/migration/Makefile
  services/migration/docker/entrypoint.sh
  services/migration/requirements/Makefile
  services/migration/requirements/_base.in
  services/migration/requirements/_base.txt
  services/migration/requirements/_test.in
  services/migration/requirements/_test.txt
  services/migration/requirements/_tools.in
  services/migration/requirements/_tools.txt
  services/migration/requirements/ci.txt
  services/migration/requirements/constraints.txt
  services/migration/requirements/dev.txt
  services/migration/requirements/prod.txt
  services/migration/tests/conftest.py
  services/migration/tests/integration/test_migration_service.py
  services/migration/tests/unit/.gitkeep
Labels: a:services-library

#4198 ♻️ `webserver`: fixes mypy issues in `email` plugin
  api/specs/webserver/scripts/openapi_admin.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/email/__init__.py
  services/web/server/src/simcore_service_webserver/email/_core.py
  services/web/server/src/simcore_service_webserver/email/_handlers.py
  services/web/server/src/simcore_service_webserver/email/plugin.py
  services/web/server/src/simcore_service_webserver/email/settings.py
  services/web/server/src/simcore_service_webserver/email/utils.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/login/utils_email.py
  services/web/server/src/simcore_service_webserver/publications.py
  services/web/server/tests/unit/isolated/test_templates.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_utils_emails.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: t:maintenance

#4202 ♻️ Propagate can_save when starting service 🚨
  packages/models-library/src/models_library/docker.py
  packages/models-library/src/models_library/products.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/domains/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/mocks/legacy_scheduler_data_format.json
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
Labels: a:director-v2, changelog:♻️refactor

#4206 ♻️Maintenance: remove unmaintained fastapi-contrib package
  .flake8
  packages/service-library/requirements/_fastapi.in
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/src/servicelib/fastapi/tracing.py
  services/api-server/.env-devel
  services/api-server/requirements/_base.txt
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/tests/unit/conftest.py
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/tests/unit/test_services_director.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/datcore-adapter/tests/unit/conftest.py
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/tests/unit/test_modules_attribute_monitor.py
  services/invitations/requirements/_base.txt
  services/invitations/requirements/_test.txt
Labels: a:services-library, a:catalog, a:director-v2, a:apiserver, a:dynamic-sidecar, a:autoscaling, a:invitations

#4008 ✨ web-api: `ProjectGet` model adds new `permalinks` field
  api/specs/webserver/openapi-nih-sparc.yaml
  api/specs/webserver/openapi-projects-crud.yaml
  api/specs/webserver/openapi.yaml
  packages/models-library/src/models_library/users.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_create_utils.py
  services/web/server/src/simcore_service_webserver/projects/_permalink.py
  services/web/server/src/simcore_service_webserver/projects/_rest_schemas.py
  services/web/server/src/simcore_service_webserver/projects/api.py
  services/web/server/src/simcore_service_webserver/projects/projects_exceptions.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects_permalinks.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/plugin.py
  services/web/server/tests/conftest.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_projects_permalinks.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers_crud.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
Labels: a:webserver

#4207 🐛 No longer upload output ports when study is in read only mode
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
Labels: a:director-v2, changelog:🐛bugfix

#4208 ✨ New p2e test: BIOS VNS calibrator
  tests/e2e/portal/BIOS_VNS_Calibrator.js
Labels: e2e

#4218 ✨ TIP v2: 2 plus buttons
  services/static-webserver/client/source/class/osparc/component/filter/CollaboratorToggleButton.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  tests/e2e/tutorials/tutorialBase.js
Labels: a:frontend, changelog:✨new-feature

#4220 🐛Computational backend: correct parsing of log lines
  packages/service-library/src/servicelib/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/tests/unit/test_docker_utils.py
Labels: a:dask-service

#4221 ♻️ Maintenance: move some tests to webserver 03
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__list.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/03/tags/conftest.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: changelog:♻️refactor

#4211 ♻️ fixing mypy issues in `director-v2` part3
  services/director-v2/src/simcore_service_director_v2/cli/_client.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/clusters.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler_mixin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/projects_networks.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_models_clusters.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
Labels: t:maintenance, a:director-v2

#4217 ✨ enables mypy for director-v2 in CI
  .github/workflows/ci-testing-deploy.yml
Labels: t:maintenance, a:director-v2

#4205 ✅ Fixes flaky test api-server #3569
  .vscode/settings.template.json
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_public_api.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  tests/public-api/conftest.py
  tests/public-api/test_files_api.py
  tests/public-api/test_meta_api.py
  tests/public-api/test_solvers_api.py
  tests/public-api/test_solvers_jobs_api.py
  tests/public-api/test_users_api.py
Labels: t:maintenance, a:apiserver

#4222 ⚗️ Maintenance: make upgrade/downgrade a module fixture
  .flake8
  packages/postgres-database/src/simcore_postgres_database/migration/versions/10b293fdcd56_alters_product_login_settings.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ff33dcf20b44_adding_column_product_name_to_groups_.py
  packages/postgres-database/src/simcore_postgres_database/utils_products.py
  packages/postgres-database/src/simcore_postgres_database/utils_tags.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_login.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/volume_remover.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/web/server/src/simcore_service_webserver/groups_api.py
  services/web/server/src/simcore_service_webserver/products/_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_db_utils.py
  services/web/server/src/simcore_service_webserver/security/_authorization.py
  services/web/server/src/simcore_service_webserver/users_api.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/01/test_groups.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers_crud.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa_resend.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver

#4214 🐛 Project list items include permalink
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/web/server/src/simcore_service_webserver/projects/_read_utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers_crud.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
Labels: bug, a:webserver

#4199 ♻️ `webserver`: fixes mypy issues in `storage` plugin
  api/specs/webserver/scripts/openapi_storage.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/diagnostics/_handlers.py
  services/web/server/src/simcore_service_webserver/login/storage.py
  services/web/server/src/simcore_service_webserver/projects/_create_utils.py
  services/web/server/src/simcore_service_webserver/projects/_delete_utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/storage/__init__.py
  services/web/server/src/simcore_service_webserver/storage/_handlers.py
  services/web/server/src/simcore_service_webserver/storage/_routes.py
  services/web/server/src/simcore_service_webserver/storage/api.py
  services/web/server/src/simcore_service_webserver/storage/plugin.py
  services/web/server/src/simcore_service_webserver/storage/schemas.py
  services/web/server/src/simcore_service_webserver/storage/settings.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/tests/unit/isolated/test_storage_schemas.py
Labels: t:maintenance

#4219 ♻️ `webserver`: fixes mypy issues in `tags` plugin
  api/specs/webserver/scripts/openapi_tags.py
  packages/service-library/src/servicelib/request_keys.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/projects/projects_tags_handlers.py
  services/web/server/src/simcore_service_webserver/tags/__init__.py
  services/web/server/src/simcore_service_webserver/tags/_handlers.py
  services/web/server/src/simcore_service_webserver/tags/plugin.py
  services/web/server/tests/unit/with_dbs/03/tags/conftest.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
Labels: a:webserver, t:maintenance

#3774 ♻️ `webserver`: fixes mypy issues in `socketio` plugin
  packages/service-library/src/servicelib/aiohttp/observer.py
  packages/service-library/src/servicelib/observer.py
  packages/service-library/tests/aiohttp/test_observer.py
  packages/service-library/tests/test_observer.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_consumers.py
  services/web/server/src/simcore_service_webserver/projects/_observer.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_events.py
  services/web/server/src/simcore_service_webserver/socketio/_handlers.py
  services/web/server/src/simcore_service_webserver/socketio/_observer.py
  services/web/server/src/simcore_service_webserver/socketio/_utils.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
  services/web/server/src/simcore_service_webserver/socketio/messages.py
  services/web/server/src/simcore_service_webserver/socketio/plugin.py
  services/web/server/src/simcore_service_webserver/socketio/server.py
  services/web/server/tests/integration/02/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/03/test_socketio.py
Labels: a:webserver

#4227 🎨 Frontend: Landing Page PoC III
  services/static-webserver/client/source/class/osparc/product/landingPage/Chat.js
  services/static-webserver/client/source/class/osparc/product/landingPage/NavigationBar.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/Content.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/Page.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/Pricing.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/solutions/CloudPlatform.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/solutions/Desktop.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/solutions/Electromagnetics.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/solutions/NeuronalActivation.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/solutions/SolutionsBase.js
  services/static-webserver/client/source/resource/osparc/landingPage/diru3.png
  services/static-webserver/client/source/resource/osparc/landingPage/diru4.png
Labels: a:frontend, changelog:🎨enhancement

#4230 ♻️ `webserver`: fixes mypy issues in `users` plugin
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/exporter/request_handlers.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/src/simcore_service_webserver/garbage_collector_tasks_users.py
  services/web/server/src/simcore_service_webserver/garbage_collector_utils.py
  services/web/server/src/simcore_service_webserver/groups/_db.py
  services/web/server/src/simcore_service_webserver/groups/_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_users.py
  services/web/server/src/simcore_service_webserver/groups/_utils.py
  services/web/server/src/simcore_service_webserver/groups/api.py
  services/web/server/src/simcore_service_webserver/groups/plugin.py
  services/web/server/src/simcore_service_webserver/projects/_create_utils.py
  services/web/server/src/simcore_service_webserver/projects/_delete_utils.py
  services/web/server/src/simcore_service_webserver/projects/project_lock.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db_utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/src/simcore_service_webserver/users/__init__.py
  services/web/server/src/simcore_service_webserver/users/_db.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/users/_notifications.py
  services/web/server/src/simcore_service_webserver/users/_tokens.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/users/exceptions.py
  services/web/server/src/simcore_service_webserver/users/plugin.py
  services/web/server/src/simcore_service_webserver/users/schemas.py
  services/web/server/src/simcore_service_webserver/users_db.py
  services/web/server/src/simcore_service_webserver/users_to_groups_api.py
  services/web/server/src/simcore_service_webserver/users_utils.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/unit/isolated/test_user_notifications.py
  services/web/server/tests/unit/isolated/test_users_models.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/01/test_groups.py
  services/web/server/tests/unit/with_dbs/02/test_project_lock.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
  services/web/server/tests/unit/with_dbs/03/test_users_db.py
Labels: t:maintenance

#4238 ♻️ `webserver`: fixes mypy issues in `publications` plugin
  packages/service-library/src/servicelib/mimetype_constants.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/publications/__init__.py
  services/web/server/src/simcore_service_webserver/publications/_handlers.py
  services/web/server/src/simcore_service_webserver/publications/plugin.py
  services/web/server/tests/unit/with_dbs/03/test_publications.py
Labels: a:webserver, t:maintenance

#4232 ♻️Sidecars: Image pulling is now a debug log, try to guess log level of services
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/events.py
  packages/dask-task-models-library/tests/container_tasks/test_events.py
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/tests/test_logging_utils.py
  packages/settings-library/src/settings_library/docker_registry.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/constants.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
  services/dask-sidecar/tests/unit/test_dask_utils.py
  services/dask-sidecar/tests/unit/test_docker_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_logs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_core_docker_utils.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_manager.py
Labels: a:dynamic-sidecar

#4233 ♻️ Maintenance: upgrades test and tools libraries
  api/tests/requirements.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/dask-task-models-library/requirements/_test.txt
  packages/dask-task-models-library/requirements/_tools.txt
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/models-library/requirements/_tools.txt
  packages/models-library/tests/test_services_io.py
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/requirements/_tools.txt
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/settings-library/requirements/_base.txt
  packages/settings-library/requirements/_test.txt
  packages/settings-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.txt
  services/agent/requirements/_test.txt
  services/agent/requirements/_tools.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/autoscaling/requirements/_test.txt
  services/autoscaling/requirements/_tools.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/invitations/requirements/_test.txt
  services/invitations/requirements/_tools.txt
  services/migration/requirements/_test.txt
  services/migration/requirements/_tools.txt
  services/osparc-gateway-server/requirements/_test.txt
  services/osparc-gateway-server/requirements/_tools.txt
  services/osparc-gateway-server/tests/system/requirements/_test.txt
  services/osparc-gateway-server/tests/system/requirements/_tools.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  tests/e2e/requirements/requirements.txt
  tests/environment-setup/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: dependencies, t:maintenance

#4241 🐛 add LOG_FORMAT_LOCAL_DEV_ENABLED to the docker-compose
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/docker-compose.yml
Labels: bug

#4242 🐛service logs file not uploaded when service failing
  packages/service-library/src/servicelib/logging_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/task_shared_volume.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_tasks.py
  tests/public-api/test_solvers_jobs_api.py
Labels: changelog:🐛bugfix

#4210 ✨Frontend: Dynamic input ports
  services/static-webserver/client/source/class/osparc/Error.js
  services/static-webserver/client/source/class/osparc/component/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/component/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/BasePage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/theme/old/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/old/ColorLight.js
  tests/e2e/publications/SarValidation.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: a:frontend, changelog:✨new-feature

#4245 S4L Product: labeling
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/product/AboutProduct.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
Labels: a:frontend, changelog:🎨enhancement

#3812 ✨ Add volume size limits for user services
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/tests/test_service_settings_labels.py
  packages/service-integration/tests/data/docker-compose-meta.yml
  packages/service-library/src/servicelib/utils.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_specs.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_volumes_resolver.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: changelog:✨new-feature

#4197 ✨ Store computational services progress in comp_tasks table, decouple webserver from api-server 🗃️
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/events.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/src/models_library/projects_pipeline.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/0c084cb1091c_add_progress_to_comp_tasks.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
  packages/service-library/src/servicelib/long_running_tasks/_models.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/utils/solver_job_models_converters.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/director-v2/setup.cfg
  services/director-v2/src/simcore_service_director_v2/models/domains/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/clusters.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_pipelines.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects_networks.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/helpers/__init__.py
  services/director-v2/tests/helpers/shared_comp_utils.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/conftest.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/conftest.py
  services/director-v2/tests/mocks/fake_dy_status_published.json
  services/director-v2/tests/mocks/fake_dy_status_success.json
  services/director-v2/tests/mocks/fake_workbench_computational_node_states.json
  services/director-v2/tests/unit/_helpers.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_observer.py
  services/director-v2/tests/unit/test_utils_dags.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
Labels: a:director-v2

#4246 🎨 Frontend: map LogLevel
  services/static-webserver/client/source/class/osparc/component/widget/logger/LoggerTable.js
  services/static-webserver/client/source/class/osparc/component/widget/logger/LoggerView.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
Labels: a:frontend, changelog:🎨enhancement

#4249 ✨Propagate key and version to dy-sidecar service labels
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: a:dynamic-sidecar, changelog:✨new-feature

#4243 ✨ Backend support for min-visible-inputs label
  packages/models-library/src/models_library/services.py
  packages/models-library/tests/test_services.py
  packages/service-integration/src/service_integration/osparc_config.py
Labels: changelog:✨new-feature

#4239 ✨ public API 0.4.5: accepts `list` as Job input/output arguments 🚨
  packages/models-library/src/models_library/utils/pydantic_tools_extension.py
  packages/service-library/src/servicelib/fastapi/openapi.py
  services/api-server/VERSION
  services/api-server/openapi.json
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/utils/solver_job_models_converters.py
  services/api-server/src/simcore_service_api_server/utils/solver_job_outputs.py
  services/api-server/src/simcore_service_api_server/utils/typing_extra.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/test_utils_solver_job_models_converters.py
  services/api-server/tests/unit/test_utils_solver_job_outputs.py
  tests/public-api/examples/bujard_rsinc.py
Labels: t:enhancement, a:apiserver

#4257 🐛 passing data from a service to another fails
  services/web/server/src/simcore_service_webserver/catalog/_handlers.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_api.py
Labels: a:webserver

#4262 ⬆️ Maintenance/requests upgrade
  ci/helpers/requirements.txt
  packages/postgres-database/requirements/_migration.txt
  packages/service-integration/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_test.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/invitations/requirements/_base.txt
  services/migration/requirements/_test.txt
  services/osparc-gateway-server/requirements/_test.txt
  services/osparc-gateway-server/tests/system/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/e2e/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: dependencies, t:maintenance

#4265 🐛Computational backend: disappearing logs
  services/api-server/requirements/_test.txt
  services/catalog/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/dask-sidecar/requirements/constraints.txt
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/constants.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_dask_utils.py
  services/dask-sidecar/tests/unit/test_docker_utils.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/dynamic-sidecar/requirements/_test.txt
  services/osparc-gateway-server/requirements/_base.txt
  services/osparc-gateway-server/requirements/_test.txt
  services/osparc-gateway-server/requirements/_tools.txt
  services/osparc-gateway-server/tests/system/requirements/_test.txt
  services/osparc-gateway-server/tests/system/requirements/_tools.txt
  services/web/server/requirements/_test.txt
Labels: a:director-v2, a:dask-service

#4273 ✨Comp backend: disconnect progress update in webserver
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/service-library/src/servicelib/rabbitmq.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/dask-sidecar/docker/boot.sh
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_consumers.py
  services/web/server/src/simcore_service_webserver/notifications/project_logs.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/socketio/messages.py
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/integration/02/notifications/test_rabbitmq_consumers.py
Labels: a:webserver, a:director-v2

#4277 🐛Fix node progress value when the service did not run yet
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: a:webserver

#4253 ✨ Is4174/shareable study entrypoint
  api/specs/webserver/openapi-projects-pydantic.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/openapi_projects_nodes.py
  packages/models-library/src/models_library/api_schemas_catalog.py
  packages/models-library/src/models_library/groups.py
  services/catalog/openapi.json
  services/catalog/src/simcore_service_catalog/api/root.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/api/routes/services_access_rights.py
  services/catalog/src/simcore_service_catalog/db/repositories/projects.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_api_routes_services__list.py
  services/catalog/tests/unit/with_dbs/test_api_routes_services_access_rights.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/catalog/client.py
  services/web/server/src/simcore_service_webserver/projects/_handlers_project_nodes.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_catalog.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects_permalinks.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__services_access.py
Labels: a:webserver, a:catalog

#4280 ✨RabbitMQ: add persistency on rabbitmq service
  services/docker-compose.yml
Labels: changelog:✨new-feature, changelog:🐛bugfix

#4250 ✨ defines openapi specs for new studies resources
  packages/service-library/src/servicelib/fastapi/openapi.py
  services/api-server/.env-devel
  services/api-server/.gitignore
  services/api-server/Makefile
  services/api-server/None
  services/api-server/openapi-dev.json
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/_common.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/api_studies/conftest.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies_jobs.py
  services/api-server/tests/unit/api_studies/test_api_studies_mocks.py
Labels: a:api, a:apiserver

#4282 ⬆️Upgrade socketio to 5.8.0
  services/web/server/requirements/_base.txt
Labels: a:webserver

#4281 🎨 e2e: move widget id from nodeTreeItem to nodeTreeItem's label
  services/static-webserver/client/source/class/osparc/component/widget/NodeTreeItem.js
Labels: e2e

#4229 🎨 Study dispatcher messages improvements
  services/static-webserver/client/source/class/osparc/Error.js
  services/web/server/src/simcore_service_webserver/projects/_db_utils.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_constants.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_studies_access.py
Labels: a:frontend, a:webserver, a:doc

#4283 ✨ Move filtering to backend (part 1)
  api/specs/webserver/openapi-projects-crud.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/openapi_projects_crud.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_crud_read_utils.py
  services/web/server/src/simcore_service_webserver/projects/_db_utils.py
  services/web/server/src/simcore_service_webserver/projects/_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/utils.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__list_search.py
Labels: a:webserver

#4285 ✨Frontend: Notify sharer
  services/static-webserver/client/source/class/osparc/component/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/component/share/ShareePermissions.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
Labels: a:frontend, changelog:✨new-feature

#4290 🎨 Frontend: Lighter logger
  services/static-webserver/client/source/class/osparc/component/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/component/form/renderer/PropFormBase.js
  services/static-webserver/client/source/class/osparc/component/widget/logger/LoggerModel.js
  services/static-webserver/client/source/class/osparc/component/widget/logger/LoggerView.js
Labels: a:frontend, changelog:🎨enhancement
