Repository ITISFoundation/osparc-simcore, pull requests merged in 2023-04, with the labels that each got.

#4050 ✨ Frontend: ``Shared with`` filter in Dashboard
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:✨new-feature

#4029 🐛 updates last modified timestamp when the project is opened
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
Labels: a:webserver, changelog:🐛bugfix

#4051 ♻️ Dask: maintenance, refactor, upgrade
  packages/models-library/src/models_library/services.py
  services/api-server/VERSION
  services/api-server/openapi.json
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/models/basic_types.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/catalog/tests/unit/with_dbs/test_services_access_rights.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations.py
  services/osparc-gateway-server/src/osparc_gateway_server/backend/osparc.py
  services/osparc-gateway-server/src/osparc_gateway_server/backend/settings.py
Labels: a:dask-service, changelog:♻️refactor

#4053 ♻️ Api server: improve job creation speed
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/modules/webserver.py
Labels: a:apiserver

#4057 🐛Dask: fix issue with disappearing workers
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/tests/unit/test_modules_dask_client.py
Labels: a:dask-service

#4060 🐛 Dask gateway: Fix raised exception when service or task is not found
  services/osparc-gateway-server/src/osparc_gateway_server/backend/models.py
  services/osparc-gateway-server/src/osparc_gateway_server/backend/utils.py
  services/osparc-gateway-server/tests/unit/test_utils.py
Labels: a:dask-service

#4061 🎨 Frontend: more Icons in Dashboard's toolbar
  services/static-webserver/client/source/class/osparc/component/service/SortServicesButtons.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/SharedWithMenuButton.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:🎨enhancement

#4052 🎨 Frontend: Improvements to tagging functionality
  services/static-webserver/client/source/class/osparc/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/component/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/component/form/tag/TagManager.js
  services/static-webserver/client/source/class/osparc/component/task/TasksButton.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/info/CardLarge.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/utils/Study.js
Labels: a:frontend, changelog:🎨enhancement

#4070 🐛 coroutine not awaited in director-v2
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
Labels: t:maintenance, a:director-v2, changelog:🐛bugfix

#4078 🐛 fix e2e: ti-plan test
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e, changelog:🐛bugfix

#4083 📝 enhancing release workflow + adding hotfix template
  .github/ISSUE_TEMPLATE/4_pre_release.yml
  .github/ISSUE_TEMPLATE/5_release.yml
  .github/ISSUE_TEMPLATE/6_hotfix.yml
Labels: t:enhancement

#4062 ⬆️ Maintenance: database libraries and 📝 pep-0257 for doc
  .github/ISSUE_TEMPLATE/1_bug_report.yml
  .github/ISSUE_TEMPLATE/4_pre_release.yml
  .github/ISSUE_TEMPLATE/5_release.yml
  .github/ISSUE_TEMPLATE/6_hotfix.yml
  .vscode/extensions.json
  docs/coding-conventions.md
  docs/steps-to-upgrade-python.md
  docs/type-checker.md
  packages/dask-task-models-library/requirements/_base.txt
  packages/models-library/requirements/_test.in
  packages/models-library/requirements/_test.txt
  packages/postgres-database/requirements/_base.in
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.in
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/requirements/_tools.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_fastapi.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.in
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.in
  services/catalog/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.in
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/invitations/requirements/_base.txt
  services/osparc-gateway-server/requirements/_base.txt
  services/osparc-gateway-server/requirements/_test.in
  services/osparc-gateway-server/requirements/_test.txt
  services/osparc-gateway-server/requirements/_tools.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: dependencies, t:maintenance, python

#4085 ♻️ director-v2 uses one dy-sidecar API client per sidecar
  services/director-v2/src/simcore_service_director_v2/api/dependencies/dynamic_sidecar.py
  services/director-v2/src/simcore_service_director_v2/cli/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler_utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
Labels: a:director-v2, changelog:♻️refactor, changelog:🐛bugfix

#4088 🐛 added missing header to legacy dynamic service containers
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/rest/handlers.py
  services/director/tests/test_producer.py
Labels: a:director, t:maintenance, changelog:🐛bugfix

#4093 ✨ catalog service: New CLI with settings command and ♻️ cleanup meta (⚠️ devops)
  Makefile
  scripts/common-service.Makefile
  services/catalog/setup.py
  services/catalog/src/simcore_service_catalog/__init__.py
  services/catalog/src/simcore_service_catalog/_meta.py
  services/catalog/src/simcore_service_catalog/api/dependencies/services.py
  services/catalog/src/simcore_service_catalog/api/routes/meta.py
  services/catalog/src/simcore_service_catalog/cli.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/meta.py
  services/catalog/tests/unit/with_dbs/test_api_routes_dags.py
Labels: t:maintenance, a:catalog

#4096 🐛 Frontend: Fix Service's More options view
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
Labels: a:frontend, changelog:🐛bugfix

#4025 ♻️ Add Devops notes to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: t:enhancement, idea, changelog:🎨enhancement

#4098 🗑️ Removes deprecated ``codecov``
  .github/workflows/ci-testing-deploy.yml
  packages/pytest-simcore/requirements/coverage.txt
  services/agent/requirements/_test.in
  services/agent/requirements/_test.txt
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/autoscaling/requirements/_test.in
  services/autoscaling/requirements/_test.txt
  services/catalog/requirements/_test.in
  services/catalog/requirements/_test.txt
  services/datcore-adapter/requirements/_test.in
  services/datcore-adapter/requirements/_test.txt
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director/requirements/_test.in
  services/director/requirements/_test.txt
  services/invitations/requirements/_test.in
  services/invitations/requirements/_test.txt
  services/osparc-gateway-server/tests/system/requirements/_test.in
  services/osparc-gateway-server/tests/system/requirements/_test.txt
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
Labels: dependencies

#4095 ♻️🔨 ``catalog``: fixes mypy issues and add type-check step in CI
  .github/workflows/ci-testing-deploy.yml
  packages/models-library/src/models_library/service_settings_labels.py
  services/catalog/src/simcore_service_catalog/api/routes/services_resources.py
  services/catalog/src/simcore_service_catalog/db/repositories/groups.py
  services/catalog/src/simcore_service_catalog/models/domain/dag.py
Labels: t:maintenance, a:catalog

#4094 ♻️🔨 ``api-server``: fixes mypy issues and add type-check step in CI
  .github/workflows/ci-testing-deploy.yml
  services/api-server/src/simcore_service_api_server/api/dependencies/application.py
  services/api-server/src/simcore_service_api_server/api/dependencies/database.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
  services/api-server/src/simcore_service_api_server/api/dependencies/webserver.py
  services/api-server/src/simcore_service_api_server/api/errors/http_error.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/health.py
  services/api-server/src/simcore_service_api_server/api/routes/meta.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/src/simcore_service_api_server/api/routes/users.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/openapi.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/db/events.py
  services/api-server/src/simcore_service_api_server/db/repositories/__init__.py
  services/api-server/src/simcore_service_api_server/models/api_resources.py
  services/api-server/src/simcore_service_api_server/models/domain/projects.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/meta.py
  services/api-server/src/simcore_service_api_server/models/schemas/profiles.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/modules/catalog.py
  services/api-server/src/simcore_service_api_server/modules/director_v2.py
  services/api-server/src/simcore_service_api_server/modules/storage.py
  services/api-server/src/simcore_service_api_server/modules/webserver.py
  services/api-server/src/simcore_service_api_server/utils/app_data.py
  services/api-server/src/simcore_service_api_server/utils/hash.py
  services/api-server/src/simcore_service_api_server/utils/serialization.py
  services/api-server/src/simcore_service_api_server/utils/solver_job_models_converters.py
  services/web/server/src/simcore_service_webserver/projects/project_models.py
  services/web/server/tests/unit/isolated/test__json_schema.py
  services/web/server/tests/unit/with_dbs/02/test_project_db.py
Labels: t:maintenance, a:apiserver

#4086 ✨Maintenance: enable mypy in storage
  .github/workflows/ci-testing-deploy.yml
  services/storage/src/simcore_service_storage/_meta.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_settings.py
  services/storage/src/simcore_service_storage/db.py
  services/storage/src/simcore_service_storage/db_file_meta_data.py
  services/storage/src/simcore_service_storage/db_projects.py
  services/storage/src/simcore_service_storage/handlers_datasets.py
  services/storage/src/simcore_service_storage/handlers_files.py
  services/storage/src/simcore_service_storage/handlers_health.py
  services/storage/src/simcore_service_storage/handlers_locations.py
  services/storage/src/simcore_service_storage/handlers_simcore_s3.py
  services/storage/src/simcore_service_storage/s3.py
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/settings.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/utils.py
Labels: a:storage

#4090 ♻️ Ensure log level is passed to the frontend
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/events.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/projects_networks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_logs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_manager.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_manager.py
Labels: a:director-v2, a:dynamic-sidecar, a:dask-service

#4092 ✨ Metrics: add simcore_user_agent in service_started/service_stopped metric
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/service-library/src/servicelib/aiohttp/monitor_services.py
  packages/service-library/src/servicelib/aiohttp/monitoring.py
  packages/service-library/src/servicelib/common_headers.py
  packages/service-library/tests/aiohttp/test_monitoring.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/web/server/src/simcore_service_webserver/director_v2_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/src/simcore_service_webserver/projects/_delete.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/tests/integration/02/test_rabbit.py
  services/web/server/tests/unit/isolated/test_director_v2_core_dynamic_services.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
Labels: a:director-v2, a:dynamic-sidecar, a:dask-service

#4101 🐛 Fix s4l-lite e2e test
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e, changelog:🐛bugfix

#4099 🗑️ Removes ``coveralls`` for test coverage
  .github/CODEOWNERS
  api/tests/requirements.txt
  ci/github/system-testing/public-api.bash
  ci/github/system-testing/swarm-deploy.bash
  packages/dask-task-models-library/requirements/_test.in
  packages/dask-task-models-library/requirements/_test.txt
  packages/models-library/requirements/_test.in
  packages/models-library/requirements/_test.txt
  packages/postgres-database/requirements/_test.in
  packages/postgres-database/requirements/_test.txt
  packages/pytest-simcore/requirements/coverage.txt
  packages/pytest-simcore/requirements/mocks.txt
  packages/pytest-simcore/requirements/tests_base.txt
  packages/pytest-simcore/requirements/tests_w_aiohttp.txt
  packages/pytest-simcore/requirements/tests_w_fastapi.txt
  packages/service-integration/requirements/_test.in
  packages/service-integration/requirements/_test.txt
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/settings-library/requirements/_test.in
  packages/settings-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.in
  packages/simcore-sdk/requirements/_test.txt
  requirements/common-test.in
  services/agent/requirements/_test.in
  services/agent/requirements/_test.txt
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/autoscaling/requirements/_test.in
  services/autoscaling/requirements/_test.txt
  services/catalog/requirements/_test.in
  services/catalog/requirements/_test.txt
  services/dask-sidecar/requirements/_test.in
  services/dask-sidecar/requirements/_test.txt
  services/datcore-adapter/requirements/_test.in
  services/datcore-adapter/requirements/_test.txt
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director/requirements/_test.in
  services/director/requirements/_test.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/invitations/requirements/_test.in
  services/invitations/requirements/_test.txt
  services/osparc-gateway-server/requirements/_test.in
  services/osparc-gateway-server/requirements/_test.txt
  services/osparc-gateway-server/tests/system/requirements/_test.in
  services/osparc-gateway-server/tests/system/requirements/_test.txt
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  tests/public-api/Makefile
  tests/public-api/requirements/_test.in
  tests/public-api/requirements/_test.txt
  tests/swarm-deploy/requirements/_test.in
  tests/swarm-deploy/requirements/_test.txt
Labels: t:maintenance

#4102 ♻️ `webserver`: fixes mypy issues in `version_control` plugin
  api/specs/webserver/openapi-version-control.yaml
  api/specs/webserver/openapi.yaml
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/_constants.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/director_v2_handlers.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/utils_email.py
  services/web/server/src/simcore_service_webserver/meta_modeling_handlers.py
  services/web/server/src/simcore_service_webserver/meta_modeling_iterations.py
  services/web/server/src/simcore_service_webserver/meta_modeling_version_control.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/src/simcore_service_webserver/version_control/__init__.py
  services/web/server/src/simcore_service_webserver/version_control/_core.py
  services/web/server/src/simcore_service_webserver/version_control/_rest_handlers.py
  services/web/server/src/simcore_service_webserver/version_control/_rest_handlers_base.py
  services/web/server/src/simcore_service_webserver/version_control/db.py
  services/web/server/src/simcore_service_webserver/version_control/errors.py
  services/web/server/src/simcore_service_webserver/version_control/models.py
  services/web/server/src/simcore_service_webserver/version_control/plugin.py
  services/web/server/src/simcore_service_webserver/version_control/vc_changes.py
  services/web/server/src/simcore_service_webserver/version_control/vc_tags.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_core.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_handlers.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_tags.py
Labels: a:webserver

#4103 ✨Webserver: Allow to disable auto-start of dynamic services
  api/specs/webserver/openapi-projects.yaml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
Labels: a:webserver

#4091 ✨ Frontend: Panddy PoC
  services/static-webserver/client/source/class/osparc/component/editor/ThumbnailEditor.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/panddy/Panddy.js
  services/static-webserver/client/source/class/osparc/panddy/Sequences.js
  services/static-webserver/client/source/class/osparc/panddy/Step.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/Content.js
  services/static-webserver/client/source/class/osparc/product/panddy/Utils.js
  services/static-webserver/client/source/class/osparc/product/panddy/s4llite/Sequences.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/ui/basic/FloatingHelper.js
  services/static-webserver/client/source/class/osparc/ui/hint/Hint.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/resource/osparc/panda.gif
  tests/e2e/tests/tags.tes.js
  tests/e2e/utils/auto.js
Labels: a:frontend, changelog:✨new-feature

#4108 ⬆️Maintenance: update mypy to 1.2.0
  mypy.ini
  scripts/mypy/requirements.txt
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_settings.py
  services/storage/src/simcore_service_storage/db.py
  services/storage/src/simcore_service_storage/dsm_cleaner.py
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/settings.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/utils.py
Labels: a:infra+ops, a:storage

#4113 ♻️ `webserver`: fixes mypy issues in `meta_modeling` plugin
  api/specs/webserver/openapi-meta-projects.yaml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/meta_modeling/__init__.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_function_nodes.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_iterations.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_projects.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_rest_handlers.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_results.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_version_control.py
  services/web/server/src/simcore_service_webserver/meta_modeling/plugin.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_function_nodes.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_handlers.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_results.py
Labels: a:webserver, t:maintenance

#4118 🔨♻️ Fixes mypy issue after upgrade
  .github/workflows/ci-testing-deploy.yml
  mypy.ini
  packages/postgres-database/src/simcore_postgres_database/migration/versions/53e095260441_add_projects_access_rights_and_.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/da8abd0d8e42_add_comp_runs_table.py
  packages/postgres-database/src/simcore_postgres_database/utils_aiopg_orm.py
  packages/postgres-database/src/simcore_postgres_database/utils_aiosqlalchemy.py
  scripts/mypy.bash
  scripts/mypy/Dockerfile
  scripts/mypy/requirements.txt
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/meta.py
  services/catalog/src/simcore_service_catalog/api/dependencies/database.py
  services/catalog/src/simcore_service_catalog/models/domain/dag.py
Labels: t:maintenance

#4121 🔒️Maintenance: Fix Regex DOSes
  packages/models-library/src/models_library/basic_regex.py
  packages/models-library/src/models_library/basic_types.py
  packages/models-library/src/models_library/services.py
  packages/models-library/tests/test__models_fit_schemas.py
  packages/models-library/tests/test_basic_regex.py
  packages/models-library/tests/test_services.py
  services/api-server/src/simcore_service_api_server/models/api_resources.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/tests/unit/test__fastapi.py
  services/autoscaling/src/simcore_service_autoscaling/utils/dynamic_scaling.py
  services/autoscaling/tests/unit/test_core_settings.py
  services/autoscaling/tests/unit/test_utils_dynamic_scaling.py
  services/catalog/src/simcore_service_catalog/models/domain/dag.py
  services/catalog/tests/unit/with_dbs/test_api_routes_services_specifications.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/director-v2/src/simcore_service_director_v2/api/routes/running_interactive.py
  services/director-v2/src/simcore_service_director_v2/api/routes/services.py
  services/director-v2/src/simcore_service_director_v2/models/domains/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/services.py
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/tests/mocks/fake_task.json
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/rest/generated_code/models/__init__.py
  services/director/src/simcore_service_director/rest/generated_code/models/inline_response2002_data.py
  services/director/src/simcore_service_director/rest/generated_code/models/inline_response2002_data_container_spec.py
  services/director/src/simcore_service_director/rest/generated_code/models/inline_response2002_data_node_requirements.py
  services/director/src/simcore_service_director/rest/generated_code/models/inline_response2003_data.py
  services/director/src/simcore_service_director/rest/generated_code/models/simcore_node.py
  services/director/tests/test_producer.py
  services/web/server/src/simcore_service_webserver/catalog_models.py
  services/web/server/src/simcore_service_webserver/scicrunch/models.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_project_db.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Labels: a:models-library

#4114 ♻️ introducing structured logging (part 1) (⚠️ devops)
  packages/service-library/src/servicelib/logging_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/web/server/src/simcore_service_webserver/log.py
Labels: t:enhancement

#4125 ♻️ SonarCloud issues in `director-v2` and `dynamic-sidecar`
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
Labels: t:maintenance, changelog:♻️refactor

#4126 ♻️ SonarCloud `webserver.exporter`
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/templates/code_description.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/templates/dataset_description.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/templates/directory_manifest.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/xlsx_base.py
  services/web/server/tests/unit/isolated/test_exporter_xlsx.py
Labels: t:maintenance, changelog:♻️refactor

#4129 ♻️Clusters: make non dev feature, disabled by default (⚠️)
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/tests/unit/isolated/test_application_settings.py
  services/web/server/tests/unit/with_dbs/01/clusters/conftest.py
  services/web/server/tests/unit/with_dbs/01/clusters/test_clusters_handlers.py
  services/web/server/tests/unit/with_dbs/01/clusters/test_clusters_plugin_setup.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/conftest.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_invitations.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver

#4100 ♻️ `director-v2` fixing mypy issues part 1/3
  services/director-v2/src/simcore_service_director_v2/api/dependencies/rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/api/routes/meta.py
  services/director-v2/src/simcore_service_director_v2/cli/_core.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/clusters.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/service.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/meta.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/services.py
  services/director-v2/src/simcore_service_director_v2/modules/catalog.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/db/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/clusters.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_egress_config.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_context_base.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_marker.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core2/_workflow_runner.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/src/simcore_service_director_v2/utils/db.py
Labels: t:maintenance, changelog:♻️refactor

#4117 ⬆️ Maintenance/reqs test and tools upgrade
  api/tests/requirements.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/dask-task-models-library/requirements/_test.txt
  packages/dask-task-models-library/requirements/_tools.txt
  packages/models-library/requirements/_base.txt
  packages/models-library/requirements/_test.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/requirements/_tools.txt
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/settings-library/requirements/_test.txt
  packages/settings-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/_tools.txt
  services/agent/requirements/_test.txt
  services/agent/requirements/_tools.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/autoscaling/requirements/_test.txt
  services/autoscaling/requirements/_tools.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/requirements/_tools.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/invitations/requirements/_test.txt
  services/invitations/requirements/_tools.txt
  services/osparc-gateway-server/requirements/_test.txt
  services/osparc-gateway-server/requirements/_tools.txt
  services/osparc-gateway-server/tests/system/requirements/_test.txt
  services/osparc-gateway-server/tests/system/requirements/_tools.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  tests/e2e/requirements/requirements.txt
  tests/environment-setup/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: t:maintenance

#4131 ♻️ `webserver`: fixes mypy issues in `redis` & `products_middlewares` plugins
  services/web/server/src/simcore_service_webserver/products_middlewares.py
  services/web/server/src/simcore_service_webserver/redis.py
Labels: t:maintenance

#4133 ♻️🐛Computational backend: reduce load on osparc services
  Makefile
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/errors.py
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/events.py
  packages/dask-task-models-library/tests/container_tasks/test_events.py
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/errors.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/src/simcore_service_director_v2/utils/scheduler.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations.py
  services/osparc-gateway-server/src/osparc_gateway_server/backend/osparc.py
  services/storage/tests/unit/test_handlers_datasets.py
  services/storage/tests/unit/test_handlers_files.py
  services/storage/tests/unit/test_handlers_locations.py
  services/storage/tests/unit/test_handlers_simcore_s3.py
  services/storage/tests/unit/test_s3_client.py
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/tests/conftest.py
  services/web/server/tests/unit/with_dbs/01/test_comp_tasks_listening_task.py
Labels: a:webserver, a:director-v2, a:dask-service

#4055 ♻️ Locking dy-service start per user and per project
  .vscode/settings.template.json
  packages/pytest-simcore/src/pytest_simcore/redis_service.py
  packages/service-library/src/servicelib/background_task.py
  packages/service-library/src/servicelib/long_running_tasks/_errors.py
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  packages/service-library/src/servicelib/redis.py
  packages/service-library/src/servicelib/retry_policies.py
  packages/service-library/tests/test_background_task.py
  packages/service-library/tests/test_redis.py
  packages/service-library/tests/test_redis__recoonection.py
  packages/settings-library/src/settings_library/redis.py
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/autoscaling/src/simcore_service_autoscaling/api/health.py
  services/autoscaling/src/simcore_service_autoscaling/core/errors.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling.py
  services/autoscaling/src/simcore_service_autoscaling/modules/redis.py
  services/director-v2/requirements/_base.txt
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/node_rights.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/test_modules_catalog.py
  services/director-v2/tests/unit/with_dbs/test_modules_node_rights.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_manager.py
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/src/simcore_service_webserver/projects/_nodes_utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_settings.py
  services/web/server/src/simcore_service_webserver/redis.py
  services/web/server/src/simcore_service_webserver/redis_constants.py
  services/web/server/src/simcore_service_webserver/resource_manager/registry.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/with_dbs/01/test_resource_manager_redis_registry.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, a:services-library, t:maintenance, changelog:♻️refactor

#3974 ♻️ Volumes keep track if the data requires saving 🚨
  packages/models-library/src/models_library/users.py
  packages/models-library/src/models_library/volumes.py
  packages/service-library/requirements/_base.in
  packages/service-library/src/servicelib/enum_utils.py
  packages/service-library/src/servicelib/file_constants.py
  packages/service-library/src/servicelib/volumes_utils.py
  packages/service-library/tests/test_volumes_utils.py
  services/agent/src/simcore_service_agent/core/settings.py
  services/agent/tests/unit/test_modules_volumes_cleanup_s3.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/domains/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/mocks/fake_scheduler_data.json
  services/director-v2/tests/mocks/fake_scheduler_data_compose_spec.json
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/with_dbs/test_modules_node_rights.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_routing.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/volumes.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/volume_files.py
  services/dynamic-sidecar/tests/unit/test_api_volumes.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_manager.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_watcher.py
  services/dynamic-sidecar/tests/unit/test_modules_volume_files.py
  services/web/server/src/simcore_service_webserver/director_v2_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
Labels: a:webserver, a:director-v2, a:dynamic-sidecar, changelog:♻️refactor

#4136 ♻️ introducing structured logging (part 2)
  .env-devel
  packages/service-library/src/servicelib/logging_utils.py
  services/agent/src/simcore_service_agent/core/application.py
  services/agent/src/simcore_service_agent/core/settings.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/main.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/storage.py
  services/director-v2/src/simcore_service_director_v2/utils/logging_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/invitations/src/simcore_service_invitations/core/settings.py
  services/invitations/src/simcore_service_invitations/web_main.py
  services/storage/src/simcore_service_storage/cli.py
  services/storage/src/simcore_service_storage/settings.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/log.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/conftest.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/conftest.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
Labels: t:maintenance

#4105 ♻️ `webserver`: fixes mypy issues in `login` plugin
  services/web/server/src/simcore_service_webserver/_constants.py
  services/web/server/src/simcore_service_webserver/catalog_handlers.py
  services/web/server/src/simcore_service_webserver/clusters/handlers.py
  services/web/server/src/simcore_service_webserver/director_v2_handlers.py
  services/web/server/src/simcore_service_webserver/login/_2fa.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/api_keys_handlers.py
  services/web/server/src/simcore_service_webserver/login/cli.py
  services/web/server/src/simcore_service_webserver/login/handlers_auth.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/login/routes.py
  services/web/server/src/simcore_service_webserver/login/settings.py
  services/web/server/src/simcore_service_webserver/login/storage.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/login/utils_email.py
  services/web/server/src/simcore_service_webserver/long_running_tasks.py
  services/web/server/src/simcore_service_webserver/users_handlers.py
Labels: a:webserver

#4141 🔒️🔨 Upgrades redis-py to mitigate Race Condition vulnerability
  requirements/constraints.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/storage/requirements/_base.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: a:webserver, dependencies, t:maintenance

#4138 ♻️Maintenance: mypy simcore sdk
  .github/workflows/ci-testing-deploy.yml
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/client_session_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/dbmanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/storage_client.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/__init__.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/links.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/nodeports_v2.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/ports_mapping.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/serialization_v2.py
  packages/simcore-sdk/tests/integration/test_node_ports_v2_nodeports2.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_port.py
Labels: a:services-library

#4137 ✨🐛Dask-gateway: disable adaptive cluster
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/src/simcore_service_director_v2/utils/scheduler.py
  services/director-v2/tests/unit/conftest.py
Labels: a:dask-service

#4146 ✨ datcore-adapter service: New CLI with settings command (⚠️ devops)
  Makefile
  services/datcore-adapter/setup.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/__init__.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/_meta.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/module_setup.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/health.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/cli.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/events.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
Labels: t:maintenance

#4147 📝 adding regular sprint maintenance template
  .github/ISSUE_TEMPLATE/4_pre_release.yml
  .github/ISSUE_TEMPLATE/5_release.yml
  .github/ISSUE_TEMPLATE/7_regular_maintenance.yml
Labels: t:maintenance

#4145 ♻️ `webserver`: fixes mypy issues in `products` plugin
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/email_handlers.py
  services/web/server/src/simcore_service_webserver/groups.py
  services/web/server/src/simcore_service_webserver/groups_handlers.py
  services/web/server/src/simcore_service_webserver/login/handlers_2fa.py
  services/web/server/src/simcore_service_webserver/login/handlers_auth.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/login/utils_email.py
  services/web/server/src/simcore_service_webserver/products/__init__.py
  services/web/server/src/simcore_service_webserver/products/_db.py
  services/web/server/src/simcore_service_webserver/products/_events.py
  services/web/server/src/simcore_service_webserver/products/_middlewares.py
  services/web/server/src/simcore_service_webserver/products/_model.py
  services/web/server/src/simcore_service_webserver/products/plugin.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers.py
  services/web/server/src/simcore_service_webserver/publication_handlers.py
  services/web/server/src/simcore_service_webserver/publications.py
  services/web/server/src/simcore_service_webserver/rest_handlers.py
  services/web/server/src/simcore_service_webserver/statics.py
  services/web/server/src/simcore_service_webserver/statics_events.py
  services/web/server/src/simcore_service_webserver/statics_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_redirects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/handlers_rest.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/plugin.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/unit/isolated/test_products_middlewares.py
  services/web/server/tests/unit/isolated/test_products_model.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/products/test_products_db.py
  services/web/server/tests/unit/with_dbs/03/tags/conftest.py
Labels: t:maintenance

#4162 ♻️Webserver: refactor computations plugin (⚠️ devops)
  .env-wb-garbage-collector
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/computation_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/notifications/__init__.py
  services/web/server/src/simcore_service_webserver/notifications/_db_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_consumers.py
  services/web/server/src/simcore_service_webserver/notifications/_utils.py
  services/web/server/src/simcore_service_webserver/notifications/plugin.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/integration/02/test_rabbit.py
  services/web/server/tests/unit/isolated/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/unit/with_dbs/01/notifications/test_notifications__db_comp_tasks_listening_task.py
  services/web/server/tests/unit/with_dbs/01/notifications/test_notifications__utils.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/conftest.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_invitations.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
Labels: a:webserver

#4163 🐛 fix disruptive concurrency issue with observation cycle 🚨
  Makefile
  ci/helpers/ensure_python_pip.bash
  packages/postgres-database/docker/Dockerfile
  packages/postgres-database/scripts/erd/Dockerfile
  packages/service-integration/Dockerfile
  requirements/tools/Dockerfile
  scripts/erd/Dockerfile
  scripts/openapi/oas_resolver/Dockerfile
  scripts/pydeps-docker/Dockerfile
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_volume.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_observer.py
  services/dynamic-sidecar/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/osparc-gateway-server/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Labels: t:maintenance, changelog:🐛bugfix

#4165 ✨ Rabbitmq: prepare for using topic queues
  .vscode/settings.template.json
  packages/service-library/src/servicelib/rabbitmq.py
  packages/service-library/src/servicelib/rabbitmq_utils.py
  packages/service-library/tests/test_rabbitmq.py
  packages/service-library/tests/test_rabbitmq_connection.py
  packages/service-library/tests/test_rabbitmq_rpc.py
Labels: a:services-library

#4170 ♻️ Drop log priority
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
Labels: t:maintenance, a:director-v2

#4175 🐛 Flaky integration tests relying on migration as a service
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_postgres.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
Labels: t:maintenance

#4169 ♻️ Adding user id field to the logging (⚠️ devops)
  packages/service-library/src/servicelib/logging_utils.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/catalog_handlers_reverse_proxy.py
  services/web/server/src/simcore_service_webserver/garbage_collector_tasks_users.py
  services/web/server/src/simcore_service_webserver/login/_security.py
  services/web/server/src/simcore_service_webserver/login/handlers_auth.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/resource_manager/websocket_manager.py
  services/web/server/src/simcore_service_webserver/socketio/handlers.py
  services/web/server/src/simcore_service_webserver/storage_api.py
Labels: t:maintenance
