Repository ITISFoundation/osparc-simcore, pull requests merged in 2023-11, with the labels that each got.

#4963 ✨Adding new cli option to debug internal status of `director-v2`
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_scheduler.py
  services/director-v2/src/simcore_service_director_v2/cli/__init__.py
  services/director-v2/src/simcore_service_director_v2/cli/_client.py
  services/director-v2/src/simcore_service_director_v2/cli/_core.py
  services/director-v2/tests/unit/with_dbs/test_cli.py
Labels: a:director-v2, changelog:🎨enhancement

#4941 🎨 Introduce product in api server
  packages/service-library/src/servicelib/rest_constants.py
  services/api-server/src/simcore_service_api_server/api/dependencies/authentication.py
  services/api-server/src/simcore_service_api_server/api/dependencies/webserver.py
  services/api-server/src/simcore_service_api_server/db/repositories/api_keys.py
  services/api-server/src/simcore_service_api_server/models/domain/api_keys.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/_with_db/conftest.py
  services/api-server/tests/unit/_with_db/test_product.py
  services/api-server/tests/unit/conftest.py
  services/web/server/src/simcore_service_webserver/_constants.py
  services/web/server/src/simcore_service_webserver/catalog/client.py
  services/web/server/src/simcore_service_webserver/products/_middlewares.py
  services/web/server/tests/integration/01/test_exporter_requests_handlers.py
  services/web/server/tests/unit/isolated/test_products_middlewares.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/03/products/test_products_handlers.py
Labels: a:webserver, a:apiserver

#4967 🐛TEMP: disable override resources
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
Labels: a:director-v2

#4961 🎨 Propagate products to entire backend
  services/api-server/src/simcore_service_api_server/api/dependencies/application.py
  services/api-server/src/simcore_service_api_server/api/dependencies/authentication.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/db/repositories/users.py
  services/api-server/tests/unit/_with_db/test_product.py
  services/api-server/tests/unit/conftest.py
Labels: a:apiserver

#4966 ♻️ E2E: adds milliseconds to screenshot prefix + wait before checking the logs
  tests/e2e/utils/auto.js
  tests/e2e/utils/utils.js
Labels: e2e

#4969 🔨 📝 Maintenance: code-ownership, citations and conventions [skip CI]
  .github/CODEOWNERS
  CITATION.cff
  docs/coding-conventions.md
Labels: a:doc

#4970 🐛Computational backend: re-enable service resources override
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/pricing_plans.py
  packages/models-library/src/models_library/resource_tracker.py
  packages/models-library/src/models_library/wallets.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/resource_usage_tracker_client.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations.py
  services/resource-usage-tracker/openapi.json
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/resource_tracker_pricing_units.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_pricing_plans.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: a:director-v2

#4974 ⬆️Maintenance: upgrade autoscaling
  .vscode/settings.template.json
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  tests/e2e/utils/wait_for_services.py
Labels: a:autoscaling

#4976 ⬆️ Maintenance: upgrades payments service requirements
  services/payments/requirements/_base.txt
  services/payments/requirements/_test.txt
  services/payments/requirements/_tools.txt
Labels: dependencies, a:payments

#4977 ⬆️ Maintenance: upgrades `invitations` service requirements
  services/invitations/openapi.json
  services/invitations/requirements/_base.txt
  services/invitations/requirements/_test.txt
  services/invitations/requirements/_tools.txt
Labels: a:payments

#4989 🎨 releasing process: allow sprint names with numbers
  .github/workflows/ci-staging.yml
Labels: a:infra+ops

#4986 ✨ `dynamic-sidecar` receives prometheus metrics networks if defined ⚠️
  services/director-v2/src/simcore_service_director_v2/api/dependencies/dynamic_sidecar.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_sidecar_settings.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_volume.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_egress_config.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/volume_remover.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes.py
  services/director-v2/src/simcore_service_director_v2/modules/node_rights.py
  services/director-v2/src/simcore_service_director_v2/modules/storage.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: a:dynamic-sidecar

#4984 🐛 Reduce DB connection locking in storage
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Labels: a:storage

#4985 ✨ add default wallet getter
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/mocks/get_default_wallet.json
  services/api-server/tests/unit/test_api_wallets.py
Labels: t:enhancement, a:apiserver

#4975 ✨Computational autoscaling: find out which EC2 type is necessary
  packages/dask-task-models-library/src/dask_task_models_library/constants.py
  packages/models-library/src/models_library/docker.py
  services/autoscaling/requirements/_tools.txt
  services/autoscaling/requirements/ci.txt
  services/autoscaling/requirements/dev.txt
  services/autoscaling/requirements/prod.txt
  services/autoscaling/setup.cfg
  services/autoscaling/src/simcore_service_autoscaling/core/errors.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_base.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_computational.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_dynamic.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/computational_scaling.py
  services/autoscaling/src/simcore_service_autoscaling/utils/dynamic_scaling.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_ec2.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/autoscaling/tests/unit/test_utils_computational_scaling.py
  services/autoscaling/tests/unit/test_utils_ec2.py
  services/clusters-keeper/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/test_modules_clusters.py
  services/clusters-keeper/tests/unit/test_modules_clusters_management_core.py
  services/clusters-keeper/tests/unit/test_modules_ec2.py
  services/clusters-keeper/tests/unit/test_rpc_clusters.py
  services/clusters-keeper/tests/unit/test_rpc_ec2_instances.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
Labels: a:autoscaling

#4993 ♻️ `director-v2` settings refactoring
  packages/service-library/src/servicelib/utils_secrets.py
  packages/service-library/tests/test_utils_secrets.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/dynamic_sidecar.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/__init__.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/egress_proxy.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/proxy.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/scheduler.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/sidecar.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_sidecar_settings.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_volume.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_egress_config.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/volume_remover.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes.py
  services/director-v2/src/simcore_service_director_v2/modules/node_rights.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/integration/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: t:enhancement, a:director-v2

#4978 📝 updated e2e local debug instructions
  .vscode/launch.template.json
  tests/e2e/README.md
Labels: a:doc

#4997 ⬆️ Maintenance: upgrade of clusters-keeper
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/clusters-keeper/requirements/_tools.txt
Labels: dependencies, t:maintenance, a:clusters-keeper

#4998 ⬆️ Maintenance: Upgrade of storage
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
Labels: a:storage

#5002 🎨 Add `user_id` to api server profile
  services/api-server/src/simcore_service_api_server/models/schemas/profiles.py
  services/web/server/src/simcore_service_webserver/users/schemas.py
Labels: a:apiserver

#5003 🔨 Removes `respx` library from base requirements listing (`fastapi.in`)
  packages/service-library/requirements/_fastapi.in
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters_management_task.py
  services/clusters-keeper/tests/unit/conftest.py
  tests/environment-setup/test_requirements.py
  tests/environment-setup/test_used_docker_compose.py
Labels: dependencies

#4995 ✨♻️ Generates invitations with product (⚠️ devops)
  .env-devel
  packages/models-library/src/models_library/invitations.py
  services/docker-compose.yml
  services/invitations/Makefile
  services/invitations/README.md
  services/invitations/VERSION
  services/invitations/openapi.json
  services/invitations/setup.cfg
  services/invitations/setup.py
  services/invitations/src/simcore_service_invitations/__init__.py
  services/invitations/src/simcore_service_invitations/api/_invitations.py
  services/invitations/src/simcore_service_invitations/api/_meta.py
  services/invitations/src/simcore_service_invitations/cli.py
  services/invitations/src/simcore_service_invitations/core/settings.py
  services/invitations/src/simcore_service_invitations/invitations.py
  services/invitations/tests/unit/api/conftest.py
  services/invitations/tests/unit/api/test_api_invitations.py
  services/invitations/tests/unit/conftest.py
  services/invitations/tests/unit/test_cli.py
  services/invitations/tests/unit/test_core_settings.py
  services/invitations/tests/unit/test_invitations.py
Labels: a:invitations

#5005 🐛 removed wrong injected metric from `dynamic-sidecar`
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/prometheus_metrics.py
  services/dynamic-sidecar/tests/unit/test_api_prometheus_metrics.py
Labels: a:dynamic-sidecar

#5009 📝 Add update env reminder
  .github/PULL_REQUEST_TEMPLATE.md
Labels: a:doc

#5008 🐛Prevent autoscaling from creating workers indefinitely
  .pre-commit-config.yaml
  scripts/precommit/pytest-testit.bash
  services/autoscaling/requirements/_base.in
  services/autoscaling/requirements/_base.txt
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_computational.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/computational_scaling.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/autoscaling/tests/unit/test_utils_computational_scaling.py
Labels: a:autoscaling

#5010 ✨Clusters keeper: shutdown all workers on cluster close
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters_management_core.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/ec2.py
  services/clusters-keeper/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/test_modules_clusters.py
  services/clusters-keeper/tests/unit/test_modules_clusters_management_core.py
  services/clusters-keeper/tests/unit/test_modules_ec2.py
  services/clusters-keeper/tests/unit/test_rpc_ec2_instances.py
Labels: a:clusters-keeper

#5013 ♻️ Computational backend: set RAM margin to 10%
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
Labels: a:director-v2

#5007 ♻️🎨 Invitations service responds with product
  packages/models-library/src/models_library/api_schemas_invitations/invitations.py
  packages/models-library/src/models_library/invitations.py
  services/invitations/Makefile
  services/invitations/VERSION
  services/invitations/docker/boot.sh
  services/invitations/openapi.json
  services/invitations/requirements/_test.in
  services/invitations/requirements/_test.txt
  services/invitations/setup.cfg
  services/invitations/src/simcore_service_invitations/api/_invitations.py
  services/invitations/src/simcore_service_invitations/cli.py
  services/invitations/src/simcore_service_invitations/main.py
  services/invitations/src/simcore_service_invitations/services/__init__.py
  services/invitations/src/simcore_service_invitations/services/invitations.py
  services/invitations/src/simcore_service_invitations/web_server.py
  services/invitations/tests/unit/api/test_api_dependencies.py
  services/invitations/tests/unit/api/test_api_invitations.py
  services/invitations/tests/unit/conftest.py
  services/invitations/tests/unit/test__model_examples.py
  services/invitations/tests/unit/test_cli.py
  services/invitations/tests/unit/test_invitations.py
  services/web/server/src/simcore_service_webserver/products/_invitations_handlers.py
  services/web/server/tests/unit/with_dbs/03/invitations/conftest.py
Labels: a:invitations

#5018 🐛Director-v2: fix unit test
  services/director-v2/tests/unit/with_dbs/test_api_route_computations.py
Labels: a:director-v2

#5012 ✨ listen to wallet events in payment system
  packages/service-library/src/servicelib/rabbitmq/_client.py
  packages/service-library/tests/rabbitmq/test_rabbitmq.py
  services/payments/src/simcore_service_payments/core/application.py
  services/payments/src/simcore_service_payments/services/auto_recharge_listener.py
  services/payments/src/simcore_service_payments/services/auto_recharge_process_message.py
  services/payments/src/simcore_service_payments/services/rabbitmq.py
  services/payments/tests/unit/conftest.py
  services/payments/tests/unit/test_services_auto_recharge_listener.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments_methods.py
Labels: a:payments

#5021 Share wallet bug
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
Labels: bug

#5025 ♻️Autoscaling: Debug logs for issue with scaling up
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Labels: a:autoscaling

#5023 📝 Maintenance: cleanup readme and vscode settings
  .vscode/extensions.json
  .vscode/settings.template.json
  README.md
Labels: a:doc, t:maintenance

#5011 🐛 adding missing env var to docker-compose.yaml
  .env-devel
  docs/env-vars.md
  services/docker-compose.yml
Labels: a:director-v2

#5026 🐛Dynamic autoscaling: not scaling beside 1 machine
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_base.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_computational.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_dynamic.py
  services/autoscaling/src/simcore_service_autoscaling/utils/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/computational_scaling.py
  services/autoscaling/src/simcore_service_autoscaling/utils/dynamic_scaling.py
  services/autoscaling/tests/manual/.env-devel
  services/autoscaling/tests/manual/Makefile
  services/autoscaling/tests/manual/README.md
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_utils_computational_scaling.py
  services/autoscaling/tests/unit/test_utils_dynamic_scaling.py
Labels: a:autoscaling

#5030 ⚗️ Perform experiments - MarkerIO
  services/static-webserver/client/source/boot/index.html
Labels: a:frontend

#5004 ✨oSPARC API keys are created and removed if a service requires them
  api/specs/web-server/_auth.py
  packages/models-library/src/models_library/api_schemas_api_server/__init__.py
  packages/models-library/src/models_library/api_schemas_api_server/api_keys.py
  services/api-server/openapi.json
  services/api-server/tests/unit/_with_db/conftest.py
  services/api-server/tests/unit/_with_db/test_product.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/api_keys_manager.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables_substitutions.py
  services/director-v2/src/simcore_service_director_v2/utils/distributed_identifer.py
  services/director-v2/src/simcore_service_director_v2/utils/osparc_variables.py
  services/director-v2/tests/unit/test_modules_api_keys_manager.py
  services/director-v2/tests/unit/test_utils_distributed_identifier.py
  services/director-v2/tests/unit/test_utils_osparc_variables.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api_keys/_api.py
  services/web/server/src/simcore_service_webserver/api_keys/_db.py
  services/web/server/src/simcore_service_webserver/api_keys/_rpc.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys_rpc.py
Labels: a:director-v2

#5017 ✨ New `pay with payment-method` implementation
  .gitignore
  .vscode/extensions.json
  api/specs/web-server/_wallets.py
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  packages/pytest-simcore/src/pytest_simcore/helpers/rawdata_fakers.py
  services/payments/Makefile
  services/payments/VERSION
  services/payments/openapi.json
  services/payments/scripts/Makefile
  services/payments/scripts/fake_payment_gateway.py
  services/payments/setup.cfg
  services/payments/src/simcore_service_payments/api/rest/_dependencies.py
  services/payments/src/simcore_service_payments/api/rpc/_payments_methods.py
  services/payments/src/simcore_service_payments/db/payments_transactions_repo.py
  services/payments/src/simcore_service_payments/models/db.py
  services/payments/src/simcore_service_payments/models/payments_gateway.py
  services/payments/src/simcore_service_payments/models/schemas/acknowledgements.py
  services/payments/src/simcore_service_payments/models/utils.py
  services/payments/src/simcore_service_payments/services/payments.py
  services/payments/src/simcore_service_payments/services/payments_gateway.py
  services/payments/src/simcore_service_payments/services/postgres.py
  services/payments/tests/unit/conftest.py
  services/payments/tests/unit/test_rpc_payments_methods.py
  services/payments/tests/unit/test_services_payments_gateway.py
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethodDetails.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/payments/_methods_api.py
  services/web/server/src/simcore_service_webserver/payments/_onetime_api.py
  services/web/server/src/simcore_service_webserver/payments/_rpc.py
  services/web/server/src/simcore_service_webserver/payments/api.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/conftest.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments_methods.py
Labels: a:frontend, a:webserver, a:payments

#5033 ✨ Comp backend: allow multiple amis/bootscripts/pre-pull images
  .env-devel
  .pylintrc
  packages/aws-library/requirements/_base.in
  packages/aws-library/requirements/_base.txt
  packages/aws-library/requirements/ci.txt
  packages/aws-library/requirements/dev.txt
  packages/aws-library/src/aws_library/ec2/models.py
  packages/settings-library/src/settings_library/ec2.py
  services/autoscaling/README.md
  services/autoscaling/requirements/_base.txt
  services/autoscaling/src/simcore_service_autoscaling/api/health.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/auto_scaling_core.py
  services/autoscaling/tests/manual/.env-devel
  services/autoscaling/tests/manual/README.md
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_core_settings.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_task.py
  services/autoscaling/tests/unit/test_modules_rabbitmq.py
  services/autoscaling/tests/unit/test_utils_auto_scaling_core.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/manual/README.md
  services/clusters-keeper/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
  services/docker-compose.yml
Labels: a:autoscaling

#4739 ✨ Invitations to register to product
  services/web/server/src/simcore_service_webserver/invitations/_core.py
  services/web/server/src/simcore_service_webserver/invitations/plugin.py
  services/web/server/src/simcore_service_webserver/login/_auth_api.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/handlers_auth.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/products/_api.py
  services/web/server/src/simcore_service_webserver/products/_events.py
  services/web/server/src/simcore_service_webserver/products/_middlewares.py
  services/web/server/tests/unit/with_dbs/03/invitations/conftest.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_invitations.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_login_registration_invitations.py
Labels: a:webserver, a:invitations

#5039 ⚰️ removing node_rights module from director-v2
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/node_rights.py
  services/director-v2/tests/unit/with_dbs/test_modules_node_rights.py
Labels: a:director-v2

#5037 🐛🎨 Fixes formatting error in payments and enhances logging and error handling
  packages/models-library/src/models_library/healthchecks.py
  packages/service-library/src/servicelib/fastapi/http_client.py
  packages/service-library/tests/fastapi/test_http_client.py
  services/payments/src/simcore_service_payments/api/rpc/_payments.py
  services/payments/src/simcore_service_payments/api/rpc/_payments_methods.py
  services/payments/src/simcore_service_payments/services/healthchecks.py
  services/payments/src/simcore_service_payments/services/payments.py
  services/payments/src/simcore_service_payments/services/payments_gateway.py
  services/payments/src/simcore_service_payments/services/postgres.py
  services/payments/tests/unit/api/test__one_time_payment_workflows.py
  services/payments/tests/unit/test_services_payments_gateway.py
  services/web/server/src/simcore_service_webserver/payments/_onetime_api.py
  services/web/server/src/simcore_service_webserver/payments/_rpc.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/conftest.py
Labels: a:payments

#5047 ✨ Introduce fake API server entrypoint for logstreaming
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_logs.py
Labels: a:apiserver

#5042 ✨Computational backend: Trace parent node
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
  packages/postgres-database/tests/test_utils_projects_nodes.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects_metadata.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/src/simcore_service_director_v2/utils/rabbitmq.py
  services/director-v2/tests/unit/with_dbs/test_modules_db_repositories_projects.py
Labels: a:director-v2

#5043 ♻️ director-v2 created api-keys are removed if not used by any service ⚠️
  packages/service-library/src/servicelib/redis.py
  packages/settings-library/src/settings_library/redis.py
  services/autoscaling/tests/manual/docker-compose.yml
  services/clusters-keeper/docker-compose.yml
  services/director-v2/src/simcore_service_director_v2/modules/api_keys_manager.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables_substitutions.py
  services/director-v2/src/simcore_service_director_v2/utils/base_distributed_identifier.py
  services/director-v2/src/simcore_service_director_v2/utils/distributed_identifer.py
  services/director-v2/tests/unit/test_modules_api_keys_manager.py
  services/director-v2/tests/unit/test_utils_distributed_identifier.py
  services/docker-compose-ops.yml
  services/docker-compose.yml
Labels: a:director-v2

#5041 🐛 getters for user_role and email fixed
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/services_environments.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/users.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables_substitutions.py
  services/director-v2/tests/unit/test_utils_osparc_variables.py
Labels: a:director-v2

#5051 ✨ Add common simcore-service executable alias
  packages/postgres-database/setup.py
  packages/service-integration/setup.py
  packages/service-integration/src/service_integration/commands/metadata.py
  packages/service-integration/tests/conftest.py
  packages/service-integration/tests/test__usecase_jupytermath.py
  packages/service-integration/tests/test_command_compose.py
  packages/service-integration/tests/test_command_metadata.py
  packages/service-integration/tests/test_command_run_creator.py
  services/agent/setup.py
  services/api-server/setup.py
  services/autoscaling/setup.py
  services/catalog/setup.py
  services/clusters-keeper/setup.py
  services/dask-sidecar/setup.py
  services/datcore-adapter/setup.py
  services/director-v2/setup.py
  services/director/setup.py
  services/dynamic-scheduler/setup.py
  services/dynamic-sidecar/setup.py
  services/invitations/setup.py
  services/payments/setup.py
  services/resource-usage-tracker/setup.py
  services/storage/setup.py
  services/web/server/setup.py
Labels: t:enhancement, t:maintenance, idea

#5045 🎨 Job log streaming: connect endpoint with rabbitMQ
  packages/pytest-simcore/src/pytest_simcore/helpers/typing_env.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_envs.py
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/service-library/src/servicelib/fastapi/errors.py
  packages/service-library/src/servicelib/fastapi/rabbitmq.py
  packages/service-library/tests/fastapi/test_openapi.py
  packages/service-library/tests/fastapi/test_rabbitmq.py
  packages/service-library/tests/rabbitmq/test_rabbitmq.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_connection.py
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/requirements/prod.txt
  services/api-server/src/simcore_service_api_server/api/dependencies/rabbitmq.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/services/director_v2.py
  services/api-server/src/simcore_service_api_server/services/rabbitmq.py
  services/api-server/tests/conftest.py
  services/api-server/tests/unit/api_solvers/conftest.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_logs.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test__fastapi.py
  services/api-server/tests/unit/test_services_rabbitmq.py
  services/api-server/tests/unit/test_utils_client_base.py
  services/autoscaling/tests/unit/test_modules_rabbitmq.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/clusters-keeper/tests/unit/test_modules_rabbitmq.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_utils_rabbitmq.py
  services/payments/tests/unit/test_services_auto_recharge_listener.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_credit_transactions.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_background_task.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_triggered_by_listening.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_triggered_by_listening_with_billing.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_with_billing.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_consumers.py
  services/web/server/tests/integration/02/notifications/test_rabbitmq_consumers.py
Labels: a:apiserver

#5060 🐛 📝 Fix batch get payment
  .gitignore
  services/payments/README.md
  services/payments/gateway/Makefile
  services/payments/gateway/example_payment_gateway.py
  services/payments/gateway/openapi.json
  services/payments/src/simcore_service_payments/services/payments_gateway.py
  services/payments/tests/unit/test_services_payments_gateway.py
Labels: a:doc, a:payments

#5061 🎨 Two-factor-auth per user (🗃️ )
  packages/postgres-database/src/simcore_postgres_database/migration/versions/215b2cac1dbc_new_two_factor_enabled_user_column.py
  packages/postgres-database/src/simcore_postgres_database/models/users.py
  services/web/server/src/simcore_service_webserver/login/handlers_auth.py
Labels: a:webserver

#5054 ✨Dask sidecar: pass job origin and show child computational service logs in workbench
  packages/dask-task-models-library/requirements/_base.in
  packages/dask-task-models-library/requirements/ci.txt
  packages/dask-task-models-library/requirements/dev.txt
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/events.py
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/protocol.py
  packages/dask-task-models-library/tests/container_tasks/test_events.py
  packages/dask-task-models-library/tests/container_tasks/test_protocol.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_dask_utils.py
  services/dask-sidecar/tests/unit/test_file_utils.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/_dask_helpers.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
Labels: a:dask-service

#5062 🐛 Avoid displaying confusing message when editing workbench
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
Labels: bug, a:frontend

#5066 ✨Clusters-keeper: add CLUSTERS_KEEPER_COMPUTATIONAL_BACKEND_DOCKER_IMAGE_TAG ENV
  .env-devel
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/tests/unit/test_cli.py
  services/docker-compose.yml
Labels: a:clusters-keeper

#5069 👽️ 🐛 fix stop job endpoint in API server
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/tests/mocks/stop_job.json
  services/api-server/tests/unit/test_api_solver_jobs.py
Labels: a:apiserver

#5064 🗑️ cleanup after adding logstreaming
  packages/pytest-simcore/src/pytest_simcore/__init__.py
  packages/service-library/src/servicelib/fastapi/rabbitmq.py
  packages/service-library/tests/fastapi/test_rabbitmq.py
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/tests/unit/_with_db/conftest.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_services_rabbitmq.py
  services/dynamic-scheduler/tests/unit/conftest.py
  services/payments/tests/unit/conftest.py
Labels: a:services-library, a:apiserver

#5077 🐛Dynamic autoscaling creates new machines indefinitely due to bad specifictions of service
  services/autoscaling/src/simcore_service_autoscaling/utils/dynamic_scaling.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Labels: a:autoscaling

#5080 🐛♻️ Comp backend: progress of a processing container is now limited to 99%
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
Labels: a:dask-service

#5082 ♻️ director-v2 no longer captures all env vars
  .env-devel
  services/director-v2/.env-devel
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/scheduler.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/docker-compose.yml
Labels: a:director-v2

#5083 ♻️ Maintenance: updates env-vars in `api-server` ⚠️
  .env-devel
  .vscode/extensions.json
  services/api-server/setup.py
  services/docker-compose.yml
Labels: t:maintenance, a:apiserver

#5092 🐛 Puppeteer fix: Card selection by title
  tests/e2e/utils/utils.js
Labels: bug, e2e

#5058 ✨services can now be shut down when the credits limits are reached ⚠️
  .env-devel
  packages/models-library/src/models_library/rabbitmq_messages.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_scheduler.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/scheduler.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/src/simcore_service_director_v2/modules/rabbitmq.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_observer.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
  services/director-v2/tests/unit/test_modules_rabbitmq.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
  services/docker-compose.yml
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/resource_tracker_process_messages.py
Labels: a:director-v2

#5093 🐛Dask-Sidecar: improper detection of GPUs on multi-GPU machines if log-driver is improperly set
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils.py
Labels: a:dask-service

#5098 ♻️ Add debug logs for unknown issue
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler_utils.py
Labels: High Priority, a:director-v2

#5084 ♻️✨Comp backend: refactor progress + allow internal progress bar to use weights
  packages/service-library/src/servicelib/archiving_utils.py
  packages/service-library/src/servicelib/progress_bar.py
  packages/service-library/tests/test_progress_bar.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/tests/integration/test_node_data_data_manager_.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_r_clone.py
  packages/simcore-sdk/tests/integration/test_node_ports_v2_nodeports2.py
  packages/simcore-sdk/tests/unit/test_node_data_data_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_file_io_utils.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_nodeports_v2.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_manager.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_dynamic_services.py
Labels: a:services-library, a:dask-service

#5024 ✨🎨 Preferences: Inactivity and Concurrency
  services/static-webserver/client/source/class/osparc/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/web/server/src/simcore_service_webserver/users/_preferences_models.py
Labels: t:enhancement, a:frontend

#5105 🎨 Only show “credits” col in usage table if wallets
  services/static-webserver/client/source/class/osparc/desktop/credits/UsageTable.js
Labels: a:frontend

#5107 🐛 PO center should be visible in all products #5052
  services/static-webserver/client/source/class/osparc/desktop/MainPageDesktop.js
Labels: a:frontend

#5101 🐛Correctly handle file type of on-demand clusters
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/storage/src/simcore_service_storage/exceptions.py
  services/storage/src/simcore_service_storage/handlers_files.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Labels: a:director-v2
