Repository ITISFoundation/osparc-simcore, pull requests merged in 2023-09, with the labels that each got.

#4693 🎨 Enhancements: Account, Preferences and Resource Selection
  services/static-webserver/client/source/class/osparc/auth/Data.js
  services/static-webserver/client/source/class/osparc/component/study/ResourceSelector.js
  services/static-webserver/client/source/class/osparc/component/study/TierButton.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicator.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorWText.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsWindow.js
  services/static-webserver/client/source/class/osparc/desktop/credits/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Transactions.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/BasePage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/SecurityPage.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
Labels: a:frontend, changelog:🎨enhancement

#4698 ⚗️ `storage` remove task concurrency locking while duplicating a project
  packages/service-library/src/servicelib/sequences_utils.py
  packages/service-library/tests/test_sequences_utils.py
  packages/service-library/tests/test_utils.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Labels: a:storage, t:maintenance

#4696 ⬆️Storage: dependencies upgrade
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/storage/src/simcore_service_storage/application.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_exceptions.py
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_settings.py
  services/storage/src/simcore_service_storage/db_access_layer.py
  services/storage/src/simcore_service_storage/db_projects.py
  services/storage/src/simcore_service_storage/db_tokens.py
  services/storage/src/simcore_service_storage/dsm_cleaner.py
  services/storage/src/simcore_service_storage/dsm_factory.py
  services/storage/src/simcore_service_storage/handlers_health.py
  services/storage/src/simcore_service_storage/handlers_locations.py
  services/storage/src/simcore_service_storage/handlers_simcore_s3.py
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/utils_handlers.py
  services/storage/tests/unit/conftest.py
  services/storage/tests/unit/test__openapi_specs.py
  services/storage/tests/unit/test_aiobotocore.py
  services/storage/tests/unit/test_cli.py
  services/storage/tests/unit/test_utils_handlers.py
Labels: a:storage

#4705 ♻️Storage: Reduce noisy loggers impact
  services/storage/src/simcore_service_storage/application.py
Labels: a:storage

#4710 ♻️ Maintenance: removes unused modules
  packages/models-library/src/models_library/aiodocker_api.py
  packages/models-library/src/models_library/utils/converters.py
  packages/models-library/src/models_library/utils/database_models_factory.py
  packages/models-library/tests/test_utils_database_models_factory.py
Labels: a:webserver

#4683 ✨ webserver API for wallet/*/payments 🗃️ ⚠️
  .env-devel
  api/specs/web-server/_wallets.py
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/fc6ea424f586_new_payments_transactions_table.py
  packages/postgres-database/src/simcore_postgres_database/models/_common.py
  packages/postgres-database/src/simcore_postgres_database/models/payments_transactions.py
  packages/postgres-database/tests/test_models_payments_transactions.py
  packages/pytest-simcore/src/pytest_simcore/helpers/rawdata_fakers.py
  packages/service-library/src/servicelib/aiohttp/typing_extension.py
  packages/service-library/src/servicelib/logging_utils.py
  services/docker-compose.yml
  services/web/server/VERSION
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/db/plugin.py
  services/web/server/src/simcore_service_webserver/payments/__init__.py
  services/web/server/src/simcore_service_webserver/payments/_api.py
  services/web/server/src/simcore_service_webserver/payments/_client.py
  services/web/server/src/simcore_service_webserver/payments/_db.py
  services/web/server/src/simcore_service_webserver/payments/_socketio.py
  services/web/server/src/simcore_service_webserver/payments/_tasks.py
  services/web/server/src/simcore_service_webserver/payments/api.py
  services/web/server/src/simcore_service_webserver/payments/plugin.py
  services/web/server/src/simcore_service_webserver/payments/settings.py
  services/web/server/src/simcore_service_webserver/socketio/messages.py
  services/web/server/src/simcore_service_webserver/users/_db.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/wallets/_api.py
  services/web/server/src/simcore_service_webserver/wallets/_groups_db.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/plugin.py
  services/web/server/tests/conftest.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/with_dbs/03/test_users_db.py
  services/web/server/tests/unit/with_dbs/03/wallets/conftest.py
  services/web/server/tests/unit/with_dbs/03/wallets/test_payments.py
Labels: a:webserver

#4709 ♻️Autoscaling: prepare for computational autoscaling
  packages/service-library/tests/test_background_task.py
  services/autoscaling/src/simcore_service_autoscaling/_meta.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_base.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_dynamic.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_task.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_task.py
Labels: a:autoscaling

#4590 ✨ Dynamic services backend: connect to resource tracking via RabbitMQ
  packages/models-library/src/models_library/services_creation.py
  packages/settings-library/src/settings_library/resource_usage_tracker.py
  scripts/pydeps.bash
  services/director-v2/src/simcore_service_director_v2/constants.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_logs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/schemas/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_watcher.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/resource_tracking/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/resource_tracking/_core.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/resource_tracking/_models.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/resource_tracking/_setup.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_api_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_workflow_service_metrics.py
  services/dynamic-sidecar/tests/unit/test_core_docker_logs.py
  services/dynamic-sidecar/tests/unit/test_core_docker_utils.py
  simcore_service_dynamic_sidecar.svg
Labels: a:dynamic-sidecar, changelog:✨new-feature

#4716 🐛Fix tests failing issue with newer docker compose (>2.21.0)
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
Labels: a:infra+ops

#4707 ✨Implement delete file endpoint
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/models/schemas/files.py
  services/api-server/src/simcore_service_api_server/services/storage.py
  services/api-server/src/simcore_service_api_server/utils/client_base.py
  services/api-server/src/simcore_service_api_server/utils/http_calls_capture.py
  services/api-server/src/simcore_service_api_server/utils/http_calls_capture_processing.py
  services/api-server/tests/conftest.py
  services/api-server/tests/mocks/delete_file.json
  services/api-server/tests/unit/captures/dummy_api_server_openapi.json
  services/api-server/tests/unit/captures/test__mocks_captures.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test__mocks_captures.py
  services/api-server/tests/unit/test_api_files.py
  services/api-server/tests/unit/test_utils_http_calls_capture.py
Labels: t:enhancement

#4717 🐛 Fixes payment plugin environs (devops ⚠️)
  .env-devel
  services/web/server/src/simcore_service_webserver/payments/_tasks.py
  services/web/server/src/simcore_service_webserver/wallets/plugin.py
Labels: a:webserver, changelog:🐛bugfix

#4704 ✨ Frontend: Connect payments and transactions
  services/static-webserver/client/source/class/osparc/component/resourceUsage/OverviewTable.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsWindow.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Overview.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Transactions.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
Labels: a:frontend, changelog:✨new-feature

#4718 ✨ Feature: Pop up Wallet/Resource Selection also when reopening a Project
  services/static-webserver/client/source/class/osparc/component/resourceUsage/Overview.js
  services/static-webserver/client/source/class/osparc/component/resourceUsage/OverviewTable.js
  services/static-webserver/client/source/class/osparc/component/study/ResourceSelector.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/Roles.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorWText.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Overview.js
  services/static-webserver/client/source/class/osparc/desktop/credits/PaymentGateway.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Transactions.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletDetails.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
Labels: a:frontend, changelog:🎨enhancement

#4720 🐛 Fixes fake payment-completion
  api/specs/web-server/_wallets.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/payments/_db.py
  services/web/server/src/simcore_service_webserver/payments/_tasks.py
  services/web/server/tests/unit/with_dbs/03/wallets/test_payments.py
Labels: a:webserver

#4721 ✨ Feature: listen to the ws paymentCompleted event
  services/static-webserver/client/source/class/osparc/component/resourceUsage/Overview.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Overview.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Transactions.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenter.js
Labels: a:frontend, changelog:✨new-feature

#4726 🎨 Feature: Payment status
  services/static-webserver/client/source/class/osparc/component/resourceUsage/Overview.js
  services/static-webserver/client/source/class/osparc/data/model/Wallet.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Transactions.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenter.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/Preferences.js
  services/static-webserver/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:✨new-feature

#4723 ✨ web-api: cancel payments (⚠️ 🗃️)
  .env-devel
  api/specs/web-server/_wallets.py
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  packages/postgres-database/src/simcore_postgres_database/errors.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c4245e9e0f72_payment_transactions_states.py
  packages/postgres-database/src/simcore_postgres_database/models/payments_transactions.py
  packages/postgres-database/tests/test_models_payments_transactions.py
  services/docker-compose.yml
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/payments/_api.py
  services/web/server/src/simcore_service_webserver/payments/_db.py
  services/web/server/src/simcore_service_webserver/payments/_socketio.py
  services/web/server/src/simcore_service_webserver/payments/_tasks.py
  services/web/server/src/simcore_service_webserver/payments/api.py
  services/web/server/src/simcore_service_webserver/payments/errors.py
  services/web/server/src/simcore_service_webserver/payments/settings.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
  services/web/server/tests/unit/with_dbs/03/wallets/conftest.py
  services/web/server/tests/unit/with_dbs/03/wallets/test_payments.py
Labels: a:webserver

#4725 🐛 correct service type storing in resource usage tracker
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/resource_tracker_process_messages.py
Labels: a:resource-usage-tracker

#4728 🐛 Fix e2e: TIP test
  services/static-webserver/client/source/class/osparc/navigation/PrevNextButtons.js
Labels: e2e, changelog:🐛bugfix

#4655 ✨Adding system wide user preferences (1st round FrontendPreferences)
  api/specs/web-server/Makefile
  api/specs/web-server/_users.py
  packages/models-library/src/models_library/api_schemas_webserver/users_preferences.py
  packages/models-library/src/models_library/user_preferences.py
  packages/models-library/tests/test_user_preferences.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/f53806935760_added_user_prefereces_tables.py
  packages/postgres-database/src/simcore_postgres_database/models/user_preferences.py
  packages/postgres-database/src/simcore_postgres_database/utils_user_preferences.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_utils_groups_extra_properties.py
  packages/postgres-database/tests/test_utils_user_preferences.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/long_running_tasks.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/users/_preferences_api.py
  services/web/server/src/simcore_service_webserver/users/_preferences_db.py
  services/web/server/src/simcore_service_webserver/users/_preferences_handlers.py
  services/web/server/src/simcore_service_webserver/users/_preferences_models.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/users/plugin.py
  services/web/server/src/simcore_service_webserver/users/schemas.py
  services/web/server/tests/unit/isolated/test_users_models.py
  services/web/server/tests/unit/with_dbs/03/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_auth.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
  services/web/server/tests/unit/with_dbs/03/test_users__preferences_api.py
  services/web/server/tests/unit/with_dbs/03/test_users__preferences_handlers.py
  services/web/server/tests/unit/with_dbs/03/test_users__preferences_models.py
Labels: a:webserver

#4730 ♻️Rabbitmq rpc: response shall not be jsonized
  .coveragerc
  .ruff.toml
  packages/service-library/src/servicelib/rabbitmq/_errors.py
  packages/service-library/src/servicelib/rabbitmq/_rpc_router.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_router.py
  scripts/common.Makefile
  services/clusters-keeper/Makefile
  services/clusters-keeper/tests/unit/test_rpc_clusters.py
Labels: a:services-library, a:clusters-keeper

#4732 🐛 fixed `storage` broken dsm cleaner was removing files when uploading to directories
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm_utils.py
  services/storage/tests/unit/test_dsm_dsmcleaner.py
Labels: a:storage, changelog:🐛bugfix

#4702 ✨ Frontend: Get and Patch Preferences
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/Preferences.js
  services/static-webserver/client/source/class/osparc/component/resourceUsage/OverviewTable.js
  services/static-webserver/client/source/class/osparc/component/widget/NodesTree.js
  services/static-webserver/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Wallet.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Overview.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Transactions.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ExperimentalPage.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletDetails.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
  services/static-webserver/client/source/class/osparc/ui/switch/ThemeSwitcher.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:✨new-feature

#4703 ✨Computational backend: connect dv2 to clusters keeper for on-demand clusters (🗃️ + ⚠️devops)
  .env-devel
  packages/models-library/src/models_library/api_schemas_directorv2/comp_tasks.py
  packages/models-library/src/models_library/clusters.py
  packages/models-library/src/models_library/projects_state.py
  packages/models-library/src/models_library/rpc_schemas_clusters_keeper/__init__.py
  packages/models-library/src/models_library/rpc_schemas_clusters_keeper/clusters.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/2cd329e47ea1_add_use_on_demand_clusters_in_comp_runs.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_pipeline.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_runs.py
  services/clusters-keeper/docker/entrypoint.sh
  services/clusters-keeper/src/simcore_service_clusters_keeper/_meta.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/models.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters_management_core.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/dask.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/rpc/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/unit/test_models.py
  services/clusters-keeper/tests/unit/test_rpc_clusters.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
  services/director-v2/src/simcore_service_director_v2/api/routes/clusters.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/clusters_keeper.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/clusters.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/utils/comp_scheduler.py
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/src/simcore_service_director_v2/utils/db.py
  services/director-v2/src/simcore_service_director_v2/utils/rabbitmq.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/director-v2/tests/unit/test_utils_comp_scheduler.py
  services/director-v2/tests/unit/test_utils_computation.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/docker-compose.yml
  services/static-webserver/client/source/class/osparc/component/node/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/component/widget/PreparingInputs.js
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/static-webserver/client/source/class/osparc/utils/StatusUI.js
  services/web/server/src/simcore_service_webserver/db_listener/_utils.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/unit/with_dbs/01/db_listener/test_notifications__utils.py
  simcore_service_dynamic_sidecar.svg
  test.bash
Labels: a:director-v2, a:clusters-keeper

#4736 ✨New groups extra properties to use on demand clusters in DB (🗃️)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e7b3d381efe4_add_use_on_demand_clusters_column_in_.py
  packages/postgres-database/src/simcore_postgres_database/models/groups_extra_properties.py
  packages/postgres-database/src/simcore_postgres_database/utils_groups_extra_properties.py
  packages/postgres-database/tests/test_utils_groups_extra_properties.py
  services/web/server/src/simcore_service_webserver/users/_db.py
Labels: a:database

#4742 ⬆️ 🔒️ Upgrades vulnerable libraries
  api/tests/requirements.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/service-integration/requirements/_base.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  requirements/constraints.txt
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_test.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/invitations/requirements/_base.in
  services/invitations/requirements/_base.txt
  services/invitations/requirements/_test.txt
  services/migration/requirements/_test.txt
  services/osparc-gateway-server/requirements/_base.txt
  services/osparc-gateway-server/requirements/_test.txt
  services/osparc-gateway-server/tests/system/requirements/_test.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/e2e/requirements/requirements.txt
  tests/environment-setup/requirements/requirements.txt
  tests/public-api/requirements/_test.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: dependencies, python

#4741 ♻️ Refactor products plugin before extension
  packages/postgres-database/tests/products/conftest.py
  packages/postgres-database/tests/products/test_models_products.py
  packages/postgres-database/tests/products/test_utils_products.py
  services/web/server/src/simcore_service_webserver/announcements/_handlers.py
  services/web/server/src/simcore_service_webserver/email/_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_handlers.py
  services/web/server/src/simcore_service_webserver/login/handlers_2fa.py
  services/web/server/src/simcore_service_webserver/login/handlers_auth.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/login/utils_email.py
  services/web/server/src/simcore_service_webserver/products/_api.py
  services/web/server/src/simcore_service_webserver/products/_db.py
  services/web/server/src/simcore_service_webserver/products/_events.py
  services/web/server/src/simcore_service_webserver/products/_middlewares.py
  services/web/server/src/simcore_service_webserver/products/_model.py
  services/web/server/src/simcore_service_webserver/products/api.py
  services/web/server/src/simcore_service_webserver/products/plugin.py
  services/web/server/src/simcore_service_webserver/projects/_states_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/publications/_handlers.py
  services/web/server/src/simcore_service_webserver/rest/_handlers.py
  services/web/server/src/simcore_service_webserver/statics/_events.py
  services/web/server/src/simcore_service_webserver/statics/_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_redirects_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_rest_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/tests/unit/isolated/test_products_middlewares.py
  services/web/server/tests/unit/isolated/test_products_model.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/tags/conftest.py
Labels: a:webserver

#4746 ✨Comp backend: Clusters-keeper can create a cluster with no wallet ID defined
  packages/models-library/src/models_library/rpc_schemas_clusters_keeper/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/rpc/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/ec2.py
  services/clusters-keeper/tests/unit/test_rpc_clusters.py
  services/director-v2/src/simcore_service_director_v2/modules/clusters_keeper.py
Labels: a:director-v2, a:clusters-keeper

#4740 ✨Comp backend: allow to change to s3 links on on demand clusters (⚠️ devops)
  .env-devel
  ci/github/integration-testing/director-v2.bash
  ci/github/integration-testing/webserver.bash
  ci/github/unit-testing/director-v2.bash
  ci/github/unit-testing/webserver.bash
  packages/models-library/src/models_library/api_schemas_directorv2/clusters.py
  packages/models-library/src/models_library/clusters.py
  packages/models-library/tests/test_clusters.py
  scripts/common-service.Makefile
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/clusters_keeper.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/docker-compose.yml
Labels: a:director-v2

#4754 🔨 Profile api server
  services/api-server/README.md
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/src/simcore_service_api_server/core/_profiler_middleware.py
  services/api-server/src/simcore_service_api_server/core/application.py
Labels: t:maintenance

#4747 ✨ webserver API: exposes payment methods (🗃️)
  .env-devel
  api/specs/web-server/_wallets.py
  docs/init-prompt-ack_flow.drawio.png
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/624a029738b8_new_payments_method_table.py
  packages/postgres-database/src/simcore_postgres_database/models/payments_methods.py
  packages/postgres-database/src/simcore_postgres_database/models/payments_transactions.py
  packages/postgres-database/tests/test_models_payments_methods.py
  services/docker-compose.yml
  services/payments/src/simcore_service_payments/models/payments_gateway.py
  services/payments/src/simcore_service_payments/services/payments_gateway.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/payments/_api.py
  services/web/server/src/simcore_service_webserver/payments/_db.py
  services/web/server/src/simcore_service_webserver/payments/_methods_api.py
  services/web/server/src/simcore_service_webserver/payments/_methods_db.py
  services/web/server/src/simcore_service_webserver/payments/_tasks.py
  services/web/server/src/simcore_service_webserver/payments/api.py
  services/web/server/src/simcore_service_webserver/payments/errors.py
  services/web/server/src/simcore_service_webserver/payments/settings.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/conftest.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments_methods.py
Labels: a:webserver, a:database

#4761 ♻️ adjust container labels to new standard
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/docker-compose-build.yml
Labels: t:maintenance

#4759 ✨ Frontend: Payment methods
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenter.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethodDetails.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethodListItem.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethods.js
Labels: a:frontend, changelog:✨new-feature

#4763 ♻️ Feedback on payments plugin and service
  api/specs/web-server/_wallets.py
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  services/payments/VERSION
  services/payments/openapi.json
  services/payments/setup.cfg
  services/payments/src/simcore_service_payments/models/schemas/acknowledgements.py
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/payments/_methods_api.py
  services/web/server/src/simcore_service_webserver/payments/_methods_db.py
  services/web/server/src/simcore_service_webserver/payments/_socketio.py
  services/web/server/src/simcore_service_webserver/payments/_tasks.py
  services/web/server/src/simcore_service_webserver/socketio/messages.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments_methods.py
Labels: a:webserver, a:api, a:payments

#4697 ✨ `dynamic-sidecar` adding support for `metrics` and `on_shutdown` events for user services (⚠️OPS)
  .env-devel
  packages/models-library/src/models_library/callbacks_mapping.py
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/service_settings_nat_rule.py
  packages/models-library/tests/test_service_settings_labels.py
  packages/service-integration/src/service_integration/osparc_config.py
  packages/service-integration/tests/test_osparc_config.py
  packages/service-integration/tests/test_osparc_image_specs.py
  services/director-v2/.env-devel
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_egress_config.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_egress_config.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/docker-compose.local.yml
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/Makefile
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_routing.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/prometheus_metrics.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/errors.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/shared_store.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/container_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasksutils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/prometheus_metrics.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/integration/test_modules_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_prometheus_metrics.py
  services/dynamic-sidecar/tests/unit/test_core_docker_utils.py
  services/dynamic-sidecar/tests/unit/test_models_shared_store.py
  services/dynamic-sidecar/tests/unit/test_modules_container_utils.py
  services/dynamic-sidecar/tests/unit/test_modules_prometheus_metrics.py
Labels: a:director-v2, a:dynamic-sidecar, changelog:✨new-feature, a:models-library, a:ooil

#4760 ♻️On-demand clusters: remove dask-gateway
  packages/models-library/src/models_library/rpc_schemas_clusters_keeper/clusters.py
  packages/pytest-simcore/src/pytest_simcore/dask_scheduler.py
  services/clusters-keeper/Makefile
  services/clusters-keeper/requirements/_base.in
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.in
  services/clusters-keeper/requirements/_test.txt
  services/clusters-keeper/setup.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/_meta.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters_management_core.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/dask.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/rpc/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/dask.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/ec2.py
  services/clusters-keeper/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/test__meta.py
  services/clusters-keeper/tests/unit/test_cli.py
  services/clusters-keeper/tests/unit/test_modules_clusters_management_core.py
  services/clusters-keeper/tests/unit/test_modules_dask.py
  services/clusters-keeper/tests/unit/test_rpc_clusters.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
  services/dask-sidecar/Dockerfile
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/src/simcore_service_dask_sidecar/_meta.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/scheduler.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/clusters_keeper.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/docker-compose.yml
Labels: a:clusters-keeper

#4758 ✨ Product prices API and table (🗃️ )
  api/specs/web-server/_products.py
  api/specs/web-server/openapi.py
  packages/models-library/src/models_library/api_schemas_webserver/product.py
  packages/models-library/src/models_library/basic_types.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e3334cced752_new_products_prices_table.py
  packages/postgres-database/src/simcore_postgres_database/models/products_prices.py
  packages/postgres-database/src/simcore_postgres_database/utils_products_prices.py
  packages/postgres-database/tests/test_models_products_prices.py
  packages/pytest-simcore/src/pytest_simcore/helpers/rawdata_fakers.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/products/_api.py
  services/web/server/src/simcore_service_webserver/products/_db.py
  services/web/server/src/simcore_service_webserver/products/_handlers.py
  services/web/server/src/simcore_service_webserver/products/api.py
  services/web/server/src/simcore_service_webserver/products/plugin.py
  services/web/server/src/simcore_service_webserver/security/_access_roles.py
  services/web/server/src/simcore_service_webserver/statics/_events.py
  services/web/server/src/simcore_service_webserver/wallets/_constants.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
  services/web/server/tests/unit/with_dbs/03/conftest.py
  services/web/server/tests/unit/with_dbs/03/products/conftest.py
  services/web/server/tests/unit/with_dbs/03/products/test_product_prices.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments.py
Labels: a:webserver

#4778 🐛 Fixes link to payment form
  services/web/server/src/simcore_service_webserver/payments/_api.py
  services/web/server/src/simcore_service_webserver/payments/_client.py
  services/web/server/tests/unit/with_dbs/03/wallets/conftest.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments.py
Labels: a:webserver

#4771 🐛Comp. backend: missing timestamps in log file
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
Labels: a:dask-service

#4775 ♻️✨ Comp backend task state reporting fixed
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c4245e9e0f72_payment_transactions_states.py
  packages/service-library/src/servicelib/rabbitmq/_rpc_router.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/models/dask_subsystem.py
  services/director-v2/src/simcore_service_director_v2/modules/clusters_keeper.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/utils/comp_scheduler.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/mocks/fake_workbench_computational_node_states.json
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/payments/tests/unit/test_rpc_payments.py
Labels: a:director-v2

#4783 🐛Ensure the progress is set to None
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
Labels: a:director-v2

#4787 ✨Api-server: allow usage of on-demand clusters if defined in groups_extra_properties
  services/api-server/src/simcore_service_api_server/api/dependencies/authentication.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/db/repositories/api_keys.py
  services/api-server/src/simcore_service_api_server/db/repositories/groups_extra_properties.py
  services/api-server/src/simcore_service_api_server/db/repositories/users.py
  services/api-server/src/simcore_service_api_server/services/director_v2.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/conftest.py
Labels: a:apiserver

#4788 ✨ Frontend: Listen to Credits Updated WS event
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Labels: a:frontend, changelog:✨new-feature

#4731 ✨ api-server: introduce sha256 checksum in files resource
  api/specs/storage/openapi.yaml
  api/specs/storage/scripts/storage.py
  packages/models-library/src/models_library/api_schemas_storage.py
  packages/models-library/src/models_library/basic_types.py
  packages/postgres-database/Makefile
  packages/postgres-database/src/simcore_postgres_database/migration/versions/5649397a81bf_add_checksum_to_database.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/7c552b906888_merge_61fa093c21bb_e108d9f673fe.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e108d9f673fe_merge_5649397a81bf_ae72826e75fc.py
  packages/postgres-database/src/simcore_postgres_database/models/file_meta_data.py
  packages/service-library/src/servicelib/file_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/storage_client.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/tests/unit/test_storage_client.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/files.py
  services/api-server/src/simcore_service_api_server/services/solver_job_models_converters.py
  services/api-server/src/simcore_service_api_server/services/storage.py
  services/api-server/src/simcore_service_api_server/utils/hash.py
  services/api-server/tests/mocks/search_file_checksum.json
  services/api-server/tests/unit/test_api_files.py
  services/api-server/tests/unit/test_models_schemas_files.py
  services/api-server/tests/unit/test_services_solver_job_models_converters.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/datcore_dsm.py
  services/storage/src/simcore_service_storage/db_file_meta_data.py
  services/storage/src/simcore_service_storage/dsm_factory.py
  services/storage/src/simcore_service_storage/handlers_files.py
  services/storage/src/simcore_service_storage/handlers_simcore_s3.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/conftest.py
  services/storage/tests/helpers/utils_file_meta_data.py
  services/storage/tests/unit/test_dsm_dsmcleaner.py
  services/storage/tests/unit/test_dsm_soft_links.py
  services/storage/tests/unit/test_handlers_files.py
  services/storage/tests/unit/test_handlers_simcore_s3.py
  services/storage/tests/unit/test_models.py
  services/storage/tests/unit/test_s3_client.py
  services/storage/tests/unit/test_simcore_s3_dsm.py
  services/storage/tests/unit/test_utils.py
Labels: t:enhancement, a:storage, a:database, a:apiserver

#4789 ✨ New user role: product-owner 🗃️
  packages/postgres-database/src/simcore_postgres_database/migration/versions/6e9f34338072_updates_user_roles.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c2d3acc313e1_adds_admin_to_userrole_enum.py
  packages/postgres-database/src/simcore_postgres_database/models/_common.py
  packages/postgres-database/src/simcore_postgres_database/models/confirmations.py
  packages/postgres-database/src/simcore_postgres_database/models/users.py
  packages/postgres-database/tests/test_users.py
  services/api-server/src/simcore_service_api_server/models/schemas/profiles.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/web/server/src/simcore_service_webserver/login/_confirmation.py
  services/web/server/src/simcore_service_webserver/login/storage.py
  services/web/server/src/simcore_service_webserver/security/_access_roles.py
  services/web/server/src/simcore_service_webserver/users/schemas.py
  services/web/server/tests/unit/isolated/test_users_models.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Labels: a:webserver, a:database

#4794 ♻️ Exposes to front-end whether payment plugin is enabled (⚠️ ops)
  .env-devel
  packages/models-library/src/models_library/utils/string_substitution.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/payments/settings.py
  services/web/server/src/simcore_service_webserver/resource_usage/_constants.py
  services/web/server/src/simcore_service_webserver/resource_usage/_observer.py
  services/web/server/src/simcore_service_webserver/resource_usage/_utils.py
  services/web/server/src/simcore_service_webserver/resource_usage/resource_usage_tracker_client.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/plugin.py
Labels: a:webserver

#4737 🎨 Feature: Tour de S4L
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/MainPageHandler.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicator.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenterWindow.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsButton.js
  services/static-webserver/client/source/class/osparc/panddy/Panddy.js
  services/static-webserver/client/source/class/osparc/panddy/Sequences.js
  services/static-webserver/client/source/class/osparc/product/AboutProduct.js
  services/static-webserver/client/source/class/osparc/product/panddy/s4llite/Sequences.js
  services/static-webserver/client/source/class/osparc/product/quickStart/SlideBase.js
  services/static-webserver/client/source/class/osparc/product/quickStart/SlidesBase.js
  services/static-webserver/client/source/class/osparc/product/quickStart/Utils.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4l/Welcome.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4llite/Dashboard.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4llite/S4LLiteSpecs.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4llite/S4LLiteUI.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4llite/Slides.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4llite/Welcome.js
  services/static-webserver/client/source/class/osparc/product/quickStart/ti/Dashboard.js
  services/static-webserver/client/source/class/osparc/product/quickStart/ti/ElectrodeSelector.js
  services/static-webserver/client/source/class/osparc/product/quickStart/ti/PostPro.js
  services/static-webserver/client/source/class/osparc/product/quickStart/ti/S4LPostPro.js
  services/static-webserver/client/source/class/osparc/product/quickStart/ti/Slides.js
  services/static-webserver/client/source/class/osparc/product/quickStart/ti/Welcome.js
  services/static-webserver/client/source/class/osparc/product/tours/Utils.js
  services/static-webserver/client/source/class/osparc/product/tours/s4l/Tours.js
  services/static-webserver/client/source/class/osparc/product/tours/s4llite/Tours.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/tours/List.js
  services/static-webserver/client/source/class/osparc/tours/ListItem.js
  services/static-webserver/client/source/class/osparc/tours/Manager.js
  services/static-webserver/client/source/class/osparc/tours/Step.js
  services/static-webserver/client/source/class/osparc/ui/basic/FloatingHelper.js
  services/static-webserver/client/source/class/osparc/ui/switch/ThemeSwitcherFormBtn.js
  services/static-webserver/client/source/resource/hint/hint.css
  services/static-webserver/client/source/resource/osparc/tours/s4l_tours.json
  services/static-webserver/client/source/resource/osparc/tours/s4llite_tours.json
  tests/e2e/jest-puppeteer.config.js
  tests/e2e/jest.config.js
Labels: a:frontend, changelog:🎨enhancement

#4796 ✨ webserver API: generate invitation
  api/specs/web-server/_products.py
  packages/models-library/src/models_library/api_schemas_invitations/__init__.py
  packages/models-library/src/models_library/api_schemas_invitations/invitations.py
  packages/models-library/src/models_library/api_schemas_webserver/product.py
  packages/models-library/src/models_library/invitations.py
  services/invitations/Makefile
  services/invitations/VERSION
  services/invitations/openapi.json
  services/invitations/setup.cfg
  services/invitations/setup.py
  services/invitations/src/simcore_service_invitations/api/_health.py
  services/invitations/src/simcore_service_invitations/api/_invitations.py
  services/invitations/src/simcore_service_invitations/cli.py
  services/invitations/src/simcore_service_invitations/invitations.py
  services/invitations/tests/unit/api/test_api_invitations.py
  services/invitations/tests/unit/test_invitations.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/invitations/_client.py
  services/web/server/src/simcore_service_webserver/invitations/_core.py
  services/web/server/src/simcore_service_webserver/invitations/api.py
  services/web/server/src/simcore_service_webserver/invitations/plugin.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/products/_invitations_handlers.py
  services/web/server/src/simcore_service_webserver/products/plugin.py
  services/web/server/src/simcore_service_webserver/security/_access_roles.py
  services/web/server/tests/unit/with_dbs/03/invitations/conftest.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_invitations.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_login_registration_invitations.py
Labels: a:webserver, a:api

#4795 🎨 Frontend: Replace Credits Indicator with just a Label
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicator.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorWText.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsLabel.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Overview.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/study/ResourceSelector.js
  services/static-webserver/client/source/resource/osparc/crocky.gif
  services/static-webserver/client/source/resource/osparc/panda.gif
Labels: a:frontend, changelog:🎨enhancement

#4806 🐛 Fix flaky test (CI worker ran out of space)
  packages/service-library/src/servicelib/file_utils.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_r_clone.py
Labels: changelog:🐛bugfix

#4798 ✨ PO center: Invitations
  services/static-webserver/client/source/class/osparc/WindowSizeTracker.js
  services/static-webserver/client/source/class/osparc/auth/Data.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsLabel.js
  services/static-webserver/client/source/class/osparc/desktop/credits/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/po/Invitations.js
  services/static-webserver/client/source/class/osparc/po/POCenter.js
  services/static-webserver/client/source/class/osparc/po/POCenterWindow.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
Labels: a:frontend, changelog:✨new-feature

#4808 🎨 New logo
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/study/Import.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/resource/osparc/s4l-black.png
  services/static-webserver/client/source/resource/osparc/s4l-white.png
  services/static-webserver/client/source/resource/osparc/s4l_logo_black.svg
  services/static-webserver/client/source/resource/osparc/s4l_logo_short_black.svg
  services/static-webserver/client/source/resource/osparc/s4l_logo_short_white.svg
  services/static-webserver/client/source/resource/osparc/s4l_logo_white.svg
Labels: a:frontend, changelog:🎨enhancement

#4804 ♻️ Move db implementation from webserver/payments to packages/postgres-database
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c4245e9e0f72_payment_transactions_states.py
  packages/postgres-database/src/simcore_postgres_database/utils_payments.py
  packages/postgres-database/tests/test_models_payments_transactions.py
  services/web/server/src/simcore_service_webserver/payments/_db.py
Labels: a:webserver, a:database

#4802 🐛 api-server: fix bug in search files endpoint
  services/api-server/src/simcore_service_api_server/api/routes/files.py
Labels: bug
