Repository ITISFoundation/osparc-simcore, pull requests merged in 2023-08, with the labels that each got.

#4564 🎨 Feature: Stop, and Start, buttons in service options
  services/static-webserver/client/source/class/osparc/component/node/StartStopButton.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
Labels: a:frontend, changelog:🎨enhancement

#4552 ♻️ multipart upload chunks are scheduled a few at a time
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/service-library/src/servicelib/utils.py
  packages/service-library/tests/test_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
Labels: t:maintenance, changelog:♻️refactor

#4563 🐛 Bugfixes: labelValue is not a String
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/component/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/component/share/CollaboratorsService.js
  services/static-webserver/client/source/class/osparc/component/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/ui/basic/NodeStatusUI.js
  services/static-webserver/client/source/class/osparc/utils/Resources.js
  services/static-webserver/client/source/class/osparc/utils/StatusUI.js
Labels: changelog:🐛bugfix

#4502 ♻️ dy-sidecar no longer zips states (⚠️ devops)
  .env-devel
  .github/workflows/ci-testing-deploy.yml
  ci/github/integration-testing/dynamic-sidecar.bash
  packages/pytest-simcore/src/pytest_simcore/helpers/typing_env.py
  packages/settings-library/src/settings_library/r_clone.py
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/tests/conftest.py
  packages/simcore-sdk/tests/integration/test_node_data_data_manager_.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_r_clone.py
  packages/simcore-sdk/tests/unit/test_node_data_data_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_r_clone.py
  scripts/metrics/compute_list_of_images_in_registry.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/dynamic-sidecar/requirements/_test.in
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/integration/test_modules_long_running_tasks.py
  services/dynamic-sidecar/tests/mocks/legacy_state_archives/state_dir0.zip
  services/dynamic-sidecar/tests/mocks/legacy_state_archives/state_dir1.zip
  services/dynamic-sidecar/tests/mocks/legacy_state_archives/state_dir2.zip
  services/dynamic-sidecar/tests/mocks/legacy_state_archives/state_dir3.zip
  services/dynamic-sidecar/tests/unit/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_modules_mounted_fs.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_studies_access.py
Labels: a:dynamic-sidecar

#4567 ✨RabbitMQ: allow secure rabbit protocol (⚠️DevOPS)
  .env-devel
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/settings-library/src/settings_library/rabbit.py
  services/autoscaling/tests/unit/conftest.py
  services/director-v2/.env-devel
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/docker-compose.yml
  services/dynamic-sidecar/tests/unit/test_core_docker_logs.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_manager.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/tests/data/default_app_config-unit.yaml
Labels: a:infra+ops

#4569 ✨Resource usage tracking: RabbitMQ messages
  packages/models-library/src/models_library/rabbitmq_messages.py
Labels: a:models-library

#4576 🎨 TIP v2: Last aesthetics changes
  services/static-webserver/client/source/class/osparc/component/notification/RibbonNotification.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Labels: a:frontend, changelog:🎨enhancement

#4577 🐛Uploading files works again
  services/web/server/src/simcore_service_webserver/projects/lock.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/storage/_handlers.py
  services/web/server/tests/unit/with_dbs/03/test_storage_handlers.py
Labels: a:webserver

#4582 🐛Check permissions before modifying project nodes
  services/web/server/src/simcore_service_webserver/projects/db.py
Labels: a:webserver

#4584 🐛 Fix openapi swagger page dispay (missing env-var capture)
  services/docker-compose.yml
Labels: bug, a:webserver, changelog:🐛bugfix

#4575 🐛 rclone command output is once again captured and now swallowed
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_utils.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_r_clone.py
Labels: t:maintenance, changelog:🐛bugfix

#4585 🐛 `rclone` preserves symlinks even if broken
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_r_clone.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_r_clone.py
Labels: t:maintenance, a:dynamic-sidecar, a:agent

#4586 🐛 fix templates publish/open with states as directories
  services/storage/src/simcore_service_storage/handlers_locations.py
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/unit/conftest.py
  services/storage/tests/unit/test_handlers_files.py
  services/storage/tests/unit/test_simcore_s3_dsm.py
Labels: a:storage, a:webserver, t:maintenance

#4568 🎨 Feature: Connect Wallets to backend
  services/static-webserver/client/source/class/osparc/component/study/ResourceSelector.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Wallet.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicator.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorWText.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletDetails.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletEditor.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Labels: a:frontend, changelog:🎨enhancement, changelog:🐛bugfix

#4573 ♻️🐛 storage provides presigned download links for files in folders
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_parametrizations.py
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm_utils.py
  services/storage/src/simcore_service_storage/utils.py
  services/storage/tests/unit/test_handlers_files.py
Labels: a:storage, t:maintenance

#4589 🐛 bugfix on wallet update
  services/web/server/src/simcore_service_webserver/wallets/_api.py
  services/web/server/src/simcore_service_webserver/wallets/_db.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
  services/web/server/tests/unit/with_dbs/03/wallets/test_wallets.py
Labels: a:webserver

#4592 🎨 Wallets: Update ``Status`` required
  services/static-webserver/client/source/class/osparc/component/study/ResourceSelector.js
  services/static-webserver/client/source/class/osparc/data/model/Wallet.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletDetails.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
Labels: a:frontend, changelog:🎨enhancement

#4583 ✨ Is922/add rabbitMQ to resource usage tracker
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/service-library/src/servicelib/rabbitmq.py
  services/docker-compose.devel.yml
  services/docker-compose.yml
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/cli.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/application.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/settings.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/prometheus_containers/__init__.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/prometheus_containers/cli_placeholder.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/prometheus_containers/core.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/prometheus_containers/plugin.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/rabbitmq.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/resource_tracker.py
  services/resource-usage-tracker/tests/unit/api/test__oas_spec.py
  services/resource-usage-tracker/tests/unit/api/test_api_meta.py
  services/resource-usage-tracker/tests/unit/conftest.py
  services/resource-usage-tracker/tests/unit/modules/prometheus_containers/test_resource_tracker.py
  services/resource-usage-tracker/tests/unit/modules/prometheus_containers/test_resource_tracker_cli_placeholder.py
  services/resource-usage-tracker/tests/unit/modules/prometheus_containers/test_resource_tracker_core.py
  services/resource-usage-tracker/tests/unit/modules/test_prometheus.py
  services/resource-usage-tracker/tests/unit/modules/test_rabbitmq.py
  services/resource-usage-tracker/tests/unit/modules/test_redis.py
  services/resource-usage-tracker/tests/unit/test_core_settings.py
  services/resource-usage-tracker/tests/unit/with_dbs/conftest.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker__list.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_collect_container_resource_usage_task.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_collect_container_resource_usage_task__on_update_set.py
Labels: a:resource-usage-tracker

#4570 ✨ Computational backend: connect to resource tracking via RabbitMQ (🗃️, ⚠️)
  .github/CODEOWNERS
  packages/models-library/src/models_library/docker.py
  packages/models-library/src/models_library/projects_state.py
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/6da4357ce10f_add_heartbeat_timestamps.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/afc752d10a6c_add_waiting_for_resources_enum_field.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
  packages/postgres-database/tests/docker-compose.prod.yml
  packages/postgres-database/tests/test_comp_tasks.py
  packages/service-library/src/servicelib/rabbitmq.py
  packages/service-library/tests/rabbitmq/test_rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/constants.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/users.py
  services/director-v2/src/simcore_service_director_v2/modules/rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/utils/comp_scheduler.py
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/src/simcore_service_director_v2/utils/db.py
  services/director-v2/src/simcore_service_director_v2/utils/rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/utils/scheduler.py
  services/director-v2/tests/mocks/fake_task.json
  services/director-v2/tests/unit/test_models_comp_pipelines.py
  services/director-v2/tests/unit/test_models_comp_runs.py
  services/director-v2/tests/unit/test_models_comp_tasks.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_utils_comp_scheduler.py
  services/director-v2/tests/unit/test_utils_computation.py
  services/director-v2/tests/unit/test_utils_scheduler.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/director-v2/tests/unit/with_dbs/test_utils_rabbitmq.py
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.in
  services/dynamic-sidecar/requirements/_test.txt
  services/web/server/tests/integration/02/test_computation.py
Labels: a:director-v2

#4572 ✨ Link assets folder from service to front-end
  services/dynamic-sidecar/tests/unit/test_modules_outputs_event_handler.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_watchdog_extensions.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_api.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/storage/api.py
  services/web/server/tests/unit/isolated/test_projects__nodes_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Labels: a:webserver

#4600 🐛 fix `dynamic-sidecar` outputs watcher
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_context.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_event_handler.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_watcher.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_manager.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_watcher.py
Labels: a:dynamic-sidecar, changelog:🐛bugfix

#4578 🗃️ resource usage tracker - credit tables
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e987caaec81b_adding_credit_tables.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_containers.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_pricing_details.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_pricing_plan_to_service.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_pricing_plans.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_service_runs.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_wallets_credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/resource_tracker_container.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/db/repositories/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/prometheus_containers/core.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker__list.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_collect_container_resource_usage_task.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_collect_container_resource_usage_task__on_update_set.py
Labels: a:resource-usage-tracker

#4599 ✨ Frontend: Allow users to open the study home page of studies with unknown services
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudyBootOpts.js
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/utils/Services.js
  services/static-webserver/client/source/class/osparc/utils/Study.js
Labels: a:frontend, changelog:✨new-feature

#4605 ⬆️ aio-pika: unblock constraint and fix test
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/service-library/src/servicelib/rabbitmq.py
  packages/service-library/tests/rabbitmq/test_rabbitmq.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc.py
  requirements/constraints.txt
Labels: a:services-library, t:maintenance

#4601 ♻️🐛 dynamic-sidecar will ignore inputs pull commands while containers are created
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/inputs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_api_containers_long_running_tasks.py
Labels: t:maintenance, a:director-v2, a:dynamic-sidecar

#4603 🐛 rabbitmq connection
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/resource_tracker.py
Labels: a:resource-usage-tracker

#4596 ✨ API server endpoints for performing multipart upload directly to S3
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/_filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/models/basic_types.py
  services/api-server/src/simcore_service_api_server/models/schemas/files.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_files.py
Labels: t:enhancement

#4607 🎨 Wallets: some defaults
  services/static-webserver/client/source/class/osparc/component/study/ResourceSelector.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
Labels: a:frontend, changelog:🎨enhancement

#4609 🎨Release workflow improvements
  .github/ISSUE_TEMPLATE/4_pre_release.yml
Labels: a:infra+ops

#4614 🎨 Feature: Wallets on staging
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:🎨enhancement

#4617 🐛 Hot-fix: Ensure synchronization between projects/workbench and projects_nodes
  services/web/server/src/simcore_service_webserver/projects/db.py
Labels: a:webserver

#4612 🐛 Make sure openapi is happy about abort endpoint
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/models/schemas/files.py
  services/api-server/src/simcore_service_api_server/services/storage.py
  services/api-server/tests/unit/test_api_files.py
Labels: bug

#4621 🎨 TIP Disclaimer
  services/static-webserver/client/source/class/osparc/data/model/Node.js
Labels: a:frontend, changelog:🎨enhancement

#4624 🐛 Unlocks the deploy of builds on master
  packages/service-library/src/servicelib/file_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
Labels: t:maintenance

#4625 e2e: Update TIP test
  tests/e2e/tutorials/ti-plan.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: e2e

#4613 🐛 Fix *project_nodes* getting out of sync with *projects* workbench
  services/web/server/src/simcore_service_webserver/db_listener/_db_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_guests.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_utils.py
  services/web/server/src/simcore_service_webserver/log.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_delete.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_db_utils.py
  services/web/server/src/simcore_service_webserver/projects/_ports_handlers.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/src/simcore_service_webserver/projects/nodes_utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/unit/isolated/test_projects__db_utils.py
  services/web/server/tests/unit/isolated/test_projects_models.py
  services/web/server/tests/unit/isolated/test_projects_utils.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/conftest.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
Labels: a:webserver

#4629 ⬆️♻️Maintenance: remove docker compose v1 occurences
  .github/workflows/ci-release.yml
  .github/workflows/ci-staging.yml
  .github/workflows/ci-testing-deploy.yml
  Makefile
  ci/github/helpers/setup_docker_compose.bash
  ci/helpers/show_system_versions.bash
  packages/postgres-database/Makefile
  packages/postgres-database/requirements/_migration.in
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/src/simcore_postgres_database/migration/README.md
  packages/postgres-database/tests/conftest.py
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_environs.py
  packages/service-integration/src/service_integration/osparc_image_specs.py
  packages/service-integration/tests/test_osparc_runtime_specs.py
  packages/service-library/src/servicelib/docker_constants.py
  packages/simcore-sdk/tests/helpers/utils_docker.py
  packages/simcore-sdk/tests/helpers/utils_environs.py
  requirements/constraints.txt
  scripts/maintenance/check_consistency_data.py
  scripts/maintenance/consistency/dump-restore.md
  scripts/openapi/openapi_codegen.sh
  services/api-server/tests/unit/_with_db/conftest.py
  services/catalog/Makefile
  services/catalog/tests/unit/conftest.py
  services/director-v2/Makefile
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_core_utils.py
  services/static-webserver/client/Makefile
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/isolated/test_application_settings.py
  services/web/server/tests/unit/with_dbs/conftest.py
  tests/e2e/docker/Dockerfile
  tests/environment-setup/test_used_docker_compose.py
  tests/performance/Makefile
Labels: t:maintenance

#4630 ⬆️Comp backend: ensure numpy installed in client
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-distributed.in
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/osparc-gateway-server/requirements/_test.txt
  services/osparc-gateway-server/requirements/_tools.txt
  services/osparc-gateway-server/tests/system/requirements/_test.txt
  services/osparc-gateway-server/tests/system/requirements/_tools.txt
Labels: a:director-v2, a:dask-service

#4627 ♻️Maintenance: attempt at fixing monkeypatch warnings
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
  packages/pytest-simcore/src/pytest_simcore/monkeypatch_extra.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  packages/service-library/tests/conftest.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_dynamic_scaling_core.py
  services/catalog/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/conftest.py
  services/migration/tests/conftest.py
  services/resource-usage-tracker/tests/unit/conftest.py
  services/storage/tests/conftest.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/with_dbs/conftest.py
  test.bash
  tests/public-api/conftest.py
Labels: a:infra+ops

#4632 ♻️Maintenance: remove backward compatibility code
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Labels: a:director-v2

#4646 🐛Handle case where metadata in comp_runs are NULL
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
Labels: a:director-v2

#4645 ♻️📝 API-server files collection cleanup and doc
  docs/coding-conventions.md
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/files.py
  services/api-server/src/simcore_service_api_server/services/solver_job_models_converters.py
  services/api-server/src/simcore_service_api_server/services/solver_job_outputs.py
  services/api-server/src/simcore_service_api_server/services/storage.py
  services/api-server/tests/unit/test_services_solver_job_models_converters.py
  services/api-server/tests/unit/test_services_solver_job_outputs.py
Labels: a:apiserver

#4647 🐛 Fixes schema error in web-server OAS
  packages/models-library/src/models_library/api_schemas_webserver/catalog.py
  packages/models-library/src/models_library/services.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  packages/postgres-database/tests/products/test_utils_products.py
  packages/pytest-simcore/src/pytest_simcore/schemas.py
  services/web/server/Makefile
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/Makefile
  services/web/server/src/simcore_service_webserver/api/READ_ONLY_FOLDER
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: a:api

#4649 ✨ Frontend: open Wallets view after log in
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/Error.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
Labels: a:frontend, changelog:✨new-feature

#4611 🎨 e2e: update Kember test
  services/static-webserver/client/source/class/osparc/dashboard/StudyThumbnailExplorer.js
  services/static-webserver/client/source/class/osparc/navigation/PrevNextButtons.js
  services/static-webserver/client/source/class/osparc/wrapper/Three.js
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/BIOS_VNS_Calibrator.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Kember.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/publications/SarValidation.js
  tests/e2e/publications/Voila.js
Labels: e2e

#4653 ♻️ Removes assert w/ validator and fixes code redundancy
  packages/models-library/src/models_library/api_schemas_webserver/catalog.py
  services/web/server/src/simcore_service_webserver/catalog/_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/_db.py
Labels: a:webserver, t:maintenance

#4626 🐛 Sort in multipart upload
  packages/models-library/src/models_library/api_schemas_storage.py
  services/api-server/src/simcore_service_api_server/services/storage.py
Labels: bug

#4648 🐛 Add missing email env variables to webserver (:warning: DEVOPS)
  .env-devel
  services/docker-compose.yml
Labels: bug, High Priority

#4660 🐛Director-v2: Fix UNKNOWN state not correctly converted
  services/director-v2/src/simcore_service_director_v2/utils/db.py
  services/director-v2/tests/unit/test_models_comp_tasks.py
  services/director-v2/tests/unit/test_utils_db.py
Labels: a:director-v2

#4663 ✨ new `clone_study` in api-server
  packages/service-library/src/servicelib/long_running_tasks/_models.py
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/errors/httpx_client_error.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/models/types.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/api_solvers/conftest.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_delete.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_metadata.py
  services/api-server/tests/unit/api_studies/conftest.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies_jobs.py
  services/api-server/tests/unit/api_studies/test_api_studies_mocks.py
  services/api-server/tests/unit/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__clone.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
Labels: a:apiserver

#4662 🐛 Fix: Managers invite new Members
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItemWithMenu.js
  services/static-webserver/client/source/class/osparc/ui/list/MemberListItem.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: changelog:🐛bugfix

#4671 🐛 Bugfix: list item
  services/static-webserver/client/source/class/osparc/desktop/organizations/SharedResourceListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItemWithMenu.js
Labels: a:frontend, changelog:🐛bugfix

#4677 ✨Tracking messages get a discriminator
  packages/models-library/src/models_library/rabbitmq_messages.py
Labels: a:models-library

#4658 ✨ Feature: Payment Gateway in a new window
  services/static-webserver/client/source/class/osparc/data/model/Wallet.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorWText.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsWindow.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Overview.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletDetails.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
Labels: a:frontend, changelog:✨new-feature

#4676 ✨ New `payments` service (⚠️ devops)
  .env-devel
  .github/workflows/ci-testing-deploy.yml
  Makefile
  ci/github/unit-testing/payments.bash
  packages/models-library/src/models_library/api_schemas_payments/__init__.py
  packages/models-library/src/models_library/api_schemas_payments/meta.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  packages/service-library/src/servicelib/fastapi/dependencies.py
  services/docker-compose-build.yml
  services/docker-compose.devel.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
  services/payments/Dockerfile
  services/payments/Makefile
  services/payments/README.md
  services/payments/VERSION
  services/payments/docker/boot.sh
  services/payments/docker/entrypoint.sh
  services/payments/docker/healthcheck.py
  services/payments/openapi.json
  services/payments/requirements/Makefile
  services/payments/requirements/_base.in
  services/payments/requirements/_base.txt
  services/payments/requirements/_test.in
  services/payments/requirements/_test.txt
  services/payments/requirements/_tools.in
  services/payments/requirements/_tools.txt
  services/payments/requirements/ci.txt
  services/payments/requirements/constraints.txt
  services/payments/requirements/dev.txt
  services/payments/requirements/prod.txt
  services/payments/setup.cfg
  services/payments/setup.py
  services/payments/src/simcore_service_payments/__init__.py
  services/payments/src/simcore_service_payments/_meta.py
  services/payments/src/simcore_service_payments/api/__init__.py
  services/payments/src/simcore_service_payments/api/_dependencies.py
  services/payments/src/simcore_service_payments/api/_health.py
  services/payments/src/simcore_service_payments/api/_meta.py
  services/payments/src/simcore_service_payments/api/routes.py
  services/payments/src/simcore_service_payments/cli.py
  services/payments/src/simcore_service_payments/core/__init__.py
  services/payments/src/simcore_service_payments/core/application.py
  services/payments/src/simcore_service_payments/core/settings.py
  services/payments/src/simcore_service_payments/main.py
  services/payments/tests/unit/api/conftest.py
  services/payments/tests/unit/api/test__oas_spec.py
  services/payments/tests/unit/api/test_api_meta.py
  services/payments/tests/unit/conftest.py
  services/payments/tests/unit/test__model_examples.py
  services/payments/tests/unit/test_cli.py
  services/payments/tests/unit/test_core_settings.py
Labels: a:payments

#4675 🐛 storage fixed paginated file listing
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/tests/test_logging_utils.py
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/unit/test_handlers_simcore_s3_benchmark.py
  services/storage/tests/unit/test_s3_client.py
Labels: a:storage, t:maintenance

#4681 🔨 Fixes deploy push payment service
  .github/CODEOWNERS
  services/docker-compose-build.yml
  services/docker-compose-deploy.yml
Labels: a:payments

#4684 🐛 storage better logging
  services/storage/src/simcore_service_storage/application.py
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Labels: a:storage, t:maintenance

#4682 ✨RabbitMQ: Add RPC decorator for server side
  .github/workflows/ci-testing-deploy.yml
  packages/service-library/setup.cfg
  packages/service-library/src/servicelib/background_task.py
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/src/servicelib/rabbitmq.py
  packages/service-library/src/servicelib/rabbitmq_rpc_router.py
  packages/service-library/tests/rabbitmq/conftest.py
  packages/service-library/tests/rabbitmq/test_rabbitmq.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_connection.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_router.py
Labels: a:services-library

#4680 🎨 Wallets: minor Cosmetics and some fixes
  services/static-webserver/client/source/class/osparc/component/resourceUsage/OverviewTable.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Overview.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Transactions.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MemberListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItemWithMenu.js
  services/static-webserver/client/source/class/osparc/ui/list/MemberListItem.js
  services/static-webserver/client/source/class/osparc/ui/table/Table.js
Labels: a:frontend, changelog:🎨enhancement

#4689 ♻️ adding logs to project copy in storage
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Labels: a:storage, t:maintenance

#4686 ♻️ Cleanup in preparation for new payment plugin
  api/specs/web-server/_version_control.py
  api/specs/web-server/_wallets.py
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  packages/models-library/src/models_library/basic_types.py
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/models-library/src/models_library/wallets.py
  packages/service-library/src/servicelib/aiohttp/application_setup.py
  packages/service-library/src/servicelib/aiohttp/requests_validation.py
  services/payments/src/simcore_service_payments/api/_health.py
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Wallet.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_wallets_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/errors.py
  services/web/server/src/simcore_service_webserver/wallets/exceptions.py
  services/web/server/tests/unit/with_dbs/02/test_projects_wallet_handlers.py
  services/web/server/tests/unit/with_dbs/03/invitations/conftest.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_invitations.py
  services/web/server/tests/unit/with_dbs/03/wallets/conftest.py
  services/web/server/tests/unit/with_dbs/03/wallets/test_wallets.py
  services/web/server/tests/unit/with_dbs/03/wallets/test_wallets_groups.py
Labels: a:webserver, a:api

#4688 ✨ Usage overview: request per wallet
  services/static-webserver/client/source/class/osparc/component/resourceUsage/Overview.js
  services/static-webserver/client/source/class/osparc/component/resourceUsage/OverviewTable.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
Labels: a:frontend, changelog:🎨enhancement

#4691 🎨 Cosmetics: Description below
  services/static-webserver/client/source/class/osparc/desktop/SlideshowToolbar.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/desktop/Toolbar.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchPanel.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/info/StudyMedium.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/navigation/BreadcrumbNavigation.js
  services/static-webserver/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/static-webserver/client/source/class/osparc/navigation/BreadcrumbsWorkbench.js
Labels: a:frontend, changelog:🎨enhancement

#4694 ⚗️Storage: reduce pressure while copying and fix logs
  services/docker-compose.yml
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Labels: a:storage

#4695 🐛Storage: Improve documentation and fix number of files shown to be copied
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
  packages/service-library/src/servicelib/rabbitmq/_client.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Labels: a:storage
