Repository ITISFoundation/osparc-simcore, pull requests merged in 2023-10, with the labels that each got.

#4809 ✨ Feature: Shared Credits notification
  services/static-webserver/client/source/class/osparc/data/Roles.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Overview.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenterWindow.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/notification/Notification.js
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/notification/Notifications.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/study/ResourceSelector.js
  services/static-webserver/client/source/class/osparc/ui/window/Confirmation.js
  services/web/server/src/simcore_service_webserver/users/_notifications.py
Labels: a:frontend, changelog:✨new-feature

#4786 ♻️ changed `director-v2` env var definition in compose spec by making it explicit
  services/docker-compose.yml
Labels: t:maintenance

#4815 🎨 Update font: Manrope
  services/static-webserver/client/source/boot/index.html
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/core/BaseAuthPage.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletEditor.js
  services/static-webserver/client/source/class/osparc/editor/ClusterEditor.js
  services/static-webserver/client/source/class/osparc/editor/OrganizationEditor.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/po/Invitations.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/Font.js
  services/static-webserver/client/source/class/osparc/ui/basic/PoweredByOsparc.js
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
Labels: a:frontend, changelog:🎨enhancement

#4803 ♻️ Minor refactor of RUT API
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/credit_transactions.py
  packages/service-library/src/servicelib/db_async_engine.py
  services/resource-usage-tracker/openapi.json
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/_resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/resource_tracker_credit_transactions.py
Labels: a:resource-usage-tracker

#4817 🐛 Fix: Mesh viewer
  services/static-webserver/client/source/class/osparc/dashboard/StudyThumbnailExplorer.js
  services/static-webserver/client/source/class/osparc/editor/ThumbnailSuggestions.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
Labels: a:frontend, changelog:🐛bugfix

#4819 ⚗️ relaxing check to allow CI to pass
  services/director-v2/tests/integration/02/utils.py
Labels: changelog:🐛bugfix

#4816 ♻️Legacy archives are always deleted as the owner of the project
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/dbmanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/exceptions.py
  packages/simcore-sdk/tests/integration/test_node_data_data_manager_.py
Labels: a:dynamic-sidecar

#4810 ✨ Auto-create wallet for new user in product
  .github/CODEOWNERS
  services/web/server/src/simcore_service_webserver/login/_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_consumers.py
  services/web/server/src/simcore_service_webserver/wallets/_api.py
  services/web/server/src/simcore_service_webserver/wallets/_db.py
  services/web/server/src/simcore_service_webserver/wallets/_events.py
  services/web/server/src/simcore_service_webserver/wallets/_groups_api.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/plugin.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_invitations.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/wallets/test_wallets.py
Labels: a:webserver

#4818 🎨 Update TSR
  services/static-webserver/client/source/class/osparc/editor/ClusterEditor.js
  services/static-webserver/client/source/class/osparc/metadata/ClassifiersEditor.js
  services/static-webserver/client/source/class/osparc/metadata/Quality.js
  services/static-webserver/client/source/class/osparc/metadata/QualityEditor.js
  services/static-webserver/client/source/resource/form/resource-quality.json
Labels: a:frontend, changelog:🎨enhancement

#4814 🐛 Detect progress regex from docker label ⬆️
  packages/models-library/src/models_library/services.py
  packages/models-library/src/models_library/utils/labels_annotations.py
  packages/service-integration/src/service_integration/commands/compose.py
  packages/service-integration/src/service_integration/oci_image_spec.py
  packages/service-integration/src/service_integration/osparc_config.py
  packages/service-integration/tests/test_labels_annotations.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/constants.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/models.py
  services/dask-sidecar/tests/unit/test_docker_utils.py
  services/dask-sidecar/tests/unit/test_tasks.py
Labels: bug

#4828 ✨ Expose pricing plans
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/study/TierButton.js
  services/static-webserver/client/source/class/osparc/study/TierButtons.js
Labels: a:frontend, changelog:✨new-feature

#4833 ✨ Feature: Request Account form and direct access
  services/static-webserver/client/source/boot/index.html
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/core/BaseAuthPage.js
  services/static-webserver/client/source/class/osparc/auth/core/MAuth.js
  services/static-webserver/client/source/class/osparc/auth/ui/Login2FAValidationCodeView.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RegistrationView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/auth/ui/ResetPassRequestView.js
  services/static-webserver/client/source/class/osparc/auth/ui/ResetPassView.js
  services/static-webserver/client/source/class/osparc/auth/ui/VerifyPhoneNumberView.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ClustersPage.js
  services/static-webserver/client/source/class/osparc/ui/form/LinkButton.js
Labels: a:frontend, changelog:✨new-feature

#4835 🎨 Preload fonts
  services/static-webserver/client/source/boot/index.html
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/ui/Login2FAValidationCodeView.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RegistrationView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/auth/ui/ResetPassRequestView.js
  services/static-webserver/client/source/class/osparc/auth/ui/ResetPassView.js
  services/static-webserver/client/source/class/osparc/auth/ui/VerifyPhoneNumberView.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/po/Invitations.js
  services/static-webserver/client/source/class/osparc/theme/Font.js
  services/static-webserver/client/source/class/osparc/widget/IntlTelInput.js
  services/static-webserver/client/source/resource/common/Manrope/Manrope-VariableFont_wght.ttf
  services/static-webserver/client/source/resource/common/Manrope/OFL.txt
  services/static-webserver/client/source/resource/common/Manrope/README.txt
  services/static-webserver/client/source/resource/common/Manrope/static/Manrope-Bold.ttf
  services/static-webserver/client/source/resource/common/Manrope/static/Manrope-ExtraBold.ttf
  services/static-webserver/client/source/resource/common/Manrope/static/Manrope-ExtraLight.ttf
  services/static-webserver/client/source/resource/common/Manrope/static/Manrope-Light.ttf
  services/static-webserver/client/source/resource/common/Manrope/static/Manrope-Medium.ttf
  services/static-webserver/client/source/resource/common/Manrope/static/Manrope-Regular.ttf
  services/static-webserver/client/source/resource/common/Manrope/static/Manrope-SemiBold.ttf
  services/static-webserver/client/source/resource/common/common.css
Labels: a:frontend, changelog:🎨enhancement

#4831 ✨ Payments service: http clients
  .env-devel
  packages/models-library/src/models_library/basic_types.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_envs.py
  services/docker-compose.yml
  services/payments/Makefile
  services/payments/requirements/_test.in
  services/payments/requirements/_test.txt
  services/payments/scripts/fake_payment_gateway.py
  services/payments/src/simcore_service_payments/api/rpc/_payments.py
  services/payments/src/simcore_service_payments/cli.py
  services/payments/src/simcore_service_payments/core/application.py
  services/payments/src/simcore_service_payments/core/settings.py
  services/payments/src/simcore_service_payments/models/payments_gateway.py
  services/payments/src/simcore_service_payments/services/payments_gateway.py
  services/payments/src/simcore_service_payments/services/resource_usage_tracker.py
  services/payments/src/simcore_service_payments/utils/__init__.py
  services/payments/src/simcore_service_payments/utils/http_client.py
  services/payments/tests/unit/api/conftest.py
  services/payments/tests/unit/conftest.py
  services/payments/tests/unit/test_cli.py
  services/payments/tests/unit/test_rpc_payments.py
  services/payments/tests/unit/test_services_payments_gateway.py
  services/payments/tests/unit/test_services_resource_usage_tracker.py
  services/payments/tests/unit/test_utils_http_client.py
Labels: a:payments

#4841 🐛 Fix wrong error suppression
  services/director-v2/tests/integration/02/utils.py
Labels: a:director-v2

#4840 🎨 Enhancements: Default wallet UI
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/dashboard/GroupedToggleButtonContainer.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MemberListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
  services/static-webserver/client/source/class/osparc/file/FileDrop.js
  services/static-webserver/client/source/class/osparc/product/landingPage/Chat.js
  services/static-webserver/client/source/class/osparc/product/landingPage/NavigationBar.js
  services/static-webserver/client/source/class/osparc/product/landingPage/Utils.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/Content.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/Footer.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/Page.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/Pricing.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/solutions/CloudPlatform.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/solutions/Desktop.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/solutions/Electromagnetics.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/solutions/NeuronalActivation.js
  services/static-webserver/client/source/class/osparc/product/landingPage/s4llite/solutions/SolutionsBase.js
  services/static-webserver/client/source/class/osparc/product/quickStart/Utils.js
  services/static-webserver/client/source/class/osparc/theme/Font.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItemWithMenu.js
  tests/e2e/tutorials/tutorialBase.js
Labels: a:frontend, changelog:🎨enhancement

#4836 🎨 Cosmetics: Credits indicator (again)
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicator.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsLabel.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Overview.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/node/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/tours/Manager.js
  services/static-webserver/client/source/class/osparc/tours/Step.js
Labels: a:frontend, changelog:🎨enhancement

#4842 🎨 Enhance Request account form
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageFlex.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageOsparc.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageTI.js
  services/static-webserver/client/source/class/osparc/auth/core/BaseAuthPage.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/theme/Font.js
  services/static-webserver/client/source/class/osparc/ui/form/renderer/DoubleV.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Labels: a:frontend, changelog:🎨enhancement

#4845 🐛 Fix issue with paths not found in attribute monitor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/attribute_monitor/_logging_event_handler.py
  services/dynamic-sidecar/tests/unit/test_modules_attribute_monitor.py
Labels: a:dynamic-sidecar

#4844 ✨ `static-frontend-data.json` includes isPaymentEnabled flag
  packages/postgres-database/src/simcore_postgres_database/utils_products_prices.py
  packages/postgres-database/tests/test_models_products_prices.py
  services/web/server/src/simcore_service_webserver/db/base_repository.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_handlers.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_iterations.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_projects.py
  services/web/server/src/simcore_service_webserver/products/_api.py
  services/web/server/src/simcore_service_webserver/products/_db.py
  services/web/server/src/simcore_service_webserver/products/_events.py
  services/web/server/src/simcore_service_webserver/products/_model.py
  services/web/server/src/simcore_service_webserver/statics/plugin.py
  services/web/server/src/simcore_service_webserver/version_control/_handlers.py
  services/web/server/tests/unit/isolated/test_products_middlewares.py
  services/web/server/tests/unit/isolated/test_products_model.py
  services/web/server/tests/unit/isolated/test_statics.py
  services/web/server/tests/unit/with_dbs/03/products/test_products_db.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_core.py
Labels: a:webserver

#4805 ✨Replace osparc variables in user services image labels (part 1)
  packages/models-library/src/models_library/osparc_variable_identifier.py
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/service_settings_nat_rule.py
  packages/models-library/src/models_library/utils/specs_substitution.py
  packages/models-library/src/models_library/utils/string_substitution.py
  packages/models-library/tests/test_osparc_variable_identifier.py
  packages/models-library/tests/test_service_settings_labels.py
  packages/models-library/tests/test_service_settings_nat_rule.py
  packages/models-library/tests/test_utils_specs_substitution.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables_substitutions.py
  services/director-v2/tests/unit/test_modules_db_repositories_services_environments.py
Labels: a:director-v2, a:dynamic-sidecar

#4779 ✨ `dynamic-sidecar` saves and restores user services preferences
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services_service.py
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/user_preferences.py
  packages/models-library/tests/test_service_settings_labels.py
  packages/models-library/tests/test_user_preferences.py
  packages/service-integration/src/service_integration/osparc_config.py
  packages/service-library/src/servicelib/file_utils.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasksutils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_db.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_errors.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_manager.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_packaging.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_setup.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_user_preference.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_utils.py
  services/dynamic-sidecar/tests/integration/conftest.py
  services/dynamic-sidecar/tests/integration/test_modules_long_running_tasks.py
  services/dynamic-sidecar/tests/integration/test_modules_user_services_preferences.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_manager.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_watcher.py
  services/dynamic-sidecar/tests/unit/test_modules_user_services_preferences_packaging.py
  services/dynamic-sidecar/tests/unit/test_modules_user_services_preferences_user_preference.py
Labels: a:director-v2, a:dynamic-sidecar, changelog:🎨enhancement

#4849 ♻️ Refactor: Thumbnail/Preview explorer in Study Home Page
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyThumbnailExplorer.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/editor/ThumbnailSuggestions.js
  services/static-webserver/client/source/class/osparc/widget/Three.js
Labels: a:frontend, changelog:♻️refactor

#4846 ✨ Frontend: Simpler credits workflow
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Wallet.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Overview.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
  services/static-webserver/client/source/class/osparc/file/FilesTree.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Labels: a:frontend, changelog:🎨enhancement

#4852 ✨ Frontend: expose extra credits in the invitation
  services/static-webserver/client/source/class/osparc/po/Invitations.js
Labels: a:frontend, changelog:✨new-feature

#4854 🎨 Show ``Unit extra info`` on Tier button
  services/static-webserver/client/source/class/osparc/study/TierButton.js
Labels: a:frontend, changelog:🎨enhancement

#4850 ✨ Optional extra_credits in invitations
  packages/models-library/src/models_library/api_schemas_webserver/product.py
  packages/models-library/src/models_library/invitations.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_login.py
  services/invitations/VERSION
  services/invitations/openapi.json
  services/invitations/setup.cfg
  services/invitations/src/simcore_service_invitations/invitations.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/products/_invitations_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/_events.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_invitations.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/wallets/test_wallets.py
Labels: a:webserver, a:invitations

#4856 🎨 Beautify auth pages
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/core/BaseAuthPage.js
  services/static-webserver/client/source/class/osparc/auth/ui/Login2FAValidationCodeView.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RegistrationView.js
  services/static-webserver/client/source/class/osparc/auth/ui/ResetPassRequestView.js
  services/static-webserver/client/source/class/osparc/auth/ui/ResetPassView.js
  services/static-webserver/client/source/resource/osparc/s4l_splitimage.jpeg
  services/static-webserver/client/source/resource/osparc/s4l_splitimage.png
Labels: a:frontend, changelog:🎨enhancement

#4853 ✨ Introduce initial get wallets endpoints
  .github/PULL_REQUEST_TEMPLATE.md
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/src/simcore_service_api_server/utils/http_calls_capture_processing.py
  services/api-server/tests/mocks/get_job_wallet_found.json
  services/api-server/tests/mocks/get_job_wallet_not_found.json
  services/api-server/tests/mocks/get_wallet_failure.json
  services/api-server/tests/mocks/get_wallet_success.json
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_read.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_solver_jobs.py
  services/api-server/tests/unit/test_api_wallets.py
Labels: t:enhancement, a:payments

#4857 ✨ Wire Wallet auto-recharge to the frontend
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/auth/core/BaseAuthPage.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RegistrationView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/auth/ui/ResetPassView.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Wallet.js
  services/static-webserver/client/source/class/osparc/desktop/credits/AutoRecharge.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/OneTimePayment.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethods.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Labels: a:frontend, changelog:✨new-feature

#4859 🐛 Fix: Flexible Login Page
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageFlex.js
  services/static-webserver/client/source/class/osparc/auth/ui/RegistrationView.js
Labels: a:frontend, changelog:🐛bugfix

#4863 🐛 Fix s4l-lite test
  services/static-webserver/client/source/class/osparc/desktop/credits/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenterWindow.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsButton.js
  services/static-webserver/client/source/class/osparc/resourceUsage/OverviewTable.js
Labels: changelog:🐛bugfix

#4847 📝 Improve gettingstarted readme
  README.md
Labels: a:doc

#4865 ✨ Show editable Study title on Navigation Bar
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowToolbar.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
  services/static-webserver/client/source/class/osparc/ui/form/EditLabel.js
Labels: a:frontend, changelog:✨new-feature

#4864 🐛 Fixes `enum`-ports breaks compatibility matching
  services/web/server/src/simcore_service_webserver/catalog/_api_units.py
  services/web/server/tests/unit/isolated/test_catalog_api_units.py
Labels: a:webserver, changelog:🐛bugfix

#4823 🔨 Added new 'up' target for front-end development
  Makefile
  services/docker-compose.devel-frontend.yml
Labels: t:maintenance

#4862 ✨ Enhancements for product-owner users and invitations
  .env-devel
  api/specs/web-server/_products.py
  packages/models-library/src/models_library/api_schemas_webserver/product.py
  packages/models-library/src/models_library/invitations.py
  packages/postgres-database/src/simcore_postgres_database/models/products_prices.py
  packages/postgres-database/src/simcore_postgres_database/utils_products_prices.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_assert.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_login.py
  services/invitations/openapi.json
  services/invitations/src/simcore_service_invitations/invitations.py
  services/static-webserver/client/source/class/osparc/po/Invitations.js
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/products/_api.py
  services/web/server/src/simcore_service_webserver/products/_db.py
  services/web/server/src/simcore_service_webserver/products/_events.py
  services/web/server/src/simcore_service_webserver/products/_handlers.py
  services/web/server/src/simcore_service_webserver/products/_invitations_handlers.py
  services/web/server/src/simcore_service_webserver/products/_model.py
  services/web/server/src/simcore_service_webserver/products/api.py
  services/web/server/src/simcore_service_webserver/resource_usage/api.py
  services/web/server/src/simcore_service_webserver/security/_access_roles.py
  services/web/server/src/simcore_service_webserver/wallets/_events.py
  services/web/server/tests/unit/with_dbs/03/conftest.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_invitations.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_products_invitations.py
  services/web/server/tests/unit/with_dbs/03/products/test_product_prices.py
  services/web/server/tests/unit/with_dbs/03/products/test_products_handlers.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments.py
  services/web/server/tests/unit/with_dbs/03/wallets/test_wallets.py
Labels: a:webserver

#4870 ✨ webserver API: get payment invoice link (🗃️)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/7777d181dc1f_new_invoice_url_column_in_payments_.py
  packages/postgres-database/src/simcore_postgres_database/models/payments_transactions.py
  packages/postgres-database/src/simcore_postgres_database/utils_payments.py
  packages/postgres-database/tests/test_models_payments_transactions.py
  packages/pytest-simcore/src/pytest_simcore/helpers/rawdata_fakers.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/service-library/src/servicelib/db_async_engine.py
  services/static-webserver/client/source/class/osparc/desktop/credits/Transactions.js
  services/web/server/src/simcore_service_webserver/payments/_api.py
  services/web/server/src/simcore_service_webserver/payments/_db.py
  services/web/server/src/simcore_service_webserver/payments/_tasks.py
  services/web/server/tests/unit/with_dbs/03/products/test_products_handlers.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments.py
Labels: a:webserver, a:database

#4867 ♻️ Trying to enhance logging for storage
  services/storage/src/simcore_service_storage/utils_handlers.py
Labels: a:storage, t:maintenance

#4866 ✨ Auto-recharge: save changes
  services/static-webserver/client/source/class/osparc/desktop/credits/AutoRecharge.js
  services/static-webserver/client/source/class/osparc/desktop/credits/OneTimePayment.js
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/web/server/src/simcore_service_webserver/security/_access_roles.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Labels: a:frontend, changelog:✨new-feature

#4743 ✨ `payments` service: implementation of apis and db repos for one-time-payment workflow ⚠️
  services/docker-compose.yml
  services/payments/VERSION
  services/payments/doc/payments.drawio.svg
  services/payments/openapi.json
  services/payments/scripts/fake_payment_gateway.py
  services/payments/setup.cfg
  services/payments/src/simcore_service_payments/_constants.py
  services/payments/src/simcore_service_payments/api/rest/_acknowledgements.py
  services/payments/src/simcore_service_payments/api/rest/_dependencies.py
  services/payments/src/simcore_service_payments/api/rest/_exceptions.py
  services/payments/src/simcore_service_payments/api/rest/routes.py
  services/payments/src/simcore_service_payments/api/rpc/_payments.py
  services/payments/src/simcore_service_payments/cli.py
  services/payments/src/simcore_service_payments/core/application.py
  services/payments/src/simcore_service_payments/core/settings.py
  services/payments/src/simcore_service_payments/db/payments_transactions_repo.py
  services/payments/src/simcore_service_payments/models/db.py
  services/payments/src/simcore_service_payments/models/schemas/acknowledgements.py
  services/payments/src/simcore_service_payments/models/schemas/errors.py
  services/payments/src/simcore_service_payments/services/postgres.py
  services/payments/src/simcore_service_payments/services/webserver.py
  services/payments/tests/conftest.py
  services/payments/tests/unit/api/conftest.py
  services/payments/tests/unit/api/test__oas_spec.py
  services/payments/tests/unit/api/test_rest_acknowledgements.py
  services/payments/tests/unit/api/test_rest_auth.py
  services/payments/tests/unit/api/test_rest_dependencies.py
  services/payments/tests/unit/api/test_rest_meta.py
  services/payments/tests/unit/conftest.py
  services/payments/tests/unit/test_db_payments_transactions_repo.py
  services/payments/tests/unit/test_models_schemas.py
  services/payments/tests/unit/test_rpc_payments.py
  services/payments/tests/unit/test_services_payments_gateway.py
  services/payments/tests/unit/test_services_resource_usage_tracker.py
Labels: a:payments

#4876 ✨rclone options are customisable via env vars
  .env-devel
  packages/settings-library/src/settings_library/r_clone.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_r_clone.py
  services/director-v2/.env-devel
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/docker-compose.yml
Labels: a:director-v2, a:dynamic-sidecar

#4883 📝 Improve dev readme
  README.md
  services/api-server/README.md
  services/director-v2/README.md
Labels: a:doc

#4881 🐛 Fix 'make down'
  Makefile
  services/static-webserver/client/Makefile
Labels: bug

#4888 🐛 Fixes: Frontend generated logs in App Mode
  services/static-webserver/client/source/class/osparc/auth/ui/RegistrationView.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Usage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenter.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/node/UpdateResourceLimitsView.js
  services/static-webserver/client/source/class/osparc/po/POCenter.js
  services/static-webserver/client/source/class/osparc/po/POCenterWindow.js
  services/static-webserver/client/source/class/osparc/po/ProductInfo.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/ui/basic/JsonTreeWidget.js
Labels: a:frontend, changelog:🐛bugfix

#4882 ✨ Add getters for pricing plan and unit
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/src/simcore_service_api_server/utils/http_calls_capture_processing.py
  services/api-server/tests/mocks/get_job_pricing_unit_invalid_job.json
  services/api-server/tests/mocks/get_job_pricing_unit_invalid_solver.json
  services/api-server/tests/mocks/get_job_pricing_unit_success.json
  services/api-server/tests/mocks/get_solver_pricing_plan_invalid_solver.json
  services/api-server/tests/mocks/get_solver_pricing_plan_success.json
  services/api-server/tests/unit/api_studies/test_api_routes_studies.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_solver_jobs.py
  services/api-server/tests/unit/test_api_solvers.py
Labels: t:enhancement

#4886 ✨ Connects webserver and payments service
  packages/models-library/src/models_library/api_schemas_payments/__init__.py
  packages/models-library/src/models_library/rabbitmq_basic_types.py
  packages/service-library/src/servicelib/rabbitmq/__init__.py
  packages/service-library/src/servicelib/rabbitmq/_client_rpc.py
  packages/service-library/src/servicelib/rabbitmq/_constants.py
  packages/service-library/src/servicelib/rabbitmq/_models.py
  services/payments/src/simcore_service_payments/api/rpc/routes.py
  services/payments/src/simcore_service_payments/services/rabbitmq.py
  services/web/server/src/simcore_service_webserver/payments/_autorecharge_api.py
  services/web/server/src/simcore_service_webserver/payments/_client.py
  services/web/server/src/simcore_service_webserver/payments/_methods_api.py
  services/web/server/src/simcore_service_webserver/payments/_onetime_api.py
  services/web/server/src/simcore_service_webserver/payments/_onetime_db.py
  services/web/server/src/simcore_service_webserver/payments/_rpc.py
  services/web/server/src/simcore_service_webserver/payments/_tasks.py
  services/web/server/src/simcore_service_webserver/payments/api.py
  services/web/server/src/simcore_service_webserver/payments/plugin.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/conftest.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments_methods.py
Labels: a:webserver, a:payments

#4848 ✨adding osparc user variables replacement for dynamic services 🗃️
  packages/models-library/src/models_library/osparc_variable_identifier.py
  packages/models-library/src/models_library/utils/specs_substitution.py
  packages/models-library/tests/test_osparc_variable_identifier.py
  packages/models-library/tests/test_utils_specs_substitution.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/76d106b243c3_add_product_name_to_services_vendor_.py
  packages/postgres-database/src/simcore_postgres_database/models/services_environments.py
  packages/postgres-database/src/simcore_postgres_database/utils_services_environments.py
  packages/postgres-database/tests/test_utils_services_environments.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/services_environments.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_egress_config.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables_substitutions.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
Labels: a:database, a:director-v2, a:models-library

#4894 ♻️🐛Fix build cache issue in devel mode
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/invitations/Dockerfile
  services/osparc-gateway-server/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Labels: a:infra+ops

#4711 ✨Autoscaling: 1st draft on auto-scaling computational clusters
  packages/pytest-simcore/src/pytest_simcore/dask_scheduler.py
  services/autoscaling/requirements/_base.in
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/autoscaling/requirements/_tools.txt
  services/autoscaling/sandbox/script.py
  services/autoscaling/src/simcore_service_autoscaling/_meta.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/core/errors.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_computational.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_task.py
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
  services/autoscaling/src/simcore_service_autoscaling/utils/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/computational_scaling.py
  services/autoscaling/src/simcore_service_autoscaling/utils/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/manual/.env-devel
  services/autoscaling/tests/manual/Makefile
  services/autoscaling/tests/manual/README.md
  services/autoscaling/tests/manual/docker-compose-computational.yml
  services/autoscaling/tests/manual/docker-compose.yml
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_core_settings.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_task.py
  services/autoscaling/tests/unit/test_modules_dask.py
  services/autoscaling/tests/unit/test_utils_auto_scaling_core.py
  services/autoscaling/tests/unit/test_utils_computational_scaling.py
  services/autoscaling/tests/unit/test_utils_docker.py
Labels: a:autoscaling

#4893 ✨ Connect Pricing Units
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditorIdlingTracker.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/study/PricingUnit.js
  services/static-webserver/client/source/class/osparc/study/PricingUnits.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/study/StudyPricingUnits.js
Labels: a:frontend, changelog:✨new-feature

#4898 🐛 Hide wallet actions to users with only read access
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Activity.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Summary.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Transactions.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Usage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenterWindow.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethods.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
Labels: a:frontend, changelog:✨new-feature, changelog:🐛bugfix

#4897 🎨 Read-only permissions to wallets do not give access to wallet-payment info
  services/web/server/src/simcore_service_webserver/payments/_autorecharge_api.py
  services/web/server/src/simcore_service_webserver/payments/_methods_api.py
  services/web/server/src/simcore_service_webserver/payments/_onetime_api.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments.py
Labels: a:webserver

#4879 🎨 Minor on invitations extra-credits limits
  packages/models-library/src/models_library/api_schemas_webserver/product.py
  services/static-webserver/client/source/class/osparc/po/Invitations.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: a:frontend, a:models-library

#4896 ✨ Billing settings in Home Page
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
  services/static-webserver/client/source/class/osparc/study/BillingSettings.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/study/StudyPricingUnits.js
Labels: a:frontend, changelog:✨new-feature

#4901 🎨 Long flexible SIM4LIFE logo
  services/static-webserver/client/source/class/osparc/WindowSizeTracker.js
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/navigation/LogoOnOff.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/ui/basic/Logo.js
  services/static-webserver/client/source/class/osparc/ui/basic/LogoWPlatform.js
Labels: a:frontend, changelog:🎨enhancement

#4900 ✨ Context Wallet throughout the Application
  services/static-webserver/client/source/class/osparc/Preferences.js
  services/static-webserver/client/source/class/osparc/data/Roles.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Activity.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Summary.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Transactions.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Usage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UserCenterWindow.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethods.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
Labels: a:frontend, changelog:✨new-feature

#4871 ✨ web-api: request for an account deletion (🗃️)
  api/specs/web-server/_auth.py
  packages/models-library/src/models_library/api_schemas_webserver/auth.py
  packages/postgres-database/VERSION
  packages/postgres-database/setup.cfg
  packages/postgres-database/src/simcore_postgres_database/migration/versions/be0dece4e67c_rm_created_ip_and_add_deleted_user_.py
  packages/postgres-database/src/simcore_postgres_database/models/users.py
  packages/postgres-database/tests/projects/conftest.py
  packages/pytest-simcore/src/pytest_simcore/helpers/rawdata_fakers.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_login.py
  packages/service-library/src/servicelib/utils.py
  services/storage/tests/data/users.csv
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/email/_core.py
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/login/_registration_api.py
  services/web/server/src/simcore_service_webserver/login/_registration_handlers.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/security/_access_roles.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/src/simcore_service_webserver/templates/common/close_account.jinja2
  services/web/server/src/simcore_service_webserver/users/_api.py
  services/web/server/src/simcore_service_webserver/users/_db.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/users/plugin.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_auth.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_unregister.py
Labels: a:webserver

#4891 🎨 payment-service: improves one-time-payment workflow (⚠️devops)
  .env-devel
  packages/models-library/src/models_library/basic_types.py
  packages/postgres-database/src/simcore_postgres_database/constants.py
  packages/postgres-database/src/simcore_postgres_database/models/_common.py
  packages/postgres-database/src/simcore_postgres_database/models/payments_transactions.py
  packages/postgres-database/src/simcore_postgres_database/utils_products_prices.py
  packages/postgres-database/tests/test_models_payments_transactions.py
  services/docker-compose.yml
  services/payments/Makefile
  services/payments/VERSION
  services/payments/doc/payments.drawio.svg
  services/payments/openapi.json
  services/payments/scripts/Makefile
  services/payments/scripts/fake_payment_gateway.py
  services/payments/setup.cfg
  services/payments/src/simcore_service_payments/api/rest/_acknowledgements.py
  services/payments/src/simcore_service_payments/api/rpc/_payments.py
  services/payments/src/simcore_service_payments/cli.py
  services/payments/src/simcore_service_payments/core/errors.py
  services/payments/src/simcore_service_payments/core/settings.py
  services/payments/src/simcore_service_payments/db/payments_transactions_repo.py
  services/payments/src/simcore_service_payments/models/payments_gateway.py
  services/payments/src/simcore_service_payments/models/schemas/acknowledgements.py
  services/payments/src/simcore_service_payments/services/payments_gateway.py
  services/payments/tests/unit/api/conftest.py
  services/payments/tests/unit/api/test_rest_acknowledgements.py
  services/payments/tests/unit/conftest.py
  services/payments/tests/unit/test_rpc_payments.py
  services/payments/tests/unit/test_services_payments_gateway.py
  services/web/server/src/simcore_service_webserver/products/_db.py
  services/web/server/tests/unit/with_dbs/03/products/test_products_handlers.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments.py
Labels: a:webserver, a:payments

#4908 ✨Delete account
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/credits/DeleteAccount.js
  services/static-webserver/client/source/class/osparc/desktop/credits/ProfilePage.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:✨new-feature

#4899 ✨Clusters-keeper: integrate autoscaling (⚠️ devops)
  .env-devel
  services/clusters-keeper/.env-devel
  services/clusters-keeper/README.md
  services/clusters-keeper/src/simcore_service_clusters_keeper/_meta.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/application.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters_management_core.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters_management_task.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/ec2.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/ec2.py
  services/clusters-keeper/tests/manual/README.md
  services/clusters-keeper/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/test_core_settings.py
  services/clusters-keeper/tests/unit/test_data_docker_compose.py
  services/clusters-keeper/tests/unit/test_modules_clusters.py
  services/clusters-keeper/tests/unit/test_modules_ec2.py
  services/clusters-keeper/tests/unit/test_rpc_clusters.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
  services/clusters-keeper/tests/unit/test_utils_ec2.py
  services/docker-compose.yml
Labels: a:clusters-keeper

#4892 🎨 Add payment headers to start job
  .env-devel
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/src/simcore_service_api_server/utils/client_base.py
  services/api-server/src/simcore_service_api_server/utils/client_base_dev.py
  services/api-server/src/simcore_service_api_server/utils/http_calls_capture.py
  services/api-server/src/simcore_service_api_server/utils/http_calls_capture_processing.py
  services/api-server/tests/mocks/start_job_no_payment.json
  services/api-server/tests/mocks/start_job_with_payment.json
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_files.py
  services/api-server/tests/unit/test_api_solver_jobs.py
  services/api-server/tests/unit/test_api_solvers.py
  services/api-server/tests/unit/test_api_wallets.py
Labels: a:apiserver, a:payments

#4915 🐛 Autoscaling/Clusters-keeper unable to resolve SSL certificates
  services/autoscaling/Dockerfile
  services/autoscaling/docker/entrypoint.sh
  services/clusters-keeper/Dockerfile
  services/clusters-keeper/docker/entrypoint.sh
Labels: a:autoscaling, a:clusters-keeper

#4907 ✨ Connects `cancel_payments` from webserver to payment services
  services/web/server/src/simcore_service_webserver/payments/_onetime_api.py
  services/web/server/src/simcore_service_webserver/payments/_rpc.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments.py
Labels: a:webserver

#4918 🐛 bugfix: multiple calls to :close
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:🐛bugfix

#4903 🎨 Clean up Navigation Bar
  services/static-webserver/client/source/class/osparc/WindowSizeTracker.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/data/model/Wallet.js
  services/static-webserver/client/source/class/osparc/desktop/CollapseWithUserMenu.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenterWindow.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/MyAccount.js
  services/static-webserver/client/source/class/osparc/desktop/credits/MyAccountWindow.js
  services/static-webserver/client/source/class/osparc/desktop/credits/OneTimePayment.js
  services/static-webserver/client/source/class/osparc/desktop/credits/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/navigation/MiniProfileMenuButton.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/po/POCenter.js
  services/static-webserver/client/source/class/osparc/ui/switch/ThemeSwitcher.js
  services/static-webserver/client/source/class/osparc/ui/switch/ThemeSwitcherFormBtn.js
  services/static-webserver/client/source/class/osparc/ui/switch/ThemeSwitcherMenuBtn.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/viewer/NavigationBar.js
  services/static-webserver/client/source/class/osparc/widget/CollapsibleViewLight.js
Labels: a:frontend, changelog:🎨enhancement

#4895 ✨ allows frontend to check if a project is inactive
  api/specs/web-server/_projects_crud.py
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services.py
  packages/models-library/src/models_library/api_schemas_dynamic_sidecar/__init__.py
  packages/models-library/src/models_library/api_schemas_dynamic_sidecar/containers.py
  packages/models-library/src/models_library/callbacks_mapping.py
  packages/models-library/tests/test_api_schemas_dynamic_sidecar_containers.py
  packages/models-library/tests/test_callbacks_mapping.py
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasksutils.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director_v2/_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/director_v2/_handlers.py
  services/web/server/src/simcore_service_webserver/director_v2/api.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/users/_preferences_api.py
  services/web/server/src/simcore_service_webserver/users/_preferences_models.py
  services/web/server/src/simcore_service_webserver/users/preferences_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/03/test_users__preferences_api.py
Labels: a:webserver, a:director-v2, a:dynamic-sidecar

#4919 ✨ Dask sidecar: find out on start on which EC2 instance it runs if available
  services/dask-sidecar/docker/boot.sh
  tests/swarm-deploy/conftest.py
Labels: a:dask-service

#4924 🐛 Fix aws checksum issue
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/unit/test_dsm_dsmcleaner.py
  services/storage/tests/unit/test_s3_client.py
Labels: a:storage

#4910 ✨ Credits Indicator preferences
  services/static-webserver/client/source/class/osparc/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicator.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Summary.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Usage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/navigation/CreditsMenuButton.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/web/server/src/simcore_service_webserver/users/_preferences_models.py
  services/web/server/tests/unit/with_dbs/03/test_users__preferences_api.py
Labels: a:frontend, changelog:✨new-feature

#4913 ♻️ ✨ api-keys per product and rpc interface (🗃️)
  api/specs/web-server/_auth.py
  packages/models-library/src/models_library/api_schemas_webserver/__init__.py
  packages/models-library/src/models_library/api_schemas_webserver/auth.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/2a4b4167e088_product_name_column_in_api_keys_table.py
  packages/postgres-database/src/simcore_postgres_database/models/api_keys.py
  packages/postgres-database/tests/test_models_api_keys.py
  packages/pytest-simcore/src/pytest_simcore/helpers/rawdata_fakers.py
  packages/service-library/src/servicelib/aiohttp/application_keys.py
  services/api-server/src/simcore_service_api_server/db/repositories/api_keys.py
  services/api-server/tests/unit/_with_db/conftest.py
  services/web/server/src/simcore_service_webserver/api_keys/__init__.py
  services/web/server/src/simcore_service_webserver/api_keys/_api.py
  services/web/server/src/simcore_service_webserver/api_keys/_db.py
  services/web/server/src/simcore_service_webserver/api_keys/_handlers.py
  services/web/server/src/simcore_service_webserver/api_keys/_rpc.py
  services/web/server/src/simcore_service_webserver/api_keys/api.py
  services/web/server/src/simcore_service_webserver/api_keys/plugin.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_api_keys.py
  services/web/server/src/simcore_service_webserver/login/api_keys_db.py
  services/web/server/src/simcore_service_webserver/login/api_keys_handlers.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/rabbitmq.py
  services/web/server/tests/unit/with_dbs/01/conftest.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments.py
Labels: a:webserver

#4930 ✨Director-v2 passes the wallet ID to clusters-keeper
  services/director-v2/src/simcore_service_director_v2/modules/clusters_keeper.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
Labels: a:director-v2

#4928 🎨 Integrate Current usage into Credits indicator
  services/static-webserver/client/source/class/osparc/desktop/credits/CurrentUsage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/navigation/CreditsMenuButton.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/notification/RibbonNotifications.js
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:🎨enhancement

#4931 ✨Comp backend: allow setting workers idle time before termination (⚠️ devops)
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/docker-compose.yml
Labels: a:autoscaling, a:clusters-keeper

#4935 🐛migration of api_keys fails
  packages/postgres-database/src/simcore_postgres_database/migration/versions/2a4b4167e088_product_name_column_in_api_keys_table.py
Labels: a:database

#4932 ⬆️ Upgrading tools
  packages/dask-task-models-library/requirements/_tools.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_tools.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_tools.txt
  packages/settings-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_tools.txt
  requirements/tools/Makefile
  services/agent/requirements/_tools.txt
  services/api-server/requirements/_tools.txt
  services/autoscaling/requirements/_tools.txt
  services/catalog/requirements/_tools.txt
  services/clusters-keeper/requirements/_tools.txt
  services/dask-sidecar/requirements/_tools.txt
  services/datcore-adapter/requirements/_tools.txt
  services/director-v2/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/invitations/requirements/_tools.txt
  services/migration/requirements/_tools.txt
  services/osparc-gateway-server/requirements/_tools.txt
  services/osparc-gateway-server/tests/system/requirements/_tools.txt
  services/payments/requirements/_tools.txt
  services/resource-usage-tracker/requirements/_tools.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_tools.txt
  tests/public-api/requirements/_tools.txt
  tests/swarm-deploy/requirements/_tools.txt
Labels: t:enhancement, changelog:🎨enhancement

#4938 🐛 if node has it's state stored a directory it will now display the content in the preview
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/protocol.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/utils/rabbitmq.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm_utils.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/session/access_policies.py
Labels: a:storage, changelog:🐛bugfix

#4937 🐛 Bugfix: Reset Store after logging out
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicator.js
  services/static-webserver/client/source/class/osparc/navigation/CreditsMenuButton.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Labels: changelog:🐛bugfix

#4943 ✨ Expose message templates to POs
  services/static-webserver/client/source/class/osparc/editor/HtmlEditor.js
  services/static-webserver/client/source/class/osparc/editor/MarkdownEditor.js
  services/static-webserver/client/source/class/osparc/info/CommentAdd.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/metadata/QualityEditor.js
  services/static-webserver/client/source/class/osparc/po/MessageTemplates.js
  services/static-webserver/client/source/class/osparc/po/POCenter.js
  services/static-webserver/client/source/class/osparc/po/ProductInfo.js
  services/static-webserver/client/source/class/osparc/widget/NodeSlideTreeItem.js
Labels: a:frontend, changelog:✨new-feature

#4923 🐛Fixes rpc cancellation in webserver and extra tests on one-time-payment workflow
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  packages/models-library/src/models_library/basic_types.py
  packages/models-library/tests/test_basic_types.py
  services/payments/VERSION
  services/payments/openapi.json
  services/payments/setup.cfg
  services/payments/src/simcore_service_payments/api/rest/_acknowledgements.py
  services/payments/src/simcore_service_payments/api/rpc/_payments.py
  services/payments/src/simcore_service_payments/db/payments_transactions_repo.py
  services/payments/src/simcore_service_payments/models/payments_gateway.py
  services/payments/src/simcore_service_payments/models/schemas/acknowledgements.py
  services/payments/src/simcore_service_payments/services/payments_gateway.py
  services/payments/tests/unit/api/test__one_time_payment_workflows.py
  services/payments/tests/unit/api/test_rest_acknowledgements.py
  services/web/server/src/simcore_service_webserver/payments/_rpc.py
Labels: a:webserver, changelog:🐛bugfix, a:payments

#4942 ✨ Clusters keeper: add rpc methods to get EC2 instance capabilities
  packages/models-library/src/models_library/api_schemas_clusters_keeper/__init__.py
  packages/models-library/src/models_library/api_schemas_clusters_keeper/clusters.py
  packages/models-library/src/models_library/api_schemas_clusters_keeper/ec2_instances.py
  packages/models-library/src/models_library/rpc_schemas_clusters_keeper/__init__.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/errors.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/models.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/ec2.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/rabbitmq.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/rpc/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/rpc/ec2_instances.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/rpc/rpc_routes.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/test_modules_ec2.py
  services/clusters-keeper/tests/unit/test_rpc_clusters.py
  services/clusters-keeper/tests/unit/test_rpc_ec2_instances.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
  services/director-v2/src/simcore_service_director_v2/modules/clusters_keeper.py
Labels: a:clusters-keeper

#4945 🎨 Beautify Buy credits
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/credits/ActivityTable.js
  services/static-webserver/client/source/class/osparc/desktop/credits/AutoRecharge.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCredits.js
  services/static-webserver/client/source/class/osparc/desktop/credits/OneTimePayment.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Summary.js
  services/static-webserver/client/source/class/osparc/desktop/credits/TransactionsTable.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UsageTable.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:🎨enhancement

#4944 ✨ web-api: request accounts and product templates
  api/specs/web-server/_auth.py
  api/specs/web-server/_products.py
  packages/models-library/src/models_library/api_schemas_webserver/auth.py
  packages/models-library/src/models_library/api_schemas_webserver/product.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/email/_core.py
  services/web/server/src/simcore_service_webserver/login/_registration_api.py
  services/web/server/src/simcore_service_webserver/login/_registration_handlers.py
  services/web/server/src/simcore_service_webserver/products/_handlers.py
  services/web/server/src/simcore_service_webserver/products/_invitations_handlers.py
  services/web/server/src/simcore_service_webserver/security/_access_roles.py
  services/web/server/src/simcore_service_webserver/templates/common/close_account.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/request_account.jinja2
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration_handlers.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, a:api

#4946 ✨ Changes in auto-recharge limit policy (🗃️, ⚠️)
  .env-devel
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  packages/models-library/src/models_library/invitations.py
  packages/postgres-database/VERSION
  packages/postgres-database/setup.cfg
  packages/postgres-database/src/simcore_postgres_database/migration/versions/d0d544695487_rm_cols_in_payments_autorecharge.py
  packages/postgres-database/src/simcore_postgres_database/models/payments_autorecharge.py
  packages/postgres-database/src/simcore_postgres_database/utils_payments_autorecharge.py
  packages/postgres-database/tests/test_utils_payments_autorecharge.py
  services/docker-compose.yml
  services/invitations/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/payments/_autorecharge_api.py
  services/web/server/src/simcore_service_webserver/payments/_autorecharge_db.py
  services/web/server/src/simcore_service_webserver/payments/settings.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments_methods.py
Labels: a:webserver, a:database

#4951 ✨ Sending message to iframe for theme switching
  services/static-webserver/client/source/class/osparc/ui/switch/ThemeSwitcher.js
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Labels: t:enhancement, UI/UX

#4954 ✨Comp-backend override resources with selected hardware
  packages/models-library/src/models_library/rabbitmq_basic_types.py
  packages/models-library/src/models_library/services_resources.py
  packages/service-library/src/servicelib/rabbitmq/__init__.py
  packages/service-library/src/servicelib/rabbitmq/_client_rpc.py
  packages/service-library/src/servicelib/rabbitmq/_constants.py
  packages/service-library/src/servicelib/rabbitmq/_models.py
  packages/service-library/src/servicelib/rabbitmq/_rpc_router.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/__init__.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/clusters_keeper/__init__.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/clusters_keeper/clusters.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/clusters_keeper/ec2_instances.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_router.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/ec2.py
  services/clusters-keeper/tests/unit/test_rpc_clusters.py
  services/clusters-keeper/tests/unit/test_rpc_ec2_instances.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations_tasks.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/catalog.py
  services/director-v2/src/simcore_service_director_v2/modules/clusters_keeper.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/payments/tests/unit/api/test__one_time_payment_workflows.py
  services/payments/tests/unit/test_rpc_payments.py
  services/web/server/src/simcore_service_webserver/payments/_rpc.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_utils.py
Labels: a:director-v2

#4956 ✨ Ask for wallet upon study creation and Hide Tiers by default
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/editor/HtmlEditor.js
  services/static-webserver/client/source/class/osparc/editor/MarkdownEditor.js
  services/static-webserver/client/source/class/osparc/editor/TextEditor.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/service/ServiceButtonList.js
  services/static-webserver/client/source/class/osparc/service/ServiceList.js
  services/static-webserver/client/source/class/osparc/service/ServiceListItem.js
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/study/BillingSettings.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
  services/static-webserver/client/source/class/osparc/widget/CollapsibleViewLight.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
Labels: a:frontend, changelog:✨new-feature

#4962 🐛 Demo fixes
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/credits/AutoRecharge.js
Labels: changelog:🐛bugfix
