Repository ITISFoundation/osparc-simcore, pull requests merged in 2023-02, with the labels that each got.

#3825 ✨ Frontend: powered by oSPARC
  services/static-webserver/client/source/class/osparc/About.js
  services/static-webserver/client/source/class/osparc/AboutProduct.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/theme/Font.js
  services/static-webserver/client/source/class/osparc/ui/basic/PoweredByOsparc.js
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
  services/static-webserver/client/source/resource/osparc/osparc-o-black.svg
  services/static-webserver/client/source/resource/osparc/osparc-o-white.svg
Labels: a:frontend, changelog:🎨enhancement

#3803 ✨ Is3565/service environs substitution [part 1] (⚠️ devops)
  .env-devel
  packages/models-library/VERSION
  packages/models-library/setup.cfg
  packages/models-library/src/models_library/utils/docker_compose.py
  packages/models-library/src/models_library/utils/string_substitution.py
  packages/models-library/tests/test_utils_docker_compose.py
  packages/models-library/tests/test_utils_string_substitution.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker_registry.py
  packages/service-integration/tests/data/compose-spec.yml
  services/catalog/src/simcore_service_catalog/api/routes/services_resources.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/invitations/Dockerfile
  services/invitations/src/simcore_service_invitations/api/_dependencies.py
  services/invitations/src/simcore_service_invitations/api/_invitations.py
  services/invitations/src/simcore_service_invitations/cli.py
  services/invitations/src/simcore_service_invitations/core/settings.py
  services/invitations/tests/unit/test_invitations.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/test_invitations.py
Labels: changelog:🎨enhancement, a:models-library

#3815 ✨ Frontend: Redesign Organizations page
  services/static-webserver/client/source/boot/index.html
  services/static-webserver/client/source/class/osparc/About.js
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/component/permissions/Permissions.js
  services/static-webserver/client/source/class/osparc/component/workbench/ServiceCatalog.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/data/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/data/Roles.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationMembersList.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/MemberListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/OrganizationListItem.js
Labels: a:frontend, changelog:🎨enhancement

#3828 🐛 Fixes #1517: project tags are copied when cloned
  Makefile
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_projects.py
  scripts/demo/template-projects/converter.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/src/simcore_service_webserver/projects/_delete.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_db.py
  services/web/server/src/simcore_service_webserver/projects/projects_db_utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/projects_ports_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_utils.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/tests/unit/isolated/test_projects_models.py
  services/web/server/tests/unit/with_dbs/02/test_project_db.py
Labels: a:webserver, changelog:🐛bugfix

#3813 ✨Backend messaging: improve progress messages for starting services
  .pylintrc
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/service-library/setup.cfg
  packages/service-library/src/servicelib/archiving_utils.py
  packages/service-library/src/servicelib/pools.py
  packages/service-library/src/servicelib/progress_bar.py
  packages/service-library/src/servicelib/rabbitmq.py
  packages/service-library/src/servicelib/rabbitmq_utils.py
  packages/service-library/tests/conftest.py
  packages/service-library/tests/test_archiving_utils.py
  packages/service-library/tests/test_pools.py
  packages/service-library/tests/test_progress_bar.py
  packages/service-library/tests/test_rabbitmq.py
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/nodeports_v2.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/tests/integration/test_node_data_data_manager_.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  packages/simcore-sdk/tests/integration/test_node_ports_v2_nodeports2.py
  packages/simcore-sdk/tests/unit/test_node_data_data_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_file_io_utils.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_nodeports_v2.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_port.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/utils/dynamic_scaling.py
  services/autoscaling/tests/unit/test_utils_dynamic_scaling.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_manager.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_event_filter.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_event_handler.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_manager.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_watcher.py
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
Labels: changelog:🎨enhancement

#3826 🐛 issues with docker networking and DNS resolution
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_egress_config.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/tests/mocks/working_envoy_proxy_config.yaml
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_egress_config.py
Labels: changelog:🐛bugfix

#3831 📝 Frontend: wording and center windows
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/component/task/TaskUI.js
  services/static-webserver/client/source/class/osparc/data/Roles.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/ui/window/Confirmation.js
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
Labels: a:frontend, changelog:🎨enhancement

#3834 ✨ Reset Node's start up sequence
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
Labels: a:frontend, changelog:🎨enhancement

#3836 🐛 Dynamic sidecar: failing service on freshly started node
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
Labels: changelog:🐛bugfix

#3838 ✨ Frontend: Window too small message to ribbon
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/WindowSizeTracker.js
  services/static-webserver/client/source/class/osparc/component/notification/Notification.js
  services/static-webserver/client/source/class/osparc/component/notification/NotificationsRibbon.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/viewer/MainPage.js
  tests/e2e/tutorials/ti-plan.js
Labels: a:frontend, changelog:🎨enhancement

#3839 ♻️ director-v2 api client enhancements
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_base.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_base.py
Labels: a:director-v2

#3835 ♻️ enhances emails plugin and 🐛 fixes missing fields ( ⚠️ devops ) #3822
  api/specs/webserver/openapi-admin.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/openapi_admin.py
  packages/postgres-database/tests/test_users.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/email.py
  services/web/server/src/simcore_service_webserver/email_core.py
  services/web/server/src/simcore_service_webserver/email_handlers.py
  services/web/server/src/simcore_service_webserver/login/utils_email.py
  services/web/server/src/simcore_service_webserver/security_roles.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_utils_emails.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, changelog:🐛bugfix

#3846 ♻️ Cleaning up logs
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/utils/client_decorators.py
  services/director-v2/tests/unit/test_utils_client_decorators.py
Labels: a:director-v2

#3845 🐛 Frontend: fix Shared with sorting
  services/static-webserver/client/source/class/osparc/component/permissions/Permissions.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationMembersList.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsPage.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
Labels: a:frontend, changelog:🐛bugfix

#3844 ✨Frontend: Rebranding
  services/static-webserver/client/compile.json
  services/static-webserver/client/source/class/osparc/component/tutorial/s4llite/Dashboard.js
  services/static-webserver/client/source/class/osparc/component/tutorial/s4llite/S4LLiteSpecs.js
  services/static-webserver/client/source/class/osparc/component/tutorial/s4llite/S4LLiteUI.js
  services/static-webserver/client/source/class/osparc/component/tutorial/s4llite/Welcome.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/resource/osparc/s4llite-black.png
  services/static-webserver/client/source/resource/osparc/s4llite-white.png
  services/static-webserver/client/source/resource/osparc/s4llite_zmt-black.svg
  services/static-webserver/client/source/resource/osparc/s4llite_zmt-white.svg
Labels: a:frontend, changelog:🎨enhancement

#3850 🐛 unexpected agent rclone errors
  services/agent/src/simcore_service_agent/modules/volumes_cleanup/_core.py
  services/agent/src/simcore_service_agent/modules/volumes_cleanup/_s3.py
  services/agent/tests/unit/test_modules_volumes_cleanup_s3.py
Labels: changelog:🐛bugfix, a:agent

#3851 ✨ Frontend: S4L lite start up disclaimer
  services/static-webserver/client/source/class/osparc/component/notification/NotificationsRibbon.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
  services/static-webserver/client/source/class/osparc/ui/basic/LoadingPageHandler.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/projects/projects_exceptions.py
Labels: a:frontend, changelog:✨new-feature

#3854 🐛 Frontend: Do not list Product-Everyone group in Sharing
  services/static-webserver/client/source/class/osparc/AboutProduct.js
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonBase.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Labels: a:frontend, changelog:🐛bugfix

#3855 🐛 Adds message-id and date to email headers
  services/web/server/src/simcore_service_webserver/email_core.py
  services/web/server/src/simcore_service_webserver/email_handlers.py
  services/web/server/src/simcore_service_webserver/email_settings.py
  services/web/server/src/simcore_service_webserver/login/_2fa.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/utils_email.py
  services/web/server/src/simcore_service_webserver/publication_handlers.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_utils_emails.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, changelog:🐛bugfix

#3865 🐛✨ Frontend: Fix duplicate bug and last minute changes
  services/static-webserver/client/compile.json
  services/static-webserver/client/source/boot/index.html
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/NewRelease.js
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Labels: a:frontend, changelog:🎨enhancement, changelog:🐛bugfix

#3861 ✨ Adds release tag, date and url in /config
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_envs.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/rest_handlers.py
  services/web/server/src/simcore_service_webserver/templates/s4llite/change_email_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/s4llite/new_2fa_code.jinja2
  services/web/server/src/simcore_service_webserver/templates/s4llite/registration_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/s4llite/reset_password_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/s4llite/reset_password_email_failed.jinja2
  services/web/server/tests/unit/isolated/conftest.py
  services/web/server/tests/unit/isolated/test_application_settings.py
  services/web/server/tests/unit/isolated/test_rest.py
Labels: a:webserver

#3867 ✨Frontend: More last minute changes
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/component/message/FlashMessenger.js
  services/static-webserver/client/source/class/osparc/component/permissions/Permissions.js
  services/static-webserver/client/source/class/osparc/component/permissions/PublishTemplateWith.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditorIdlingTracker.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyMedium.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/product/AboutProduct.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/product/tutorial/SlideBase.js
  services/static-webserver/client/source/class/osparc/product/tutorial/SlidesBase.js
  services/static-webserver/client/source/class/osparc/product/tutorial/Utils.js
  services/static-webserver/client/source/class/osparc/product/tutorial/s4llite/Dashboard.js
  services/static-webserver/client/source/class/osparc/product/tutorial/s4llite/S4LLiteSpecs.js
  services/static-webserver/client/source/class/osparc/product/tutorial/s4llite/S4LLiteUI.js
  services/static-webserver/client/source/class/osparc/product/tutorial/s4llite/Slides.js
  services/static-webserver/client/source/class/osparc/product/tutorial/s4llite/Welcome.js
  services/static-webserver/client/source/class/osparc/product/tutorial/ti/Dashboard.js
  services/static-webserver/client/source/class/osparc/product/tutorial/ti/ElectrodeSelector.js
  services/static-webserver/client/source/class/osparc/product/tutorial/ti/PostPro.js
  services/static-webserver/client/source/class/osparc/product/tutorial/ti/S4LPostPro.js
  services/static-webserver/client/source/class/osparc/product/tutorial/ti/Slides.js
  services/static-webserver/client/source/class/osparc/product/tutorial/ti/Welcome.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/theme/Font.js
  services/static-webserver/client/source/class/osparc/ui/basic/Logo.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
  services/static-webserver/client/source/class/osparc/utils/Study.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:♻️refactor

#3872 ♻️ Frontend refactoring: Product functions
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyMedium.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
Labels: a:frontend, changelog:♻️refactor

#3843 ✨ Directorv2: adds current product_name in ScheduledData [part 2 of #3565]
  packages/models-library/tests/test_basic_regex.py
  packages/models-library/tests/test_utils_string_substitution.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_clusters.py
  packages/postgres-database/tests/test_users.py
  packages/postgres-database/tests/test_utils.py
  packages/postgres-database/tests/test_utils_migration.py
  packages/postgres-database/tests/test_utils_tags.py
  services/director-v2/VERSION
  services/director-v2/openapi.json
  services/director-v2/setup.cfg
  services/director-v2/src/simcore_service_director_v2/models/domains/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/web/server/src/simcore_service_webserver/director_v2_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_nodes_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
Labels: a:director-v2

#3868 🐛 Fix: GC error
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/tests/unit/isolated/test_garbage_collector_core.py
Labels: changelog:🐛bugfix

#3859 ✨ add background file attribute changes logger
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/attribute_monitor/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/attribute_monitor/_logging_event_handler.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/attribute_monitor/_watchdog_extensions.py
  services/dynamic-sidecar/tests/unit/test_modules_attribute_monitor.py
Labels: a:dynamic-sidecar, changelog:✨new-feature

#3877 🐛✨ Frontend: Make labels html compatible
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/product/AboutProduct.js
  services/static-webserver/client/source/class/osparc/product/tutorial/s4llite/Dashboard.js
  services/static-webserver/client/source/class/osparc/product/tutorial/s4llite/S4LLiteSpecs.js
  services/static-webserver/client/source/class/osparc/product/tutorial/s4llite/S4LLiteUI.js
  services/static-webserver/client/source/class/osparc/product/tutorial/s4llite/Welcome.js
  services/static-webserver/client/source/class/osparc/store/Support.js
Labels: a:frontend, changelog:✨new-feature, changelog:🐛bugfix

#3878 🐛 Fix edge case when cancelling observation
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_base.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_base.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_observer.py
Labels: High Priority, changelog:🐛bugfix

#3879 🐛 Frontend: Post release minor fixes
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/component/editor/ThumbnailEditor.js
  services/static-webserver/client/source/class/osparc/component/form/Auto.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/ui/basic/Thumbnail.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Labels: a:frontend, changelog:✨new-feature, changelog:🐛bugfix

#3886 ✨🐛 Frontend: Node Progress update sequence
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
Labels: a:frontend, changelog:🎨enhancement

#3895 🐛 Bugfix: Workbench: render Edges after making sure all Nodes were rendered
  services/static-webserver/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/zmt/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/zmt/ColorLight.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Labels: a:frontend, changelog:🐛bugfix

#3881 ♻️ Labels for metrics scraping
  packages/models-library/src/models_library/docker.py
  packages/models-library/tests/test_docker.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_models.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_specs.py
Labels: a:director-v2, changelog:♻️refactor

#3888 🐛 Avoid project_networks_attach failing
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
Labels: a:director-v2, changelog:🐛bugfix

#3883 ♻️ making groups_extra_properties depend on product
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ff33dcf20b44_adding_column_product_name_to_groups_.py
  packages/postgres-database/src/simcore_postgres_database/models/direct_acyclic_graphs.py
  packages/postgres-database/src/simcore_postgres_database/models/groups_extra_properties.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/groups_extra_properties.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_observer.py
  services/director-v2/tests/unit/with_dbs/test_modules_db_repositories_groups_extra_properties.py
Labels: a:director-v2, changelog:♻️refactor

#3894 🐛 Removing a node from tracking will not silently exit any longer
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
Labels: a:director-v2, changelog:🐛bugfix

#3897 🎨 Frontend: many minors
  services/static-webserver/client/source/class/explorer/MainPage.js
  services/static-webserver/client/source/class/osparc/WindowSizeTracker.js
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/static-webserver/client/source/class/osparc/component/widget/PersistentIframe.js
  services/static-webserver/client/source/class/osparc/component/widget/logger/LoggerTable.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/product/AboutProduct.js
  services/static-webserver/client/source/class/osparc/product/tutorial/SlideBase.js
  services/static-webserver/client/source/class/osparc/product/tutorial/SlidesBase.js
  services/static-webserver/client/source/class/osparc/product/tutorial/Utils.js
  services/static-webserver/client/source/class/osparc/product/tutorial/s4llite/Dashboard.js
  services/static-webserver/client/source/class/osparc/product/tutorial/s4llite/S4LLiteSpecs.js
  services/static-webserver/client/source/class/osparc/product/tutorial/s4llite/S4LLiteUI.js
  services/static-webserver/client/source/class/osparc/product/tutorial/s4llite/Welcome.js
  services/static-webserver/client/source/class/osparc/product/tutorial/ti/Dashboard.js
  services/static-webserver/client/source/class/osparc/product/tutorial/ti/Welcome.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/ui/basic/PoweredByOsparc.js
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
Labels: a:frontend, changelog:🎨enhancement

#3882 ♻️ Adding typechecking using mypy to the dask-sidecar service
  .github/workflows/ci-testing-deploy.yml
  .pre-commit-config.yaml
  packages/settings-library/src/settings_library/utils_logging.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
Labels: a:sidecar, changelog:♻️refactor

#3901 🐛 group_id inside groups_extra_properties is no longer unique
  packages/postgres-database/src/simcore_postgres_database/migration/versions/07dad1f604a4_make_key_unique.py
  packages/postgres-database/src/simcore_postgres_database/models/groups_extra_properties.py
  services/director-v2/tests/unit/with_dbs/test_modules_db_repositories_groups_extra_properties.py
Labels: a:database, a:director-v2, changelog:🐛bugfix

#3876 ✨ Autoscaling: auto pre pull images in auto-scaled nodes (⚠️ devops)
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/dynamic_scaling.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/test_core_settings.py
  services/autoscaling/tests/unit/test_main.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/autoscaling/tests/unit/test_utils_dynamic_scaling.py
  services/docker-compose.local.yml
Labels: a:autoscaling

#3900 ✨ Frontend: Snap nodes to grid
  services/static-webserver/client/source/class/osparc/component/workbench/BaseNodeUI.js
  services/static-webserver/client/source/class/osparc/component/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonBase.js
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/ui/basic/Logo.js
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: a:frontend, changelog:✨new-feature

#3904 🐛 avoid rclone getting killed
  services/agent/src/simcore_service_agent/modules/volumes_cleanup/_s3.py
Labels: changelog:🐛bugfix, a:agent

#3902 ✨ Autoscaling: Use EC2 Instance Storage drive (⚠️ devops)
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/dynamic_scaling.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/test_dynamic_scaling_core.py
  services/autoscaling/tests/unit/test_utils_dynamic_scaling.py
Labels: a:autoscaling

#3913 🎨 Frontend: All products use the same grayscale palette
  services/static-webserver/client/compile.json
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/old/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/old/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/ThemeDark.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/ThemeLight.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/ThemeDark.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/ThemeLight.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/ThemeDark.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/ThemeLight.js
Labels: a:frontend, changelog:🎨enhancement

#3914 ✨Autoscaling: allow multiple autoscaling services
  services/autoscaling/src/simcore_service_autoscaling/dynamic_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/dynamic_scaling.py
  services/autoscaling/tests/unit/test_dynamic_scaling_core.py
  services/autoscaling/tests/unit/test_modules_ec2.py
Labels: a:autoscaling

#3915 📝 Frontend: The user will not get notified
  services/static-webserver/client/source/class/osparc/component/share/CollaboratorsService.js
  services/static-webserver/client/source/class/osparc/component/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/OrganizationMembersList.js
Labels: a:frontend, changelog:✨new-feature

#3917 ✨ Frontend: Tapping on tag activates filtering
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
Labels: a:frontend, changelog:✨new-feature

#3903 🐛 No longer ignore ProjectLockError everywhere
  services/web/server/src/simcore_service_webserver/garbage_collector_core.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_handlers_crud.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__delete.py
Labels: a:webserver, changelog:🐛bugfix

#3922 ✨ Frontend Dashboard: Convert tab labels into icons for small screens
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/ui/window/Dialog.js
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
Labels: a:frontend, changelog:🎨enhancement

#3923 ✨ Frontend: Navigate through login forms
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/SecurityPage.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/Appearance.js
  services/static-webserver/client/source/class/osparc/ui/form/PasswordField.js
Labels: a:frontend, changelog:🎨enhancement

#3916 ⬆️ Autoscaling: requirements update
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/autoscaling/requirements/_tools.txt
  services/autoscaling/requirements/constraints.txt
Labels: a:autoscaling

#3703 🔨 Is3635/service settings jsonschemas
  .github/workflows/ci-testing-deploy.yml
  .gitignore
  Makefile
  packages/settings-library/src/settings_library/base.py
  packages/settings-library/tests/test_base.py
  scripts/common-service.Makefile
Labels: t:maintenance

#3926 🐛 Fixes ``/scheduled_maintenance`` entrypoint
  services/web/server/src/simcore_service_webserver/login/decorators.py
  services/web/server/src/simcore_service_webserver/rest_handlers.py
  services/web/server/src/simcore_service_webserver/socketio/handlers_utils.py
  services/web/server/src/simcore_service_webserver/socketio/plugin.py
  services/web/server/tests/unit/isolated/test_rest.py
Labels: a:webserver

#3919 ✨Progress is now sent to the FE when closing a study
  .env-wb-garbage-collector
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/models-library/tests/test_rabbit_messages.py
  packages/service-library/src/servicelib/aiohttp/application_keys.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/computation.py
  services/web/server/src/simcore_service_webserver/computation_subscribe.py
  services/web/server/src/simcore_service_webserver/director_v2_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/rabbitmq.py
  services/web/server/src/simcore_service_webserver/rabbitmq_settings.py
  services/web/server/src/simcore_service_webserver/statics_events.py
  services/web/server/tests/integration/02/test_rabbit.py
  services/web/server/tests/unit/isolated/test_diagnostics_healthcheck.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
  services/web/server/tests/unit/with_dbs/03/test_invitations.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, changelog:✨new-feature

#3925 ✨ Frontend: Responsive Navigation Bar
  services/static-webserver/client/source/class/osparc/WindowSizeTracker.js
  services/static-webserver/client/source/class/osparc/component/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/desktop/CollapseWithUserMenu.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/utils/Services.js
Labels: a:frontend, changelog:🎨enhancement

#3856 ✨ Adds entrypoint to check invitation and get associated email
  api/specs/webserver/openapi-auth.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/openapi_auth.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/activity/plugin.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/invitations.py
  services/web/server/src/simcore_service_webserver/invitations_core.py
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/handlers_auth.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/routes.py
  services/web/server/src/simcore_service_webserver/storage_api.py
  services/web/server/tests/unit/with_dbs/03/invitations/conftest.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_invitations.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_login_registration_invitations.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
Labels: a:webserver, a:api, changelog:✨new-feature
