Repository ITISFoundation/osparc-simcore, pull requests merged in 2023-06, with the labels that each got.

#4267 ✨Saving volume stats inside the shared store volume
  packages/models-library/src/models_library/aiodocker_api.py
  packages/models-library/src/models_library/clusters.py
  packages/models-library/src/models_library/function_services_catalog/services/iter_sensitivity.py
  packages/models-library/src/models_library/services.py
  packages/models-library/src/models_library/sidecar_volumes.py
  packages/models-library/src/models_library/utils/database_models_factory.py
  packages/models-library/src/models_library/utils/fastapi_encoders.py
  packages/models-library/tests/test_basic_types.py
  packages/models-library/tests/test_emails.py
  packages/models-library/tests/test_errors.py
  packages/models-library/tests/test_service_settings_labels.py
  packages/models-library/tests/test_services.py
  packages/models-library/tests/test_services_io.py
  packages/models-library/tests/test_sidecar_volumes.py
  packages/models-library/tests/test_utils_database_models_factory.py
  packages/models-library/tests/test_utils_fastapi_encoders.py
  packages/models-library/tests/test_utils_string_substitution.py
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/dynamic-sidecar/Dockerfile
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_routing.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/volumes.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/shared_store.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_volumes.py
  services/dynamic-sidecar/tests/unit/test_models_shared_store.py
Labels: a:director-v2, a:dynamic-sidecar, changelog:✨new-feature

#4258 ♻️ Refactor exporter functionality Part1/2 (⚠️ devops)
  api/specs/webserver/openapi-projects.yaml
  api/specs/webserver/openapi.yaml
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/exporter/_formatter/__init__.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/_sds.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/_text_files.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/archive.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/__init__.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/code_description.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/core/__init__.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/core/styling_components.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/core/xlsx_base.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/dataset_description.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/directory_manifest.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/submission.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/utils.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/writer.py
  services/web/server/src/simcore_service_webserver/exporter/_handlers.py
  services/web/server/src/simcore_service_webserver/exporter/archiving.py
  services/web/server/src/simcore_service_webserver/exporter/async_hashing.py
  services/web/server/src/simcore_service_webserver/exporter/exceptions.py
  services/web/server/src/simcore_service_webserver/exporter/export_import.py
  services/web/server/src/simcore_service_webserver/exporter/file_downloader.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/__init__.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/base_formatter.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/base_models.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/formatter_v1.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/models.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/__init__.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/__init__.py
  services/web/server/src/simcore_service_webserver/exporter/formatters/sds/xlsx/templates/utils.py
  services/web/server/src/simcore_service_webserver/exporter/plugin.py
  services/web/server/src/simcore_service_webserver/exporter/request_handlers.py
  services/web/server/src/simcore_service_webserver/exporter/settings.py
  services/web/server/src/simcore_service_webserver/exporter/utils.py
  services/web/server/tests/data/exporter/v1#SHA256=a9dad6c3cb69f532f62578353edf280361929797cdc68906e3121208ec6bfa0e.osparc
  services/web/server/tests/data/exporter/v2#SHA256=a42b75b523da1f0e9c2ba0d08d7aa6d70b0ab3fb3e1263c3431976ae72ffc809.osparc
  services/web/server/tests/integration/01/test_exporter.py
  services/web/server/tests/integration/01/test_exporter_requests_handlers.py
  services/web/server/tests/unit/isolated/exporter/test_exporter_formatter_archive.py
  services/web/server/tests/unit/isolated/exporter/test_exporter_formatter_xlsx_templates.py
  services/web/server/tests/unit/isolated/test_exporter_archiving.py
Labels: a:webserver, changelog:♻️refactor

#3921 ✨ Vendor secrets and session oenvs (part 3) 🗃️
  .pre-commit-config.yaml
  README.md
  packages/models-library/requirements/_test.in
  packages/models-library/requirements/_test.txt
  packages/models-library/setup.cfg
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/utils/docker_compose.py
  packages/models-library/src/models_library/utils/specs_substitution.py
  packages/models-library/src/models_library/utils/string_substitution.py
  packages/models-library/tests/test_service_settings_labels.py
  packages/models-library/tests/test_services.py
  packages/models-library/tests/test_utils_docker_compose.py
  packages/models-library/tests/test_utils_specs_substitution.py
  packages/models-library/tests/test_utils_string_substitution.py
  packages/postgres-database/VERSION
  packages/postgres-database/setup.cfg
  packages/postgres-database/src/simcore_postgres_database/_protocols.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/b4e1886bff95_new_service_vendor_secrets.py
  packages/postgres-database/src/simcore_postgres_database/models/_common.py
  packages/postgres-database/src/simcore_postgres_database/models/groups_extra_properties.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_to_products.py
  packages/postgres-database/src/simcore_postgres_database/models/services_environments.py
  packages/postgres-database/src/simcore_postgres_database/models/services_specifications.py
  packages/postgres-database/src/simcore_postgres_database/models/tags.py
  packages/postgres-database/src/simcore_postgres_database/utils_products.py
  packages/postgres-database/src/simcore_postgres_database/utils_services_environments.py
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
  packages/postgres-database/tests/test_users.py
  packages/postgres-database/tests/test_utils_services.py
  packages/postgres-database/tests/test_utils_services_environments.py
  packages/postgres-database/tests/test_utils_users.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_compose_specs.py
  services/catalog/src/simcore_service_catalog/api/routes/services_resources.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/services_environments.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_egress_config.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/oenvs_substitutions.py
  services/director-v2/src/simcore_service_director_v2/utils/session_oenvs.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_specs.py
  services/director-v2/tests/unit/test_utils_session_oenvs.py
  services/director-v2/tests/unit/with_dbs/test_modules_db_repositories_services_environments.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
Labels: t:enhancement, a:database, t:maintenance, a:director-v2, a:models-library

#4302 🐛Db-Listener: fix env variables
  .env-wb-db-event-listener
Labels: changelog:🐛bugfix

#4298 ♻️ Removes permalink log-debug message
  services/web/server/src/simcore_service_webserver/projects/_permalink.py
Labels: a:webserver, changelog:🐛bugfix

#4304 ♻️ `webserver`: fixes mypy issues in `session` plugin
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/garbage_collector_utils.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/handlers_2fa.py
  services/web/server/src/simcore_service_webserver/login/handlers_auth.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/scicrunch/settings.py
  services/web/server/src/simcore_service_webserver/session/__init__.py
  services/web/server/src/simcore_service_webserver/session/access_policies.py
  services/web/server/src/simcore_service_webserver/session/plugin.py
  services/web/server/src/simcore_service_webserver/session/settings.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/integration/02/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/unit/isolated/test_activity.py
  services/web/server/tests/unit/with_dbs/01/test_groups.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_auth.py
  services/web/server/tests/unit/with_dbs/03/tags/conftest.py
  services/web/server/tests/unit/with_dbs/03/test_session.py
  services/web/server/tests/unit/with_dbs/03/test_session_access_policies.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Labels: a:webserver, t:maintenance

#4311 🐛 GC enabling `WEBSERVER_SOCKETIO` by default
  .env-wb-garbage-collector
Labels: High Priority, changelog:🐛bugfix

#4303 🎨 Frontend UI/UX: S4L logo, Sharee Permissions and Life Cycle view
  services/static-webserver/client/source/class/osparc/component/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/component/node/LifeCycleView.js
  services/static-webserver/client/source/class/osparc/component/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/component/share/ShareePermissions.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/utils/Services.js
  services/static-webserver/client/source/class/osparc/utils/Study.js
  services/static-webserver/client/source/resource/osparc/s4l-black.png
  services/static-webserver/client/source/resource/osparc/s4l-white.png
  services/static-webserver/client/source/resource/osparc/s4l_zmt-black.svg
  services/static-webserver/client/source/resource/osparc/s4l_zmt-white.svg
  tests/e2e/tutorials/tutorialBase.js
Labels: a:frontend, changelog:🎨enhancement

#4291 ♻️ Start the `dy-proxy` with the `dy-sidecar`
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
  packages/pytest-simcore/src/pytest_simcore/pytest_global_environs.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/src/simcore_service_director_v2/cli/_core.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/schemas/dynamic_services/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler_utils.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_core_events.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
  services/director-v2/tests/unit/with_dbs/test_cli.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: a:director-v2, changelog:♻️refactor

#4319 Maintenance/upgrade aio pika
  packages/service-library/requirements/_base.txt
  packages/simcore-sdk/requirements/_base.txt
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: changelog:♻️refactor

#4320 🔨 Maintenance/new python linting recipe
  .pylintrc
  Makefile
  ci/helpers/requirements.in
  ci/helpers/requirements.txt
  tests/performance/locust_files/director_services.py
  tests/performance/locust_files/platform_ping_test.py
  tests/performance/locust_files/user_basic_calls.py
  tests/performance/locust_files/webserver_services.py
  tests/swarm-deploy/conftest.py
Labels: t:maintenance

#4317 ♻️ `webserver`: fixes mypy issues in few webserver plugins
  services/web/server/src/simcore_service_webserver/db.py
  services/web/server/src/simcore_service_webserver/db_settings.py
  services/web/server/src/simcore_service_webserver/director/director_api.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_consumers.py
  services/web/server/src/simcore_service_webserver/notifications/project_logs.py
  services/web/server/src/simcore_service_webserver/redis.py
  services/web/server/src/simcore_service_webserver/scicrunch/_rest.py
  services/web/server/src/simcore_service_webserver/scicrunch/service_client.py
  services/web/server/src/simcore_service_webserver/socketio/server.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
Labels: t:maintenance

#4315 🎨🔒️ Remove deprecated services for the SPARC Portal
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_catalog.py
Labels: t:enhancement, a:webserver

#4306 ♻️ fixes mypy in `settings-library` package
  .github/workflows/ci-testing-deploy.yml
  packages/settings-library/src/settings_library/base.py
  packages/settings-library/src/settings_library/catalog.py
  packages/settings-library/src/settings_library/docker_registry.py
  packages/settings-library/src/settings_library/prometheus.py
  packages/settings-library/src/settings_library/rabbit.py
  packages/settings-library/src/settings_library/redis.py
  packages/settings-library/src/settings_library/storage.py
  packages/settings-library/src/settings_library/tracing.py
  packages/settings-library/src/settings_library/twilio.py
  packages/settings-library/src/settings_library/utils_service.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/web/server/src/simcore_service_webserver/statics/settings.py
Labels: t:maintenance

#4307 ♻️ fixes mypy in `integration-library` package
  .github/workflows/ci-testing-deploy.yml
  mypy.ini
  packages/service-integration/src/service_integration/_compose_spec_model_autogenerated.py
  packages/service-integration/src/service_integration/cli.py
  packages/service-integration/src/service_integration/commands/compose.py
  packages/service-integration/src/service_integration/commands/config.py
  packages/service-integration/src/service_integration/compose_spec_model.py
  packages/service-integration/src/service_integration/labels_annotations.py
  packages/service-integration/src/service_integration/oci_image_spec.py
  packages/service-integration/src/service_integration/osparc_config.py
  packages/service-integration/src/service_integration/pytest_plugin/docker_integration.py
  packages/service-integration/src/service_integration/pytest_plugin/validation_data.py
  packages/service-integration/src/service_integration/service/pytest_runner.py
  packages/service-integration/src/service_integration/versioning.py
Labels: t:maintenance, a:ooil

#4327 ♻️ `webserver`: fixes mypy issues in `resource-manager` plugin
  docs/coding-conventions.md
  services/web/server/src/simcore_service_webserver/activity/handlers.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/long_running_tasks.py
  services/web/server/src/simcore_service_webserver/rabbitmq_settings.py
  services/web/server/src/simcore_service_webserver/resource_manager/plugin.py
  services/web/server/src/simcore_service_webserver/resource_manager/registry.py
  services/web/server/src/simcore_service_webserver/resource_manager/websocket_manager.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects_permalinks.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_redirects_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
  services/web/server/src/simcore_service_webserver/utils_rate_limiting.py
Labels: a:webserver, t:maintenance

#4275 ♻️ Uniformize Dockerfiles
  packages/postgres-database/docker/Dockerfile
  packages/postgres-database/docker/Makefile
  packages/postgres-database/scripts/erd/Dockerfile
  packages/postgres-database/scripts/erd/Makefile
  packages/service-integration/Dockerfile
  requirements/tools/Dockerfile
  requirements/tools/Makefile
  scripts/act.bash
  scripts/erd.bash
  scripts/erd/Dockerfile
  scripts/json-schema-dereference.bash
  scripts/json-schema-diff.bash
  scripts/json-schema-faker.bash
  scripts/json-schema-to-openapi-schema/Makefile
  scripts/maintenance/migrate_project/Dockerfile
  scripts/maintenance/migrate_project/Makefile
  scripts/mypy.bash
  scripts/mypy/Dockerfile
  scripts/openapi/oas_resolver/Dockerfile
  scripts/pydeps-docker/Dockerfile
  scripts/pydeps.bash
  scripts/pyupgrade.bash
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/dask-sidecar/Dockerfile
  services/dask-sidecar/docker/boot.sh
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/docker-compose.yml
  services/dynamic-sidecar/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/osparc-gateway-server/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/static-webserver/client/Makefile
  services/storage/Dockerfile
  services/web/Dockerfile
  tests/e2e/docker/Makefile
  tests/performance/Makefile
Labels: a:storage, a:director, a:webserver, a:sidecar, a:catalog, a:director-v2, a:apiserver, a:dynamic-sidecar, a:dask-service, a:autoscaling, a:agent, a:invitations, a:resource-usage-tracker

#4326 ⬆️🔒️ Maintenance: starlette-stack updates due to vulnerabilities
  packages/service-library/src/servicelib/fastapi/dependencies.py
  requirements/constraints.txt
  requirements/tools/Makefile
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.in
  services/agent/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/api-server/src/simcore_service_api_server/api/dependencies/application.py
  services/api-server/tests/unit/test__fastapi.py
  services/api-server/tests/unit/test_models_schemas_files.py
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/dependencies/application.py
  services/director-v2/requirements/constraints.txt
  services/director-v2/src/simcore_service_director_v2/api/dependencies/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/invitations/src/simcore_service_invitations/api/_dependencies.py
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/_dependencies.py
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
Labels: dependencies, t:maintenance

#4334 ♻️ `webserver`: fixes mypy issues in `rest` plugin
  packages/models-library/src/models_library/utils/change_case.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/diagnostics/_healthcheck.py
  services/web/server/src/simcore_service_webserver/diagnostics/plugin.py
  services/web/server/src/simcore_service_webserver/director_v2/plugin.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/projects/_crud_read_utils.py
  services/web/server/src/simcore_service_webserver/projects/_rest_schemas.py
  services/web/server/src/simcore_service_webserver/rabbitmq.py
  services/web/server/src/simcore_service_webserver/rest/__init__.py
  services/web/server/src/simcore_service_webserver/rest/_handlers.py
  services/web/server/src/simcore_service_webserver/rest/_utils.py
  services/web/server/src/simcore_service_webserver/rest/healthcheck.py
  services/web/server/src/simcore_service_webserver/rest/plugin.py
  services/web/server/src/simcore_service_webserver/rest/schemas_base.py
  services/web/server/src/simcore_service_webserver/rest/settings.py
  services/web/server/src/simcore_service_webserver/rest_models.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/01/test_project_workflow.py
  services/web/server/tests/integration/02/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/isolated/test_activity.py
  services/web/server/tests/unit/isolated/test_catalog_setup.py
  services/web/server/tests/unit/isolated/test_diagnostics.py
  services/web/server/tests/unit/isolated/test_diagnostics_healthcheck.py
  services/web/server/tests/unit/isolated/test_rest.py
  services/web/server/tests/unit/with_dbs/01/test_groups.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/03/tags/conftest.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Labels: a:webserver, t:maintenance

#4335 ✨Personalized resource limits: add DB table for max resources per user 🗃️
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e0a2557dec27_add_services_limitations.py
  packages/postgres-database/src/simcore_postgres_database/models/_common.py
  packages/postgres-database/src/simcore_postgres_database/models/cluster_to_groups.py
  packages/postgres-database/src/simcore_postgres_database/models/clusters.py
  packages/postgres-database/src/simcore_postgres_database/models/services_limitations.py
  packages/postgres-database/src/simcore_postgres_database/utils_services_limitations.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_clusters.py
  packages/postgres-database/tests/test_utils_services_limitations.py
Labels: a:database

#4339 ♻️ `webserver`: fixes mypy issues in `exporter` plugin
  services/web/server/src/simcore_service_webserver/exporter/_formatter/_sds.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/code_description.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/core/xlsx_base.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/dataset_description.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/directory_manifest.py
  services/web/server/src/simcore_service_webserver/exporter/_handlers.py
Labels: a:webserver, t:maintenance

#4328 ♻️ `webserver`: fixes mypy issues in `projects` plugin (2/2)
  services/web/server/src/simcore_service_webserver/projects/_crud_create_utils.py
  services/web/server/src/simcore_service_webserver/projects/_db_utils.py
  services/web/server/src/simcore_service_webserver/projects/_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/_handlers_project_nodes.py
  services/web/server/src/simcore_service_webserver/projects/_handlers_project_ports.py
  services/web/server/src/simcore_service_webserver/projects/_permalink.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/lock.py
  services/web/server/src/simcore_service_webserver/projects/utils.py
Labels: t:maintenance

#4347 ✨ Use RUN mounts in dockerfiles + should make build more reliable
  Makefile
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/osparc-gateway-server/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/static-webserver/client/tools/qooxdoo-kit/builder/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Labels: a:infra+ops

#4343 Use forked openapi generator repo
  scripts/openapi-generator.bash
  services/api-server/Makefile
  services/api-server/openapi/python_templates/api_client.mustache
  services/api-server/openapi/python_templates/configuration.mustache
Labels: a:api

#4297 📝 improving release doc [skip ci]
  .github/ISSUE_TEMPLATE/4_pre_release.yml
  .github/ISSUE_TEMPLATE/5_release.yml
Labels: t:maintenance

#4338 🐛 Enabling make setting-schema.json for agent
  Makefile
  packages/settings-library/requirements/_base.in
  packages/settings-library/requirements/_base.txt
  packages/settings-library/src/settings_library/utils_cli.py
  packages/settings-library/tests/test_utils_cli.py
  services/agent/src/simcore_service_agent/cli.py
  services/agent/tests/unit/test_cli.py
Labels: t:maintenance, changelog:🐛bugfix

#4368 ⬆️ Bump Postgres minor version
  packages/postgres-database/tests/docker-compose.yml
  packages/service-library/tests/aiohttp/with_postgres/docker-compose.yml
  scripts/maintenance/consistency/docker-compose.yml
  services/director/tests/test_producer.py
  services/docker-compose.yml
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
  services/web/server/tests/unit/with_dbs/docker-compose.yml
Labels: t:enhancement, a:database, dependencies

#4360 ✨ Frontend: Study home page
  services/static-webserver/client/source/class/osparc/auth/core/Utils.js
  services/static-webserver/client/source/class/osparc/component/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/component/share/ShareePermissions.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/TemplatesList.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/utils.js
Labels: a:frontend, changelog:✨new-feature

#4366 Update client generation
  scripts/openapi-generator.bash
  services/api-server/Makefile
Labels: a:api

#4336 ✨ API: new `DELETE /solvers/*/versions/*/jobs/*`
  services/api-server/.gitignore
  services/api-server/openapi-dev.json
  services/api-server/src/simcore_service_api_server/api/errors/http_error.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/plugins/webserver.py
  services/api-server/src/simcore_service_api_server/utils/app_data.py
  services/api-server/src/simcore_service_api_server/utils/client_base.py
  services/api-server/src/simcore_service_api_server/utils/http_calls_capture.py
  services/api-server/tests/mocks/delete_project_not_found.json
  services/api-server/tests/mocks/on_create_job.json
  services/api-server/tests/unit/api_solvers/conftest.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_delete.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_utils_http_calls_capture.py
Labels: a:api, a:apiserver

#4324 ✨ Feature: Sticky notes
  api/specs/webserver/openapi-user.yaml
  packages/models-library/src/models_library/projects_ui.py
  services/static-webserver/client/source/class/osparc/auth/Data.js
  services/static-webserver/client/source/class/osparc/component/editor/AnnotationEditor.js
  services/static-webserver/client/source/class/osparc/component/editor/AnnotationNoteCreator.js
  services/static-webserver/client/source/class/osparc/component/filter/CollaboratorToggleButton.js
  services/static-webserver/client/source/class/osparc/component/notification/Notification.js
  services/static-webserver/client/source/class/osparc/component/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/component/notification/Notifications.js
  services/static-webserver/client/source/class/osparc/component/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/component/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/component/workbench/Annotation.js
  services/static-webserver/client/source/class/osparc/component/workbench/SvgWidget.js
  services/static-webserver/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/MainPageHandler.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/wrapper/Svg.js
  services/static-webserver/client/source/resource/svg/svg.foreignobject.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/users/_notifications.py
Labels: a:frontend, changelog:✨new-feature, a:redis

#4362 ✨Personalized resource limits: add project nodes table to store nodes resources 🗃️
  packages/postgres-database/src/simcore_postgres_database/_protocols.py
  packages/postgres-database/src/simcore_postgres_database/errors.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c8f072c72adc_add_projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e0a2557dec27_add_services_limitations.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_to_projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/utils_aiopg_orm.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/products/conftest.py
  packages/postgres-database/tests/products/test_models_products.py
  packages/postgres-database/tests/products/test_utils_products.py
  packages/postgres-database/tests/test_services_consume_filetypes.py
  packages/postgres-database/tests/test_users.py
  packages/postgres-database/tests/test_utils_migration.py
  packages/postgres-database/tests/test_utils_projects_nodes.py
  packages/postgres-database/tests/test_utils_services.py
Labels: a:database

#4384 ✨Personalized resources: remove projects to projects nodes table 🗃️
  packages/postgres-database/src/simcore_postgres_database/migration/versions/71ea254837b0_remove_projects_to_projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_to_projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
  packages/postgres-database/tests/products/test_models_products.py
  packages/postgres-database/tests/test_utils_projects_nodes.py
Labels: a:services-library

#4388 🐛 take osparc package from pypi
  tests/public-api/requirements/ci.txt
Labels: bug, a:api

#4379 ✨ Node previews for project homepage
  api/specs/webserver/openapi-auth.yaml
  api/specs/webserver/openapi-nih-sparc.yaml
  api/specs/webserver/openapi-projects-crud.yaml
  api/specs/webserver/openapi-projects-nodes.yaml
  api/specs/webserver/openapi-projects-ports.yaml
  api/specs/webserver/openapi-projects-pydantic.yaml
  api/specs/webserver/openapi-tags.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/openapi_projects_crud.py
  api/specs/webserver/scripts/openapi_projects_nodes.py
  services/storage/src/simcore_service_storage/handlers_files.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/_constants.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_handlers_project_nodes.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_previews.py
  services/web/server/src/simcore_service_webserver/storage/api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers__open_close.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Labels: a:webserver

#4378 ✨ Frontend: Preview page: WorkbenchPreview + Thumbnails
  services/static-webserver/client/source/class/osparc/component/editor/ThumbnailEditor.js
  services/static-webserver/client/source/class/osparc/component/editor/ThumbnailSuggestions.js
  services/static-webserver/client/source/class/osparc/component/widget/NodeTreeItem.js
  services/static-webserver/client/source/class/osparc/component/widget/NodesTree.js
  services/static-webserver/client/source/class/osparc/component/workbench/WorkbenchUIPreview.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyThumbnailExplorer.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/file/FilesTree.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/resource/osparc/workbenchUI-dark.png
  services/static-webserver/client/source/resource/osparc/workbenchUI-light.png
Labels: a:frontend, changelog:✨new-feature

#4383 ✨ 🗃️ adding projects_comments DB table and API endpoints
  api/specs/webserver/openapi-projects-comments.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/openapi_projects_comments.py
  packages/models-library/src/models_library/projects_comments.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/af5de00bf4cf_new_projects_comments_table.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_comments.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_api_project_comments.py
  services/web/server/src/simcore_service_webserver/projects/_handlers_project_comments.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/tests/unit/with_dbs/02/test_projects_comments_handlers.py
Labels: a:webserver

#4386 ✨ Frontend: Study comments
  services/static-webserver/client/source/class/osparc/component/editor/TextEditor.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/info/CardLarge.js
  services/static-webserver/client/source/class/osparc/info/CommentAdd.js
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
  services/static-webserver/client/source/class/osparc/info/CommentsList.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:✨new-feature

#4393 ♻️ refactor of project comments
  api/specs/webserver/scripts/openapi_projects_comments.py
  services/web/server/src/simcore_service_webserver/projects/_comments_api.py
  services/web/server/src/simcore_service_webserver/projects/_comments_db.py
  services/web/server/src/simcore_service_webserver/projects/_comments_handlers.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
Labels: a:webserver

#4395 🗃️ adding minor projects comments table changes + forgotten migration
  packages/postgres-database/src/simcore_postgres_database/migration/versions/52cf00912ad9_project_comments_minor_improvements.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_comments.py
Labels: a:webserver

#4389 ♻️ Refactors projects plugin sub-modules as controller-service-repository
  .github/ISSUE_TEMPLATE/4_pre_release.yml
  .github/ISSUE_TEMPLATE/5_release.yml
  api/specs/webserver/openapi-node-v0.0.1.yaml
  api/specs/webserver/openapi-projects-comments.yaml
  api/specs/webserver/openapi-projects-nodes.yaml
  api/specs/webserver/openapi-projects-ports.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/openapi_projects_nodes.py
  api/specs/webserver/scripts/openapi_projects_ports.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_crud_create_utils.py
  services/web/server/src/simcore_service_webserver/projects/_crud_read_utils.py
  services/web/server/src/simcore_service_webserver/projects/_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/_handlers_nodes.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_api.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_utils.py
  services/web/server/src/simcore_service_webserver/projects/_permalink_api.py
  services/web/server/src/simcore_service_webserver/projects/_ports_api.py
  services/web/server/src/simcore_service_webserver/projects/_ports_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_rest_schemas.py
  services/web/server/src/simcore_service_webserver/projects/_tags_handlers.py
  services/web/server/src/simcore_service_webserver/projects/api.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects__ports_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_handlers_crud.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__services_access.py
  services/web/server/tests/unit/with_dbs/02/test_projects_ports_handlers.py
Labels: t:maintenance

#4396 🎨 Redesign: Study information page
  services/static-webserver/client/source/class/osparc/component/snapshots/IterationsView.js
  services/static-webserver/client/source/class/osparc/component/snapshots/SnapshotsView.js
  services/static-webserver/client/source/class/osparc/component/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyThumbnailExplorer.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyMedium.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
Labels: a:frontend, changelog:🎨enhancement

#4380 ✨ (⚠️ devops) 🗃️ Is922 resource tracking/1. version of regular scraping
  packages/postgres-database/src/simcore_postgres_database/migration/versions/6e91067932f2_adding_resource_tracker_container_table.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker.py
  packages/service-library/src/servicelib/db_async_engine.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/db/events.py
  services/docker-compose.devel.yml
  services/docker-compose.yml
  services/resource-usage-tracker/.env-devel
  services/resource-usage-tracker/requirements/_base.in
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.in
  services/resource-usage-tracker/requirements/_test.txt
  services/resource-usage-tracker/requirements/_tools.txt
  services/resource-usage-tracker/requirements/ci.txt
  services/resource-usage-tracker/requirements/dev.txt
  services/resource-usage-tracker/requirements/prod.txt
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/cli.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/application.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/settings.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/__init__.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/resource_tracker_container.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/db/__init__.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/db/repositories/__init__.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/db/repositories/_base.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/db/repositories/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/resource_tracker_cli_placeholder.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/resource_tracker_core.py
  services/resource-usage-tracker/tests/__init__.py
  services/resource-usage-tracker/tests/integration/test_none.py
  services/resource-usage-tracker/tests/unit/api/test__oas_spec.py
  services/resource-usage-tracker/tests/unit/api/test_api_meta.py
  services/resource-usage-tracker/tests/unit/conftest.py
  services/resource-usage-tracker/tests/unit/modules/test_prometheus.py
  services/resource-usage-tracker/tests/unit/test_cli.py
  services/resource-usage-tracker/tests/unit/test_resource_tracker.py
  services/resource-usage-tracker/tests/unit/test_resource_tracker_core.py
  services/resource-usage-tracker/tests/unit/with_dbs/conftest.py
  services/resource-usage-tracker/tests/unit/with_dbs/data/list_of_prometheus_mocked_outputs.json
  services/resource-usage-tracker/tests/unit/with_dbs/test_collect_container_resource_usage_task.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_collect_container_resource_usage_task__on_update_set.py
Labels: a:resource-usage-tracker

#4404 ✨ Frontend: Student competition announcement
  services/static-webserver/client/source/class/osparc/AnnouncementTracker.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
Labels: a:frontend, changelog:✨new-feature

#4410 🐛Autoscaling: fix listing of nodes with common prefix
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/autoscaling/tests/unit/test_utils_dynamic_scaling.py
Labels: changelog:🐛bugfix

#4411 ⬆️ Upgrade api-server requirements and includes pagination library
  .github/ISSUE_TEMPLATE/6_hotfix.yml
  requirements/base.Makefile
  services/api-server/requirements/_base.in
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
Labels: dependencies, t:maintenance

#4414 🐛 Bugfix: FP extractLabelFromLink + Announcement Validator
  services/static-webserver/client/source/class/osparc/AnnouncementTracker.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
Labels: a:frontend, changelog:🐛bugfix

#4418 🐛 increase time before killing migration app
  services/migration/Dockerfile
Labels: changelog:♻️refactor

#4416 🐛 🗃️ fix resource tracking not starting + adding project uuid to tracking table
  packages/postgres-database/src/simcore_postgres_database/migration/versions/417f9eb848ce_adding_study_id_to_resource_tracking_.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/resource_tracker_container.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/db/repositories/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/resource_tracker_core.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_collect_container_resource_usage_task.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_collect_container_resource_usage_task__on_update_set.py
Labels: a:resource-usage-tracker

#4415 ✨Frontend: Personalized resource limits
  services/static-webserver/client/source/class/osparc/component/node/BootOptionsView.js
  services/static-webserver/client/source/class/osparc/component/node/LifeCycleView.js
  services/static-webserver/client/source/class/osparc/component/node/ServiceOptionsView.js
  services/static-webserver/client/source/class/osparc/component/node/UpdateResourceLimitsView.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, changelog:✨new-feature

#4420 ✨ Is994/resource tracking service auto populate missing data
  services/docker-compose.yml
  services/resource-usage-tracker/requirements/_test.in
  services/resource-usage-tracker/requirements/_test.txt
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/application.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/settings.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/db/repositories/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/redis.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/resource_tracker_core.py
  services/resource-usage-tracker/tests/unit/api/test__oas_spec.py
  services/resource-usage-tracker/tests/unit/api/test_api_meta.py
  services/resource-usage-tracker/tests/unit/conftest.py
  services/resource-usage-tracker/tests/unit/modules/test_prometheus.py
  services/resource-usage-tracker/tests/unit/modules/test_redis.py
  services/resource-usage-tracker/tests/unit/test_resource_tracker.py
  services/resource-usage-tracker/tests/unit/test_resource_tracker_cli_placeholder.py
  services/resource-usage-tracker/tests/unit/test_resource_tracker_core.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_collect_container_resource_usage_task.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_collect_container_resource_usage_task__on_update_set.py
Labels: a:resource-usage-tracker

#4424 ♻️Maintenance: webserver openapi users now auto-generated
  api/specs/webserver/openapi-user.yaml
  api/specs/webserver/openapi-users.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/_common.py
  api/specs/webserver/scripts/openapi_users.py
  services/docker-compose.local.yml
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/security/_access_roles.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/users/_notifications.py
  services/web/server/src/simcore_service_webserver/users/_tokens.py
  services/web/server/src/simcore_service_webserver/users/plugin.py
  services/web/server/src/simcore_service_webserver/users/schemas.py
  services/web/server/tests/unit/isolated/test_user_notifications.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Labels: changelog:♻️refactor

#4426 🐛 Fix webserver storage OpenAPI schema
  api/specs/webserver/openapi-storage.yaml
  api/specs/webserver/scripts/openapi_storage.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/storage/_handlers.py
  services/web/server/src/simcore_service_webserver/storage/_routes.py
  services/web/server/tests/unit/with_dbs/03/test_storage_handlers.py
Labels: a:webserver, t:maintenance, changelog:🐛bugfix

#4425 ♻️ Moves webserver's projects api models to models_library
  api/specs/webserver/scripts/openapi_projects_crud.py
  packages/models-library/src/models_library/api_schemas_long_running_tasks/__init__.py
  packages/models-library/src/models_library/api_schemas_long_running_tasks/base.py
  packages/models-library/src/models_library/api_schemas_long_running_tasks/tasks.py
  packages/models-library/src/models_library/api_schemas_webserver/__init__.py
  packages/models-library/src/models_library/api_schemas_webserver/_base.py
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_permalink.py
  packages/models-library/tests/test_api_schemas_webserver_projects.py
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/ci.txt
  packages/service-library/requirements/ci[aiohttp].txt
  packages/service-library/requirements/ci[all].txt
  packages/service-library/requirements/ci[fastapi].txt
  packages/service-library/requirements/dev.txt
  packages/service-library/requirements/dev[aiohttp].txt
  packages/service-library/requirements/dev[all].txt
  packages/service-library/requirements/dev[fastapi].txt
  packages/service-library/src/servicelib/long_running_tasks/_models.py
  services/web/server/src/simcore_service_webserver/projects/_crud_create_utils.py
  services/web/server/src/simcore_service_webserver/projects/_crud_read_utils.py
  services/web/server/src/simcore_service_webserver/projects/_handlers_crud.py
  services/web/server/src/simcore_service_webserver/projects/_permalink_api.py
Labels: a:webserver, a:models-library

#4417 ✨Personalized resource limits: only allow specific groups to override resources
  api/specs/webserver/openapi-users.yaml
  api/specs/webserver/openapi.yaml
  api/specs/webserver/scripts/openapi_users.py
  packages/models-library/src/models_library/clusters.py
  packages/models-library/src/models_library/services_resources.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/38fe651b4196_add_override_services_specifications.py
  packages/postgres-database/src/simcore_postgres_database/models/groups_extra_properties.py
  packages/postgres-database/src/simcore_postgres_database/utils_groups_extra_properties.py
  packages/postgres-database/src/simcore_postgres_database/utils_models.py
  packages/postgres-database/tests/docker-compose.yml
  packages/postgres-database/tests/test_utils_groups_extra_properties.py
  scripts/maintenance/consistency/docker-compose.yml
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/docker-compose-ops.yml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_utils.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/security/_access_roles.py
  services/web/server/src/simcore_service_webserver/statics/settings.py
  services/web/server/src/simcore_service_webserver/users/_db.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/users/schemas.py
  services/web/server/tests/unit/isolated/test_projects__nodes_resources.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
  services/web/server/tests/unit/with_dbs/conftest.py
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
Labels: a:webserver, a:database

#4432 ✨Maintenance: add Ruff
  .ruff.toml
  .vscode/extensions.json
  .vscode/settings.template.json
  Makefile
  requirements/devenv.txt
Labels: a:infra+ops

#4428 ♻️Personalized resource limits: remove services limitations table 🗃️
  packages/postgres-database/src/simcore_postgres_database/migration/versions/52b5c2466605_remove_services_limitations.py
  packages/postgres-database/src/simcore_postgres_database/models/services_limitations.py
  packages/postgres-database/src/simcore_postgres_database/utils_services_limitations.py
  packages/postgres-database/tests/test_utils_services_limitations.py
Labels: changelog:🔥removal

#4372 🚚 fix name of client repo
  README.md
  services/api-server/Makefile
  services/api-server/README.md
  services/api-server/src/simcore_service_api_server/core/redoc.py
  tests/public-api/examples/Makefile
Labels: a:api, a:doc

#4407 ✨ API jobs pagination (1st round)
  .github/ISSUE_TEMPLATE/6_hotfix.yml
  .github/workflows/ci-testing-deploy.yml
  api/specs/webserver/scripts/openapi_projects_crud.py
  ci/github/unit-testing/api-server.bash
  packages/models-library/src/models_library/rest_pagination.py
  scripts/openapi-diff.bash
  services/api-server/.gitignore
  services/api-server/Makefile
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/dependencies/webserver.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/health.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/src/simcore_service_api_server/api/routes/users.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/models/domain/projects.py
  services/api-server/src/simcore_service_api_server/models/pagination.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/models/types.py
  services/api-server/src/simcore_service_api_server/services/__init__.py
  services/api-server/src/simcore_service_api_server/services/catalog.py
  services/api-server/src/simcore_service_api_server/services/director_v2.py
  services/api-server/src/simcore_service_api_server/services/remote_debug.py
  services/api-server/src/simcore_service_api_server/services/storage.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/src/simcore_service_api_server/utils/solver_job_models_converters.py
  services/api-server/tests/mocks/on_list_jobs.json
  services/api-server/tests/unit/api_solvers/conftest.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_read.py
  services/api-server/tests/unit/test_models_schemas_files.py
  services/api-server/tests/unit/test_utils_solver_job_models_converters.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_rest_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_comments_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_handlers_crud.py
Labels: a:api, a:apiserver

#4443 ♻️ Renames `osparc environments` as `osparc variables and secrets`
  packages/models-library/src/models_library/utils/specs_substitution.py
  packages/models-library/src/models_library/utils/string_substitution.py
  packages/models-library/tests/test_service_settings_labels.py
  packages/models-library/tests/test_utils_specs_substitution.py
  packages/models-library/tests/test_utils_string_substitution.py
  packages/postgres-database/src/simcore_postgres_database/models/services_environments.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables_substitutions.py
  services/director-v2/src/simcore_service_director_v2/utils/osparc_variables.py
  services/director-v2/tests/unit/test_utils_osparc_variables.py
Labels: a:webserver, t:maintenance
