Repository ITISFoundation/osparc-simcore, pull requests merged in 2024-08, with the labels that each got.

#6124 ✨ add product_name to folders table
  packages/postgres-database/src/simcore_postgres_database/migration/versions/617e0ecaf602_added_product_name_to_folders.py
  packages/postgres-database/src/simcore_postgres_database/models/folders.py
  packages/postgres-database/src/simcore_postgres_database/utils_folders.py
  packages/postgres-database/tests/test_utils_folders.py
Labels: a:database

#6129 ♻️ Maintenance: Mypy `efs guardian` & `payments`
  .github/workflows/ci-testing-deploy.yml
  services/efs-guardian/setup.cfg
  services/efs-guardian/src/simcore_service_efs_guardian/core/settings.py
  services/payments/requirements/_base.txt
  services/payments/requirements/_test.in
  services/payments/requirements/_test.txt
  services/payments/requirements/_tools.txt
  services/payments/setup.cfg
  services/payments/src/simcore_service_payments/api/rest/_dependencies.py
  services/payments/src/simcore_service_payments/api/rest/_meta.py
  services/payments/src/simcore_service_payments/core/settings.py
  services/payments/src/simcore_service_payments/models/schemas/acknowledgements.py
  services/payments/src/simcore_service_payments/models/schemas/errors.py
  services/payments/src/simcore_service_payments/services/auth.py
  services/payments/src/simcore_service_payments/services/notifier_email.py
  services/payments/src/simcore_service_payments/services/notifier_ws.py
  services/payments/src/simcore_service_payments/services/payments.py
  services/payments/src/simcore_service_payments/services/payments_methods.py
  services/payments/src/simcore_service_payments/services/postgres.py
  services/payments/src/simcore_service_payments/services/socketio.py
Labels: t:maintenance

#6128 ♻️Maintenance: mypy webserver part 1
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/announcements/_models.py
  services/web/server/src/simcore_service_webserver/announcements/_redis.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_base.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_computations.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/director_v2/_handlers.py
  services/web/server/src/simcore_service_webserver/director_v2/_models.py
  services/web/server/src/simcore_service_webserver/director_v2/settings.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/template_json.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/code_description.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/core/styling_components.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/core/xlsx_base.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/dataset_description.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/utils.py
  services/web/server/src/simcore_service_webserver/notifications/project_logs.py
  services/web/server/src/simcore_service_webserver/rest/_utils.py
  services/web/server/src/simcore_service_webserver/rest/plugin.py
  services/web/server/src/simcore_service_webserver/scicrunch/models.py
  services/web/server/src/simcore_service_webserver/scicrunch/service_client.py
  services/web/server/src/simcore_service_webserver/security/_authz_policy.py
  services/web/server/src/simcore_service_webserver/security/_identity_api.py
  services/web/server/src/simcore_service_webserver/security/_identity_policy.py
  services/web/server/src/simcore_service_webserver/security/api.py
  services/web/server/src/simcore_service_webserver/security/plugin.py
  services/web/server/src/simcore_service_webserver/socketio/_handlers.py
  services/web/server/src/simcore_service_webserver/socketio/_observer.py
  services/web/server/src/simcore_service_webserver/socketio/_utils.py
  services/web/server/src/simcore_service_webserver/socketio/messages.py
  services/web/server/src/simcore_service_webserver/socketio/server.py
Labels: a:webserver, t:maintenance

#6125 ♻️Maintenance: mypy director v2
  .github/workflows/ci-testing-deploy.yml
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/__init__.py
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/setup.cfg
  services/director-v2/src/simcore_service_director_v2/api/dependencies/__init__.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/database.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/api/errors/http_error.py
  services/director-v2/src/simcore_service_director_v2/api/routes/clusters.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_scheduler.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/cli/_close_and_save_service.py
  services/director-v2/src/simcore_service_director_v2/cli/_core.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/egress_proxy.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/models/comp_pipelines.py
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/services_environments.py
  services/director-v2/src/simcore_service_director_v2/modules/db/tables.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/_namespace.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_egress_config.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/src/simcore_service_director_v2/modules/notifier.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/substitutions.py
  services/director-v2/src/simcore_service_director_v2/modules/projects_networks.py
  services/director-v2/src/simcore_service_director_v2/modules/resource_usage_tracker_client.py
  services/director-v2/src/simcore_service_director_v2/modules/socketio.py
  services/director-v2/src/simcore_service_director_v2/utils/base_distributed_identifier.py
  services/director-v2/src/simcore_service_director_v2/utils/comp_scheduler.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/src/simcore_service_director_v2/utils/dict_utils.py
  services/director-v2/src/simcore_service_director_v2/utils/osparc_variables.py
  services/director-v2/src/simcore_service_director_v2/utils/routes.py
Labels: a:director-v2, a:simcore-sdk

#6140 ♻️Maintenance: mypy postgres database package
  .github/workflows/ci-testing-deploy.yml
  packages/postgres-database/requirements/_test.in
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/setup.cfg
  packages/postgres-database/src/simcore_postgres_database/cli.py
  packages/postgres-database/src/simcore_postgres_database/migration/env.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/009c81406676_add_project_running_state.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/10b293fdcd56_alters_product_login_settings.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/a8f0bacbbaef_product_issue_cols_nullable.py
  packages/postgres-database/src/simcore_postgres_database/models/base.py
  packages/postgres-database/src/simcore_postgres_database/utils_aiopg_orm.py
  packages/postgres-database/src/simcore_postgres_database/utils_payments.py
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
Labels: a:database

#6139 🐛 De-synchronizing the file pickers
  services/static-webserver/client/source/class/osparc/data/model/Node.js
Labels: bug, a:frontend

#6137 ✨Autoscaling: instrumentation improvements
  packages/aws-library/src/aws_library/ec2/client.py
  packages/aws-library/tests/test_ec2_client.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/buffer_machines_pool_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters.py
Labels: a:autoscaling

#6147 🐛 [Frontend] Fix ``guest``'s viewer
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
Labels: bug, a:frontend

#6149 🐛 Fixes broken anonymous user opening templates
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects_networks.py
  services/director-v2/src/simcore_service_director_v2/modules/projects_networks.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
Labels: bug, a:webserver, t:maintenance, a:director-v2

#6150 🎨 [Frontend] Show Integration version to owners
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/share/ShareePermissions.js
  services/static-webserver/client/source/class/osparc/widget/NodeOutputs.js
Labels: t:enhancement, bug, a:frontend

#6152 🎨 Maintenance: sets a timeout to [build] docker images stage
  .github/workflows/ci-testing-deploy.yml
Labels: t:maintenance

#6154 ✨Maintenance: adds CI workflow to cleanup caches when a branch is merged
  .github/workflows/cleanup-caches-by-branches.yml
Labels: a:infra+ops, t:maintenance

#6146 ✨ [Frontend] Credits per service summary
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorButton.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsNavBarContainer.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsPerService.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsServiceListItem.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsSummary.js
  services/static-webserver/client/source/resource/osparc/tours/tis_tours.json
Labels: t:enhancement, a:frontend

#6158 🐛 [Frontend] Service catalog, don't list deprecated
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
Labels: bug, a:frontend

#6160 🎨 [Frontend] No usage found in time range
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsPerService.js
Labels: a:frontend

#6161 🐛 [Frontend] Fix always visible Update available icon
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsSummary.js
  services/static-webserver/client/source/class/osparc/node/LifeCycleView.js
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Labels: bug, a:frontend

#6162 🐛 [Frontend] Annotations fix: Convert named colors to HEX
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/workbench/Annotation.js
Labels: bug, a:frontend

#6163 ⬆️Maintenance: upgrade static-webserver to latest 2.32.1-alpine
  services/static-webserver/client/tools/qooxdoo-kit/builder/Dockerfile
Labels: a:static-webserver

#6131 🐛 Fix missing redis-commaner password support
  services/docker-compose-ops.yml
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
Labels: bug, a:redis

#6167 e2e: Sim4Life uses plus button
  tests/e2e-playwright/Makefile
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/sim4life/conftest.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
Labels: e2e

#6169 ⚗️ env-vars to control cachetools
  services/web/server/src/simcore_service_webserver/catalog/_api_units.py
  services/web/server/src/simcore_service_webserver/catalog/_models.py
Labels: a:webserver, a:catalog

#6172 🐛Maintenance: fixes warning in pytest
  packages/pytest-simcore/src/pytest_simcore/__init__.py
  packages/pytest-simcore/src/pytest_simcore/helpers/__init__.py
Labels: t:maintenance

#6174 e2e: Fix old puppeteer guests
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
Labels: e2e

#6171 ⬆️ Upgrade traefik to major version 3
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director/src/simcore_service_director/producer.py
  services/docker-compose.local.yml
  services/docker-compose.yml
Labels: t:enhancement

#6177 🐛 [Frontend] Fix: Guest Node viewer
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
Labels: bug

#6153 ✨ Adds folders_get to folders db layer
  packages/postgres-database/src/simcore_postgres_database/utils_folders.py
  packages/postgres-database/tests/test_utils_folders.py
Labels: a:database

#6181 Traefik v3 Rule Syntax Errors
  services/docker-compose.yml
Labels: bug, High Priority

#6179 🐛 [Frontend] Fix: Credits summary time range
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsPerService.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsSummary.js
Labels: bug, a:frontend

#6182 🐛⚗️ Fix: Traefik v3 rule syntax (part 2)
  services/docker-compose.local.yml
  services/docker-compose.yml
Labels: bug, a:webserver, a:api, a:static-webserver

#6176 🐛 fixes cache issue in web-server services i/o model
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/catalog/_api.py
  services/web/server/src/simcore_service_webserver/catalog/_api_units.py
  services/web/server/src/simcore_service_webserver/catalog/_models.py
  services/web/server/tests/unit/isolated/test_catalog_models.py
Labels: a:webserver

#6180 🐛 Fixes access rights fields in web-api's PATCH services input model
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/models-library/src/models_library/api_schemas_webserver/catalog.py
  packages/models-library/src/models_library/services_access.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/catalog/openapi.json
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/catalog/src/simcore_service_catalog/services/services_api.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/catalog/_api.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__services.py
Labels: a:webserver, a:catalog

#6183 🐛 [Frontend] Fix: exclude the share with product-everyone group for studies
  services/static-webserver/client/source/class/osparc/share/AddCollaborators.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/share/PublishTemplate.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Labels: bug, a:frontend

#6164 🎨 [Frontend] Annotation creation enhancements
  services/static-webserver/client/source/class/osparc/editor/AnnotationEditor.js
  services/static-webserver/client/source/class/osparc/form/ColorPicker.js
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, a:frontend, UI/UX

#6188 🐛 Fixes unhandled `KeyError` when missing keys in exception's `msg_template`
  packages/models-library/src/models_library/errors_classes.py
  packages/models-library/tests/test_errors_classes.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/api-server/src/simcore_service_api_server/exceptions/service_errors_utils.py
  services/api-server/src/simcore_service_api_server/services/director_v2.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_logs.py
  services/api-server/tests/unit/test_services_directorv2.py
Labels: a:apiserver, a:models-library

#6184 🐛storage: fixes query to file metadata
  services/storage/src/simcore_service_storage/db_access_layer.py
  services/storage/src/simcore_service_storage/db_file_meta_data.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/tests/fixtures/data_models.py
  services/storage/tests/unit/test_db_access_layer.py
  services/storage/tests/unit/test_db_file_meta_data.py
  services/storage/tests/unit/test_handlers_files_metadata.py
Labels: a:storage

#6151 ✨ [Frontend] Connect folders to backend
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderTreeItem.js
  services/static-webserver/client/source/class/osparc/dashboard/FoldersTree.js
  services/static-webserver/client/source/class/osparc/dashboard/MoveStudyToFolder.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Folder.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsFolder.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
Labels: t:enhancement, a:frontend

#6192 🔧⬆️ Maintenance: updates repo templates and scripts
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/4_pre_release.yml
  .github/ISSUE_TEMPLATE/5_release.yml
  .github/ISSUE_TEMPLATE/6_hotfix.yml
  Makefile
Labels: t:maintenance

#6198 🐛Bugfix: Cannot instantiate templates
  packages/simcore-sdk/tests/integration/test_node_ports_common_aws_s3_cli.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_r_clone.py
  services/catalog/src/simcore_service_catalog/services/services_api.py
  services/storage/src/simcore_service_storage/handlers_files.py
Labels: a:storage

#6196 🔨 disk-usage pytest plugin
  packages/pytest-simcore/src/pytest_simcore/disk_usage_monitoring.py
  packages/simcore-sdk/Makefile
  packages/simcore-sdk/tests/conftest.py
Labels: t:maintenance

#6126 ♻️ Maintenance: mypy dynamic-sidecar
  .github/workflows/ci-testing-deploy.yml
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/nodeports_v2.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/ports_mapping.py
  packages/simcore-sdk/tests/integration/test_node_ports_v2_nodeports2.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/dynamic-sidecar/requirements/_test.in
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/setup.cfg
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/_dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/registry.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/attribute_monitor/_logging_event_handler.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/attribute_monitor/_watchdog_extensions.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_context.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_event_filter.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_event_handler.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_manager.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_watchdog_extensions.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/system_monitor/_notifier.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/system_monitor/_socketio.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_db.py
Labels: t:maintenance, a:dynamic-sidecar

#6197 [Frontend] 🎨 TIP enhancements
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/share/ShareePermissions.js
Labels: t:enhancement, a:frontend

#6206 🐛🎨 Pass ``WEBSERVER_FOLDERS`` flag to frontend and use it
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/tests/unit/isolated/test_application_settings.py
Labels: t:enhancement, a:frontend

#6175 ♻️ Maintenance: Fixes mypy in api-server
  .github/workflows/ci-testing-deploy.yml
  mypy.ini
  packages/models-library/src/models_library/basic_regex.py
  packages/models-library/src/models_library/basic_types.py
  packages/models-library/src/models_library/services_types.py
  packages/models-library/tests/test_basic_regex.py
  packages/models-library/tests/test_services.py
  packages/models-library/tests/test_utils_service_io.py
  packages/notifications-library/requirements/_test.in
  packages/service-library/src/servicelib/utils_meta.py
  packages/service-library/tests/test_utils_meta.py
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/_meta.py
  services/api-server/src/simcore_service_api_server/api/dependencies/database.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/users.py
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/src/simcore_service_api_server/db/repositories/_base.py
  services/api-server/src/simcore_service_api_server/db/tables.py
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
  services/api-server/src/simcore_service_api_server/exceptions/service_errors_utils.py
  services/api-server/src/simcore_service_api_server/models/api_resources.py
  services/api-server/src/simcore_service_api_server/models/basic_types.py
  services/api-server/src/simcore_service_api_server/models/domain/projects.py
  services/api-server/src/simcore_service_api_server/models/schemas/files.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
  services/api-server/src/simcore_service_api_server/services/director_v2.py
  services/api-server/src/simcore_service_api_server/services/solver_job_models_converters.py
  services/api-server/src/simcore_service_api_server/services/solver_job_outputs.py
  services/api-server/src/simcore_service_api_server/services/study_job_models_converters.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/autoscaling/src/simcore_service_autoscaling/_meta.py
  services/catalog/src/simcore_service_catalog/_meta.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/_meta.py
  services/dask-sidecar/VERSION
  services/dask-sidecar/setup.cfg
  services/dask-sidecar/src/simcore_service_dask_sidecar/_meta.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/models.py
  services/datcore-adapter/VERSION
  services/datcore-adapter/setup.cfg
  services/datcore-adapter/src/simcore_service_datcore_adapter/_meta.py
  services/director-v2/src/simcore_service_director_v2/meta.py
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/_meta.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/_meta.py
  services/efs-guardian/src/simcore_service_efs_guardian/_meta.py
  services/invitations/src/simcore_service_invitations/_meta.py
  services/payments/src/simcore_service_payments/_meta.py
  services/payments/src/simcore_service_payments/api/rest/_meta.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/_meta.py
  services/storage/src/simcore_service_storage/_meta.py
  services/web/server/src/simcore_service_webserver/_meta.py
Labels: a:api, t:maintenance

#6159 ✨AWS library: add start instance method
  packages/aws-library/src/aws_library/ec2/__init__.py
  packages/aws-library/src/aws_library/ec2/_client.py
  packages/aws-library/src/aws_library/ec2/_error_handler.py
  packages/aws-library/src/aws_library/ec2/_errors.py
  packages/aws-library/src/aws_library/ec2/_models.py
  packages/aws-library/src/aws_library/ec2/_utils.py
  packages/aws-library/src/aws_library/ec2/errors.py
  packages/aws-library/src/aws_library/ec2/utils.py
  packages/aws-library/tests/test_ec2_client.py
  packages/aws-library/tests/test_ec2_models.py
  packages/aws-library/tests/test_ec2_utils.py
  packages/pytest-simcore/src/pytest_simcore/aws_ec2_service.py
  services/autoscaling/src/simcore_service_autoscaling/core/errors.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_base.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_computational.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_dynamic.py
  services/autoscaling/src/simcore_service_autoscaling/modules/buffer_machines_pool_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ssm.py
  services/autoscaling/src/simcore_service_autoscaling/utils/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/buffer_machines_pool_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/computational_scaling.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_ec2.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_buffer_machine_core.py
  services/autoscaling/tests/unit/test_modules_dask.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/autoscaling/tests/unit/test_utils_auto_scaling_core.py
  services/autoscaling/tests/unit/test_utils_computational_scaling.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/autoscaling/tests/unit/test_utils_ec2.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/errors.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters_management_core.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/ec2.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/rpc/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/rpc/ec2_instances.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/dask.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/ec2.py
  services/clusters-keeper/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/test_core_settings.py
  services/clusters-keeper/tests/unit/test_modules_clusters.py
  services/clusters-keeper/tests/unit/test_modules_clusters_management_core.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
Labels: a:aws-library

#6213 🐛 fix services:access endpoint for product group
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__services_access.py
Labels: bug

#6200 ♻️Mypy: webserver2
  .github/workflows/ci-testing-deploy.yml
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  packages/models-library/src/models_library/basic_types.py
  packages/service-library/src/servicelib/redis_utils.py
  services/web/server/src/simcore_service_webserver/catalog/_api.py
  services/web/server/src/simcore_service_webserver/catalog/_models.py
  services/web/server/src/simcore_service_webserver/db/plugin.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
  services/web/server/src/simcore_service_webserver/email/plugin.py
  services/web/server/src/simcore_service_webserver/exporter/_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_db.py
  services/web/server/src/simcore_service_webserver/groups/_handlers.py
  services/web/server/src/simcore_service_webserver/log.py
  services/web/server/src/simcore_service_webserver/login/_2fa_api.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/storage.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_iterations.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_version_control.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
  services/web/server/src/simcore_service_webserver/payments/_events.py
  services/web/server/src/simcore_service_webserver/payments/_methods_api.py
  services/web/server/src/simcore_service_webserver/products/_api.py
  services/web/server/src/simcore_service_webserver/products/_events.py
  services/web/server/src/simcore_service_webserver/products/_model.py
  services/web/server/src/simcore_service_webserver/projects/_access_rights_db.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
  services/web/server/src/simcore_service_webserver/projects/_db_utils.py
  services/web/server/src/simcore_service_webserver/projects/_metadata_db.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_api.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_ports_api.py
  services/web/server/src/simcore_service_webserver/projects/_ports_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_projects_access.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/publications/_handlers.py
  services/web/server/src/simcore_service_webserver/rabbitmq.py
  services/web/server/src/simcore_service_webserver/resource_manager/registry.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_handlers.py
  services/web/server/src/simcore_service_webserver/session/plugin.py
  services/web/server/src/simcore_service_webserver/socketio/_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_redirects_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/src/simcore_service_webserver/users/_notifications_handlers.py
  services/web/server/src/simcore_service_webserver/users/_preferences_api.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/version_control/db.py
  services/web/server/src/simcore_service_webserver/wallets/_events.py
Labels: a:webserver

#6211 ♻️ [Frontend] Retire ``PUT`` ``/study``
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
Labels: a:frontend

#6214 🐛 [Frontend] Fix App mode: Wait until the workbench is deserialized to start
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
Labels: bug, a:frontend

#6216 🐛 fixes broken test in servicelib + code deprecation
  packages/service-library/tests/deferred_tasks/test_deferred_tasks.py
  services/dynamic-sidecar/tests/mocks/legacy_shared_store.json
  services/dynamic-sidecar/tests/unit/test_models_shared_store.py
Labels: a:services-library, t:maintenance

#6148 ♻️ folder_utils is now compatible with user
  packages/postgres-database/src/simcore_postgres_database/utils_folders.py
  packages/postgres-database/tests/test_utils_folders.py
  services/web/server/src/simcore_service_webserver/folders/_folders_api.py
  services/web/server/src/simcore_service_webserver/folders/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_folders_api.py
Labels: a:database

#6207 🎨 [Frontend] Improve blocked card's UX
  services/static-webserver/client/source/class/osparc/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/pricing/ServicesList.js
  services/static-webserver/client/source/class/osparc/service/Store.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
Labels: a:frontend, UI/UX

#6218 🐛 [Frontend] Fix: reload ``Share with...`` list after updating access rights
  services/static-webserver/client/source/class/osparc/share/AddCollaborators.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
Labels: bug, a:frontend

#6143 ✨Autoscaling: Start using EBS-based EC2 buffers 🚨
  packages/aws-library/src/aws_library/ec2/_client.py
  packages/aws-library/src/aws_library/ssm/__init__.py
  packages/aws-library/src/aws_library/ssm/_client.py
  packages/aws-library/src/aws_library/ssm/_errors.py
  packages/aws-library/tests/test_ssm_client.py
  packages/pytest-simcore/src/pytest_simcore/environment_configs.py
  packages/pytest-simcore/src/pytest_simcore/helpers/aws_ec2.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/buffer_machines_pool_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/buffer_machines_pool_core.py
  services/autoscaling/tests/manual/.env-devel
  services/autoscaling/tests/manual/README.md
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_api_health.py
  services/autoscaling/tests/unit/test_core_settings.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_task.py
  services/autoscaling/tests/unit/test_modules_buffer_machine_core.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/autoscaling/tests/unit/test_modules_rabbitmq.py
  services/autoscaling/tests/unit/test_modules_redis.py
  services/autoscaling/tests/unit/test_modules_ssm.py
  services/autoscaling/tests/unit/test_utils_auto_scaling_core.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
Labels: a:autoscaling

#6223 🐛 [Frontend] Fix: List grouped tagged templates
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
Labels: bug, a:frontend

#6224 🎨 Improving `servicelib.logging_utils`
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/tests/test_logging_utils.py
Labels: a:services-library, t:maintenance

#6228 ⚗️🙈 Don't gitignore the .python-version file (`pyenv`)
  .gitignore
  .python-version
Labels: t:enhancement, python

#6229 🐛Autoscaling in computational clusters could not start without SSM parameters
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
Labels: a:autoscaling

#6099 🐛 catalog: fixes access-rights to `get` and `update` services
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/services/services_api.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
Labels: a:catalog

#6219 🐛 [Frontend] Minor fixes: File Picker Reset, Node Editor Close, Selection Management, Button Alignment
  services/static-webserver/client/source/class/osparc/editor/AnnotationNoteCreator.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: bug, a:frontend

#6217 🎨 [Frontend] Request Account form for oSPARC 🚨
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/web/server/src/simcore_service_webserver/products/_model.py
  services/web/server/tests/unit/isolated/test_products_model.py
Labels: t:enhancement, a:frontend

#6232 🎨Autoscaling: chunk prepulled image AWS EC2 tags
  packages/aws-library/src/aws_library/ec2/_models.py
  services/autoscaling/src/simcore_service_autoscaling/constants.py
  services/autoscaling/src/simcore_service_autoscaling/modules/buffer_machines_pool_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/buffer_machines_pool_core.py
  services/autoscaling/tests/unit/test_modules_buffer_machine_core.py
  services/autoscaling/tests/unit/test_utils_buffer_machines_pool_core.py
  services/clusters-keeper/tests/unit/test_core_settings.py
Labels: a:autoscaling

#6092 ♻️ Preparation of tags for both services and projects 🗃️
  api/specs/web-server/_tags.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/7604e65e2f83_renamed_study_tags_table.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e8057a4a7bb0_new_services_tags_table.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/feca36c8e18f_rename_tags_to_groups.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_tags.py
  packages/postgres-database/src/simcore_postgres_database/models/services_tags.py
  packages/postgres-database/src/simcore_postgres_database/models/tags.py
  packages/postgres-database/src/simcore_postgres_database/models/tags_access_rights.py
  packages/postgres-database/src/simcore_postgres_database/utils_tags.py
  packages/postgres-database/src/simcore_postgres_database/utils_tags_sql.py
  packages/postgres-database/src/simcore_postgres_database/webserver_models.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_models_tags.py
  packages/postgres-database/tests/test_utils_tags.py
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tags.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/db/models.py
  services/web/server/src/simcore_service_webserver/projects/_db_utils.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/tags/_handlers.py
Labels: a:database

#6190 ⬆️ Upgrade to traefik v3 (2nd trial)
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director/src/simcore_service_director/producer.py
  services/docker-compose.local.yml
  services/docker-compose.yml
Labels: t:enhancement

#6256 🐛Autoscaling: Cluster gauges not reset correctly, too many buffer created, log improvements
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/buffer_machines_pool_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation.py
Labels: a:autoscaling

#6222 🎨 [Frontend] Logger UX improvements
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/info/StudyMedium.js
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/ExtendSelection.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerModel.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerView.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: a:frontend, UX_improvements

#6259 🐛 [Frontend] Reopening running study breaks the connections
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/node/slideshow/FilePickerView.js
  services/static-webserver/client/source/class/osparc/node/slideshow/NodeView.js
Labels: bug, a:frontend

#6262 🎨 [Frontend] UI/UX: Study updates
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudyUpdate.js
Labels: t:enhancement, bug, a:frontend

#6268 🐛 Fix wrong go-style UUID regexp - made portal links fail
  services/docker-compose.yml
Labels: bug, a:webserver

#6270 🐛Traefik: partially revert changes
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/docker-compose.yml
Labels: a:infra+ops

#6260 ✨Autoscaling: add buffer metrics
  packages/aws-library/requirements/_base.in
  packages/aws-library/requirements/_base.txt
  packages/aws-library/requirements/_test.txt
  packages/aws-library/requirements/_tools.txt
  packages/aws-library/src/aws_library/ssm/_client.py
  packages/aws-library/tests/test_ssm_client.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/buffer_machines_pool_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/buffer_machines_pool_task.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/__init__.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_constants.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_ec2_client.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_utils.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/autoscaling/tests/unit/test_modules_instrumentation_models.py
  services/autoscaling/tests/unit/test_modules_instrumentation_utils.py
Labels: a:autoscaling

#6273 🐛Traefik v3: adapt Go regexp (2nd trial)
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/docker-compose.yml
Labels: a:infra+ops

#6264 ♻️ api-server: openapi docs and versioning
  services/api-server/Makefile
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/_constants.py
  services/api-server/src/simcore_service_api_server/api/routes/credits.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/core/application.py
Labels: a:apiserver

#6275 🐛Traefikv3: Use v3 regexp syntax
  services/catalog/src/simcore_service_catalog/services/director.py
  services/docker-compose.yml
Labels: a:infra+ops

#6277 🐛Traefik v3: replace v2 regexp with v3 regexp
  services/docker-compose.yml
Labels: a:infra+ops
