Repository ITISFoundation/osparc-simcore, pull requests merged in 2024-03, with the labels that each got.

#5398 🐛 Minor fixes: resources files path, gateway openapi specs
  api/specs/web-server/openapi.py
  packages/models-library/src/models_library/api_schemas_webserver/auth.py
  packages/service-library/src/servicelib/resources.py
  services/payments/gateway/.gitignore
  services/payments/gateway/openapi.json
Labels: a:services-library, t:maintenance

#5349 ♻️ `dynamic-sidecar` fails to boot if external dependencies are not present
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
  packages/service-library/src/servicelib/common_aiopg_utils.py
  packages/service-library/src/servicelib/rabbitmq/__init__.py
  packages/service-library/src/servicelib/rabbitmq/_utils.py
  packages/settings-library/src/settings_library/node_ports.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/external_dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/postgres.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/registry.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/storage.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/service_liveness.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/integration/conftest.py
  services/dynamic-sidecar/tests/integration/test_modules_long_running_tasks.py
  services/dynamic-sidecar/tests/integration/test_modules_user_services_preferences.py
  services/dynamic-sidecar/tests/unit/test_core_external_dependencies.py
  services/dynamic-sidecar/tests/unit/test_core_registry.py
  services/dynamic-sidecar/tests/unit/test_core_utils.py
  services/dynamic-sidecar/tests/unit/test_modules_system_monitor__notifier.py
  services/dynamic-sidecar/tests/unit/test_service_liveness.py
Labels: a:dynamic-sidecar

#5405 ✨Autoscaling/Clusters-keeper tags also volume and network-interface
  packages/aws-library/src/aws_library/ec2/client.py
Labels: a:autoscaling, a:clusters-keeper

#5409 ⬆️Maintenance: remove blocking docker buildx version
  .github/workflows/ci-release.yml
  .github/workflows/ci-staging.yml
  .github/workflows/ci-testing-deploy.yml
Labels: a:infra+ops

#5411 ♻️ Remove `$MACHINE_FQDN` from resource usage tracker
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/settings.py
Labels: t:enhancement, a:resource-usage-tracker

#5386 👽️ ✨ document status codes in api server
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/_common.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/users.py
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/src/simcore_service_api_server/services/catalog.py
  services/api-server/src/simcore_service_api_server/services/director_v2.py
  services/api-server/src/simcore_service_api_server/services/service_exception_handling.py
  services/api-server/src/simcore_service_api_server/services/storage.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/test_services_utils.py
Labels: a:doc, a:apiserver

#5401 `director-v2`'s dynamic scheduler monitoring task runs exclusively
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/api_keys_manager.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/redis.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/test_modules_api_keys_manager.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
  services/director-v2/tests/unit/test_modules_notifier.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
Labels: a:director-v2

#5404 🐛🎨♻️Bugfix-refactor: Docker pull progress
  Makefile
  packages/aws-library/requirements/dev.txt
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  packages/pytest-simcore/src/pytest_simcore/logging_utils.py
  packages/pytest-simcore/src/pytest_simcore/playwright_utils.py
  packages/service-library/requirements/dev.txt
  packages/service-library/src/servicelib/aiohttp/docker_utils.py
  packages/service-library/src/servicelib/docker_utils.py
  packages/service-library/src/servicelib/fastapi/docker_utils.py
  packages/service-library/src/servicelib/progress_bar.py
  packages/service-library/tests/aiohttp/test_docker_utils.py
  packages/service-library/tests/conftest.py
  packages/service-library/tests/fastapi/test_docker_utils.py
  packages/service-library/tests/test_docker_utils.py
  scripts/maintenance/computational-clusters/Makefile
  scripts/maintenance/computational-clusters/osparc_clusters.py
  services/dynamic-sidecar/Makefile
  services/dynamic-sidecar/docker/boot.sh
  services/dynamic-sidecar/requirements/ci.txt
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_utils.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_core_docker_utils.py
  services/web/server/docker/boot.sh
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/sleepers/sleepers.py
  tests/public-api/requirements/_base.in
  tests/public-api/requirements/_base.txt
  tests/public-api/requirements/_test.in
  tests/public-api/requirements/_test.txt
  tests/public-api/requirements/_tools.txt
  tests/public-api/requirements/ci.txt
  tests/public-api/requirements/dev.txt
Labels: a:dynamic-sidecar

#5414 🐛E2e: fix imports
  tests/e2e-playwright/tests/jupyterlab.py
  tests/e2e-playwright/tests/resource_usage_tracker.py
  tests/e2e-playwright/tests/sim4life.py
Labels: e2e

#5415 🐛Webserver: exclusive/non-exclusive RabbitMQ consumers are deleting each other, and also probably replacing each other
  services/web/server/src/simcore_service_webserver/notifications/_constants.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_nonexclusive_queue_consumers.py
  services/web/server/src/simcore_service_webserver/projects/_observer.py
Labels: a:webserver

#5413 🎨 Frontend changes for CookieBanner on s4l-io
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
Labels: a:frontend, High Priority

#5412 🐛 Fix: Open study from notification
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
Labels: bug, a:frontend

#5309 ✨ Display warning message for low and out of disk space
  .github/CODEOWNERS
  services/static-webserver/client/source/class/osparc/Preferences.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageController.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Labels: a:frontend, UX_improvements

#5391 ✨ Users pre-registration 🗃️ 🚨
  api/specs/web-server/_users.py
  packages/postgres-database/setup.cfg
  packages/postgres-database/src/simcore_postgres_database/migration/versions/35724106de75_new_users_details_table.py
  packages/postgres-database/src/simcore_postgres_database/models/users_details.py
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
  packages/postgres-database/tests/test_users_details.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_login.py
  packages/pytest-simcore/src/pytest_simcore/websocket_client.py
  services/web/server/VERSION
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/login/_auth_api.py
  services/web/server/src/simcore_service_webserver/login/_registration_api.py
  services/web/server/src/simcore_service_webserver/login/_registration_handlers.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/products/_invitations_handlers.py
  services/web/server/src/simcore_service_webserver/security/_authz_access_roles.py
  services/web/server/src/simcore_service_webserver/templates/common/request_account.jinja2
  services/web/server/src/simcore_service_webserver/users/_api.py
  services/web/server/src/simcore_service_webserver/users/_db.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/users/_notifications.py
  services/web/server/src/simcore_service_webserver/users/_notifications_handlers.py
  services/web/server/src/simcore_service_webserver/users/_schemas.py
  services/web/server/src/simcore_service_webserver/users/_tokens_handlers.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/users/exceptions.py
  services/web/server/src/simcore_service_webserver/users/plugin.py
  services/web/server/src/simcore_service_webserver/wallets/_events.py
  services/web/server/tests/conftest.py
  services/web/server/tests/unit/isolated/test_resources.py
  services/web/server/tests/unit/with_dbs/01/test_groups.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_invitations.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_products__invitations_handlers.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration_handlers.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
  services/web/server/tests/unit/with_dbs/03/test_users__notifications.py
  services/web/server/tests/unit/with_dbs/03/test_users__tokens.py
  services/web/server/tests/unit/with_dbs/03/test_users_api.py
  services/web/server/tests/unit/with_dbs/03/wallets/test_wallets.py
Labels: a:webserver

#5420 🎨 Separate Privacy Policy and EULA checkboxes
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
Labels: t:enhancement, a:frontend

#5425 🐛 Fix bug that throws error when capturing api responses in dev mode
  services/api-server/src/simcore_service_api_server/core/settings.py
Labels: bug, a:apiserver

#5423 🎨Maintenance: osparc clusters improvements
  scripts/maintenance/computational-clusters/osparc_clusters.py
Labels: a:infra+ops

#5426 🐛 Fix issues with pip cache in ci python setup
  .github/workflows/ci-testing-deploy.yml
Labels: t:maintenance

#5421 Study page refactor
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/resources/pages/BasePage.js
  services/static-webserver/client/source/class/osparc/editor/TextEditor.js
  services/static-webserver/client/source/class/osparc/editor/ThumbnailSuggestions.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/study/StudyPreview.js
  services/static-webserver/client/source/class/osparc/study/StudyPricingUnits.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/widget/Renamer.js
Labels: a:frontend, UX_improvements

#5428 ⚗️Disable e2e playwright for now
  .github/workflows/ci-testing-deploy.yml
  scripts/maintenance/computational-clusters/osparc_clusters.py
Labels: e2e

#5393 ✨ Sort studies
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/SortedByMenuButton.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
Labels: a:frontend, UX_improvements

#5430 🎨 Study home page redesign II
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/study/StudyPreview.js
Labels: t:enhancement, a:frontend

#5434 ♻️Maintenance: re-enable playwright E2E test in CI
  .github/workflows/ci-testing-deploy.yml
  scripts/maintenance/computational-clusters/osparc_clusters.py
Labels: e2e

#5427 🎨 Improves request-account email
  .github/PULL_REQUEST_TEMPLATE.md
  services/web/server/src/simcore_service_webserver/login/_registration_api.py
  services/web/server/src/simcore_service_webserver/login/_registration_handlers.py
  services/web/server/src/simcore_service_webserver/templates/common/request_account.jinja2
  services/web/server/tests/unit/with_dbs/03/test_email.py
Labels: a:webserver

#5439 Telemetry background color to address theme change issue
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
Labels: UX_improvements, UI/UX

#5443 🎨Maintenance: script now explains issue when repo.config has terraform entries
  scripts/maintenance/computational-clusters/osparc_clusters.py
Labels: a:infra+ops

#5444 🐛 Fixes confirmation link
  services/web/server/src/simcore_service_webserver/login/storage.py
Labels: a:webserver

#5432 🐛 handle exception if no parent project in director v2
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
Labels: bug

#5422 🎨 always print `task_id` when logging with TaskProgress and link `task_id` to `project_id` in logs
  packages/models-library/src/models_library/api_schemas_long_running_tasks/base.py
  packages/service-library/src/servicelib/long_running_tasks/_task.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
Labels: t:maintenance

#5445 🐛 Fix: Listen to Esc key in Project Options window
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
  services/static-webserver/client/source/class/osparc/widget/Renamer.js
Labels: a:frontend

#5448 🐛 Fix: Request Account view into scroll container
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/core/BaseAuthPage.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
Labels: a:frontend, UX_improvements

#5442 🐛 Fix: Navigation Bar's Guided Tour
  .github/CODEOWNERS
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/tours/List.js
  services/static-webserver/client/source/resource/osparc/tours/s4l_tours.json
Labels: a:frontend

#5449 🎨 Updated email templates for all products
  packages/service-library/src/servicelib/json_serialization.py
  services/web/server/src/simcore_service_webserver/email/_handlers.py
  services/web/server/src/simcore_service_webserver/login/_2fa.py
  services/web/server/src/simcore_service_webserver/login/_registration_api.py
  services/web/server/src/simcore_service_webserver/login/handlers_2fa.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/templates/common/change_email_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/close_account.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/new_2fa_code.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/registration_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/request_account.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/reset_password_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/common/reset_password_email_failed.jinja2
  services/web/server/src/simcore_service_webserver/templates/s4llite/change_email_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/s4llite/new_2fa_code.jinja2
  services/web/server/src/simcore_service_webserver/templates/s4llite/registration_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/s4llite/reset_password_email.jinja2
  services/web/server/src/simcore_service_webserver/templates/s4llite/reset_password_email_failed.jinja2
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_utils_emails.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
Labels: a:webserver

#5441 🎨 Improve Home page's layout
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/resources/pages/BasePage.js
  services/static-webserver/client/source/class/osparc/info/CommentAdd.js
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
  services/static-webserver/client/source/class/osparc/service/ServiceListItem.js
  services/static-webserver/client/source/class/osparc/study/SaveAsTemplate.js
Labels: t:enhancement, a:frontend, UX_improvements

#5455 🎨 log stack trace when removing task from task manager
  packages/service-library/src/servicelib/long_running_tasks/_task.py
Labels: bug

#5451 🐛Autoscaling: Ensure buffer machine type remains the same over the app session
  scripts/maintenance/computational-clusters/osparc_clusters.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/auto_scaling_core.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_utils_auto_scaling_core.py
  services/autoscaling/tests/unit/test_utils_ec2.py
Labels: a:autoscaling

#5460 🎨 Changes user's phone policies (🗃️)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/30e8b752e33e_phone_not_unique.py
  packages/postgres-database/src/simcore_postgres_database/models/users.py
  packages/postgres-database/src/simcore_postgres_database/models/users_details.py
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
Labels: a:webserver

#5456 🎨 Add additional thumbnail to the selectable options
  services/static-webserver/client/source/class/osparc/editor/ThumbnailSuggestions.js
Labels: a:frontend, UX_improvements

#5462 Added background heads for Academy Lite and default
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
Labels: a:frontend, UI/UX

#5467 🎨 Add Science text on Acad's login page
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/resource/osparc/Sim4Life_science_Subline.svg
Labels: t:enhancement, a:frontend

#5468 🐛 Fix: Do not reask for updating the services
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/desktop/credits/ProfilePage.js
Labels: a:frontend

#5475 🐛 Fix: drops phone check
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
Labels: a:webserver

#5473 🐛 Last minute frontend fixes/updates
  services/static-webserver/client/compile.json
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/navigation/LogoOnOff.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/product/AboutProduct.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/product/quickStart/Utils.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4lacad/Welcome.js
  services/static-webserver/client/source/class/osparc/store/VendorInfo.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/resource/osparc/tours/s4l_tours.json
Labels: a:frontend

#5472 ♻️ Remove change user's email
  api/specs/web-server/_auth.py
  services/payments/src/simcore_service_payments/services/notifier_email.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_change_email.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_logout.py
Labels: a:webserver, a:payments

#5446 ♻️ Cleanup of setup and tests tooling
  api/tests/test_individual_openapi_schemas.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_postgres.py
  packages/service-library/setup.py
  packages/service-library/tests/fastapi/test_httpx_utils.py
  packages/simcore-sdk/setup.py
  packages/simcore-sdk/tests/conftest.py
  packages/simcore-sdk/tests/integration/conftest.py
  packages/simcore-sdk/tests/integration/test_node_data_data_manager.py
  packages/simcore-sdk/tests/integration/test_node_ports_v2_nodeports2.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_port.py
  services/agent/setup.py
  services/clusters-keeper/setup.py
  services/dask-sidecar/setup.py
  services/datcore-adapter/setup.py
  services/director-v2/setup.py
  services/dynamic-sidecar/setup.py
  services/web/server/setup.py
  services/web/server/tests/integration/01/test_exporter_requests_handlers.py
  services/web/server/tests/integration/02/test_computation.py
Labels: t:maintenance

#5479 🐛Dockerfile service-integration has missing ampersands
  packages/service-integration/Dockerfile
Labels: a:infra+ops

#5478 Remove hardcoded subnet for `interactive_services_subnet`
  .env-devel
  services/docker-compose.yml
Labels: t:enhancement

#5474 🐛🎨External Clusters: improve work stealing
  .env-devel
  Makefile
  packages/settings-library/src/settings_library/base.py
  packages/settings-library/tests/test_base.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_computational.py
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/unit/conftest.py
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/src/simcore_service_dask_sidecar/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/docker-compose.yml
Labels: a:autoscaling, a:clusters-keeper

#5480 🐛 Tab key navigation order in wrong in profile form #5461
  services/static-webserver/client/source/class/osparc/desktop/credits/ProfilePage.js
Labels: bug, UX_improvements

#5483 🎨 Clean up Preferences window
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/DesktopCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/MyAccount.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/BasePage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TokensPage.js
  services/static-webserver/client/source/class/osparc/po/POCenter.js
Labels: a:frontend

#5489 🎨Maintenance: use the same swarm address pools as in osparc-infra
  Makefile
  services/autoscaling/tests/manual/Makefile
  services/autoscaling/tests/manual/docker-compose-computational.yml
  services/autoscaling/tests/manual/docker-compose.yml
  services/clusters-keeper/Makefile
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/osparc-gateway-server/Makefile
Labels: a:infra+ops

#5488 🐛 Fixes error upon registration of pending email confirmation
  packages/postgres-database/src/simcore_postgres_database/errors.py
  packages/postgres-database/src/simcore_postgres_database/models/users.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_users.py
Labels: a:webserver, a:database

#5490 🎨Maintenance: improve clusters overview script
  scripts/maintenance/computational-clusters/osparc_clusters.py
Labels: a:infra+ops

#5498 🐛 Fix: increase credits limit in invitations to 1000
  services/static-webserver/client/source/class/osparc/po/Invitations.js
Labels: a:frontend

#5486 🎨 Synced retention policy and minor template changes
  .env-devel
  services/docker-compose.yml
  services/static-webserver/client/source/class/osparc/desktop/credits/DeleteAccount.js
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/director_v2/_api_utils.py
  services/web/server/src/simcore_service_webserver/login/_registration_api.py
  services/web/server/src/simcore_service_webserver/login/_registration_handlers.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/settings.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/statics/_events.py
  services/web/server/tests/unit/isolated/test_application_settings.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/03/test__openapi_specs.py
Labels: a:frontend, a:webserver, t:maintenance

#5506 🎨 Adds countries on static entrypoint
  api/specs/web-server/_statics.py
  api/specs/web-server/openapi.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/_constants.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/statics/_events.py
  services/web/server/src/simcore_service_webserver/statics/_handlers.py
  services/web/server/src/simcore_service_webserver/statics/plugin.py
  services/web/server/src/simcore_service_webserver/statics/settings.py
  services/web/server/tests/unit/isolated/test_statics_settings.py
  services/web/server/tests/unit/with_dbs/03/test__openapi_specs.py
Labels: a:webserver

#5503 🎨 Enhances pre-registration workflow 🗃️
  packages/models-library/src/models_library/api_schemas_webserver/auth.py
  packages/models-library/src/models_library/users.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/75f4afdd7a58_user_details_extras_and_rename_col.py
  packages/postgres-database/src/simcore_postgres_database/models/users_details.py
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
  packages/postgres-database/tests/test_users_details.py
  packages/pytest-simcore/src/pytest_simcore/helpers/rawdata_fakers.py
  services/web/server/src/simcore_service_webserver/login/_registration_api.py
  services/web/server/src/simcore_service_webserver/users/_api.py
  services/web/server/src/simcore_service_webserver/users/_db.py
  services/web/server/src/simcore_service_webserver/users/_schemas.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/conftest.py
Labels: a:webserver

#5419 ♻️ Refactor project inactivity check ⚠️
  .env-devel
  .github/ISSUE_TEMPLATE/5_release.yml
  packages/models-library/src/models_library/api_schemas_dynamic_sidecar/containers.py
  packages/models-library/tests/test_api_schemas_dynamic_sidecar_containers.py
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
  services/docker-compose.yml
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/static-webserver/client/Manifest.json
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditorIdlingTracker.js
  services/static-webserver/client/source/class/osparc/utils/WebWorkerScheduler.js
  services/static-webserver/client/source/resource/osparc/schedulerWorker.js
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/settings.py
Labels: a:frontend

#5508 ✨ List of countries in Request Account form
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
  services/static-webserver/client/source/class/osparc/widget/IntlTelInput.js
Labels: a:frontend

#5500 🐛 Fix: Duplicated study goes first
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Labels: a:frontend

#5499 🐛 Fix: Bring back export cMIS for osparc
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Labels: a:frontend

#5511 🎨 UI/UX: Notifications bell tapping
  services/static-webserver/client/source/class/osparc/notification/NotificationsButton.js
Labels: a:frontend, UX_improvements

#5516 🎨 🐛 Fix progress report when starting sim4life on a fresh machine with pre-pulling
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
  services/static-webserver/client/source/class/osparc/ui/toolbar/ProgressBar.js
Labels: a:frontend, UX_improvements

#5504 ✨ Add a python version check before compilation
  Makefile
  scripts/test_python_version.py
Labels: idea, python

#5505 ✨Clusters monitoring script: Allow to look for different regions
  scripts/maintenance/computational-clusters/osparc_clusters.py
Labels: a:infra+ops

#5510 🎨 Frontend: Minimum amount
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/desktop/credits/AutoRecharge.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCreditsForm.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCreditsInput.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsButton.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsContainer.js
  services/static-webserver/client/source/class/osparc/po/Invitations.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/ui/hint/InfoHint.js
Labels: t:enhancement, a:frontend

#5515 🎨 Minimum payment amount per product 🗃️
  packages/models-library/src/models_library/api_schemas_webserver/product.py
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/5b37c3bc99af_new_min_payment_amount_usd_column.py
  packages/postgres-database/src/simcore_postgres_database/models/products_prices.py
  packages/postgres-database/src/simcore_postgres_database/utils_products_prices.py
  packages/postgres-database/tests/test_models_products_prices.py
  services/api-server/tests/mocks/get_solver_outputs.json
  services/api-server/tests/unit/test_api_solver_jobs.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/payments/_events.py
  services/web/server/src/simcore_service_webserver/payments/plugin.py
  services/web/server/src/simcore_service_webserver/payments/settings.py
  services/web/server/src/simcore_service_webserver/products/_api.py
  services/web/server/src/simcore_service_webserver/products/_db.py
  services/web/server/src/simcore_service_webserver/products/_handlers.py
  services/web/server/src/simcore_service_webserver/products/_model.py
  services/web/server/src/simcore_service_webserver/products/errors.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
  services/web/server/tests/unit/with_dbs/03/conftest.py
  services/web/server/tests/unit/with_dbs/03/products/test_products_handlers.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/conftest.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments_methods.py
Labels: a:webserver

#5522 ♻️Move python version test to devenv dependency
  Makefile
Labels: idea, python

#5521 🎨 Enhances country names in registration
  services/web/server/src/simcore_service_webserver/statics/settings.py
  services/web/server/src/simcore_service_webserver/users/_schemas.py
Labels: a:webserver

#5524 ✨ Users search in PO center
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/po/POCenter.js
  services/static-webserver/client/source/class/osparc/po/Users.js
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/security/_authz_access_roles.py
  services/web/server/src/simcore_service_webserver/users/_api.py
  services/web/server/src/simcore_service_webserver/users/_db.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/users/_schemas.py
Labels: a:frontend

#5527 🎨Maintenance: Clusters monitoring optimize dynamic monitoring and better display
  scripts/maintenance/computational-clusters/osparc_clusters.py
Labels: a:infra+ops

#5529 ✨ PO Pre-registration UI Step
  api/specs/web-server/_products.py
  api/specs/web-server/_users.py
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/po/POCenter.js
  services/static-webserver/client/source/class/osparc/po/PreRegistration.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/security/_authz_access_roles.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/users/_schemas.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Labels: a:frontend, a:webserver

#5526 ✨Show downloading file feedback
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/data/Converters.js
  services/static-webserver/client/source/class/osparc/data/model/Edge.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/file/FileUploader.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/po/BaseView.js
  services/static-webserver/client/source/class/osparc/po/Invitations.js
  services/static-webserver/client/source/class/osparc/po/MessageTemplates.js
  services/static-webserver/client/source/class/osparc/po/POCenter.js
  services/static-webserver/client/source/class/osparc/po/ProductInfo.js
  services/static-webserver/client/source/class/osparc/po/Users.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/task/Duplicate.js
  services/static-webserver/client/source/class/osparc/task/Export.js
  services/static-webserver/client/source/class/osparc/task/Import.js
  services/static-webserver/client/source/class/osparc/task/TaskUI.js
  services/static-webserver/client/source/class/osparc/task/ToTemplate.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/utils/WebWorkerScheduler.js
  services/static-webserver/client/source/class/osparc/workbench/Annotation.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/wrapper/WebSocket.js
Labels: a:frontend, UX_improvements

#5531 🎨Autoscaling metrics: define namespace and subsystem
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation.py
Labels: a:autoscaling

#5514 🐛 Ensure stack is logged when removing task from task manager
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_error_handlers.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_error_handlers.py
  packages/service-library/src/servicelib/long_running_tasks/_task.py
Labels: a:webserver

#5533 👽️ Expose logstreaming endpoint api server
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
Labels: a:apiserver

#5530 ✨Comp backend: add local prometheus in every cluster to gather metrics
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/prometheus.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/manual/README.md
  services/clusters-keeper/tests/unit/test_utils_clusters.py
Labels: a:clusters-keeper

#5539 🐛Monitoring: Fix missing configuration location in prometheus startup command
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
Labels: a:clusters-keeper

#5534 🎨 New front-end statics
  .env-devel
  services/docker-compose.yml
  services/static-webserver/README.md
  services/static-webserver/client/source/class/osparc/po/Users.js
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/users/_api.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/tests/unit/isolated/conftest.py
  services/web/server/tests/unit/isolated/test_application_settings.py
  services/web/server/tests/unit/isolated/test_rest.py
Labels: a:webserver

#5541 ⬆️Autoscaling: massive upgrade
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
Labels: a:autoscaling

#5542 ⬆️Clusters keeper: Grand update
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/clusters-keeper/requirements/_tools.txt
Labels: a:clusters-keeper

#5544 ✨Clusters-keeper: add machine role
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/ec2.py
  services/clusters-keeper/tests/unit/test_modules_clusters.py
  services/clusters-keeper/tests/unit/test_utils_ec2.py
Labels: a:clusters-keeper

#5536 ✨ UX: Handle Cookie expiration
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/CookieExpirationTracker.js
  services/static-webserver/client/source/class/osparc/FlashMessenger.js
  services/static-webserver/client/source/class/osparc/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/announcement/Tracker.js
  services/static-webserver/client/source/class/osparc/auth/ui/ResetPassView.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditorIdlingTracker.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethods.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
  services/static-webserver/client/source/class/osparc/info/StudyMedium.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/info/Utils.js
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
  services/static-webserver/client/source/class/osparc/ui/message/FlashMessage.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, UX_improvements

#5540 🎨 Default thumbnails for each product
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/auth/ui/RegistrationView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/auth/ui/ResetPassRequestView.js
  services/static-webserver/client/source/class/osparc/auth/ui/ResetPassView.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/desktop/StartPipelineView.js
  services/static-webserver/client/source/class/osparc/desktop/credits/AutoRecharge.js
  services/static-webserver/client/source/class/osparc/desktop/credits/DeleteAccount.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletEditor.js
  services/static-webserver/client/source/class/osparc/editor/ClusterEditor.js
  services/static-webserver/client/source/class/osparc/editor/OrganizationEditor.js
  services/static-webserver/client/source/class/osparc/editor/TextEditor.js
  services/static-webserver/client/source/class/osparc/editor/ThumbnailEditor.js
  services/static-webserver/client/source/class/osparc/metadata/QualityEditor.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/snapshots/EditSnapshotView.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
  services/static-webserver/client/source/class/osparc/ui/window/Confirmation.js
  services/static-webserver/client/source/class/osparc/ui/window/Dialog.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
Labels: a:frontend, UX_improvements

#5545 🐛 Fix: Set a maximum credits to buy
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCreditsInput.js
Labels: bug, a:frontend

#5550 ⬆️ Upgrades dependencies of catalog service
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
Labels: a:catalog

#5549 ⬆️ Upgrades dependencies of invitations service
  services/invitations/requirements/_base.txt
  services/invitations/requirements/_test.txt
  services/invitations/requirements/_tools.txt
Labels: a:invitations

#5548 ✨ Check new UI version
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/NewRelease.js
  services/static-webserver/client/source/class/osparc/NewUITracker.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/store/AppSummary.js
  services/static-webserver/client/source/class/osparc/utils/LibVersions.js
Labels: a:frontend, UI/UX

#5555 🚨🎨 Request new link for invoice
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/credits/TransactionsTableModel.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
Labels: t:enhancement, a:frontend

#5556 🐛 Feedback and bug fixes
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/dashboard/SortedByMenuButton.js
Labels: bug, a:frontend, UX_improvements
