Repository ITISFoundation/osparc-simcore, pull requests merged in 2024-06, with the labels that each got.

#5874 ♻️Ensure parent project/node is well structured in the DB 🗃️
  api/specs/web-server/_projects_crud.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/0d85bd35bdaa_add_optional_project_parents.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_metadata.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects_metadata.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_utils_projects_metadata.py
  packages/postgres-database/tests/test_utils_projects_nodes.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_projects.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_webserver_unit_with_db.py
  packages/service-library/src/servicelib/aiohttp/requests_validation.py
  packages/service-library/src/servicelib/common_headers.py
  packages/service-library/tests/aiohttp/test_requests_validation.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects_metadata.py
  services/director-v2/tests/unit/with_dbs/test_modules_db_repositories_projects.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
  services/web/server/src/simcore_service_webserver/projects/_metadata_api.py
  services/web/server/src/simcore_service_webserver/projects/_metadata_db.py
  services/web/server/src/simcore_service_webserver/projects/_metadata_handlers.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/conftest.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__clone.py
  services/web/server/tests/unit/with_dbs/02/test_projects_metadata_handlers.py
  services/web/server/tests/unit/with_dbs/03/tags/conftest.py
  services/web/server/tests/unit/with_dbs/03/wallets/conftest.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, a:director-v2, a:dask-service

#5690 ✨ api-server: New study jobs metadata entrypoints
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_calls_capture_parameters.py
  packages/pytest-simcore/src/pytest_simcore/httpx_calls_capture.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/services/jobs.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/mocks/cleanup.py
  services/api-server/tests/mocks/test_get_and_update_study_job_metadata.json
  services/api-server/tests/unit/api_studies/test_api_routers_studies_jobs_metadata.py
  services/api-server/tests/unit/conftest.py
Labels: a:apiserver

#5903 🎨 propagate job parent ids through api server
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_delete.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies_jobs.py
Labels: a:apiserver

#5908 🎨 Frontend: Usage table: show ``root_parent_project_name`` instead of ``project_name``
  services/static-webserver/client/source/class/osparc/desktop/credits/UsageTable.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UsageTableModel.js
Labels: t:enhancement, a:frontend

#5886 🔨Clusters maintenance script: refactoring and add SSH tunneling
  scripts/maintenance/computational-clusters/Makefile
  scripts/maintenance/computational-clusters/autoscaled_monitor/__init__.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/cli.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/constants.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/db.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ec2.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/models.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/utils.py
  scripts/maintenance/computational-clusters/osparc_clusters.py
  scripts/maintenance/computational-clusters/pyproject.toml
  scripts/maintenance/computational-clusters/requirements.txt
Labels: a:infra+ops

#5909 🔨 New pytest-simcore `environment_config` fixtures and `utils_postgres` helpers
  packages/pytest-simcore/src/pytest_simcore/environment_configs.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_postgres.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/service-library/src/servicelib/fastapi/requests_decorators.py
  packages/service-library/src/servicelib/fastapi/timing_middleware.py
  packages/settings-library/tests/test_email.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/module_setup.py
  services/payments/tests/conftest.py
  services/payments/tests/unit/test_db_payments_users_repo.py
  services/payments/tests/unit/test_services_notifier_email.py
Labels: t:maintenance

#5904 ♻️ Major cleanup of catalog service
  .env-devel
  scripts/common-service.Makefile
  services/api-server/tests/unit/conftest.py
  services/catalog/.env-devel
  services/catalog/Makefile
  services/catalog/README.md
  services/catalog/docker-compose-extra.yml
  services/catalog/openapi.json
  services/catalog/requirements/_test.in
  services/catalog/requirements/_test.txt
  services/catalog/src/simcore_service_catalog/api/dependencies/database.py
  services/catalog/src/simcore_service_catalog/api/dependencies/director.py
  services/catalog/src/simcore_service_catalog/api/dependencies/services.py
  services/catalog/src/simcore_service_catalog/api/dependencies/user_groups.py
  services/catalog/src/simcore_service_catalog/api/errors/__init__.py
  services/catalog/src/simcore_service_catalog/api/rest.py
  services/catalog/src/simcore_service_catalog/api/root.py
  services/catalog/src/simcore_service_catalog/api/routes/health.py
  services/catalog/src/simcore_service_catalog/api/routes/services.py
  services/catalog/src/simcore_service_catalog/api/routes/services_access_rights.py
  services/catalog/src/simcore_service_catalog/api/routes/services_ports.py
  services/catalog/src/simcore_service_catalog/api/routes/services_resources.py
  services/catalog/src/simcore_service_catalog/api/routes/services_specifications.py
  services/catalog/src/simcore_service_catalog/cli.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/db/events.py
  services/catalog/src/simcore_service_catalog/db/repositories/groups.py
  services/catalog/src/simcore_service_catalog/db/repositories/projects.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/exceptions/__init__.py
  services/catalog/src/simcore_service_catalog/exceptions/db_errors.py
  services/catalog/src/simcore_service_catalog/exceptions/handlers/__init__.py
  services/catalog/src/simcore_service_catalog/exceptions/handlers/_http_error.py
  services/catalog/src/simcore_service_catalog/exceptions/handlers/_validation_error.py
  services/catalog/src/simcore_service_catalog/main.py
  services/catalog/src/simcore_service_catalog/services/access_rights.py
  services/catalog/src/simcore_service_catalog/services/director.py
  services/catalog/src/simcore_service_catalog/utils/pools.py
  services/catalog/src/simcore_service_catalog/utils/requests_decorators.py
  services/catalog/src/simcore_service_catalog/utils/versioning.py
  services/catalog/tests/integration/test_none.py
  services/catalog/tests/unit/conftest.py
  services/catalog/tests/unit/test_services_director.py
  services/catalog/tests/unit/test_services_function_services.py
  services/catalog/tests/unit/test_utils_service_resources.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_api_routes_services__list.py
  services/catalog/tests/unit/with_dbs/test_api_routes_services_access_rights.py
  services/catalog/tests/unit/with_dbs/test_api_routes_services_ports.py
  services/catalog/tests/unit/with_dbs/test_api_routes_services_resources.py
  services/catalog/tests/unit/with_dbs/test_api_routes_services_specifications.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
  services/catalog/tests/unit/with_dbs/test_services_access_rights.py
  services/docker-compose.yml
Labels: a:services-library, a:catalog

#5907 ✨ [Frontend] Dashboard: filters on the left
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/DataBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/form/tag/TagToggleButton.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/ui/basic/LoadingPageHandler.js
Labels: t:enhancement, a:frontend

#5915 🎨 [Frontend] App Mode: Pop up instructions if any
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonPlaceholder.js
  services/static-webserver/client/source/class/osparc/node/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/ui/markdown/Markdown.js
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
Labels: t:enhancement, a:frontend

#5877 🎨♻️Use structured parent project/node in director-v2 and connect with RUT
  packages/postgres-database/src/simcore_postgres_database/utils_projects_metadata.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects_metadata.py
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/src/simcore_service_director_v2/utils/db.py
  services/director-v2/src/simcore_service_director_v2/utils/rabbitmq.py
  services/director-v2/tests/unit/with_dbs/test_utils_rabbitmq.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
Labels: a:director-v2

#5912 🐛Dask sidecar: disable concurrent pulling of files until new version is out
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  tests/e2e/Makefile
Labels: a:dask-service

#5919 🐛 [Frontend bugfix] Move side spacer to Resource Browser
  services/static-webserver/client/source/class/osparc/dashboard/DataBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/ui/basic/LoadingPageHandler.js
Labels: bug, a:frontend

#5913 ♻️🎨 `ooil config init` to create first`.osparc` config layout
  packages/service-integration/requirements/_base.in
  packages/service-integration/requirements/_base.txt
  packages/service-integration/scripts/ooil.bash
  packages/service-integration/src/service_integration/cli.py
  packages/service-integration/src/service_integration/cli/__init__.py
  packages/service-integration/src/service_integration/cli/_compose_spec.py
  packages/service-integration/src/service_integration/cli/_config.py
  packages/service-integration/src/service_integration/cli/_metadata.py
  packages/service-integration/src/service_integration/cli/_run_creator.py
  packages/service-integration/src/service_integration/cli/_test.py
  packages/service-integration/src/service_integration/commands/__init__.py
  packages/service-integration/src/service_integration/errors.py
  packages/service-integration/src/service_integration/osparc_config.py
  packages/service-integration/tests/test_command_config.py
  packages/service-integration/tests/test_command_metadata.py
Labels: a:ooil

#5929 🐛 [Frontend] API creation Bugfix: Allow only future dates
  services/static-webserver/client/source/class/osparc/desktop/preferences/window/CreateAPIKey.js
Labels: bug, a:frontend

#5931 ♻️ rabbitmq queue names ⚠️🚨
  packages/service-library/src/servicelib/rabbitmq/_utils.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_consumers_common.py
Labels: a:webserver, a:services-library, t:maintenance

#5930 🎨 [Frontend] Dashboard: Filter Services by Type
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/filter/MFilterable.js
  services/static-webserver/client/source/class/osparc/filter/NodeTypeFilter.js
Labels: t:enhancement, a:frontend

#5888 ♻️ refactor `RedisClientsManager` and `RedisClientSDK`
  packages/service-library/src/servicelib/deferred_tasks/_deferred_manager.py
  packages/service-library/src/servicelib/deferred_tasks/_redis_task_tracker.py
  packages/service-library/src/servicelib/redis.py
  packages/service-library/src/servicelib/retry_policies.py
  packages/service-library/tests/deferred_tasks/example_app.py
  packages/service-library/tests/deferred_tasks/test__base_deferred_handler.py
  packages/service-library/tests/deferred_tasks/test__redis_task_tracker.py
  packages/service-library/tests/test_redis.py
  services/director-v2/src/simcore_service_director_v2/modules/redis.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/_dependencies.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/_health.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/redis.py
  services/web/server/src/simcore_service_webserver/redis.py
Labels: a:services-library

#5935 🎨 Improve profiling middleware
  packages/service-library/src/servicelib/_utils_profiling_middleware.py
  packages/service-library/src/servicelib/aiohttp/profiler_middleware.py
  packages/service-library/src/servicelib/async_utils.py
  packages/service-library/src/servicelib/fastapi/profiler_middleware.py
  packages/service-library/src/servicelib/utils_profiling_middleware.py
  services/director-v2/tests/integration/02/utils.py
  tmp_urls.txt
Labels: t:maintenance

#5944 🐛Maintenance: disable CI problematic test
  packages/service-library/tests/test_redis_utils.py
Labels: a:services-library

#5946 🐛 disable health check for Redis client
  packages/service-library/src/servicelib/redis.py
Labels: a:services-library, t:maintenance

#5945 🐛 [Frontend bugfix] List everyone group and provide product-everyone group in potential collaborators
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsService.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/share/PublishTemplate.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/study/SaveAsTemplate.js
Labels: bug, a:frontend

#5951 🎨 [Frontend] Request Account form for Billable products
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
Labels: t:enhancement, a:frontend

#5958 🐛Bugfix: fix typo in docker-compose for CI deployment
  services/docker-compose-deploy.yml
Labels: a:infra+ops

#5949 🐛 [Frontend bugfix] patch Services access rights
  services/static-webserver/client/source/class/osparc/service/ServiceListItem.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsService.js
Labels: bug, a:frontend

#5921 ♻️ Splits models_library.services
  .vscode/extensions.json
  api/specs/director/schemas/scripts/create_node-meta-schema.py
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/models-library/src/models_library/basic_regex.py
  packages/models-library/src/models_library/function_services_catalog/_utils.py
  packages/models-library/src/models_library/function_services_catalog/api.py
  packages/models-library/src/models_library/function_services_catalog/services/demo_units.py
  packages/models-library/src/models_library/function_services_catalog/services/file_picker.py
  packages/models-library/src/models_library/function_services_catalog/services/iter_range.py
  packages/models-library/src/models_library/function_services_catalog/services/iter_sensitivity.py
  packages/models-library/src/models_library/function_services_catalog/services/nodes_group.py
  packages/models-library/src/models_library/function_services_catalog/services/parameters.py
  packages/models-library/src/models_library/function_services_catalog/services/probes.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/src/models_library/projects_nodes_io.py
  packages/models-library/src/models_library/services.py
  packages/models-library/src/models_library/services_access.py
  packages/models-library/src/models_library/services_authoring.py
  packages/models-library/src/models_library/services_base.py
  packages/models-library/src/models_library/services_constants.py
  packages/models-library/src/models_library/services_db.py
  packages/models-library/src/models_library/services_enums.py
  packages/models-library/src/models_library/services_io.py
  packages/models-library/src/models_library/services_metadata.py
  packages/models-library/src/models_library/services_regex.py
  packages/models-library/src/models_library/services_resources.py
  packages/models-library/src/models_library/services_types.py
  packages/models-library/src/models_library/utils/common_validators.py
  packages/models-library/src/models_library/utils/services_io.py
  packages/models-library/tests/test__models_fit_schemas.py
  packages/models-library/tests/test_function_services_catalog.py
  packages/models-library/tests/test_services.py
  packages/models-library/tests/test_services_io.py
  packages/service-integration/src/service_integration/_meta.py
  packages/service-integration/src/service_integration/osparc_config.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/ports_mapping.py
  scripts/common-package.Makefile
  scripts/common.Makefile
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/services/catalog.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/catalog/openapi.json
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/services/access_rights.py
  services/catalog/src/simcore_service_catalog/services/function_services.py
  services/catalog/tests/unit/test_services_function_services.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_api_routes_services__list.py
  services/catalog/tests/unit/with_dbs/test_services_access_rights.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/models.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations.py
  services/dynamic-sidecar/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/meta_modeling/_iterations.py
Labels: a:services-library

#5957 🎨 [Frontend] Refuse folder drop on Workbech
  services/static-webserver/client/source/class/osparc/file/FileDrop.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, a:frontend

#5933 🎨 [Frontend] Guided Tours: add tours for TIP
  services/static-webserver/client/source/class/osparc/About.js
  services/static-webserver/client/source/class/osparc/FlashMessenger.js
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/credits/AutoRecharge.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenterWindow.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Usage.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/notification/Notifications.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsContainer.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/product/tours/Tours.js
  services/static-webserver/client/source/class/osparc/product/tours/s4l/Tours.js
  services/static-webserver/client/source/class/osparc/product/tours/s4llite/Tours.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/task/Tasks.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/tours/List.js
  services/static-webserver/client/source/class/osparc/tours/Manager.js
  services/static-webserver/client/source/class/osparc/ui/basic/FloatingHelper.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/resource/hint/hint.css
  services/static-webserver/client/source/resource/osparc/new_studies.json
  services/static-webserver/client/source/resource/osparc/tours/s4l_tours.json
  services/static-webserver/client/source/resource/osparc/tours/tis_tours.json
Labels: a:frontend

#5960 🎨 [Frontend] Disclaimer on TIP login page
  services/static-webserver/client/source/class/osparc/announcement/AnnouncementUIFactory.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
Labels: t:enhancement, a:frontend

#5963 🎨 [Frontend] Switch to iframe's content also after 302 response
  services/static-webserver/client/source/class/osparc/data/model/Node.js
Labels: t:enhancement, a:frontend

#5967 🎨 [Frontend] Highlight elements in Guided Tour
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
  services/static-webserver/client/source/class/osparc/tours/Manager.js
  services/static-webserver/client/source/resource/osparc/tours/tis_tours.json
Labels: t:enhancement, a:frontend

#5968 🐛 [Frontend] Log fetch call's response to running service
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: bug, a:frontend

#5970 🐛 [Frontend] Stringify fetch response
  services/static-webserver/client/source/class/osparc/data/model/Node.js
Labels: bug, a:frontend

#5962 🔨 Enhance diagnostics info in e2e testing
  tests/e2e-playwright/README.md
  tests/e2e-playwright/tests/conftest.py
Labels: t:maintenance, e2e

#5972 🐛E2E: --product-url is an url not a string
  tests/e2e-playwright/tests/conftest.py
Labels: e2e

#5971 🎨 [Frontend] Team Black feedback 20.06
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsContainer.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, a:frontend

#5927 🎨 👽️ Improve start job endpoint in webserver and improve error handling in api-server
  .vscode/launch.template.json
  api/specs/web-server/_computations.py
  services/api-server/VERSION
  services/api-server/openapi.json
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
  services/api-server/src/simcore_service_api_server/exceptions/handlers/__init__.py
  services/api-server/src/simcore_service_api_server/exceptions/handlers/_handlers_backend_errors.py
  services/api-server/src/simcore_service_api_server/exceptions/service_errors_utils.py
  services/api-server/src/simcore_service_api_server/services/catalog.py
  services/api-server/src/simcore_service_api_server/services/director_v2.py
  services/api-server/src/simcore_service_api_server/services/solver_job_outputs.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/mocks/start_solver_job.json
  services/api-server/tests/unit/.swp
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_delete.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_logs.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_metadata.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_read.py
  services/api-server/tests/unit/api_studies/test_api_routers_studies_jobs_metadata.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies_jobs.py
  services/api-server/tests/unit/test__fastapi.py
  services/api-server/tests/unit/test_api__study_workflows.py
  services/api-server/tests/unit/test_api_solver_jobs.py
  services/api-server/tests/unit/test_exceptions.py
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: a:apiserver

#5978 ♻️🐛Storage: disable handling of dangling multipart uploads
  .coveragerc
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/fixtures/data_models.py
  services/storage/tests/unit/test_dsm_dsmcleaner.py
  services/storage/tests/unit/test_handlers_simcore_s3.py
Labels: a:storage

#5966 ✨ Auto inject osparc environments to dynamic services
  packages/models-library/src/models_library/service_settings_labels.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/substitutions.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/test_modules_osparc_variables.py
Labels: a:director-v2

#5984 ♻️E2E: Classic TI wait a bit longer on Run Optimization step
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: e2e

#5989 🐛 Fixes error while updated study with long description
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/basic_types.py
  packages/models-library/tests/test_projects.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: a:webserver

#5985 👽️ Add endpoint for getting credit-price and study-job log files from api server
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_calls_capture_models.py
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/credits.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
  services/api-server/src/simcore_service_api_server/services/director_v2.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/mocks/create_study_job.json
  services/api-server/tests/mocks/for_test_api_routes_studies.json
  services/api-server/tests/mocks/for_test_get_and_update_job_metadata.json
  services/api-server/tests/mocks/get_credits_price.json
  services/api-server/tests/mocks/get_default_wallet.json
  services/api-server/tests/mocks/get_job_pricing_unit_invalid_solver.json
  services/api-server/tests/mocks/get_job_pricing_unit_success.json
  services/api-server/tests/mocks/get_solver_outputs.json
  services/api-server/tests/mocks/get_study_job_logs.json
  services/api-server/tests/mocks/on_create_job.json
  services/api-server/tests/mocks/on_list_jobs.json
  services/api-server/tests/mocks/run_study_workflow.json
  services/api-server/tests/mocks/start_job_not_enough_credit.json
  services/api-server/tests/mocks/start_job_with_payment.json
  services/api-server/tests/mocks/test_get_and_update_study_job_metadata.json
  services/api-server/tests/unit/api_studies/test_api_routes_studies_jobs.py
  services/api-server/tests/unit/test_credits.py
Labels: a:apiserver

#5980 🎨 [Frontend] TIP v3 Feedback
  services/static-webserver/client/Manifest.json
  services/static-webserver/client/qx-lock.json
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorButton.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsNavBarContainer.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/credits/WalletsMiniViewer.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/resource/osparc/new_studies.json
Labels: t:enhancement, a:frontend

#5994 🐛 Fixes mismatch on error status-code for start-computation
  api/specs/web-server/_computations.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/web/server/tests/integration/02/test_computation.py
Labels: a:frontend, a:director-v2

#5997 🎨 Maintenance: Add new concurrency tooling
  packages/service-library/src/servicelib/utils.py
  packages/service-library/tests/test_archiving_utils.py
  packages/service-library/tests/test_archiving_utils_extra.py
  packages/service-library/tests/test_utils.py
  scripts/mypy.bash
  scripts/mypy/Dockerfile
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
Labels: a:services-library

#5993 ✨ [Frontend] Coins icon for the credits indicator
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsImage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorButton.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/ui/basic/SVGImage.js
  services/static-webserver/client/source/class/osparc/ui/basic/Thumbnail.js
  services/static-webserver/client/source/class/osparc/ui/layout/CenteredGrid.js
  services/static-webserver/client/source/resource/osparc/coins-solid.svg
Labels: t:enhancement, a:frontend

#5996 🎨 Fixes Deprecation Warning on redis and aiohttp
  packages/pytest-simcore/src/pytest_simcore/redis_service.py
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/aiohttp/rest_models.py
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
  packages/service-library/tests/aiohttp/test_rest_responses.py
  services/web/server/src/simcore_service_webserver/director_v2/_handlers.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: t:maintenance

#5999 ✨ dynamic-sidecar logs changes to input ports
  packages/service-library/src/servicelib/file_utils.py
  packages/service-library/tests/test_file_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
Labels: t:maintenance

#5981 ♻️Storage: refactoring
  packages/aws-library/requirements/_test.in
  packages/aws-library/requirements/_test.txt
  packages/aws-library/src/aws_library/s3/__init__.py
  packages/aws-library/src/aws_library/s3/_client.py
  packages/aws-library/src/aws_library/s3/_constants.py
  packages/aws-library/src/aws_library/s3/_error_handler.py
  packages/aws-library/src/aws_library/s3/_errors.py
  packages/aws-library/src/aws_library/s3/_models.py
  packages/aws-library/src/aws_library/s3/_utils.py
  packages/aws-library/src/aws_library/s3/client.py
  packages/aws-library/src/aws_library/s3/errors.py
  packages/aws-library/tests/conftest.py
  packages/aws-library/tests/test_aiobotocore.py
  packages/aws-library/tests/test_s3_client.py
  packages/aws-library/tests/test_s3_utils.py
  packages/models-library/src/models_library/api_schemas_storage.py
  packages/pytest-simcore/src/pytest_simcore/file_extra.py
  packages/pytest-simcore/src/pytest_simcore/helpers/parametrizations.py
  packages/pytest-simcore/src/pytest_simcore/helpers/s3.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/s3.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/resource_tracker_service_runs.py
  services/storage/src/simcore_service_storage/application.py
  services/storage/src/simcore_service_storage/constants.py
  services/storage/src/simcore_service_storage/handlers_health.py
  services/storage/src/simcore_service_storage/long_running_tasks.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/src/simcore_service_storage/s3.py
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/s3_utils.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm_utils.py
  services/storage/src/simcore_service_storage/utils_handlers.py
  services/storage/tests/conftest.py
  services/storage/tests/fixtures/data_models.py
  services/storage/tests/helpers/utils_file_meta_data.py
  services/storage/tests/helpers/utils_project.py
  services/storage/tests/unit/conftest.py
  services/storage/tests/unit/test__openapi_specs.py
  services/storage/tests/unit/test_dsm.py
  services/storage/tests/unit/test_dsm_dsmcleaner.py
  services/storage/tests/unit/test_handlers_datasets.py
  services/storage/tests/unit/test_handlers_files.py
  services/storage/tests/unit/test_handlers_health.py
  services/storage/tests/unit/test_handlers_simcore_s3.py
  services/storage/tests/unit/test_handlers_simcore_s3_benchmark.py
  services/storage/tests/unit/test_s3.py
  services/storage/tests/unit/test_s3_client.py
  services/storage/tests/unit/test_settings.py
  services/storage/tests/unit/test_simcore_s3_dsm.py
  services/storage/tests/unit/test_utils_handlers.py
Labels: a:storage, a:aws-library

#6008 ⬆️Maintenance: upgrade uv to 0.2 in Dockerfiles
  packages/postgres-database/docker/Dockerfile
  packages/service-integration/Dockerfile
  requirements/tools/Dockerfile
  scripts/mypy/Dockerfile
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/osparc-gateway-server/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Labels: a:infra+ops

#6009 ⬆️Maintenance: upgraded aioboto3
  packages/aws-library/requirements/_base.txt
  packages/aws-library/requirements/_test.txt
  packages/aws-library/tests/test_s3_client.py
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/requirements/constraints.txt
  services/agent/requirements/_test.txt
  services/agent/requirements/constraints.txt
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/director-v2/requirements/_test.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/efs-guardian/requirements/_base.txt
  services/efs-guardian/requirements/_test.txt
  services/efs-guardian/requirements/_tools.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
Labels: a:infra+ops
