Repository ITISFoundation/osparc-simcore, pull requests merged in 2024-11, with the labels that each got.

#6645 ⬆️ Update from upstream/master (do not squash!)
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.in
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_models.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_monitor.py
  services/dynamic-scheduler/tests/assets/legacy_tracked_service_model.bin
  services/dynamic-scheduler/tests/unit/service_tracker/test__models.py
  services/dynamic-scheduler/tests/unit/status_monitor/test_services_status_monitor__monitor.py
  services/efs-guardian/src/simcore_service_efs_guardian/core/application.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/efs_manager.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/fire_and_forget_setup.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/modules/rabbitmq.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/process_messages.py
  services/efs-guardian/tests/conftest.py
  services/efs-guardian/tests/unit/test_efs_manager.py
  services/efs-guardian/tests/unit/test_process_messages.py
  services/osparc-gateway-server/requirements/_test.txt
  services/osparc-gateway-server/tests/system/requirements/_test.txt
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTreeItem.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/widget/NodeTreeItem.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageController.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
  services/web/server/requirements/_base.txt
  tests/e2e-frontend/tests/fixtures/loginPage.js
  tests/e2e-frontend/tests/navigationBar/navigationBar.spec.js
  tests/e2e-frontend/tests/studyBrowser/leftFilters.spec.js
  tests/e2e-frontend/tests/studyBrowser/mainView.spec.js
  tests/e2e-frontend/tests/userMenu/userMenuButtons.spec.js
  tests/e2e-frontend/tests/userMenu/userMenuWindows.spec.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/utils.js
Labels: a:infra+ops, t:maintenance

#6646 🐛 [Frontend] Fix: Selected Pricing Unit bgColor
  services/static-webserver/client/source/class/osparc/service/PricingUnitsList.js
  services/static-webserver/client/source/class/osparc/study/PricingUnits.js
Labels: bug, a:frontend

#6647 ♻️Pydantic V2 migration: various fixes
  packages/aws-library/tests/test_s3_client.py
  packages/models-library/src/models_library/docker.py
  packages/postgres-database/tests/test_utils_projects.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/agent/volumes.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/dynamic_sidecar/disk_usage.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/service_runs.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/aws_s3_cli_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/nodeports_v2.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/tests/integration/conftest.py
  packages/simcore-sdk/tests/integration/test_node_data_data_manager.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_aws_s3_cli.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_r_clone.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_utils.py
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_models.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_manager.py
  services/dynamic-sidecar/tests/unit/test_modules_notifier.py
  services/osparc-gateway-server/src/osparc_gateway_server/backend/models.py
  services/payments/src/simcore_service_payments/services/payments_gateway.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/resource_tracker_utils.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/resource_tracker_service_runs.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_service_runs__export.py
Labels: a:infra+ops, t:maintenance

#6650 ⬆️Update upstream/master 7
  .env-devel
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/src/servicelib/logging_utils_filtering.py
  packages/service-library/tests/test_logging_utils_filtering.py
  services/agent/src/simcore_service_agent/core/application.py
  services/agent/src/simcore_service_agent/core/settings.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/main.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/main.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/main.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/docker-compose.yml
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/main.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/efs-guardian/src/simcore_service_efs_guardian/core/settings.py
  services/efs-guardian/src/simcore_service_efs_guardian/main.py
  services/invitations/src/simcore_service_invitations/core/settings.py
  services/invitations/src/simcore_service_invitations/main.py
  services/payments/src/simcore_service_payments/core/settings.py
  services/payments/src/simcore_service_payments/main.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/settings.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/web_main.py
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/service/PricingUnitsList.js
  services/static-webserver/client/source/class/osparc/study/PricingUnits.js
  services/static-webserver/client/source/class/osparc/widget/NodeOutputs.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageController.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
  services/storage/src/simcore_service_storage/cli.py
  services/storage/src/simcore_service_storage/settings.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/log.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/conftest.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/conftest.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
Labels: a:infra+ops, t:maintenance

#6651 ⬆️ Pydantic V2: after upstream merge -> fixes
  services/agent/src/simcore_service_agent/core/settings.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/efs-guardian/src/simcore_service_efs_guardian/core/settings.py
  services/invitations/src/simcore_service_invitations/core/settings.py
  services/payments/src/simcore_service_payments/core/settings.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/settings.py
  services/storage/src/simcore_service_storage/settings.py
  services/web/server/src/simcore_service_webserver/application_settings.py
Labels: a:infra+ops, t:maintenance

#6654 ♻️ Changing == by is_ in sqlalchemy queries
  scripts/maintenance/migrate_project/src/db.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_catalog.py
Labels: t:maintenance

#6659 🐛 [Frontend] Fix Service browser
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: bug, a:frontend

#6663 ♻️ introduce webserver 4 tests
  .github/workflows/ci-testing-deploy.yml
  services/web/server/tests/unit/with_dbs/04/conftest.py
  services/web/server/tests/unit/with_dbs/04/folders/conftest.py
  services/web/server/tests/unit/with_dbs/04/folders/test_folders.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications__db_comp_tasks_listening_task.py
  services/web/server/tests/unit/with_dbs/04/products/conftest.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_db.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_handlers.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_rpc.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/conftest.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/04/wallets/conftest.py
  services/web/server/tests/unit/with_dbs/04/wallets/payments/conftest.py
  services/web/server/tests/unit/with_dbs/04/wallets/payments/test_payments.py
  services/web/server/tests/unit/with_dbs/04/wallets/payments/test_payments_methods.py
  services/web/server/tests/unit/with_dbs/04/wallets/payments/test_payments_rpc.py
  services/web/server/tests/unit/with_dbs/04/wallets/test_wallets.py
  services/web/server/tests/unit/with_dbs/04/wallets/test_wallets_groups.py
  services/web/server/tests/unit/with_dbs/04/workspaces/conftest.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__folders_and_projects_crud.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__list_projects_full_search.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_projects_between_workspaces.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces_groups.py
Labels: t:maintenance

#6648 ♻️ Refactor RUT (renaming/rearranging/error handling)
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/errors.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/resource-usage-tracker/docker/boot.sh
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rest/_health.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rest/_resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rest/dependencies.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/routes.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/application.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/errors.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/exceptions/__init__.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/exceptions/errors.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/exceptions/handlers/__init__.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/exceptions/handlers/_http_error.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/main.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/pricing_plans.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/pricing_unit_costs.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/pricing_units.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/service_runs.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/prometheus.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/background_task_periodic_heartbeat_check.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/background_task_periodic_heartbeat_check_setup.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/__init__.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/__init__.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/repositories/__init__.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/repositories/_base.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/repositories/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/rabbitmq.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/redis.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/s3.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/pricing_plans.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/pricing_units.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service_setup.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/service_runs.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/utils.py
  services/resource-usage-tracker/tests/unit/api_rest/test_api_meta.py
  services/resource-usage-tracker/tests/unit/conftest.py
  services/resource-usage-tracker/tests/unit/modules/test_rabbitmq.py
  services/resource-usage-tracker/tests/unit/modules/test_redis.py
  services/resource-usage-tracker/tests/unit/test_computation_of_credits.py
  services/resource-usage-tracker/tests/unit/test_main.py
  services/resource-usage-tracker/tests/unit/with_dbs/conftest.py
  services/resource-usage-tracker/tests/unit/with_dbs/data/list_of_prometheus_mocked_outputs.json
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_service_runs__export.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_service_runs__list_billable.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_background_task_periodic_heartbeat_check.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_with_billing.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_with_billing_cost_0.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_admin_handlers.py
Labels: a:resource-usage-tracker

#6652 ♻️Director-v2: refactor computational scheduler
  packages/service-library/src/servicelib/background_task.py
  packages/service-library/tests/test_background_task.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/scheduler.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_factory.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_task.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/background_task.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/_helpers.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director/requirements/_tools.in
  services/director/requirements/_tools.txt
Labels: a:director-v2

#6660 🐛 Avoids raising error when composing disk usage
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/system_monitor/_disk_usage.py
Labels: a:dynamic-sidecar

#6561 🎨 Tracing: Add more autoinstrumentation, enhance `setup_tracing()` - DON'T DELETE PR BRANCH
  packages/aws-library/requirements/_base.in
  packages/aws-library/requirements/_base.txt
  packages/postgres-database/requirements/_base.in
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_tools.txt
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/src/servicelib/fastapi/tracing.py
  packages/service-library/tests/aiohttp/test_tracing.py
  packages/service-library/tests/conftest.py
  packages/service-library/tests/fastapi/test_tracing.py
  packages/service-library/tests/rabbitmq/test_rabbitmq.py
  packages/simcore-sdk/requirements/_base.in
  packages/simcore-sdk/requirements/_base.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_tools.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/efs-guardian/requirements/_test.txt
  services/invitations/requirements/_base.txt
  services/opentelemetry-collector-config.yaml
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/src/simcore_service_storage/application.py
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/src/simcore_service_webserver/tracing.py
Labels: t:enhancement

#6656 ♻️ Using iso timedelta in settings
  .env-devel
  services/agent/src/simcore_service_agent/core/settings.py
  services/agent/src/simcore_service_agent/services/volumes_manager.py
Labels: t:maintenance

#6672 🔨Cluster monitoring script: update due to latest changes in osparc-config
  scripts/maintenance/computational-clusters/autoscaled_monitor/cli.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/constants.py
Labels: a:infra+ops

#6670 🎨 [Frontend] Highlight workbench elements
  services/static-webserver/client/source/class/osparc/file/FileDrop.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/info/StudyMedium.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/service/ServiceListItem.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/widget/NodesTree.js
  services/static-webserver/client/source/class/osparc/widget/Renamer.js
  services/static-webserver/client/source/class/osparc/widget/StudyTitleOnlyTree.js
  services/static-webserver/client/source/class/osparc/workbench/BaseNodeUI.js
  services/static-webserver/client/source/class/osparc/workbench/EdgeUI.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, a:frontend

#6640 ♻️ Enhanced groups/organizations web-api specs and validation 🚨
  api/specs/web-server/_groups.py
  packages/models-library/src/models_library/api_schemas_webserver/groups.py
  packages/models-library/src/models_library/utils/common_validators.py
  packages/models-library/tests/test_api_schemas_webserver_groups.py
  packages/service-library/tests/test_archiving_utils.py
  packages/service-library/tests/test_async_utils.py
  services/dynamic-sidecar/tests/unit/test_api_rest_containers.py
  services/storage/tests/unit/test_utils.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/groups/_db.py
  services/web/server/src/simcore_service_webserver/groups/_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_utils.py
  services/web/server/src/simcore_service_webserver/groups/api.py
  services/web/server/src/simcore_service_webserver/groups/exceptions.py
  services/web/server/src/simcore_service_webserver/users/schemas.py
  services/web/server/tests/unit/isolated/test_groups_models.py
  services/web/server/tests/unit/with_dbs/01/test_groups.py
Labels: a:webserver, a:api

#6661 🎨 [Frontend] Improve Notification texts and Bell's UX
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/MainPageDesktop.js
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/notification/Notification.js
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/notification/Notifications.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsButton.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/users/_notifications.py
  services/web/server/tests/unit/isolated/test_user_notifications.py
  services/web/server/tests/unit/with_dbs/03/test_users__notifications.py
Labels: t:enhancement, a:frontend

#6634 🐛 do not send bps metrics where they are less than 1
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/instrumentation/_models.py
  services/director-v2/src/simcore_service_director_v2/modules/instrumentation/_utils.py
  services/director-v2/tests/unit/test_modules_instrumentation__utils.py
Labels: t:maintenance, a:director-v2

#6676 🎨 [Frontend] UX: Organization member's management
  services/static-webserver/client/source/class/osparc/data/Roles.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/SharedResourceListItem.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/TemplatesList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MemberListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItemWithMenu.js
  services/static-webserver/client/source/class/osparc/ui/list/OrganizationListItem.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: t:enhancement, a:frontend

#6679 🎨🐛 [Frontend] Notifications: disable unknown resources
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
Labels: t:enhancement, bug, a:frontend

#6683 🎨 [Frontend] Rephrase sharing messages
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ClustersPage.js
  services/static-webserver/client/source/class/osparc/node/UpdateResourceLimitsView.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsService.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsWorkspace.js
Labels: t:enhancement, a:frontend

#6685 🐛 [Frontend] Highlight default Pricing Unit
  services/static-webserver/client/source/class/osparc/study/PricingUnits.js
Labels: bug, a:frontend

#6682 ♻️ tracing can be disabled on all services
  .env-devel
  services/api-server/tests/unit/conftest.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/catalog/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/conftest.py
  services/director-v2/tests/conftest.py
  services/docker-compose.yml
  services/dynamic-scheduler/tests/conftest.py
  services/invitations/tests/unit/conftest.py
  services/payments/tests/conftest.py
  services/storage/tests/conftest.py
Labels: bug, t:maintenance

#6642 ✨ Trash folders
  api/specs/web-server/_folders.py
  api/specs/web-server/_projects_crud.py
  api/specs/web-server/_trash.py
  packages/models-library/src/models_library/api_schemas_webserver/folders.py
  packages/models-library/src/models_library/api_schemas_webserver/folders_v2.py
  packages/models-library/src/models_library/folders.py
  packages/models-library/src/models_library/projects.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/5ad02358751a_project_and_folder_trash_columns.py
  packages/postgres-database/src/simcore_postgres_database/models/folders_v2.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_projects.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/errors.py
  services/web/server/src/simcore_service_webserver/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_folders_api.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/folders/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/src/simcore_service_webserver/folders/_trash_api.py
  services/web/server/src/simcore_service_webserver/folders/_trash_handlers.py
  services/web/server/src/simcore_service_webserver/folders/plugin.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_trash_api.py
  services/web/server/src/simcore_service_webserver/projects/_trash_handlers.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/models.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_api.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/03/test_trash.py
  services/web/server/tests/unit/with_dbs/04/folders/test_folders.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
  tests/e2e/tutorials/sleepers_project_template_sql.csv
Labels: a:webserver, a:api

#6687 🎨 [Frontend] Enhance: syncing tree
  services/static-webserver/client/source/class/osparc/dashboard/MoveResourceTo.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/editor/OrganizationEditor.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/service/ServiceListItem.js
  services/static-webserver/client/source/class/osparc/widget/NodesTree.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, a:frontend

#6658 🎨 Add examples to pydantic response models
  packages/models-library/src/models_library/api_schemas_webserver/product.py
  packages/models-library/src/models_library/api_schemas_webserver/resource_usage.py
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  packages/pytest-simcore/src/pytest_simcore/pydantic_models.py
  packages/pytest-simcore/src/pytest_simcore/simcore_webserver_projects_rest_api.py
  scripts/openapi-diff.bash
  services/api-server/Makefile
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/models/schemas/files.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/meta.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/mocks/create_study_job.json
  services/api-server/tests/mocks/for_test_api_routes_studies.json
  services/api-server/tests/mocks/get_job_outputs.json
  services/api-server/tests/mocks/get_job_pricing_unit_invalid_solver.json
  services/api-server/tests/mocks/get_job_pricing_unit_success.json
  services/api-server/tests/mocks/get_solver_outputs.json
  services/api-server/tests/mocks/get_solver_pricing_plan_success.json
  services/api-server/tests/mocks/on_list_jobs.json
  services/api-server/tests/mocks/run_study_workflow.json
  services/api-server/tests/mocks/start_job_not_enough_credit.json
  services/api-server/tests/mocks/start_job_with_payment.json
  services/api-server/tests/mocks/test_get_and_update_study_job_metadata.json
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
Labels: a:apiserver

#6694 ✨Computational backend: persist cancellation request
  packages/postgres-database/src/simcore_postgres_database/migration/versions/8bfe65a5e294_add_cancellation_mark.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_factory.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
Labels: a:director-v2

#6699 🎨 [Frontend] UX: New Workspace and New Organization
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/editor/OrganizationEditor.js
  services/static-webserver/client/source/class/osparc/editor/WorkspaceEditor.js
  services/static-webserver/client/source/class/osparc/store/Workspaces.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/resource/osparc/tours/s4l_tours.json
Labels: t:enhancement, a:frontend, UX_improvements

#6688 ♻️ Migrates folders and workspaces repositories to asyncpg
  services/web/server/src/simcore_service_webserver/folders/_folders_api.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/folders/_trash_api.py
  services/web/server/src/simcore_service_webserver/workspaces/_groups_db.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_db.py
Labels: a:webserver, t:maintenance

#6707 🔨 Fix: e2e Performance Tests in CI
  tests/performance/Makefile
  tests/performance/locust_files/platform_ping_test.py
  tests/performance/locust_settings.py
Labels: e2e

#6705 ✅ Extends test_EC2_INSTANCES_ALLOWED_TYPES_empty_not_allowed
  services/autoscaling/tests/unit/test_core_settings.py
Labels: t:maintenance, a:autoscaling

#6703 ✨ introduce folder full search
  api/specs/web-server/_folders.py
  packages/models-library/src/models_library/folders.py
  packages/postgres-database/src/simcore_postgres_database/utils_sql.py
  packages/postgres-database/src/simcore_postgres_database/utils_workspaces_sql.py
  services/storage/src/simcore_service_storage/db_access_layer.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/folders/_folders_api.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/folders/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_db.py
  services/web/server/tests/unit/with_dbs/04/folders/test_folders__full_search.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__list_folders_full_search.py
Labels: a:webserver

#6700 🎨Maintenance: make redis client use the client name to ease debugging
  packages/service-library/src/servicelib/redis.py
  packages/service-library/tests/conftest.py
  packages/service-library/tests/deferred_tasks/example_app.py
  packages/service-library/tests/deferred_tasks/test__base_deferred_handler.py
  packages/service-library/tests/test_pools.py
  packages/service-library/tests/test_redis.py
  packages/service-library/tests/test_redis__reconection.py
  packages/service-library/tests/test_utils.py
  services/autoscaling/src/simcore_service_autoscaling/modules/redis.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters_management_task.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/redis.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_task.py
  services/director-v2/src/simcore_service_director_v2/modules/redis.py
  services/director-v2/tests/unit/test_utils_distributed_identifier.py
  services/director/requirements/_tools.txt
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/redis.py
  services/dynamic-scheduler/tests/conftest.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/modules/redis.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/_meta.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/redis.py
  services/storage/src/simcore_service_storage/redis.py
  services/web/server/src/simcore_service_webserver/redis.py
Labels: a:services-library, t:maintenance

#6681 🎨 [Frontend] Make the Light Theme less white
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/node/BootOptionsView.js
  services/static-webserver/client/source/class/osparc/node/LifeCycleView.js
  services/static-webserver/client/source/class/osparc/node/UpdateResourceLimitsView.js
  services/static-webserver/client/source/class/osparc/notification/RibbonNotifications.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/widget/NodeOptions.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
Labels: t:enhancement, a:frontend

#6716 🐛 folder full search adding text query parameter
  api/specs/web-server/_folders.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/folders/_folders_api.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/folders/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/tests/unit/with_dbs/04/folders/test_folders__full_search.py
Labels: a:webserver

#6713 ✨ [Frontend] Enh: ``:search`` also ``/folders``
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Labels: t:enhancement, a:frontend

#6717 🎨🐛 Enh/fix: frontend knows about ``trashedAt``
  services/static-webserver/client/source/class/osparc/data/model/Folder.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
Labels: t:enhancement, a:frontend

#6710 🐛 [Frontend] TIP: New plan after creating its template
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
Labels: a:frontend

#6718 🐛 Fix listing folders in workspace
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__folders_and_projects_crud.py
Labels: a:webserver

#6706 🎨 [Frontend] UX: Create Study from Template
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/node/TierSelectionView.js
  services/static-webserver/client/source/class/osparc/study/NodePricingUnits.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/study/StudyPricingUnits.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Labels: t:enhancement, a:frontend, UX_improvements

#6696 🎨Computation backend: refactor director-v2 internal computational scheduler to be less resource heavy
  packages/service-library/src/servicelib/redis_utils.py
  packages/service-library/tests/test_redis_utils.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_factory.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_task.py
  services/director-v2/src/simcore_service_director_v2/modules/redis.py
  services/director-v2/tests/unit/_helpers.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
Labels: a:director-v2

#6691 🎨 Adding tracing to `agent` and `dynamic-sidecar` (🏗️ DEVOPS)
  .env-devel
  services/agent/src/simcore_service_agent/core/application.py
  services/agent/src/simcore_service_agent/core/settings.py
  services/agent/tests/conftest.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/docker-compose-ops.yml
  services/docker-compose.yml
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/tests/conftest.py
Labels: t:maintenance

#6720 🎨 [Frontend] Enh: Tag management
  services/static-webserver/client/source/class/osparc/NewRelease.js
  services/static-webserver/client/source/class/osparc/NewUITracker.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/data/model/Tag.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/MainPageDesktop.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/filter/UserTagsFilter.js
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
  services/static-webserver/client/source/class/osparc/form/tag/TagToggleButton.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsContainer.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/store/Tags.js
  services/static-webserver/client/source/class/osparc/ui/basic/Tag.js
Labels: t:enhancement, a:frontend

#6662 🐛 Fix healthcheck in api-server
  services/api-server/src/simcore_service_api_server/core/health_checker.py
Labels: bug, e2e, a:apiserver

#6722 ✨ add project tags to RUT listing/export
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/service_runs.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/8e1f83486be7_enhance_projects_tags_for_rut.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_tags.py
  packages/postgres-database/src/simcore_postgres_database/utils_tags_sql.py
  packages/postgres-database/tests/test_utils_tags.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/service_runs.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/repositories/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/service_runs.py
  services/resource-usage-tracker/tests/unit/with_dbs/conftest.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/tests/unit/with_dbs/03/resource_usage/test_usage_services__list.py
Labels: a:webserver, a:resource-usage-tracker

#6723 ✨ [Frontend] Feature: Announcement generator
  services/static-webserver/client/source/class/osparc/admin/AdminCenter.js
  services/static-webserver/client/source/class/osparc/admin/Announcements.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
Labels: t:enhancement, a:frontend

#6731 🐛 [e2e-playwright] Fix tests
  tests/e2e-playwright/tests/conftest.py
Labels: e2e

#6735 🐛 [e2e-playwright] Fix tests, 2nd attempt
  tests/e2e-playwright/tests/conftest.py
Labels: e2e

#6733 ♻️Fixed Unit test director v2
  packages/models-library/src/models_library/clusters.py
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
Labels: t:maintenance

#6741 ♻️ Migrate scripts (Pydantic v2)
  scripts/demo-meta/meta_modeling_results.py
  scripts/demo-meta/osparc_webapi.py
  scripts/demo-meta/requirements.txt
Labels: t:maintenance

#6739 🎨 Improving E2E tests: `expected_service_running`
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  tests/e2e-playwright/requirements/_test.in
  tests/e2e-playwright/requirements/_test.txt
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: e2e

#6744 ⬆️PydanticV2: Update from master
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/service_runs.py
  packages/models-library/src/models_library/clusters.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/8e1f83486be7_enhance_projects_tags_for_rut.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_tags.py
  packages/postgres-database/src/simcore_postgres_database/utils_tags_sql.py
  packages/postgres-database/tests/test_utils_tags.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  services/api-server/src/simcore_service_api_server/core/health_checker.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_factory.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/service_runs.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/repositories/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/service_runs.py
  services/resource-usage-tracker/tests/unit/with_dbs/conftest.py
  services/static-webserver/client/source/class/osparc/admin/AdminCenter.js
  services/static-webserver/client/source/class/osparc/admin/Announcements.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/tests/unit/with_dbs/03/resource_usage/test_usage_services__list.py
  tests/e2e-playwright/requirements/_test.in
  tests/e2e-playwright/requirements/_test.txt
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: t:maintenance

#6746 🎨 adding `asyncpg` to director-v2
  services/director-v2/src/simcore_service_director_v2/modules/db/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/db/_asyncpg.py
Labels: t:maintenance, a:director-v2

#6737 🎨 web-server api: ordering parameters and simplified openapi specs for complex query parameters
  api/specs/web-server/_common.py
  api/specs/web-server/_folders.py
  api/specs/web-server/_groups.py
  api/specs/web-server/_projects_crud.py
  api/specs/web-server/_resource_usage.py
  api/specs/web-server/_trash.py
  packages/models-library/src/models_library/rest_base.py
  packages/models-library/src/models_library/rest_ordering.py
  packages/models-library/src/models_library/rest_pagination.py
  packages/models-library/src/models_library/utils/common_validators.py
  packages/models-library/tests/test_rest_ordering.py
  packages/pytest-simcore/src/pytest_simcore/helpers/assert_checks.py
  packages/service-library/src/servicelib/aiohttp/requests_validation.py
  packages/service-library/src/servicelib/fastapi/openapi.py
  packages/service-library/tests/aiohttp/test_requests_validation.py
  packages/service-library/tests/fastapi/test_request_decorators.py
  services/agent/src/simcore_service_agent/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api_keys/_handlers.py
  services/web/server/src/simcore_service_webserver/clusters/_handlers.py
  services/web/server/src/simcore_service_webserver/director_v2/_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/src/simcore_service_webserver/long_running_tasks.py
  services/web/server/src/simcore_service_webserver/models.py
  services/web/server/src/simcore_service_webserver/products/_handlers.py
  services/web/server/src/simcore_service_webserver/products/_invitations_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_common_models.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_admin_handlers.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_handlers.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_handlers.py
  services/web/server/src/simcore_service_webserver/tags/schemas.py
  services/web/server/src/simcore_service_webserver/users/_preferences_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_handlers.py
  services/web/server/tests/unit/with_dbs/03/resource_usage/test_usage_services__list.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces.py
Labels: a:webserver

#6740 🐛 [e2e] Fix tests, 3rd attempt
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/node/slideshow/NodeView.js
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
  tests/e2e-playwright/tests/conftest.py
  tests/e2e/portal-files/VTK_file.js
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/BIOS_VNS_Calibrator.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Kember.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/publications/SarValidation.js
  tests/e2e/publications/Voila.js
  tests/e2e/s4l/sim4life-dipole.js
  tests/e2e/s4l/sim4life-lite.js
  tests/e2e/s4l/sim4life.js
  tests/e2e/tutorials/isolve-gpu.js
  tests/e2e/tutorials/isolve-mpi.js
  tests/e2e/tutorials/jupyterlabs.js
  tests/e2e/tutorials/rclone_large.js
  tests/e2e/tutorials/rclone_small.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/ti-plan.js
  tests/e2e/tutorials/tutorialBase.js
Labels: e2e

#6751 🐛 Fixed webserver API endpoints
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
Labels: t:maintenance

#6748 Fixed broken cMIS export when service description was missing
  services/web/server/src/simcore_service_webserver/exporter/_formatter/_sds.py
Labels: bug, t:maintenance

#6745 ✨ [Frontend] Tester Center
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TesterPage.js
  services/static-webserver/client/source/class/osparc/file/FolderViewer.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/tester/Statics.js
  services/static-webserver/client/source/class/osparc/tester/TesterCenter.js
  services/static-webserver/client/source/class/osparc/tester/TesterCenterWindow.js
  services/static-webserver/client/source/class/osparc/tester/WebSocketMessages.js
  services/static-webserver/client/source/class/osparc/ui/basic/JsonTreeWidget.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerView.js
  services/static-webserver/client/source/class/osparc/wrapper/WebSocket.js
Labels: t:enhancement, a:frontend

#6755 ⬆️Pydantic V2: Migrate director v0 + some fixes from query PR
  api/specs/web-server/_common.py
  packages/common-library/src/common_library/pydantic_fields_extension.py
  packages/models-library/src/models_library/basic_types.py
  packages/models-library/src/models_library/rest_ordering.py
  packages/models-library/src/models_library/utils/common_validators.py
  packages/models-library/tests/test_rest_ordering.py
  packages/service-library/src/servicelib/aiohttp/requests_validation.py
  packages/service-library/tests/aiohttp/test_requests_validation.py
  packages/settings-library/src/settings_library/application.py
  scripts/maintenance/migrate_project/src/models.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director/requirements/_base.in
  services/director/requirements/_base.txt
  services/director/requirements/ci.txt
  services/director/requirements/dev.txt
  services/director/requirements/prod.txt
  services/director/src/simcore_service_director/client_session.py
  services/director/src/simcore_service_director/core/application.py
  services/director/src/simcore_service_director/core/errors.py
  services/director/src/simcore_service_director/core/settings.py
  services/director/src/simcore_service_director/services_common.py
  services/director/tests/unit/api/test_rest_services.py
  services/director/tests/unit/test__model_examples.py
  services/director/tests/unit/test_cli.py
  services/director/tests/unit/test_core_settings.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_handlers.py
  services/web/server/tests/unit/with_dbs/03/resource_usage/test_usage_services__list.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces.py
Labels: a:director, a:services-library, a:models-library

#6760 🎨 Ensure profiling middleware is compatible with fastapi
  packages/service-library/src/servicelib/fastapi/profiler_middleware.py
Labels: t:enhancement

#6759 ♻️ improving e2e tests (socketio reconnect)
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/sim4life/test_template.py
  tests/e2e-playwright/tests/sleepers/test_sleepers.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: t:maintenance, e2e

#6762 🎨 [Frontend] Check all linked nodes exist before loading Study
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/MainPageHandler.js
Labels: t:enhancement, a:frontend

#6766 🎨 [e2e][Frontend] Folders and Workspaces related test-ids
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTreeItem.js
  services/static-webserver/client/source/class/osparc/editor/FolderEditor.js
  services/static-webserver/client/source/class/osparc/editor/WorkspaceEditor.js
Labels: t:enhancement, a:frontend

#6763 ♻️Pydantic V2: Unify errors dv 2
  packages/common-library/src/common_library/errors_classes.py
  packages/models-library/tests/test_rest_ordering.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_pipelines.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects_networks.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes.py
  services/director-v2/src/simcore_service_director_v2/modules/rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/modules/resource_usage_tracker_client.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Labels: a:director-v2

#6768 ♻️Director-v0: add setting to control concurrency in client to docker registry
  services/director/src/simcore_service_director/core/settings.py
  services/director/src/simcore_service_director/registry_proxy.py
Labels: a:director, t:maintenance

#6752 ♻️ OpenTelemetry Enhancements: Filter out healthchecks, add catalog internals instrumentation
  services/opentelemetry-collector-config.yaml
Labels: t:enhancement, a:catalog

#6765 ⚗️ ♻️ improving e2e tests (adding structure for additional CI tests)
  ci/github/system-testing/e2e-playwright.bash
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  tests/e2e-playwright/Makefile
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/platform_CI_tests/conftest.py
  tests/e2e-playwright/tests/platform_CI_tests/test_platform.py
Labels: t:maintenance, e2e

#6775 🐛 [e2e] Study Options: Open button
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  tests/e2e-playwright/tests/conftest.py
Labels: bug, e2e

#6780 ⬆️Pydantic V2L Update from upstream/master
  ci/github/system-testing/e2e-playwright.bash
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  services/director/src/simcore_service_director/core/settings.py
  services/director/src/simcore_service_director/registry_proxy.py
  services/opentelemetry-collector-config.yaml
  services/static-webserver/client/source/class/osparc/announcement/AnnouncementUIFactory.js
  services/static-webserver/client/source/class/osparc/announcement/Tracker.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTreeItem.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/MainPageHandler.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TesterPage.js
  services/static-webserver/client/source/class/osparc/editor/FolderEditor.js
  services/static-webserver/client/source/class/osparc/editor/WorkspaceEditor.js
  services/static-webserver/client/source/class/osparc/file/FolderViewer.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/tester/Statics.js
  services/static-webserver/client/source/class/osparc/tester/TesterCenter.js
  services/static-webserver/client/source/class/osparc/tester/TesterCenterWindow.js
  services/static-webserver/client/source/class/osparc/tester/WebSocketMessages.js
  services/static-webserver/client/source/class/osparc/ui/basic/JsonTreeWidget.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerView.js
  services/static-webserver/client/source/class/osparc/wrapper/WebSocket.js
  tests/e2e-playwright/Makefile
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
  tests/e2e-playwright/tests/platform_CI_tests/conftest.py
  tests/e2e-playwright/tests/platform_CI_tests/test_platform.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/sim4life/test_template.py
  tests/e2e-playwright/tests/sleepers/test_sleepers.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
  tests/e2e/package-lock.json
Labels: t:maintenance

#6781 ⬆️Pydantic V2: missing import in director-v0
  services/director/src/simcore_service_director/core/settings.py
Labels: a:director

#6779 📝 `services.md`: autodocs openapi specs and images for each service
  Makefile
  scripts/echo_services_markdown.py
  services.md
  services/agent/README.md
  services/datcore-adapter/README.md
  services/storage/README.md
  services/web/server/README.md
Labels: a:doc

#6790 🐛 Fix Redis DSN scheme generation
  packages/settings-library/src/settings_library/redis.py
Labels: a:redis

#6795 🐛 Fixed flaky tests in services/dynamic-sidecar/tests/unit/test_modules_outputs_event_filter.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_event_filter.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_event_filter.py
Labels: t:maintenance

#6796 🐛 Use list instead of set when building the expected result
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: a:director-v2

#6794 🎨 [Frontend] Sort folders alphabetically
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: t:enhancement, a:frontend

#6799 🐛🎨♻️Director-v0: improve registry caching
  packages/settings-library/src/settings_library/docker_registry.py
  packages/settings-library/tests/test_docker_registry.py
  services/director-v2/tests/conftest.py
  services/director/requirements/_base.in
  services/director/requirements/_base.txt
  services/director/requirements/_test.in
  services/director/requirements/_test.txt
  services/director/src/simcore_service_director/client_session.py
  services/director/src/simcore_service_director/core/errors.py
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/registry_proxy.py
  services/director/tests/unit/api/test_rest_running_interactive_services.py
  services/director/tests/unit/conftest.py
  services/director/tests/unit/test_registry_proxy.py
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_core_external_dependencies.py
Labels: a:director

#6811 🐛Director-V0: Legacy services expect Postgres Endpoint as host:port
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/director/src/simcore_service_director/producer.py
Labels: a:director, t:maintenance

#6812 🐛 Fix `CLUSTERS_KEEPER_TASK_INTERVAL` env var
  .env-devel
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/tests/unit/test_modules_clusters_management_task.py
Labels: a:clusters-keeper

#6809 🐛 [e2e] _open_with_resources
  tests/e2e-playwright/tests/conftest.py
Labels: e2e

#6816 ✨ [Frontend] Keep console errors
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/ConsoleErrorTracker.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/tester/ConsoleErrors.js
  services/static-webserver/client/source/class/osparc/tester/TesterCenter.js
Labels: t:enhancement, a:frontend

#6820 🐛Pydantic V2: interpretation of "None" changed
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
Labels: a:clusters-keeper

#6814 ✨Director-v0: added background task that pre-builds the registry cache
  services/director/src/simcore_service_director/registry_proxy.py
  services/director/tests/unit/test_registry_proxy.py
Labels: a:director, t:maintenance

#6819 🐛 Fixed issue with serialisation of docker specs
  packages/models-library/src/models_library/aiodocker_api.py
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/tests/test_service_settings_labels.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_event_create_sidecars.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: a:director-v2

#6808 🐛 Fix URL serialization in `/invitations:extract` endpoint
  services/web/server/src/simcore_service_webserver/invitations/_client.py
Labels: a:webserver, a:invitations

#6821 🐛 Fix Color serialization in Pydantic v2
  packages/models-library/src/models_library/projects_nodes_ui.py
  packages/models-library/src/models_library/projects_ui.py
  packages/models-library/tests/test_projects_nodes_ui.py
Labels: a:webserver

#6813 🐛 [Frontend] Studies: list more than 5 studies in folder
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
Labels: bug, a:frontend

#6769 ♻️✨ [Frontend] Enh: model Groups and Users. And their Store
  services/static-webserver/client/source/class/osparc/auth/Data.js
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Group.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/data/model/User.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCreditsStepper.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Transactions.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsWindow.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/TemplatesList.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethods.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ClustersPage.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/editor/AnnotationNoteCreator.js
  services/static-webserver/client/source/class/osparc/editor/OrganizationEditor.js
  services/static-webserver/client/source/class/osparc/filter/CollaboratorToggleButton.js
  services/static-webserver/client/source/class/osparc/filter/OrganizationMembers.js
  services/static-webserver/client/source/class/osparc/filter/OrganizationsAndMembers.js
  services/static-webserver/client/source/class/osparc/info/CommentAdd.js
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/notification/Notifications.js
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsService.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsWorkspace.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/share/PublishTemplate.js
  services/static-webserver/client/source/class/osparc/share/ShareePermissions.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItemWithMenu.js
  services/static-webserver/client/source/class/osparc/ui/list/OrganizationListItem.js
  services/static-webserver/client/source/class/osparc/workbench/Annotation.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, a:frontend

#6842 ⬆️ Maintenance: bump all dependencies for `dynamic-scheduler` service
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/requirements/_test.txt
  services/dynamic-scheduler/requirements/_tools.txt
Labels: t:maintenance, a:dynamic-scheduler

#6838 🎨 Allow to have multiple consumers for the same queue in 1 application and allow to optionally define queue name
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/service-library/src/servicelib/rabbitmq/__init__.py
  packages/service-library/src/servicelib/rabbitmq/_client.py
  packages/service-library/src/servicelib/rabbitmq/_models.py
  packages/service-library/src/servicelib/rabbitmq/_utils.py
  packages/service-library/tests/rabbitmq/test_rabbitmq.py
  services/api-server/src/simcore_service_api_server/services/log_streaming.py
  services/autoscaling/tests/unit/test_modules_buffer_machine_core.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/process_messages_setup.py
  services/payments/src/simcore_service_payments/services/auto_recharge_listener.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service_setup.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_consumers_common.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_nonexclusive_queue_consumers.py
Labels: a:services-library

#6829 ♻️ `aiohttp` deprecation: Using `web.json_response` to return `2XX` responses instead of raising `HttpException`
  services/storage/src/simcore_service_storage/handlers_simcore_s3.py
Labels: t:maintenance

#6840 ⬆️ Maintenance: bump all dependencies for `agent` service
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/agent/requirements/_tools.txt
  services/agent/src/simcore_service_agent/core/settings.py
Labels: t:maintenance, a:agent

#6850 🎨 webserver's trash flag
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/tests/unit/isolated/test_application_settings.py
Labels: a:webserver

#6853 🐛 [Frontend] pydanticV2: Decimals are now Strings
  services/static-webserver/client/source/class/osparc/data/model/Wallet.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCreditsStepper.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsPerService.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CurrentUsage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/TransactionsTableModel.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UsageTableModel.js
  services/static-webserver/client/source/class/osparc/pricing/UnitData.js
  services/static-webserver/client/source/class/osparc/pricing/UnitEditor.js
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Labels: bug, a:frontend

#6847 ⬆️ Maintenance: upgrades `invitations` service requirements
  services/invitations/openapi.json
  services/invitations/requirements/_base.txt
  services/invitations/requirements/_test.txt
  services/invitations/requirements/_tools.txt
Labels: t:maintenance, a:invitations

#6856 🎨 api-server's LogStreamerRegistionConflictError not logged as a server error anymore
  services/api-server/src/simcore_service_api_server/exceptions/handlers/_log_streaming_errors.py
  services/api-server/src/simcore_service_api_server/exceptions/log_streaming_errors.py
  services/api-server/src/simcore_service_api_server/services/log_streaming.py
  services/api-server/tests/unit/test_services_rabbitmq.py
Labels: a:apiserver

#6855 🎨 web-api: Simpler error models and auto-generated errors in OAS
  api/specs/web-server/_auth.py
  api/specs/web-server/_common.py
  api/specs/web-server/_folders.py
  api/specs/web-server/_workspaces.py
  packages/models-library/src/models_library/rest_error.py
  packages/pytest-simcore/src/pytest_simcore/helpers/assert_checks.py
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/aiohttp/rest_models.py
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
  packages/service-library/src/servicelib/aiohttp/rest_utils.py
  packages/service-library/src/servicelib/logging_utils.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:api, a:models-library

#6848 ⬆️ Maintenance: upgrades `payments` service requirements
  services/payments/gateway/openapi.json
  services/payments/openapi.json
  services/payments/requirements/_base.txt
  services/payments/requirements/_test.txt
  services/payments/requirements/_tools.txt
  services/payments/src/simcore_service_payments/core/settings.py
  services/payments/src/simcore_service_payments/models/schemas/acknowledgements.py
  services/payments/tests/unit/test_services_payments__get_invoice.py
  services/payments/tests/unit/test_services_payments_gateway.py
Labels: t:maintenance, a:payments

#6861 🎨 Enables trash in web-api
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/folders/_trash_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_trash_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_trash_handlers.py
  services/web/server/tests/unit/isolated/test_application_settings.py
Labels: a:webserver

#6590 ✨ [Frontend] Trash bin
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ContextBreadcrumbs.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTreeItem.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Folder.js
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
  services/static-webserver/client/source/class/osparc/data/model/Workspace.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/store/Workspaces.js
Labels: t:enhancement, a:frontend
