Repository ITISFoundation/osparc-simcore, pull requests merged in 2024-09, with the labels that each got.

#6265 Add pylint check for Python 3.12
  .github/workflows/ci-testing-deploy.yml
Labels: t:maintenance

#6284 🐛 [Frontend] Fix: unlink port
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
Labels: bug, a:frontend

#6285 ✨Autoscaling monitoring tool: make compatible with non-billable deploys
  .pre-commit-config.yaml
  scripts/maintenance/computational-clusters/autoscaled_monitor/cli.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/constants.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/models.py
Labels: a:infra+ops

#6272 🐛Storage: Copying returns wrong size
  packages/aws-library/src/aws_library/s3/__init__.py
  packages/aws-library/src/aws_library/s3/_client.py
  packages/aws-library/tests/test_s3_client.py
  services/storage/src/simcore_service_storage/s3_utils.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Labels: a:storage

#6287 🐛 Fix: file uploads due to bad path encoding
  services/web/server/src/simcore_service_webserver/storage/_handlers.py
  services/web/server/tests/unit/isolated/test_utils.py
  services/web/server/tests/unit/with_dbs/03/test_storage_handlers.py
Labels: a:webserver

#6286 🐛 More than 1 input port containing files can be safely pulled
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/data_items_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/tests/conftest.py
  packages/simcore-sdk/tests/helpers/utils_port_v2.py
  packages/simcore-sdk/tests/integration/test_node_ports_v2_nodeports2.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_port.py
Labels: t:maintenance, a:dynamic-sidecar

#6291 Favicon for 16 and 32 fix
  services/static-webserver/client/source/resource/osparc/s4l/favicon-16x16.png
  services/static-webserver/client/source/resource/osparc/s4l/favicon-32x32.png
Labels: a:frontend

#6290 ✨ webapi: new `descriptionUI` flag to render service a single page UI
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/models-library/src/models_library/services_base.py
  packages/models-library/src/models_library/services_metadata_editable.py
  packages/models-library/src/models_library/services_metadata_published.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/926c3eb2254e_new_description_ui_column.py
  packages/postgres-database/src/simcore_postgres_database/models/services.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/catalog/openapi.json
  services/catalog/src/simcore_service_catalog/db/repositories/_services_sql.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/models/services_db.py
  services/catalog/src/simcore_service_catalog/services/services_api.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__services.py
Labels: a:webserver, a:catalog

#6295 🐛Computational backend: if a pipeline raises, it should not prevent handling of other pipelines
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/base_scheduler.py
Labels: a:director-v2

#6299 🐛Autoscaling: SSM client key error fix
  packages/aws-library/src/aws_library/ssm/_client.py
Labels: a:autoscaling

#6297 🎨 Backend part of UX improvements
  services/storage/src/simcore_service_storage/s3_utils.py
Labels: a:storage

#6292 🐛 Flaky tests improvements
  packages/models-library/src/models_library/api_schemas_webserver/product.py
  packages/models-library/src/models_library/invitations.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  packages/service-library/tests/test_redis.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_extension.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/web/server/src/simcore_service_webserver/products/_invitations_handlers.py
  services/web/server/tests/unit/with_dbs/03/invitations/conftest.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_products__invitations_handlers.py
Labels: t:maintenance

#6300 Add RUT port envs ⚠️ [DEVOPS]
  .env-devel
  services/docker-compose.yml
Labels: a:resource-usage-tracker

#6296 ✨ [Frontend] Description UI
  services/static-webserver/client/Manifest.json
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/ui/markdown/Markdown.js
  services/static-webserver/client/source/resource/marked/marked.js
  services/static-webserver/client/source/resource/marked/marked.min.js
Labels: t:enhancement, a:frontend

#6305 🐛S3: when copying files there is no callback if the multipart threshold is not reached
  packages/aws-library/src/aws_library/s3/_client.py
  packages/aws-library/src/aws_library/s3/_constants.py
  services/storage/src/simcore_service_storage/s3_utils.py
  services/storage/tests/unit/test_simcore_s3_dsm.py
Labels: a:storage

#6267 🎨 [Frontend] Prettify "Creating template" progress
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
  services/static-webserver/client/source/class/osparc/widget/ProgressSequence.js
Labels: t:enhancement, a:frontend

#6301 🎨 dynamic-sidecar pulls user services images with states and outputs
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/dynamic-sidecar/VERSION
  services/dynamic-sidecar/openapi.json
  services/dynamic-sidecar/setup.cfg
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/schemas/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_containers.py
  services/dynamic-sidecar/tests/unit/test_api_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_prometheus_metrics.py
  services/dynamic-sidecar/tests/unit/test_api_workflow_service_metrics.py
  services/dynamic-sidecar/tests/unit/test_core_external_dependencies.py
Labels: a:director-v2, a:dynamic-sidecar

#6314 🐛Autoscaling: Buffer pools metrics always showing 0
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_models.py
Labels: a:autoscaling

#6311 🎨Autoscaling monitoring tool: compatible with TIP, small improvements
  scripts/maintenance/computational-clusters/Makefile
  scripts/maintenance/computational-clusters/autoscaled_monitor/cli.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/constants.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
  scripts/maintenance/computational-clusters/pyproject.toml
Labels: a:infra+ops

#6316 🐛 [Frontend] TIP: Hide Boot Options
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
Labels: bug, a:frontend

#6298 ✨ web-api interface for tags sharing and add to services
  api/specs/web-server/_catalog_tags.py
  api/specs/web-server/_projects_groups.py
  api/specs/web-server/_projects_tags.py
  api/specs/web-server/_tags.py
  api/specs/web-server/_tags_groups.py
  api/specs/web-server/_wallets.py
  api/specs/web-server/_workspaces.py
  api/specs/web-server/openapi.py
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/catalog/_tags_handlers.py
  services/web/server/src/simcore_service_webserver/catalog/plugin.py
  services/web/server/src/simcore_service_webserver/projects/_tags_handlers.py
  services/web/server/src/simcore_service_webserver/tags/_handlers.py
  services/web/server/src/simcore_service_webserver/tags/schemas.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__services.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
Labels: a:webserver, a:api

#6326 ⚗️ Increases timeout of rpc calls
  packages/service-library/src/servicelib/rabbitmq/__init__.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/web/server/src/simcore_service_webserver/payments/_rpc.py
Labels: t:maintenance

#6327 🎨 Healtcheck diagnostics sensor is now optional
  .env-devel
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/diagnostics/_healthcheck.py
  services/web/server/src/simcore_service_webserver/diagnostics/plugin.py
  services/web/server/src/simcore_service_webserver/diagnostics/settings.py
  services/web/server/src/simcore_service_webserver/rest/_handlers.py
  services/web/server/src/simcore_service_webserver/rest/healthcheck.py
  services/web/server/tests/unit/isolated/test_diagnostics_healthcheck.py
Labels: t:maintenance

#6336 ⬆️ upgrades gunicorn dependencies in webserver
  services/web/server/docker/boot.sh
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/requirements/_tools.txt
Labels: a:webserver, t:maintenance

#6335 🐛 [Frontend] Fix: Unique session id
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: bug, a:frontend

#6338 🎨 [e2e]: Increase S4L's timeout when there is a workspace to download
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  tests/e2e-playwright/tests/sim4life/test_template.py
Labels: e2e

#6334 🎨Autoscaling: Add option to allow a new node to join a cluster directly active (🚨)
  .env-devel
  services/autoscaling/src/simcore_service_autoscaling/constants.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/buffer_machines_pool_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/manual/.env-devel
  services/autoscaling/tests/manual/README.md
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_buffer_machine_core.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/docker-compose.yml
Labels: a:infra+ops, a:autoscaling

#6345 🐛Autoscaling/Comp backend: drain retired nodes so that they can be re-used
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_base.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_computational.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_dynamic.py
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_constants.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_models.py
  services/autoscaling/tests/manual/docker-compose-computational.yml
  services/autoscaling/tests/unit/conftest.py
Labels: a:autoscaling, a:clusters-keeper

#6261 🎨 [Frontend] React to a 401 Unauthorized
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
Labels: t:enhancement, a:frontend

#6346 ✨ [Frontend] New product: TIP lite 🚨
  services/catalog/src/simcore_service_catalog/services/services_api.py
  services/docker-compose.yml
  services/static-webserver/README.md
  services/static-webserver/client/compile.json
  services/static-webserver/client/scripts/apps_metadata.json
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/editor/ThumbnailSuggestions.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/product/quickStart/Utils.js
  services/static-webserver/client/source/class/osparc/product/tours/Tours.js
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
  services/static-webserver/client/source/resource/osparc/new_studies.json
  services/static-webserver/client/source/resource/osparc/tip_lite_itis-black.png
  services/static-webserver/client/source/resource/osparc/tip_lite_itis-black.svg
  services/static-webserver/client/source/resource/osparc/tip_lite_itis-white.png
  services/static-webserver/client/source/resource/osparc/tip_lite_itis-white.svg
  services/static-webserver/client/source/resource/osparc/tours/tiplite_tours.json
  services/web/server/src/simcore_service_webserver/statics/_constants.py
  services/web/server/src/simcore_service_webserver/statics/_events.py
  services/web/server/src/simcore_service_webserver/statics/plugin.py
  services/web/server/tests/unit/with_dbs/03/conftest.py
Labels: a:frontend

#6344 🐛 Fixes catalog's synchronization background task continues errors due to faulty service info
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/exceptions/errors.py
  services/catalog/src/simcore_service_catalog/services/access_rights.py
  services/catalog/tests/unit/with_dbs/test_core_background_task__sync.py
  services/web/server/docker/boot.sh
Labels: a:catalog

#6351 Added some fallback icons for apple devices
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/resource/osparc/osparc/apple-icon-fallback.png
  services/static-webserver/client/source/resource/osparc/osparc/safari-pinned-tab.svg
  services/static-webserver/client/source/resource/osparc/s4l/apple-icon-fallback.png
  services/static-webserver/client/source/resource/osparc/s4l/safari-pinned-tab.svg
  services/static-webserver/client/source/resource/osparc/tis/apple-icon-fallback.png
  services/static-webserver/client/source/resource/osparc/tis/favicon-16x16.png
  services/static-webserver/client/source/resource/osparc/tis/favicon-32x32.png
  services/static-webserver/client/source/resource/osparc/tis/favicon-96x96.png
  services/static-webserver/client/source/resource/osparc/tis/favicon.ico
  services/static-webserver/client/source/resource/osparc/tis/safari-pinned-tab.svg
Labels: a:frontend

#6349 🎨 [Frontend] Workspaces: Improve tree I
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ContainerHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/data/model/Folder.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/editor/WorkspaceEditor.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
  services/static-webserver/client/source/class/osparc/store/Workspaces.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Labels: t:enhancement, a:frontend

#6354 🐛 fix issue with workspace permissions
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_db.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
Labels: bug

#6356 🎨 [Frontend] Credits summary: Show time
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorButton.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsPerService.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsServiceListItem.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsSummary.js
Labels: t:enhancement, bug, a:frontend

#6353 🎨 Adds new progress bar to track `starting software`
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/service-library/src/servicelib/docker_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
Labels: a:dynamic-sidecar

#6358 🐛 [Frontend] Folders tree: Fixes I
  services/static-webserver/client/source/class/osparc/dashboard/ContainerHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/FoldersTree.js
  services/static-webserver/client/source/class/osparc/dashboard/MoveResourceToWorkspace.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesTree.js
  services/static-webserver/client/source/class/osparc/editor/WorkspaceEditor.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsWorkspace.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
  services/static-webserver/client/source/class/osparc/store/Workspaces.js
Labels: bug, a:frontend

#6359 🎨 [Frontend] TIP lite: add teaser button
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/product/TIPTeaser.js
  services/static-webserver/client/source/class/osparc/product/quickStart/tis/S4LPostPro.js
Labels: t:enhancement, a:frontend

#6363 🎨E2E: adapt test to new service startup status
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  tests/e2e-playwright/Makefile
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/sim4life/test_template.py
Labels: e2e

#6360 🎨🐛 [Frontend] Folders tree: improvements
  services/static-webserver/client/source/class/osparc/dashboard/ContainerHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/ui/markdown/Markdown.js
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/ExpandSelection.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerView.js
Labels: t:enhancement, bug, a:frontend

#6364 🎨🐛 [Frontend] Folders tree: improvements II
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTreeItem.js
  services/static-webserver/client/source/class/osparc/editor/WorkspaceEditor.js
Labels: t:enhancement, a:frontend

#6369 🎨 [Frontend] Prettify markdown's outcome
  services/static-webserver/client/source/class/osparc/editor/MarkdownEditor.js
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/metadata/QualityEditor.js
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/ui/markdown/Markdown.js
Labels: t:enhancement, a:frontend

#6368 🐛 Fixed Redis issue where keys ended up in the wrong deployment.
  packages/settings-library/src/settings_library/redis.py
Labels: t:maintenance, a:simcore-sdk

#6375 ♻️CI: increase timeout on autoscaling to fix mypy slowness
  .github/workflows/ci-testing-deploy.yml
Labels: t:maintenance, a:autoscaling

#6372 🐛 [Frontend] Fix ``Automatic Shutdown`` = 0
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceHeader.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditorIdlingTracker.js
Labels: bug

#6377 🎨 [Frontend] TIP lite: new logos
  services/static-webserver/client/source/resource/osparc/tip_lite_itis-black.png
  services/static-webserver/client/source/resource/osparc/tip_lite_itis-black.svg
  services/static-webserver/client/source/resource/osparc/tip_lite_itis-white.png
  services/static-webserver/client/source/resource/osparc/tip_lite_itis-white.svg
Labels: t:enhancement, a:frontend

#6373 🎨 [Frontend] Workspaces and Folders: Sync tree
  services/static-webserver/client/source/class/osparc/dashboard/ContainerHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTreeItem.js
Labels: t:enhancement, a:frontend

#6381 🎨Redis: add optional Redis username
  .env-devel
  services/docker-compose.yml
Labels: a:infra+ops

#6365 🐛 rabbitmq queue name prefix is unique during the lifecycle of the container
  packages/aws-library/requirements/_base.txt
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/service-library/src/servicelib/rabbitmq/_utils.py
  packages/simcore-sdk/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/efs-guardian/requirements/_test.txt
  services/invitations/requirements/_base.txt
  services/osparc-gateway-server/requirements/_test.txt
  services/osparc-gateway-server/tests/system/requirements/_test.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: a:webserver, a:services-library, t:maintenance

#6347 ✨Adds metrics regarding new style dynamic services timings
  packages/service-library/src/servicelib/instrumentation.py
  packages/service-library/src/servicelib/rabbitmq/_utils.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_constants.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/instrumentation/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/instrumentation/_models.py
  services/director-v2/src/simcore_service_director_v2/modules/instrumentation/_setup.py
  services/director-v2/src/simcore_service_director_v2/modules/instrumentation/_utils.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/test_modules_instrumentation__utils.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
  services/director-v2/tests/unit/with_dbs/test_cli.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_containers_long_running_tasks.py
Labels: a:director-v2

#6385 ✨[Frontend] Denylist for (lite) registration emails
  services/static-webserver/client/source/class/osparc/auth/core/Utils.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/resource/osparc/denylist.json
Labels: t:enhancement, a:frontend

#6392 🎨 backend pulls inputs before iframe is displayed
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
Labels: t:enhancement

#6395 🚨🐛 Mitigate dy-service file upload bug: Increase traefik timeouts
  services/docker-compose.yml
Labels: bug, High Priority

#6397 ✨ [Frontend] Force reload ``no-cache``
  services/static-webserver/client/source/class/osparc/NewUITracker.js
  services/static-webserver/client/source/class/osparc/ui/message/FlashMessage.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend

#6398 🐛⚗️Prometheus instrumentation incorrectly setup
  packages/service-library/src/servicelib/fastapi/prometheus_instrumentation.py
  packages/service-library/src/servicelib/fastapi/tracing.py
  packages/service-library/src/servicelib/instrumentation.py
  services/agent/tests/unit/test_core_routes.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_utils.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_instrumentation_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/instrumentation/_models.py
Labels: a:services-library, t:maintenance

#6384 ✨E2E: increase timeout for video streaming and improve a bit logs about websockets
  packages/pytest-simcore/src/pytest_simcore/helpers/logging_tools.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/sim4life/test_template.py
Labels: t:maintenance, e2e

#6417 ♻️CI: autoscaling mypy takes longer and longer.
  .github/workflows/ci-testing-deploy.yml
Labels: a:infra+ops, t:maintenance

#6418 🐛 Improved Error Handling for Missing Billing Details
  packages/models-library/src/models_library/users.py
  services/web/server/src/simcore_service_webserver/payments/_onetime_api.py
  services/web/server/src/simcore_service_webserver/users/_db.py
  services/web/server/src/simcore_service_webserver/users/exceptions.py
  services/web/server/src/simcore_service_webserver/wallets/_constants.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
  services/web/server/tests/unit/with_dbs/03/wallets/payments/test_payments.py
Labels: a:webserver

#6419 🎨 Enhances Product parsing to strip whitespaces in host_regex
  services/web/server/src/simcore_service_webserver/products/_model.py
  services/web/server/tests/unit/isolated/test_products_model.py
Labels: a:webserver, t:maintenance

#6401 🐛 [Frontend] Fix: Share and Leave Study
  services/static-webserver/client/source/class/osparc/data/Roles.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
Labels: bug, a:frontend

#6414 ✨ [Frontend] Workspaces & Folders: Merge Workspace header and Folder breadcrumbs
  services/static-webserver/client/source/class/osparc/dashboard/ContextBreadcrumbs.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceHeader.js
  services/static-webserver/client/source/class/osparc/node/TierSelectionView.js
Labels: t:enhancement, a:frontend

#6423 🎨 [Frontend] Access Full TIP
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/product/TIPTeaser.js
Labels: t:enhancement, a:frontend

#6424 🐛 [Frontend] Do not list/request ``/frontend/`` service's pricing plans
  services/static-webserver/client/source/class/osparc/study/StudyPricingUnits.js
Labels: bug, a:frontend

#6403 🎨 Persistent logs when GC removes services
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/tests/test_logging_utils.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_disconnected.py
  services/web/server/src/simcore_service_webserver/garbage_collector/plugin.py
Labels: t:maintenance

#6383 ♻️ Maintenance: removing old folders
  packages/postgres-database/src/simcore_postgres_database/migration/versions/47ca7335e146_remove_old_folders.py
  packages/postgres-database/src/simcore_postgres_database/models/folders.py
  packages/postgres-database/src/simcore_postgres_database/utils_folders.py
  packages/postgres-database/tests/test_utils_folders.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__clone_in_workspace_and_folder.py
Labels: t:maintenance

#6428 🎨 improve DB foreign key dependencies (🗃️)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/10729e07000d_improve_foreign_key_dependencies.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_pricing_plan_to_service.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_pricing_plans.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_pricing_unit_costs.py
  packages/postgres-database/src/simcore_postgres_database/models/wallets.py
  packages/postgres-database/src/simcore_postgres_database/models/workspaces.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_pricing_plans.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_pricing_plans_rpc.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_triggered_by_listening_with_billing.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_with_billing.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_with_billing_cost_0.py
Labels: t:maintenance

#5892 ✨ `dynamic-scheduler` pushes service state to the frontend (⚠️ devops)
  packages/models-library/src/models_library/api_schemas_dynamic_scheduler/socketio.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
  packages/models-library/src/models_library/services_enums.py
  packages/models-library/tests/conftest.py
  packages/models-library/tests/test_utils_nodes.py
  packages/service-library/src/servicelib/deferred_tasks/_redis_task_tracker.py
  packages/service-library/src/servicelib/services_utils.py
  packages/service-library/tests/conftest.py
  packages/service-library/tests/deferred_tasks/conftest.py
  packages/service-library/tests/deferred_tasks/example_app.py
  packages/service-library/tests/deferred_tasks/test__base_deferred_handler.py
  packages/settings-library/src/settings_library/redis.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/docker-compose-ops.yml
  services/docker-compose.yml
  services/dynamic-scheduler/requirements/_base.in
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/_dependencies.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/_health.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/deferred_manager.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/_notifier.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/_socketio.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/redis.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_api.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_models.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_tracker.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_deferred_get_status.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_monitor.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_setup.py
  services/dynamic-scheduler/tests/conftest.py
  services/dynamic-scheduler/tests/unit/api_rest/conftest.py
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__health.py
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__meta.py
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
  services/dynamic-scheduler/tests/unit/conftest.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__api.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__models.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__tracker.py
  services/dynamic-scheduler/tests/unit/status_monitor/test_services_status_monitor__monitor.py
  services/dynamic-scheduler/tests/unit/test_services_rabbitmq.py
  services/dynamic-scheduler/tests/unit/test_services_redis.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/tests/unit/isolated/test_dynamic_scheduler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Labels: a:dynamic-scheduler

#6434 🐛 [Frontend] Fix: Do not listen to output related backend updates if the node is a frontend node
  services/static-webserver/client/source/class/osparc/data/model/Study.js
Labels: a:frontend

#6388 ✅ e2e: new workflow to test `tiplite`
  packages/pytest-simcore/src/pytest_simcore/helpers/pydantic_extension.py
  services/static-webserver/client/source/class/osparc/product/TIPTeaser.js
  tests/e2e-playwright/.gitignore
  tests/e2e-playwright/Makefile
  tests/e2e-playwright/README.md
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/sim4life/test_template.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: e2e

#6430 🎨 [Frontend] App mode: Scrollable Instructions
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/product/quickStart/tis/Slides.js
  services/static-webserver/client/source/class/osparc/ui/markdown/Markdown.js
Labels: t:enhancement, a:frontend

#6433 🔒️ Strip credentials form image VCS
  packages/service-integration/requirements/_base.in
  packages/service-integration/requirements/_base.txt
  packages/service-integration/src/service_integration/cli/_compose_spec.py
  packages/service-integration/tests/test_cli__compose_spec.py
Labels: security, a:ooil

#6445 ✅ fixes check on full version
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: e2e

#6439 🐛 Fixes flaky tests in service-library test_deferred_tasks.py
  packages/service-library/tests/deferred_tasks/test_deferred_tasks.py
Labels: bug, a:services-library

#6440 🐛 [Frontend] Announcements: allow in ribbon only
  services/static-webserver/client/source/class/osparc/announcement/AnnouncementUIFactory.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
Labels: bug, a:frontend

#6436 🎨 improve error handling on pricing plans
  services/web/server/src/simcore_service_webserver/catalog/_handlers.py
  services/web/server/src/simcore_service_webserver/catalog/_handlers_errors.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_states_handlers.py
  services/web/server/src/simcore_service_webserver/resource_usage/_client.py
  services/web/server/src/simcore_service_webserver/resource_usage/errors.py
Labels: t:maintenance

#6438 🐛[FrontEnd] Better error handling of invalid pre-registration data
  services/static-webserver/client/source/class/osparc/po/PreRegistration.js
Labels: a:frontend

#6450 e2e: fixes wrong sequence in classic tip
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: e2e

#6448 🎨 improve tip e2e test
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Labels: t:maintenance, e2e

#6442 🐛 Fixes issue with parsing logs polluting sidecar logs
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_utils.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_utils.py
Labels: bug, a:dynamic-sidecar

#6446 🎨 [Frontend] TIP: Rebranding
  services/static-webserver/client/compile.json
  services/static-webserver/client/scripts/post-compile.py
  services/static-webserver/client/source/boot/index.html
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/product/quickStart/tis/S4LPostPro.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/resource/osparc/new_studies.json
Labels: t:enhancement, a:frontend

#6451 🎨 [Frontend] Unify ``border-radius``
  services/static-webserver/client/source/class/osparc/announcement/AnnouncementUIFactory.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTreeItem.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsServiceListItem.js
  services/static-webserver/client/source/class/osparc/info/CommentAdd.js
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsContainer.js
  services/static-webserver/client/source/class/osparc/study/PricingUnit.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/tours/Step.js
  services/static-webserver/client/source/class/osparc/ui/basic/ImagePlayLink.js
  services/static-webserver/client/source/class/osparc/ui/message/FlashMessage.js
  services/static-webserver/client/source/class/osparc/widget/NodeTreeItem.js
Labels: t:enhancement, a:frontend

#6460 🎨 adding `folder_id` to project resource
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/projects.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_access_rights_api.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_db_utils.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/models.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/03/folders/test_folders.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
  services/web/server/tests/unit/with_dbs/03/workspaces/test_workspaces__folders_and_projects_crud.py
Labels: a:webserver

#6459 ✅ e2e: Final touches to tip testing
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Labels: e2e

#6468 ✅ e2e: Fixes typo in tests
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  tests/e2e-playwright/tests/conftest.py
Labels: e2e

#6463 ✨ [Frontend] Keep View Mode in localStorage
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonLoadMore.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Labels: t:enhancement, a:frontend

#6457 🎨 [Frontend] Move multiple studies at once
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonLoadMore.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonLoadMore.js
  services/static-webserver/client/source/class/osparc/dashboard/MoveResourceTo.js
  services/static-webserver/client/source/class/osparc/dashboard/MoveResourceToFolder.js
  services/static-webserver/client/source/class/osparc/dashboard/MoveResourceToWorkspace.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/editor/FolderEditor.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Labels: t:enhancement, a:frontend

#6466 ♻️ Preparations in webserver to integrate asyncpg engine
  packages/service-library/src/servicelib/aiohttp/application_keys.py
  packages/service-library/src/servicelib/aiohttp/db_asyncpg_engine.py
  packages/service-library/src/servicelib/db_asyncpg_utils.py
  packages/service-library/src/servicelib/fastapi/db_asyncpg_engine.py
  packages/settings-library/src/settings_library/postgres.py
  packages/settings-library/tests/test__pydantic_settings.py
  packages/settings-library/tests/test_postgres.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/payments/src/simcore_service_payments/services/healthchecks.py
  services/payments/src/simcore_service_payments/services/postgres.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/db/__init__.py
  services/storage/src/simcore_service_storage/constants.py
  services/storage/src/simcore_service_storage/db.py
  services/storage/src/simcore_service_storage/db_tokens.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/web/server/src/simcore_service_webserver/_constants.py
  services/web/server/src/simcore_service_webserver/api_keys/_db.py
  services/web/server/src/simcore_service_webserver/db/_aiopg.py
  services/web/server/src/simcore_service_webserver/db/_asyncpg.py
  services/web/server/src/simcore_service_webserver/db/base_repository.py
  services/web/server/src/simcore_service_webserver/db/plugin.py
  services/web/server/src/simcore_service_webserver/db_listener/_db_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_users.py
  services/web/server/src/simcore_service_webserver/products/_events.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/scicrunch/db.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_core.py
  services/web/server/src/simcore_service_webserver/tags/_handlers.py
  services/web/server/tests/unit/with_dbs/01/notifications/test_notifications__db_comp_tasks_listening_task.py
  services/web/server/tests/unit/with_dbs/01/test_db.py
  services/web/server/tests/unit/with_dbs/01/test_groups_classifiers.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/03/products/test_products_db.py
  services/web/server/tests/unit/with_dbs/03/test_users_api.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, a:services-library, t:maintenance, a:catalog, a:payments
