Repository ITISFoundation/osparc-simcore, pull requests merged in 2024-04, with the labels that each got.

#5589 ✨ Frontend feature: Show available Tiers in Service metadata
  services/static-webserver/client/source/class/osparc/dashboard/ResourceMoreOptions.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/service/PricingUnitsList.js
Labels: t:enhancement, a:frontend

#5559 Study details page improvements
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/ui/markdown/Markdown.js
Labels: a:frontend, UX_improvements, Feedback

#5552 ✨Clusters keeper: pass prometheus basic auth as ENV variable
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/unit/conftest.py
  services/docker-compose.yml
Labels: a:infra+ops, a:clusters-keeper

#5592 🐛 Failing to start study
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
  services/static-webserver/client/source/class/osparc/ui/markdown/Markdown.js
Labels: bug, a:frontend

#5558 ⬆️ Upgrades dependencies of storage service
  api/specs/storage/scripts/storage.py
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/storage/src/simcore_service_storage/_meta.py
  services/storage/src/simcore_service_storage/application.py
  services/storage/src/simcore_service_storage/handlers_datasets.py
  services/storage/src/simcore_service_storage/handlers_files.py
  services/storage/src/simcore_service_storage/handlers_health.py
  services/storage/src/simcore_service_storage/handlers_locations.py
  services/storage/src/simcore_service_storage/handlers_simcore_s3.py
  services/storage/src/simcore_service_storage/long_running_tasks.py
  services/storage/src/simcore_service_storage/rest.py
  services/storage/tests/unit/conftest.py
  services/storage/tests/unit/test_handlers_health.py
Labels: a:storage, dependencies, t:maintenance

#5598 🐛Clusters-keeper: correct typo preventing running computational clusters
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
Labels: a:clusters-keeper

#5594 🎨 Add prometheus metrics for logstreaming
  services/api-server/src/simcore_service_api_server/api/dependencies/rabbitmq.py
  services/api-server/src/simcore_service_api_server/api/errors/custom_errors.py
  services/api-server/src/simcore_service_api_server/core/_prometheus_instrumentation.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/services/log_streaming.py
  services/api-server/tests/unit/_with_db/conftest.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_services_rabbitmq.py
Labels: a:apiserver

#5554 ✨ Admin Center: Manage Pricing Plans and read Maintenance
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/admin/AdminCenter.js
  services/static-webserver/client/source/class/osparc/admin/AdminCenterWindow.js
  services/static-webserver/client/source/class/osparc/admin/Maintenance.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/pricing/PlanData.js
  services/static-webserver/client/source/class/osparc/pricing/PlanDetails.js
  services/static-webserver/client/source/class/osparc/pricing/PlanEditor.js
  services/static-webserver/client/source/class/osparc/pricing/PlanListItem.js
  services/static-webserver/client/source/class/osparc/pricing/PlanManager.js
  services/static-webserver/client/source/class/osparc/pricing/Plans.js
  services/static-webserver/client/source/class/osparc/pricing/ServicesList.js
  services/static-webserver/client/source/class/osparc/pricing/UnitData.js
  services/static-webserver/client/source/class/osparc/pricing/UnitEditor.js
  services/static-webserver/client/source/class/osparc/pricing/UnitsList.js
  services/static-webserver/client/source/class/osparc/service/PricingUnitsList.js
  services/static-webserver/client/source/class/osparc/service/ServiceListItem.js
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/study/PricingUnit.js
  services/static-webserver/client/source/class/osparc/study/PricingUnits.js
  services/static-webserver/client/source/class/osparc/study/StudyPricingUnits.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
Labels: t:enhancement, a:frontend

#5597 ⬆️ Upgrades dependencies of api-server
  services/api-server/Makefile
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/api-server/requirements/constraints.txt
Labels: dependencies, a:apiserver

#5523 ♻️ Migrate to `docker stack config`
  .env-devel
  .pre-commit-config.yaml
  Makefile
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/helpers/utils_docker.py
  scripts/docker/docker-compose-config.bash
  scripts/docker/docker-stack-config.bash
  scripts/precommit/validate-docker-compose.bash
  services/autoscaling/tests/manual/Makefile
  services/catalog/docker-compose-extra.yml
  services/clusters-keeper/Makefile
  services/clusters-keeper/docker-compose.yml
  services/docker-compose.yml
  services/osparc-gateway-server/Makefile
  services/web/server/src/simcore_service_webserver/application_settings.py
  tests/e2e/Makefile
  tests/environment-setup/test_used_docker_compose.py
Labels: bug, High Priority, a:apiserver, python

#5612 🎨 Clean up webserver exception types
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
Labels: a:apiserver

#5613 🐛 Various issue in the study cards
  services/static-webserver/client/source/class/osparc/auth/LoginPage.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonNew.js
Labels: bug, a:frontend

#5596 ⬆️ Upgrading `dynamic-sidecar` dependencies
  packages/pytest-simcore/src/pytest_simcore/pytest_socketio.py
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/dynamic-sidecar/tests/unit/test_modules_system_monitor__notifier.py
Labels: t:maintenance, a:dynamic-sidecar

#5610 ⬆️ `dynamic-scheduler` dependency upgrade
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/requirements/_test.txt
  services/dynamic-scheduler/requirements/_tools.txt
Labels: dependencies, t:maintenance, a:dynamic-scheduler

#5633 🐛 make logstreaming callback safer
  packages/service-library/src/servicelib/rabbitmq/_client.py
  services/api-server/src/simcore_service_api_server/services/log_streaming.py
  services/api-server/tests/unit/test_services_rabbitmq.py
Labels: a:apiserver

#5599 ⬆️Maintenance: Upgrade of dask-based services and libs
  packages/aws-library/requirements/_base.txt
  packages/aws-library/requirements/_test.txt
  packages/aws-library/requirements/_tools.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/dask-task-models-library/requirements/_test.txt
  packages/dask-task-models-library/requirements/_tools.txt
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/autoscaling/requirements/_tools.txt
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/clusters-keeper/requirements/_tools.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/tests/integration/conftest.py
  services/osparc-gateway-server/requirements/_base.txt
  services/osparc-gateway-server/requirements/_test.txt
  services/osparc-gateway-server/requirements/_tools.txt
Labels: a:director-v2, a:dask-service, a:autoscaling, a:clusters-keeper

#5495 ✨ Introduce API study endpoints for `start` `stop` `delete` job
  services/api-server/src/simcore_service_api_server/api/routes/_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/src/simcore_service_api_server/utils/http_calls_capture_processing.py
  services/api-server/tests/mocks/study_job_start_stop_delete.json
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_logs.py
  services/api-server/tests/unit/api_studies/conftest.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies_jobs.py
  services/api-server/tests/unit/conftest.py
Labels: a:apiserver

#5641 🐛 Frontend Fix: Tap Notification
  services/static-webserver/client/source/class/osparc/notification/NotificationsButton.js
Labels: bug, a:frontend

#5639 ♻️Maintenance: removing outdated code to check data consistency
  scripts/maintenance/Makefile
  scripts/maintenance/check_consistency_data.py
  scripts/maintenance/consistency/README.md
  scripts/maintenance/consistency/docker-compose.yml
  scripts/maintenance/consistency/dump-restore.md
Labels: a:infra+ops

#5638 🎨 Add study job create endpoint
  api/specs/web-server/_projects_nodes.py
  packages/models-library/src/models_library/api_schemas_webserver/_base.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_ports.py
  packages/models-library/src/models_library/projects.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
  services/api-server/src/simcore_service_api_server/services/study_job_models_converters.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/src/simcore_service_api_server/utils/http_calls_capture_processing.py
  services/api-server/tests/mocks/create_study_job.json
  services/api-server/tests/unit/api_studies/test_api_routes_studies_jobs.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_ports_handlers.py
Labels: a:apiserver

#5636 ✨ Add file probe service
  packages/models-library/src/models_library/function_services_catalog/_utils.py
  packages/models-library/src/models_library/function_services_catalog/services/probes.py
Labels: a:webserver

#5604 🎨🐛 Frontend: Notifications support products
  services/static-webserver/client/source/class/osparc/notification/Notifications.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/ui/form/EditLabel.js
  services/web/server/src/simcore_service_webserver/users/_notifications.py
  services/web/server/src/simcore_service_webserver/users/_notifications_handlers.py
  services/web/server/tests/unit/isolated/test_user_notifications.py
  services/web/server/tests/unit/with_dbs/03/test_users__notifications.py
Labels: bug, a:frontend, a:webserver

#5650 🎨 Improve exception when clusters-keeper is not running in billable products
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: a:webserver, a:director-v2

#5645 🐛🎨 Frontend: Nodes can't be added while the pipeline is running
  services/static-webserver/client/source/class/osparc/cluster/Utils.js
  services/static-webserver/client/source/class/osparc/data/Converters.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/StartStopButtons.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchToolbar.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/test/data/Permissions.js
  services/static-webserver/client/source/class/osparc/test/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, bug, a:frontend

#5655 e2e-playwright sleepers: add ``/nodes`` context
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/sleepers/sleepers.py
Labels: e2e

#5656 ✨ api-server: Adds job outputs
  .vscode/launch.template.json
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/services/study_job_models_converters.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies_jobs.py
  services/api-server/tests/unit/conftest.py
Labels: a:apiserver

#5657 🎨 Frontend: Await for backend's confirmation when adding node
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/info/StudyMedium.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, a:frontend

#5666 Service startup progress
  .github/CODEOWNERS
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/service/StatusUI.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
Labels: UI/UX

#5661 🎨 Frontend: Render temporary Node while waiting for backend
  services/static-webserver/client/source/class/osparc/workbench/BaseNodeUI.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, a:frontend

#5663 ✨ check rabbitmq connection in api server healthcheck
  services/api-server/src/simcore_service_api_server/api/routes/health.py
  services/api-server/src/simcore_service_api_server/core/_prometheus_instrumentation.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/health_checker.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/services/log_streaming.py
  services/api-server/src/simcore_service_api_server/services/rabbitmq.py
  services/api-server/tests/conftest.py
  services/api-server/tests/unit/_with_db/conftest.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_health.py
  services/api-server/tests/unit/test_services_rabbitmq.py
Labels: a:apiserver

#5672 ✨Storage is now compatible with using multiple S3 regions
  services/storage/src/simcore_service_storage/s3.py
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/tests/unit/test_s3_client.py
Labels: a:storage

#5665 ♻️ Frontend: Tabbed Windows and Views
  services/static-webserver/client/source/class/osparc/admin/AdminCenter.js
  services/static-webserver/client/source/class/osparc/admin/AdminCenterWindow.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/resources/pages/BasePage.js
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/desktop/account/DeleteAccount.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccountWindow.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenterWindow.js
  services/static-webserver/client/source/class/osparc/desktop/credits/DesktopCenter.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/TemplatesList.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/BasePage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ClustersPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TesterPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TokensPage.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/navigation/MiniProfileMenuButton.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/po/POCenter.js
  services/static-webserver/client/source/class/osparc/po/POCenterWindow.js
  services/static-webserver/client/source/class/osparc/service/StatusUI.js
  services/static-webserver/client/source/class/osparc/share/ShareePermissions.js
  services/static-webserver/client/source/class/osparc/ui/basic/FloatingHelper.js
  services/static-webserver/client/source/class/osparc/ui/window/TabbedView.js
  services/static-webserver/client/source/class/osparc/ui/window/TabbedWindow.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
Labels: a:frontend

#5673 🐛 bugfix: file download
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_files.py
Labels: bug

#5679 🐛 Restores compatibility with deprecated storage API used in legacy services
  services/storage/src/simcore_service_storage/handlers_files.py
  services/storage/tests/unit/test_handlers_files_metadata.py
Labels: a:storage

#5664 🎨Ensure pulling s4l returns smooth increment of progress (Part 1)
  packages/notifications-library/tests/conftest.py
  packages/pytest-simcore/src/pytest_simcore/__init__.py
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  packages/pytest-simcore/src/pytest_simcore/environment_configs.py
  packages/service-library/src/servicelib/docker_utils.py
  packages/service-library/src/servicelib/fastapi/docker_utils.py
  packages/service-library/src/servicelib/progress_bar.py
  packages/service-library/tests/conftest.py
  packages/service-library/tests/fastapi/test_docker_utils.py
  packages/service-library/tests/test_progress_bar.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_utils.py
  services/dynamic-sidecar/tests/unit/test_core_docker_utils.py
  services/payments/tests/conftest.py
Labels: a:dynamic-sidecar

#5681 🐛 Fixes in api-server for metamodeling
  api/specs/web-server/_projects_nodes.py
  packages/models-library/src/models_library/function_services_catalog/api.py
  packages/models-library/src/models_library/function_services_catalog/services/parameters.py
  packages/models-library/src/models_library/function_services_catalog/services/probes.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_webserver.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/core/_profiler_middleware.py
  services/api-server/src/simcore_service_api_server/services/solver_job_models_converters.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/test_services_solver_job_models_converters.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_ports_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_ports_handlers.py
Labels: a:webserver, a:api, a:apiserver

#5687 🐛🎨 Frontend: Close all hanging windows when logged out + Lazy load Resource Details
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: bug, a:frontend

#5660 ⚗️ Tests meta-modeling workflow using api-server
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/utils/client_base_dev.py
  services/api-server/src/simcore_service_api_server/utils/http_calls_capture.py
  services/api-server/tests/mocks/cleanup.py
  services/api-server/tests/mocks/create_study_job.json
  services/api-server/tests/mocks/delete_file.json
  services/api-server/tests/mocks/get_default_wallet.json
  services/api-server/tests/mocks/get_job_pricing_unit_invalid_job.json
  services/api-server/tests/mocks/get_job_pricing_unit_invalid_solver.json
  services/api-server/tests/mocks/get_job_pricing_unit_success.json
  services/api-server/tests/mocks/get_job_wallet_found.json
  services/api-server/tests/mocks/get_job_wallet_not_found.json
  services/api-server/tests/mocks/get_solver_outputs.json
  services/api-server/tests/mocks/get_solver_pricing_plan_invalid_solver.json
  services/api-server/tests/mocks/get_solver_pricing_plan_success.json
  services/api-server/tests/mocks/get_wallet_failure.json
  services/api-server/tests/mocks/get_wallet_success.json
  services/api-server/tests/mocks/run_study_workflow.json
  services/api-server/tests/mocks/search_file_checksum.json
  services/api-server/tests/mocks/start_job_not_enough_credit.json
  services/api-server/tests/mocks/start_job_with_payment.json
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api__study_workflows.py
  services/clusters-keeper/tests/unit/conftest.py
  services/dynamic-scheduler/tests/conftest.py
  services/payments/tests/unit/test_services_resource_usage_tracker.py
Labels: a:apiserver

#5684 🎨Image pulling progress: use overall size (Part 2)
  packages/service-library/src/servicelib/docker_utils.py
  packages/service-library/src/servicelib/fastapi/docker_utils.py
  packages/service-library/tests/aiohttp/test_docker_utils.py
  packages/service-library/tests/fastapi/test_docker_utils.py
Labels: a:services-library

#5692 e2e: set ``osparc-test-id`` attribute to iframes
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Labels: e2e

#5695 ✨ New osparc variable `OSPARC_VARIABLE_API_HOST` (⚠️)
  .env-devel
  services/director-v2/.env-devel
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables_substitutions.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_utils_osparc_variables.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
  services/docker-compose.yml
Labels: a:director-v2

#5703 🎨 Idling tracker for TIP
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/editor/ThumbnailSuggestions.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/study/StudyPreview.js
  services/static-webserver/client/source/resource/osparc/workbenchUI-dark.png
  services/static-webserver/client/source/resource/osparc/workbenchUI-light.png
Labels: t:enhancement, a:frontend

#5685 🎨Image pulling progress: pass current/total size (Part 3)
  packages/models-library/src/models_library/progress_bar.py
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/models-library/tests/test_rabbit_messages.py
  packages/service-library/src/servicelib/docker_utils.py
  packages/service-library/src/servicelib/fastapi/docker_utils.py
  packages/service-library/src/servicelib/progress_bar.py
  packages/service-library/tests/aiohttp/test_docker_utils.py
  packages/service-library/tests/fastapi/test_docker_utils.py
  packages/service-library/tests/test_progress_bar.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_event_create_sidecars.py
  services/director-v2/src/simcore_service_director_v2/utils/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_compose_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_manager.py
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
  services/web/server/src/simcore_service_webserver/socketio/messages.py
  services/web/server/src/simcore_service_webserver/socketio/models.py
  services/web/server/src/simcore_service_webserver/socketio/plugin.py
  services/web/server/tests/integration/02/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/unit/isolated/notifications/test_rabbitmq_consumers.py
Labels: a:webserver, a:services-library, a:director-v2, a:dynamic-sidecar, a:models-library, a:autoscaling

#5700 ⬆️ Upgrade dependencies and introduce faststream dependency
  packages/aws-library/requirements/_base.txt
  packages/aws-library/requirements/_test.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_test.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/osparc-gateway-server/tests/system/requirements/_test.txt
  services/osparc-gateway-server/tests/system/requirements/_tools.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: t:maintenance

#5701 🎨Storage: disallow optional S3/postgres settings
  services/clusters-keeper/tests/unit/conftest.py
  services/storage/.env-devel
  services/storage/src/simcore_service_storage/application.py
  services/storage/src/simcore_service_storage/settings.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_s3.py
  services/storage/tests/unit/test_s3_client.py
  tests/environment-setup/test_used_python.py
Labels: a:storage

#5623 Temporary fix for long running tasks issue in API server using IP addr
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/client.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/mocks/create_study_job.json
  services/api-server/tests/mocks/run_study_workflow.json
  services/static-webserver/client/source/class/osparc/data/PollTask.js
  services/web/server/tests/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
Labels: a:apiserver

#5698 ✨ Add captcha to registration form
  api/specs/web-server/_auth.py
  packages/models-library/src/models_library/api_schemas_webserver/auth.py
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/login/_registration_api.py
  services/web/server/src/simcore_service_webserver/login/_registration_handlers.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration_handlers.py
Labels: a:frontend, a:webserver

#5716 ✨ Allows to overwrite the defaults for any `FrontendUserPreference` ⚠️
  .env-devel
  packages/models-library/src/models_library/user_preferences.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/users/_preferences_models.py
  services/web/server/src/simcore_service_webserver/users/plugin.py
  services/web/server/src/simcore_service_webserver/users/preferences_api.py
  services/web/server/src/simcore_service_webserver/users/settings.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_projects_permalinks.py
  services/web/server/tests/unit/with_dbs/01/studies_dispatcher/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
  services/web/server/tests/unit/with_dbs/03/test_socketio.py
  services/web/server/tests/unit/with_dbs/03/test_users__preferences_models.py
Labels: t:enhancement, a:webserver

#5723 🐛 Fix: Add recipient to Sticky notes
  packages/pytest-simcore/src/pytest_simcore/playwright_utils.py
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/editor/AnnotationNoteCreator.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/workbench/Annotation.js
  services/static-webserver/client/source/class/osparc/workbench/SvgWidget.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/wrapper/Svg.js
  tests/e2e-playwright/tests/ti_plan.py
Labels: bug, a:frontend

#5731 🎨 Frontend: API Keys enhancements
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TokensPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/window/CreateAPIKey.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/window/ShowAPIKey.js
  tests/e2e-playwright/tests/ti_plan.py
Labels: t:enhancement, a:frontend

#5732 🐛 Fix Frontend SharedResourceItem's icon
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
Labels: t:enhancement, bug, a:frontend

#5719 Clean up oecs in api server
  packages/service-library/src/servicelib/error_codes.py
  services/api-server/src/simcore_service_api_server/api/errors/custom_errors.py
  services/api-server/src/simcore_service_api_server/api/errors/http_error.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/services/service_exception_handling.py
Labels: a:apiserver

#5733 🎨 Frontend: Ignore old maintenance
  services/static-webserver/client/source/class/osparc/MaintenanceTracker.js
Labels: t:enhancement, bug, a:frontend

#5730 Ensure aiohttp services use the same naming convention in prometheus
  services/storage/src/simcore_service_storage/_meta.py
  services/storage/src/simcore_service_storage/application.py
Labels: t:maintenance

#5739 🎨Autoscaling: Change max time to wait for EC2 readyness to 1 minute
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
Labels: a:autoscaling

#5744 🐛 Improve db performance when searching files
  packages/postgres-database/src/simcore_postgres_database/migration/versions/b13ca15c7ef8_add_indices_to_file_meta_data_and_.py
  packages/postgres-database/src/simcore_postgres_database/models/file_meta_data.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
Labels: bug, a:storage

#5702 🎨Progress bar: Add structured message in progress report
  ci/github/helpers/install_rclone_docker_volume_plugin.bash
  packages/models-library/src/models_library/progress_bar.py
  packages/service-library/src/servicelib/archiving_utils.py
  packages/service-library/src/servicelib/docker_utils.py
  packages/service-library/src/servicelib/fastapi/docker_utils.py
  packages/service-library/src/servicelib/progress_bar.py
  packages/service-library/tests/aiohttp/test_docker_utils.py
  packages/service-library/tests/fastapi/test_docker_utils.py
  packages/service-library/tests/test_progress_bar.py
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/nodeports_v2.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/tests/integration/test_node_data_data_manager.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_r_clone.py
  packages/simcore-sdk/tests/integration/test_node_ports_v2_nodeports2.py
  packages/simcore-sdk/tests/unit/test_node_data_data_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_file_io_utils.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_nodeports_v2.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_r_clone.py
  scripts/install_rclone.bash
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_manager.py
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
  services/storage/src/simcore_service_storage/s3_client.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/unit/test_handlers_files.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
  services/web/server/tests/unit/isolated/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/03/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:storage, a:dynamic-sidecar

#5746 ✨E2E Playwright: add extra headers for all requests
  tests/e2e-playwright/tests/conftest.py
Labels: e2e

#5740 🎨 Enh: Merge secondary column's content
  packages/pytest-simcore/src/pytest_simcore/playwright_utils.py
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropFormBase.js
  services/static-webserver/client/source/class/osparc/node/NodeView.js
  services/static-webserver/client/source/class/osparc/widget/NodeOptions.js
  services/static-webserver/client/source/class/osparc/widget/NodeOutputs.js
  services/static-webserver/client/source/class/osparc/widget/NodeTreeItem.js
  services/static-webserver/client/source/class/osparc/workbench/BaseNodeUI.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
  tests/e2e-playwright/tests/sleepers/sleepers.py
  tests/e2e-playwright/tests/ti_plan.py
  tests/e2e/utils/auto.js
Labels: t:enhancement, a:frontend

#5753 🐛E2e: Playwright disable web security
  tests/e2e-playwright/tests/conftest.py
Labels: e2e

#5721 🐛 Fix: successful job's output returns None instead of result
  packages/models-library/src/models_library/api_schemas_directorv2/comp_tasks.py
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/director-v2/VERSION
  services/director-v2/openapi.json
  services/director-v2/setup.cfg
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations_tasks.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_computations.py
  services/web/server/src/simcore_service_webserver/director_v2/api.py
  services/web/server/src/simcore_service_webserver/director_v2/exceptions.py
  services/web/server/src/simcore_service_webserver/projects/_ports_api.py
  services/web/server/src/simcore_service_webserver/projects/_ports_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects__ports_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_ports_handlers.py
Labels: a:webserver, a:director-v2

#5756 ✨Dynamic proxy: add allowed CORS header
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
Labels: a:dynamic-sidecar

#5727 ♻️🔨 Moves httpx-calls-capture tooling to `pytest-simcore`
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_calls_capture_errors.py
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_calls_capture_model.py
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_calls_capture_openapi.py
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_calls_capture_parameters.py
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_client_base_dev.py
  services/api-server/src/simcore_service_api_server/utils/client_base.py
  services/api-server/src/simcore_service_api_server/utils/http_calls_capture_processing.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_delete.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_metadata.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_read.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies_jobs.py
  services/api-server/tests/unit/captures/test__mocks_captures.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_files.py
  services/api-server/tests/unit/test_api_solver_jobs.py
  services/api-server/tests/unit/test_api_wallets.py
  services/api-server/tests/unit/test_utils_http_calls_capture.py
Labels: a:apiserver

#5755 🎨 Frontend: favicons pointing to assets repo
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/resource/osparc/favicon.png
Labels: a:frontend

#5758 🐛 Frontend: bind login page to ``/announcements``
  services/static-webserver/client/source/class/osparc/announcement/AnnouncementUIFactory.js
  services/static-webserver/client/source/class/osparc/announcement/Tracker.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
Labels: bug, a:frontend

#5760 🎨 Improve the service startup progress display
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: a:frontend, UX_improvements

#5766 ✨ TIP frontend: 4th plus button
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Labels: a:frontend
