Repository ITISFoundation/osparc-simcore, pull requests merged in 2024-12, with the labels that each got.

#6655 🎨 web-server: exception handling framework
  services/web/server/src/simcore_service_webserver/exception_handling/__init__.py
  services/web/server/src/simcore_service_webserver/exception_handling/_base.py
  services/web/server/src/simcore_service_webserver/exception_handling/_factory.py
  services/web/server/src/simcore_service_webserver/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_trash_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_exceptions_handlers.py
  services/web/server/tests/unit/isolated/test_exception_handling.py
  services/web/server/tests/unit/isolated/test_exception_handling_base.py
  services/web/server/tests/unit/isolated/test_exception_handling_factory.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers.py
  services/web/server/tests/unit/with_dbs/03/test_trash.py
Labels: a:webserver, t:maintenance

#6869 ♻️ Remove deprecated `from_orm` method (Pydantic v2)
  packages/postgres-database/src/simcore_postgres_database/utils_projects_metadata.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  services/catalog/src/simcore_service_catalog/db/repositories/groups.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
Labels: t:maintenance

#6736 🎨Computational backend: DV-2 computational scheduler becomes replicable (🗃️🚨)
  .coveragerc
  packages/models-library/src/models_library/projects_nodes_io.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/7ad64e963e0f_add_timezone_comp_tasks.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/b7f23f6d8aa2_added_distributed_comp_scheduler.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e05bdc5b3c7b_add_timezone_comp_runs.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_runs.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  packages/service-library/src/servicelib/exception_utils.py
  packages/service-library/src/servicelib/rabbitmq/_models.py
  packages/service-library/tests/test_exception_utils.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/scheduler.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/comp_pipelines.py
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_constants.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_manager.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_models.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_publisher.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_factory.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_worker.py
  services/director-v2/src/simcore_service_director_v2/modules/db/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/_helpers.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_utils_comp_scheduler.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/conftest.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_db_repositories_comp_runs.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_manager.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_worker.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_api_route_clusters.py
  services/director-v2/tests/unit/with_dbs/test_api_route_clusters_details.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations_tasks.py
  services/director-v2/tests/unit/with_dbs/test_utils_rabbitmq.py
Labels: a:director-v2

#6872 ✨ introduce search parameter to the listing workspaces
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/workspaces/_models.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_api.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_db.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_handlers.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces.py
Labels: a:webserver

#6877 ♻️Pydantic V2 and SQLAlchemy warning fixes
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/tests/unit/test_modules_clusters_management_core.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations_tasks.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
  services/director-v2/tests/unit/with_dbs/conftest.py
Labels: a:director-v2

#6837 ♻️ Maintenance: removing/adding EFS env vars :warning:
  .env-devel
  packages/settings-library/src/settings_library/efs.py
  services/docker-compose.yml
  services/efs-guardian/tests/conftest.py
Labels: t:maintenance, efs-guardian

#6851 🎨 moving folders to workspaces
  api/specs/web-server/_folders.py
  api/specs/web-server/_projects_workspaces.py
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_projects.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/src/simcore_service_webserver/folders/_workspaces_api.py
  services/web/server/src/simcore_service_webserver/folders/_workspaces_handlers.py
  services/web/server/src/simcore_service_webserver/folders/plugin.py
  services/web/server/src/simcore_service_webserver/projects/_folders_db.py
  services/web/server/src/simcore_service_webserver/projects/_groups_api.py
  services/web/server/src/simcore_service_webserver/projects/_groups_db.py
  services/web/server/src/simcore_service_webserver/projects/_projects_db.py
  services/web/server/src/simcore_service_webserver/projects/_workspaces_api.py
  services/web/server/src/simcore_service_webserver/projects/_workspaces_handlers.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/04/workspaces/conftest.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_folders_between_workspaces.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_projects_between_workspaces.py
Labels: a:webserver

#6890 🎨 [Frontend] Show support email in About window
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/product/AboutProduct.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4l/Welcome.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4lacad/Welcome.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4llite/Slides.js
  services/static-webserver/client/source/class/osparc/store/Support.js
Labels: t:enhancement, a:frontend

#6874 ♻️ refactor RUT to use new transactional context
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rest/dependencies.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/background_task_periodic_heartbeat_check.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/credit_transactions_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/pricing_plans_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/repositories/__init__.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/repositories/_base.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/repositories/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/service_runs_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/pricing_plans.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/pricing_units.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/service_runs.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/utils.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_service_runs__export.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_background_task_periodic_heartbeat_check.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_with_billing.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_with_billing_cost_0.py
Labels: t:maintenance, a:resource-usage-tracker

#6784 ✨Adding dynamic services monitoring dashboard (⚠️devops)
  .env-devel
  Makefile
  packages/models-library/tests/test_service_settings_labels.py
  packages/models-library/tests/test_utils_fastapi_encoders.py
  services/docker-compose.yml
  services/dynamic-scheduler/Dockerfile
  services/dynamic-scheduler/requirements/_base.in
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/requirements/_test.in
  services/dynamic-scheduler/requirements/_test.txt
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_utils.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_index.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_render_utils.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_service.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/_health.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/cli.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/rabbitmq.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_api.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_deferred_get_status.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_monitor.py
  services/dynamic-scheduler/tests/unit/api_frontend/conftest.py
  services/dynamic-scheduler/tests/unit/api_frontend/helpers.py
  services/dynamic-scheduler/tests/unit/api_frontend/test_api_frontend_routes_index.py
  services/dynamic-scheduler/tests/unit/api_frontend/test_api_frontend_routes_service.py
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__health.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__tracker.py
  services/dynamic-scheduler/tests/unit/status_monitor/test_services_status_monitor__monitor.py
Labels: t:maintenance, a:dynamic-scheduler

#6878 🐛🎨 [Frontend] Various bug fixes: new tag from Study, Checkpoint viewer, Leave study message
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/snapshots/SnapshotsView.js
  services/static-webserver/client/source/class/osparc/store/Tags.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelListItem.js
Labels: t:enhancement, bug, a:frontend

#6888 🎨 [Frontend] Study name to Tab
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/store/Workspaces.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: t:enhancement, a:frontend

#6884 ✨ [Frontend] listen to iframe messages PoC
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Labels: t:enhancement, a:frontend

#6886 🐛 Making dy-sidecar start faster when volumes contain data
  services/dynamic-sidecar/Dockerfile
  services/dynamic-sidecar/docker/entrypoint.sh
Labels: a:dynamic-sidecar

#6885 ♻️ adjust rclone defaults ⚠️
  .env-devel
  packages/settings-library/src/settings_library/r_clone.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_utils.py
  services/agent/src/simcore_service_agent/services/backup.py
  services/director-v2/.env-devel
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Labels: a:dynamic-sidecar, a:agent

#6889 🎨 adding new scheduling mode to dynamic-scheduler ⚠️
  .env-devel
  services/docker-compose.yml
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler_interface.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_deferred_get_status.py
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
Labels: a:dynamic-scheduler

#6857 🎨 Tracing: instrument logs and ensure traces are propagated through `asyncio.Queue`s
  packages/aws-library/requirements/_base.txt
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/src/servicelib/async_utils.py
  packages/service-library/src/servicelib/fastapi/tracing.py
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/src/servicelib/tracing.py
  packages/simcore-sdk/requirements/_base.txt
  services/agent/requirements/_base.txt
  services/agent/src/simcore_service_agent/core/application.py
  services/api-server/requirements/_base.txt
  services/api-server/src/simcore_service_api_server/core/application.py
  services/autoscaling/requirements/_base.txt
  services/autoscaling/src/simcore_service_autoscaling/main.py
  services/catalog/requirements/_base.txt
  services/catalog/src/simcore_service_catalog/main.py
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/src/simcore_service_clusters_keeper/main.py
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/director-v2/requirements/_base.txt
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director/requirements/_base.txt
  services/director/src/simcore_service_director/main.py
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/main.py
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/efs-guardian/requirements/_base.txt
  services/efs-guardian/src/simcore_service_efs_guardian/main.py
  services/invitations/requirements/_base.txt
  services/invitations/src/simcore_service_invitations/main.py
  services/payments/requirements/_base.txt
  services/payments/src/simcore_service_payments/main.py
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/main.py
  services/storage/requirements/_base.txt
  services/storage/src/simcore_service_storage/cli.py
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/log.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/conftest.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/conftest.py
  tests/swarm-deploy/requirements/_test.txt
Labels: tracing

#6866 🐛 ensure backwards compatibility of api server
  .github/workflows/ci-testing-deploy.yml
  Makefile
  api/specs/director/openapi.yaml
  api/specs/web-server/_projects_states.py
  api/specs/web-server/openapi.py
  ci/github/helpers/openapi-specs-diff.bash
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/credits.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/_with_db/test_product.py
  services/api-server/tests/unit/test_api_solver_jobs.py
  services/api-server/tests/unit/test_api_wallets.py
  services/catalog/openapi.json
  services/director-v2/openapi.json
  services/director/src/simcore_service_director/api/Makefile
  services/dynamic-scheduler/openapi.json
  services/payments/gateway/openapi.json
  services/resource-usage-tracker/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: t:maintenance

#6873 ⬆️Upgrade dask related libraries and services (⚠️🚨)
  .codecov.yml
  .github/workflows/ci-testing-deploy.yml
  packages/dask-task-models-library/requirements/_base.txt
  packages/dask-task-models-library/requirements/_test.txt
  packages/dask-task-models-library/requirements/_tools.txt
  packages/pytest-simcore/src/pytest_simcore/dask_scheduler.py
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/autoscaling/requirements/_tools.txt
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/clusters-keeper/requirements/_tools.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/_tools.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/tests/unit/test_modules_dask_client.py
Labels: t:maintenance

#6904 ✨ web-api: user's privacy settings
  .github/PULL_REQUEST_TEMPLATE.md
  api/specs/web-server/_users.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/38c9ac332c58_new_user_privacy_columns.py
  packages/postgres-database/src/simcore_postgres_database/models/users.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/_with_db/test_api_user.py
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/users/_models.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/users/exceptions.py
  services/web/server/src/simcore_service_webserver/users/schemas.py
  services/web/server/tests/unit/isolated/test_users_models.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
Labels: a:webserver

#6915 ⬆️Full upgrade autoscaling/clusters-keeper
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.in
  services/autoscaling/requirements/_test.txt
  services/autoscaling/requirements/_tools.txt
  services/autoscaling/tests/unit/conftest.py
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/clusters-keeper/requirements/_tools.txt
  services/clusters-keeper/tests/unit/conftest.py
Labels: t:maintenance, a:autoscaling, a:clusters-keeper

#6918 ⚗️CI: Separate image building of frontend
  .github/workflows/ci-testing-deploy.yml
  Makefile
  packages/service-integration/Dockerfile
  requirements/tools/Dockerfile
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Labels: a:infra+ops, t:maintenance

#6893 ♻️ redirect `list_dynamic_services` via dynamic-scheduler
  packages/common-library/src/common_library/unset.py
  packages/common-library/tests/test_unset.py
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services_service.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/dynamic_scheduler/services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_public_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_thin_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler_interface.py
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__api.py
  services/dynamic-scheduler/tests/unit/status_monitor/test_services_status_monitor__monitor.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/director_v2/api.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_orphans.py
  services/web/server/src/simcore_service_webserver/projects/_folders_db.py
  services/web/server/src/simcore_service_webserver/projects/_trash_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/isolated/test_garbage_collector_core.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_metadata_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/03/tags/conftest.py
  services/web/server/tests/unit/with_dbs/03/test_trash.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, a:dynamic-scheduler

#6846 ⬆️ Maintenance: upgrades `catalog` service requirements
  requirements/constraints.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/catalog/src/simcore_service_catalog/models/services_db.py
  services/catalog/tests/unit/conftest.py
  tests/e2e-playwright/Makefile
Labels: t:maintenance, a:catalog

#6916 ✨ [Frontend] Username and Privacy settings
  services/static-webserver/client/source/class/osparc/auth/Data.js
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Group.js
  services/static-webserver/client/source/class/osparc/data/model/User.js
  services/static-webserver/client/source/class/osparc/data/model/UserMember.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccountWindow.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/filter/CollaboratorToggleButton.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4l/Welcome.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4lacad/Welcome.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4llite/Welcome.js
  services/static-webserver/client/source/class/osparc/product/quickStart/tis/Welcome.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
  services/static-webserver/client/source/class/osparc/ui/window/TabbedView.js
  services/static-webserver/client/source/class/osparc/utils/Avatar.js
Labels: t:enhancement, a:frontend

#6907 🎨 [Frontend] Friendlier logger
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/ExpandSelection.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerModel.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerView.js
  services/static-webserver/client/source/resource/osparc/circle-exclamation-solid.svg
  services/static-webserver/client/source/resource/osparc/circle-info-solid.svg
  services/static-webserver/client/source/resource/osparc/circle-xmark-solid.svg
Labels: t:enhancement, a:frontend

#6921 ♻️ Add startup logs to RUT
  .env-devel
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rest/routes.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/routes.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/__init__.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/rabbitmq.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/redis.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/s3.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service_setup.py
Labels: a:resource-usage-tracker

#6923 🎨 ensure job runs also if not in pr
  .github/workflows/ci-testing-deploy.yml
Labels: a:api

#6922 ♻️ RUT: add pricing plan `LICENSE` type
  packages/models-library/src/models_library/resource_tracker.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/4d007819e61a_add_license_type_to_pricing_plan.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_pricing_plans.py
  services/api-server/openapi.json
  services/resource-usage-tracker/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: a:resource-usage-tracker

#6843 ♻️ Refactor API-keys service
  api/specs/web-server/_auth.py
  api/specs/web-server/_auth_api_keys.py
  api/specs/web-server/openapi.py
  packages/models-library/src/models_library/api_schemas_webserver/auth.py
  packages/models-library/src/models_library/rpc/__init__.py
  packages/models-library/src/models_library/rpc/webserver/__init__.py
  packages/models-library/src/models_library/rpc/webserver/auth/__init__.py
  packages/models-library/src/models_library/rpc/webserver/auth/api_keys.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/__init__.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/auth/__init__.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/auth/api_keys.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth_rpc.py
  services/director-v2/tests/conftest.py
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TokensPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/window/ShowAPIKey.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api_keys/_api.py
  services/web/server/src/simcore_service_webserver/api_keys/_db.py
  services/web/server/src/simcore_service_webserver/api_keys/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/api_keys/_handlers.py
  services/web/server/src/simcore_service_webserver/api_keys/_models.py
  services/web/server/src/simcore_service_webserver/api_keys/_repository.py
  services/web/server/src/simcore_service_webserver/api_keys/_rest.py
  services/web/server/src/simcore_service_webserver/api_keys/_rpc.py
  services/web/server/src/simcore_service_webserver/api_keys/_service.py
  services/web/server/src/simcore_service_webserver/api_keys/api.py
  services/web/server/src/simcore_service_webserver/api_keys/errors.py
  services/web/server/src/simcore_service_webserver/api_keys/plugin.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys_rpc.py
  tests/public-api/conftest.py
Labels: t:enhancement, a:webserver

#6860 ⬆️ upgrade api-server dependencies
  .github/workflows/ci-testing-pull-request.yml
  services/api-server/Makefile
  services/api-server/openapi.json
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/api-server/requirements/constraints.txt
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: a:apiserver

#6933 🐛 Fix list jobs issue which occurred when upgrade api server dependencies
  services/api-server/src/simcore_service_api_server/services/webserver.py
Labels: a:apiserver

#6917 ✨♻️ webserver: refactored groups plugin and new user privacy compliance
  api/specs/web-server/_groups.py
  api/specs/web-server/_users.py
  packages/models-library/src/models_library/api_schemas_webserver/_base.py
  packages/models-library/src/models_library/api_schemas_webserver/groups.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  packages/models-library/src/models_library/groups.py
  packages/models-library/src/models_library/utils/common_validators.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/5e27063c3ac9_set_privacy_hide_email_to_false_.py
  packages/postgres-database/src/simcore_postgres_database/models/users.py
  packages/postgres-database/src/simcore_postgres_database/utils_products.py
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
  packages/postgres-database/tests/test_models_groups.py
  packages/pytest-simcore/src/pytest_simcore/simcore_webserver_groups_fixtures.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/_with_db/test_api_user.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_utils.py
  services/web/server/src/simcore_service_webserver/groups/_classifiers_api.py
  services/web/server/src/simcore_service_webserver/groups/_classifiers_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_common/__init__.py
  services/web/server/src/simcore_service_webserver/groups/_common/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_common/schemas.py
  services/web/server/src/simcore_service_webserver/groups/_db.py
  services/web/server/src/simcore_service_webserver/groups/_groups_api.py
  services/web/server/src/simcore_service_webserver/groups/_groups_db.py
  services/web/server/src/simcore_service_webserver/groups/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_users.py
  services/web/server/src/simcore_service_webserver/groups/_utils.py
  services/web/server/src/simcore_service_webserver/groups/api.py
  services/web/server/src/simcore_service_webserver/groups/models.py
  services/web/server/src/simcore_service_webserver/groups/plugin.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/socketio/_handlers.py
  services/web/server/src/simcore_service_webserver/tree.md
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/users/exceptions.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/isolated/test_groups_models.py
  services/web/server/tests/unit/isolated/test_users_models.py
  services/web/server/tests/unit/with_dbs/01/groups/conftest.py
  services/web/server/tests/unit/with_dbs/01/groups/test_groups_handlers_crud.py
  services/web/server/tests/unit/with_dbs/01/groups/test_groups_handlers_users.py
  services/web/server/tests/unit/with_dbs/01/test_groups.py
  services/web/server/tests/unit/with_dbs/01/test_groups_classifiers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver

#6906 ♻️ exposing `dynamic-scheduler` interface by default on `/dynamic-scheduler/`
  services/docker-compose.local.yml
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_utils.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_index.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_service.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/tests/unit/api_frontend/conftest.py
  services/dynamic-scheduler/tests/unit/api_frontend/test_api_frontend_routes_index.py
  services/dynamic-scheduler/tests/unit/api_frontend/test_api_frontend_routes_service.py
Labels: a:dynamic-scheduler

#6928 ✨ introduce `licensed_items_purchases` endpoints 🗃️
  api/specs/web-server/_licensed_items.py
  api/specs/web-server/_licensed_items_purchases.py
  api/specs/web-server/openapi.py
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_purchases.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_purchases.py
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  packages/models-library/src/models_library/resource_tracker.py
  packages/models-library/src/models_library/resource_tracker_licensed_items_purchases.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/77ac824a77ff_add_cols_to_licensed_items_purchases_.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/8fa15c4c3977_add_cols_to_licensed_items_purchases_.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/d68b8128c23b_add_cols_to_licensed_items_purchases_.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_credit_transactions.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_licensed_items_purchases.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/licensed_items_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_licensed_items_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/routes.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/exceptions/errors.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/licensed_items_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/credit_transactions_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_purchases_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_credit_transactions.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_licensed_items_purchases.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_pricing_plans.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_pricing_plans_rpc.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_service_runs__export.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_service_runs__list_aggregated_usages.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_service_runs__list_billable.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_service_runs__list_with_wallet.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_service_runs__list_without_wallet.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/catalog/licenses/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/catalog/licenses/_licensed_items_api.py
  services/web/server/src/simcore_service_webserver/catalog/licenses/errors.py
  services/web/server/src/simcore_service_webserver/catalog/plugin.py
  services/web/server/src/simcore_service_webserver/licenses/__init__.py
  services/web/server/src/simcore_service_webserver/licenses/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_api.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_db.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_api.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/_models.py
  services/web/server/src/simcore_service_webserver/licenses/api.py
  services/web/server/src/simcore_service_webserver/licenses/errors.py
  services/web/server/src/simcore_service_webserver/licenses/plugin.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_db.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_handlers.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_purchases_handlers.py
Labels: a:webserver, a:resource-usage-tracker

#6911 🎨 [Frontend] Connect Anatomical modes to Licensed items
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/PricingPlan.js
  services/static-webserver/client/source/class/osparc/data/model/PricingUnit.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/node/TierSelectionView.js
  services/static-webserver/client/source/class/osparc/node/slideshow/NodeView.js
  services/static-webserver/client/source/class/osparc/pricing/PlanData.js
  services/static-webserver/client/source/class/osparc/pricing/PlanEditor.js
  services/static-webserver/client/source/class/osparc/pricing/PlanListItem.js
  services/static-webserver/client/source/class/osparc/pricing/Plans.js
  services/static-webserver/client/source/class/osparc/pricing/UnitData.js
  services/static-webserver/client/source/class/osparc/pricing/UnitEditor.js
  services/static-webserver/client/source/class/osparc/pricing/UnitsList.js
  services/static-webserver/client/source/class/osparc/service/PricingUnitsList.js
  services/static-webserver/client/source/class/osparc/store/Pricing.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/study/NodePricingUnits.js
  services/static-webserver/client/source/class/osparc/study/PricingUnit.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitTier.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitTiers.js
  services/static-webserver/client/source/class/osparc/study/PricingUnits.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelListItem.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/MarketWindow.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Labels: t:enhancement, a:frontend

#6946 ✨ introduce webserver rpc endpoints for licenses
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/auth/api_keys.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/licenses/__init__.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/licenses/licensed_items.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
  services/web/server/src/simcore_service_webserver/licenses/plugin.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
Labels: a:webserver

#6940 🐛♻️ web-api: fixes adding group member by user-name and some cleanup
  api/specs/web-server/_projects_nodes.py
  api/specs/web-server/_wallets.py
  packages/common-library/src/common_library/groups_enums.py
  packages/models-library/src/models_library/api_schemas_catalog/service_access_rights.py
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/models-library/src/models_library/api_schemas_webserver/folders.py
  packages/models-library/src/models_library/api_schemas_webserver/folders_v2.py
  packages/models-library/src/models_library/api_schemas_webserver/socketio.py
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  packages/models-library/src/models_library/api_schemas_webserver/workspaces.py
  packages/models-library/src/models_library/clusters.py
  packages/models-library/src/models_library/folders.py
  packages/models-library/src/models_library/groups.py
  packages/models-library/src/models_library/services_access.py
  packages/models-library/src/models_library/users.py
  packages/models-library/src/models_library/workspaces.py
  packages/models-library/tests/test_api_schemas_webserver_socketio.py
  packages/notifications-library/tests/with_db/conftest.py
  packages/postgres-database/requirements/prod.txt
  packages/postgres-database/src/simcore_postgres_database/models/groups.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_workspaces.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/models/services_specifications.py
  services/migration/Dockerfile
  services/payments/src/simcore_service_payments/db/payment_users_repo.py
  services/payments/tests/conftest.py
  services/payments/tests/unit/test_db_payments_users_repo.py
  services/payments/tests/unit/test_services_notifier.py
  services/storage/src/simcore_service_storage/db_access_layer.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_utils.py
  services/web/server/src/simcore_service_webserver/groups/_common/schemas.py
  services/web/server/src/simcore_service_webserver/groups/_groups_api.py
  services/web/server/src/simcore_service_webserver/groups/_groups_db.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
  services/web/server/src/simcore_service_webserver/projects/_groups_api.py
  services/web/server/src/simcore_service_webserver/projects/_groups_db.py
  services/web/server/src/simcore_service_webserver/projects/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/socketio/messages.py
  services/web/server/src/simcore_service_webserver/tags/schemas.py
  services/web/server/src/simcore_service_webserver/users/_db.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/wallets/_db.py
  services/web/server/src/simcore_service_webserver/wallets/_groups_api.py
  services/web/server/src/simcore_service_webserver/wallets/_groups_db.py
  services/web/server/src/simcore_service_webserver/wallets/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_groups_api.py
  services/web/server/src/simcore_service_webserver/workspaces/_groups_db.py
  services/web/server/src/simcore_service_webserver/workspaces/_models.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_db.py
  services/web/server/tests/unit/isolated/test_groups_models.py
  services/web/server/tests/unit/isolated/test_projects__db_utils.py
  services/web/server/tests/unit/with_dbs/01/groups/test_groups_handlers_users.py
Labels: a:database, t:maintenance, a:models-library

#6953 🐛Autoscaling: Fixes return value of Docker node activation
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Labels: a:autoscaling

#6952 🎨 [Frontend] Avatar for users with hidden email
  services/static-webserver/client/source/class/osparc/data/model/User.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
  services/static-webserver/client/source/class/osparc/info/CommentAdd.js
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/utils/Avatar.js
Labels: t:enhancement, a:frontend

#6951 🐛 Fix issue with sending metrics that are None to Prometheus
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
Labels: a:director-v2

#6956 🎨 E2E TIP test: use default timeout 30 seconds
  tests/e2e-playwright/tests/conftest.py
Labels: e2e

#6958 ✨ Expose `/licensed-items` endpoint in api server
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  services/api-server/src/simcore_service_api_server/api/dependencies/rabbitmq.py
  services/api-server/src/simcore_service_api_server/api/dependencies/webserver_http.py
  services/api-server/src/simcore_service_api_server/api/dependencies/webserver_rpc.py
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/credits.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/health.py
  services/api-server/src/simcore_service_api_server/api/routes/licensed_items.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/users.py
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/health_checker.py
  services/api-server/src/simcore_service_api_server/exceptions/handlers/__init__.py
  services/api-server/src/simcore_service_api_server/exceptions/handlers/_handlers_backend_errors.py
  services/api-server/src/simcore_service_api_server/exceptions/service_errors_utils.py
  services/api-server/src/simcore_service_api_server/main.py
  services/api-server/src/simcore_service_api_server/models/schemas/meta.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
  services/api-server/src/simcore_service_api_server/services_http/__init__.py
  services/api-server/src/simcore_service_api_server/services_http/catalog.py
  services/api-server/src/simcore_service_api_server/services_http/director_v2.py
  services/api-server/src/simcore_service_api_server/services_http/jobs.py
  services/api-server/src/simcore_service_api_server/services_http/log_streaming.py
  services/api-server/src/simcore_service_api_server/services_http/rabbitmq.py
  services/api-server/src/simcore_service_api_server/services_http/solver_job_models_converters.py
  services/api-server/src/simcore_service_api_server/services_http/solver_job_outputs.py
  services/api-server/src/simcore_service_api_server/services_http/storage.py
  services/api-server/src/simcore_service_api_server/services_http/study_job_models_converters.py
  services/api-server/src/simcore_service_api_server/services_http/webserver.py
  services/api-server/src/simcore_service_api_server/services_rpc/__init__.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/api_solvers/conftest.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_logs.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_solver_jobs.py
  services/api-server/tests/unit/test_exceptions.py
  services/api-server/tests/unit/test_licensed_items.py
  services/api-server/tests/unit/test_models_schemas_files.py
  services/api-server/tests/unit/test_services_directorv2.py
  services/api-server/tests/unit/test_services_rabbitmq.py
  services/api-server/tests/unit/test_services_solver_job_models_converters.py
  services/api-server/tests/unit/test_services_solver_job_outputs.py
Labels: a:apiserver

#6935 🐛 Fix deletion of files in folders
  services/storage/src/simcore_service_storage/db_file_meta_data.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm_utils.py
  services/storage/tests/unit/test_db_file_meta_data.py
  services/storage/tests/unit/test_handlers_files.py
  services/storage/tests/unit/test_simcore_s3_dsm_utils.py
Labels: bug, a:storage

#6962 🐛Autoscaling: Warm buffers do not replace hot buffers
  .codecov.yml
  .github/workflows/ci-testing-deploy.yml
  packages/pytest-simcore/src/pytest_simcore/helpers/aws_ec2.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_buffer_machine_core.py
  services/autoscaling/tests/unit/test_utils_auto_scaling_core.py
Labels: a:autoscaling

#6957 ✨ [Frontend] Drag&Drop: Projects and Folders
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/CardContainer.js
  services/static-webserver/client/source/class/osparc/dashboard/DragDropHelpers.js
  services/static-webserver/client/source/class/osparc/dashboard/DragWidget.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonLoadMore.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/GroupedCardContainer.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonLoadMore.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/MoveResourceTo.js
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTreeItem.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/pricing/UnitEditor.js
  services/static-webserver/client/source/class/osparc/service/ServiceList.js
  services/static-webserver/client/source/class/osparc/service/ServiceListItem.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
Labels: t:enhancement, a:frontend

#6970 🐛 Update state when patching node
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: bug, a:webserver

#6969 🐛🎨 [Frontend] Fix: Filter and focus Service Catalog items
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
  services/static-webserver/client/source/class/osparc/data/model/Service.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/filter/NodeTypeFilter.js
  services/static-webserver/client/source/class/osparc/filter/group/ServiceFilterGroup.js
  services/static-webserver/client/source/class/osparc/service/ServiceList.js
  services/static-webserver/client/source/class/osparc/service/ServiceListItem.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, a:frontend

#6945 ♻️ rerouted `update projects networks` via `dynamic-scheduler`
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/dynamic_scheduler/services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_public_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_thin_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler_interface.py
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/director_v2/api.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_redirects_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__clone.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__clone_in_workspace_and_folder.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__list.py
  services/web/server/tests/unit/with_dbs/02/test_projects_metadata_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
  services/web/server/tests/unit/with_dbs/02/test_projects_ports_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_core.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_handlers.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/conftest.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
Labels: a:webserver, a:dynamic-scheduler

#6908 ♻️ Redirecting `inputs retrieval` via `dynamic-scheduler` ⚠️
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/dynamic_scheduler/services.py
  services/director/src/simcore_service_director/producer.py
  services/docker-compose.yml
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_public_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_thin_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler_interface.py
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/director_v2/api.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/settings.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: a:webserver, a:dynamic-scheduler

#6972 🎨 [Frontend] Enh Drag&Drop: Drop on Trash
  services/static-webserver/client/source/class/osparc/auth/Data.js
  services/static-webserver/client/source/class/osparc/dashboard/DragDropHelpers.js
  services/static-webserver/client/source/class/osparc/dashboard/DragWidget.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/ThemeDark.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/ThemeLight.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/ThemeDark.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/ThemeLight.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/ThemeDark.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/ThemeLight.js
  services/static-webserver/client/source/class/osparc/ui/window/Confirmation.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelListItem.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Labels: t:enhancement, a:frontend

#6968 ♻️Computation backend: clean comp_tasks DB (🗃️)
  .codecov.yml
  packages/postgres-database/requirements/_test.in
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/src/simcore_postgres_database/migration/versions/52a0e8148dd5_remove_submit_timestamp.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/tests/mocks/fake_task.json
  services/director-v2/tests/unit/test_utils_dags.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/conftest.py
Labels: a:director-v2

#6971 🐛 Update webserver's swagger ui
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/rest/plugin.py
  services/web/server/tests/unit/isolated/test_diagnostics.py
Labels: a:webserver

#6978 🎨 add `license_key` field (🗃️)
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  packages/models-library/src/models_library/licensed_items.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/d31c23845017_add_license_key.py
  packages/postgres-database/src/simcore_postgres_database/models/licensed_items.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_api.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_db.py
Labels: a:webserver

#6979 🐛 add `ProjectInvalidRightsError` to folders exception handling
  services/web/server/src/simcore_service_webserver/folders/_exceptions_handlers.py
Labels: a:webserver

#6973 🐛 Sync nodes when patching
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
Labels: bug, a:webserver

#6942 🎨 expose `service_run_id` as an env var for both comp and new style dynamic services
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_checkouts.py
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/service_runs.py
  packages/models-library/src/models_library/api_schemas_webserver/resource_usage.py
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/models-library/src/models_library/resource_tracker.py
  packages/models-library/src/models_library/services.py
  packages/models-library/src/models_library/services_types.py
  packages/models-library/tests/test_services_types.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/licensed_items_checkouts.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/licenses/licensed_items.py
  services/agent/src/simcore_service_agent/models/volumes.py
  services/agent/tests/unit/conftest.py
  services/agent/tests/unit/test_services_backup.py
  services/agent/tests/unit/test_services_docker_utils.py
  services/agent/tests/unit/test_services_volumes_manager.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_event_create_sidecars.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/substitutions.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/src/simcore_service_director_v2/utils/osparc_variables.py
  services/director-v2/src/simcore_service_director_v2/utils/rabbitmq.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_volumes_resolver.py
  services/director-v2/tests/unit/test_modules_osparc_variables.py
  services/director-v2/tests/unit/test_utils_comp_scheduler.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/errors.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_core_docker_utils.py
  services/dynamic-sidecar/tests/unit/test_core_errors.py
  services/dynamic-sidecar/tests/unit/test_core_validation.py
  services/dynamic-sidecar/tests/unit/test_modules_mounted_fs.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_manager.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_watcher.py
  services/dynamic-sidecar/tests/unit/test_modules_system_monitor__disk_usage.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/service_runs.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/background_task_periodic_heartbeat_check.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/service_runs_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/utils.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_checkouts_api.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
Labels: a:director-v2

#6980 🎨 release license seats on issues
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/background_task_periodic_heartbeat_check.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_checkouts_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_licensed_items_checkouts_db.py
Labels: a:resource-usage-tracker

#6949 ♻️ reroute `get project inactivity` via `dynamic-scheduler`
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/dynamic_scheduler/services.py
  services/director-v2/openapi.json
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_public_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_thin_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler_interface.py
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director_v2/_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/director_v2/api.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Labels: a:webserver, a:dynamic-scheduler

#6985 🐛 Fix pagination for empty chunks
  packages/models-library/src/models_library/rpc_pagination.py
  packages/models-library/tests/test_rest_pagination.py
  packages/pytest-simcore/src/pytest_simcore/examples/models_library.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
Labels: a:models-library
