Repository ITISFoundation/osparc-simcore, pull requests merged in 2024-10, with the labels that each got.

#6432 🐛🎨 Fixes unhandled config error and new log helpers for better troubleshotting
  packages/models-library/src/models_library/errors_classes.py
  packages/models-library/tests/test_errors_classes.py
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/tests/test_error_codes.py
  packages/service-library/tests/test_logging_utils.py
  services/web/server/src/simcore_service_webserver/users/_constants.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/users/exceptions.py
Labels: a:webserver, a:services-library, t:maintenance

#6480 🎨 [Frontend] S4L and S4L lite: Include deprecated versions in plus button, they should all be updatable to a non deprecated one
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Labels: t:enhancement, a:frontend

#6481 🐛 [Frontend] Guided Tours: point to visible selector or skip
  services/static-webserver/client/source/class/osparc/dashboard/ToggleButtonContainer.js
  services/static-webserver/client/source/class/osparc/tours/Manager.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerView.js
Labels: bug, a:frontend

#6482 🐛🎨 [Frontend] Workspaces & Folders: Improve context syncing
  services/static-webserver/client/source/class/osparc/dashboard/ContextBreadcrumbs.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
Labels: t:enhancement, a:frontend

#6444 🎨 Handles wallet forbidden error and enhances handling of unexpected errors
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
  packages/service-library/tests/aiohttp/long_running_tasks/conftest.py
  packages/service-library/tests/aiohttp/test_rest_middlewares.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/rest/plugin.py
  services/web/server/src/simcore_service_webserver/wallets/_api.py
  services/web/server/src/simcore_service_webserver/wallets/_db.py
  services/web/server/src/simcore_service_webserver/wallets/_groups_api.py
Labels: a:frontend, a:webserver, a:services-library

#6426 🔨 Doc and scripts to create read-only user in PostgreSQL
  .env-devel
  .gitignore
  services/postgres/Makefile
  services/postgres/scripts/create-readonly-user.sql.template
Labels: a:database

#6485 🎨 [Frontend] Handle LongRunningTask errors better
  services/static-webserver/client/source/class/osparc/FlashMessenger.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/PollTask.js
  services/static-webserver/client/source/class/osparc/data/PollTasks.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/ui/message/FlashMessage.js
Labels: t:enhancement, a:frontend

#6488 🐛 [Frontend] Fix for Folders disabled scenario
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Labels: bug, a:frontend

#6472 🐛 archiving_utils creates deterministic zip archives
  packages/aws-library/requirements/_base.txt
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/service-library/src/servicelib/archiving_utils.py
  packages/service-library/tests/test_archiving_utils.py
  packages/simcore-sdk/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: bug, a:sidecar, a:services-library

#6489 ✨Releases public-api 0.7
  services/api-server/VERSION
  services/api-server/openapi.json
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
Labels: a:api, a:apiserver

#6483 🎨 improve project full search
  api/specs/web-server/_projects_crud.py
  packages/service-library/src/servicelib/aiohttp/requests_validation.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
  services/web/server/src/simcore_service_webserver/projects/_db_utils.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/tests/unit/with_dbs/03/workspaces/test_workspaces__list_projects_full_search.py
Labels: a:webserver

#6496 🐛 Front-end: fixes PO center widget
  services/static-webserver/client/source/class/osparc/po/PreRegistration.js
Labels: a:frontend

#6484 🎨 Adds authentication for new style dynamic services and platform vendor services ⚠️
  .env-devel
  Makefile
  api/specs/web-server/_auth.py
  packages/pytest-simcore/src/pytest_simcore/dev_vendors_compose.py
  packages/pytest-simcore/tests/test_dev_vendors_compose.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/docker-compose-dev-vendors.yml
  services/docker-compose.yml
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/login/_auth_handlers.py
  services/web/server/src/simcore_service_webserver/session/plugin.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration_handlers.py
  tests/e2e/README.md
  tests/e2e/jest.config.js
  tests/swarm-deploy/test_frontend_served.py
Labels: t:enhancement, a:webserver, t:maintenance, security, a:dynamic-sidecar

#6494 🎨 Expose env var to raise timeout of downloading/uploading data to and from S3
  .env-devel
  services/docker-compose.yml
Labels: t:enhancement, a:director-v2

#6500 🔨 New sql script template to remove readonly user
  .env-devel
  .gitignore
  .vscode/settings.template.json
  services/postgres/Makefile
  services/postgres/scripts/.gitignore
  services/postgres/scripts/remove-readonly-user.sql.template
Labels: a:database, t:maintenance

#6501 🐛 Fixes bad formatting while handling missing configuration errors
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/tests/aiohttp/test_rest_middlewares.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Labels: a:webserver

#6504 ♻️ increase e2e tip test timeout
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: e2e

#6508 Upgrade agent service (Pydantic v2)
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/agent/requirements/_tools.txt
  services/agent/src/simcore_service_agent/core/application.py
  services/agent/src/simcore_service_agent/core/settings.py
  services/agent/tests/conftest.py
  services/agent/tests/unit/test_modules_volumes_cleanup_s3.py
Labels: t:maintenance

#6516 Upgrade EFS guardian service (Pydantic v2)
  services/efs-guardian/requirements/_base.txt
  services/efs-guardian/requirements/_test.txt
  services/efs-guardian/requirements/_tools.txt
  services/efs-guardian/src/simcore_service_efs_guardian/core/application.py
  services/efs-guardian/src/simcore_service_efs_guardian/core/settings.py
  services/efs-guardian/src/simcore_service_efs_guardian/exceptions/_base.py
Labels: t:maintenance

#6513 Upgrade invitations service (Pydantic v2)
  packages/common-library/src/common_library/serialization.py
  packages/models-library/src/models_library/invitations.py
  services/invitations/openapi.json
  services/invitations/requirements/_base.txt
  services/invitations/requirements/_test.txt
  services/invitations/requirements/_tools.txt
  services/invitations/src/simcore_service_invitations/api/_invitations.py
  services/invitations/src/simcore_service_invitations/api/_meta.py
  services/invitations/src/simcore_service_invitations/cli.py
  services/invitations/src/simcore_service_invitations/core/settings.py
  services/invitations/src/simcore_service_invitations/services/invitations.py
  services/invitations/tests/unit/api/conftest.py
  services/invitations/tests/unit/api/test_api_invitations.py
  services/invitations/tests/unit/api/test_api_meta.py
  services/invitations/tests/unit/conftest.py
  services/invitations/tests/unit/test__model_examples.py
  services/invitations/tests/unit/test_cli.py
  services/invitations/tests/unit/test_invitations.py
Labels: t:maintenance

#6519 Upgrade clusters keeper service (Pydantic v2)
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/clusters-keeper/requirements/_tools.txt
  services/clusters-keeper/src/simcore_service_clusters_keeper/_meta.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/application.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/errors.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters_management_core.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/dask.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/dask.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/ec2.py
  services/clusters-keeper/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/test_api_health.py
  services/clusters-keeper/tests/unit/test_core_settings.py
  services/clusters-keeper/tests/unit/test_modules_dask.py
  services/clusters-keeper/tests/unit/test_modules_rabbitmq.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
Labels: t:maintenance

#6512 🐛 Fixes auth product error in vendor services 🚨
  Makefile
  services/docker-compose-dev-vendors.yml
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/login/decorators.py
  services/web/server/src/simcore_service_webserver/products/_api.py
  services/web/server/src/simcore_service_webserver/products/_middlewares.py
  services/web/server/src/simcore_service_webserver/security/_authz_policy.py
  services/web/server/src/simcore_service_webserver/security/_constants.py
  services/web/server/src/simcore_service_webserver/security/api.py
  services/web/server/src/simcore_service_webserver/session/_cookie_storage.py
  services/web/server/src/simcore_service_webserver/session/errors.py
  services/web/server/src/simcore_service_webserver/session/plugin.py
  services/web/server/src/simcore_service_webserver/statics/_handlers.py
  services/web/server/tests/unit/isolated/test_products_middlewares.py
  services/web/server/tests/unit/with_dbs/03/products/test_products_db.py
  services/web/server/tests/unit/with_dbs/03/test_session.py
Labels: a:webserver

#6532 ♻️Maintenance: adjustments to Makefile to use UV instead of pyenv
  Makefile
Labels: a:infra+ops, t:maintenance

#6470 🎨 [Frontend] Search across all Workspaces and Folders
  services/static-webserver/client/source/class/osparc/dashboard/ContextBreadcrumbs.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTreeItem.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: t:enhancement, a:frontend

#6487 ✨ [Frontend] Listen to the ``serviceStatus`` websocket event
  packages/models-library/src/models_library/api_schemas_dynamic_sidecar/ports.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/notifications/_notifications_ports.py
  services/dynamic-sidecar/tests/unit/test_modules_notifier.py
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
Labels: t:enhancement, a:frontend

#6524 🎨 [Frontend] Rebranding: S4L lite -> Sim4Life.lite
  services/static-webserver/client/compile.json
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/product/AboutProduct.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4llite/Dashboard.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4llite/S4LLiteSpecs.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4llite/S4LLiteUI.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4llite/Welcome.js
  services/static-webserver/client/source/resource/osparc/new_studies.json
Labels: a:frontend

#6391 🐛 Fix aiohttp server autoinstrumentation
  packages/service-library/src/servicelib/aiohttp/tracing.py
  services/datcore-adapter/Dockerfile
  services/web/server/tests/unit/isolated/conftest.py
  services/web/server/tests/unit/isolated/test_application_settings.py
  services/web/server/tests/unit/isolated/test_tracing.py
Labels: bug

#6539 🐛 [Frontend] Fix replaceTokens function
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: bug, a:frontend

#6521 ⬆️♻️ Upgrades pint library as well as Dockerfile syntax to address deprecation or syntax warnings
  Makefile
  packages/aws-library/requirements/_base.txt
  packages/postgres-database/docker/Dockerfile
  packages/postgres-database/scripts/erd/Dockerfile
  packages/service-integration/Dockerfile
  packages/service-library/requirements/_base.txt
  packages/simcore-sdk/requirements/_base.txt
  requirements/tools/Dockerfile
  scripts/apt-packages-versions/Dockerfile
  scripts/common.Makefile
  scripts/erd/Dockerfile
  scripts/pydeps-docker/Dockerfile
  services/agent/Dockerfile
  services/agent/requirements/_base.txt
  services/api-server/Dockerfile
  services/api-server/requirements/_base.txt
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director-v2/requirements/_base.txt
  services/director/Dockerfile
  services/director/requirements/_base.txt
  services/director/requirements/_tools.txt
  services/director/requirements/ci.txt
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/osparc-gateway-server/Dockerfile
  services/payments/Dockerfile
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/Dockerfile
  services/static-webserver/client/tools/qooxdoo-kit/builder/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/catalog/_models.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  tests/e2e/docker/Dockerfile
  tests/swarm-deploy/requirements/_test.txt
  tests/swarm-deploy/test_service_images.py
Labels: t:maintenance

#6535 ♻️Pydantic V2 upgrade: autoscaling
  .env-devel
  packages/aws-library/src/aws_library/ec2/_models.py
  packages/models-library/Makefile
  packages/models-library/src/models_library/docker.py
  packages/models-library/src/models_library/generated_models/docker_rest_api.py
  scripts/openapi-pydantic-models-generator.bash
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/autoscaling/src/simcore_service_autoscaling/_meta.py
  services/autoscaling/src/simcore_service_autoscaling/constants.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/core/errors.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_computational.py
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
  services/autoscaling/src/simcore_service_autoscaling/utils/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/buffer_machines_pool_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils/redis.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/manual/.env-devel
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_api_health.py
  services/autoscaling/tests/unit/test_models.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_task.py
  services/autoscaling/tests/unit/test_modules_buffer_machine_core.py
  services/autoscaling/tests/unit/test_modules_dask.py
  services/autoscaling/tests/unit/test_modules_rabbitmq.py
  services/autoscaling/tests/unit/test_utils_auto_scaling_core.py
  services/autoscaling/tests/unit/test_utils_buffer_machines_pool_core.py
  services/autoscaling/tests/unit/test_utils_computational_scaling.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
Labels: a:autoscaling

#6538 ✨ [Frontend] Listen to the ``stateInputPorts`` and ``stateOutputPorts`` websocket events
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/node/slideshow/NodeView.js
  services/static-webserver/client/source/class/osparc/widget/NodeOutputs.js
Labels: t:enhancement, a:frontend

#6545 ⬆️ ♻️ Upgrade pagination customisation in api-server
  services/api-server/requirements/_base.txt
  services/api-server/requirements/constraints.txt
  services/api-server/src/simcore_service_api_server/models/pagination.py
Labels: a:apiserver

#6531 🎨 Enhanced error handling and troubleshooting logs helpers
  packages/models-library/src/models_library/error_codes.py
  packages/models-library/src/models_library/errors_classes.py
  packages/models-library/tests/test_error_codes.py
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/logging_errors.py
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/tests/aiohttp/test_rest_middlewares.py
  packages/service-library/tests/test_logging_errors.py
  packages/service-library/tests/test_logging_utils.py
  services/api-server/src/simcore_service_api_server/exceptions/handlers/_handlers_factory.py
  services/api-server/src/simcore_service_api_server/services/log_streaming.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/payments/src/simcore_service_payments/services/notifier_email.py
  services/web/server/src/simcore_service_webserver/invitations/_core.py
  services/web/server/src/simcore_service_webserver/invitations/errors.py
  services/web/server/src/simcore_service_webserver/login/_2fa_api.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/errors.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_redirects_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
Labels: t:enhancement, a:services-library, t:maintenance

#6549 🐛 [e2e, Frontend] Use ``replace`` instead of ``replaceAll``
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: bug, e2e

#6543 🐛🎨 [Frontend] Load folders after going back to the dashboard
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: t:enhancement, bug, a:frontend

#6542 ♻️Sim4Life computational jobs are not parented correctly
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
Labels: a:director-v2

#6552 🎨 [Frontend] TIP.itis.swiss: Show Phase out message at Request Account
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
Labels: a:frontend

#6547 🎨 pydantic2 migration: fixed unit-tests for dynamic-scheduler
  packages/common-library/src/common_library/pydantic_validators.py
  packages/common-library/tests/test_pydantic_validators.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
  packages/service-library/src/servicelib/fastapi/exceptions_utils.py
  services/agent/src/simcore_service_agent/core/settings.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/scheduler.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/requirements/_test.txt
  services/dynamic-scheduler/requirements/_tools.txt
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/errors.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/models/schemas/meta.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_public_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_api.py
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__meta.py
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
  services/dynamic-scheduler/tests/unit/conftest.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__api.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__tracker.py
  services/dynamic-scheduler/tests/unit/status_monitor/test_services_status_monitor__monitor.py
  services/dynamic-scheduler/tests/unit/test__model_examples.py
  services/dynamic-scheduler/tests/unit/test_cli.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/settings.py
  services/web/server/src/simcore_service_webserver/projects/settings.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/settings.py
Labels: t:maintenance, a:dynamic-scheduler

#6546 🎨 pydantic2 migration: fixed unit-tests for agent
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/agent/errors.py
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/agent/requirements/_tools.txt
  services/agent/src/simcore_service_agent/core/settings.py
  services/agent/src/simcore_service_agent/models/volumes.py
  services/agent/src/simcore_service_agent/services/docker_utils.py
  services/autoscaling/tests/unit/test_core_settings.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/constants.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/tests/unit/conftest.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/process_messages.py
  services/invitations/src/simcore_service_invitations/cli.py
  services/invitations/src/simcore_service_invitations/core/settings.py
Labels: a:agent

#6553 🎨 pydantic2 migration: fixed unit-tests for payments
  packages/models-library/src/models_library/api_schemas_payments/errors.py
  packages/postgres-database/tests/test_models_payments_transactions.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  packages/settings-library/src/settings_library/utils_cli.py
  packages/settings-library/tests/test_utils_cli.py
  services/payments/openapi.json
  services/payments/requirements/_base.txt
  services/payments/scripts/example_payment_gateway.py
  services/payments/src/simcore_service_payments/cli.py
  services/payments/src/simcore_service_payments/core/errors.py
  services/payments/src/simcore_service_payments/core/settings.py
  services/payments/src/simcore_service_payments/db/auto_recharge_repo.py
  services/payments/src/simcore_service_payments/db/payments_methods_repo.py
  services/payments/src/simcore_service_payments/db/payments_transactions_repo.py
  services/payments/src/simcore_service_payments/models/db.py
  services/payments/src/simcore_service_payments/models/db_to_api.py
  services/payments/src/simcore_service_payments/models/payments_gateway.py
  services/payments/src/simcore_service_payments/models/schemas/acknowledgements.py
  services/payments/src/simcore_service_payments/models/schemas/meta.py
  services/payments/src/simcore_service_payments/services/auto_recharge_process_message.py
  services/payments/src/simcore_service_payments/services/payments_gateway.py
  services/payments/src/simcore_service_payments/services/resource_usage_tracker.py
  services/payments/src/simcore_service_payments/services/stripe.py
  services/payments/tests/conftest.py
  services/payments/tests/unit/api/test__one_time_payment_workflows.py
  services/payments/tests/unit/api/test__payment_method_workflows.py
  services/payments/tests/unit/api/test_rest_acknowledgements.py
  services/payments/tests/unit/api/test_rest_auth.py
  services/payments/tests/unit/api/test_rest_meta.py
  services/payments/tests/unit/conftest.py
  services/payments/tests/unit/test__model_examples.py
  services/payments/tests/unit/test_cli.py
  services/payments/tests/unit/test_db_payments_methods_repo.py
  services/payments/tests/unit/test_db_payments_transactions_repo.py
  services/payments/tests/unit/test_rpc_payments.py
  services/payments/tests/unit/test_rpc_payments_methods.py
  services/payments/tests/unit/test_services_auto_recharge_listener.py
  services/payments/tests/unit/test_services_notifier.py
  services/payments/tests/unit/test_services_notifier_email.py
  services/payments/tests/unit/test_services_payments__get_invoice.py
  services/payments/tests/unit/test_services_payments_gateway.py
  services/payments/tests/unit/test_services_resource_usage_tracker.py
Labels: t:maintenance, a:payments

#6559 ♻️ Tests bad parsing of jobs custom metadata
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/tests/conftest.py
  services/api-server/tests/unit/test_models_schemas_jobs.py
Labels: a:apiserver

#6564 🐛 [Frontend] Reuse ``client_session_id`` from socket's query instead of creating a new one
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: bug, a:frontend

#6558 🎨🐛 [Frontend] Retry ``/auth/logout`` call if times out
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditorIdlingTracker.js
  services/static-webserver/client/source/class/osparc/desktop/credits/TransactionsTableModel.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UsageTableModel.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TokensPage.js
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/info/CommentsList.js
  services/static-webserver/client/source/class/osparc/io/rest/AbstractResource.js
  services/static-webserver/client/source/class/osparc/io/rest/Resource.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Labels: t:enhancement, a:frontend

#6551 ♻️ 📝 Minor refactor and doc of `autoscaling` service
  packages/aws-library/src/aws_library/ec2/_client.py
  packages/aws-library/tests/test_ec2_client.py
  packages/service-integration/src/service_integration/pytest_plugin/folder_structure.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/clusters_keeper/ec2_instances.py
  services/autoscaling/.cookiecutterrc
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/tests/unit/test_core_settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/rpc/ec2_instances.py
  services/clusters-keeper/tests/unit/test_rpc_ec2_instances.py
  services/datcore-adapter/.cookiecutterrc
Labels: a:autoscaling, a:aws-library

#6565 🐛 [Frontend] Guest viewers
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
Labels: bug, a:frontend

#6517 Upgrade resource usage tracker (Pydantic v2)
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/credit_transactions.py
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/pricing_plans.py
  packages/settings-library/src/settings_library/base.py
  services/resource-usage-tracker/openapi.json
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/_meta.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/application.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/errors.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/settings.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/resource_tracker_credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/resource_tracker_pricing_plans.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/resource_tracker_pricing_unit_costs.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/resource_tracker_pricing_units.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/resource_tracker_service_runs.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/modules/db/repositories/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/resource_tracker_process_messages.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/resource_tracker_pricing_plans.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/resource_tracker_service_runs.py
  services/resource-usage-tracker/tests/unit/api_rest/test_api_meta.py
  services/resource-usage-tracker/tests/unit/with_dbs/conftest.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_credit_transactions.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_pricing_plans.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_pricing_plans_rpc.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_service_runs__export.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_background_task.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_triggered_by_listening_with_billing.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_with_billing.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_with_billing_cost_0.py
Labels: t:maintenance, a:resource-usage-tracker

#6568 🎨 increase timeout in tip e2e test
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: e2e

#6563 ♻️ `aiohttp` deprecation: Using `web.json_response` to return `2XX` responses instead of raising `HttpException`
  packages/pytest-simcore/src/pytest_simcore/helpers/assert_checks.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_parametrizations.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
  packages/service-library/src/servicelib/aiohttp/web_exceptions_extension.py
  packages/service-library/src/servicelib/status_codes_utils.py
  packages/service-library/tests/aiohttp/test_rest_responses.py
  packages/service-library/tests/aiohttp/test_status_utils.py
  services/storage/src/simcore_service_storage/handlers_files.py
  services/storage/src/simcore_service_storage/handlers_simcore_s3.py
  services/web/server/src/simcore_service_webserver/api_keys/_handlers.py
  services/web/server/src/simcore_service_webserver/director_v2/_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_handlers.py
  services/web/server/src/simcore_service_webserver/login/_registration_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_comments_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_states_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_workspaces_handlers.py
  services/web/server/src/simcore_service_webserver/publications/_handlers.py
  services/web/server/src/simcore_service_webserver/tags/_handlers.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/users/_notifications_handlers.py
  services/web/server/src/simcore_service_webserver/users/_preferences_handlers.py
  services/web/server/src/simcore_service_webserver/users/_tokens_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_handlers.py
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/unit/isolated/test_security_api.py
Labels: a:storage, a:webserver, a:services-library, t:maintenance

#6570 🎨 [Frontend] Enh: Show pending ``service_message`` in loading page
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Labels: t:enhancement, a:frontend, UX_improvements

#6571 🎨Dask sidecar: use reproducible zipfile library
  services/dask-sidecar/requirements/_base.in
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
  services/dask-sidecar/tests/unit/test_file_utils.py
Labels: a:dask-service

#6573 🐛Dynamic schldr: deferred tasks passing invalid kwargs parameters to exceptions
  .env-devel
  packages/service-library/src/servicelib/deferred_tasks/_utils.py
  packages/settings-library/tests/test_utils_logging.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/docker-compose.yml
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/main.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/efs-guardian/src/simcore_service_efs_guardian/core/settings.py
  services/invitations/src/simcore_service_invitations/core/settings.py
  services/payments/src/simcore_service_payments/core/settings.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/settings.py
  services/web/server/src/simcore_service_webserver/application_settings.py
Labels: a:infra+ops, a:dynamic-sidecar

#6575 🐛Deferred tasks: issue with library changing its syntax
  packages/service-library/src/servicelib/deferred_tasks/_utils.py
Labels: a:services-library

#6577 ⬆️Fast depends: update version due to syntax breaking change
  packages/aws-library/requirements/_base.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/src/servicelib/deferred_tasks/_utils.py
  packages/simcore-sdk/requirements/_base.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: a:infra+ops, t:maintenance

#6566 ♻️Maintenance: Improve UV usage
  .dockerignore
  packages/postgres-database/docker/Dockerfile
  packages/postgres-database/scripts/erd/Dockerfile
  packages/service-integration/Dockerfile
  requirements/tools/Dockerfile
  scripts/erd/Dockerfile
  scripts/maintenance/migrate_project/Dockerfile
  scripts/openapi/oas_resolver/Dockerfile
  scripts/pydeps-docker/Dockerfile
  services/agent/Dockerfile
  services/agent/docker/boot.sh
  services/agent/docker/entrypoint.sh
  services/api-server/Dockerfile
  services/api-server/docker/boot.sh
  services/api-server/docker/entrypoint.sh
  services/autoscaling/Dockerfile
  services/autoscaling/docker/boot.sh
  services/autoscaling/docker/entrypoint.sh
  services/catalog/Dockerfile
  services/catalog/docker/boot.sh
  services/catalog/docker/entrypoint.sh
  services/clusters-keeper/Dockerfile
  services/clusters-keeper/docker/boot.sh
  services/dask-sidecar/Dockerfile
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/docker/entrypoint.sh
  services/datcore-adapter/Dockerfile
  services/datcore-adapter/docker/boot.sh
  services/datcore-adapter/docker/entrypoint.sh
  services/director-v2/Dockerfile
  services/director-v2/docker/boot.sh
  services/director-v2/docker/entrypoint.sh
  services/director/requirements/_tools.txt
  services/dynamic-scheduler/Dockerfile
  services/dynamic-scheduler/docker/boot.sh
  services/dynamic-scheduler/docker/entrypoint.sh
  services/dynamic-sidecar/Dockerfile
  services/dynamic-sidecar/docker/boot.sh
  services/dynamic-sidecar/docker/entrypoint.sh
  services/efs-guardian/Dockerfile
  services/efs-guardian/docker/boot.sh
  services/invitations/Dockerfile
  services/invitations/docker/boot.sh
  services/invitations/docker/entrypoint.sh
  services/migration/Dockerfile
  services/osparc-gateway-server/Dockerfile
  services/osparc-gateway-server/docker/boot.sh
  services/osparc-gateway-server/docker/entrypoint.sh
  services/payments/Dockerfile
  services/payments/docker/boot.sh
  services/payments/docker/entrypoint.sh
  services/resource-usage-tracker/Dockerfile
  services/resource-usage-tracker/docker/boot.sh
  services/resource-usage-tracker/docker/entrypoint.sh
  services/storage/Dockerfile
  services/storage/docker/boot.sh
  services/storage/docker/entrypoint.sh
  services/web/Dockerfile
  services/web/server/docker/boot.sh
  services/web/server/docker/entrypoint.sh
Labels: a:infra+ops, t:maintenance

#6576 🎨 [Frontend] Make the Workspace UI element more distinguishable
  services/static-webserver/client/source/class/osparc/dashboard/FolderWithSharedIcon.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonNew.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
Labels: t:enhancement, a:frontend

#6390 🎨 [Frontend] Small screens: Let them go
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/TooSmallDialog.js
  services/static-webserver/client/source/class/osparc/WindowSizeTracker.js
  services/static-webserver/client/source/class/osparc/auth/Data.js
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/viewer/MainPage.js
  services/static-webserver/client/source/resource/osparc/S4LEngine_ComingSoon.html
Labels: t:enhancement, a:frontend, UX_improvements

#6583 🐛 [Frontend] Fix: Download logs with newlines (Firefox)
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerView.js
Labels: bug, a:frontend

#6589 🐛Deferred tasks: set default log level of messages in Faststream broker to DEBUG
  packages/service-library/src/servicelib/deferred_tasks/_deferred_manager.py
Labels: a:services-library, a:dynamic-scheduler

#6582 🐛 Fix opentelemetry errors in autoscaling microservice
  services/docker-compose.local.yml
Labels: bug, a:autoscaling

#6591 ⬆️Dask sidecar: migration to v2
  packages/common-library/src/common_library/serialization.py
  packages/settings-library/src/settings_library/utils_cli.py
  services/dask-sidecar/requirements/_base.in
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/errors.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/models.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/dask_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/tasks.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_cli.py
  services/dask-sidecar/tests/unit/test_dask_utils.py
  services/dask-sidecar/tests/unit/test_docker_utils.py
  services/dask-sidecar/tests/unit/test_file_utils.py
  services/dask-sidecar/tests/unit/test_models.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/dask-sidecar/tests/unit/test_utils.py
Labels: a:dask-service

#6587 🐛 [Frontend] Fix: duplicated ``/folders`` call
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
Labels: bug, a:frontend

#6597 ♻️Use correct import
  packages/common-library/tests/test_error_codes.py
  packages/models-library/src/models_library/error_codes.py
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/logging_errors.py
  packages/service-library/tests/aiohttp/test_rest_middlewares.py
  packages/service-library/tests/test_logging_errors.py
  services/api-server/src/simcore_service_api_server/exceptions/_base.py
  services/api-server/src/simcore_service_api_server/exceptions/handlers/_handlers_factory.py
  services/api-server/src/simcore_service_api_server/services/log_streaming.py
  services/catalog/src/simcore_service_catalog/exceptions/errors.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
  services/web/server/src/simcore_service_webserver/errors.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_redirects_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
Labels: a:infra+ops

#6594 ⬆️Datcore adapter: migration
  services/datcore-adapter/requirements/_base.in
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/src/simcore_service_datcore_adapter/_meta.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/errors/http_error.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/errors/pennsieve_error.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/errors/validation_error.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes/files.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/schemas/datasets.py
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
  services/datcore-adapter/tests/unit/test_route_files.py
  services/datcore-adapter/tests/unit/test_route_health.py
Labels: a:datcore-adapter

#6598 ♻️ [Frontend] Context property for the StudyBrowser
  services/static-webserver/client/source/class/osparc/dashboard/ContextBreadcrumbs.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
Labels: a:frontend, t:maintenance

#6601 🐛 [Frontend] Fix: Avoid null parameters in requests
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
Labels: bug, a:frontend

#6607 🔨Fix codecov2
  .codecov.yml
  .github/workflows/ci-testing-deploy.yml
  .gitignore
  packages/aws-library/Makefile
  packages/dask-task-models-library/Makefile
  packages/models-library/Makefile
  packages/notifications-library/Makefile
  packages/postgres-database/Makefile
  packages/service-integration/Makefile
  packages/service-library/Makefile
  packages/settings-library/Makefile
  packages/simcore-sdk/Makefile
  scripts/common-service.Makefile
Labels: a:infra+ops

#6608 🔨Fix codecov3
  .codecov.yml
Labels: a:infra+ops

#6609 ⬆️Update from upstream (must be merged-commited)
  .codecov.yml
  .github/workflows/ci-testing-deploy.yml
  .gitignore
  packages/aws-library/Makefile
  packages/dask-task-models-library/Makefile
  packages/models-library/Makefile
  packages/notifications-library/Makefile
  packages/postgres-database/Makefile
  packages/service-integration/Makefile
  packages/service-library/Makefile
  packages/settings-library/Makefile
  packages/simcore-sdk/Makefile
  scripts/common-service.Makefile
  services/static-webserver/client/source/class/osparc/dashboard/ContextBreadcrumbs.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
Labels: a:infra+ops

#6602 🐛 FIX: project patch when wallet not shared
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
Labels: bug, a:webserver

#6604 ♻️ Remove PUT project endpoint
  api/specs/web-server/_projects_crud.py
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/03/folders/test_folders.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
  services/web/server/tests/unit/with_dbs/03/workspaces/test_workspaces__folders_and_projects_crud.py
Labels: a:webserver, t:maintenance

#6610 🔨Fix codecov4
  .codecov.yml
  .github/workflows/ci-testing-deploy.yml
  api/tests/Makefile
  ci/github/unit-testing/api.bash
  ci/github/unit-testing/frontend.bash
Labels: a:infra+ops

#6613 🐛 [Frontend] Initialize Study Browser container spacing in list mode
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
Labels: bug, a:frontend

#6603 🎨 [e2e-frontend] Navigation Bar and User Menu
  .eslintrc.json
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsWindow.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  tests/e2e-frontend/Makefile
  tests/e2e-frontend/tests/init/statics.spec.js
  tests/e2e-frontend/tests/login/invitationRequired.spec.js
  tests/e2e-frontend/tests/navigationBar/navigationBar.spec.js
  tests/e2e-frontend/tests/products.json
  tests/e2e-frontend/tests/userMenu/userMenuButtons.spec.js
  tests/e2e-frontend/tests/userMenu/userMenuWindows.spec.js
  tests/e2e-frontend/tests/users.template.json
Labels: a:frontend, e2e

#6579 ✨ Trash projects
  .env-devel
  api/specs/web-server/_projects_crud.py
  api/specs/web-server/_trash.py
  api/specs/web-server/openapi.py
  packages/models-library/src/models_library/api_schemas_webserver/folders_v2.py
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/rest_filters.py
  packages/models-library/src/models_library/users.py
  packages/models-library/tests/test_rest_filters.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/fce5d231e16d_new_projects_trashed_at.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  packages/postgres-database/tests/test_utils_projects.py
  packages/service-library/src/servicelib/project_lock.py
  services/docker-compose.yml
  services/web/server/VERSION
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_computations.py
  services/web/server/src/simcore_service_webserver/director_v2/api.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_trash.py
  services/web/server/src/simcore_service_webserver/garbage_collector/plugin.py
  services/web/server/src/simcore_service_webserver/login/decorators.py
  services/web/server/src/simcore_service_webserver/projects/_common_models.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
  services/web/server/src/simcore_service_webserver/projects/_db_utils.py
  services/web/server/src/simcore_service_webserver/projects/_trash_api.py
  services/web/server/src/simcore_service_webserver/projects/_trash_handlers.py
  services/web/server/src/simcore_service_webserver/projects/api.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/src/simcore_service_webserver/projects/models.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/projects/settings.py
  services/web/server/tests/conftest.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/03/test_trash.py
  tests/e2e/tutorials/sleepers_project_template_sql.csv
Labels: a:webserver, a:database

#6622 🔨Use one cache for UV and pin version to 0.4
  .github/workflows/ci-testing-deploy.yml
Labels: a:infra+ops, t:maintenance

#6623 use per package cache
  .github/workflows/ci-testing-deploy.yml
  ci/github/unit-testing/notifications-library.bash
  ci/github/unit-testing/python-linting.bash
  ci/helpers/install_pylint.bash
Labels: a:infra+ops, t:maintenance

#6625 🔨 Code coverage: fix api code generation + cleanup
  .pylintrc
  api/tests/Makefile
  api/tests/test_individual_openapi_schemas.py
Labels: a:infra+ops, t:maintenance

#6632 ⬆️ upgrades `iter_model_examples_in_module` to enable all example tests
  packages/pytest-simcore/src/pytest_simcore/pydantic_models.py
Labels: t:maintenance

#6614 ♻️ dynamic-sidecar rpc interfce namespace is now tied to the node_id
  packages/models-library/src/models_library/api_schemas_dynamic_sidecar/__init__.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/dynamic_sidecar/disk_usage.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rpc/routes.py
  services/dynamic-sidecar/tests/unit/test_api_rpc__disk_usage.py
Labels: a:dynamic-sidecar

#6620 🐛 [Frontend] Fix probe
  services/static-webserver/client/source/class/osparc/ui/basic/LinkLabel.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Labels: bug, a:frontend

#6636 🔨CI: disable uv caching
  .github/workflows/ci-testing-deploy.yml
Labels: a:infra+ops, t:maintenance

#6627 ⬆️Pydantic V2: Diverse fixes after merges from master
  .env-devel
  packages/models-library/src/models_library/api_schemas__common/errors.py
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  packages/models-library/src/models_library/folders.py
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/rest_filters.py
  packages/models-library/src/models_library/utils/common_validators.py
  packages/models-library/src/models_library/utils/pydantic_tools_extension.py
  packages/models-library/tests/test_utils_pydantic_tools_extension.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects.py
  services/api-server/src/simcore_service_api_server/models/pagination.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
  services/api-server/src/simcore_service_api_server/services/director_v2.py
  services/api-server/tests/unit/conftest.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/tests/conftest.py
  services/efs-guardian/src/simcore_service_efs_guardian/_meta.py
  services/efs-guardian/src/simcore_service_efs_guardian/core/settings.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/efs_manager.py
  services/efs-guardian/tests/unit/test_efs_removal_policy_task.py
  services/payments/src/simcore_service_payments/models/db.py
  services/web/server/src/simcore_service_webserver/diagnostics/_handlers.py
  services/web/server/src/simcore_service_webserver/rest/_handlers.py
Labels: t:maintenance, efs-guardian

#6637 ⬆️ Pydantic V2: Upgrade master 5
  .github/workflows/ci-testing-deploy.yml
  packages/models-library/src/models_library/api_schemas_dynamic_sidecar/__init__.py
  packages/service-library/src/servicelib/deferred_tasks/_utils.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/dynamic_sidecar/disk_usage.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rpc/routes.py
  services/dynamic-sidecar/tests/unit/test_api_rpc__disk_usage.py
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/service/ServiceListItem.js
  services/static-webserver/client/source/class/osparc/share/AddCollaborators.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/share/PublishTemplate.js
  services/static-webserver/client/source/class/osparc/ui/basic/LinkLabel.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
  services/web/server/tests/integration/02/test_computation.py
  services/web/server/tests/unit/with_dbs/01/folders/conftest.py
  services/web/server/tests/unit/with_dbs/01/folders/test_folders.py
  services/web/server/tests/unit/with_dbs/01/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/01/products/conftest.py
  services/web/server/tests/unit/with_dbs/01/products/test_products_db.py
  services/web/server/tests/unit/with_dbs/01/products/test_products_handlers.py
  services/web/server/tests/unit/with_dbs/01/products/test_products_rpc.py
  services/web/server/tests/unit/with_dbs/01/wallets/conftest.py
  services/web/server/tests/unit/with_dbs/01/wallets/payments/conftest.py
  services/web/server/tests/unit/with_dbs/01/wallets/payments/test_payments.py
  services/web/server/tests/unit/with_dbs/01/wallets/payments/test_payments_methods.py
  services/web/server/tests/unit/with_dbs/01/wallets/payments/test_payments_rpc.py
  services/web/server/tests/unit/with_dbs/01/wallets/test_wallets.py
  services/web/server/tests/unit/with_dbs/01/wallets/test_wallets_groups.py
  services/web/server/tests/unit/with_dbs/01/workspaces/conftest.py
  services/web/server/tests/unit/with_dbs/01/workspaces/test_workspaces.py
  services/web/server/tests/unit/with_dbs/01/workspaces/test_workspaces__folders_and_projects_crud.py
  services/web/server/tests/unit/with_dbs/01/workspaces/test_workspaces__list_projects_full_search.py
  services/web/server/tests/unit/with_dbs/01/workspaces/test_workspaces__moving_projects_between_workspaces.py
  services/web/server/tests/unit/with_dbs/01/workspaces/test_workspaces_groups.py
  services/web/server/tests/unit/with_dbs/03/conftest.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:infra+ops, t:maintenance

#6520 🎨 notify frontend about current efs disk space
  services/efs-guardian/src/simcore_service_efs_guardian/core/application.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/efs_manager.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/fire_and_forget_setup.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/modules/rabbitmq.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/process_messages.py
  services/efs-guardian/tests/conftest.py
  services/efs-guardian/tests/unit/test_efs_manager.py
  services/efs-guardian/tests/unit/test_process_messages.py
Labels: efs-guardian

#6635 🎨 [e2e-frontend] Check study browser
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTreeItem.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/widget/NodeTreeItem.js
  tests/e2e-frontend/tests/fixtures/loginPage.js
  tests/e2e-frontend/tests/navigationBar/navigationBar.spec.js
  tests/e2e-frontend/tests/studyBrowser/leftFilters.spec.js
  tests/e2e-frontend/tests/studyBrowser/mainView.spec.js
  tests/e2e-frontend/tests/userMenu/userMenuButtons.spec.js
  tests/e2e-frontend/tests/userMenu/userMenuWindows.spec.js
  tests/e2e/utils/auto.js
  tests/e2e/utils/utils.js
Labels: a:frontend, e2e

#6638 🐛 [Frontend] Service Browser and Service Catalog use the same function
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
Labels: bug, a:frontend

#6639 🎨 [Frontend] Show EFS data storage
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageController.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
Labels: t:enhancement, a:frontend

#6629 ⬆️ pydantic migration catalog
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/models-library/src/models_library/app_diagnostics.py
  packages/models-library/src/models_library/services_metadata_editable.py
  packages/models-library/src/models_library/services_resources.py
  packages/models-library/tests/test_services_resources.py
  packages/settings-library/src/settings_library/application.py
  scripts/common-service.Makefile
  services/api-server/Makefile
  services/api-server/src/simcore_service_api_server/exceptions/handlers/_http_exceptions.py
  services/catalog/VERSION
  services/catalog/openapi.json
  services/catalog/requirements/_base.txt
  services/catalog/requirements/prod.txt
  services/catalog/setup.cfg
  services/catalog/src/simcore_service_catalog/_meta.py
  services/catalog/src/simcore_service_catalog/api/rest/_health.py
  services/catalog/src/simcore_service_catalog/api/rest/_meta.py
  services/catalog/src/simcore_service_catalog/api/rest/_services.py
  services/catalog/src/simcore_service_catalog/api/rest/_services_resources.py
  services/catalog/src/simcore_service_catalog/api/rest/_services_specifications.py
  services/catalog/src/simcore_service_catalog/cli.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/db/repositories/groups.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/exceptions/errors.py
  services/catalog/src/simcore_service_catalog/exceptions/handlers/_http_error.py
  services/catalog/src/simcore_service_catalog/exceptions/handlers/_validation_error.py
  services/catalog/src/simcore_service_catalog/main.py
  services/catalog/src/simcore_service_catalog/models/services_db.py
  services/catalog/src/simcore_service_catalog/models/services_specifications.py
  services/catalog/src/simcore_service_catalog/services/access_rights.py
  services/catalog/src/simcore_service_catalog/services/compatibility.py
  services/catalog/src/simcore_service_catalog/services/director.py
  services/catalog/src/simcore_service_catalog/services/function_services.py
  services/catalog/src/simcore_service_catalog/services/manifest.py
  services/catalog/src/simcore_service_catalog/services/services_api.py
  services/catalog/src/simcore_service_catalog/utils/service_resources.py
  services/catalog/tests/unit/conftest.py
  services/catalog/tests/unit/test__model_examples.py
  services/catalog/tests/unit/test_cli.py
  services/catalog/tests/unit/test_core_settings.py
  services/catalog/tests/unit/test_services_compatibility.py
  services/catalog/tests/unit/test_utils_service_resources.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_api_rest_services__get.py
  services/catalog/tests/unit/with_dbs/test_api_rest_services__list.py
  services/catalog/tests/unit/with_dbs/test_api_rest_services_access_rights.py
  services/catalog/tests/unit/with_dbs/test_api_rest_services_resources.py
  services/catalog/tests/unit/with_dbs/test_api_rest_services_specifications.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
  services/catalog/tests/unit/with_dbs/test_services_access_rights.py
Labels: t:maintenance
