Repository ITISFoundation/osparc-simcore, pull requests merged in 2025-09, with the labels that each got.

#8210 🎨🐛Autoscaling: Allow EC2 launches in multiple AvailabilityZones ⚠️ (DevOPS) 🚨
  packages/aws-library/src/aws_library/ec2/__init__.py
  packages/aws-library/src/aws_library/ec2/_client.py
  packages/aws-library/src/aws_library/ec2/_error_handler.py
  packages/aws-library/src/aws_library/ec2/_errors.py
  packages/aws-library/src/aws_library/ec2/_models.py
  packages/aws-library/src/aws_library/ec2/_utils.py
  packages/aws-library/tests/test_ec2_client.py
  packages/pytest-simcore/src/pytest_simcore/aws_ec2_service.py
  packages/pytest-simcore/src/pytest_simcore/helpers/monkeypatch_envs.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_warm_buffer_machines_pool_core.py
  services/autoscaling/tests/manual/.env-devel
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_core_settings.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/clusters-keeper/.env-devel
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/manual/README.md
  services/clusters-keeper/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/test_core_settings.py
  services/docker-compose.yml
Labels: a:autoscaling, a:clusters-keeper, a:aws-library

#8276 🎨 [Frontend] Support Conversations: Listen to websocket
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/study/Conversation.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
  services/static-webserver/client/source/class/osparc/study/SaveAsTemplate.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/Conversations.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8277 🐛Autoscaling: ensure unstarteable warm buffer are replaced by cold instances if available
  packages/aws-library/tests/test_ec2_client.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_auto_scaling_core.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_dynamic.py
Labels: a:autoscaling, 🤖-automerge

#8281 🐛Director-v2 computational scheduler: tasks specific state combination was missing and returning UNKNOWN pipeline state
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/tests/unit/test_utils_computation.py
Labels: a:director-v2, 🤖-automerge

#8282 ✨ [Frontend] User profile details
  services/static-webserver/client/source/class/osparc/conversation/MessageUI.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/data/model/User.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/ui/basic/UserThumbnail.js
  services/static-webserver/client/source/class/osparc/user/UserDetails.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8288 ✨ [Frontend] OEC to Support chat
  services/static-webserver/client/source/class/osparc/FlashMessenger.js
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
  services/static-webserver/client/source/class/osparc/support/SupportCenter.js
  services/static-webserver/client/source/class/osparc/ui/markdown/Markdown.js
  services/static-webserver/client/source/class/osparc/ui/message/FlashMessageOEC.js
  services/static-webserver/client/source/class/osparc/ui/window/Dialog.js
Labels: t:enhancement, a:frontend

#8293 🎨 Use FogBugz client to create support request (⚠️)
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_messages_rest.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_repository.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_service.py
  services/web/server/src/simcore_service_webserver/fogbugz/__init__.py
  services/web/server/src/simcore_service_webserver/fogbugz/_client.py
  services/web/server/tests/unit/with_dbs/04/conversations/test_conversations_messages_rest.py
  services/web/server/tests/unit/with_dbs/04/test_fogbugz_client.py
Labels: a:webserver, 🤖-automerge

#8286 🐛🎨Do not fail a pipeline when the clusters-keeper or the computational backend in general is not reachable for short time 🚨
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/conftest.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Labels: a:director-v2, a:computational clusters, 🤖-automerge

#8294 ✨ Support center: extend response model of `get profile` endpoint with support group info
  packages/models-library/src/models_library/api_schemas_webserver/groups.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  packages/models-library/src/models_library/groups.py
  packages/models-library/tests/test_users.py
  packages/pytest-simcore/src/pytest_simcore/faker_products_data.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_utils.py
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
  services/web/server/src/simcore_service_webserver/groups/_groups_rest.py
  services/web/server/src/simcore_service_webserver/groups/_groups_service.py
  services/web/server/src/simcore_service_webserver/groups/api.py
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/statics/_events.py
  services/web/server/src/simcore_service_webserver/users/_controller/rest/users_rest.py
  services/web/server/tests/unit/isolated/products/test_products_model.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_phone.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_profile.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_profiles.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_search.py
Labels: a:webserver, 🤖-automerge

#8308 🐛Director-v2: fix empty arguments for `max` method
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
Labels: a:director-v2

#8300 ✨ Add Optional Contact Information Fields to `get_profile` Response
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  packages/models-library/src/models_library/users.py
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
  packages/postgres-database/tests/test_users_details.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/payments/_onetime_api.py
  services/web/server/src/simcore_service_webserver/payments/_rpc_invoice.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_repository.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_service.py
  services/web/server/src/simcore_service_webserver/users/_controller/rest/users_rest.py
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_profile.py
  services/web/server/tests/unit/with_dbs/04/wallets/payments/conftest.py
Labels: a:webserver, 🤖-automerge

#8302 🎨 [Frontend] Display Contact information
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/data/model/User.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
Labels: t:enhancement, a:frontend

#8257 ♻️ Refactors studies-dispatcher before extending nih portal's views api (🚨)
  api/specs/web-server/_nih_sparc.py
  api/specs/web-server/_nih_sparc_redirections.py
  packages/pytest-simcore/src/pytest_simcore/__init__.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_fake_services_data.py
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_catalog.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_constants.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/__init__.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/__init__.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/nih.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/nih_schemas.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/redirects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/redirects_exceptions.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/redirects_schemas.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_core.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_errors.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_models.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_repository.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_service.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/plugin.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/settings.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_models.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/conftest.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_repository.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_rest_nih.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_rest_redirects.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
Labels: a:webserver, 🤖-automerge

#8317 🎨 Enhance account request emails to reduce invitation errors
  packages/notifications-library/src/notifications_library/templates/on_account_requested.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_account_requested.email.content.txt
  services/web/server/src/simcore_service_webserver/templates/common/request_account.jinja2
Labels: a:doc, t:maintenance

#8304 ✨Clusters-keeper: Add new ENV to test different configurations
  .env-devel
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/unit/conftest.py
  services/dask-sidecar/docker/boot.sh
  services/docker-compose.yml
Labels: a:clusters-keeper, 🤖-automerge

#8320 🎨 [Frontend] Enh: Show Tags filter only in the Tutorials tab
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/TutorialBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
Labels: t:enhancement, a:frontend

#8326 ✅ Add parametrizable load tests for function interface
  tests/performance/locustfiles/deployment_max_rps_single_endpoint.py
  tests/performance/locustfiles/functions/function_map_load_test.py
  tests/performance/locustfiles/functions/function_run_load_test.py
Labels: t:enhancement, t:maintenance

#8323 🐛🎨⚗️Computational backend: Stability (Step 1)
  packages/dask-task-models-library/src/dask_task_models_library/plugins/task_life_cycle_worker_plugin.py
  packages/pytest-simcore/src/pytest_simcore/pydantic_models.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/comp_run_snapshot_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs_snapshot_tasks.py
  services/director-v2/tests/unit/test_models_comp_runs.py
  services/director-v2/tests/unit/test_models_comp_tasks.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/conftest.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Labels: a:director-v2, a:computational clusters

#8331 🎨 [Frontend] Hide some pages in Study/Template details when user has no write access
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/data/model/Service.js
  services/static-webserver/client/source/class/osparc/editor/HtmlEditor.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/metadata/QualityEditor.js
  services/static-webserver/client/source/class/osparc/po/MessageTemplates.js
  services/static-webserver/client/source/class/osparc/po/POCenter.js
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/utils/Resources.js
Labels: t:enhancement, a:frontend

#8313 ✨ Support Center: Gives Read Access to Support Users to User Accounts and Product Details
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  packages/models-library/src/models_library/users.py
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/models/schemas/profiles.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
  services/web/server/src/simcore_service_webserver/groups/_groups_service.py
  services/web/server/src/simcore_service_webserver/groups/api.py
  services/web/server/src/simcore_service_webserver/products/_controller/rest.py
  services/web/server/src/simcore_service_webserver/products/_web_helpers.py
  services/web/server/src/simcore_service_webserver/products/products_web.py
  services/web/server/src/simcore_service_webserver/security/_authz_access_roles.py
  services/web/server/src/simcore_service_webserver/security/_authz_policy.py
  services/web/server/src/simcore_service_webserver/security/_authz_repository.py
  services/web/server/src/simcore_service_webserver/security/_authz_web.py
  services/web/server/src/simcore_service_webserver/security/decorators.py
  services/web/server/src/simcore_service_webserver/users/_accounts_repository.py
  services/web/server/src/simcore_service_webserver/users/_accounts_service.py
  services/web/server/src/simcore_service_webserver/users/_controller/rest/accounts_rest.py
  services/web/server/tests/unit/isolated/test_security__authz.py
  services/web/server/tests/unit/isolated/test_security_web.py
  services/web/server/tests/unit/with_dbs/03/conftest.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_users_accounts_rest_registration.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_profile.py
  services/web/server/tests/unit/with_dbs/03/users/test_users_accounts_repository.py
  services/web/server/tests/unit/with_dbs/03/users/test_users_accounts_service.py
Labels: a:webserver, 🤖-automerge

#8311 🎨E2E: add create study, create function, start mmux
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/metamodeling/test_response_surface_modeling.py
Labels: e2e

#8335 🎨 [Frontend] Distinguish product groups (Everyone/Public and Support)
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Group.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/filter/CollaboratorToggleButton.js
  services/static-webserver/client/source/class/osparc/filter/OrganizationsAndMembers.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8295 ✨ Create custom generate json schema for resolving references
  packages/aws-library/requirements/_base.txt
  packages/celery-library/requirements/_base.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/models-library/requirements/_base.in
  packages/models-library/requirements/_base.txt
  packages/models-library/src/models_library/progress_bar.py
  packages/models-library/src/models_library/utils/json_schema.py
  packages/notifications-library/requirements/_base.txt
  packages/service-integration/requirements/_base.txt
  packages/service-library/requirements/_base.txt
  packages/simcore-sdk/requirements/_base.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/tests/unit/api_functions/test_api_routers_function_jobs.py
  services/api-server/tests/unit/test_tasks.py
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.txt
  services/director/requirements/_test.txt
  services/docker-api-proxy/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/payments/requirements/_test.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: t:maintenance, 🤖-automerge

#8367 ♻️Maintenance: improve cancellation error handling
  .github/instructions/general.instructions.md
  .github/instructions/node.instructions.md
  .github/instructions/python.instructions.md
  packages/common-library/src/common_library/async_tools.py
  packages/service-library/src/servicelib/async_utils.py
  packages/service-library/src/servicelib/deferred_tasks/_worker_tracker.py
  packages/service-library/src/servicelib/fastapi/requests_decorators.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
  packages/service-library/src/servicelib/redis/_decorators.py
  packages/service-library/src/servicelib/redis/_utils.py
  packages/service-library/src/servicelib/utils.py
  packages/service-library/tests/redis/test_decorators.py
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/docker-compose-ops.yml
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
Labels: t:maintenance

#8371 🐛 Celery tasks aborted after submission
  packages/celery-library/src/celery_library/errors.py
  packages/celery-library/src/celery_library/task_manager.py
Labels: 🤖-automerge, a:celery-library

#8349 🎨 Computational backend performance: improvements step1
  packages/service-library/setup.cfg
  packages/service-library/setup.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
  packages/service-library/src/servicelib/redis/__init__.py
  packages/service-library/src/servicelib/redis/_constants.py
  packages/service-library/src/servicelib/redis/_errors.py
  packages/service-library/src/servicelib/redis/_semaphore.py
  packages/service-library/src/servicelib/redis/_semaphore_decorator.py
  packages/service-library/src/servicelib/redis/_semaphore_lua.py
  packages/service-library/src/servicelib/redis/lua/acquire_semaphore.lua
  packages/service-library/src/servicelib/redis/lua/count_semaphore.lua
  packages/service-library/src/servicelib/redis/lua/release_semaphore.lua
  packages/service-library/src/servicelib/redis/lua/renew_semaphore.lua
  packages/service-library/tests/redis/conftest.py
  packages/service-library/tests/redis/test_semaphore.py
  packages/service-library/tests/redis/test_semaphore_decorator.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/database.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
Labels: a:director-v2, a:computational clusters

#8373 🐛 Add `task_manager` to api-worker
  services/api-server/src/simcore_service_api_server/core/application.py
Labels: 🤖-automerge

#8376 🐛 Minor fixes for the function api
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/src/simcore_service_api_server/api/dependencies/models_schemas_function_filters.py
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/src/simcore_service_api_server/models/schemas/functions.py
  services/api-server/src/simcore_service_api_server/models/schemas/functions_filters.py
  services/api-server/tests/unit/api_functions/test_api_routers_function_jobs.py
  services/api-server/tests/unit/service/test_service_function_jobs_task_client.py
Labels: a:apiserver, Meta-modeling

#8382 🐛RabbitMQ client: prevent crashing consumer if channel is closed
  packages/service-library/src/servicelib/rabbitmq/_client.py
  packages/service-library/src/servicelib/rabbitmq/_client_base.py
  packages/service-library/src/servicelib/redis/_constants.py
  packages/service-library/src/servicelib/redis/_decorators.py
  packages/service-library/src/servicelib/redis/_semaphore_decorator.py
  packages/service-library/tests/rabbitmq/test_rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
Labels: a:services-library

#8390 ⬆️🔨 upgrade cache cleanup script
  .github/workflows/cleanup-caches-by-branches.yml
Labels: t:maintenance

#8393 🐛 [Frontend] Fix: Crop long parameter values
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
  services/static-webserver/client/source/class/osparc/ui/toolbar/ProgressBar.js
  services/static-webserver/client/source/class/osparc/ui/window/Progress.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Labels: bug, a:frontend

#8395 🐛Computational backend: fix issue where job_id is inexistent + logs improvements
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_auto_scaling_core.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_pipelines.py
Labels: a:director-v2, a:autoscaling

#8397 🎨Computational backend: improvements step 6
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
Labels: a:director-v2, a:computational clusters

#8400 🎨Computational backend: stability improvements step7
  packages/service-library/src/servicelib/redis/_semaphore_decorator.py
  packages/service-library/tests/redis/test_semaphore_decorator.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_provider_computational.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
Labels: a:director-v2, a:computational clusters

#8404 ♻️🎨 [Frontend] Refactor conversations
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/conversation/Conversation.js
  services/static-webserver/client/source/class/osparc/conversation/MessageUI.js
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/study/Conversation.js
  services/static-webserver/client/source/class/osparc/study/ConversationPage.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/user/UserProfile.js
Labels: t:enhancement, a:frontend

#8410 🐛 Add internal scheduler UI in dynamic-scheduler
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_external_scheduler/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_external_scheduler/_index.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_external_scheduler/_render_utils.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_external_scheduler/_service.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_internal_scheduler/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_internal_scheduler/_index.py
  services/dynamic-scheduler/tests/unit/api_frontend/_routes_internal_scheduler/conftest.py
  services/dynamic-scheduler/tests/unit/api_frontend/_routes_internal_scheduler/test__index_.py
  services/dynamic-scheduler/tests/unit/api_frontend/conftest.py
  services/dynamic-scheduler/tests/unit/api_frontend/helpers.py
  services/dynamic-scheduler/tests/unit/api_frontend/routes_external_scheduler/conftest.py
  services/dynamic-scheduler/tests/unit/api_frontend/routes_external_scheduler/test__index.py
  services/dynamic-scheduler/tests/unit/api_frontend/routes_external_scheduler/test__service.py
Labels: a:dynamic-scheduler

#8412 🎨 [Frontend] Create Function: Do not allow registering functions without exposing 1 input AND 1 output
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: t:enhancement, a:frontend

#8413 🐛🎨 [Frontend] Consistent ``modified``
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/static-webserver/client/source/class/osparc/service/StatusUI.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
  services/static-webserver/client/source/class/osparc/workbench/EdgeUI.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/wrapper/Svg.js
Labels: t:enhancement, bug, a:frontend

#8416 🐛 [Frontend] Fix: Limit conversation title (50)
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/study/ConversationPage.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
  services/static-webserver/client/source/class/osparc/widget/Renamer.js
Labels: bug, a:frontend

#8420 🐛 [Frontend] Fix: Support group accessRights
  services/static-webserver/client/source/class/osparc/dashboard/TutorialBrowser.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
Labels: bug, a:frontend

#8388 ♻️🐛🎨 Renaming and redesign of celery task metadata
  packages/celery-library/src/celery_library/backends/redis.py
  packages/celery-library/src/celery_library/rpc/_async_jobs.py
  packages/celery-library/src/celery_library/task_manager.py
  packages/celery-library/tests/unit/test_async_jobs.py
  packages/celery-library/tests/unit/test_tasks.py
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/async_jobs.py
  packages/pytest-simcore/src/pytest_simcore/helpers/async_jobs_server.py
  packages/pytest-simcore/src/pytest_simcore/helpers/storage_rpc_server.py
  packages/service-library/src/servicelib/celery/models.py
  packages/service-library/src/servicelib/celery/task_manager.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/async_jobs/async_jobs.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/paths.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/simcore_s3.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_interfaces_async_jobs.py
  packages/service-library/tests/test_celery.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/src/simcore_service_api_server/api/dependencies/celery.py
  services/api-server/src/simcore_service_api_server/api/routes/tasks.py
  services/api-server/src/simcore_service_api_server/models/domain/celery_models.py
  services/api-server/src/simcore_service_api_server/services_rpc/async_jobs.py
  services/api-server/src/simcore_service_api_server/services_rpc/storage.py
  services/api-server/tests/unit/api_functions/celery/test_functions_celery.py
  services/api-server/tests/unit/api_functions/test_api_routers_function_jobs.py
  services/storage/src/simcore_service_storage/api/_worker_tasks/tasks.py
  services/storage/src/simcore_service_storage/api/rest/_files.py
  services/storage/src/simcore_service_storage/api/rpc/_paths.py
  services/storage/src/simcore_service_storage/api/rpc/_simcore_s3.py
  services/storage/tests/unit/test_rpc_handlers_paths.py
  services/storage/tests/unit/test_rpc_handlers_simcore_s3.py
  services/web/server/src/simcore_service_webserver/models.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/src/simcore_service_webserver/storage/api.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
  services/web/server/src/simcore_service_webserver/utils.py
Labels: 🤖-automerge, a:celery-library

#8422 🎨 [Frontend] Book a call: select a topic first
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/TutorialsList.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethods.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
  services/static-webserver/client/source/class/osparc/pricing/Plans.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/store/Study.js
  services/static-webserver/client/source/class/osparc/support/BookACallTopicSelector.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
  services/static-webserver/client/source/class/osparc/support/ConversationsPage.js
  services/static-webserver/client/source/class/osparc/support/HomePage.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/colorProvider/ColorProvider.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8150 ♻️ webserver: Enhance Action Confirmation Token Logic (🚨🗃️)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/9dddb16914a4_update_confirmation_created_column.py
  packages/postgres-database/src/simcore_postgres_database/models/confirmations.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_login.py
  services/web/server/src/simcore_service_webserver/garbage_collector/plugin.py
  services/web/server/src/simcore_service_webserver/login/_application_keys.py
  services/web/server/src/simcore_service_webserver/login/_confirmation_repository.py
  services/web/server/src/simcore_service_webserver/login/_confirmation_service.py
  services/web/server/src/simcore_service_webserver/login/_confirmation_web.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/_rest_dependencies.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/change.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/confirmation.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/confirmation_schemas.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/registration.py
  services/web/server/src/simcore_service_webserver/login/_invitations_service.py
  services/web/server/src/simcore_service_webserver/login/_login_repository_legacy.py
  services/web/server/src/simcore_service_webserver/login/_login_repository_legacy_sql.py
  services/web/server/src/simcore_service_webserver/login/_models.py
  services/web/server/src/simcore_service_webserver/login/login_repository_legacy.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
  services/web/server/tests/unit/with_dbs/01/test_db.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_confirmation_service.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_controller_confirmation_rest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_logout.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_twofa.py
Labels: a:webserver, t:maintenance, 🤖-automerge

#8417 🎨 Align map load test with ui workflow
  tests/performance/locustfiles/functions/function_map_load_test.py
Labels: Meta-modeling, 🤖-automerge
