Repository ITISFoundation/osparc-simcore, pull requests merged in 2025-10, with the labels that each got.

#8307 ✨ Adding generic scheduling capability to dynamic-scheduler [part 1/2]
  packages/pytest-simcore/src/pytest_simcore/helpers/docker.py
  packages/pytest-simcore/src/pytest_simcore/helpers/paused_container.py
  packages/service-library/tests/deferred_tasks/test_deferred_tasks.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/_ops.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/events.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/common_interface.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_core.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_core_utils.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_deferred_runner.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_errors.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event_scheduler.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_lifecycle_protocol.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_lifespan.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_models.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_operation.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_store.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_deferred_get_status.py
  services/dynamic-scheduler/tests/conftest.py
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__health.py
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__meta.py
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__ops.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/conftest.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__core.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__deferred_runner.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__event_scheduler.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__operation.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__store.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test_generic_scheduler.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/utils.py
  services/dynamic-scheduler/tests/unit/services/service_tracker/test__api.py
  services/dynamic-scheduler/tests/unit/services/service_tracker/test__models.py
  services/dynamic-scheduler/tests/unit/services/service_tracker/test__tracker.py
  services/dynamic-scheduler/tests/unit/services/status_monitor/test__monitor.py
  services/dynamic-scheduler/tests/unit/services/test_catalog.py
  services/dynamic-scheduler/tests/unit/services/test_director_v0.py
  services/dynamic-scheduler/tests/unit/services/test_rabbitmq.py
  services/dynamic-scheduler/tests/unit/services/test_redis.py
  services/dynamic-scheduler/tests/unit/test_repository_postgres_networks.py
Labels: a:dynamic-scheduler

#8440 🎨 Increase function rpc call timeouts to 30sec
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
Labels: Meta-modeling, 🤖-automerge

#8442 🔒️ Potential fix for code scanning alert no. 95: Clear-text logging of sensitive information
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_api_keys.py
Labels: a:webserver, security

#8455 🎨✅ [Maintenance] Add mock handler factory for LicensesRpcApi to fix pact tests
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/pact_broker/test_pact_checkout_release.py
  services/api-server/tests/unit/pact_broker/test_pact_licensed_items.py
Labels: t:maintenance, a:apiserver, 🤖-automerge

#8452 ♻️ Refactor: migrate more `aiohttp` app keys to type-safe `web.AppKey` (follow up)
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/__init__.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_constants.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_manager.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_request.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks_with_task_context.py
  services/web/server/src/simcore_service_webserver/long_running_tasks/plugin.py
  services/web/server/src/simcore_service_webserver/projects/_permalink_service.py
  services/web/server/src/simcore_service_webserver/resource_manager/_constants.py
  services/web/server/src/simcore_service_webserver/resource_manager/plugin.py
  services/web/server/src/simcore_service_webserver/resource_manager/registry.py
  services/web/server/src/simcore_service_webserver/socketio/_utils.py
  services/web/server/src/simcore_service_webserver/socketio/server.py
Labels: a:webserver, a:services-library, t:maintenance, 🤖-automerge

#8463 🐛 Fix: enforce consistent `WEBSERVER_RPC_NAMESPACE` in docker-compose to prevent deploy bug
  services/api-server/tests/unit/pact_broker/test_pact_licensed_items.py
  services/docker-compose.yml
  services/web/server/tests/unit/isolated/test_application_settings.py
Labels: a:webserver, 🤖-automerge

#8462 ♻️ [Maintenance] Refactor Payments Domain to Use asyncpg Instead of aiopg
  packages/postgres-database/src/simcore_postgres_database/utils_payments.py
  packages/postgres-database/src/simcore_postgres_database/utils_payments_autorecharge.py
  packages/postgres-database/tests/test_models_payments_transactions.py
  packages/postgres-database/tests/test_utils_payments_autorecharge.py
  packages/service-library/src/servicelib/aiohttp/db_asyncpg_engine.py
  services/payments/src/simcore_service_payments/db/auto_recharge_repo.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_guests.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_utils.py
  services/web/server/src/simcore_service_webserver/payments/_autorecharge_api.py
  services/web/server/src/simcore_service_webserver/payments/_autorecharge_db.py
  services/web/server/src/simcore_service_webserver/payments/_methods_api.py
  services/web/server/src/simcore_service_webserver/payments/_methods_db.py
  services/web/server/src/simcore_service_webserver/payments/_onetime_api.py
  services/web/server/src/simcore_service_webserver/payments/_onetime_db.py
  services/web/server/src/simcore_service_webserver/projects/models.py
Labels: a:webserver, a:database, t:maintenance, 🤖-automerge

#8473 ✅ [Maintenance] Fixes `api-server/tests/unit/pact_broker` testing
  services/api-server/Makefile
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/pact_broker/README.md
  services/api-server/tests/unit/pact_broker/conftest.py
  services/api-server/tests/unit/pact_broker/test_pact_checkout_release.py
  services/api-server/tests/unit/pact_broker/test_pact_licensed_items.py
Labels: t:maintenance, a:apiserver, 🤖-automerge

#8467 ♻️ [Maintenance] Refactor Studies-dispatcher Domain to Use asyncpg Instead of aiopg
  packages/postgres-database/src/simcore_postgres_database/aiopg_errors.py
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_assert_checks.py
  services/payments/src/simcore_service_payments/db/payments_methods_repo.py
  services/payments/src/simcore_service_payments/db/payments_transactions_repo.py
  services/storage/src/simcore_service_storage/exceptions/handlers.py
  services/storage/tests/unit/test_utils_handlers.py
  services/web/server/src/simcore_service_webserver/db/_aiopg.py
  services/web/server/src/simcore_service_webserver/db/plugin.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_utils.py
  services/web/server/src/simcore_service_webserver/security/_authz_policy.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_catalog.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/nih.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/redirects.py
  services/web/server/tests/unit/isolated/test_security__authz.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/repository/conftest.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/repository/test_studies_dispatcher_catalog.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/repository/test_studies_dispatcher_repository.py
Labels: a:webserver, t:maintenance, 🤖-automerge

#8436 ✨ Add Celery task manager to Web Server ⚠️
  api/specs/web-server/_long_running_tasks.py
  api/specs/web-server/_storage.py
  packages/celery-library/src/celery_library/backends/redis.py
  packages/celery-library/src/celery_library/errors.py
  packages/celery-library/src/celery_library/task_manager.py
  packages/celery-library/tests/conftest.py
  packages/celery-library/tests/unit/test_async_jobs.py
  packages/celery-library/tests/unit/test_task_manager.py
  packages/service-library/src/servicelib/celery/models.py
  packages/service-library/src/servicelib/celery/task_manager.py
  packages/service-library/src/servicelib/mimetype_constants.py
  services/api-server/src/simcore_service_api_server/clients/celery_task_manager.py
  services/docker-compose.yml
  services/storage/src/simcore_service_storage/modules/celery/__init__.py
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/ci.txt
  services/web/server/requirements/dev.txt
  services/web/server/requirements/prod.txt
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/celery/__init__.py
  services/web/server/src/simcore_service_webserver/celery/_task_manager.py
  services/web/server/src/simcore_service_webserver/celery/plugin.py
  services/web/server/src/simcore_service_webserver/celery/settings.py
  services/web/server/src/simcore_service_webserver/redis.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/src/simcore_service_webserver/tasks/_controller/__init__.py
  services/web/server/src/simcore_service_webserver/tasks/_controller/_rest.py
  services/web/server/src/simcore_service_webserver/tasks/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/tasks/_controller/_rest_schemas.py
  services/web/server/src/simcore_service_webserver/tasks/_tasks_service.py
  services/web/server/src/simcore_service_webserver/tasks/plugin.py
  services/web/server/src/simcore_service_webserver/tasks/tasks_service.py
  services/web/server/tests/unit/with_dbs/01/conftest.py
  services/web/server/tests/unit/with_dbs/01/storage/test_storage.py
  services/web/server/tests/unit/with_dbs/01/tasks/test_tasks_rest_controller.py
  services/web/server/tests/unit/with_dbs/01/test_long_running_tasks.py
  services/web/server/tests/unit/with_dbs/03/test_login_auth_app.py
Labels: a:webserver, 🤖-automerge, a:celery-library

#8479 🐛 [Frontend] Fix: Sim4Life Escalate to Support
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Labels: bug, a:frontend

#8446 ✨ dynamic-scheduler can chain operations
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_core.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_core_utils.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_deferred_runner.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_dependencies.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_errors.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event_after.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event_after_registration.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event_base_queue.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event_queues.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event_scheduler.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_lifespan.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_models.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_operation.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_store.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__core.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__deferred_runner.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__event_after.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__event_scheduler.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__operation.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__store.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test_generic_scheduler.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/utils.py
  services/dynamic-scheduler/tests/unit/services/service_tracker/test__api.py
Labels: a:dynamic-sidecar

#8477 🎨 e2e Metamodeling: Improve project creation
  tests/e2e-playwright/tests/metamodeling/test_response_surface_modeling.py
Labels: e2e
