Repository ITISFoundation/osparc-simcore, pull requests merged in 2025-01, with the labels that each got.

#6992 Fix Pydantic serialization warnings
  services/catalog/src/simcore_service_catalog/api/rest/_services.py
Labels: t:maintenance

#6987 🎨 expose listing license checkouts for frontend
  api/specs/web-server/_licensed_items_checkouts.py
  api/specs/web-server/openapi.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_checkouts.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/licenses/licensed_items.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_models.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_rest.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_rest.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_repository.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_rest.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_service.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
  services/web/server/src/simcore_service_webserver/licenses/plugin.py
  services/web/server/src/simcore_service_webserver/licenses/service.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_checkouts_rest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_purchases_rest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_repository.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_rest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
Labels: a:webserver

#6989 🐛 Fixed issue with query params validation in `dynamic-scheduler`
  packages/common-library/src/common_library/exclude.py
  packages/common-library/tests/test_exclude.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_thin_client.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/projects/_folders_db.py
Labels: bug, t:maintenance, a:dynamic-scheduler

#6974 ✨ [Frontend] Search users for sharing
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/Roles.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/data/model/User.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/filter/TextFilter.js
  services/static-webserver/client/source/class/osparc/po/PreRegistration.js
  services/static-webserver/client/source/class/osparc/po/Users.js
  services/static-webserver/client/source/class/osparc/share/AddCollaborators.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
  services/static-webserver/client/source/class/osparc/store/Users.js
Labels: t:enhancement, a:frontend

#7003 🐛 Database: added comp_tasks submit column back for legacy services (🗃️)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/307017ee1a49_add_deprecated_submit_column.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
Labels: a:database

#6997 🐛 [Frontend] bugfix: open folder after deleting file
  services/static-webserver/client/source/class/osparc/file/FilesTree.js
  services/static-webserver/client/source/class/osparc/file/TreeFolderView.js
  services/static-webserver/client/source/class/osparc/widget/NodeDataManager.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: bug, a:frontend

#6977 🐛 [Frontend] Fix: Drop on folder card
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Labels: bug, a:frontend

#7006 ⬆️Maintenance: Upgrade CI UV action and UV to 0.5.x
  .github/workflows/ci-testing-deploy.yml
  .github/workflows/ci-testing-pull-request.yml
Labels: a:infra+ops, t:maintenance

#6998 ✨ web-api: share tags
  .vscode/settings.template.json
  api/specs/web-server/_tags.py
  api/specs/web-server/_tags_groups.py
  packages/common-library/src/common_library/groups_dicts.py
  packages/postgres-database/src/simcore_postgres_database/utils_tags.py
  packages/postgres-database/src/simcore_postgres_database/utils_tags_sql.py
  packages/postgres-database/tests/test_utils_tags.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/tags/_api.py
  services/web/server/src/simcore_service_webserver/tags/_rest.py
  services/web/server/src/simcore_service_webserver/tags/_service.py
  services/web/server/src/simcore_service_webserver/tags/errors.py
  services/web/server/src/simcore_service_webserver/tags/plugin.py
  services/web/server/src/simcore_service_webserver/tags/schemas.py
  services/web/server/tests/integration/01/test_exporter_requests_handlers.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
  services/web/server/tests/unit/with_dbs/04/wallets/test_wallets_groups.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__list_projects_full_search.py
Labels: a:webserver, a:api

#6959 🐛 unarchiving_utils are now based on 7zip cli
  ci/github/helpers/install_7zip.bash
  ci/github/integration-testing/dynamic-sidecar.bash
  ci/github/integration-testing/webserver.bash
  ci/github/unit-testing/dynamic-sidecar.bash
  ci/github/unit-testing/service-library.bash
  packages/aws-library/requirements/_base.txt
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/src/servicelib/archiving_utils.py
  packages/service-library/src/servicelib/archiving_utils/__init__.py
  packages/service-library/src/servicelib/archiving_utils/_errors.py
  packages/service-library/src/servicelib/archiving_utils/_interface_7zip.py
  packages/service-library/src/servicelib/archiving_utils/_prunable_folder.py
  packages/service-library/src/servicelib/archiving_utils/_tdqm_utils.py
  packages/service-library/src/servicelib/archiving_utils/_utils.py
  packages/service-library/src/servicelib/file_utils.py
  packages/service-library/tests/archiving_utils/conftest.py
  packages/service-library/tests/archiving_utils/helpers.py
  packages/service-library/tests/archiving_utils/test_archiving__interface_7zip.py
  packages/service-library/tests/archiving_utils/test_archiving_utils.py
  packages/service-library/tests/archiving_utils/test_archiving_utils_extra.py
  packages/service-library/tests/conftest.py
  packages/service-library/tests/data/archive_utils/compress_stdout.json
  packages/service-library/tests/data/archive_utils/decompress_stdout.json
  packages/service-library/tests/data/archive_utils/list_broken_format.txt
  packages/service-library/tests/data/archive_utils/list_edge_case.txt
  packages/service-library/tests/data/archive_utils/list_empty_archive.txt
  packages/service-library/tests/data/archive_utils/list_stdout.txt
  packages/simcore-sdk/requirements/_base.txt
  scripts/install_7zip.bash
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/Dockerfile
  services/dynamic-sidecar/docker/entrypoint.sh
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_packaging.py
  services/efs-guardian/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/Dockerfile
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/exporter/_formatter/archive.py
  tests/swarm-deploy/requirements/_test.txt
Labels: a:webserver, t:maintenance, a:dynamic-sidecar

#7012 🐛 fixes unhandled access-rights exception in `projects`
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  services/web/server/src/simcore_service_webserver/_constants.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_catalog.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_constants.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_core.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects_permalinks.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_redirects_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/unit/isolated/test_utils.py
Labels: a:webserver, t:maintenance

#6984 ✨Infra: Build for arm64
  .github/workflows/ci-arm-build.yml
  Makefile
  scripts/install_rclone.bash
  scripts/shellcheck.bash
  services/agent/Dockerfile
  services/docker-bake.hcl
  services/dynamic-sidecar/Dockerfile
Labels: a:infra+ops

#7014 ♻️🐛 [Frontend] update trashed calls
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
Labels: t:enhancement, a:frontend

#7013 🐛 efs - deletion of data run in executor
  services/efs-guardian/src/simcore_service_efs_guardian/services/efs_manager.py
  tests/e2e-playwright/tests/conftest.py
Labels: bug, e2e, efs-guardian

#6899 ✨ [Frontend] Feature: Share Tags
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Tag.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsTag.js
  services/static-webserver/client/source/class/osparc/store/Tags.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
Labels: t:enhancement, a:frontend

#7017 🐛 Fixes invalid invitation link
  services/invitations/src/simcore_service_invitations/api/_invitations.py
  services/invitations/src/simcore_service_invitations/core/application.py
  services/invitations/src/simcore_service_invitations/core/exceptions_handlers.py
  services/invitations/src/simcore_service_invitations/services/invitations.py
  services/invitations/tests/unit/test__symmetric_encryption.py
  services/invitations/tests/unit/test_invitations.py
  services/web/server/src/simcore_service_webserver/invitations/_client.py
  services/web/server/src/simcore_service_webserver/invitations/_core.py
  services/web/server/src/simcore_service_webserver/invitations/_service.py
  services/web/server/src/simcore_service_webserver/invitations/api.py
  services/web/server/tests/unit/with_dbs/03/invitations/conftest.py
Labels: a:webserver, a:invitations

#7019 🐛🎨 [Frontend] Reduce number of (unnecessary) PATCH calls at Study open
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/store/Tags.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, a:frontend

#7016 ♻️ Redirecting labels request via catalog in director-v2
  services/catalog/VERSION
  services/catalog/openapi.json
  services/catalog/setup.cfg
  services/catalog/src/simcore_service_catalog/api/rest/_services_labels.py
  services/catalog/src/simcore_service_catalog/api/rest/_services_resources.py
  services/catalog/src/simcore_service_catalog/api/rest/routes.py
  services/catalog/src/simcore_service_catalog/services/director.py
  services/catalog/tests/unit/conftest.py
  services/catalog/tests/unit/test_utils_service_labels.py
  services/catalog/tests/unit/with_dbs/test_api_rest_services_resources.py
  services/catalog/tests/unit/with_dbs/test_services_services_api.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/cli/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/catalog.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_event_create_sidecars.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/projects_networks.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_project_networks.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
  services/director-v2/tests/unit/with_dbs/test_cli.py
  services/director/src/simcore_service_director/api/rest/_services.py
Labels: t:maintenance, a:catalog, a:director-v2

#7027 🎨 [Frontend] Enh: Multiselect data with Ctrl key
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/file/FolderContent.js
  services/static-webserver/client/source/class/osparc/file/FolderViewer.js
Labels: t:enhancement, a:frontend

#7021 🎨 [Frontend] Lazy load stranger-users' metadata
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/filter/OrganizationsAndMembers.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
Labels: t:enhancement, a:frontend

#7029 🎨 [Frontend] Trash Enhancements
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
Labels: t:enhancement, bug, a:frontend

#7039 🐛 [e2e] click the first ``New Launcher`` button
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
Labels: bug, e2e

#7037 🎨 [Frontend] Search users as they type
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/filter/SearchingCollaborators.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/ui/hint/Hint.js
Labels: t:enhancement, a:frontend

#7045 🐛 fix uvicorn logs that were always on INFO
  services/autoscaling/docker/boot.sh
  services/clusters-keeper/docker/boot.sh
  services/dynamic-scheduler/docker/boot.sh
  services/efs-guardian/docker/boot.sh
  services/invitations/docker/boot.sh
  services/payments/docker/boot.sh
  services/resource-usage-tracker/docker/boot.sh
Labels: bug

#7047 ⬆️ Upgrade playwright to latest version and fix checking of service readyness
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  tests/e2e-playwright/requirements/_test.txt
  tests/e2e-playwright/requirements/_tools.txt
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
Labels: e2e

#7049 🚑️ Added escaping for 7zip paths
  packages/service-library/src/servicelib/archiving_utils/_interface_7zip.py
  packages/service-library/tests/archiving_utils/test_archiving__interface_7zip.py
Labels: bug, High Priority, t:maintenance

#7048 🐛 [Frontend] Bugfix: handle better ``groups/${gid}/users`` error
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/store/Users.js
Labels: bug, a:frontend

#7050 ♻️ E2E: provide a requirements file without playwright installed
  tests/e2e-playwright/requirements/Makefile
  tests/e2e-playwright/requirements/_test.in
  tests/e2e-playwright/requirements/_test.txt
  tests/e2e-playwright/requirements/_test_wo_playwright.in
  tests/e2e-playwright/requirements/_test_wo_playwright.txt
  tests/e2e-playwright/requirements/_tools.txt
  tests/e2e-playwright/requirements/ci_wo_playwright.txt
Labels: e2e

#7001 ✨ Adding director-v0 client to dynamic-scheduler
  packages/models-library/src/models_library/service_settings_labels.py
  packages/service-library/src/servicelib/fastapi/http_client_thin.py
  packages/settings-library/src/settings_library/director_v0.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/tests/unit/test_modules_catalog.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/director-v2/tests/unit/test_modules_notifier.py
  services/director-v2/tests/unit/test_modules_storage.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v0/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v0/_public_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v0/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v0/_thin_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_public_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_thin_client.py
  services/dynamic-scheduler/tests/unit/test_services_director_v0.py
Labels: a:dynamic-scheduler

#7032 ⚗️ Changed `periodic_task_result` internals in the attempt of solving issue
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_context_manager.py
Labels: bug, t:maintenance

#7053 ✨ Add docker test image for performance tests
  tests/performance/Makefile
  tests/performance/docker/Dockerfile
  tests/performance/requirements/_base.txt
  tests/performance/requirements/requirements-dev.txt
Labels: e2e

#7030 🎨 [Frontend] Show ``trashedAt`` and ``trashedBy`` on Bin cards
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/data/model/Folder.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/data/model/Workspace.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/ui/basic/DateAndBy.js
Labels: t:enhancement, a:frontend

#7058 ⬆️ UV upgrade to 0.5
  .github/dependabot.yml
  .github/workflows/ci-testing-deploy.yml
  packages/postgres-database/docker/Dockerfile
  packages/postgres-database/scripts/erd/Dockerfile
  packages/service-integration/Dockerfile
  requirements/tools/Dockerfile
  scripts/erd/Dockerfile
  scripts/maintenance/migrate_project/Dockerfile
  scripts/openapi/oas_resolver/Dockerfile
  scripts/pydeps-docker/Dockerfile
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
  tests/performance/docker/Dockerfile
Labels: t:maintenance

#7054 🐛✨ [Frontend] Improve latest version fetching workflow
  services/static-webserver/client/scripts/post-compile.py
  services/static-webserver/client/source/boot/index.html
Labels: a:frontend

#7044 🐛Refactoring of project locking using decorator
  packages/service-library/src/servicelib/project_lock.py
  packages/service-library/src/servicelib/redis/__init__.py
  packages/service-library/src/servicelib/redis/_errors.py
  packages/service-library/src/servicelib/redis/_project_lock.py
  packages/service-library/tests/redis/test_decorators.py
  packages/service-library/tests/redis/test_project_lock.py
  packages/service-library/tests/test_project_lock.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/rpc/clusters.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/background_tasks.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/process_messages.py
  services/efs-guardian/tests/unit/conftest.py
  services/efs-guardian/tests/unit/test_efs_removal_policy_task.py
  services/web/server/src/simcore_service_webserver/exporter/_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_states_handlers.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/src/simcore_service_webserver/projects/lock.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/unit/with_dbs/02/test_project_lock.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__delete.py
Labels: a:webserver, efs-guardian

#7057 🐛Fixes invalid invitation links
  services/invitations/src/simcore_service_invitations/services/invitations.py
  services/invitations/tests/unit/api/test_api_invitations.py
Labels: a:invitations

#7010 ♻️ Extract `workbench` from `projects` to `projects_nodes` table 🗃️
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ecd4eadaa781_extract_workbench_column.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/webserver_models.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_utils_projects_nodes.py
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_projects.py
  services/web/server/src/simcore_service_webserver/db_listener/_db_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/_sds.py
  services/web/server/src/simcore_service_webserver/exporter/_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_folders_service.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_disconnected.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_guests.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_orphans.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
  services/web/server/src/simcore_service_webserver/projects/_comments_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_observer.py
  services/web/server/src/simcore_service_webserver/projects/_ports_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_projects_nodes_pricing_unit_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_projects_nodes_repository.py
  services/web/server/src/simcore_service_webserver/projects/_states_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_trash_service.py
  services/web/server/src/simcore_service_webserver/projects/_wallets_handlers.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/models.py
  services/web/server/src/simcore_service_webserver/projects/nodes_utils.py
  services/web/server/src/simcore_service_webserver/projects/projects_service.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_pricing_unit_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/03/test_trash.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_core.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_handlers.py
  services/web/server/tests/unit/with_dbs/04/folders/test_folders.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__folders_and_projects_crud.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, a:database, a:director-v2

#7064 🐛 Use ubuntu dind for performance tests
  tests/performance/Makefile
  tests/performance/docker/Dockerfile
Labels: e2e

#7067 🐛 Set `key`, `version` and `label` columns as temporarily nullable
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ecd4eadaa781_extract_workbench_column.py
Labels: a:webserver

#7065 🐛 Fix not listing published templates
  services/web/server/src/simcore_service_webserver/projects/db.py
Labels: bug, a:webserver

#7061 ✨ [Frontend] Feature: Pay study's debt
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/MainPageDesktop.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCreditsStepper.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/study/BillingSettings.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/ui/basic/DateAndBy.js
Labels: t:enhancement, a:frontend

#7036 🐛 no longer fail when removing a volume from a node that does no longer exist
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
Labels: t:maintenance, a:director-v2

#7073 ✨ [Frontend] More responsive login page
  services/static-webserver/client/source/class/osparc/auth/LoginPageFlex.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageOsparc.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageSplit.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageTI.js
  services/static-webserver/client/source/class/osparc/auth/LoginWithDecorators.js
  services/static-webserver/client/source/class/osparc/auth/core/BaseAuthPage.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
Labels: t:enhancement, a:frontend

#7079 🐛Autoscaling: Fix issue where all warm buffers would be used to replace hot buffers (🚨)
  ci/github/helpers/install_aws_cli_v2.bash
  ci/github/integration-testing/simcore-sdk.bash
  packages/aws-library/src/aws_library/ec2/_client.py
  packages/pytest-simcore/src/pytest_simcore/helpers/aws_ec2.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Labels: a:autoscaling

#7094 🐛 remove noisy errors form logs
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/aws_s3_cli_utils.py
Labels: t:maintenance

#7052 ✨ web-api: trashed resources include `trashedBy` with the primary GID of the user that trashed it
  packages/models-library/src/models_library/api_schemas_webserver/folders_v2.py
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/api_schemas_webserver/workspaces.py
  packages/models-library/src/models_library/folders.py
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/workspaces.py
  packages/models-library/tests/test_api_schemas_webserver_projects.py
  packages/models-library/tests/test_project_nodes.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  packages/postgres-database/src/simcore_postgres_database/utils_repos.py
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
  packages/pytest-simcore/src/pytest_simcore/simcore_webserver_projects_rest_api.py
  services/api-server/tests/mocks/create_study_job.json
  services/api-server/tests/mocks/for_test_api_routes_studies.json
  services/api-server/tests/mocks/get_job_outputs.json
  services/api-server/tests/mocks/get_job_pricing_unit_invalid_solver.json
  services/api-server/tests/mocks/get_job_pricing_unit_success.json
  services/api-server/tests/mocks/get_solver_outputs.json
  services/api-server/tests/mocks/on_list_jobs.json
  services/api-server/tests/mocks/run_study_workflow.json
  services/api-server/tests/mocks/start_job_not_enough_credit.json
  services/api-server/tests/mocks/start_job_with_payment.json
  services/api-server/tests/mocks/test_get_and_update_study_job_metadata.json
  services/api-server/tests/unit/conftest.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/folders/_folders_repository.py
  services/web/server/src/simcore_service_webserver/folders/_folders_rest.py
  services/web/server/src/simcore_service_webserver/folders/_folders_service.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_db_utils.py
  services/web/server/src/simcore_service_webserver/projects/_folders_api.py
  services/web/server/src/simcore_service_webserver/projects/_projects_access.py
  services/web/server/src/simcore_service_webserver/projects/_projects_db.py
  services/web/server/src/simcore_service_webserver/projects/_trash_service.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/models.py
  services/web/server/src/simcore_service_webserver/projects/projects_service.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/workspaces/_trash_services.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_repository.py
  services/web/server/tests/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__clone_in_workspace_and_folder.py
  services/web/server/tests/unit/with_dbs/03/test_trash.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__folders_and_projects_crud.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver

#7077 ✅ 🔨 Maintenance: resolves tests hanging in CI
  .ruff.toml
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_models_groups.py
  packages/postgres-database/tests/test_uniqueness_in_comp_tasks.py
  packages/postgres-database/tests/test_utils_migration.py
  packages/pytest-simcore/src/pytest_simcore/docker.py
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
  packages/service-library/Makefile
  packages/service-library/src/servicelib/redis/_client.py
  packages/service-library/tests/deferred_tasks/test_deferred_tasks.py
  scripts/common-service.Makefile
  services/api-server/tests/unit/_with_db/conftest.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_projects_permalinks.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:database, t:maintenance, a:redis

#7084 🎨 [Frontend] Purchase items for one year
  services/static-webserver/client/source/class/osparc/auth/LoginPageSplit.js
  services/static-webserver/client/source/class/osparc/auth/LoginWithDecorators.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Labels: t:enhancement, a:frontend

#7108 initial Mergify configuration
  .github/mergify.yml
Labels: t:enhancement, t:maintenance

#7102 🎨 Progress bars wording improvements while opening a service
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
Labels: a:frontend, 🤖-automerge

#7116 🎨 Trying to make Mergify use the merge queue
  .github/mergify.yml
Labels: t:maintenance

#7122 🎨 Mergify queue takes over keeping in sync with master
  .github/mergify.yml
Labels: t:maintenance

#7068 🎨 improvements: return user email in licensed items, error msg, expose pricing plans 🗃️
  api/specs/web-server/_resource_usage.py
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_checkouts.py
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_purchases.py
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/pricing_plans.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_checkouts.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_purchases.py
  packages/models-library/src/models_library/api_schemas_webserver/resource_usage.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/5f88b513cd4c_add_user_email_col_to_purchases.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_licensed_items_purchases.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/pricing_plans.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_pricing_plans.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/licensed_items_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/background_task_periodic_heartbeat_check.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/credit_transactions_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_purchases_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/pricing_plans_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/pricing_plans.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/utils.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_pricing_plans_rpc.py
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/PricingPlan.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/store/Pricing.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/catalog/_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_models.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_rest.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_service.py
  services/web/server/src/simcore_service_webserver/payments/_onetime_api.py
  services/web/server/src/simcore_service_webserver/projects/_projects_nodes_pricing_unit_handlers.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/src/simcore_service_webserver/projects/projects_service.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_admin_rest.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_admin_service.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_handlers.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_models.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_rest.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_service.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_rest.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_service.py
  services/web/server/src/simcore_service_webserver/resource_usage/plugin.py
  services/web/server/src/simcore_service_webserver/resource_usage/service.py
  services/web/server/src/simcore_service_webserver/wallets/_api.py
  services/web/server/src/simcore_service_webserver/wallets/_events.py
  services/web/server/tests/unit/with_dbs/03/resource_usage/conftest.py
  services/web/server/tests/unit/with_dbs/03/resource_usage/test_admin_pricing_plans.py
  services/web/server/tests/unit/with_dbs/03/resource_usage/test_list_osparc_credits_aggregated_usages.py
  services/web/server/tests/unit/with_dbs/03/resource_usage/test_pricing_plans.py
  services/web/server/tests/unit/with_dbs/03/resource_usage/test_usage_services__export.py
  services/web/server/tests/unit/with_dbs/03/resource_usage/test_usage_services__list.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_purchases_rest.py
Labels: a:webserver, a:resource-usage-tracker

#7110 ♻️ 🎨 License plugin: toggle vip feature
  .env-devel
  api/specs/web-server/_licensed_items.py
  api/specs/web-server/_licensed_items_checkouts.py
  api/specs/web-server/_licensed_items_purchases.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/licenses/_common/__init__.py
  services/web/server/src/simcore_service_webserver/licenses/_common/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/_common/models.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_rest.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_rest.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_rest.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_service.py
  services/web/server/src/simcore_service_webserver/licenses/plugin.py
  services/web/server/tests/unit/isolated/test_application_settings.py
Labels: a:webserver

#7118 🐛 [Frontend] Bugfix: Do not recreate login page after resize
  services/static-webserver/client/source/class/osparc/auth/LoginPageSplit.js
Labels: bug, a:frontend

#7126 🎨 Only retry flaky tests when PR is ready for merging
  .github/mergify.yml
Labels: t:maintenance

#7112 ♻️ Maintenance: refactors application settings repo-wide
  packages/common-library/src/common_library/basic_types.py
  packages/settings-library/setup.cfg
  packages/settings-library/src/settings_library/application.py
  packages/settings-library/src/settings_library/director_v0.py
  packages/settings-library/src/settings_library/docker_registry.py
  packages/settings-library/src/settings_library/ec2.py
  packages/settings-library/src/settings_library/efs.py
  packages/settings-library/src/settings_library/email.py
  packages/settings-library/src/settings_library/http_client_request.py
  packages/settings-library/src/settings_library/postgres.py
  packages/settings-library/src/settings_library/r_clone.py
  packages/settings-library/src/settings_library/s3.py
  packages/settings-library/src/settings_library/ssm.py
  packages/settings-library/src/settings_library/tracing.py
  packages/settings-library/src/settings_library/twilio.py
  packages/settings-library/src/settings_library/utils_logging.py
  packages/settings-library/src/settings_library/utils_validators.py
  packages/settings-library/tests/test__pydantic_settings.py
  packages/settings-library/tests/test_ec2.py
  packages/settings-library/tests/test_email.py
  services/agent/src/simcore_service_agent/core/settings.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_core_settings.py
  services/director-v2/tests/integration/02/utils.py
  services/efs-guardian/src/simcore_service_efs_guardian/core/settings.py
  services/efs-guardian/tests/unit/test_core_settings.py
  services/invitations/src/simcore_service_invitations/core/settings.py
  services/payments/src/simcore_service_payments/core/settings.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/cli.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/tests/unit/isolated/test_application_settings.py
Labels: a:director, a:webserver, t:maintenance, a:catalog, a:apiserver, a:autoscaling, a:agent, a:invitations, a:clusters-keeper, a:payments, a:datcore-adapter

#7131 🎨 New PO email per product to use in account requests 🗃️🚨
  packages/postgres-database/src/simcore_postgres_database/migration/versions/1bc517536e0a_add_product_owners_email_col.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/web/server/src/simcore_service_webserver/login/_registration_api.py
  services/web/server/src/simcore_service_webserver/products/_db.py
  services/web/server/src/simcore_service_webserver/products/_model.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration_handlers.py
Labels: a:webserver

#7132 🎨 [Frontend] check ``licensesEnabled`` variable set in the webserver
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7089 ✨ [Frontend] New + Button
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusButton.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/form/PortInfoHint.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/store/Products.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/ui/hint/InfoHint.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerModel.js
  services/static-webserver/client/source/resource/osparc/new_studies.json
  tests/e2e-frontend/tests/navigationBar/navigationBar.spec.js
  tests/e2e-frontend/tests/studyBrowser/mainView.spec.js
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/platform_CI_tests/test_platform.py
  tests/e2e-playwright/tests/tip/conftest.py
  tests/e2e/tests/tags.tes.js
  tests/e2e/tutorials/tutorialBase.js
  tests/e2e/utils/auto.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7125 🎨 Expose `wallet_id` to computational and dynamic services via env vars upon request
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/substitutions.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/test_modules_osparc_variables.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
Labels: a:director-v2, 🤖-automerge

#7129 🎨 [Frontend] S4L: Make Company Name required
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7134 🎨 E2E: be compatible with legacy services
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/sim4life/test_template.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: e2e, 🤖-automerge

#7142 🐛 [Frontend] Fix: "New" translation
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
Labels: bug, a:frontend

#7141 ♻️ Update traefik router hardcoded priorities
  services/docker-compose-dev-vendors.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
Labels: t:enhancement

#7143 🐛 [e2e] Fixes after new plus button
  tests/e2e-playwright/tests/conftest.py
  tests/e2e/utils/auto.js
Labels: bug, e2e

#7133 🔨 Allow Mergify to detect more failing cases for CI restarts & Automatically add PRs to queue
  .github/mergify.yml
Labels: t:maintenance

#7144 ✨ Updates `licensed_items` table 🗃️
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  packages/models-library/src/models_library/licensed_items.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/4f31760a63ba_add_data_to_licensed_items.py
  packages/postgres-database/src/simcore_postgres_database/models/licensed_items.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_repository.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_service.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
  services/web/server/tests/unit/isolated/test_users_models.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_repository.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_rest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
  services/web/server/tests/unit/with_dbs/04/wallets/payments/test_payments.py
Labels: a:webserver, a:database, a:models-library
