Repository ITISFoundation/osparc-simcore, pull requests merged in 2025-05, with the labels that each got.

#7608 ♻️ Clean up getting latest released service
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/api-server/src/simcore_service_api_server/_service_programs.py
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_programs.py
  services/api-server/tests/unit/test_api_solvers.py
  services/api-server/tests/unit/test_services_catalog.py
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
Labels: a:catalog, a:apiserver

#7615 ✨ ♻️ `api-server`: Refactor Service Layer, extended dependency injection and drafts `list_study_jobs`
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  services/api-server/docs/api-server.drawio.svg
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/_service_programs.py
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/_service_studies.py
  services/api-server/src/simcore_service_api_server/_service_utils.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/licensed_items.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/exceptions/custom_errors.py
  services/api-server/src/simcore_service_api_server/models/schemas/programs.py
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/service/conftest.py
  services/api-server/tests/unit/service/test_service_catalog.py
  services/api-server/tests/unit/service/test_service_jobs.py
  services/api-server/tests/unit/service/test_service_solvers.py
  services/api-server/tests/unit/service/test_service_studies.py
  services/api-server/tests/unit/test_service_solvers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_confirmation_service.py
Labels: a:apiserver, 🤖-automerge

#7620 ✨ Introduce changelog-driven FastAPI route configuration system
  packages/common-library/src/common_library/changelog.py
  packages/common-library/tests/test_changelog.py
Labels: t:maintenance, 🤖-automerge

#7626 🐛 Deregister log streamer via starlette background task
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/services_http/log_streaming.py
  services/api-server/tests/unit/test_services_rabbitmq.py
Labels: a:apiserver

#7628 ✨Maintenance: autoscaled clusters allows to write outputs to a file
  scripts/maintenance/computational-clusters/autoscaled_monitor/cli.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
Labels: t:maintenance, computational clusters

#7623 🔨 Maintenance: script to assist bulk pre-registrations
  scripts/maintenance/pre_registration.py
Labels: t:maintenance, 🤖-automerge

#7630 ✨Maintenance CLI: introduce option to terminate dynamic instances
  scripts/maintenance/computational-clusters/autoscaled_monitor/cli.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ec2.py
  scripts/maintenance/computational-clusters/test.txt
Labels: t:maintenance

#7633 ♻️E2E: Fix some timing issues
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: t:maintenance, e2e

#7596 🐛 [Frontend] Fix: Shared with Everyone filter
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
Labels: bug, a:frontend, 🤖-automerge

#7637 ♻️E2e: definite fix to ensure idle timeout is always smaller than waiting timeout
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/sim4life/test_template.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: t:maintenance, e2e

#7638 ♻️Director-v2: removed aiopg dependency also from tests
  packages/postgres-database/tests/test_comp_tasks.py
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
Labels: a:director-v2

#7639 🐛Autoscaling script: bugfix, invalid variable
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
Labels: bug, t:maintenance, computational clusters

#7640 🎨 add `WAITING_FOR_RESOURCES` to `get_pipeline_state_from_task_states`
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/tests/unit/test_utils_computation.py
Labels: a:director-v2, computational clusters, 🤖-automerge

#7643 ✨ [Frontend] Multiple ``conversations`` per project
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/info/CommentAdd.js
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
  services/static-webserver/client/source/class/osparc/info/Conversation.js
  services/static-webserver/client/source/class/osparc/info/Conversations.js
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
  services/static-webserver/client/source/class/osparc/task/ExportData.js
Labels: t:enhancement, a:frontend

#7645 🐛Dask-Sidecar: explicitely set expand flag to remove confusing error message
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
Labels: bug, a:dask-service

#7648 🎨 add safety condition for auto-recharge
  services/payments/src/simcore_service_payments/services/auto_recharge_process_message.py
  services/payments/tests/unit/test_services_auto_recharge_listener.py
Labels: a:payments, 🤖-automerge

#7621 ♻️✨🐛Dask-Sidecar: add RabbitMQ dependency and remove usage of deprecated Pub/Sub for logs 🚨🚨🚨
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/events.py
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/protocol.py
  packages/dask-task-models-library/tests/container_tasks/test_events.py
  packages/dask-task-models-library/tests/container_tasks/test_io.py
  packages/dask-task-models-library/tests/container_tasks/test_protocol.py
  packages/pytest-simcore/src/pytest_simcore/rabbit_service.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/dask-sidecar/docker/boot.sh
  services/dask-sidecar/src/simcore_service_dask_sidecar/cli.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/errors.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/errors.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/rabbitmq_plugin.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/scheduler.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/__init__.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/dask.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/files.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/gpus.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/logs.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/worker.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test__requirements.py
  services/dask-sidecar/tests/unit/test_cli.py
  services/dask-sidecar/tests/unit/test_computational_docker_utils.py
  services/dask-sidecar/tests/unit/test_computational_models.py
  services/dask-sidecar/tests/unit/test_computational_sidecar_task_shared_volume.py
  services/dask-sidecar/tests/unit/test_deployment.py
  services/dask-sidecar/tests/unit/test_rabbitmq_plugin.py
  services/dask-sidecar/tests/unit/test_settings.py
  services/dask-sidecar/tests/unit/test_utils_dask.py
  services/dask-sidecar/tests/unit/test_utils_files.py
  services/dask-sidecar/tests/unit/test_utils_gpus.py
  services/dask-sidecar/tests/unit/test_worker.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/database.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
  services/docker-compose.yml
Labels: bug, a:director-v2, computational clusters

#7649 ⬆️ Maintenance: upgrade aiohttp, version 3.11.13 is yanked
  api/tests/requirements.txt
  ci/helpers/requirements/requirements.txt
  packages/aws-library/requirements/_base.txt
  packages/notifications-library/requirements/_test.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/docker_utils.py
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/_filemanager_utils.py
  requirements/constraints.txt
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director/requirements/_base.txt
  services/director/requirements/_test.txt
  services/docker-api-proxy/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/efs-guardian/requirements/_base.txt
  services/efs-guardian/requirements/_test.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/payments/requirements/_test.txt
  services/payments/tests/unit/test_services_payments_gateway.py
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  services/web/server/src/simcore_service_webserver/session/plugin.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_constants.py
  services/web/server/tests/unit/isolated/test_application_settings.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_change_email.py
  tests/public-api/requirements/_test.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: t:maintenance

#7650 ♻️Dask sidecar: Glob error tests + autoscaling monitoring fix
  packages/pytest-simcore/src/pytest_simcore/aws_s3_service.py
  packages/service-library/tests/aiohttp/test_tracing.py
  packages/service-library/tests/fastapi/test_tracing.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
  services/dask-sidecar/requirements/_test.in
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/files.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_utils_files.py
Labels: t:maintenance

#7647 🎨 [Frontend] Enh: Lazy load templates
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/DataBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/TemplatesList.js
  services/static-webserver/client/source/class/osparc/store/Templates.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
  tests/e2e/tests/startupCalls.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7653 ✨ [Frontend] Create Functions
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/node/ParameterEditor.js
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7657 🐛 Avoid 401 when listing in process tasks in webserver
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/server.py
  services/web/server/src/simcore_service_webserver/long_running_tasks.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
Labels: a:webserver

#7656 🎨 Improve web-api listing task manager (download logs, credits, node name)
  packages/models-library/src/models_library/api_schemas_directorv2/comp_runs.py
  packages/models-library/src/models_library/api_schemas_webserver/computations.py
  packages/models-library/src/models_library/computations.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/credit_transactions.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/errors.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations_tasks.py
  services/director-v2/src/simcore_service_director_v2/api/rpc/_computations.py
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/credit_transactions_db.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_service_runs__list_billable.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director_v2/_computations_service.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/computations_rest.py
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/src/simcore_service_webserver/products/_service.py
  services/web/server/src/simcore_service_webserver/products/products_service.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/projects/api.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
Labels: a:webserver, a:director-v2, a:resource-usage-tracker, 🤖-automerge

#7662 ⬆️ Maintenance: Upgrade `aioboto3`
  packages/aws-library/requirements/_base.txt
  packages/aws-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.txt
  services/agent/requirements/_test.txt
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/director-v2/requirements/_test.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/efs-guardian/requirements/_base.txt
  services/efs-guardian/requirements/_test.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
Labels: t:maintenance

#7663 🎨Webserver: use uvloop and aiohttp UV loop worker to increase performances
  services/web/server/docker/boot.sh
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
Labels: a:webserver, t:maintenance

#7658 ✨ [Frontend] App Browser with Hypertools
  services/static-webserver/client/source/class/osparc/dashboard/AppBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/SubJob.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/filter/CollaboratorToggleButton.js
  services/static-webserver/client/source/class/osparc/jobs/ActivityCenterWindow.js
  services/static-webserver/client/source/class/osparc/jobs/JobsButton.js
  services/static-webserver/client/source/class/osparc/jobs/RunsAndClusters.js
  services/static-webserver/client/source/class/osparc/jobs/RunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTableModel.js
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/store/Templates.js
  services/static-webserver/client/source/class/osparc/study/SaveAsTemplate.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/static-webserver/client/source/class/osparc/utils/Resources.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/resource/osparc/circle-play-text.svg
  services/static-webserver/client/source/resource/osparc/tours/osparc_tours.json
  services/static-webserver/client/source/resource/osparc/tours/s4l_tours.json
  tests/e2e-frontend/tests/navigationBar/navigationBar.spec.js
  tests/e2e-frontend/tests/serviceBrowser/leftFilters.spec.js
  tests/e2e-frontend/tests/serviceBrowser/mainView.spec.js
  tests/e2e-playwright/tests/conftest.py
  tests/e2e/utils/auto.js
Labels: t:enhancement, a:frontend

#7661 🎨 Improve listing task manager (add filter + and project name, project custom metadata fields)
  packages/models-library/src/models_library/api_schemas_webserver/computations.py
  packages/models-library/src/models_library/computations.py
  packages/models-library/src/models_library/projects_state.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/director_v2/computations.py
  services/director-v2/src/simcore_service_director_v2/api/rpc/_computations.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director_v2/_computations_service.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/computations_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/metadata_rest.py
  services/web/server/src/simcore_service_webserver/projects/_metadata_service.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/projects/api.py
  services/web/server/src/simcore_service_webserver/projects/projects_metadata_service.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
Labels: 🤖-automerge

#7670 ⬆️Maintenance: upgrade to traefik v3.4.0
  services/docker-compose.yml
Labels: t:maintenance

#7671 ⬆️Maintenance: more upgrades due to last upgrade of traefik to 3.4
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/director/src/simcore_service_director/producer.py
  services/docker-compose-dev-vendors.yml
  services/docker-compose.yml
Labels: t:maintenance

#7672 🐛 [Frontend] Fixes: Data Browsing
  services/static-webserver/client/source/class/osparc/dashboard/FoldersTree.js
  services/static-webserver/client/source/class/osparc/file/TreeFolderView.js
Labels: bug, a:frontend, 🤖-automerge

#7673 🐛 [Frontend] Fix: Templates listing
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/store/Services.js
Labels: bug, a:frontend, 🤖-automerge

#7674 🎨 [Frontend] Enh: Publish and Template in different sections
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/share/ShareTemplateWith.js
  services/static-webserver/client/source/class/osparc/study/SaveAsTemplate.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7619 🐛 Generate API base URL by active product ⚠️
  .env-devel
  packages/common-library/src/common_library/network.py
  packages/common-library/src/common_library/test_network.py
  packages/models-library/src/models_library/api_schemas_directorv2/computations.py
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services.py
  packages/models-library/src/models_library/api_schemas_dynamic_scheduler/dynamic_services.py
  packages/models-library/src/models_library/api_schemas_webserver/auth.py
  services/director-v2/.env-devel
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/constants.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/substitutions.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/integration/conftest.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_osparc_variables.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/docker-compose.yml
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_thin_client.py
  services/dynamic-scheduler/tests/unit/conftest.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__models.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rest.py
  services/web/server/src/simcore_service_webserver/director_v2/_client.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/rest.py
  services/web/server/src/simcore_service_webserver/director_v2/_director_v2_service.py
  services/web/server/src/simcore_service_webserver/products/_web_middlewares.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_redirects_handlers.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
  services/web/server/tests/unit/isolated/test_dynamic_scheduler.py
  services/web/server/tests/unit/isolated/test_utils_aiohttp.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, 🤖-automerge

#7539 Functions api ✨ 🗃️
  packages/models-library/src/models_library/api_schemas_webserver/functions_wb_schema.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/fc1701bb7e93_add_function_tables.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_job_collections_table.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_job_collections_to_function_jobs_table.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_jobs_table.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_functions_table.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  services/api-server/openapi.json
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/function_job_collections_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/functions.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/functions_api_schema.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/api_functions/conftest.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
  services/web/server/src/simcore_service_webserver/functions/_controller_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_controller_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_repo.py
  services/web/server/src/simcore_service_webserver/functions/_service.py
  services/web/server/src/simcore_service_webserver/functions/plugin.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/conftest.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rpc.py
Labels: a:webserver, a:api, a:database, a:apiserver, Meta-modeling, dependencies, 🤖-automerge

#7677 🎨 add project template type 🚨 (🗃️)
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/projects.py
  packages/models-library/tests/test_projects.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/b39f2dc87ccd_add_templatetype_to_projects.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  packages/pytest-simcore/src/pytest_simcore/simcore_webserver_projects_rest_api.py
  services/api-server/tests/mocks/create_program_job_success.json
  services/api-server/tests/mocks/create_study_job.json
  services/api-server/tests/mocks/for_test_api_routes_studies.json
  services/api-server/tests/mocks/get_job_outputs.json
  services/api-server/tests/mocks/get_job_pricing_unit_invalid_solver.json
  services/api-server/tests/mocks/get_job_pricing_unit_success.json
  services/api-server/tests/mocks/get_solver_outputs.json
  services/api-server/tests/mocks/on_list_jobs.json
  services/api-server/tests/mocks/run_study_workflow.json
  services/api-server/tests/mocks/start_job_not_enough_credit.json
  services/api-server/tests/mocks/start_job_with_payment.json
  services/api-server/tests/mocks/test_get_and_update_study_job_metadata.json
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_services_solver_job_models_converters.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy_utils.py
  services/web/server/src/simcore_service_webserver/projects/models.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/tests/conftest.py
  services/web/server/tests/data/fake-project.json
  services/web/server/tests/data/fake-template-projects.hack08.notebooks.json
  services/web/server/tests/data/fake-template-projects.isan.2dplot.json
  services/web/server/tests/data/fake-template-projects.isan.matward.json
  services/web/server/tests/data/fake-template-projects.isan.paraview.json
  services/web/server/tests/data/fake-template-projects.isan.ucdavis.json
  services/web/server/tests/data/fake-template-projects.sleepers.json
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/isolated/data/project-data.json
  services/web/server/tests/unit/isolated/test_studies_dispatcher_core.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
  tests/e2e/tutorials/sleepers_project_template_sql.csv
Labels: a:webserver, 🤖-automerge

#7660 ♻️Dask-sidecar: remove dask Pub/Sub
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/dask.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_utils_dask.py
  services/dask-sidecar/tests/unit/test_worker.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Labels: a:director-v2, a:dask-service

#7684 🐛 fix project-v0.0.1.json schema
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
Labels: 🤖-automerge

#7681 🎨 [Frontend] Show Runs history
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/jobs/ActivityOverview.js
  services/static-webserver/client/source/class/osparc/jobs/RunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTableModel.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
  services/static-webserver/client/source/class/osparc/store/Services.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7691 ♻️ upgrade `markupsafe`
  services/efs-guardian/requirements/_base.txt
  services/efs-guardian/requirements/_test.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
Labels: t:maintenance, 🤖-automerge

#7687 🐛 Fixes `WEBSERVER_FUNCTIONS` to run in development deploys
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/tests/unit/isolated/test_application_settings.py
Labels: a:webserver, 🤖-automerge

#7678 ✨ Add Support for Filtering Solver Jobs by Custom Metadata via metadata.any Query Parameter
  packages/models-library/src/models_library/rpc/webserver/projects.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_rpc_server.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/projects.py
  services/api-server/docs/api-server.drawio.svg
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/_service_studies.py
  services/api-server/src/simcore_service_api_server/api/dependencies/models_schemas_job_filters.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/models/basic_types.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs_filters.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_read.py
  services/api-server/tests/unit/service/test_service_jobs.py
  services/api-server/tests/unit/service/test_service_studies.py
  services/api-server/tests/unit/test_api_dependencies.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rpc.py
  services/web/server/src/simcore_service_webserver/projects/_jobs_repository.py
  services/web/server/src/simcore_service_webserver/projects/_jobs_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects__jobs_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_rpc.py
Labels: a:webserver, a:api, a:apiserver, 🤖-automerge

#7689 🎨 Adding filtering for template type + extend patching
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/projects.py
  packages/postgres-database/src/simcore_postgres_database/webserver_models.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest_schemas.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/src/simcore_service_webserver/workspaces/_trash_service.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__list_with_query_params.py
Labels: a:webserver, 🤖-automerge

#7694 ✨ public-api 0.7.1: adds `version_display` field in the `Solver` response model
  services/api-server/VERSION
  services/api-server/openapi.json
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers.py
Labels: a:api, a:apiserver

#7690 🎨 [Frontend] Filter and patch template types
  .eslintignore
  eslint.config.js
  services/static-webserver/client/source/class/osparc/dashboard/AppBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TutorialBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/data/model/StudyUI.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/TutorialsList.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/store/Study.js
  services/static-webserver/client/source/class/osparc/store/Templates.js
  services/static-webserver/client/source/class/osparc/study/SaveAsTemplate.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7675 ✨ `dynamic-sidecar` allows to import old state from legacy services 🚨
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/tests/test_service_settings_labels.py
  packages/service-integration/tests/test_osparc_config.py
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/tests/unit/test_node_data_data_manager.py
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
Labels: a:dynamic-sidecar, a:simcore-sdk, 🤖-automerge

#7696 🎨 [Frontend] Card Menu: Template menu on template, tutorial and hypertool cards
  services/static-webserver/client/source/class/osparc/dashboard/AppBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TutorialBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/TutorialsList.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/utils/Resources.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7699 ✨ [Frontend] PO Center: Pending Users
  services/static-webserver/client/source/class/osparc/data/Job.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/po/POCenter.js
  services/static-webserver/client/source/class/osparc/po/POCenterWindow.js
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7702 🐛 [Frontend] Fix: Pricing plan creation and Edit
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/pricing/PlanEditor.js
  services/static-webserver/client/source/class/osparc/pricing/Plans.js
  services/static-webserver/client/source/class/osparc/store/Templates.js
  services/static-webserver/client/source/resource/osparc/tours/osparc_tours.json
  services/static-webserver/client/source/resource/osparc/tours/s4l_tours.json
  services/static-webserver/client/source/resource/osparc/tours/s4llite_tours.json
  tests/e2e-frontend/tests/navigationBar/navigationBar.spec.js
  tests/e2e-playwright/tests/conftest.py
  tests/e2e/utils/auto.js
Labels: t:enhancement, a:frontend

#7686 ✨🐛Computational Backend: Introduce Dask plugins for tasks lifecycle
  packages/dask-task-models-library/src/dask_task_models_library/models.py
  packages/dask-task-models-library/src/dask_task_models_library/plugins/__init__.py
  packages/dask-task-models-library/src/dask_task_models_library/plugins/task_life_cycle_scheduler_plugin.py
  packages/dask-task-models-library/src/dask_task_models_library/plugins/task_life_cycle_worker_plugin.py
  packages/pytest-simcore/src/pytest_simcore/dask_scheduler.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
  services/clusters-keeper/requirements/ci.txt
  services/clusters-keeper/requirements/dev.txt
  services/dask-sidecar/src/simcore_service_dask_sidecar/rabbitmq_worker_plugin.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/scheduler.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/dask.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/worker.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_computational_sidecar_tasks.py
  services/dask-sidecar/tests/unit/test_rabbitmq_plugin.py
  services/dask-sidecar/tests/unit/test_tasks_life_cycle.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/models/dask_subsystem.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Labels: a:director-v2, a:dask-service, computational clusters

#7693 Add functions rest api inside webserver ✨ ♻️
  api/specs/web-server/_functions.py
  api/specs/web-server/openapi.py
  packages/models-library/src/models_library/api_schemas_api_server/functions.py
  packages/models-library/src/models_library/api_schemas_webserver/functions.py
  packages/models-library/src/models_library/functions.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  services/api-server/VERSION
  services/api-server/openapi.json
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/api/routes/function_job_collections_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/models/schemas/functions_api_schema.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/api_functions/conftest.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/functions/_controller/__init__.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest_schemas.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/src/simcore_service_webserver/functions/plugin.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rest.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rpc.py
Labels: a:webserver, a:api, a:apiserver, Feedback, Meta-modeling, 🤖-automerge

#7705 Fix functions frontend by using schema_content instead of schema_dict 🐛🚑️
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
Labels: a:frontend, 🤖-automerge

#7708 Fix function job collection changelog descr 🐛
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/function_job_collections_routes.py
Labels: a:apiserver, Meta-modeling, 🤖-automerge

#7707 🎨 public-api: cleanup openapi routes descriptions
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/_constants.py
  services/api-server/src/simcore_service_api_server/api/routes/credits.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_read.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
Labels: a:api, 🤖-automerge

#7714 🎨 [Frontend] Enable/disable Create Functions
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7709 🎨 database+web-server: Extending user pre-registration workflow and asyncpg upgrades 🗃️
  packages/common-library/src/common_library/users_enums.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ba9c4816a31b_new_pre_registration_columns.py
  packages/postgres-database/src/simcore_postgres_database/models/users_details.py
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
  packages/postgres-database/tests/test_users_details.py
  packages/postgres-database/tests/test_utils_users.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
  services/web/server/src/simcore_service_webserver/login/_auth_service.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/change.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/registration.py
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_login_handlers_registration_invitations.py
  services/web/server/tests/unit/with_dbs/03/users/conftest.py
  services/web/server/tests/unit/with_dbs/03/users/test_users_repository.py
  services/web/server/tests/unit/with_dbs/03/users/test_users_service.py
Labels: a:webserver, a:database, 🤖-automerge

#7712 🎨 [Frontend] Runs with children
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/jobs/ActivityOverview.js
  services/static-webserver/client/source/class/osparc/jobs/RunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTableModel.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTableModel.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7718 🎨 introduce `include_children` query parameter for activity monitor / project activity listings (🗃️)
  api/specs/web-server/_computations.py
  packages/models-library/src/models_library/api_schemas_webserver/computations.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/4e7d8719855b_add_index_to_projects_metadata.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_metadata.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/director_v2/computations.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/errors.py
  services/director-v2/src/simcore_service_director_v2/api/rpc/_computations.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_rpc_computations.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/credit_transactions_db.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director_v2/_computations_service.py
  services/web/server/src/simcore_service_webserver/director_v2/_computations_service_utils.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/computations_rest.py
  services/web/server/src/simcore_service_webserver/projects/_metadata_repository.py
  services/web/server/src/simcore_service_webserver/projects/_metadata_service.py
  services/web/server/src/simcore_service_webserver/projects/projects_metadata_service.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
Labels: a:webserver, a:director-v2, 🤖-automerge

#7723 ✨ [Frontend] Allow users access not-running latest runs
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/jobs/ActivityOverview.js
  services/static-webserver/client/source/class/osparc/jobs/RunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTableModel.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7724 🐛Dask-sidecar: ignore unexpected key-value pairs in outputs json data + unreliable computational runs in on-demand clusters
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  packages/dask-task-models-library/tests/container_tasks/test_io.py
  scripts/maintenance/computational-clusters/pyproject.toml
  scripts/maintenance/computational-clusters/uv.lock
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Labels: a:director-v2, a:dask-service

#7719 🎨 `api-server`: Add GET /solvers/page Public API Route with Pagination and Filter Support
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/api-server/docs/api-server.drawio.svg
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers.py
  services/api-server/tests/unit/conftest.py
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/catalog/src/simcore_service_catalog/repository/_services_sql.py
  services/catalog/src/simcore_service_catalog/repository/services.py
  services/catalog/src/simcore_service_catalog/service/catalog_services.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
  services/catalog/tests/unit/with_dbs/test_repositories.py
  services/catalog/tests/unit/with_dbs/test_service_catalog_services.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: a:catalog, a:apiserver

#7560 ✨ web-api: admin views and actions for user accounts for the PO center
  api/specs/web-server/_auth.py
  api/specs/web-server/_users.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  scripts/maintenance/pre_registration.py
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/login/_controller/rest/preregistration.py
  services/web/server/src/simcore_service_webserver/login/_preregistration_service.py
  services/web/server/src/simcore_service_webserver/security/_authz_access_roles.py
  services/web/server/src/simcore_service_webserver/users/_common/schemas.py
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/src/simcore_service_webserver/users/exceptions.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_products_rest_invitations.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_models.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_profiles.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_registration.py
  services/web/server/tests/unit/with_dbs/03/users/conftest.py
  services/web/server/tests/unit/with_dbs/03/users/test_users_repository.py
  services/web/server/tests/unit/with_dbs/03/users/test_users_service.py
Labels: a:frontend, a:webserver, 🤖-automerge

#7728 🎨 [Frontend] Filter Runs
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/jobs/JobsButton.js
  services/static-webserver/client/source/class/osparc/jobs/RunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTableModel.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7736 🐛 web-api: wallet update operation has now optional thumbnail
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/tests/unit/with_dbs/04/wallets/test_wallets.py
Labels: a:webserver, 🤖-automerge

#7740 🎨 dynamic-sidecar prints disk usage on boot
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rpc/_disk_usage.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/system_monitor/_disk_usage.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/system_monitor/_setup.py
  services/dynamic-sidecar/tests/unit/test_modules_notifier.py
Labels: a:dynamic-sidecar, 🤖-automerge

#7741 ✨ [Frontend] Listen to ``openFunction`` iframe's message
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/pricing/UnitEditor.js
  services/static-webserver/client/source/class/osparc/store/Templates.js
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7743 🎨 [Frontend] Fetch tasks from the given projectUuid
  services/static-webserver/client/source/class/osparc/jobs/ActivityCenterWindow.js
  services/static-webserver/client/source/class/osparc/jobs/ActivityOverview.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTableModel.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTableModel.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
Labels: t:enhancement, a:frontend

#7746 Add has_function_id filter to function job collection filtering ✨
  README.md
  packages/models-library/src/models_library/api_schemas_api_server/functions.py
  packages/models-library/src/models_library/api_schemas_webserver/functions.py
  packages/models-library/src/models_library/functions.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/dependencies/_utils.py
  services/api-server/src/simcore_service_api_server/api/dependencies/models_schemas_function_filters.py
  services/api-server/src/simcore_service_api_server/api/dependencies/models_schemas_solvers_filters.py
  services/api-server/src/simcore_service_api_server/api/routes/function_job_collections_routes.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/api_functions/conftest.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/conftest.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rpc.py
Labels: a:webserver, a:api, a:apiserver, 🤖-automerge

#7729 🎨 Add load tests of `function`s section in api server
  tests/performance/locust_files/functions/workflow.py
  tests/performance/requirements/_base.txt
Labels: a:apiserver, Meta-modeling

#7725 🐛Computational services with large amount of inputs/outputs fail to start (🗃️)
  .github/copilot-instructions.md
  packages/postgres-database/src/simcore_postgres_database/migration/versions/278daef7e99d_remove_whole_row_in_payload.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
  packages/postgres-database/tests/test_comp_tasks.py
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  services/web/server/src/simcore_service_webserver/db_listener/_db_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/db_listener/_models.py
  services/web/server/src/simcore_service_webserver/db_listener/plugin.py
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications__db_comp_tasks_listening_task.py
Labels: a:director-v2, 🤖-automerge

#7751 🔨 Exposes WEBSERVER_FUNCTION env to `wb-api-server` simcore service ⚠️
  .env-devel
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/tests/unit/isolated/test_application_settings.py
  services/web/server/tests/unit/with_dbs/04/conftest.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/conftest.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/conftest.py
Labels: a:webserver, 🤖-automerge

#7755 🐛 Fix errors observed in front-end due to the HTTP `reason` attribute and new lines
  services/web/server/src/simcore_service_webserver/exception_handling/_factory.py
  services/web/server/src/simcore_service_webserver/exporter/exceptions.py
Labels: a:webserver, 🤖-automerge

#7750 🐛 Fix tracing exemplars
  packages/service-library/src/servicelib/fastapi/tracing.py
  services/agent/src/simcore_service_agent/core/application.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director/src/simcore_service_director/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/efs-guardian/src/simcore_service_efs_guardian/core/application.py
  services/invitations/src/simcore_service_invitations/core/application.py
  services/notifications/src/simcore_service_notifications/core/application.py
  services/payments/src/simcore_service_payments/core/application.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/application.py
  services/storage/src/simcore_service_storage/core/application.py
Labels: tracing

#7753 🎨 Maintenance: change default chunk size to compute checksums to 8MiB instead of 5KB
  packages/service-library/src/servicelib/file_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/tests/integration/conftest.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  packages/simcore-sdk/tests/integration/test_node_ports_v2_nodeports2.py
Labels: a:simcore-sdk, 🤖-automerge

#7754 ♻️ removed unrequited assert
  packages/service-library/src/servicelib/archiving_utils/_prunable_folder.py
Labels: a:dynamic-sidecar, 🤖-automerge

#7763 🐛 Fix: Add default headers for authenticated HTTP methods
  tests/performance/common/base_user.py
Labels: e2e

#7765 ⬆️♻️Uniformize uvicorn/fastapi dependencies repository-wide
  ci/helpers/requirements/requirements.txt
  packages/aws-library/requirements/_test.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.in
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  packages/service-library/tests/fastapi/test_cancellation_middleware.py
  services/agent/requirements/_base.in
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/api-server/requirements/_base.in
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/autoscaling/requirements/_base.in
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.in
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.in
  services/clusters-keeper/requirements/_base.txt
  services/datcore-adapter/requirements/_base.in
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.in
  services/director/requirements/_base.txt
  services/docker-api-proxy/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.in
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/requirements/_test.txt
  services/dynamic-sidecar/requirements/_base.in
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.in
  services/efs-guardian/requirements/_base.txt
  services/efs-guardian/requirements/_test.txt
  services/invitations/requirements/_base.in
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.in
  services/notifications/requirements/_base.txt
  services/payments/openapi.json
  services/payments/requirements/_base.in
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.in
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/swarm-deploy/test_service_images.py
Labels: t:maintenance, 🤖-automerge

#7758 🎨 introduce `comp_run_snapshot_tasks` table (🗃️)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e89eae27fb3f_add_comp_run_snapshot_tasks_table.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_run_snapshot_tasks.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_runs.py
  packages/postgres-database/src/simcore_postgres_database/utils_comp_run_snapshot_tasks.py
  packages/postgres-database/src/simcore_postgres_database/utils_comp_runs.py
  packages/postgres-database/tests/test_utils_comp_runs.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/dbmanager.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_dbmanager_helpers.py
  services/director-v2/src/simcore_service_director_v2/models/comp_run_snapshot_tasks.py
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_manager.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs_snapshot_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/db/tables.py
  services/director-v2/tests/unit/_helpers.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_rpc_computations.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_db_repositories_comp_runs.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
  services/director-v2/tests/unit/with_dbs/conftest.py
Labels: a:director-v2, 🤖-do-not-merge

#7761 🐛 Fixes extra long error/debug message in the front-end
  api/specs/web-server/_projects_states.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director_v2/_client_base.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/director_v2/_director_v2_service.py
  services/web/server/src/simcore_service_webserver/director_v2/director_v2_service.py
  services/web/server/src/simcore_service_webserver/director_v2/exceptions.py
  services/web/server/src/simcore_service_webserver/exception_handling/__init__.py
  services/web/server/src/simcore_service_webserver/exception_handling/_factory.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
Labels: a:webserver, 🤖-automerge

#7771 Add product permissions to functions 🎨 🗃️
  packages/models-library/src/models_library/functions.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/afb1ba08f3c2_add_functions_product_access.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_job_collections_access_rights_table.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_jobs_access_rights_table.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_functions_access_rights_table.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  services/api-server/src/simcore_service_api_server/api/routes/function_job_collections_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/conftest.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rpc.py
Labels: a:webserver, a:api, a:database, a:apiserver, 🤖-automerge
