Repository ITISFoundation/osparc-simcore, pull requests merged in 2025-07, with the labels that each got.

#8016 🐛Stop pruning /inputs folder after unzipping input port
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
Labels: a:webserver

#7997 ♻️ Update postgres configuration :warning: DEVOPS
  services/postgres/README.md
  services/postgres/scripts/.gitignore
  services/postgres/scripts/create-readonly-role.sql.template
  services/postgres/scripts/create-readonly-user.sql.template
  services/postgres/scripts/init.sql
  services/postgres/scripts/remove-readonly-role.sql.template
  services/postgres/scripts/remove-readonly-user.sql.template
Labels: t:enhancement, security, 🤖-automerge

#8024 🐛E2E: check for NOT_STARTED state instead of UNKNOWN
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/tip/conftest.py
Labels: t:maintenance, e2e, 🤖-automerge

#8013 ✨ [Frontend] Search Templates and Search Public Projects
  services/static-webserver/client/source/class/osparc/dashboard/AppBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/CardContainer.js
  services/static-webserver/client/source/class/osparc/dashboard/ContextBreadcrumbs.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/TutorialBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/store/Templates.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8022 Make function API access rights non nullable 🐛 🗃️
  packages/postgres-database/src/simcore_postgres_database/migration/versions/d159ac30983c_make_func_api_access_non_nullable.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_api_access_rights_table.py
Labels: a:database, 🤖-automerge

#7992 🐛 Fixes catalog giving access rights to everyone (group 1) to new services 🚨
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  packages/service-library/src/servicelib/fastapi/http_error.py
  services/catalog/src/simcore_service_catalog/clients/director.py
  services/catalog/src/simcore_service_catalog/service/access_rights.py
  services/catalog/tests/unit/conftest.py
  services/catalog/tests/unit/test_clients_director.py
  services/catalog/tests/unit/test_utils_service_extras.py
  services/director-v2/src/simcore_service_director_v2/api/errors/http_error.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
Labels: a:catalog, 🤖-automerge

#8038 🐛E2E playwright: fix flakyness
  tests/e2e-playwright/tests/sleepers/test_sleepers.py
Labels: t:maintenance, e2e

#8034 🎨 [Frontend] UX: Usage in the last 24h
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsSummary.js
  services/static-webserver/client/source/class/osparc/desktop/credits/DateFilters.js
Labels: t:enhancement, a:frontend

#8035 🐛 [Frontend] Fix: Service's Pricing Plans
  services/static-webserver/client/source/class/osparc/store/Services.js
Labels: bug, a:frontend

#8019 🎨Improve testing on DB listener
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations_tasks.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_rpc_computations.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_db_repositories_comp_runs.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_manager.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_worker.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_cli.py
  services/director-v2/tests/unit/with_dbs/test_modules_db_repositories_projects.py
  services/director-v2/tests/unit/with_dbs/test_utils_rabbitmq.py
  services/web/server/tests/data/workbench_2connected_jupyterlabs.json
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications__db_comp_tasks_listening_task.py
Labels: a:webserver, t:maintenance, a:director-v2

#8007 ⬆️Removed pip installation, replaced by UV repo-wide
  ci/helpers/ensure_python_pip.bash
  packages/postgres-database/docker/Dockerfile
  packages/postgres-database/scripts/erd/Dockerfile
  packages/service-integration/Dockerfile
  requirements/how-to-upgrade-python.md
  requirements/tools/Dockerfile
  scripts/erd/Dockerfile
  scripts/openapi/oas_resolver/Dockerfile
  scripts/pydeps-docker/Dockerfile
  scripts/pyupgrade.bash
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/notifications/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
  tests/environment-setup/test_used_python.py
Labels: t:maintenance, 🤖-automerge

#8046 🎨 [Frontend] PO Center: Approval/Deny of account requests
  services/static-webserver/client/source/class/osparc/po/POCenter.js
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8026 ✨ Enhance Account Request Flow with Pre-Registration and PO Approval Handling
  api/specs/web-server/_users_admin.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/constants.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/auth.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/change.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/preregistration.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/twofa.py
  services/web/server/src/simcore_service_webserver/login/_preregistration_service.py
  services/web/server/src/simcore_service_webserver/login/errors.py
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/users/schemas.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_users_rest_registration.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_preregistration.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_twofa.py
  services/web/server/tests/unit/with_dbs/03/users/test_users_repository.py
Labels: a:webserver, 🤖-automerge

#8052 ⬆️🔒️ Upgrade security issue regarding h11 dependencies
  packages/aws-library/requirements/_test.txt
  packages/service-integration/requirements/_base.in
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  scripts/metrics/requirements.txt
  scripts/release/pyproject.toml
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/api-server/requirements/_base.in
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/catalog/requirements/_base.in
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/director-v2/requirements/_base.in
  services/director/requirements/_base.txt
  services/director/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.in
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/requirements/_test.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/invitations/requirements/_base.in
  services/invitations/requirements/_base.txt
  services/invitations/requirements/_test.txt
  services/notifications/requirements/_base.txt
  services/notifications/requirements/_test.txt
  services/payments/requirements/_base.in
  services/payments/requirements/_base.txt
  services/payments/requirements/_test.txt
  services/resource-usage-tracker/requirements/_base.in
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/e2e-playwright/requirements/_test.txt
  tests/e2e-playwright/requirements/_test_wo_playwright.txt
  tests/public-api/requirements/_base.txt
  tests/public-api/requirements/_test.txt
Labels: a:infra+ops, t:maintenance, 🤖-automerge

#8045 🐛 Concurrent S3 bucket creation attempt
  services/storage/src/simcore_service_storage/modules/s3.py
Labels: a:storage, 🤖-automerge

#8002 ♻️Autoscaling: refactor before changes (⚠️ DEVOPS)
  .github/workflows/ci-testing-deploy.yml
  packages/pytest-simcore/src/pytest_simcore/helpers/autoscaling.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/models.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_base.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/__init__.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_provider_computational.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_provider_dynamic.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_provider_protocol.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_utils_computational.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_warm_buffer_machines_pool_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/auto_scaling_task.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/warm_buffer_machines_pool_task.py
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_constants.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_models.py
  services/autoscaling/src/simcore_service_autoscaling/utils/cluster_scaling.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_ec2.py
  services/autoscaling/src/simcore_service_autoscaling/utils/warm_buffer_machines.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_auto_scaling_task.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_utils_computational.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_warm_buffer_machine_core.py
  services/autoscaling/tests/unit/test_modules_instrumentation_models.py
  services/autoscaling/tests/unit/test_utils_cluster_scaling.py
  services/autoscaling/tests/unit/test_utils_ec2.py
  services/autoscaling/tests/unit/test_utils_warm_buffer_machines.py
Labels: t:maintenance, a:autoscaling, 🤖-automerge

#8057 ♻️🐛Properly configure socketio/engineio log output
  .env-devel
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director/src/simcore_service_director/core/application.py
  services/payments/src/simcore_service_payments/api/rest/_health.py
  services/web/server/src/simcore_service_webserver/log.py
  services/web/server/src/simcore_service_webserver/socketio/_handlers.py
  services/web/server/src/simcore_service_webserver/socketio/messages.py
  services/web/server/src/simcore_service_webserver/socketio/server.py
Labels: t:maintenance, 🤖-automerge

#8050 🔨 Maintenance: Exclude api folder from Codecov, clean up unused utils, and improve web-server test coverage
  .codecov.yml
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/email/_handlers.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/unit/isolated/test_utils.py
Labels: t:maintenance, 🤖-automerge

#8061 🎨 [Frontend] Enh UX: Number of Active Jobs
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/jobs/JobsButton.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/task/TasksButton.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8075 🎨 [Frontent] New Collaborators: Info button with tooltip
  services/static-webserver/client/source/class/osparc/filter/CollaboratorToggleButton.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Labels: t:enhancement, a:frontend

#8074 ✨ [Frontend] Update to new collection runs
  services/static-webserver/client/source/class/osparc/data/Job.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/SubJob.js
  services/static-webserver/client/source/class/osparc/jobs/ActivityCenterWindow.js
  services/static-webserver/client/source/class/osparc/jobs/ActivityOverview.js
  services/static-webserver/client/source/class/osparc/jobs/RunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTableModel.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTableModel.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
  services/static-webserver/client/source/class/osparc/ui/table/cellrenderer/ImageButtonRenderer.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8082 🎨 [Frontend] UX: Disable Delete button
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/widget/StudyDataManager.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8081 🐛Director-v0: ensure error are enveloped too
  services/catalog/src/simcore_service_catalog/clients/director.py
  services/director/src/simcore_service_director/core/application.py
Labels: a:director, t:maintenance, 🤖-automerge

#8084 🎨 [Frontend] Check new UI version after logging in
  services/static-webserver/client/source/class/osparc/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/NewUITracker.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8091 🔒️Upgrade dependencies with security issues
  ci/helpers/requirements/requirements.txt
  packages/aws-library/requirements/_base.txt
  packages/aws-library/requirements/_test.txt
  packages/celery-library/requirements/_base.txt
  packages/celery-library/requirements/_test.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/notifications-library/requirements/_base.txt
  packages/notifications-library/requirements/_test.txt
  packages/postgres-database/requirements/_migration.txt
  packages/postgres-database/requirements/_test.txt
  packages/service-integration/requirements/_base.txt
  packages/service-integration/requirements/_test.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/dask-sidecar/requirements/_test.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director/requirements/_base.txt
  services/director/requirements/_test.txt
  services/docker-api-proxy/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/requirements/_test.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/invitations/requirements/_base.txt
  services/migration/requirements/_test.txt
  services/notifications/requirements/_base.txt
  services/notifications/requirements/_test.txt
  services/payments/requirements/_base.txt
  services/payments/requirements/_test.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
  tests/e2e-playwright/requirements/_test.txt
  tests/e2e-playwright/requirements/_test_wo_playwright.txt
  tests/e2e/requirements/requirements.txt
  tests/performance/requirements/_test.txt
  tests/public-api/requirements/_base.txt
  tests/public-api/requirements/_test.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: t:maintenance, 🤖-automerge

#8093 🐛 Fix filtering of currently running jobs
  api/specs/web-server/_computations.py
  services/director-v2/src/simcore_service_director_v2/api/rpc/_computations.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_rpc_computations.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: bug, a:webserver, a:director-v2

#8106 ✨ webserver api: add phone registration endpoints and expose user phone field in profile
  api/specs/web-server/_users.py
  packages/models-library/requirements/_base.in
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  packages/models-library/src/models_library/users.py
  packages/models-library/tests/test_api_schemas_webserver_users.py
  packages/models-library/tests/test_users.py
  services/api-server/src/simcore_service_api_server/services_http/webserver.py
  services/api-server/tests/unit/_with_db/test_api_user.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/users/_controller/rest/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/users/_controller/rest/users_rest.py
  services/web/server/src/simcore_service_webserver/users/_models.py
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/src/simcore_service_webserver/users/_users_web.py
  services/web/server/src/simcore_service_webserver/users/exceptions.py
  services/web/server/tests/unit/isolated/test_users_models.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_profiles.py
Labels: a:webserver, 🤖-automerge

#8062 🔨 Maintenance: cleanup `qooxdoo` compile scripts
  services/static-webserver/client/Makefile
  services/static-webserver/client/tools/docker-compose.yml
  services/static-webserver/client/tools/qooxdoo-kit/builder/Dockerfile
Labels: t:maintenance, 🤖-automerge

#8122 ♻️Fix docker build warnings
  packages/postgres-database/docker/Dockerfile
  services/dask-sidecar/Dockerfile
  services/migration/Dockerfile
  services/static-webserver/client/tools/qooxdoo-kit/builder/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Labels: t:maintenance, 🤖-automerge

#8121 🐛 Avoids possible early garbage collection of task
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_manager.py
Labels: a:dynamic-sidecar, 🤖-automerge

#8119 🎨 Ensure consistent app names across simcore stack
  packages/service-library/src/servicelib/utils_meta.py
  packages/service-library/tests/test_utils_meta.py
  services/api-server/src/simcore_service_api_server/_meta.py
  services/autoscaling/src/simcore_service_autoscaling/_meta.py
  services/catalog/src/simcore_service_catalog/_meta.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/_meta.py
  services/director-v2/src/simcore_service_director_v2/_meta.py
  services/director/src/simcore_service_director/_meta.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/_meta.py
  services/invitations/src/simcore_service_invitations/_meta.py
  services/payments/src/simcore_service_payments/_meta.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/_meta.py
  services/storage/openapi.json
  services/storage/src/simcore_service_storage/_meta.py
  services/web/server/src/simcore_service_webserver/_meta.py
  services/web/server/src/simcore_service_webserver/diagnostics/_monitoring.py
  services/web/server/tests/unit/isolated/test_diagnostics_healthcheck.py
Labels: t:maintenance, 🤖-automerge

#8118 🐛 `ooil` can now escape quadruple $ used by OsparcVariableIdentifier
  packages/models-library/src/models_library/osparc_variable_identifier.py
  packages/models-library/src/models_library/service_settings_nat_rule.py
  packages/models-library/src/models_library/utils/types.py
  packages/models-library/tests/test_service_settings_nat_rule.py
  packages/service-integration/src/service_integration/__init__.py
  packages/service-integration/tests/data/runtime.yml
  packages/service-integration/tests/test_osparc_image_specs.py
  services/director-v2/openapi.json
Labels: bug, t:maintenance, a:ooil, 🤖-automerge

#7884 ♻️ preparing `TasksManager`'s interface to be extracted into a common interface
  packages/models-library/src/models_library/api_schemas_long_running_tasks/tasks.py
  packages/models-library/tests/test_api_schemas_long_running_tasks_tasks.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/logging_errors.py
  packages/service-library/src/servicelib/long_running_tasks/errors.py
  packages/service-library/src/servicelib/long_running_tasks/http_endpoint_responses.py
  packages/service-library/src/servicelib/long_running_tasks/lrt_api.py
  packages/service-library/src/servicelib/long_running_tasks/models.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
  packages/service-library/tests/aiohttp/long_running_tasks/conftest.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks_with_task_context.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_context_manager.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
  services/api-server/openapi.json
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_states.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_rest_containers_long_running_tasks.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
Labels: 🤖-automerge

#8127 🎨 [Frontend] Enh: Extended Search widget for Projects tab
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilterExtended.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/StudyUI.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorButton.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsButton.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/task/TasksButton.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8117 🎨 Enhance Functions REST API endpoints in Web Server
  api/specs/web-server/_functions.py
  packages/models-library/src/models_library/api_schemas_webserver/functions.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  packages/models-library/src/models_library/functions.py
  services/api-server/openapi.json
  services/api-server/tests/unit/api_functions/conftest.py
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Function.js
  services/static-webserver/client/source/class/osparc/store/Functions.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/folders/_folders_rest.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest_schemas.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/security/_authz_access_roles.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/conftest.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rest.py
Labels: a:webserver, 🤖-automerge

#8135 🎨 [Frontend] Functions browser: connect FE to BE
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Function.js
  services/static-webserver/client/source/class/osparc/info/FunctionLarge.js
  services/static-webserver/client/source/class/osparc/info/FunctionUtils.js
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
  services/static-webserver/client/source/class/osparc/store/Functions.js
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
Labels: t:enhancement, a:frontend, 🤖-automerge

#8148 🎨 `wb-auth`: Configure tracing and network configs
  .env-devel
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/tests/unit/with_dbs/03/test_login_auth_app.py
Labels: 🤖-automerge, a:webserver/auth

#8146 🔨 Update issue templates
  .github/ISSUE_TEMPLATE/1_bug_report.yml
  .github/ISSUE_TEMPLATE/2_feature_request.yml
  .github/ISSUE_TEMPLATE/3_maintenance_issue.yml
  .github/ISSUE_TEMPLATE/4_pre_release.yml
  .github/ISSUE_TEMPLATE/5_release.yml
  .github/ISSUE_TEMPLATE/6_hotfix.yml
  .github/ISSUE_TEMPLATE/7_regular_maintenance.yml
Labels: t:maintenance, 🤖-automerge

#8152 🎨 [Frontend] Less noisy Node moving
  services/static-webserver/client/source/class/osparc/ui/basic/AvatarGroup.js
  services/static-webserver/client/source/class/osparc/workbench/BaseNodeUI.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8140 ✨ Is1647/collaboration feature - 1. iteration (OPS ⚠️)
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_ui.py
  packages/models-library/src/models_library/api_schemas_webserver/socketio.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/pytest-simcore/pyproject.toml
  packages/pytest-simcore/uv.lock
  packages/service-library/src/servicelib/long_running_tasks/task.py
  packages/service-library/src/servicelib/redis/__init__.py
  packages/service-library/src/servicelib/redis/_project_document_version.py
  packages/service-library/tests/redis/test_project_document_version.py
  packages/settings-library/src/settings_library/redis.py
  services/docker-compose-ops.yml
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/folders/_workspaces_repository.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_delete.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_jobs_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service_delete.py
  services/web/server/src/simcore_service_webserver/projects/_socketio_service.py
  services/web/server/src/simcore_service_webserver/projects/_trash_service.py
  services/web/server/src/simcore_service_webserver/projects/_workspaces_service.py
  services/web/server/src/simcore_service_webserver/projects/api.py
  services/web/server/src/simcore_service_webserver/projects/models.py
  services/web/server/src/simcore_service_webserver/redis.py
  services/web/server/src/simcore_service_webserver/socketio/messages.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/isolated/test_projects__db_utils.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_patch_project_and_notify_users_locking.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/03/trash/test_trash_rest.py
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
  services/web/server/tests/unit/with_dbs/docker-compose.yml
Labels: a:webserver

#8142 Store function outputs 🎨 ♻️
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  services/api-server/src/simcore_service_api_server/api/dependencies/functions.py
  services/api-server/src/simcore_service_api_server/api/routes/function_job_collections_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/api_functions/conftest.py
  services/api-server/tests/unit/api_functions/test_api_routers_function_job_collections.py
  services/api-server/tests/unit/api_functions/test_api_routers_function_jobs.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_function_jobs_controller_rpc.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rpc.py
Labels: a:webserver, a:apiserver, 🤖-automerge

#8156 🐛 Avoids raising exceptions when the target container of a hook is not found
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks_utils.py
Labels: t:maintenance, a:dynamic-sidecar, 🤖-automerge

#8154 ✨ [Frontend] Event-driven PATCH trigger
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Service.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/data/model/StudyUI.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/editor/AnnotationEditor.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropFormBase.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropFormEditor.js
  services/static-webserver/client/source/class/osparc/jobs/JobsButton.js
  services/static-webserver/client/source/class/osparc/node/BootOptionsView.js
  services/static-webserver/client/source/class/osparc/node/LifeCycleView.js
  services/static-webserver/client/source/class/osparc/node/slideshow/NodeView.js
  services/static-webserver/client/source/class/osparc/snapshots/IterationsView.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/workbench/Annotation.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8164 🐛Fixes wb-auth traces as missing
  .env-devel
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/src/servicelib/utils_meta.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/diagnostics/_monitoring.py
  services/web/server/src/simcore_service_webserver/diagnostics/plugin.py
  services/web/server/src/simcore_service_webserver/tracing.py
  services/web/server/tests/unit/isolated/test_diagnostics_healthcheck.py
  services/web/server/tests/unit/with_dbs/03/test_login_auth_app.py
Labels: a:webserver, 🤖-automerge, a:webserver/auth

#8153 🐛 Enhance response when retrieving Solver functions
  packages/models-library/src/models_library/api_schemas_webserver/functions.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
  services/web/server/src/simcore_service_webserver/functions/_services_metadata/__init__.py
  services/web/server/src/simcore_service_webserver/functions/_services_metadata/_errors.py
  services/web/server/src/simcore_service_webserver/functions/_services_metadata/_models.py
  services/web/server/src/simcore_service_webserver/functions/_services_metadata/_proxy.py
  services/web/server/src/simcore_service_webserver/functions/_services_metadata/_repository.py
  services/web/server/src/simcore_service_webserver/functions/_services_metadata/proxy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rest.py
Labels: a:webserver, 🤖-automerge

#8168 🐛 [Frontend] Conversations: fixes
  services/static-webserver/client/source/class/osparc/conversation/Conversation.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/data/model/StudyUI.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
  services/static-webserver/client/source/class/osparc/workbench/Annotation.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: bug, a:frontend, 🤖-automerge

#8163 🎨♻️Simultaneous access: emit project update event when a user closes a project or the GC closes it
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
  packages/models-library/src/models_library/projects_access.py
  packages/models-library/src/models_library/projects_state.py
  packages/pytest-simcore/src/pytest_simcore/socketio_client.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
  services/web/server/src/simcore_service_webserver/exporter/_handlers.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_disconnected.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_guests.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_slot.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_delete.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service_delete.py
  services/web/server/src/simcore_service_webserver/resource_manager/models.py
  services/web/server/src/simcore_service_webserver/resource_manager/registry.py
  services/web/server/src/simcore_service_webserver/resource_manager/user_sessions.py
  services/web/server/src/simcore_service_webserver/socketio/_observer.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/02/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/unit/isolated/test_garbage_collector_core.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/conftest.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_garbage_collector.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_resource_manager_user_sessions.py
  tests/e2e-playwright/tests/sleepers/test_sleepers.py
Labels: a:webserver, 🤖-automerge

#8175 🎨 dynamic service status is now propagated to the project_id and not the node_id
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/_notifier.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_api.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_deferred_get_status.py
Labels: a:dynamic-scheduler, 🤖-automerge

#8165 ✨ [Frontend] Feature: sync with ``projectDocument:updated`` WS
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/data/model/StudyUI.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/io/rest/Resource.js
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/node/slideshow/NodeView.js
  services/static-webserver/client/source/class/osparc/ui/basic/AvatarGroup.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
  services/static-webserver/client/source/class/osparc/wrapper/JsonDiffPatch.js
  services/static-webserver/client/source/resource/jsondiffpatch/jsondiffpatch.min.js
Labels: t:enhancement, a:frontend

#8177 🎨 Add removal of project documents from the Redis (Garbage Collection background task)
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_orphans.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_documents.py
  services/web/server/src/simcore_service_webserver/garbage_collector/plugin.py
  services/web/server/src/simcore_service_webserver/garbage_collector/settings.py
  services/web/server/src/simcore_service_webserver/projects/_project_document_service.py
  services/web/server/src/simcore_service_webserver/projects/projects_documents_service.py
  services/web/server/src/simcore_service_webserver/resource_manager/_registry_utils.py
  services/web/server/src/simcore_service_webserver/resource_manager/service.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_projects_document_service.py
Labels: a:webserver, 🤖-automerge

#8179 🐛🎨 [Frontend] RTC: UX fixes
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/jobs/JobsButton.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsButton.js
  services/static-webserver/client/source/class/osparc/store/Study.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Labels: t:enhancement, bug, a:frontend

#8180 🐛Ensure nodeProgress event is sent to project chat
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
  services/web/server/tests/integration/02/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/unit/isolated/notifications/test_rabbitmq_consumers.py
Labels: a:webserver

#8183 🔨CI: remove webserver integration tests 02
  .github/workflows/ci-testing-deploy.yml
  services/web/server/tests/integration/01/conftest.py
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/integration/01/scicrunch/conftest.py
  services/web/server/tests/integration/01/scicrunch/test_scicrunch__resolver.py
  services/web/server/tests/integration/01/scicrunch/test_scicrunch__rest.py
  services/web/server/tests/integration/01/test_computation.py
Labels: t:maintenance, 🤖-automerge
