Repository ITISFoundation/osparc-simcore, pull requests merged in 2025-04, with the labels that each got.

#7460 🎨Director-v0: set default timeout to 20s and potentially allow setting it up
  packages/service-library/src/servicelib/fastapi/client_session.py
  services/director/src/simcore_service_director/core/application.py
  services/director/src/simcore_service_director/core/settings.py
  services/director/tests/unit/test_core_settings.py
Labels: a:director, t:maintenance

#7457 🐛 Fixed issue where GC stopping too early
  services/web/server/src/simcore_service_webserver/garbage_collector/_core.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_orphans.py
Labels: t:enhancement, a:webserver, 🤖-automerge

#7454 ✨ adds entry point to `dynamic-scheduler` exposing the current running services
  services/dynamic-scheduler/VERSION
  services/dynamic-scheduler/openapi.json
  services/dynamic-scheduler/setup.cfg
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/_ops.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/routes.py
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__ops.py
Labels: a:dynamic-scheduler, 🤖-automerge

#7462 🎨Monitoring script: add json output for summary, allow to trigger computational cluster termination
  scripts/maintenance/computational-clusters/autoscaled_monitor/cli.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
  scripts/maintenance/computational-clusters/pyproject.toml
  scripts/maintenance/computational-clusters/uv.lock
Labels: t:maintenance, computational clusters

#7450 ✨Storage: batchDelete
  api/specs/web-server/_storage.py
  packages/models-library/src/models_library/api_schemas_webserver/storage.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/paths.py
  services/storage/src/simcore_service_storage/api/_worker_tasks/_paths.py
  services/storage/src/simcore_service_storage/api/_worker_tasks/tasks.py
  services/storage/src/simcore_service_storage/api/rpc/_paths.py
  services/storage/src/simcore_service_storage/modules/celery/_celery_types.py
  services/storage/tests/unit/test_rpc_handlers_paths.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/tests/unit/with_dbs/01/storage/test_storage.py
Labels: a:storage, a:webserver, 🤖-automerge

#7458 🎨 [Frontend] Enh: batch delete files
  services/static-webserver/client/source/class/osparc/dashboard/DataBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/file/FolderContent.js
  services/static-webserver/client/source/class/osparc/file/FolderViewer.js
  services/static-webserver/client/source/class/osparc/file/TreeFolderView.js
  services/static-webserver/client/source/class/osparc/store/Data.js
  services/static-webserver/client/source/class/osparc/widget/StudyDataManager.js
Labels: t:enhancement, a:frontend

#7463 🎨E2E: Fail fast conditions + websocket logging in case of error
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/sim4life/test_template.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: t:maintenance, e2e

#7358 🐛 Clean Pydantic `model_dump`s warnings
  packages/models-library/src/models_library/docker.py
  packages/models-library/tests/test_docker.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_specs.py
Labels: a:director-v2, 🤖-automerge

#7466 🎨 [Frontend] Enh: Show deleting files progress
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/PollTask.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/store/PollTasks.js
  services/static-webserver/client/source/class/osparc/task/Duplicate.js
  services/static-webserver/client/source/class/osparc/task/Export.js
  services/static-webserver/client/source/class/osparc/task/Import.js
  services/static-webserver/client/source/class/osparc/task/TaskUI.js
  services/static-webserver/client/source/class/osparc/task/TasksButton.js
  services/static-webserver/client/source/class/osparc/task/TasksContainer.js
  services/static-webserver/client/source/class/osparc/task/ToTemplate.js
  services/static-webserver/client/source/class/osparc/ui/window/Confirmation.js
  services/static-webserver/client/source/class/osparc/ui/window/Progress.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7435 ✨ api and web-server: introduce job-project mapping via `projects_to_jobs` table and RPC integration
  packages/common-library/tests/test_errors_classes.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/48604dfdc5f4_new_projects_to_job_map.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_to_jobs.py
  packages/postgres-database/tests/test_models_projects_to_jobs.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_rpc_server.py
  packages/service-library/src/servicelib/common_headers.py
  packages/service-library/src/servicelib/rabbitmq/__init__.py
  packages/service-library/src/servicelib/rabbitmq/_errors.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/errors.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/projects.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_router.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/models/api_resources.py
  services/api-server/src/simcore_service_api_server/services_http/webserver.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/_with_db/test_api_user.py
  services/api-server/tests/unit/_with_db/test_product.py
  services/api-server/tests/unit/api_solvers/conftest.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_delete.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_logs.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_metadata.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_read.py
  services/api-server/tests/unit/api_studies/test_api_routers_studies_jobs_metadata.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies_jobs.py
  services/api-server/tests/unit/api_studies/test_api_studies_mocks.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api__study_workflows.py
  services/api-server/tests/unit/test_api_files.py
  services/api-server/tests/unit/test_api_health.py
  services/api-server/tests/unit/test_api_solver_jobs.py
  services/api-server/tests/unit/test_api_solvers.py
  services/api-server/tests/unit/test_api_wallets.py
  services/api-server/tests/unit/test_credits.py
  services/api-server/tests/unit/test_models_api_resources.py
  services/api-server/tests/unit/test_services_directorv2.py
  services/api-server/tests/unit/test_services_rabbitmq.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest_schemas.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rpc.py
  services/web/server/src/simcore_service_webserver/projects/_jobs_repository.py
  services/web/server/src/simcore_service_webserver/projects/_jobs_service.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/tests/unit/with_dbs/02/test_projects_rpc.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_handlers.py
Labels: a:webserver, a:database, a:apiserver

#7467 🎨 [Frontend] Enh: Expose access rights when Sharing Study
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/data/Roles.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/SharedResourceListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MemberListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/editor/AnnotationNoteCreator.js
  services/static-webserver/client/source/class/osparc/filter/MFilterable.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsService.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsTag.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsWorkspace.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/share/PublishTemplate.js
  services/static-webserver/client/source/class/osparc/study/SaveAsTemplate.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItemWithMenu.js
  services/static-webserver/client/source/class/osparc/ui/list/MemberListItem.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7431 ✨ web-api: new `share_project` operation (dev) and updates notifications-library
  api/specs/web-server/_projects_access_rights.py
  api/specs/web-server/openapi.py
  packages/models-library/src/models_library/access_rights.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_access_rights.py
  packages/notifications-library/src/notifications_library/_models.py
  packages/notifications-library/src/notifications_library/_payments_db.py
  packages/notifications-library/src/notifications_library/_render.py
  packages/notifications-library/src/notifications_library/_repository.py
  packages/notifications-library/src/notifications_library/_templates.py
  packages/notifications-library/tests/email/test_email_events.py
  packages/notifications-library/tests/test__render.py
  packages/notifications-library/tests/with_db/test__repository.py
  packages/notifications-library/tests/with_db/test__templates_consolidation.py
  services/web/server/VERSION
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/ci.txt
  services/web/server/requirements/dev.txt
  services/web/server/requirements/prod.txt
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/login/_confirmation_service.py
  services/web/server/src/simcore_service_webserver/login/_confirmation_web.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/change.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/registration.py
  services/web/server/src/simcore_service_webserver/login/login_web.py
  services/web/server/src/simcore_service_webserver/projects/_controller/access_rights_rest.py
  services/web/server/src/simcore_service_webserver/projects/_groups_service.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_groups_handlers.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_confirmation_service.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
Labels: a:webserver, a:notifications-library, 🤖-automerge

#7470 🐛 [Frontend] Bugfixes: Long Running Task
  services/static-webserver/client/source/class/osparc/FlashMessenger.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonTaskPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonTaskPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/PollTask.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/file/TreeFolderView.js
  services/static-webserver/client/source/class/osparc/store/PollTasks.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/task/TaskUI.js
Labels: bug, a:frontend, 🤖-automerge

#7474 🐛Webserver: duplication of studies, ensure message does not contain progress
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
Labels: a:webserver

#7472 🐛Dask-sidecar: set 1 hour timeout when waiting for container logs
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
Labels: bug, t:maintenance, a:dask-service

#7475 ♻️🚨 Improve DB query `listing_projects` performance (🗃️)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/cf8f743fd0b7_add_indexes.py
  packages/postgres-database/src/simcore_postgres_database/models/project_to_groups.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_to_folders.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_to_products.py
  packages/postgres-database/src/simcore_postgres_database/models/workspaces_access_rights.py
  services/storage/src/simcore_service_storage/modules/db/access_layer.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_trash_service.py
  services/web/server/tests/unit/isolated/test_projects__db_utils.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__list_projects_full_search.py
Labels: a:webserver, t:maintenance

#7479 🎨Monitoring script: allow to terminate non-billable clusters
  scripts/maintenance/computational-clusters/autoscaled_monitor/cli.py
Labels: t:maintenance

#7473 ✨ Maintenance: Improves troubleshooting dump message used to log 5XX errors
  packages/common-library/src/common_library/json_serialization.py
  packages/common-library/tests/test_json_serialization.py
  packages/service-library/src/servicelib/logging_errors.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/src/simcore_service_webserver/users/exceptions.py
Labels: a:webserver, t:maintenance, a:models-library, 🤖-automerge

#7455 🎨 Feature: on share project email
  packages/notifications-library/src/notifications_library/_email_render.py
  packages/notifications-library/src/notifications_library/_models.py
  packages/notifications-library/src/notifications_library/_repository.py
  packages/notifications-library/src/notifications_library/templates/on_change_email.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_change_email.email.content.txt
  packages/notifications-library/src/notifications_library/templates/on_new_code.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_new_code.email.content.txt
  packages/notifications-library/src/notifications_library/templates/on_new_invitation.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_new_invitation.email.content.txt
  packages/notifications-library/src/notifications_library/templates/on_payed.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_payed.email.content.txt
  packages/notifications-library/src/notifications_library/templates/on_registered.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_registered.email.content.txt
  packages/notifications-library/src/notifications_library/templates/on_reset_password.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_reset_password.email.content.txt
  packages/notifications-library/src/notifications_library/templates/on_share_project.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_share_project.email.content.txt
  packages/notifications-library/src/notifications_library/templates/on_share_project.email.subject.txt
  packages/notifications-library/src/notifications_library/templates/on_unregister.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_unregister.email.content.txt
  packages/notifications-library/tests/conftest.py
  packages/notifications-library/tests/email/test_email_events.py
  packages/notifications-library/tests/test__templates.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/tests/unit/isolated/products/test_products_model.py
Labels: t:enhancement, a:frontend, a:notifications-library, 🤖-automerge

#7484 🐛 [Frontend] Fixes: delete(d) Workspaces
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsImage.js
  services/static-webserver/client/source/class/osparc/store/Workspaces.js
  services/static-webserver/client/source/class/osparc/ui/basic/PoweredByOsparc.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7487 🎨 [Frontend] Enh service calls: avoid request deduplication
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7483 🎨 catalog: lifespan managers for fastapi apps
  packages/pytest-simcore/src/pytest_simcore/helpers/logging_tools.py
  packages/service-library/src/servicelib/aiohttp/db_asyncpg_engine.py
  packages/service-library/src/servicelib/db_async_engine.py
  packages/service-library/src/servicelib/db_asyncpg_utils.py
  packages/service-library/src/servicelib/fastapi/db_asyncpg_engine.py
  packages/service-library/src/servicelib/fastapi/lifespan_utils.py
  packages/service-library/src/servicelib/fastapi/postgres_lifespan.py
  packages/service-library/tests/fastapi/test_lifespan_utils.py
  packages/service-library/tests/fastapi/test_postgres_lifespan.py
  scripts/maintenance/requirements.txt
  services/catalog/src/simcore_service_catalog/api/rpc/routes.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/db/events.py
  services/catalog/src/simcore_service_catalog/services/director.py
  services/catalog/src/simcore_service_catalog/services/function_services.py
  services/catalog/src/simcore_service_catalog/services/rabbitmq.py
  services/catalog/tests/unit/conftest.py
  services/catalog/tests/unit/test_services_director.py
  services/catalog/tests/unit/test_services_manifest.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
  services/director-v2/src/simcore_service_director_v2/modules/db/_asyncpg.py
Labels: a:services-library, t:maintenance

#7490 🎨 state of `webserverDevFeaturesEnabled` flag is passed in statics for the front-end
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/tests/unit/isolated/test_application_settings.py
Labels: a:webserver

#7494 🐛 Dont freeze fields in `ApiServerOutputSchema`
  services/api-server/src/simcore_service_api_server/models/schemas/_base.py
Labels: a:apiserver

#7495 ✨ [Frontend] Feature: multi download
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/store/Data.js
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
  services/static-webserver/client/source/class/osparc/task/ExportData.js
  services/static-webserver/client/source/class/osparc/task/TaskUI.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
Labels: t:enhancement, a:frontend

#7497 ♻️ making `docker-api-proxy` buildable on arm
  services/docker-api-proxy/Dockerfile
  services/docker-api-proxy/docker/entrypoint.sh
Labels: t:maintenance, 🤖-automerge

#7498 ♻️ export data feature enhancements
  services/storage/src/simcore_service_storage/exceptions/errors.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/utils/simcore_s3_dsm_utils.py
  services/storage/tests/unit/test_rpc_handlers_simcore_s3.py
  services/storage/tests/unit/test_simcore_s3_dsm.py
  services/storage/tests/unit/test_simcore_s3_dsm_utils.py
Labels: a:storage, 🤖-automerge

#7488 🐛🎨 [Frontend] Handle missing services
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/MainPageHandler.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7503 🐛 Fix a typo in Celery's cpu-bound queue name
  services/docker-compose.yml
Labels: 🤖-automerge

#7501 🐛 Fix abort task test
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_async_jobs.py
Labels: a:storage

#7500 🎨E2E: playwright improvements
  packages/pytest-simcore/pyproject.toml
  packages/pytest-simcore/src/pytest_simcore/helpers/logging_tools.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  packages/pytest-simcore/tests/conftest.py
  packages/pytest-simcore/tests/test_robust_websocket.py
  packages/pytest-simcore/uv.lock
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/sim4life/test_template.py
  tests/e2e-playwright/tests/sleepers/test_sleepers.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: e2e

#7511 🎨 E2E: upgrade timings
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Labels: t:maintenance, e2e

#7496 ♻️ lifespans cleanup
  packages/service-library/src/servicelib/fastapi/docker.py
  packages/service-library/src/servicelib/fastapi/lifespan_utils.py
  packages/service-library/src/servicelib/fastapi/postgres_lifespan.py
  packages/service-library/src/servicelib/fastapi/prometheus_instrumentation.py
  packages/service-library/tests/fastapi/test_lifespan_utils.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/repository/events.py
  services/docker-api-proxy/tests/integration/conftest.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/routes.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/events.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/catalog/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/catalog/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/deferred_manager.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v0/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v0/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_public_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/rabbitmq.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/redis.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_setup.py
  services/dynamic-scheduler/tests/conftest.py
Labels: t:maintenance, 🤖-automerge

#7512 🎨E2E: fixed computation of timeouts
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Labels: t:maintenance, e2e

#7504 🐛 [Frontend] Fix: Do not list deprecated service versions
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/store/Services.js
Labels: bug, a:frontend, 🤖-automerge

#7513 ✨Maintenance: added first draft of copilot instructions
  .github/copilot-instructions.md
  docs/env-vars.md
Labels: t:maintenance

#7517 🐛🎨 [Frontend] Enh: Comments aesthetics
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/editor/AnnotationNoteCreator.js
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Labels: t:enhancement, bug, a:frontend, 🤖-automerge

#7530 ♻️ Remove listing of programs
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
Labels: t:maintenance

#7535 🐛 fix OAS test
  services/director-v2/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: bug, a:api

#7533 [e2e] Fix TIP test
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: e2e

#7534 ✨ web-server RPC: exposes `list_my_projects_marked_as_jobs`
  packages/models-library/src/models_library/rpc/webserver/projects.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/projects.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rpc.py
  services/web/server/src/simcore_service_webserver/projects/_jobs_repository.py
  services/web/server/src/simcore_service_webserver/projects/_jobs_service.py
  services/web/server/src/simcore_service_webserver/projects/models.py
  services/web/server/tests/unit/with_dbs/02/test_projects__jobs_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_rpc.py
Labels: a:webserver, a:services-library

#7531 ✨ [Frontend] Template type: Hypertools
  packages/models-library/src/models_library/api_schemas_webserver/projects_ui.py
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/StudyUI.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/share/ShareTemplateWith.js
  services/static-webserver/client/source/class/osparc/study/SaveAsTemplate.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: t:enhancement, a:frontend

#7541 ♻️ Use catalog rpc client in api-server
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_calls_capture_parameters.py
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/_service.py
  services/api-server/src/simcore_service_api_server/_service_job.py
  services/api-server/src/simcore_service_api_server/_service_programs.py
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/_constants.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
  services/api-server/src/simcore_service_api_server/models/schemas/programs.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/services_http/catalog.py
  services/api-server/src/simcore_service_api_server/services_http/rabbitmq.py
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
  services/api-server/tests/mocks/create_program_job_success.json
  services/api-server/tests/unit/_with_db/test_product.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_delete.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_metadata.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_read.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_programs.py
  services/api-server/tests/unit/test_api_solvers.py
  services/api-server/tests/unit/test_services_catalog.py
Labels: a:apiserver

#7549 🐛 [Frontend] Disable Autocompletion
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/filter/TextFilter.js
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: bug, a:frontend, 🤖-automerge

#7547 🎨 Add Reusable Lifespan Contexts for RabbitMQ and Redis in `servicelib.fastapi`
  packages/service-library/src/servicelib/fastapi/lifespan_utils.py
  packages/service-library/src/servicelib/fastapi/postgres_lifespan.py
  packages/service-library/src/servicelib/fastapi/rabbitmq.py
  packages/service-library/src/servicelib/fastapi/rabbitmq_lifespan.py
  packages/service-library/src/servicelib/fastapi/redis_lifespan.py
  packages/service-library/src/servicelib/rabbitmq/__init__.py
  packages/service-library/src/servicelib/rabbitmq/_client_rpc.py
  packages/service-library/tests/fastapi/test_lifespan_utils.py
  packages/service-library/tests/fastapi/test_rabbitmq_lifespan.py
  packages/service-library/tests/fastapi/test_redis_lifespan.py
  packages/settings-library/src/settings_library/rabbit.py
  packages/settings-library/src/settings_library/redis.py
Labels: a:services-library, t:maintenance

#7545 🎨 [Frontend] More Plus Menu
  services/static-webserver/client/source/class/osparc/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/admin/Maintenance.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/TemplatesList.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/store/Templates.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/resource/osparc/ui_config.json
Labels: t:enhancement, a:frontend, 🤖-automerge

#7551 🐛 [Frontend] Do not reload Studies when loading Tags
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
  services/static-webserver/client/source/class/osparc/info/StudyMedium.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/store/Tags.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: bug, a:frontend, 🤖-automerge

#7552 🐛 [Frontend] Fix TIP's New Plans
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: bug, a:frontend

#7538 🎨 Store and retrieve `task_name` when listing Celery tasks
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/async_jobs.py
  services/storage/src/simcore_service_storage/api/_worker_tasks/_simcore_s3.py
  services/storage/src/simcore_service_storage/api/rest/_files.py
  services/storage/src/simcore_service_storage/api/rpc/_async_jobs.py
  services/storage/src/simcore_service_storage/api/rpc/_paths.py
  services/storage/src/simcore_service_storage/api/rpc/_simcore_s3.py
  services/storage/src/simcore_service_storage/modules/celery/backends/_redis.py
  services/storage/src/simcore_service_storage/modules/celery/client.py
  services/storage/src/simcore_service_storage/modules/celery/models.py
  services/storage/src/simcore_service_storage/modules/celery/worker.py
  services/storage/tests/unit/test_async_jobs.py
  services/storage/tests/unit/test_modules_celery.py
  services/storage/tests/unit/test_rpc_handlers_simcore_s3.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
  services/web/server/tests/unit/with_dbs/01/storage/test_storage.py
Labels: a:storage, 🤖-automerge

#7554 ✨ [Frontend] Persistent Export Data
  services/static-webserver/client/source/class/osparc/data/PollTask.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/store/PollTasks.js
  services/static-webserver/client/source/class/osparc/task/ExportData.js
  services/static-webserver/client/source/class/osparc/ui/window/Progress.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7555 🐛 Add missing `AsyncJob`'s name
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_interfaces_async_jobs.py
Labels: bug, a:services-library

#7537 ✨ Adds filtering for Service Listing in Catalog's RPC API
  .coveragerc
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/models-library/src/models_library/function_services_catalog/_key_labels.py
  packages/models-library/src/models_library/rpc_filters.py
  packages/models-library/src/models_library/services_constants.py
  packages/models-library/src/models_library/services_regex.py
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  packages/service-integration/src/service_integration/osparc_config.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/catalog/src/simcore_service_catalog/models/services_db.py
  services/catalog/src/simcore_service_catalog/repository/_services_sql.py
  services/catalog/src/simcore_service_catalog/repository/services.py
  services/catalog/src/simcore_service_catalog/service/catalog_services.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
  services/catalog/tests/unit/with_dbs/test_repositories.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_catalog.py
Labels: a:services-library, a:catalog

#7508 🎨 replace project_id and node_id with appropriate labels when exporting
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/utils/simcore_s3_dsm_utils.py
  services/storage/tests/unit/test_simcore_s3_dsm_utils.py
Labels: a:storage, 🤖-automerge

#7559 🐛 [Frontend] Fix: Service catalog listing
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
Labels: bug, a:frontend, 🤖-automerge

#7544 ✨ task manager web-api listing (🗃️)
  api/specs/web-server/_computations.py
  packages/models-library/src/models_library/api_schemas_directorv2/__init__.py
  packages/models-library/src/models_library/api_schemas_directorv2/comp_runs.py
  packages/models-library/src/models_library/api_schemas_webserver/computations.py
  packages/models-library/src/models_library/projects_state.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/f65f7786cd4b_add_indexes_to_comp_tables.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_runs.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/director_v2/__init__.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/director_v2/computations.py
  services/director-v2/src/simcore_service_director_v2/api/rpc/__init__.py
  services/director-v2/src/simcore_service_director_v2/api/rpc/_computations.py
  services/director-v2/src/simcore_service_director_v2/api/rpc/routes.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_manager.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/rabbitmq.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_rpc_computations.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_db_repositories_comp_runs.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director_v2/_computations_service.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/__init__.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/computations_rest.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/rest.py
  services/web/server/src/simcore_service_webserver/director_v2/_director_v2_abc_default_service.py
  services/web/server/src/simcore_service_webserver/director_v2/_director_v2_abc_service.py
  services/web/server/src/simcore_service_webserver/director_v2/_director_v2_service.py
  services/web/server/src/simcore_service_webserver/director_v2/director_v2_service.py
  services/web/server/src/simcore_service_webserver/director_v2/plugin.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/with_dbs/01/conftest.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
Labels: a:webserver, a:director-v2

#7085 🔒️ Enhance security of API keys 🗃️
  api/specs/web-server/_auth_api_keys.py
  packages/models-library/src/models_library/rpc/webserver/auth/api_keys.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/742123f0933a_hash_exising_api_secret_data.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/b0c988e3f348_add_index_to_api_key_column.py
  packages/postgres-database/src/simcore_postgres_database/models/api_keys.py
  packages/postgres-database/tests/test_models_api_keys.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/auth/api_keys.py
  services/api-server/src/simcore_service_api_server/db/repositories/api_keys.py
  services/api-server/tests/unit/_with_db/conftest.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth_rpc.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/substitutions.py
  services/director-v2/tests/conftest.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller/__init__.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rest.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rest_exceptions.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rpc.py
  services/web/server/src/simcore_service_webserver/api_keys/_repository.py
  services/web/server/src/simcore_service_webserver/api_keys/_service.py
  services/web/server/src/simcore_service_webserver/api_keys/plugin.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys_rpc.py
Labels: a:webserver, t:maintenance, security, a:director-v2, a:apiserver

#7485 ✨Computational clusters: connect autoscaling to RabbitMQ
  .github/copilot-instructions.md
  packages/models-library/src/models_library/clusters.py
  packages/pytest-simcore/src/pytest_simcore/helpers/monkeypatch_envs.py
  packages/service-library/tests/fastapi/test_rabbitmq_lifespan.py
  packages/settings-library/src/settings_library/rabbit.py
  services/autoscaling/tests/unit/test_modules_dask.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/unit/conftest.py
  services/clusters-keeper/tests/unit/test_modules_dask.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
  services/docker-compose.yml
Labels: a:clusters-keeper, computational clusters

#7561 ⬆️ Maintenance: Upgrade UV to 0.6.x
  .github/workflows/ci-pact-master.yml
  .github/workflows/ci-testing-deploy.yml
  .github/workflows/ci-testing-pull-request.yml
  packages/postgres-database/docker/Dockerfile
  packages/postgres-database/scripts/erd/Dockerfile
  packages/service-integration/Dockerfile
  requirements/tools/Dockerfile
  scripts/erd/Dockerfile
  scripts/maintenance/migrate_project/Dockerfile
  scripts/openapi/oas_resolver/Dockerfile
  scripts/pydeps-docker/Dockerfile
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Labels: t:maintenance

#7567 🎨 [Frontend] Delete export-data task after downloading artifacts
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/task/ExportData.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7570 🎨 [Frontend] Hypertools in menu
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/resource/osparc/ui_config.json
Labels: t:enhancement, a:frontend, 🤖-automerge

#7404 ♻️SQLAlchemy migration: simcore-sdk
  packages/postgres-database/src/simcore_postgres_database/utils_user_preferences.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_utils_groups_extra_properties.py
  packages/postgres-database/tests/test_utils_user_preferences.py
  packages/service-library/src/servicelib/db_async_engine.py
  packages/service-library/src/servicelib/db_asyncpg_utils.py
  packages/simcore-sdk/requirements/_base.in
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/dbmanager.py
  services/api-server/src/simcore_service_api_server/api/dependencies/database.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/core/events.py
  services/api-server/src/simcore_service_api_server/db/events.py
  services/api-server/src/simcore_service_api_server/services_http/solver_job_outputs.py
  services/api-server/tests/unit/conftest.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/_helpers.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_osparc_variables.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/external_dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/postgres.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/database.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_db.py
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_rest_containers.py
  services/dynamic-sidecar/tests/unit/test_api_rest_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_rest_health.py
  services/dynamic-sidecar/tests/unit/test_api_rpc__disk_usage.py
  services/dynamic-sidecar/tests/unit/test_core_docker_utils.py
  services/dynamic-sidecar/tests/unit/test_core_registry.py
  services/dynamic-sidecar/tests/unit/test_modules_notifier.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_event_filter.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_manager.py
  services/storage/src/simcore_service_storage/modules/db/__init__.py
  services/web/server/src/simcore_service_webserver/users/_preferences_repository.py
Labels: a:simcore-sdk

#7572 ⬆️Maintenance: unblock boto3 🚨🚨🚨🚨
  ci/helpers/requirements/requirements.txt
  packages/aws-library/requirements/_base.txt
  packages/aws-library/requirements/_test.txt
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/requirements/_test.txt
  requirements/constraints.txt
  services/agent/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_test.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/docker-compose-ops-ci.yml
  services/docker-compose-ops.yml
  services/dynamic-sidecar/requirements/_test.txt
  services/efs-guardian/requirements/_base.txt
  services/efs-guardian/requirements/_test.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: t:maintenance, 🤖-automerge

#7569 🎨 Replaces built-in JSON serialization with common_library utilities
  .github/copilot-instructions.md
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  packages/models-library/src/models_library/function_services_catalog/_settings.py
  packages/models-library/src/models_library/service_settings_labels.py
  packages/models-library/src/models_library/utils/change_case.py
  packages/models-library/src/models_library/utils/labels_annotations.py
  packages/models-library/src/models_library/utils/nodes.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/service-integration/src/service_integration/cli/_config.py
  packages/service-integration/src/service_integration/pytest_plugin/docker_integration.py
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/rest_responses.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/dbmanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/serialization_v2.py
  packages/simcore-sdk/tests/unit/conftest.py
  services/api-server/src/simcore_service_api_server/models/_utils_pydantic.py
  services/autoscaling/src/simcore_service_autoscaling/utils/redis.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_ec2.py
  services/catalog/src/simcore_service_catalog/clients/director.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/tests/unit/test_tasks.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects_networks.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/registry_proxy.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_index.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_service.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/cli.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/storage/src/simcore_service_storage/utils/simcore_s3_dsm_utils.py
  services/web/server/src/simcore_service_webserver/db_listener/_db_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/login/_preregistration_service.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/src/simcore_service_webserver/users/_notifications_rest.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/unit/isolated/test_utils.py
Labels: t:maintenance, 🤖-automerge

#7571 🎨 [Frontend] Enh: Converstations
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/editor/AnnotationNoteCreator.js
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
  services/static-webserver/client/source/class/osparc/info/Conversations.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTableModel.js
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
  services/static-webserver/client/source/translation/en.po
Labels: t:enhancement, a:frontend, 🤖-automerge

#7577 🎨 Extends `list_projects_marked_as_jobs` in the webserver's rpc API
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/src/models_library/rpc/webserver/projects.py
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_rpc_server.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/projects.py
  services/api-server/tests/unit/_with_db/test_product.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_delete.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_metadata.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_read.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_programs.py
  services/api-server/tests/unit/test_api_solvers.py
  services/api-server/tests/unit/test_services_catalog.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rpc.py
  services/web/server/src/simcore_service_webserver/projects/_jobs_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/projects/models.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__services.py
  services/web/server/tests/unit/with_dbs/02/test_projects__jobs_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_rpc.py
Labels: a:webserver, 🤖-automerge

#7587 🐛lock botocore<1.36.0 until CEPH S3 is updated to be compatible with AWS S3
  packages/aws-library/src/aws_library/s3/__init__.py
  packages/aws-library/src/aws_library/s3/_client.py
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/constraints.txt
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/constraints.txt
Labels: t:maintenance

#7579 🎨E2E: when service legacy there is no need to wait for the running events
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Labels: t:maintenance, e2e

#7597 🎨Autoscaling in computations: send log/progress messages to rabbitMQ
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/utils.py
  packages/dask-task-models-library/src/dask_task_models_library/models.py
  packages/dask-task-models-library/tests/container_tasks/test_utils.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_base.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_computational.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_mode_dynamic.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_buffer_machine_core.py
  services/autoscaling/tests/unit/test_modules_rabbitmq.py
  services/autoscaling/tests/unit/test_utils_auto_scaling_core.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/models/dask_subsystem.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
Labels: a:autoscaling, computational clusters

#7602 🎨E2E: fixing fail fast when websocket messages missing, fixing missing yield
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Labels: e2e

#7603 🎨 E2E: Handle success value to True when no messages came in
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Labels: t:maintenance, e2e

#7580 🐛 fixed issue where `notifications` service would not start in development mode
  Makefile
  services/docker-compose-build.yml
  services/docker-compose.local.yml
  services/dynamic-scheduler/Dockerfile
  services/notifications/Dockerfile
  services/notifications/docker/boot.sh
Labels: a:dynamic-scheduler, 🤖-automerge, a:notifications

#7562 🎨 Program jobs: Pass metadata and return display version
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/_service_job.py
  services/api-server/src/simcore_service_api_server/api/routes/_constants.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/programs.py
  services/api-server/src/simcore_service_api_server/services_http/solver_job_models_converters.py
  services/api-server/tests/unit/test_api_programs.py
  services/api-server/tests/unit/test_services_solver_job_models_converters.py
Labels: a:apiserver

#7604 ♻️CI: Upgraded setup-uv to v6, try fix ARM build, modularization of CI file
  .github/workflows/_reusable-build-images.yml
  .github/workflows/ci-arm-build.yml
  .github/workflows/ci-pact-master.yml
  .github/workflows/ci-testing-deploy.yml
  .github/workflows/ci-testing-pull-request.yml
Labels: t:maintenance

#7576 ♻️Director v2: remove aiopg usage
  .github/copilot-instructions.md
  packages/common-library/src/common_library/async_tools.py
  packages/common-library/tests/test_async_tools.py
  packages/postgres-database/src/simcore_postgres_database/_protocols.py
  packages/postgres-database/src/simcore_postgres_database/utils_aiosqlalchemy.py
  packages/postgres-database/src/simcore_postgres_database/utils_groups_extra_properties.py
  packages/postgres-database/src/simcore_postgres_database/utils_models.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects_metadata.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_utils_groups_extra_properties.py
  packages/postgres-database/tests/test_utils_projects_metadata.py
  packages/postgres-database/tests/test_utils_projects_nodes.py
  packages/postgres-database/tests/test_utils_users.py
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/src/simcore_service_director_v2/api/dependencies/database.py
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_manager.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_publisher.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/db/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/db/_asyncpg.py
  services/director-v2/src/simcore_service_director_v2/modules/db/events.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/_base.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_pipelines.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/groups_extra_properties.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects_metadata.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects_networks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/services_environments.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/user_preferences_frontend.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/users.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_osparc_variables.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_db_repositories_comp_runs.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_manager.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_worker.py
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
Labels: t:maintenance

#7606 🐛⚗️ARM CI: build fail in CI on ARM
  .github/workflows/ci-arm-build.yml
  packages/service-integration/Dockerfile
Labels: t:maintenance

#7607 ⚗️CI: Improvements and addition ARM64 fixes
  .github/workflows/_reusable-build-images.yml
  .github/workflows/ci-testing-deploy.yml
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/notifications/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Labels: t:maintenance

#7575 ✨🎨 Remove all http catalog client from api-server and introduce listing of programs endpoint
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_catalog.py
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/_service_programs.py
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
  services/api-server/src/simcore_service_api_server/api/routes/health.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/models/schemas/programs.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/services_http/catalog.py
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
  services/api-server/tests/unit/api_solvers/conftest.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers.py
  services/api-server/tests/unit/test_api_health.py
  services/api-server/tests/unit/test_api_programs.py
  services/api-server/tests/unit/test_services_rabbitmq.py
Labels: a:apiserver

#7610 🐛E2E: TIP test fixes
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: t:maintenance, e2e

#7609 ✅ Fixes flaky: test_guest_user_is_not_garbage_collected
  .github/PULL_REQUEST_TEMPLATE.md
  docs/devops-checklist.md
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
Labels: t:maintenance, 🤖-automerge

#7566 ✨ api-server: listing of all solver jobs
  packages/models-library/src/models_library/rpc/webserver/projects.py
  packages/models-library/src/models_library/utils/common_validators.py
  packages/models-library/tests/test_utils_common_validators.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_rpc_server.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/projects.py
  services/api-server/docs/api-server.drawio.svg
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/exceptions/custom_errors.py
  services/api-server/src/simcore_service_api_server/models/api_resources.py
  services/api-server/src/simcore_service_api_server/models/schemas/_base.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/services_http/solver_job_models_converters.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/_with_db/conftest.py
  services/api-server/tests/unit/_with_db/test_product.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_read.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_solver_jobs.py
  services/api-server/tests/unit/test_api_solvers.py
  services/api-server/tests/unit/test_models_api_resources.py
  services/api-server/tests/unit/test_service_solvers.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rpc.py
  services/web/server/src/simcore_service_webserver/projects/_groups_service.py
  services/web/server/src/simcore_service_webserver/projects/_jobs_repository.py
  services/web/server/src/simcore_service_webserver/projects/_jobs_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects__jobs_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_rpc.py
Labels: a:webserver, a:apiserver, 🤖-automerge

#7586 🎨 `docker-api-proxy` always requires authentication (⚠️devops)
  .env-devel
  packages/pytest-simcore/src/pytest_simcore/docker_api_proxy.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  packages/service-library/src/servicelib/fastapi/docker.py
  packages/settings-library/src/settings_library/docker_api_proxy.py
  services/docker-api-proxy/Dockerfile
  services/docker-api-proxy/docker/Caddyfile
  services/docker-api-proxy/docker/boot.sh
  services/docker-api-proxy/tests/integration/autentication-proxy-docker-compose.yaml
  services/docker-api-proxy/tests/integration/test_docker_api_proxy.py
  services/docker-api-proxy/tests/integration/test_docker_api_proxy_autenticated.py
  services/docker-compose.yml
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/cli.py
  tests/e2e/Makefile
Labels: 🤖-automerge

#7591 ✨ introduce conversations (🗃️)
  api/specs/web-server/_projects_comments.py
  api/specs/web-server/_projects_conversations.py
  api/specs/web-server/openapi.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_conversations.py
  packages/models-library/src/models_library/conversations.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/0d52976dc616_add_conversations.py
  packages/postgres-database/src/simcore_postgres_database/models/conversation_messages.py
  packages/postgres-database/src/simcore_postgres_database/models/conversations.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/conversations/__init__.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_repository.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_service.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_repository.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_service.py
  services/web/server/src/simcore_service_webserver/conversations/conversations_service.py
  services/web/server/src/simcore_service_webserver/conversations/errors.py
  services/web/server/src/simcore_service_webserver/conversations/plugin.py
  services/web/server/src/simcore_service_webserver/projects/_access_rights_service.py
  services/web/server/src/simcore_service_webserver/projects/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/projects/_controller/conversations_rest.py
  services/web/server/src/simcore_service_webserver/projects/_conversations_service.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/tests/unit/isolated/test_conversations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_conversations_handlers.py
Labels: a:webserver, 🤖-automerge

#7616 🐛 Add correct registry when collecting api-server log queue prometheus metrics
  services/api-server/src/simcore_service_api_server/core/_prometheus_instrumentation.py
  services/api-server/src/simcore_service_api_server/services_http/log_streaming.py
Labels: a:apiserver
