Repository ITISFoundation/osparc-simcore, pull requests merged in 2025-02, with the labels that each got.

#7128 🎨 Minor: ooil prints warning when one subfolder (of potentially many) doesn't contain `metadata.yml`
  packages/service-integration/README.md
  packages/service-integration/src/service_integration/cli/_compose_spec.py
Labels: t:enhancement, idea, a:ooil

#7146 🎨 [Frontend] Licensed items: Adapt to new model and backend's catalog
  services/static-webserver/client/source/class/osparc/desktop/credits/CheckoutsTable.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CheckoutsTableModel.js
  services/static-webserver/client/source/class/osparc/desktop/credits/PurchasesTable.js
  services/static-webserver/client/source/class/osparc/desktop/credits/PurchasesTableModel.js
  services/static-webserver/client/source/class/osparc/store/LicensedItems.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelListItem.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7155 🎨 [Frontend] Feature: Study icon
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonNew.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/MainPageHandler.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsServiceListItem.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/metadata/ClassifiersEditor.js
  services/static-webserver/client/source/class/osparc/metadata/QualityEditor.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/service/ServiceListItem.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/store/Study.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/resource/osparc/icons/MC.png
  services/static-webserver/client/source/resource/osparc/icons/PM.png
  services/static-webserver/client/source/resource/osparc/icons/TI.png
  services/static-webserver/client/source/resource/osparc/icons/diagram.png
  services/static-webserver/client/source/resource/osparc/icons/pMC.png
  services/static-webserver/client/source/resource/osparc/icons/pPM.png
  services/static-webserver/client/source/resource/osparc/icons/pTI.png
Labels: t:enhancement, a:frontend

#7149 ♻️ Adding lifespan support for FastAPI & migrated `dynamic-scheduler` to use it
  packages/service-library/requirements/_fastapi.in
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/src/servicelib/fastapi/lifespan_utils.py
  packages/service-library/src/servicelib/fastapi/profiler.py
  packages/service-library/src/servicelib/fastapi/prometheus_instrumentation.py
  packages/service-library/src/servicelib/fastapi/tracing.py
  packages/service-library/tests/fastapi/test_lifespan_utils.py
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/api-server/src/simcore_service_api_server/core/application.py
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/catalog/src/simcore_service_catalog/core/application.py
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/routes.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/routes.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/deferred_manager.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v0/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v0/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_public_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/_notifier.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/_socketio.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/rabbitmq.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/redis.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_setup.py
  services/dynamic-scheduler/tests/conftest.py
  services/dynamic-scheduler/tests/unit/api_rest/conftest.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__api.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__tracker.py
  services/dynamic-scheduler/tests/unit/test_services_director_v0.py
  services/dynamic-scheduler/tests/unit/test_services_rabbitmq.py
  services/dynamic-scheduler/tests/unit/test_services_redis.py
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
Labels: a:dynamic-scheduler, 🤖-automerge

#7165 🐛 Removed tracing lifespan which should be an initialize
  packages/service-library/src/servicelib/fastapi/tracing.py
  packages/service-library/tests/fastapi/test_tracing.py
  services/agent/src/simcore_service_agent/core/application.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director/src/simcore_service_director/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/efs-guardian/src/simcore_service_efs_guardian/core/application.py
  services/invitations/src/simcore_service_invitations/core/application.py
  services/payments/src/simcore_service_payments/core/application.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/application.py
Labels: t:maintenance, a:dynamic-scheduler, 🤖-automerge

#7140 ✨ Sync task that auto-registers items from VIP as licensed items in the system 🗃️ 🚨
  .env-devel
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_checkouts.py
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_purchases.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_checkouts.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_purchases.py
  packages/models-library/src/models_library/licensed_items.py
  packages/models-library/src/models_library/licenses.py
  packages/models-library/src/models_library/resource_tracker_licensed_items_purchases.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e71ea59858f4_add_uniqu_constraint_in_licensed_items.py
  packages/postgres-database/src/simcore_postgres_database/models/licensed_items.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  packages/service-library/src/servicelib/background_task.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/licensed_items_checkouts.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/licenses/licensed_items.py
  services/api-server/src/simcore_service_api_server/api/routes/licensed_items.py
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/src/simcore_service_api_server/main.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/test_licensed_items.py
  services/docker-compose.yml
  services/resource-usage-tracker/docker/boot.sh
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/licensed_items_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_checkouts_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_purchases_db.py
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/web/server/VERSION
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.in
  services/web/server/requirements/_test.txt
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/licenses/_common/models.py
  services/web/server/src/simcore_service_webserver/licenses/_itis_vip_models.py
  services/web/server/src/simcore_service_webserver/licenses/_itis_vip_service.py
  services/web/server/src/simcore_service_webserver/licenses/_itis_vip_settings.py
  services/web/server/src/simcore_service_webserver/licenses/_itis_vip_syncer_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_models.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_repository.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_rest.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_service.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
  services/web/server/src/simcore_service_webserver/licenses/plugin.py
  services/web/server/src/simcore_service_webserver/licenses/settings.py
  services/web/server/src/simcore_service_webserver/security/_authz_access_roles.py
  services/web/server/tests/unit/isolated/test_application_settings.py
  services/web/server/tests/unit/with_dbs/04/licenses/conftest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_itis_vip_models.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_itis_vip_service.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_repository.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_rest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
Labels: a:webserver, a:database

#7173 🎨 [Frontend] Enh: Merge ``Preferences`` into ``My Account``
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccountWindow.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
Labels: t:enhancement, a:frontend

#7169 🎨 [Frontend] Enh: Tags UX
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonLoadMore.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
Labels: t:enhancement, a:frontend

#7177 🐛 fixes failure due to nullable doi in licensed-items web-api response
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  packages/models-library/src/models_library/licenses.py
  packages/models-library/tests/test_licenses.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: a:webserver

#7164 ♻️ [Frontend] ViP Market: adapt to latest model
  services/static-webserver/client/source/class/osparc/store/LicensedItems.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelListItem.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Labels: a:frontend, t:maintenance

#7179 🎨 Enhances Iicence feature: new vendor phantoms and licensed-resource-data `id` (🚨)
  .env-devel
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  packages/models-library/src/models_library/licenses.py
  packages/models-library/tests/test_licenses.py
  services/docker-compose.yml
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/licenses/_itis_vip_models.py
  services/web/server/src/simcore_service_webserver/licenses/_itis_vip_settings.py
  services/web/server/src/simcore_service_webserver/licenses/_itis_vip_syncer_service.py
  services/web/server/src/simcore_service_webserver/licenses/plugin.py
  services/web/server/src/simcore_service_webserver/licenses/settings.py
Labels: a:webserver, a:models-library

#7181 ♻️ Refactors catalog's `update_service` operation
  .github/workflows/ci-testing-pull-request.yml
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/models-library/src/models_library/api_schemas_webserver/catalog.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  packages/models-library/src/models_library/services_access.py
  packages/models-library/src/models_library/services_base.py
  packages/models-library/src/models_library/services_metadata_editable.py
  packages/models-library/tests/test_licenses.py
  services/catalog/openapi.json
  services/catalog/src/simcore_service_catalog/api/rest/_services.py
  services/catalog/src/simcore_service_catalog/models/services_db.py
  services/catalog/tests/unit/with_dbs/test_api_rest_services__list.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/web/server/src/simcore_service_webserver/catalog/_api.py
  services/web/server/src/simcore_service_webserver/catalog/client.py
  services/web/server/src/simcore_service_webserver/exception_handling/_factory.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__pricing_plan.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__services.py
Labels: a:webserver, t:maintenance, a:catalog, a:models-library

#7183 🐛 Fix showing tags in usage overview
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/service_runs_db.py
Labels: bug, a:resource-usage-tracker

#7184 🐛 error handling vip models 🗃️
  packages/postgres-database/src/simcore_postgres_database/migration/versions/611f956aa3e3_licensed_items_checkout_purchase_email_.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_licensed_items_checkouts.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_licensed_items_purchases.py
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
Labels: bug

#7174 🎨 Services metadata has icon field and API can get/update it 🗃️
  packages/models-library/src/models_library/api_schemas_catalog/_base.py
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/models-library/src/models_library/services_base.py
  packages/models-library/src/models_library/services_metadata_editable.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/3fe27ff48f73_new_icon_table.py
  packages/postgres-database/src/simcore_postgres_database/models/services.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/catalog/VERSION
  services/catalog/openapi.json
  services/catalog/setup.cfg
  services/catalog/src/simcore_service_catalog/api/rest/_services.py
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/db/repositories/_services_sql.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/models/services_db.py
  services/catalog/src/simcore_service_catalog/services/compatibility.py
  services/catalog/src/simcore_service_catalog/services/services_api.py
  services/catalog/tests/unit/test_services_compatibility.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__services.py
Labels: a:webserver, a:database, a:catalog

#7182 🗑️ Retire webserver's project meta-modeling and version-control ⚠️🚨🗃️
  .env-devel
  api/specs/web-server/_metamodeling.py
  api/specs/web-server/_version_control.py
  api/specs/web-server/openapi.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/061607911a22_drop_projects_version_control.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_version_control.py
  packages/postgres-database/tests/projects/conftest.py
  packages/postgres-database/tests/projects/test_projects_version_control.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/director_v2/_abc.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_utils.py
  services/web/server/src/simcore_service_webserver/director_v2/_handlers.py
  services/web/server/src/simcore_service_webserver/meta_modeling/__init__.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_function_nodes.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_handlers.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_iterations.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_projects.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_results.py
  services/web/server/src/simcore_service_webserver/meta_modeling/_version_control.py
  services/web/server/src/simcore_service_webserver/meta_modeling/plugin.py
  services/web/server/src/simcore_service_webserver/version_control/__init__.py
  services/web/server/src/simcore_service_webserver/version_control/_core.py
  services/web/server/src/simcore_service_webserver/version_control/_handlers.py
  services/web/server/src/simcore_service_webserver/version_control/_handlers_base.py
  services/web/server/src/simcore_service_webserver/version_control/db.py
  services/web/server/src/simcore_service_webserver/version_control/errors.py
  services/web/server/src/simcore_service_webserver/version_control/models.py
  services/web/server/src/simcore_service_webserver/version_control/plugin.py
  services/web/server/src/simcore_service_webserver/version_control/vc_changes.py
  services/web/server/src/simcore_service_webserver/version_control/vc_tags.py
  services/web/server/tests/unit/isolated/test_application_settings.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_projects_permalinks.py
  services/web/server/tests/unit/with_dbs/03/invitations/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/conftest.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_function_nodes.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_iterations.py
  services/web/server/tests/unit/with_dbs/03/meta_modeling/test_meta_modeling_results.py
  services/web/server/tests/unit/with_dbs/03/test__openapi_specs.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
  services/web/server/tests/unit/with_dbs/03/test_socketio.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_core.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_handlers.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_tags.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/conftest.py
Labels: a:webserver, t:maintenance

#7205 🐛 fix migration
  packages/postgres-database/src/simcore_postgres_database/migration/versions/68777fdf9539_add_licensed_resources.py
Labels: a:database

#7204 ✨ web-api: exposes project's icon as an `ui` attribute
  api/specs/web-server/_catalog.py
  api/specs/web-server/_diagnostics.py
  api/specs/web-server/_folders.py
  api/specs/web-server/_projects.py
  api/specs/web-server/_projects_comments.py
  api/specs/web-server/_projects_folders.py
  api/specs/web-server/_projects_nodes.py
  api/specs/web-server/_projects_nodes_pricing_unit.py
  api/specs/web-server/_projects_wallet.py
  api/specs/web-server/_projects_workspaces.py
  api/specs/web-server/_resource_usage.py
  api/specs/web-server/_storage.py
  api/specs/web-server/openapi.py
  packages/models-library/src/models_library/api_schemas_webserver/_base.py
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/projects_access.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/src/models_library/projects_nodes_ui.py
  packages/models-library/src/models_library/projects_ui.py
  packages/models-library/tests/test_projects_nodes_ui.py
  packages/models-library/tests/test_projects_ui.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/api-server/src/simcore_service_api_server/services_http/solver_job_models_converters.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
  services/web/server/src/simcore_service_webserver/projects/_projects_db.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/models.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Labels: a:webserver, a:models-library

#7208 🐛 Mergify unwanted master branch reruns
  .github/mergify.yml
Labels: t:maintenance

#7051 🐛 retry pulling image layer when they timeout
  packages/models-library/src/models_library/progress_bar.py
  packages/service-library/src/servicelib/archiving_utils/_interface_7zip.py
  packages/service-library/src/servicelib/docker_utils.py
  packages/service-library/src/servicelib/fastapi/docker_utils.py
  packages/service-library/src/servicelib/progress_bar.py
  packages/service-library/tests/aiohttp/test_docker_utils.py
  packages/service-library/tests/fastapi/test_docker_utils.py
  packages/service-library/tests/test_progress_bar.py
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/aws_s3_cli.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/file_io_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/nodeports_v2.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/tests/integration/test_node_data_data_manager.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_aws_s3_cli.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_r_clone.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_file_io_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_manager.py
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
  services/web/server/tests/unit/isolated/notifications/test_rabbitmq_consumers.py
Labels: bug, a:services-library, t:maintenance, a:dynamic-sidecar, 🤖-automerge

#7206 🐛Storage: fix copying of file and ensure project lock release is always notified safely
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/client.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/client.py
  packages/service-library/src/servicelib/long_running_tasks/_constants.py
  packages/service-library/src/servicelib/long_running_tasks/_models.py
  packages/service-library/src/servicelib/redis/_project_lock.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks_client.py
  services/storage/src/simcore_service_storage/modules/s3.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_resource_manager.py
Labels: a:storage, a:webserver

#7209 ✨ [Frontend] Patch service icon
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/resource/osparc/icons/diagram.png
Labels: t:enhancement, a:frontend

#7070 ✨ adding `docker-api-proxy` service ⚠️
  .env-devel
  .github/workflows/ci-testing-deploy.yml
  Makefile
  ci/github/integration-testing/docker-api-proxy.bash
  packages/models-library/src/models_library/errors.py
  packages/pytest-simcore/src/pytest_simcore/docker_api_proxy.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  packages/service-library/src/servicelib/fastapi/docker.py
  packages/settings-library/src/settings_library/docker_api_proxy.py
  services/docker-api-proxy/Dockerfile
  services/docker-api-proxy/Makefile
  services/docker-api-proxy/docker/boot.sh
  services/docker-api-proxy/docker/entrypoint.sh
  services/docker-api-proxy/requirements/Makefile
  services/docker-api-proxy/requirements/_base.in
  services/docker-api-proxy/requirements/_base.txt
  services/docker-api-proxy/requirements/_test.in
  services/docker-api-proxy/requirements/_test.txt
  services/docker-api-proxy/requirements/_tools.in
  services/docker-api-proxy/requirements/_tools.txt
  services/docker-api-proxy/requirements/ci.txt
  services/docker-api-proxy/requirements/dev.txt
  services/docker-api-proxy/tests/integration/autentication-proxy-docker-compose.yaml
  services/docker-api-proxy/tests/integration/conftest.py
  services/docker-api-proxy/tests/integration/test_docker_api_proxy.py
  services/docker-api-proxy/tests/integration/test_docker_api_proxy_autenticated.py
  services/docker-compose-build.yml
  services/docker-compose-deploy.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/_health.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/cli.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/_setup.py
  services/dynamic-scheduler/tests/conftest.py
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__health.py
Labels: 🤖-automerge

#7213 🐛Storage: fix access to DatCore
  api/specs/web-server/_storage.py
  services/storage/src/simcore_service_storage/modules/datcore_adapter/datcore_adapter.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: a:storage

#7207 🎨 [Frontend] Hide Sim4Life->oSparc integration features
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerView.js
  services/static-webserver/client/source/resource/osparc/new_studies.json
Labels: t:enhancement, a:frontend

#7210 ♻️ refactors web-api project's `ui` schemas
  api/specs/web-server/_projects.py
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes_ui.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_ui.py
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/src/models_library/projects_nodes_layout.py
  packages/models-library/src/models_library/projects_nodes_ui.py
  packages/models-library/tests/test_projects_nodes_ui.py
  packages/models-library/tests/test_projects_ui.py
  services/api-server/src/simcore_service_api_server/models/domain/projects.py
  services/api-server/src/simcore_service_api_server/services_http/solver_job_models_converters.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/models.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
Labels: a:webserver, a:models-library

#7222 ♻️ Making `docker-api-network` internal
  services/docker-compose.yml
Labels: t:maintenance

#7217 ✨ product's ui config 🗃️
  api/specs/web-server/_products.py
  packages/models-library/src/models_library/api_schemas_webserver/product.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/78f24aaf3f78_new_products_ui_column.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/products/_api.py
  services/web/server/src/simcore_service_webserver/products/_db.py
  services/web/server/src/simcore_service_webserver/products/_handlers.py
  services/web/server/src/simcore_service_webserver/products/api.py
  services/web/server/src/simcore_service_webserver/products/errors.py
  services/web/server/src/simcore_service_webserver/security/_authz_access_roles.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_handlers.py
Labels: a:webserver, a:database

#7215 ♻️ VIP models introduce licensed versioning (🗃️)
  api/specs/web-server/_licensed_items.py
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_checkouts.py
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_purchases.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_checkouts.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_purchases.py
  packages/models-library/src/models_library/licenses.py
  packages/models-library/src/models_library/resource_tracker_licensed_items_purchases.py
  packages/models-library/tests/test_licenses.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/a53c3c153bc8_modify_licensed_items_resources_db.py
  packages/postgres-database/src/simcore_postgres_database/models/licensed_item_to_resource.py
  packages/postgres-database/src/simcore_postgres_database/models/licensed_items.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_licensed_items_checkouts.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_licensed_items_purchases.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/licensed_items_checkouts.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/licenses/licensed_items.py
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/api-server/src/simcore_service_api_server/services_rpc/resource_usage_tracker.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/licensed_items_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_checkouts_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_purchases_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/pricing_plans_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/utils.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_licensed_items_checkouts.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_licensed_items_purchases.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_licensed_items_checkouts_db.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/licenses/_itis_vip_syncer_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_models.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_rest.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_repository.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_rest.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_resources_repository.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_resources_service.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
  services/web/server/src/simcore_service_webserver/licenses/errors.py
  services/web/server/tests/unit/with_dbs/04/licenses/conftest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_itis_vip_service.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_purchases_rest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_repository.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_rest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_resources_repository.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
  tests/e2e/tests/title.test.js
Labels: a:webserver, a:apiserver, a:resource-usage-tracker

#7221 🎨 itis vip syncer: adds periodicity in config ⚠️🚨
  .env-devel
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/licenses/_itis_vip_syncer_service.py
  services/web/server/tests/unit/isolated/test_licenses_settings.py
Labels: a:webserver

#7212 🎨 [Frontend] ViP Market enhancements
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenter.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/BasePage.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/ui/basic/SVGImage.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelListItem.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/MarketWindow.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
  services/static-webserver/client/source/resource/osparc/market/AnimalWholeBody.svg
  services/static-webserver/client/source/resource/osparc/market/ComputationalPhantom.svg
  services/static-webserver/client/source/resource/osparc/market/HumanBodyRegion.svg
  services/static-webserver/client/source/resource/osparc/market/HumanWholeBody.svg
  services/static-webserver/client/source/resource/osparc/market/RentedModels.svg
Labels: t:enhancement, a:frontend

#7227 🎨 add `is_hidden_on_market` field for listing (🗃️)
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  packages/models-library/src/models_library/licenses.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e8ffc0c96336_add_is_hidden_on_market_field.py
  packages/postgres-database/src/simcore_postgres_database/models/licensed_items.py
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_repository.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_rest.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_service.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
Labels: a:webserver, a:apiserver

#7228 ♻️ Refactor `webserver` projects: drops request dependency on service layer functions
  .vscode/settings.template.json
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_delete.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_utils.py
  services/web/server/src/simcore_service_webserver/projects/_permalink_service.py
  services/web/server/src/simcore_service_webserver/projects/api.py
  services/web/server/src/simcore_service_webserver/projects/projects_permalink_service.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects_permalinks.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Labels: a:webserver, t:maintenance

#7230 🎨 [Frontend] ViP Market: Give access to purchased lower versions
  services/static-webserver/client/source/class/osparc/store/LicensedItems.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelListItem.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/MarketWindow.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Labels: t:enhancement, a:frontend

#7225 🎨 [Frontend] Enh: validate UI config
  services/static-webserver/client/source/class/osparc/store/Products.js
  services/static-webserver/client/source/resource/schemas/product-ui.json
Labels: t:enhancement, a:frontend

#7233 ♻️Storage: light refactoring to reduce noise
  packages/pytest-simcore/src/pytest_simcore/file_extra.py
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_assert_checks.py
  packages/pytest-simcore/src/pytest_simcore/helpers/storage_utils.py
  packages/pytest-simcore/src/pytest_simcore/helpers/storage_utils_file_meta_data.py
  packages/pytest-simcore/src/pytest_simcore/helpers/storage_utils_project.py
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_data_models.py
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_datcore_adapter.py
  packages/service-library/src/servicelib/fastapi/http_error.py
  services/storage/requirements/_base.in
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/storage/requirements/_tools.txt
  services/storage/tests/conftest.py
  services/storage/tests/fixtures/__init__.py
  services/storage/tests/helpers/__init__.py
  services/storage/tests/unit/test_handlers_files.py
  services/storage/tests/unit/test_handlers_locations.py
  services/storage/tests/unit/test_handlers_simcore_s3.py
  services/storage/tests/unit/test_utils_handlers.py
Labels: a:storage, t:maintenance

#7232 🐛 fix licensed items listing with hidden flag
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_repository.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_rest.py
Labels: bug, a:webserver

#7226 ✨ web-api: Empty bin of explicitly trashed projects
  api/specs/web-server/_trash.py
  packages/common-library/src/common_library/pagination_tools.py
  packages/common-library/tests/test_pagination_tools.py
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_trash_service.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/src/simcore_service_webserver/projects/projects_service.py
  services/web/server/src/simcore_service_webserver/trash/_rest.py
  services/web/server/src/simcore_service_webserver/trash/_service.py
  services/web/server/tests/unit/with_dbs/03/test_trash.py
Labels: a:webserver

#7186 ✨Streaming utils for zipping and reading/wiring to S3
  packages/aws-library/requirements/_base.txt
  packages/aws-library/src/aws_library/s3/_client.py
  packages/aws-library/tests/test_s3_client.py
  packages/models-library/src/models_library/bytes_iters.py
  packages/pytest-simcore/src/pytest_simcore/file_extra.py
  packages/pytest-simcore/src/pytest_simcore/helpers/comparing.py
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_service.py
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/src/servicelib/bytes_iters/__init__.py
  packages/service-library/src/servicelib/bytes_iters/_constants.py
  packages/service-library/src/servicelib/bytes_iters/_input.py
  packages/service-library/src/servicelib/bytes_iters/_models.py
  packages/service-library/src/servicelib/bytes_iters/_output.py
  packages/service-library/src/servicelib/bytes_iters/_stream_zip.py
  packages/service-library/src/servicelib/s3_utils.py
  packages/service-library/tests/archiving_utils/test_archiving_utils.py
  packages/service-library/tests/test_bytes_iters.py
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/_filemanager_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/tests/unit/test_storage_client.py
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/tests/integration/test_modules_long_running_tasks.py
  services/efs-guardian/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
  tests/swarm-deploy/requirements/_test.txt
Labels: a:services-library, a:aws-library

#7236 🎨 [Frontend] Enh ViP Market: Display bundled models in thumbnail list
  services/static-webserver/client/source/class/osparc/editor/ThumbnailSuggestions.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelListItem.js
Labels: t:enhancement, a:frontend

#7229 ♻️ Refactor `webserver` projects: rest exception handlers
  api/specs/web-server/_projects.py
  api/specs/web-server/_trash.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_comments_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_common/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_metadata_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_ports_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_projects_nodes_pricing_unit_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_states_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_tags_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_trash_rest.py
  services/web/server/src/simcore_service_webserver/projects/_trash_service.py
  services/web/server/src/simcore_service_webserver/projects/_wallets_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_workspaces_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_metadata_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
Labels: a:webserver, t:maintenance

#7238 🎨 [Frontend] Plus Button: Support ``myMostUsed`` Services
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/resource/osparc/ui_config.json
  services/static-webserver/client/source/resource/schemas/product-ui.json
Labels: t:enhancement, a:frontend

#7239 🎨 [Frontend] ViP Market: force accept Terms and Conditions
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/ui/markdown/MarkdownWindow.js
  services/static-webserver/client/source/class/osparc/ui/window/Dialog.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
Labels: t:enhancement, a:frontend

#7242 🎨 [Frontend] Restore standalone view
  services/static-webserver/client/source/class/osparc/NewRelease.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCreditsInput.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/store/LicensedItems.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
Labels: t:enhancement, a:frontend

#7237 ✨ web-api: Empty bins for folders and its content
  services/web/server/src/simcore_service_webserver/folders/_trash_service.py
  services/web/server/src/simcore_service_webserver/folders/errors.py
  services/web/server/src/simcore_service_webserver/folders/folders_trash_service.py
  services/web/server/src/simcore_service_webserver/projects/_common/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_trash_service.py
  services/web/server/src/simcore_service_webserver/projects/projects_trash_service.py
  services/web/server/src/simcore_service_webserver/trash/_service.py
  services/web/server/tests/unit/with_dbs/03/test_trash.py
Labels: a:webserver

#7245 🎨 [Frontend] ViP Market: Support 0-cost models
  services/static-webserver/client/source/class/osparc/node/TierSelectionView.js
  services/static-webserver/client/source/class/osparc/service/PricingUnitsList.js
  services/static-webserver/client/source/class/osparc/store/LicensedItems.js
  services/static-webserver/client/source/class/osparc/study/NodePricingUnits.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Labels: t:enhancement, a:frontend

#7247 🐛 vip-syncer: fixed parsing items in `Features` string
  packages/models-library/src/models_library/licenses.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/licenses/_itis_vip_models.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_itis_vip_models.py
Labels: a:webserver

#7243 🐛 disable network encryption when running locally due to WSL
  services/docker-compose.local.yml
Labels: t:maintenance

#7248 🎨 [Frontend] ViP Market: Cache pricing units
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/store/Pricing.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
Labels: t:enhancement, a:frontend

#7249 🎨 [Frontend] ViP Market: Requests after review 02.19
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenter.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/store/LicensedItems.js
  services/static-webserver/client/source/class/osparc/store/Pricing.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/MarketWindow.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Labels: t:enhancement, a:frontend

#7250 🎨 [Frontend] ViP Market: last minors
  services/docker-compose.local.yml
  services/static-webserver/client/source/class/osparc/store/LicensedItems.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
Labels: t:enhancement, a:frontend

#7246 ✨ Deletion of trashed projects/folders upon expiration of retention time
  packages/common-library/src/common_library/exclude.py
  packages/models-library/src/models_library/licenses.py
  packages/pytest-simcore/src/pytest_simcore/helpers/assert_checks.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/folders/_folders_repository.py
  services/web/server/src/simcore_service_webserver/folders/_trash_service.py
  services/web/server/src/simcore_service_webserver/folders/errors.py
  services/web/server/src/simcore_service_webserver/folders/folders_trash_service.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_trash.py
  services/web/server/src/simcore_service_webserver/garbage_collector/plugin.py
  services/web/server/src/simcore_service_webserver/products/_api.py
  services/web/server/src/simcore_service_webserver/products/_db.py
  services/web/server/src/simcore_service_webserver/projects/_projects_db.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service_delete.py
  services/web/server/src/simcore_service_webserver/projects/_trash_service.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/src/simcore_service_webserver/projects/projects_trash_service.py
  services/web/server/src/simcore_service_webserver/trash/_rest.py
  services/web/server/src/simcore_service_webserver/trash/_service.py
  services/web/server/src/simcore_service_webserver/trash/trash_service.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/with_dbs/02/test_projects_repository.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/03/trash/conftest.py
  services/web/server/tests/unit/with_dbs/03/trash/test_trash.py
  services/web/server/tests/unit/with_dbs/03/trash/test_trash_service.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver

#7253 🎨 [Frontend] Enh: Empty trash workflow
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/ui/basic/Thumbnail.js
Labels: t:enhancement, a:frontend

#7254 🎨 [Frontend] ViP Store: Add splitpane to Store
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/vipMarket/MarketWindow.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Labels: t:enhancement, a:frontend

#7259 🐛 Fix pr workflows
  .github/workflows/ci-testing-pull-request.yml
Labels: t:maintenance, github_actions

#7260 ♻️ `licensed_items` migration add product to key, version unique index key (🗃️)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/a8d336ca9379_idx_licensed_items_key_version_product.py
  packages/postgres-database/src/simcore_postgres_database/models/licensed_items.py
Labels: a:webserver

#7261 ♻️✨ ViP Store: Licensed Item model and Cache
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/data/model/LicensedItem.js
  services/static-webserver/client/source/class/osparc/data/model/LicensedItemResource.js
  services/static-webserver/client/source/class/osparc/data/model/User.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CheckoutsTableModel.js
  services/static-webserver/client/source/class/osparc/desktop/credits/PurchasesTableModel.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/store/LicensedItems.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/vipMarket/LicensedItemDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/LicensedItemListItem.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Labels: t:enhancement, a:frontend

#7266 ♻️ [Frontend] Maintenance: Refactor decorators
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/WatchDog.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/DragWidget.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
  services/static-webserver/client/source/class/osparc/navigation/LogoOnOff.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/store/Tags.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
  services/static-webserver/client/source/class/osparc/ui/basic/Logo.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: t:enhancement, a:frontend

#7268 🐛 catalog-api: Fixes validation errors on /services entrypoint
  packages/models-library/src/models_library/services_base.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/163b11424cb1_convert_empty_str_to_null.py
  services/catalog/src/simcore_service_catalog/models/services_db.py
Labels: a:database, a:catalog

#7267 🎨 Improves empty-trash to avoid misleading the user
  services/web/server/src/simcore_service_webserver/trash/_rest.py
Labels: a:webserver

#7270 ♻️ Datcore-adapter refactoring
  packages/models-library/src/models_library/api_schemas_datcore_adapter/__init__.py
  packages/models-library/src/models_library/api_schemas_datcore_adapter/datasets.py
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_assert_checks.py
  packages/service-library/src/servicelib/fastapi/http_error.py
  services/datcore-adapter/requirements/_test.in
  services/datcore-adapter/requirements/_test.txt
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/dependencies/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/dependencies/pennsieve.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/errors/http_error.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/errors/validation_error.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/module_setup.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/rest/__init__.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/rest/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/rest/files.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/rest/health.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/rest/user.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/cli.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/errors/__init__.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/errors/handlers.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/main.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/domains/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/domains/files.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/files.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/schemas/__init__.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/schemas/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/models/user.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_cli.py
  services/datcore-adapter/tests/unit/test_exceptions_handlers.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
  services/datcore-adapter/tests/unit/test_route_files.py
  services/datcore-adapter/tests/unit/test_route_health.py
  services/docker-compose.yml
Labels: a:datcore-adapter

#7274 ♻️ Maintenance: enhances `pytest_simcore` tooling
  packages/models-library/tests/test_service_settings_labels.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
  packages/pytest-simcore/src/pytest_simcore/pydantic_models.py
  packages/service-integration/tests/test_versioning.py
  packages/settings-library/tests/test__models_examples.py
  services/api-server/tests/unit/test__models_examples.py
  services/api-server/tests/unit/test_models.py
  services/catalog/tests/unit/test__model_examples.py
  services/director/tests/unit/test__model_examples.py
  services/dynamic-scheduler/tests/unit/test__model_examples.py
  services/invitations/tests/unit/test__model_examples.py
  services/payments/tests/unit/test__model_examples.py
  services/web/server/tests/unit/isolated/test_storage_schemas.py
  services/web/server/tests/unit/isolated/test_users_models.py
  services/web/server/tests/unit/with_dbs/02/test_announcements.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_handlers.py
Labels: t:maintenance

#7283 🐛Webserver: re-generate wrong openapi
  api/specs/web-server/_storage.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: a:webserver

#7271 🎨 add `num_of_seats` to pricing unit (for LICENSE type pricing plan)
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/pricing_plans.py
  packages/models-library/src/models_library/api_schemas_webserver/resource_usage.py
  packages/models-library/src/models_library/resource_tracker.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/errors.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/pricing_plans.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/pricing_units.py
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/director-v2/src/simcore_service_director_v2/modules/resource_usage_tracker_client.py
  services/director-v2/tests/integration/02/conftest.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/resource-usage-tracker/openapi.json
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rest/_resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_pricing_plans.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/pricing_units.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/pricing_plans_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/pricing_plans.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/pricing_units.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_pricing_plans.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_pricing_plans_rpc.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_triggered_by_listening_with_billing.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_with_billing.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message_with_billing_cost_0.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_service.py
  services/web/server/src/simcore_service_webserver/licenses/errors.py
  services/web/server/src/simcore_service_webserver/resource_usage/_client.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_admin_rest.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_admin_service.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_rest.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_service.py
  services/web/server/src/simcore_service_webserver/resource_usage/service.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__pricing_plan.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_pricing_unit_handlers.py
  services/web/server/tests/unit/with_dbs/03/resource_usage/conftest.py
  services/web/server/tests/unit/with_dbs/03/resource_usage/test_pricing_plans.py
  services/web/server/tests/unit/with_dbs/04/licenses/conftest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_rest.py
Labels: a:webserver, a:resource-usage-tracker

#7262 1848 add permission rights to async jobs
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/async_jobs.py
  packages/models-library/src/models_library/api_schemas_storage/data_export_async_jobs.py
  packages/models-library/src/models_library/api_schemas_webserver/storage.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/async_jobs/async_jobs.py
  services/storage/src/simcore_service_storage/api/rpc/_async_jobs.py
  services/storage/src/simcore_service_storage/api/rpc/_data_export.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_db_data_export.py
  services/storage/tests/unit/test_dsm_soft_links.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/tests/unit/with_dbs/01/storage/test_storage_rpc.py
Labels: a:storage

#7285 🎨Storage: display path field is url encoded by parts
  packages/models-library/src/models_library/api_schemas_storage/storage_schemas.py
  services/storage/src/simcore_service_storage/models.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_handlers_paths.py
Labels: a:storage

#7279 Storage: Add cancellation middleware
  .pre-commit-config.yaml
  packages/service-library/src/servicelib/fastapi/cancellation_middleware.py
  packages/service-library/tests/fastapi/test_cancellation_middleware.py
  services/storage/src/simcore_service_storage/core/application.py
Labels: a:storage, a:services-library
