Repository ITISFoundation/osparc-simcore, pull requests merged in 2025-03, with the labels that each got.

#7297 ♻️ [Frontend] Rename: "Model Store" -> "The Shop"
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/vipMarket/MarketWindow.js
Labels: t:enhancement, a:frontend

#7273 🎨 [Frontend] Use Number of Seats defined in the Pricing Unit
  services/static-webserver/client/source/class/osparc/pricing/PlanDetails.js
  services/static-webserver/client/source/class/osparc/pricing/UnitEditor.js
  services/static-webserver/client/source/class/osparc/pricing/UnitsList.js
  services/static-webserver/client/source/class/osparc/store/Pricing.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
  tests/e2e/portal/BIOS_VNS_Calibrator.js
Labels: t:enhancement, a:frontend

#7299 🐛 [Frontend] File Picker: complete upload
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/file/FileUploader.js
  services/static-webserver/client/source/class/osparc/study/StudyPricingUnits.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/ui/basic/NodeStatusUI.js
Labels: t:enhancement, a:frontend

#7290 Add a test to check if pruning of api keys is triggered
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
Labels: a:webserver

#7172 🎨 introducing contract testing
  .github/CODEOWNERS
  .github/workflows/ci-pact-master.yml
  package-lock.json
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_catalog.py
  services/api-server/Makefile
  services/api-server/openapi.json
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/api-server/tests/unit/api_solvers/conftest.py
  services/api-server/tests/unit/pact_broker/README.md
  services/api-server/tests/unit/pact_broker/conftest.py
  services/api-server/tests/unit/pact_broker/pacts/05_licensed_items.json
  services/api-server/tests/unit/pact_broker/test_pact_licensed_items.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
Labels: a:apiserver

#7301 🐛 When a file is now moved to the `output_x` folder it is now detected
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_event_handler.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_watchdog_extensions.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_event_handler.py
Labels: bug, a:dynamic-sidecar

#7303 🎨 PACT - add checkout release contract test
  .github/workflows/ci-pact-master.yml
  services/api-server/tests/unit/pact_broker/conftest.py
  services/api-server/tests/unit/pact_broker/pacts/01_checkout_release.json
  services/api-server/tests/unit/pact_broker/pacts/05_licensed_items.json
  services/api-server/tests/unit/pact_broker/test_pact_checkout_release.py
  services/api-server/tests/unit/pact_broker/test_pact_licensed_items.py
Labels: a:apiserver

#7306 🎨 [Frontend] App Team (04.03): Shop glitch and Strings
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/static-webserver/client/source/class/osparc/product/AboutProduct.js
  services/static-webserver/client/source/class/osparc/store/LicensedItems.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
Labels: t:enhancement, a:frontend

#7305 🎨Storage: Increased maximum number of returned paths to 1000
  api/specs/web-server/_storage.py
  packages/models-library/src/models_library/api_schemas_storage/storage_schemas.py
  packages/models-library/src/models_library/api_schemas_webserver/storage.py
  packages/service-library/src/servicelib/fastapi/rest_pagination.py
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/models/pagination.py
  services/storage/openapi.json
  services/storage/src/simcore_service_storage/api/rest/_paths.py
  services/storage/tests/unit/test_handlers_paths.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: a:storage

#7287 ✨ web-api: Adds endpoint to retrieve project services with Release and Access Information
  api/specs/web-server/_catalog.py
  api/specs/web-server/_projects_nodes.py
  packages/models-library/src/models_library/access_rights.py
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/models-library/src/models_library/api_schemas_webserver/catalog.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
  packages/models-library/src/models_library/services_history.py
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_services.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/errors.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/catalog/src/simcore_service_catalog/api/rest/_services.py
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/models/services_db.py
  services/catalog/src/simcore_service_catalog/services/compatibility.py
  services/catalog/src/simcore_service_catalog/services/services_api.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_api_rest_services__list.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
  services/catalog/tests/unit/with_dbs/test_services_services_api.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/catalog/_api.py
  services/web/server/src/simcore_service_webserver/catalog/catalog_service.py
  services/web/server/src/simcore_service_webserver/projects/_common/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_api.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_repository.py
  services/web/server/src/simcore_service_webserver/tags/errors.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__services_access.py
Labels: a:webserver, a:catalog

#7280 ✨ [Frontend] Enh: Adapt to paginated navigation and to new model
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/DataBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/data/Converters.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/file/FileTreeItem.js
  services/static-webserver/client/source/class/osparc/file/FilesTree.js
  services/static-webserver/client/source/class/osparc/file/FolderContent.js
  services/static-webserver/client/source/class/osparc/file/FolderViewer.js
  services/static-webserver/client/source/class/osparc/file/TreeFolderView.js
  services/static-webserver/client/source/class/osparc/pricing/PlanListItem.js
  services/static-webserver/client/source/class/osparc/store/Data.js
  services/static-webserver/client/source/class/osparc/widget/StudyDataManager.js
  services/static-webserver/client/source/resource/osparc/ui_config.json
  tests/e2e-playwright/tests/sleepers/test_sleepers.py
  tests/e2e/tutorials/tutorialBase.js
Labels: t:enhancement, a:frontend

#7302 🐛 Fixes raises when stopping log fetching in `dynamic-sidecar`
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/docker_logs.py
Labels: bug, a:dynamic-sidecar

#7308 ♻️ Refactor catalog domain in webserver
  api/specs/web-server/_catalog.py
  api/specs/web-server/_catalog_tags.py
  services/web/server/src/simcore_service_webserver/catalog/_catalog_rest_client_service.py
  services/web/server/src/simcore_service_webserver/catalog/_exceptions.py
  services/web/server/src/simcore_service_webserver/catalog/_handlers_errors.py
  services/web/server/src/simcore_service_webserver/catalog/_rest_controller.py
  services/web/server/src/simcore_service_webserver/catalog/_rest_tags_controller.py
  services/web/server/src/simcore_service_webserver/catalog/_service.py
  services/web/server/src/simcore_service_webserver/catalog/_units_service.py
  services/web/server/src/simcore_service_webserver/catalog/catalog_service.py
  services/web/server/src/simcore_service_webserver/catalog/controller_rest_schemas.py
  services/web/server/src/simcore_service_webserver/catalog/plugin.py
  services/web/server/src/simcore_service_webserver/diagnostics/_handlers.py
  services/web/server/src/simcore_service_webserver/exporter/_formatter/_sds.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/projects_service.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_admin_service.py
  services/web/server/tests/unit/isolated/test_catalog_api_units.py
  services/web/server/tests/unit/isolated/test_catalog_models.py
  services/web/server/tests/unit/isolated/test_catalog_setup.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__services.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_rest_client.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__list_with_query_params.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__patch.py
  services/web/server/tests/unit/with_dbs/02/test_projects_groups_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__services_access.py
  services/web/server/tests/unit/with_dbs/03/resource_usage/test_admin_pricing_plans.py
  services/web/server/tests/unit/with_dbs/04/folders/test_folders.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__folders_and_projects_crud.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__list_projects_full_search.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_folders_between_workspaces.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_projects_between_workspaces.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver, a:catalog

#7310 🐛 [Frontend] Bugfix: getDatasetsByLocationCached
  services/static-webserver/client/source/class/osparc/store/Data.js
Labels: bug, a:frontend

#7309 🐛 Fixes contract `limit` parameter
  services/api-server/tests/unit/pact_broker/pacts/05_licensed_items.json
Labels: a:apiserver, 🤖-automerge

#7313 🐛Storage: quote returned links such that they are usable with files containing parentheses
  services/storage/src/simcore_service_storage/api/rest/_files.py
Labels: a:storage

#7307 🐛 sidecar no longer fails when saving data with missing permissions
  services/director-v2/src/simcore_service_director_v2/cli/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/cli.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/prometheus_metrics.py
  services/dynamic-sidecar/tests/unit/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_rest_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_rest_workflow_service_metrics.py
  services/dynamic-sidecar/tests/unit/test_modules_attribute_monitor.py
Labels: t:maintenance

#7314 🐛 EFS - background task not starting
  services/efs-guardian/src/simcore_service_efs_guardian/services/background_tasks_setup.py
Labels: efs-guardian

#7286 ✨Storage: provide entrypoint to compute path size (⚠️ devops)
  .env-devel
  packages/models-library/src/models_library/api_schemas_datcore_adapter/datasets.py
  packages/models-library/src/models_library/api_schemas_storage/storage_schemas.py
  packages/pytest-simcore/src/pytest_simcore/helpers/storage_utils.py
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_datcore_adapter.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/rest/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
  services/docker-compose.yml
  services/storage/openapi.json
  services/storage/src/simcore_service_storage/api/rest/_paths.py
  services/storage/src/simcore_service_storage/core/settings.py
  services/storage/src/simcore_service_storage/datcore_dsm.py
  services/storage/src/simcore_service_storage/dsm_factory.py
  services/storage/src/simcore_service_storage/exceptions/handlers.py
  services/storage/src/simcore_service_storage/modules/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/modules/datcore_adapter/datcore_adapter_exceptions.py
  services/storage/src/simcore_service_storage/modules/db/tokens.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/utils/simcore_s3_dsm_utils.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test__legacy_storage_sdk_compatibility.py
  services/storage/tests/unit/test_db_data_export.py
  services/storage/tests/unit/test_dsm_dsmcleaner.py
  services/storage/tests/unit/test_handlers_datasets.py
  services/storage/tests/unit/test_handlers_datcore.py
  services/storage/tests/unit/test_handlers_files.py
  services/storage/tests/unit/test_handlers_files_metadata.py
  services/storage/tests/unit/test_handlers_locations.py
  services/storage/tests/unit/test_handlers_paths.py
  services/storage/tests/unit/test_handlers_simcore_s3.py
  services/storage/tests/unit/test_simcore_s3_dsm.py
Labels: a:storage, a:webserver

#7083 🎨E2E: add --service_version option
  tests/e2e-playwright/Makefile
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/sleepers/test_sleepers.py
  tests/e2e-playwright/tests/tip/conftest.py
Labels: e2e

#7325 🐛 [Frontend] Fix: Update members list after sharing
  services/static-webserver/client/source/class/osparc/desktop/wallets/MemberListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/MemberListItem.js
Labels: bug, a:frontend

#7324 🐛 Clean Pydantic's `UserWarning`s
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
Labels: a:webserver

#7331 🐛 fixed issue with catalog and the icon field
  services/catalog/src/simcore_service_catalog/models/services_db.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
Labels: t:maintenance, 🤖-automerge

#7316 ⬆️ upgraded dynamic-sidecar requirements
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/dynamic-sidecar/tests/unit/test_modules_notifier.py
Labels: t:maintenance, 🤖-automerge

#7335 🐛 [Frontend] Shop: Fix thumbnail
  services/static-webserver/client/source/class/osparc/vipMarket/LicensedItemListItem.js
Labels: bug, a:frontend

#7337 🐛Autoscaled instances monitoring script: small fixes
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
Labels: t:maintenance, a:autoscaling

#7334 ♻️ webserver: catalog & api_keys renaming of modules
  api/specs/web-server/_auth_api_keys.py
  api/specs/web-server/_catalog.py
  api/specs/web-server/_catalog_tags.py
  packages/models-library/src/models_library/rest_pagination.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller_rest.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/catalog/_catalog_rest_client_service.py
  services/web/server/src/simcore_service_webserver/catalog/_controller_rest.py
  services/web/server/src/simcore_service_webserver/catalog/_controller_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/catalog/_controller_rest_schemas.py
  services/web/server/src/simcore_service_webserver/catalog/_models.py
  services/web/server/src/simcore_service_webserver/catalog/_rest_tags_controller.py
  services/web/server/src/simcore_service_webserver/catalog/_service.py
  services/web/server/src/simcore_service_webserver/catalog/_units_service.py
  services/web/server/src/simcore_service_webserver/catalog/catalog_service.py
  services/web/server/src/simcore_service_webserver/catalog/errors.py
  services/web/server/src/simcore_service_webserver/catalog/plugin.py
  services/web/server/tests/unit/isolated/test_catalog_models.py
  services/web/server/tests/unit/isolated/test_catalog_units_service.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__services.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_rest_client.py
Labels: a:webserver, t:maintenance

#7318 ⬆️ upgraded dynamic-scheduler requirements
  services/dynamic-scheduler/openapi.json
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/requirements/_test.txt
  services/dynamic-scheduler/requirements/_tools.txt
  services/dynamic-scheduler/tests/conftest.py
  services/dynamic-scheduler/tests/unit/api_frontend/conftest.py
Labels: t:maintenance, 🤖-automerge

#7346 🐛 agent now starts the volume cleanup task
  services/agent/src/simcore_service_agent/services/volumes_manager.py
  services/agent/tests/unit/test_services_volumes_manager.py
Labels: t:maintenance, 🤖-automerge

#7341 🎨 [Frontend] Show default product thumbnail if resource's thumbnail is invalid
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/ui/basic/Thumbnail.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/resource/osparc/ui_config.json
  tests/e2e/tests/tags.tes.js
  tests/e2e/utils/auto.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7317 ⬆️ upgraded agent requirements
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/agent/requirements/_tools.txt
Labels: t:maintenance, 🤖-automerge

#7339 🎨 release notes version has always patch set to 0
  services/web/server/src/simcore_service_webserver/statics/_events.py
  services/web/server/tests/unit/with_dbs/01/test_statics.py
Labels: t:maintenance, 🤖-automerge

#7343 ♻️Storage: use transactions helpers
  packages/postgres-database/src/simcore_postgres_database/utils_repos.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/credit_transactions_db.py
  services/storage/src/simcore_service_storage/datcore_dsm.py
  services/storage/src/simcore_service_storage/modules/db/_base.py
  services/storage/src/simcore_service_storage/modules/db/access_layer.py
  services/storage/src/simcore_service_storage/modules/db/file_meta_data.py
  services/storage/src/simcore_service_storage/modules/db/projects.py
  services/storage/src/simcore_service_storage/modules/db/tokens.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/utils/simcore_s3_dsm_utils.py
  services/storage/tests/unit/test_db_access_layer.py
  services/storage/tests/unit/test_dsm_dsmcleaner.py
  services/storage/tests/unit/test_simcore_s3_dsm.py
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
Labels: a:storage, 🤖-automerge

#7356 ⬆️ catalog service: upgrades requirements
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
Labels: t:maintenance, a:catalog

#7349 🐛 fix wrong `ServiceRunGet` model
  packages/models-library/src/models_library/api_schemas_webserver/resource_usage.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Labels: a:webserver

#7355 ⬆️ invitations service: upgrades requirements
  services/invitations/openapi.json
  services/invitations/requirements/_base.txt
  services/invitations/requirements/_test.txt
  services/invitations/requirements/_tools.txt
Labels: t:maintenance, a:invitations, 🤖-automerge

#7354 🐛 Avoid GC form detecting services as orphans when they are not
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_orphans.py
Labels: a:webserver, t:maintenance, 🤖-automerge

#7292 🎨♻️ [Frontend (& API)] Retire ``history`` from list latest services
  api/specs/web-server/_catalog.py
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/models-library/src/models_library/api_schemas_webserver/catalog.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/catalog/src/simcore_service_catalog/db/repositories/_services_sql.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/services/function_services.py
  services/catalog/src/simcore_service_catalog/services/manifest.py
  services/catalog/src/simcore_service_catalog/services/services_api.py
  services/catalog/tests/unit/test_db_repositories_services_sql.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
  services/catalog/tests/unit/with_dbs/test_services_services_api.py
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/MainPageHandler.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsServiceListItem.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/node/LifeCycleView.js
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/service/ServiceListItem.js
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/snapshots/IterationsView.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/catalog/_controller_rest.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__services.py
Labels: t:enhancement, a:frontend

#7323 🐛 Fix minor director-v0 typing bug
  services/director/src/simcore_service_director/registry_proxy.py
Labels: bug, a:director

#7366 🐛 Celery tasks list doesn't include `submitted`, `active` and `scheduled` ones
  services/storage/src/simcore_service_storage/api/rpc/_data_export.py
  services/storage/src/simcore_service_storage/modules/celery/_common.py
  services/storage/src/simcore_service_storage/modules/celery/client.py
  services/storage/tests/unit/modules/celery/conftest.py
  services/storage/tests/unit/modules/celery/test_celery.py
Labels: bug, 🤖-automerge

#7369 🐛 [Frontend] Fix: Cropped Fontawesome images
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
  tests/e2e/jest.config.js
  tests/e2e/tests/register.js
  tests/e2e/tests/register.test.js
  tests/e2e/tests/startupCalls.js
  tests/e2e/tests/startupCalls.test.js
  tests/e2e/tests/tags.js
  tests/e2e/tests/tags.tes.js
  tests/e2e/tests/testsToRunSequentially.test.js
  tests/e2e/tests/title.js
  tests/e2e/tests/title.test.js
  tests/e2e/tests/url.js
  tests/e2e/tests/url.test.js
Labels: bug, a:frontend

#7370 🐛 [Frontend] Do not allow to leave studies with no owners
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
Labels: bug, a:frontend, 🤖-automerge

#7365 🎨 Changed confusing wording
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
Labels: t:maintenance, 🤖-automerge

#7373 ♻️DB maintenance: drop clusters and cluster_to_groups db tables (🗃️)
  .codecov.yml
  packages/postgres-database/src/simcore_postgres_database/migration/versions/7994074c4d98_remove_cluster_to_groups.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/f7f3c835f38a_remove_clusters.py
  packages/postgres-database/src/simcore_postgres_database/models/cluster_to_groups.py
  packages/postgres-database/src/simcore_postgres_database/models/clusters.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_runs.py
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_clusters.py
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/tests/unit/test_models_clusters.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_manager.py
  services/storage/docker/boot.sh
  services/storage/src/simcore_service_storage/modules/celery/_common.py
  services/storage/src/simcore_service_storage/modules/celery/signals.py
Labels: a:database, t:maintenance

#7377 🐛 [Frontend] Fix: New project from menu
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  tests/e2e/tests/testsToRunSequentially.test.js
Labels: bug, a:frontend, 🤖-automerge

#7374 🐛Cannot refresh page when only 1 study per user is allowed
  services/web/server/src/simcore_service_webserver/projects/projects_service.py
Labels: a:webserver, 🤖-automerge

#7336 🎨 web-api: enhances reset-password workflow
  api/specs/web-server/_auth.py
  packages/models-library/src/models_library/rest_error.py
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/email/_handlers.py
  services/web/server/src/simcore_service_webserver/login/_confirmation.py
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/src/simcore_service_webserver/templates/common/reset_password_email_failed.jinja2
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/utils_rate_limiting.py
  services/web/server/tests/unit/isolated/test_utils_rate_limiting.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_utils_emails.py
Labels: a:webserver, 🤖-automerge

#7364 🎨 New `OEC:{traceback}-{timestamp}` format for de-duplication purposes
  packages/common-library/src/common_library/error_codes.py
  packages/common-library/tests/test_error_codes.py
  packages/service-library/tests/aiohttp/test_rest_middlewares.py
Labels: t:maintenance, 🤖-automerge

#7388 🎨 [Frontend] Use cursor paginated storage API
  services/static-webserver/client/source/class/osparc/announcement/Tracker.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/file/FilesTree.js
  services/static-webserver/client/source/class/osparc/file/TreeFolderView.js
  services/static-webserver/client/source/class/osparc/store/Data.js
  services/static-webserver/client/source/class/osparc/widget/StudyDataManager.js
Labels: t:enhancement, a:frontend

#7378 ⬆️Maintenance: unblock moto library
  .github/workflows/ci-arm-build.yml
  .github/workflows/ci-multi-architecture-fusing.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-staging.yml
  .github/workflows/ci-testing-deploy.yml
  Makefile
  ci/github/unit-testing/storage.bash
  packages/aws-library/requirements/_test.txt
  packages/aws-library/tests/test_ec2_client.py
  packages/aws-library/tests/test_s3_client.py
  packages/pytest-simcore/src/pytest_simcore/disk_usage_monitoring.py
  packages/pytest-simcore/src/pytest_simcore/file_extra.py
  packages/simcore-sdk/requirements/_test.txt
  requirements/constraints.txt
  services/agent/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_test.txt
  services/datcore-adapter/requirements/_base.txt
  services/director/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/efs-guardian/requirements/_test.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/storage/tests/data/file_meta_data.csv
  services/storage/tests/data/notebooks.zip
  services/storage/tests/data/outputController.dat
  services/storage/tests/data/projects.csv
  services/storage/tests/data/users.csv
  services/storage/tests/unit/test_handlers_simcore_s3.py
  services/web/server/requirements/_base.txt
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
Labels: t:maintenance, dependencies

#7376 ⬆️Maintenance: upgrade rabbitmq to 3.13.7
  services/autoscaling/tests/manual/docker-compose.yml
  services/director-v2/docker-compose-extra.yml
  services/docker-compose.yml
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
  services/web/server/tests/unit/with_dbs/docker-compose.yml
  tests/swarm-deploy/conftest.py
Labels: dependencies, 🤖-automerge

#7320 Introduce links for async jobs actions (hateos style) in webserver
  api/specs/web-server/_long_running_tasks.py
  api/specs/web-server/_storage.py
  api/specs/web-server/_tasks.py
  packages/models-library/src/models_library/api_schemas_long_running_tasks/tasks.py
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/async_jobs.py
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/exceptions.py
  packages/models-library/src/models_library/api_schemas_storage/data_export_async_jobs.py
  packages/models-library/src/models_library/api_schemas_webserver/storage.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/async_jobs/async_jobs.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/data_export.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/paths.py
  services/storage/src/simcore_service_storage/api/rpc/_async_jobs.py
  services/storage/src/simcore_service_storage/api/rpc/_data_export.py
  services/storage/src/simcore_service_storage/core/settings.py
  services/storage/tests/unit/test_data_export.py
  services/storage/tests/unit/test_db_data_export.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/long_running_tasks.py
  services/web/server/src/simcore_service_webserver/storage/_exception_handlers.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/src/simcore_service_webserver/tasks/__init__.py
  services/web/server/src/simcore_service_webserver/tasks/_exception_handlers.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
  services/web/server/src/simcore_service_webserver/tasks/plugin.py
  services/web/server/tests/unit/with_dbs/01/storage/test_storage.py
  services/web/server/tests/unit/with_dbs/01/storage/test_storage_rpc.py
  services/web/server/tests/unit/with_dbs/01/test_long_running_tasks.py
  services/web/server/tests/unit/with_dbs/03/test__openapi_specs.py
Labels: a:webserver

#7400 ✅ Fixes flaky test: `create_troubleshotting_log_message`
  packages/service-library/tests/test_logging_errors.py
Labels: t:maintenance

#7394 🎨 [Frontend] Allow users copy OEC
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/tests/aiohttp/test_rest_middlewares.py
  services/static-webserver/client/source/class/osparc/FlashMessenger.js
  services/static-webserver/client/source/class/osparc/ui/message/FlashMessage.js
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/login/_registration.py
  services/web/server/src/simcore_service_webserver/login/errors.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_registration.py
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
  services/web/server/src/simcore_service_webserver/wallets/_handlers.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
Labels: t:enhancement, a:frontend

#7403 🎨Maintenance: make devel mode faster to boot + log fixes + webserver DB disable write to disk
  .github/CODEOWNERS
  Makefile
  packages/service-library/src/servicelib/fastapi/cancellation_middleware.py
  services/agent/docker/boot.sh
  services/api-server/docker/boot.sh
  services/autoscaling/docker/boot.sh
  services/catalog/docker/boot.sh
  services/clusters-keeper/docker/boot.sh
  services/dask-sidecar/docker/boot.sh
  services/datcore-adapter/docker/boot.sh
  services/director-v2/docker/boot.sh
  services/director/docker/boot.sh
  services/docker-compose.devel.yml
  services/dynamic-scheduler/docker/boot.sh
  services/dynamic-sidecar/docker/boot.sh
  services/efs-guardian/docker/boot.sh
  services/invitations/docker/boot.sh
  services/payments/docker/boot.sh
  services/resource-usage-tracker/docker/boot.sh
  services/storage/docker/boot.sh
  services/web/server/docker/boot.sh
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
  services/web/server/tests/unit/with_dbs/docker-compose.yml
Labels: t:maintenance, 🤖-automerge

#7396 🎨 [Frontend] Mock: Job Manager
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonTaskPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonTaskPlaceholder.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/Job.js
  services/static-webserver/client/source/class/osparc/data/PollTask.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/MainPageDesktop.js
  services/static-webserver/client/source/class/osparc/jobs/JobInfo.js
  services/static-webserver/client/source/class/osparc/jobs/JobsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/JobsButton.js
  services/static-webserver/client/source/class/osparc/jobs/JobsTable.js
  services/static-webserver/client/source/class/osparc/jobs/JobsTableModel.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsButton.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
  services/static-webserver/client/source/class/osparc/store/PollTasks.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/task/TaskUI.js
  services/static-webserver/client/source/class/osparc/task/TasksButton.js
  services/static-webserver/client/source/class/osparc/task/TasksContainer.js
  services/static-webserver/client/source/class/osparc/ui/table/cellrenderer/ButtonRenderer.js
  services/static-webserver/client/source/class/osparc/ui/table/cellrenderer/Html.js
  services/static-webserver/client/source/class/osparc/ui/table/cellrenderer/ImageButtonRenderer.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/static-webserver/client/source/resource/common/common.css
  services/static-webserver/client/source/resource/osparc/circle-info-text.svg
  services/static-webserver/client/source/resource/osparc/circle-stop-text.svg
  services/static-webserver/client/source/resource/osparc/logs-text.svg
  services/static-webserver/client/source/resource/osparc/mock_jobs.json
  services/static-webserver/client/source/resource/osparc/trash-text.svg
Labels: t:enhancement, a:frontend, 🤖-automerge

#7410 ✨Async Jobs: add some tests + an internal client
  packages/service-library/src/servicelib/progress_bar.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/async_jobs/async_jobs.py
  packages/service-library/tests/rabbitmq/conftest.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_interfaces_async_jobs.py
  services/storage/src/simcore_service_storage/modules/celery/_celery_types.py
  services/storage/src/simcore_service_storage/modules/celery/_task.py
  services/storage/src/simcore_service_storage/modules/celery/models.py
  services/web/server/docker/boot.sh
Labels: a:services-library

#7408 🎨 web-api: Add `privacy` Field to Profile Endpoints and Retire Legacy Entrypoint
  api/specs/web-server/_users.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/users/_common/models.py
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
  services/web/server/tests/unit/isolated/test_users_models.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Labels: a:webserver

#7414 🐛web-api: Fixes missing `supportID` on default `5XX` responses
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
  packages/service-library/tests/aiohttp/test_rest_responses.py
Labels: a:webserver, a:services-library

#7415 🔧 Fix CI installation failure for `json2html` caused by `setuptools 78.0.1` update
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/publications/_rest.py
  services/web/server/src/simcore_service_webserver/publications/_utils.py
  services/web/server/src/simcore_service_webserver/publications/plugin.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_utils_emails.py
Labels: a:webserver

#7412 🎨🐛 [Frontend] Enh/fix: Services Pricing Plans
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/pricing/ServicesList.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
  services/static-webserver/client/source/class/osparc/widget/StudyDataManager.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7407 🐛 Fix Celery's Redis backend SSL config
  services/storage/src/simcore_service_storage/modules/celery/_common.py
Labels: 🤖-automerge

#7422 🐛 Fix task status percentage
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
Labels: bug

#7425 🐛 Fix redis ssl certificate issue
  services/storage/src/simcore_service_storage/modules/celery/_common.py
Labels: bug

#7418 🎨 [Frontend] Enh: Wording and .po file
  services/static-webserver/client/.gitignore
  services/static-webserver/client/Makefile
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/CookieExpirationTracker.js
  services/static-webserver/client/source/class/osparc/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/TooSmallDialog.js
  services/static-webserver/client/source/class/osparc/auth/ui/Login2FAValidationCodeView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/auth/ui/VerifyPhoneNumberView.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsPerService.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethodDetails.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethodListItem.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TokensPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/window/CreateAPIKey.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/window/ShowAPIKey.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletDetails.js
  services/static-webserver/client/source/class/osparc/editor/MarkdownEditor.js
  services/static-webserver/client/source/class/osparc/file/FileDrop.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudyBootOpts.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/navigation/BreadcrumbsSlideshow.js
  services/static-webserver/client/source/class/osparc/node/UpdateResourceLimitsView.js
  services/static-webserver/client/source/class/osparc/po/POCenter.js
  services/static-webserver/client/source/class/osparc/pricing/PlanDetails.js
  services/static-webserver/client/source/class/osparc/product/AboutProduct.js
  services/static-webserver/client/source/class/osparc/store/PollTasks.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/study/BillingSettings.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/widget/PreparingInputs.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
  services/static-webserver/client/source/translation/en.po
  services/static-webserver/client/source/translation/readme.txt
Labels: t:enhancement, a:frontend

#7426 🐛Storage Worker does not need a RabbitMQ client
  services/storage/src/simcore_service_storage/core/application.py
  services/storage/src/simcore_service_storage/modules/rabbitmq.py
Labels: bug, a:storage

#7427 🐛Storage: Celery issues with validation
  .github/workflows/ci-testing-deploy.yml
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/service-library/src/servicelib/rabbitmq/_client_rpc.py
  packages/settings-library/src/settings_library/redis.py
  services/storage/src/simcore_service_storage/api/rpc/_async_jobs.py
Labels: a:storage

#7433 🐛Storage: multiple user_id defined issue
  services/storage/src/simcore_service_storage/api/_worker_tasks/_paths.py
  services/storage/src/simcore_service_storage/modules/celery/_celery_types.py
  services/storage/src/simcore_service_storage/modules/celery/_task.py
  services/storage/src/simcore_service_storage/modules/celery/client.py
Labels: a:storage

#7429 🐛 [Frontend] Fix: ``storage/async-jobs`` was retired
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  services/static-webserver/client/source/class/osparc/data/PollTask.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/file/StorageAsyncJob.js
  services/static-webserver/client/source/class/osparc/file/TreeFolderView.js
  services/static-webserver/client/source/class/osparc/store/Services.js
Labels: bug, a:frontend, 🤖-automerge

#7438 🎨Storage with Celery: unit tests working now with storage worker implemented
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_data_models.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/async_jobs/async_jobs.py
  services/storage/src/simcore_service_storage/api/rest/dependencies/celery.py
  services/storage/src/simcore_service_storage/api/rpc/_paths.py
  services/storage/src/simcore_service_storage/dsm.py
  services/storage/src/simcore_service_storage/main.py
  services/storage/src/simcore_service_storage/modules/celery/_common.py
  services/storage/src/simcore_service_storage/modules/celery/worker_main.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/modules/celery/conftest.py
  services/storage/tests/unit/test__worker_tasks_paths.py
  services/storage/tests/unit/test_data_export.py
  services/storage/tests/unit/test_dsm.py
  services/storage/tests/unit/test_handlers_paths.py
  services/storage/tests/unit/test_handlers_simcore_s3.py
  services/storage/tests/unit/test_modules_celery.py
  services/storage/tests/unit/test_rpc_handlers_paths.py
Labels: a:storage

#7417 ♻️ webserver: Refactor login domain for CSR compliance and future confirmation logic
  api/specs/web-server/_auth.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_login.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_users.py
  services/web/server/src/simcore_service_webserver/login/_auth_service.py
  services/web/server/src/simcore_service_webserver/login/_confirmation_service.py
  services/web/server/src/simcore_service_webserver/login/_controller/__init__.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/__init__.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/auth.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/change.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/confirmation.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/preregistration.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/registration.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/twofa.py
  services/web/server/src/simcore_service_webserver/login/_emails_service.py
  services/web/server/src/simcore_service_webserver/login/_invitations_service.py
  services/web/server/src/simcore_service_webserver/login/_login_repository_legacy.py
  services/web/server/src/simcore_service_webserver/login/_login_repository_legacy_sql.py
  services/web/server/src/simcore_service_webserver/login/_login_service.py
  services/web/server/src/simcore_service_webserver/login/_models.py
  services/web/server/src/simcore_service_webserver/login/_preregistration_service.py
  services/web/server/src/simcore_service_webserver/login/_security_service.py
  services/web/server/src/simcore_service_webserver/login/_twofa_service.py
  services/web/server/src/simcore_service_webserver/login/cli.py
  services/web/server/src/simcore_service_webserver/login/login_repository_legacy.py
  services/web/server/src/simcore_service_webserver/login/login_service.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/publications/_rest.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/isolated/products/conftest.py
  services/web/server/tests/unit/isolated/test_login_settings.py
  services/web/server/tests/unit/isolated/test_templates.py
  services/web/server/tests/unit/with_dbs/01/test_db.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_login_handlers_registration_invitations.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_change_email.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_change_password.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_cli.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_confirmation_service.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_controller_confirmation_rest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_logout.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_preregistration.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_twofa.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_twofa_resend.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_utils_emails.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
  services/web/server/tests/unit/with_dbs/04/folders/test_folders_repository.py
  services/web/server/tests/unit/with_dbs/04/wallets/test_wallets.py
  services/web/server/tests/unit/with_dbs/conftest.py
Labels: a:webserver

#7442 🐛Storage-Worker: ensure startup waits for fastapi application readyness
  packages/aws-library/src/aws_library/s3/_client.py
  services/storage/src/simcore_service_storage/modules/celery/signals.py
Labels: a:storage

#7439 ✨ New ` CatalogService` in `api-server` that connects via rpc to the `catalog` micro-service
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/models-library/src/models_library/rest_pagination.py
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/api-server/src/simcore_service_api_server/services_http/catalog.py
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
  services/api-server/tests/unit/test_services_catalog.py
  services/catalog/VERSION
  services/catalog/openapi.json
  services/catalog/setup.cfg
  services/catalog/src/simcore_service_catalog/api/rest/_services.py
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/catalog/src/simcore_service_catalog/db/repositories/_services_sql.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/services/services_api.py
  services/catalog/tests/unit/test_db_repositories_services_sql.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__services.py
Labels: a:catalog, a:apiserver

#7441 🐛 [Frontend] Fix: Extract path ``:size``
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccountWindow.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/file/TreeFolderView.js
Labels: bug, a:frontend

#7445 🐛 [Frontend] Fix: show computational service's settings in App Mode
  services/static-webserver/client/source/class/osparc/node/slideshow/NodeView.js
Labels: bug, a:frontend

#7451 🐛 [Frontend] Fix: Remove Task
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/store/PollTasks.js
  services/static-webserver/client/source/class/osparc/task/TasksButton.js
Labels: bug, a:frontend, 🤖-automerge

#7432 🎨 Prettify emails
  packages/notifications-library/src/notifications_library/_models.py
  packages/notifications-library/src/notifications_library/templates/base.html
  packages/notifications-library/src/notifications_library/templates/on_change_email.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_new_invitation.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_registered.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_reset_password.email.content.html
  packages/notifications-library/tests/conftest.py
  packages/notifications-library/tests/test__render.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/static-webserver/client/source/class/osparc/auth/LoginWithDecorators.js
  services/web/server/src/simcore_service_webserver/email/_core.py
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/tests/unit/isolated/products/test_products_model.py
Labels: t:enhancement, a:notifications-library, 🤖-automerge
