Repository ITISFoundation/osparc-simcore, pull requests merged in 2025-08, with the labels that each got.

#8182 🐛 [Frontend] Fix: Search filter's reset button
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilterExtended.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/JobsButton.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsButton.js
Labels: bug, a:frontend, 🤖-automerge

#8190 🎨 [Frontend] RTC: support removing links
  services/static-webserver/client/source/class/osparc/Preferences.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/store/Products.js
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
Labels: t:enhancement, a:frontend

#8181 🐛Ensure locked state is shown when RTC_MAX_NUMBER_OF_USERS is set
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Labels: a:webserver, 🤖-automerge

#8194 🐛 [Frontend] Fix: change context search
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Labels: bug, a:frontend

#8193 🐛 `null` annotations can now be copied
  services/web/server/src/simcore_service_webserver/projects/utils.py
Labels: bug, a:webserver

#8195 🐛 [Frontend] Enh: Include version number in 3r party jsondiffpatch file
  services/static-webserver/client/Manifest.json
  services/static-webserver/client/source/class/osparc/wrapper/JsonDiffPatch.js
  services/static-webserver/client/source/resource/jsondiffpatch/jsondiffpatch-0.7.3.min.js
Labels: t:enhancement, a:frontend

#8209 ♻️ Adds feature flag check for realtime collaboration Project Document updates
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_patch_project_and_notify_users_locking.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Labels: a:webserver

#8221 🐛Fixes webserver integration tests
  services/web/server/tests/data/default_app_config-integration.yaml
Labels: a:webserver

#8223 🎨When a docker pulling is retried, output a warning
  packages/service-library/src/servicelib/docker_utils.py
Labels: a:services-library

#8170 node locking
  Makefile
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services_service.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/src/models_library/utils/enums.py
  packages/models-library/tests/test_project_nodes.py
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
  packages/service-library/src/servicelib/rabbitmq/_client.py
  services/director-v2/openapi.json
  services/dynamic-scheduler/tests/unit/api_frontend/helpers.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__api.py
  services/dynamic-scheduler/tests/unit/status_monitor/test_services_status_monitor__monitor.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/projects/_wallets_service.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/tests/data/fake-project.json
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/integration/01/test_computation.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/isolated/test_dynamic_scheduler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__list_with_query_params.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__patch.py
  services/web/server/tests/unit/with_dbs/02/test_projects_groups_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
  services/web/server/tests/unit/with_dbs/03/trash/test_trash_rest.py
  services/web/server/tests/unit/with_dbs/04/folders/test_folders.py
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications__db_comp_tasks_listening_task.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__delete_workspace_with_content.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__folders_and_projects_crud.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__list_folders_full_search.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__list_projects_full_search.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_folders_between_workspaces.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_projects_between_workspaces.py
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
Labels: a:webserver

#8230 ⬆️ Webserver node locking: missing change
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
Labels: a:api

#8226 ✨ Add Function groups permissions management endpoints
  api/specs/web-server/_functions.py
  packages/models-library/src/models_library/api_schemas_webserver/functions.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest_schemas.py
  services/web/server/src/simcore_service_webserver/functions/_functions_exceptions.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions/test_functions_controller_rest.py
  services/web/server/tests/unit/with_dbs/04/functions/test_functions_service.py
Labels: a:webserver, 🤖-automerge

#8240 🎨Director-v0: compatible with both registries + upgraded registry to v3
  Makefile
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  scripts/metrics/Makefile
  scripts/metrics/compute_list_of_images_in_registry.py
  scripts/metrics/requirements.txt
  services/director/src/simcore_service_director/core/errors.py
  services/director/src/simcore_service_director/registry_proxy.py
  services/director/tests/unit/fixtures/fake_services.py
  services/director/tests/unit/test_registry_proxy.py
  services/docker-compose-ops-registry.yml
  tests/e2e/docker-compose.yml
Labels: a:director, t:maintenance

#8241 🎨Director-v0: Pass headers on /manifests call to let the registry know we accept all manifest versions
  services/director/src/simcore_service_director/registry_proxy.py
Labels: a:director, t:maintenance

#8245 ♻️Maintenance: remove circular dependency
  packages/models-library/src/models_library/boot_options.py
  packages/models-library/src/models_library/docker.py
  packages/models-library/src/models_library/services_metadata_published.py
  packages/models-library/src/models_library/services_metadata_runtime.py
  packages/models-library/tests/test_docker.py
  packages/models-library/tests/test_services.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_provider_computational.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_models.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_dynamic.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_specs.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/director/src/simcore_service_director/registry_proxy.py
Labels: a:webserver, a:dynamic-sidecar, a:models-library

#8249 🐛 fix `list_users_in_group` introduced in previous PR
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_messages_rest.py
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
  services/web/server/tests/unit/with_dbs/01/groups/test_groups_repository.py
Labels: bug, a:webserver, 🤖-automerge

#8243 ✨ [Frontend] RTC: Node Lock State
  services/static-webserver/client/source/class/osparc/dashboard/GroupedCardContainer.js
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/NodeLockState.js
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/node/slideshow/NodeView.js
  services/static-webserver/client/source/class/osparc/ui/basic/AvatarGroup.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
  services/static-webserver/client/source/class/osparc/ui/message/NodeLockedPage.js
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
  services/static-webserver/client/source/class/osparc/widget/NodeTreeItem.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#8259 E2E: Fix classic TIP test
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Labels: e2e

#8250 🎨Send NodeUpdate when computational pipeline completes
  packages/models-library/src/models_library/projects_state.py
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  services/director-v2/src/simcore_service_director_v2/utils/computations.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_repository.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_service.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/integration/01/test_computation.py
  tests/public-api/conftest.py
Labels: a:webserver

#8264 ✨ [Frontend] Update Phone Number
  services/static-webserver/client/source/class/osparc/About.js
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/CookieExpirationTracker.js
  services/static-webserver/client/source/class/osparc/ErrorPage.js
  services/static-webserver/client/source/class/osparc/auth/LoginWithDecorators.js
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/auth/ui/VerifyPhoneNumberView.js
  services/static-webserver/client/source/class/osparc/dashboard/AppBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlans.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditorIdlingTracker.js
  services/static-webserver/client/source/class/osparc/desktop/account/DeleteAccount.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/product/AboutProduct.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/product/quickStart/tis/S4LPostPro.js
  services/static-webserver/client/source/class/osparc/store/Products.js
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/store/VendorInfo.js
  services/static-webserver/client/source/class/osparc/ui/basic/LogoWPlatform.js
  services/static-webserver/client/source/class/osparc/ui/form/renderer/SingleWithWidget.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/static-webserver/client/source/class/osparc/utils/LibVersions.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/widget/IntlTelInput.js
  services/static-webserver/client/source/resource/intl-tel-input/css/intlTelInput.css
Labels: t:enhancement, a:frontend

#8253 🎨 Fixed long running tasks cleanup 🚨⚠️
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_manager.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_manager.py
  packages/service-library/src/servicelib/long_running_tasks/_rpc_server.py
  packages/service-library/src/servicelib/long_running_tasks/long_running_client_helper.py
  packages/service-library/src/servicelib/long_running_tasks/manager.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
  packages/service-library/tests/long_running_tasks/conftest.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_client_long_running_manager.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_lrt_api.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/_routing.py
Labels: a:services-library, a:dynamic-sidecar

#8268 ✨👽️ Add `patch registered function job` rpc endpoint in webserver
  packages/models-library/src/models_library/functions.py
  packages/models-library/src/models_library/functions_errors.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/tests/unit/api_functions/conftest.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions/conftest.py
  services/web/server/tests/unit/with_dbs/04/functions/test_function_job_collections_controller_rpc.py
  services/web/server/tests/unit/with_dbs/04/functions/test_function_jobs_controller_rpc.py
  services/web/server/tests/unit/with_dbs/04/functions/test_functions_controller_rpc.py
  services/web/server/tests/unit/with_dbs/04/functions/test_functions_service.py
Labels: a:webserver, Meta-modeling, 🤖-automerge

#8270 🎨 [Frontend] Request Account: Enhanced Phone input filed
  services/static-webserver/client/source/class/osparc/auth/core/BaseAuthPage.js
  services/static-webserver/client/source/class/osparc/auth/ui/Login2FAValidationCodeView.js
  services/static-webserver/client/source/class/osparc/auth/ui/LoginView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RegistrationView.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/auth/ui/ResetPassRequestView.js
  services/static-webserver/client/source/class/osparc/auth/ui/ResetPassView.js
  services/static-webserver/client/source/class/osparc/auth/ui/VerifyPhoneNumberView.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/ui/form/IntlTelInput.js
  services/static-webserver/client/source/class/osparc/ui/form/renderer/LoginSinglePlaceholder.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/widget/IntlTelInput.js
  services/static-webserver/client/source/resource/intl-tel-input/css/intlTelInput.css
Labels: t:enhancement, a:frontend, 🤖-automerge

#8274 🎨 [Frontend] (Too) light buttons
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/ui/basic/SVGImage.js
  services/static-webserver/client/source/class/osparc/ui/switch/ThemeSwitcher.js
  services/static-webserver/client/source/class/osparc/ui/table/cellrenderer/ButtonRenderer.js
  services/static-webserver/client/source/class/osparc/ui/table/cellrenderer/ImageButtonRenderer.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerModel.js
  services/static-webserver/client/source/resource/osparc/icons/circle-info-black.svg
  services/static-webserver/client/source/resource/osparc/icons/circle-info-white.svg
  services/static-webserver/client/source/resource/osparc/icons/circle-xmark-black.svg
  services/static-webserver/client/source/resource/osparc/icons/circle-xmark-red.svg
  services/static-webserver/client/source/resource/osparc/icons/circle-xmark-white.svg
  services/static-webserver/client/source/resource/osparc/icons/file-download-black.svg
  services/static-webserver/client/source/resource/osparc/icons/file-download-white.svg
Labels: t:enhancement, a:frontend, 🤖-automerge

#8275 🐛 [Frontend] Fix: Release date on Service Card
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/store/Services.js
Labels: bug, a:frontend
