Repository ITISFoundation/osparc-simcore, pull requests merged in 2025-06, with the labels that each got.

#7752 Mark inputs as required in create function frontend 🎨
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
Labels: a:frontend, 🤖-automerge

#7737 ♻️ speedup project listing 🚨
  services/web/server/src/simcore_service_webserver/projects/_access_rights_repository.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
Labels: a:webserver

#7788 🐛 [Frontend] Runs: Tap Info button for the second time
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/data/Roles.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
Labels: bug, a:frontend

#7790 🎨🐛 [Frontend] Runs and Tasks sorting
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/SubJob.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/jobs/ActivityOverview.js
  services/static-webserver/client/source/class/osparc/jobs/RunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTableModel.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTableModel.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7798 🐛 fix wrong project name in billing center usage view
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
Labels: a:director-v2

#7769 ✨ catalog: new service inherit icon and thumbnail from latest patched compatible releases
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/service/access_rights.py
  services/catalog/tests/unit/with_dbs/conftest.py
  services/catalog/tests/unit/with_dbs/test_api_rest_services__list.py
  services/catalog/tests/unit/with_dbs/test_api_rest_services_access_rights.py
  services/catalog/tests/unit/with_dbs/test_api_rest_services_specifications.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
  services/catalog/tests/unit/with_dbs/test_service_access_rights.py
  services/catalog/tests/unit/with_dbs/test_service_catalog_services.py
Labels: a:catalog, 🤖-automerge

#7804 🎨Computational backend: Fail fast in case of malformed input syntax and improve unzipping
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/errors.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/task_shared_volume.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/files.py
  services/dask-sidecar/tests/unit/test_computational_sidecar_tasks.py
Labels: t:maintenance, a:dask-service, computational clusters, 🤖-automerge

#7770 🎨♻️ Enhances web-server's error middle-ware for safe status-line and refactors aiohttp response helpers
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
  packages/service-library/tests/aiohttp/test_rest_responses.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/_rest_exceptions.py
Labels: a:services-library, 🤖-automerge

#7805 🎨 [Frontend] New icons: Hypertools, More, New Folder
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/data/model/StudyUI.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/resource/osparc/icons/diagram.png
Labels: t:enhancement, a:frontend, 🤖-automerge

#7807 🎨 [Frontend] Second app on Sim4Life.lite
  services/static-webserver/client/source/class/osparc/editor/HtmlEditor.js
  services/static-webserver/client/source/class/osparc/editor/MarkdownEditor.js
  services/static-webserver/client/source/class/osparc/editor/TextEditor.js
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
  services/static-webserver/client/source/class/osparc/utils/Avatar.js
  services/static-webserver/client/source/resource/osparc/ui_config.json
Labels: t:enhancement, a:frontend

#7817 🎨 Improves webserver's exception handling to enhance diagnoses of catalog's client errors
  services/web/server/src/simcore_service_webserver/catalog/_catalog_rest_client_service.py
  services/web/server/src/simcore_service_webserver/catalog/_constants.py
  services/web/server/src/simcore_service_webserver/catalog/_controller_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/catalog/errors.py
Labels: a:webserver, release

#7820 ✨Add docker healthcheck of Simcore Traefik container
  services/docker-compose.yml
Labels: a:infra+ops, t:maintenance, 🤖-automerge

#7808 🐛 [Frontend] Fix: Disabled actions in Project's menu
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/ui/form/HoverMenuButton.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7810 Add function error handler to api server 🎨
  packages/models-library/src/models_library/functions_errors.py
  services/api-server/src/simcore_service_api_server/exceptions/handlers/__init__.py
  services/api-server/src/simcore_service_api_server/exceptions/handlers/_handler_function_errors.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
Labels: a:apiserver, 🤖-automerge

#7828 🐛 [Frontend] Fix: un-synced frontend's and backend's study objects
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
Labels: bug, a:frontend, release, 🤖-automerge

#7832 🐛 [Frontend] Fix: Edit slides
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/store/Services.js
Labels: bug, a:frontend, 🤖-automerge

#7837 🐛 [Frontend] Fix: init ui-mode
  services/static-webserver/client/source/class/osparc/study/Utils.js
Labels: bug, a:frontend, release, 🤖-automerge

#7834 ⚗️Dask-sidecar: print file contents or partial contents
  .vscode/settings.template.json
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/files.py
  services/dask-sidecar/tests/unit/test_utils_files.py
Labels: t:maintenance, a:dask-service

#7827 Generate unique Celery worker name
  services/docker-compose.yml
  services/storage/docker/boot.sh
  services/storage/docker/healthcheck.py
Labels: 🤖-automerge

#7847 🎨 [Frontend] Expose Tokens page to testers
  services/static-webserver/client/source/class/osparc/desktop/preferences/window/ShowAPIKey.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7848 Revert "⚗️Dask-sidecar: print file contents or partial contents (#7834)"
  .vscode/settings.template.json
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/files.py
  services/dask-sidecar/tests/unit/test_utils_files.py
Labels: a:dask-service

#7849 🐛 [Frontend] Fix: Tutorials tab link
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
Labels: bug, a:frontend

#7850 ♻️Computational backend: increase timeout to get results to 35 seconds
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
Labels: a:director-v2, a:dask-service, release, 🤖-automerge

#7836 🐛 Mitigates "Projects not being listed on osparc-staging.io"
  services/web/server/src/simcore_service_webserver/catalog/_catalog_rest_client_service.py
  services/web/server/src/simcore_service_webserver/catalog/_controller_rest.py
  services/web/server/src/simcore_service_webserver/catalog/_controller_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/catalog/_models.py
  services/web/server/src/simcore_service_webserver/catalog/catalog_service.py
  services/web/server/src/simcore_service_webserver/projects/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy_utils.py
  services/web/server/src/simcore_service_webserver/projects/utils.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_rest_client.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__patch.py
  services/web/server/tests/unit/with_dbs/02/test_projects_groups_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
  services/web/server/tests/unit/with_dbs/04/workspaces/conftest.py
Labels: release, 🤖-automerge

#7844 Check function run permissions 🎨
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rpc.py
Labels: a:webserver, a:apiserver, 🤖-automerge

#7860 ♻️ Enhances various error messages on webserver
  packages/service-library/src/servicelib/logging_errors.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/catalog/_service.py
  services/web/server/src/simcore_service_webserver/director_v2/_director_v2_service.py
  services/web/server/src/simcore_service_webserver/groups/_classifiers_service.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/resource_manager/user_sessions.py
  services/web/server/src/simcore_service_webserver/scicrunch/errors.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
Labels: a:webserver

#7833 ♻️ Towards a common long_running_tasks interface
  api/specs/web-server/_long_running_tasks.py
  api/specs/web-server/_long_running_tasks_legacy.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_dependencies.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_error_handlers.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/client.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/server.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_client.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_context_manager.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_dependencies.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_error_handlers.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_server.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/client.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/server.py
  packages/service-library/src/servicelib/long_running_tasks/errors.py
  packages/service-library/src/servicelib/long_running_tasks/models.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
  packages/service-library/tests/aiohttp/long_running_tasks/conftest.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks_with_task_context.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_context_manager.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_models.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
  services/api-server/src/simcore_service_api_server/services_http/webserver.py
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_scheduler.py
  services/director-v2/src/simcore_service_director_v2/cli/_close_and_save_service.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_user_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/with_dbs/test_cli.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/cli.py
  services/dynamic-sidecar/tests/integration/test_modules_long_running_tasks.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/tests/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
Labels: 🤖-automerge

#7864 🐛 [Frontend] Incomplete node data in the backend
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
Labels: bug, a:frontend, release, 🤖-automerge

#7865 🐛 `api-server`: fixes product header contamination in webserver's client session
  packages/service-library/src/servicelib/long_running_tasks/task.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
  services/api-server/src/simcore_service_api_server/api/dependencies/webserver_http.py
  services/api-server/src/simcore_service_api_server/services_http/webserver.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rest.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/rest.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest_schemas.py
  services/web/server/src/simcore_service_webserver/login/decorators.py
  services/web/server/src/simcore_service_webserver/long_running_tasks.py
  services/web/server/src/simcore_service_webserver/models.py
  services/web/server/src/simcore_service_webserver/projects/_controller/_rest_schemas.py
  services/web/server/src/simcore_service_webserver/projects/_controller/access_rights_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/comments_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/conversations_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/folders_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/metadata_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_pricing_unit_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/ports_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/wallets_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/workspaces_rest.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_admin_rest.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_rest.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_rest.py
  services/web/server/src/simcore_service_webserver/security/_authz_policy.py
  services/web/server/src/simcore_service_webserver/security/api.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
  services/web/server/src/simcore_service_webserver/users/_preferences_rest.py
  services/web/server/src/simcore_service_webserver/wallets/_groups_handlers.py
Labels: a:webserver, a:apiserver, release

#7866 🎨 [Frontend] Enh: Better fit loading page
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Labels: t:enhancement, a:frontend

#7855 🎨 Filter autogenerated api-keys when listing
  api/specs/web-server/_auth_api_keys.py
  packages/models-library/src/models_library/api_schemas_webserver/auth.py
  packages/models-library/src/models_library/auth.py
  packages/models-library/src/models_library/rpc/webserver/auth/api_keys.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rest.py
  services/web/server/src/simcore_service_webserver/api_keys/_repository.py
  services/web/server/src/simcore_service_webserver/api_keys/_service.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
Labels: a:webserver, 🤖-automerge

#7874 🐛 [Frontend] Fix: show support id when pipeline fails to start
  services/static-webserver/client/source/class/osparc/FlashMessenger.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
Labels: bug, a:frontend

#7875 🐛 Fixes error message displayed to user coming from director-v2 failure
  packages/models-library/src/models_library/rest_error.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director_v2/_controller/_rest_exceptions.py
Labels: a:webserver, 🤖-automerge

#7877 🎨 [Frontend] Redirect anonymous users to the "account request form" instead of asking them to send an email
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7881 ♻️ remove listing user services call from listing project
  .github/workflows/ci-testing-deploy.yml
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy_utils.py
  services/web/server/src/simcore_service_webserver/projects/utils.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__list.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__list_with_query_params.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__patch.py
  services/web/server/tests/unit/with_dbs/02/test_projects_groups_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_metadata_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
  services/web/server/tests/unit/with_dbs/03/trash/conftest.py
  services/web/server/tests/unit/with_dbs/03/trash/test_trash_rest.py
  services/web/server/tests/unit/with_dbs/04/folders/test_folders.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/04/workspaces/conftest.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__delete_workspace_with_content.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__folders_and_projects_crud.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__list_projects_full_search.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_folders_between_workspaces.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_projects_between_workspaces.py
Labels: a:webserver

#7886 🎨 [Frontend] Hide template used to register function
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
Labels: t:enhancement, a:frontend, release, 🤖-automerge

#7867 ♻️ webserver: `security` Domain Refactoring
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_login.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/catalog/_catalog_rest_client_service.py
  services/web/server/src/simcore_service_webserver/director_v2/_director_v2_service.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_users.py
  services/web/server/src/simcore_service_webserver/licenses/_common/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/_itis_vip_syncer_service.py
  services/web/server/src/simcore_service_webserver/login/_auth_service.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/auth.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/change.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/confirmation.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/preregistration.py
  services/web/server/src/simcore_service_webserver/login/_security_service.py
  services/web/server/src/simcore_service_webserver/login/decorators.py
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/src/simcore_service_webserver/products/_web_helpers.py
  services/web/server/src/simcore_service_webserver/products/products_service.py
  services/web/server/src/simcore_service_webserver/projects/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest.py
  services/web/server/src/simcore_service_webserver/projects/_jobs_service.py
  services/web/server/src/simcore_service_webserver/projects/_security_service.py
  services/web/server/src/simcore_service_webserver/security/_authz_access_model.py
  services/web/server/src/simcore_service_webserver/security/_authz_policy.py
  services/web/server/src/simcore_service_webserver/security/_authz_repository.py
  services/web/server/src/simcore_service_webserver/security/_authz_service.py
  services/web/server/src/simcore_service_webserver/security/_authz_web.py
  services/web/server/src/simcore_service_webserver/security/_identity_web.py
  services/web/server/src/simcore_service_webserver/security/decorators.py
  services/web/server/src/simcore_service_webserver/security/security_service.py
  services/web/server/src/simcore_service_webserver/security/security_web.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_trash_service.py
  services/web/server/tests/unit/isolated/conftest.py
  services/web/server/tests/unit/isolated/test_security__authz.py
  services/web/server/tests/unit/isolated/test_security_service.py
  services/web/server/tests/unit/isolated/test_security_web.py
  services/web/server/tests/unit/with_dbs/01/groups/test_groups_handlers_users.py
Labels: a:webserver, t:maintenance, 🤖-automerge

#7796 ✨ Add `x-osparc-trace-id` to response headers for requests hitting webserver and api-server
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/src/servicelib/fastapi/tracing.py
  packages/service-library/src/servicelib/tracing.py
  packages/service-library/tests/aiohttp/conftest.py
  packages/service-library/tests/aiohttp/test_tracing.py
  packages/service-library/tests/fastapi/conftest.py
  packages/service-library/tests/fastapi/test_tracing.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/web/server/src/simcore_service_webserver/tracing.py
Labels: tracing

#7878 ♻️🐛Refactors webserver's errors middleware to handle `LineTooLong` exceptions
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
  packages/service-library/tests/aiohttp/test_rest_middlewares.py
Labels: a:webserver, a:services-library, 🤖-automerge

#7891 🎨 [Frontend] Enh: Visible input ports
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7896 🐛CI: Fix timeout value in CI e2e system test
  tests/e2e/jest.config.js
Labels: e2e, 🤖-automerge

#7890 🎨 Increase poll timeout in api-server's webserver rest client to 10 minutes
  services/api-server/src/simcore_service_api_server/services_http/webserver.py
Labels: a:apiserver

#7894 🎨 [Frontend] Account request form: adapt defaults
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7892 🎨 Enhance study cloning endpoint to allow modifying `title`, `description`, `hidden`
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies.py
  services/api-server/tests/unit/conftest.py
Labels: a:apiserver, Meta-modeling, 🤖-automerge

#7900 🎨 Require parent info headers when running function
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/tests/mocks/run_study_function_parent_info.json
  services/api-server/tests/unit/api_functions/conftest.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
Labels: a:apiserver, Meta-modeling, 🤖-automerge

#7904 🎨 Reduce the number of acquisition/release of DB connection inside function repository
  packages/models-library/src/models_library/functions.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/conftest.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_function_job_collections_controller_rpc.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_function_jobs_controller_rpc.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rpc.py
Labels: a:webserver, release, 🤖-automerge

#7914 🐛 Fixed director-v2 getting stuck when removing service
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_client.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_context_manager.py
  packages/service-library/src/servicelib/long_running_tasks/http_endpoint_responses.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_context_manager.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/dynamic-sidecar/tests/unit/test_api_rest_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_rest_workflow_service_metrics.py
Labels: bug, release, 🤖-automerge

#7889 ♻️ Maintenance/remove legacy db listing code 🚨🚨
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/projects_nodes.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy_utils.py
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/src/simcore_service_webserver/users/api.py
Labels: a:webserver, t:maintenance

#7927 🐛 [Frontend] Fix in_debt tracking
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/study/BillingSettings.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Labels: bug, a:frontend, release, 🤖-automerge

#7951 🎨 [Frontend] Create Functions: Make default input values editable
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7954 ✨ [Frontend] Conversations: Edit and Delete messages
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/conversation/Conversation.js
  services/static-webserver/client/source/class/osparc/conversation/MessageUI.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7918 Mitigate hanging requests from api-server to storage
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
  services/api-server/src/simcore_service_api_server/services_http/storage.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_files.py
  services/storage/src/simcore_service_storage/api/rest/_files.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Labels: a:storage, a:apiserver, 🤖-automerge

#7964 🐛 Send conversation message notifications to users
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_service.py
  services/web/server/src/simcore_service_webserver/conversations/_socketio.py
  services/web/server/src/simcore_service_webserver/projects/_conversations_service.py
Labels: bug, a:webserver

#7944 🎨📝 web-api: New batch of improved user-facing messages
  .github/prompts/update-user-messages.prompt.md
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  services/web/server/src/simcore_service_webserver/catalog/_constants.py
  services/web/server/src/simcore_service_webserver/constants.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/folders/_common/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_common/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/invitations/errors.py
  services/web/server/src/simcore_service_webserver/licenses/_common/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/payments/_onetime_api.py
  services/web/server/src/simcore_service_webserver/products/_controller/rest_exceptions.py
  services/web/server/src/simcore_service_webserver/projects/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/resource_usage/_constants.py
  services/web/server/src/simcore_service_webserver/security/_constants.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_constants.py
  services/web/server/src/simcore_service_webserver/tags/_rest.py
  services/web/server/src/simcore_service_webserver/trash/_rest.py
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
  services/web/server/src/simcore_service_webserver/utils_rate_limiting.py
  services/web/server/src/simcore_service_webserver/wallets/_constants.py
  services/web/server/src/simcore_service_webserver/workspaces/_common/exceptions_handlers.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_twofa.py
Labels: a:webserver, t:maintenance, 🤖-automerge

#7967 🐛Sticky connection: Ensure emitted socketio messages for logs, progress, status updates and payments are not lost
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
  services/web/server/src/simcore_service_webserver/payments/_socketio.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/socketio/messages.py
  services/web/server/tests/integration/02/notifications/test_rabbitmq_consumers.py
Labels: a:webserver, 🤖-automerge

#7962 🐛 Use context manager for app server lifecycle in Celery workers
  packages/celery-library/src/celery_library/signals.py
  packages/celery-library/tests/conftest.py
  packages/service-library/src/servicelib/celery/app_server.py
  packages/service-library/src/servicelib/fastapi/celery/app_server.py
Labels: bug, a:celery-library

#7963 ✨ [Frontend] Conversation Messages: Listen to WebSocket
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/conversation/Conversation.js
  services/static-webserver/client/source/class/osparc/conversation/MessageUI.js
  services/static-webserver/client/source/class/osparc/conversation/NotificationUI.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7899 🎨 Add fallback traefik 503 routes 🚨⚠️ DEVOPS
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  services/docker-compose.yml
Labels: 🤖-automerge

#7978 🎨 [Frontend] Enh: Preferred Wallet
  services/static-webserver/client/source/class/osparc/store/Store.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7977 🎨 Send Socket.IO events whenever conversations are created, updated or deleted
  packages/models-library/src/models_library/conversations.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_service.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_service.py
  services/web/server/src/simcore_service_webserver/conversations/_socketio.py
  services/web/server/src/simcore_service_webserver/projects/_conversations_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_conversations_handlers.py
Labels: a:webserver, 🤖-automerge

#7982 ♻️ Refactor `app_module_setup` into Composable Decorators to Enable Modular and Idempotent App Setups
  packages/service-library/src/servicelib/aiohttp/application_setup.py
  packages/service-library/tests/aiohttp/test_application_setup.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
Labels: a:webserver, a:services-library, t:maintenance, 🤖-automerge

#7970 ♻️ web-server: Upgrade GC periodic tasks to new `servicelib.background_task`
  packages/service-library/src/servicelib/background_task.py
  packages/service-library/src/servicelib/background_task_utils.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_api_keys.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_core.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_trash.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_users.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_utils.py
  services/web/server/src/simcore_service_webserver/garbage_collector/plugin.py
  services/web/server/src/simcore_service_webserver/garbage_collector/settings.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/isolated/test_garbage_collector_core.py
Labels: a:webserver, 🤖-automerge

#7989 🐛 Fix app server mock in `celery-library`
  packages/celery-library/tests/conftest.py
Labels: a:celery-library

#7987 🎨 [Frontend] UX Enh: Starting osparc
  services/static-webserver/client/source/class/osparc/dashboard/AppBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TutorialBrowser.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7993 🐛 [Frontend] Fix template creation texts
  services/static-webserver/client/source/class/osparc/study/SaveAsTemplate.js
Labels: bug, a:frontend, 🤖-automerge

#7976 🎨 [Frontend] Conversation: Listen to WebSocket
  services/static-webserver/client/source/class/osparc/conversation/Conversation.js
  services/static-webserver/client/source/class/osparc/conversation/MessageUI.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/TutorialsList.js
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/share/ShareePermissions.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Labels: t:enhancement, a:frontend, 🤖-automerge

#7818 ✨ web-server: Add Stand-alone Auth-App Entrypoint to Web-Server
  api/specs/web-server/_auth.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/cli.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/auth.py
  services/web/server/src/simcore_service_webserver/login/decorators.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/login_auth/__init__.py
  services/web/server/src/simcore_service_webserver/login_auth/_controller_rest.py
  services/web/server/src/simcore_service_webserver/login_auth/decorators.py
  services/web/server/src/simcore_service_webserver/login_auth/plugin.py
  services/web/server/src/simcore_service_webserver/products/_web_helpers.py
  services/web/server/src/simcore_service_webserver/products/plugin.py
  services/web/server/src/simcore_service_webserver/security/plugin.py
  services/web/server/src/simcore_service_webserver/session/plugin.py
  services/web/server/tests/unit/isolated/conftest.py
  services/web/server/tests/unit/isolated/test_activity.py
  services/web/server/tests/unit/isolated/test_diagnostics_healthcheck.py
  services/web/server/tests/unit/isolated/test_rest.py
  services/web/server/tests/unit/isolated/test_security_web.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_auth.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_preregistration.py
  services/web/server/tests/unit/with_dbs/03/test_login_auth_app.py
Labels: a:webserver, 🤖-automerge

#7996 🐛Improvements on pipeline cancellation and ensure pipeline state is consistent
  packages/models-library/src/models_library/rabbitmq_messages.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_manager.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_publisher.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/utils/rabbitmq.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
  services/web/server/src/simcore_service_webserver/notifications/project_logs.py
Labels: a:webserver, a:director-v2, 🤖-automerge

#7988 ♻️ Extract `async_jobs` RPC routes from `simcore_service_storage`
  packages/celery-library/src/celery_library/rpc/__init__.py
  packages/celery-library/src/celery_library/rpc/_async_jobs.py
  packages/celery-library/tests/conftest.py
  packages/celery-library/tests/unit/test_async_jobs.py
  services/storage/src/simcore_service_storage/api/rpc/_paths.py
  services/storage/src/simcore_service_storage/api/rpc/_simcore_s3.py
  services/storage/src/simcore_service_storage/api/rpc/routes.py
  services/storage/src/simcore_service_storage/core/application.py
  services/storage/src/simcore_service_storage/modules/celery/__init__.py
Labels: a:celery-library

#8004 📝 .github/README.md Overrides Root README.md
  .github/TIPS.md
Labels: t:maintenance

#8001 ♻️CI: modularizing CI workflow towards faster feedback
  .github/actions/download-load-docker-images/action.yml
  .github/actions/setup-simcore-env/action.yml
  .github/workflows/_reusable-build-images.yml
  .github/workflows/ci-testing-deploy.yml
  mypy.ini
  scripts/common.Makefile
Labels: a:infra+ops, t:maintenance, 🤖-automerge

#8000 ⬆️Upgrade to UV 0.7, pre-commit tools and dump installation of pip/setuptools/wheels
  .pre-commit-config.yaml
  Makefile
  packages/postgres-database/docker/Dockerfile
  packages/postgres-database/scripts/erd/Dockerfile
  packages/service-integration/Dockerfile
  requirements/tools/Dockerfile
  scripts/erd/Dockerfile
  scripts/maintenance/migrate_project/Dockerfile
  scripts/openapi/oas_resolver/Dockerfile
  scripts/pydeps-docker/Dockerfile
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/notifications/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Labels: t:maintenance, 🤖-automerge

#8009 ⬆️ upgrade efs service requirements
  services/efs-guardian/requirements/_base.txt
  services/efs-guardian/requirements/_test.txt
  services/efs-guardian/requirements/_tools.txt
Labels: t:maintenance
